[2018-02-27 05:57] #2243 closed

[2018-02-27 07:10] martaql commented on #2243
Thank you for the quick reply.
I see, I'm sorry. I re-configured that, but I am still getting the same mistake.
Any idea why that could be?

g++ -std=c++11 -I.. -I/home/ubuntu/kaldi/tools/openfst/include -Wno-sign-compare -I../../tools/tensorflow/bazel-tensorflow/external/protobuf/src -I../../tools/tensorflow/bazel-genfiles -I../../tools/tensorflow -I../../tools/tensorflow/tensorflow/contrib/makef

[2018-02-27 19:17] danpovey commented on #2243
Likely you didn't read my last response carefully and failed to "make clean".

[2018-02-28 00:51] martaql commented on #2243
I did read it very carefully and did make clean before doing make again, but I got this error again.

[2018-02-28 00:53] danpovey commented on #2243
do "make clean" in the src/ directory and then make again.

If that still fails, remove the openfst directory e.g. tools/openfst-1.6.5
and do "make" in tools/ again to recompile it, then do "make clean" in
src/, and retry.

And if that still fails, let me know g++ version.  (g++ --version).

On Tue, Feb 27, 2018 at 7:51 PM, martaql <notifications@github.com> wrote:

[2018-02-28 04:27] martaql commented on #2243
Thank you for the quick reply, again.

I followed all the possible steps, but I am still getting the same error.
My g++ version is :
g++ (Ubuntu 4.8.5-4ubuntu2) 4.8.5
Copyright (C) 2015 Free Software Foundation, Inc.

[2018-02-28 04:33] danpovey commented on #2243
You may have to update your OS to get a more recent compiler.
There may be a way to fix it with that older compiler but we are not putting a lot of effort into this TensorFlow-based setup.

[2018-02-28 07:57] martaql commented on #2243
Ok, I upgraded my compiler to g++ 6.3 and went through the whole process again.
I didn't get the error this time, so I guess that was the problem.
Thank you!

[2018-03-01 15:15] silvaCarlosE commented on #1918
If the problem persists after removing the `-gencode arch=compute_20,code=sm_20`, try to erase the following file: `/caffe/build/CMakeCache.txt` and run `cmake .. ` again. It worked for me.

[2018-03-04 05:40] xikunlun001 opened #2251 "error in thchs-30_data_prep.sh"
Hi,

I'm trying to play kaldi on my Mac and got an error that I can't figure it out in 3 hours.
I built kaldi successfully and tested well in yesno case.
Then I downloaded thchs-30 files and set the path to my local.
Once I run the ./run.sh file,  an error appeared in thchs-30_data_prep.sh as following:

creating data/{train,dev,test}
cleaning data/train
preparing scps and text in data/train
local

[2018-03-04 05:51] danpovey commented on #2251
@naxingyu, can you look into this?
I suspect that 'find' in thchs-30_data_prep.sh should be 'echo'.
And there seems to be a compatibility issue with mac, with the -i option; it does not default to {}.
I suspect the xargs command should really be
` xargs -I% echo basename %.wav`

[2018-03-04 22:14] xikunlun001 commented on #2251
@danpovey
Thanks for quick response.
After replaced xargs command to "xargs -I% echo basename % .wav"
It still shows for train data: Argument list too long                      (Too many files in that folder?)
In test and dev folders, it seems the "do" part can't locate the correct file name or directory (Sorry, I'm not familiar with shell) and gave the following invalid number and no such file or

[2018-03-04 22:15] danpovey commented on #2251
Read my original response more carefully, there were two parts.

On Sun, Mar 4, 2018 at 5:14 PM, xikunlun001 <notifications@github.com>
wrote:

[2018-03-04 22:17] danpovey commented on #2251
actually, I now realize that changing 'find' to 'echo' wouldn't fix it.
You could try changin
`find foo/*.wav`
to
`find foo -name '*.wav'`
but I'm not 100% sure it will fix it.  Anyway I don't really maintain this recipe personally, @naxingyu will fix it I hope.

[2018-03-04 22:57] xikunlun001 commented on #2251
@danpovey Thanks, Daniel. Do you think this is a compatibility issue with mac and the original code could work on a Linux system?
I tried your code and it works in the find part which no "Argument to long" error anymore, but the  invalid number and no such file or directory errors still not fixed. I hope @naxingyu could help to fix it or I'll try it on a Linux one later.

Thanks again.

[2018-03-06 09:47] cocoakeith opened #2256 "End-to-end training in Kaldi"
Hi
I read the 'TOWARDS DISCRIMINATIVELY-TRAINED HMM-BASED END-TO-END MODELS FOR AUTOMATIC SPEECH RECOGNITION' recently, and I am glad to find that the example scripts have been merged into kaldi-master today. This paper proposes a simple yet effective approach to model left biphones(bichars) by creating a trivial full biphone tree, I have question regard to this approach. When training EE-LF-MMI f

[2018-03-06 11:24] hhadian commented on #2256
Is 280 the number of position-dependent phones or is it the number of base phones? (e.g. what is the number of lines in data/lang/phones/sets.txt?)
You should use the `--shared-phones` option in `gmm-init-biphone` so that the biphones are created using the non-position-dependent phones.
Also, if the language is Chinese I guess you probably don't even need biphones. You could use monophones.
BTW, i

[2018-03-06 12:35] cocoakeith commented on #2256
Thanks for you reply :). And 280 is the number of base phones. BTW, what is the difference between position-dependent phones and base phones? I set the --shared-phones=true, the num-pdfs is  560(mono)，157360(biphone). The language is Cantonese, I'll try the mono first.

[2018-03-06 17:41] hhadian commented on #2256
The difference is that with position-dependent phones we have 4 versions for each base phone which indicate the position of the phone relative to the word (i.e. beginning, end, inside, singleton).
You can't train a biphone model (157k states is too many) with end2end chain. (you should use regular chain models)

[2018-03-07 00:03] xikunlun001 commented on #2251
changed to the following and figure it out:

for nn in `find  $corpus_dir/$x -name "*.wav" | sort -u | xargs -I {} basename {} .wav`; do

[2018-03-07 00:03] #2251 closed

[2018-03-07 00:55] danpovey commented on #2251
do you know how to make a pull request to github?  Xingyu doesn't seem to
be responding so I could merge a PR from you.

On Tue, Mar 6, 2018 at 7:03 PM, xikunlun001 <notifications@github.com>
wrote:

[2018-03-07 00:59] xikunlun001 commented on #2251
@danpovey
Yes, I can do that.

[2018-03-07 02:19] naxingyu commented on #2251
Sorry I just notice this. Thanks for the fix.

Best,
Xingyu Na

On Wed, Mar 7, 2018 at 8:59 AM, xikunlun001 <notifications@github.com>
wrote:

[2018-03-07 03:13] cathryn0131 opened #2260 "nnet3-xvector-get-egs error"
I am trying to use my own data(the dim of feature is 1952 per frame, so I just extract 512 utterance to performance a subset training to verify the procedure ) to train an xvector, I used the xvector training script in sre16/v2, because I don't know the detailed format of the training data, I produced the corresponding preparation files by follow the sre16/v2 script, and now I met an error:

# nne

[2018-03-07 03:15] danpovey commented on #2260
@david-ryan-snyder or anyone, could you please look into this?
even if the input data is bad, it shouldn't crash with an assertion error.

[2018-03-07 03:28] david-ryan-snyder commented on #2260
Yes... I'll have to add some more error handling.

@cathryn0131, my guess for now is that --num-pdfs=6 is less than the number of speakers in your ranges.1 file. Could you run something like `awk '{print $6}' exp/xvector_partial/egs/temp/ranges.1` | uniq and tell me what you see?

[2018-03-07 03:34] cathryn0131 commented on #2260
@david-ryan-snyder
awk '{print $6}' exp/xvector_partial/egs/temp/ranges.1 | uniq
94
170
280
365
461
511
I extracted 512 utterances for 6 speakers, so there are only 6 speaker id.

[2018-03-07 03:36] david-ryan-snyder commented on #2260
Ok, these should be relabelled to be contiguous integers starting at 0, e.g., 0, 1, 2, etc. I think that will solve the problem (I should still add a check for this, though).

[2018-03-07 04:11] cathryn0131 commented on #2260
@david-ryan-snyder
I checked the script, the mapping from spk2utt to utt2int(in sid/nnet3/xvector/get_egs.sh line 112 to 116) to ranges.1(stage 2 in get_egs.sh,actually in allocate_egs.py).
actually it will calculate the number of utterances for each speaker, and transfer the number to speaker id in ranges.1
That is, 94 utterance for speaker1, 170 for speaker2, and so on.
I don't know whether I ca

[2018-03-07 04:28] david-ryan-snyder commented on #2260
Unless you changed something, utt2int is a mapping from utterance to integer ID. It's not a count of the number of utterances per speaker.

[2018-03-07 04:58] david-ryan-snyder commented on #2260
The spk2int is normally a list of <string-id> to <int-id> pairs, where the int-ids are 0, 1, 2, 3, etc. This is what the script normally produces. Since it looks like you're getting something else, my guess is that something went wrong when you were preparing your data directory. It will probably be easier to just delete the data subset you were working on and start over (e.g., subset your origina

[2018-03-07 05:40] cathryn0131 commented on #2260
@david-ryan-snyder
I followed your instruction, modified the speaker-id in utt2int to contiguous number 0-5, and skip
utils/sym2int.pl -f 2 $temp/spk2int $data/utt2spk > $temp/utt2int
it works well and trained successfully.
I will check this sym2int script and update the cause later.
Thanks for your help.

[2018-03-09 14:16] dsmiller opened #2266 "make_rttm.py issue"
Here's a MWE of a problem in callhome_diarization/v1/local/make_rttm.py. The problem is when it tries to merge overlapping segments: it cannot deal with certain cases where a segment is a subsegment of another (e.g., if a speaker briefly speaks early on within a longer speaker segments).
Specifically, given two consecutive utterances u1 and u2, if (u1.end + u2.begin)/2 > u2.end, there will be  a n

[2018-03-12 16:19] olix20 opened #2269 "run_asr_segmentation.sh stage 2 makes train directory invalid"
background: trying to do SAD using [run_asr_segmentation.sh](https://github.com/kaldi-asr/kaldi/blob/master/egs/swbd/s5c/local/run_asr_segmentation.sh).

Main training data is in $data_dir which is fixed/validated with utterance ids prefixed with speaker ids.

[prepare_targets_gmm.sh](https://github.com/kaldi-asr/kaldi/blob/master/egs/wsj/s5/steps/segmentation/prepare_targets_gmm.sh) in stage 3 re

[2018-03-12 20:37] vimalmanohar commented on #2269
This script expects the recording-id to be the speaker as mentioned in https://github.com/kaldi-asr/kaldi/blob/19dc26ff833cbaedb5a2ffd2609d7cd8d0a8e6a5/egs/wsj/s5/steps/segmentation/prepare_targets_gmm.sh#L69. We might need a different script for the case where it is not the case. I believe it uses the CMVN stats computed from the one with segments for the data directory that is unsegmented.

[2018-03-12 21:39] vimalmanohar commented on #2269
There is an option --no-spk-sort in validate_data_dir.sh. Can you check if the issue is solved if using that option? In that case, I can just modify the script to use that option.

[2018-03-12 23:28] vimalmanohar commented on #2266
The script egs/wsj/s5/steps/segmentation/convert_utt2spk_and_segments_to_rttm.py might applicable to your case. You can use the rttmSmooth.pl -s 0 to merge nearby same-speaker segments if needed.

[2018-03-13 00:22] danpovey opened #2271 "--use-gpu=wait"
I think it would be useful for the nnet3 and chain training scripts to support passing in the option --use-gpu=wait to programs like nnet3-chain-train which can use a GPU.  That way people without GridEngine can more easily train when num-jobs > their number of GPUs.
It should be possible to do this by changing the use-gpu option to be string valued, with mapping true -> yes and false -> no, and a

[2018-03-13 10:32] cathryn0131 commented on #2260
@danpovey
hi, just one more question, when will MultiTask be working on NNET3, is there any schedule? I just see this on NNET1 now mainly for multilingual

[2018-03-13 12:22] johnjosephmorgan commented on #2260
I think you want to look at the babel_multilang recipe.

On 3/13/18, cathryn0131 <notifications@github.com> wrote:

[2018-03-14 10:34] olix20 opened #2275 "convert_data_dir_to_whole.sh doesn't produce the right text file"
background: i have a valid kaldi directory but `text` file is quite unclean (movie subtitles with off timings). I use `convert_data_dir_to_whole.sh` to get full recording length segments and then feed it into `segment_long_utterances.sh`.

`convert_data_dir_to_whole.sh` seem to be converting everything right except `text` file. Expectation is that the new `text` file contains a concatenation of al

[2018-03-14 17:43] vimalmanohar commented on #2275
Fixed https://github.com/kaldi-asr/kaldi/pull/2277

[2018-03-14 19:44] akreal commented on #1979
I tried to create a new recipe by adapting mini_librispeech and keeping the existing data preparation scripts for vystadial_cz. Should I make a PR for it?

[2018-03-15 07:20] JiayiFu opened #2280 "kaldi-thread-test failed."
I git clone the master branch of kaldi and install it successfully.
But when I get into the 'kaldi/src' directory and 'make test', the unit test failed when running 'kaldi-thread-test':

I tried to find the reason in log but there is only less information in the log file:

My OS is Ubuntu 16.04 and the kernel version is 4.4.0-116-generic.
My gcc version is 5.4.0 and cuda version is 9.0.

I have no

[2018-03-15 17:34] danpovey commented on #2280
You can probably just ignore it.  If it happens to others we may change the test, but this may be due to peculiarities in how your system was set up.

[2018-03-15 17:34] #2280 closed

[2018-03-16 02:47] YongyuG opened #2281 "Question about Speaker Recognition and sre10"
Hi,could you please tell me how to format the Timit dataset that can be runned in sre10/v1/run.sh,

Due to lack of dataset, I am trying to run the script in sre10 on Timit; however, there are few question I am confusing. In the sre10/v1/run.sh,  I don't know what SWBD2 phase and SBWD Cellular stands for?
Moreover, I really dont know the format of train and test data, which used make_sre.sh to tran

[2018-03-16 04:10] YongyuG commented on #2281
One more question, why the speaker recognition example in Kaldi always trains diagonal UBM first and then full UBM, why not just train full UBM directly?

[2018-03-16 04:59] david-ryan-snyder commented on #2281
Hi @YongyuG,

It's better to ask questions like this on the Kaldi help forums: https://groups.google.com/forum/#!forum/kaldi-help. We usually use the GitHub issues for bugs or features.

On Kaldi-help, be sure to search for similar messages, to see if your question is already answered. For example, there was a discussion about using TIMIT for speaker recognition that might be helpful for you:

htt

[2018-03-16 05:02] david-ryan-snyder commented on #2281
@danpovey, you should be able to close this issue. @YongyuG can follow up on Kaldi-help if he has more questions.

[2018-03-16 05:03] #2281 closed

[2018-03-16 06:40] XiangZhu0718 opened #2282 "egs/ptb training"
always show 'Training neural net(pass 0)'
no gpu running ?
anything wrong?

[2018-03-16 06:43] danpovey commented on #2282
Maybe it's very slow because you didn't compile for GPU, e.g. when you
configured Kaldi, 'nvcc' was not on the path.  @hainan-xv, please check
that 'cuda-gpu-available' returns zero status in the RNNLM training
scripts, and at least warn if not.

On Fri, Mar 16, 2018 at 2:40 AM, XiangZhu0718 <notifications@github.com>
wrote:

[2018-03-16 07:12] XiangZhu0718 commented on #2282
in the configured kaldi,the nvcc is on the path..
we can just wait ?

[2018-03-16 07:22] XiangZhu0718 commented on #2282
i modify the 'queue.pl' to 'run.pl' in the cmd.sh, anyelse shall i modify in the script?

[2018-03-16 08:05] #2282 closed

[2018-03-16 08:13] XiangZhu0718 opened #2283 "rnnlm net structure"
where can i find info about rnnlm net structure?

[2018-03-16 19:59] keli78 commented on #2283
I assume you have found the configs of rnnlm net architecture in script xxx/local/rnnlm/tuning/xxx.sh. For example for swbd, it's here: local/rnnlm/tuning/run_tdnn_lstm_1e.sh
For specific info about each layer (relu-renorm-layer, fast-lstmp-layer etc.) , you can check the python scripts here: steps/libs/nnet3/xconfig/{lstm.py, basic_layers.py, ...}

[2018-03-16 21:13] hainan-xv commented on #2283
If you search the word "xconfig" in the file swbd/s5c/local/rnnlm/tuning/run_tdnn_lstm_1a.sh you will see the network structure.

[2018-03-17 06:39] tratotasia opened #2287 "anything wrong with the function GetSplitTargets in gmm/model-common.cc"
in line 140 and 141.
BaseFloat orig_occ = state_occs(state_to_split.pdf_index);
if ((state_to_split.num_components+1) * min_count >= orig_occ)

why use the orig_occ instead of state_to_split.occupancy, since state_to_split.occupancy is specially computed  as it does in line 125
BaseFloat occ = pow(state_occs(pdf_index), power);

it make no sence to initialize the state_to_split.occupancy if we use

[2018-03-17 07:01] FahadMaqbool commented on #1139
Thanks can you please elaborate then how to change run.sh accordingly if we don't use fisher data.

[2018-03-17 18:07] danpovey commented on #1139
It already says, in run_prepare_shared.sh right below where that variable
is set:

# Note: if you don't have the Fisher data, you can remove the --fisher
$FISHER_TRANS
# option to local/ami_train_lms.sh below, and remove the case statement
above.

On Sat, Mar 17, 2018 at 3:01 AM, FahadMaqbool <notifications@github.com>
wrote:

[2018-03-17 23:01] danpovey commented on #2287
thanks, but it's not a bug.. the min_count should be interepreted as a real count, not one taken to a power.

[2018-03-17 23:01] #2287 closed

[2018-03-17 23:01] #2283 closed

[2018-03-18 03:53] #2269 closed

[2018-03-19 09:22] CodesFarmer commented on #1918
U can remove the line -gencode arch=compute_20,code=sm_20 and -gencode arch=compute_20,code=sm_21 in Makefile.config.

[2018-03-19 09:23] roscisz commented on #2129
I am not sure if this will be helpful, but last year I implemented model averaging with MPI into nnet3. You can find the code in my [fork](https://github.com/roscisz/kaldi-mpi), and specifically in the [nnet3-ctc-train-mpi](https://github.com/roscisz/kaldi-mpi/commit/2176d0810da77defb382fd8da7066ed583b7fe73#diff-2d8cb49e0cae0b98639778226cfbd53f) program. As the name suggests, it uses an old Kaldi

[2018-03-19 10:52] #2275 closed

[2018-03-19 19:05] danpovey commented on #1918
I just pushed a change to remove compute_20 from the nvcc flags.

[2018-03-21 02:10] XiangZhu0718 opened #2297 "rnnlm swbd run_tdnn_lstm_1e.sh"
where can i get the paper for that?

[2018-03-21 02:11] danpovey commented on #2297
http://www.danielpovey.com/files/2018_icassp_rnnlm.pdf
questions should go to kaldi-help

[2018-03-21 02:11] #2297 closed

[2018-03-22 10:54] cathryn0131 opened #2300 "multi-output layer(different labels) training in NNET3"
@danpovey
hi,again
I am training an NNET(something little bit like adversarial training). After checking the NNET3 code, I still havn't found any solutions, so could you please help check and show a way, thanks in advance.
     The NNET has two output layers(label is utterance and spkid separately), the cost function equals the sum of the cost of two output layers.
      I checked the chain model,

[2018-03-22 11:11] #2260 closed

[2018-03-22 19:18] danpovey commented on #2300
This should really be on kaldi-help but I'll respond here this time.

You say it's adversarial but I don't see any mention of negating the derivatives from the speaker part.

What you want to do should be possible without coding, but there are some subtle issues involved and maybe some scripting work.

Before I put more effort into helping you I want to understand your motivation here.  Do you wan

[2018-03-23 00:55] cathryn0131 commented on #2300
@dan
sorry for put it in wrong part.
I train this NNET to reduce the affect of  user voice characteristics.
the derivative of tdnn6 layer is the sum of deriv1 from output-utt(output-utt -> tdnn6) and deriv2 from tdnn7(output-spk -> tdnn11 -> tdnn10 ->tdnn9 -> tdnn8 -> tdnn7 -> tdnn6).
derivative(tdnn6) = deriv1 + coeff * deriv2
I will set the learn rate of some layers to 0 to keep is unchanged.
st

[2018-03-23 01:09] danpovey commented on #2300
So I assume 'coeff' would be negative--  Otherwise I don't see how it would reduce the effect of speaker characteristics and I don't see what is adversarial about it.
I guess this is similar to MTL as in https://arxiv.org/pdf/1703.02136.pdf.
However the improvements they got from it were extremely tiny and I don't believe it will be helpful at all in the context of a LF-MMI objective function.

So

[2018-03-24 06:07] ananthnagaraj commented on #699
Hi,
Just wanted to check if nnet3 or chain run on this recipe.

[2018-03-24 15:54] xiaohui-zhang commented on #699
I'm running experiments and will hopefully commit the recipe soon.

On Mar 24, 2018 2:07 AM, "ananthnagaraj" <notifications@github.com> wrote:

[2018-03-25 20:31] danpovey opened #2309 "--num-jobs-multiple option"
@hhadian, would you mind doing this when you have time (not urgent)?
It's a change which should make it more efficient to use machines with several GPUs when using run.pl.  It's to add an option '--num-jobs-multiple' to the nnet training, with default value 1, whose effect will be to round up the number of jobs used to an integer multiple of the --num-jobs-multiple value.  We can add as a requirem

[2018-03-26 04:33] hhadian commented on #2309
Yes, I'll do it.

[2018-03-27 06:24] johnpiao305 opened #2317 "Can I integrate this library to iPhone ?"
Can I integrate this library to iPhone ?

[2018-03-27 06:32] galv commented on #2317
Not without good programming skills or paying someone else.

If you want to pay, you should check out the software by Keen Research, by
Ogi, who often posts around here.

On Mon, Mar 26, 2018 at 11:24 PM, johnpiao305 <notifications@github.com>
wrote:

--
Daniel Galvez
http://danielgalvez.me
https://github.com/galv

[2018-03-27 07:53] johnpiao305 commented on #2317
I want to pay for it.

Can you let me know his email or account?

________________________________
From: Daniel Galvez <notifications@github.com>
Sent: Tuesday, March 27, 2018 6:32 AM
To: kaldi-asr/kaldi
Cc: johnpiao305; Author
Subject: Re: [kaldi-asr/kaldi] Can I integrate this library to iPhone ? (#2317)

Not without good programming skills or paying someone else.

If you want to pay, you should

[2018-03-27 17:57] danpovey commented on #2317
See https://keenresearch.com, his name is Ognjen Todic, it's ogi at
keenresearch dot com.

On Tue, Mar 27, 2018 at 3:53 AM, johnpiao305 <notifications@github.com>
wrote:

[2018-03-27 23:31] tbright17 opened #2318 "Under src/ make error"
Just cloned the latest commit 785198e3c0538fb2a5ee366ac777516ba731bc20 and encountered errors during make under src/

Here is the make log

[code]

[2018-03-27 23:36] danpovey commented on #2318
Oops.  Fixed just now.  @hainan-xv, looks like that was your recent commit with the extra assertions.

[2018-03-27 23:36] #2318 closed

[2018-03-28 06:34] XiangZhu0718 opened #2319 "mutil-gpus on a single machine"
can now run swbd/s5c/local/rnnlm/turing/run_tdnn_lstm_1e.sh with mutil-gpu on a single machine without gridEngine ? thank you.

[2018-03-28 13:59] #2317 closed

[2018-03-28 17:30] danpovey commented on #2319
The '--use-gpu=wait' option has not been implemented in the RNNLM scripts.
 It would require changes to rnnlm/train_rnnlm.sh.  However, that example
script uses '--num-jobs-final 3', so it would work fine as long as the
machine had 3 or more GPUs.

On Wed, Mar 28, 2018 at 2:34 AM, XiangZhu0718 <notifications@github.com>
wrote:

[2018-03-28 17:33] #2227 closed

[2018-03-28 17:36] #2151 closed

[2018-03-29 04:08] langep commented on #2225
We will still run into problems when using `sed -r` e.g. `ls exp/tri5a/decode_dev/score_*/dev.ctm | xargs -I {} sed -i -r 's:fsp\s1\s:fsp A :g' {}`. BSD sed uses `-E` instead of `-r`.

I think we can replace all `sed -i -r` with `perl -pi -e`. This might be slightly slower but probably does not matter in these scripts.

`sed -i` and `sed -i''` would need to either use backups with additional clean

[2018-03-29 04:09] danpovey commented on #2225
I prefer the perl-based solution.
It's good that you seem to be familiar with these issues.

On Thu, Mar 29, 2018 at 12:08 AM, Patrick L. Lange <notifications@github.com

[2018-03-29 12:18] olix20 opened #2320 "`nj` in `get_frame_shift.sh`"
I'm doing SAD with `detect_speech_activity.sh` and *one* single audio file.
In the process, the directory containing that single file is converted to whole with one speaker.

The problem is when `get_utt2dur.sh` is called by `get_frame_shift.sh` without passing `nj`, so 4 is used by default which is too many and i get `You are splitting into too many pieces! [reduce $nj] at utils/split_scp.pl line

[2018-03-29 17:43] danpovey commented on #2320
I think the best solution is for get_utt2dur.sh to check the number of utterances and if it's less than nj, set nj to that number.  (Only in the branch where it actually uses $nj).  Can you make a PR for this?

[2018-03-31 16:40] olix20 commented on #2320
sure i can make a PR; but that means max `nj` will always be 4 in `get_utt2dur.sh` no matter what parent scripts are using. is that intended?

i currently reduce num jobs in parent scripts if `nj > num utterances`

[2018-03-31 17:16] danpovey commented on #2320
This is a corner case and I don't like adding the $nj option to all of those types of scripts.
See if this PR resolves it.

https://github.com/kaldi-asr/kaldi/pull/2326

[2018-03-31 17:56] dsmiller opened #2327 "bug: ivector-bin/agglomerative-cluster.cc"
The following snippet from `ivector-bin/agglomerative-cluster.cc` assigns `threshold` to its negative after reading in each recording. So threshold toggles from, e.g., 0.1, -0.1, 0.1, etc.  Also, because of the missing brackets for the `if` statement, it will get flipped regardless of `read_costs`.

I didn't do a PR because it's not clear if threshold's sign should be flipped once (outside of the

[2018-04-02 01:13] XiangZhu0718 opened #2328 "weights setting for 2 corpus"
As above,i have 2 corpus A(300h) and B(2000h),and  A is the main corpu. How could i set the weights in the data_weights file uesd for rnnlm/run_tdnn_lstm.sh. Any proposals ? thank you.

[2018-04-02 01:13] #2319 closed

[2018-04-02 01:18] danpovey commented on #2328
The data-weights files contain both a weight and a 'multiplicity', IIRC.
The multiplicity is the number of times to repeat that data.  I forget what
order they are in; it would be documented in the script that accepts it.

What I'd suggest is, for corpus A, to set the multiplicity to 2 and the
weight to 2.0 (so effectively it's multiplied by 4), and for corpus B, to
set both of those to 1.

On Sun

[2018-04-03 14:25] david-ryan-snyder opened #2332 "compute-eer threshold error"
This issue is described in detail in a thread started by Lucian Georgescu on Kaldi help: http://kaldi-asr.org/forums.html?place=msg%2Fkaldi-help%2F-Xoi1mSS_ys%2Fodpbs5j_BQAJ.

[2018-04-05 13:29] david-ryan-snyder commented on #2327
Thanks!

[2018-04-06 09:06] olix20 commented on #2320
Yes it solves the problem, thanks.

[2018-04-06 09:06] #2320 closed

[2018-04-08 14:00] mjc14 opened #2342 "fstaddselfloops ERROR: VectorFst::Read: read failed: <unspecified>"
i  have a question  about   fstaddselfloops .  my command is

 tools/make_lexicon_fst.pl --pron-probs $tmpdir/lexiconp_disambig.txt 0 "sil" '#'$ndisambig | fstcompile --isymbols=$dir/tokens.txt --osymbols=$dir/words.txt  --keep_isymbols=false --keep_osymbols=false |   fstaddselfloops  "echo $token_disambig_symbol |" "echo $word_disambig_symbol |" |  fstarcsort --sort_type=olabel > $dir/L.fst || ex

[2018-04-08 19:26] danpovey commented on #2342
That would usually be because there was a failure in the previous element of the pipe-- fstcompile in this case.  But your errors look very strange, I have never seen stuff that looks like this:
  ```ERROR 2018-04-08 13:41:21,940 common.common read_from_stream 21```
So I suspect you  are trying to run it in some strange OS or framework.

[2018-04-09 01:05] mjc14 commented on #2342
i run it in docker and i use python multi processing  to process multi task.

[2018-04-09 02:16] danpovey commented on #2342
OK, well it's hard to diagnoze what's going on from that output-- it could be out-of-memory or it could be some issue with the frameworks you are using.  Most likely that error you showed was not the first error.  My suggestion is to cut down on the frameworks-- likely the errors are a result of one of the frameworks you are using, and if you don't know how to debug them, then best not to use them

[2018-04-09 02:16] #2342 closed

[2018-04-09 07:36] yangxiaokang opened #2344 "How questions config is geted in Kaldi when building decision tree"
when i read http://www.kaldi-asr.org/doc/tree_externals.html, I find this:
the questions configuration class would be output by the compile-questions program, which takes in a topology list of phonetic questions (in our scripts, these are automatically obtained from tree-building statistics by the program cluster-phones.
It's difficult for me to understand how the phonetic questions are automatica

[2018-04-09 07:40] af258963 opened #2345 "IAM: run.sh run the stage 11 got the error"
the IAM's run.sh,When I run to 11 steps（stage）, the program error is as follows：

steps/decode_fmllr.sh --nj 20 --cmd run.pl exp/tri3/graph data/test exp/tri3/decode_test
steps/decode.sh --scoring-opts  --num-threads 1 --skip-scoring false --acwt 0.083333 --nj 20 --cmd run.pl --beam 10.0 --model exp/tri3/final.alimdl --max-active 2000 exp/tri3/graph data/test exp/tri3/decode_test.si
decode.sh: fea

[2018-04-10 01:25] nuekodory opened #2347 "kaldi-android build failed with "use of undeclared identifier 'aligned_alloc'""
Hello.
I've read [Compile Kaldi for Android - Clean Blog](http://jcsilva.github.io/2017/03/18/compile-kaldi-android/) and carefully followed the instruction.
When I tried `make -j 6` for `kaldi-android/src`, I got some errors relating to aligned_alloc.
I also tried [build with docker](https://github.com/jcsilva/docker-kaldi-android) and got the same errors.

ERRORS:

[code]
My environment:
- Ubunt

[2018-04-10 01:35] danpovey commented on #2347
We recently changed that code to use aligned_alloc instead of a system-dependent ifdef.
aligned_alloc is supposed to be a C++11 feature, and is supposed to be available if you include <cstdlib>, which we do, so this is likely a bug or issue somewhere else than Kaldi (e.g. in the Android NDK).

Possibly it's related to this:
 https://github.com/android-ndk/ndk/issues/421
which seems to be an issue

[2018-04-10 01:41] jtrmal commented on #2347
@danpovey, it seems that aligned_malloc is C++17, at least according to
this: http://en.cppreference.com/w/cpp/memory/c/aligned_alloc
I have also found it's ISO C 11 function here:
https://linux.die.net/man/3/aligned_alloc, but I'm not very sure how C and
C++ library functions align.
y

On Mon, Apr 9, 2018 at 9:35 PM, Daniel Povey <notifications@github.com>
wrote:

[2018-04-10 01:42] danpovey commented on #2347
Wait a minute.
I see now that I was wrong about aligned_alloc.  It is not a c++11 feature, it is a C11 feature (not the same thing), although it is part of c++17 (http://en.cppreference.com/w/cpp/memory/c/aligned_alloc).
I'll try to fix this today-- I may just revert the patch where we switched to using aligned_alloc, if I don't find another fix.

[2018-04-10 01:50] danpovey commented on #2347
@jtrmal, do you have time to revert the changes in the cygwin patch that relate to aligned_alloc, and revert to an approach similar to what we previously used with posix_memalign?  The 'revert' button doesn't work, likely due to conflicts.
But I notice that the macros had an unnecessary last parameter 'to_free' or 'tmp' or something, which apparently was never used any more, so I think it would ma

[2018-04-10 01:52] jtrmal commented on #2347
I'm on my way to bed, actually, but I can do it first thing tomorrow
morning.
Y.

On Mon, Apr 9, 2018, 21:50 Daniel Povey <notifications@github.com> wrote:

[2018-04-10 02:03] danpovey commented on #2347
@galv, do you have time for this?  If not I can do it tonight.

[2018-04-10 06:55] nuekodory commented on #2347
@danpovey Thank you a lot, now it seems to be okay...
(Please be patient for while, since my machine's extremely slow)
I write a comment if whole build process is completed.

[2018-04-10 09:27] nuekodory commented on #2347
Kaldi-android build succeeded. Thanks @danpovey @jtrmal

[2018-04-10 18:42] #2347 closed

[2018-04-10 23:12] gooofy opened #2349 "tf_idf.py does not handle non-ASCII characters in words"
while experimenting with automatic segmentation of german librivox recordings using run_segmentation_long_utts.sh, I came across this small issue:

tf_idf.py will fail if exp/segment_long_utts_a_train/query_docs/split1/query_tf_idf.1.ark.txt contains words with non-ASCII characters because of this assert:

[code]

[2018-04-11 16:00] Ore-an commented on #2349
That function reads a document/utterance ID, and there's no real reason to use non-ASCII for that, I think. Anyway, the re module has an Unicode flag that could be used in conjunction with extracting the set of characters used (maybe from the lexicon, from transcriptions or IDs in the wav.scp) and adding them to the regular expression.

[2018-04-11 19:32] danpovey commented on #2349
Actually there is technically no requirement that utterance-ids be in ASCII (although I'm not saying it's particularly recommended to have non-ASCII ones).  In fact, they don't have to be valid utf-8, they just have to be space-free when interpreted as ASCII.
@vimalmanohar, can you please address this issue?
Actually there are a couple of other issues with that script:
  - It doesn't have the sheb

[2018-04-11 19:45] vimalmanohar commented on #2349
I think we can just remove the assert statement.

It's just a library file that will be imported. It does not have a main
function that can be run. So there is no use of adding a shebang.
The parent script importing that (
https://github.com/kaldi-asr/kaldi/blob/master/egs/wsj/s5/steps/cleanup/internal/retrieve_similar_docs.py)
should have the shebang. But I think there might be many issues if we

[2018-04-11 20:00] danpovey commented on #2349
@vimalmanohar, we are attempting to support the case where 'python' resolves to python3, since there are more and more systems that are like that (even though it is a terrible design choice since they are effectively different languages).  So the fact that there would be many problems when converting that script to python3, is actually a strong reason to explicitly upgrade it.  It's not super time

[2018-04-12 06:26] dresen commented on #2349
@danpovey @vimalmanohar  It seems that the code can be imported as-is in both python2 and python3. python3 ignores the`from __future__ import print_function` and from my quick skim there's no other specific code that is only python2. But the indentation in read_key is wrong.

[2018-04-12 08:29] pstanisl opened #2352 "Missing attribute exception in nnet3/train_dnn.py"
Checking `transform_dir` in `train_dnn.py` causing crash

[code]

It is possible caused by removing the argument from `egs/wsj/s5/steps/libs/nnet3/train/common.py` in commit https://github.com/kaldi-asr/kaldi/commit/5294666e88755dbdbcff116f65febad8962949f0

Line of code: https://github.com/kaldi-asr/kaldi/blob/ad48342ae826c1196e806a2a6ac483f84523f8df/egs/wsj/s5/steps/nnet3/train_dnn.py#L116-L117

[2018-04-12 08:36] pstanisl commented on #2352
It is also necessary to delete the argument `transform_dir=args.transform_dir,` in `train_lib.acoustic_model.generate_egs` in `train_dnn.py`.

Line of code:
https://github.com/kaldi-asr/kaldi/blob/ad48342ae826c1196e806a2a6ac483f84523f8df/egs/wsj/s5/steps/nnet3/train_dnn.py#L237

Whole calling:
https://github.com/kaldi-asr/kaldi/blob/ad48342ae826c1196e806a2a6ac483f84523f8df/egs/wsj/s5/steps/nnet3/t

[2018-04-12 20:35] danpovey commented on #2352
Oops, looks like I missed removing those when I removed that from the scripts    Fixed in #2353.  Thanks.

[2018-04-12 20:35] #2352 closed

[2018-04-13 09:45] cyclonstep opened #2355 "corrupted double linked list in nnet-latgen-faster"
Hello, I've been encountering this issue for awhile now. When I'm in the process of offline decoding my model with steps/nnet2/decode.sh, i got core dumped with log like this:

*** Error in nnet-latgen-faster: corrupted double-linked list: 0x0000000068ed4030 ***
======= Backtrace: =========
/lib/x86_64-linux-gnu/libc.so.6(+0x777e5)[0x7ff5dab8b7e5]
/lib/x86_64-linux-gnu/libc.so.6(+0x7e643)[0x7ff5da

[2018-04-13 19:53] danpovey commented on #2355
That kind of thing is usually caused by memory bugs.
In this case the problem seems to relate to util/basic_filebuf.h.  That is code I don't understand, and I really hope it's not a bug there.  But I think it might be a compilation issue, possibly due to having different g++ versions or glibc versions on your system.

I recommend to pull the latest code (although this part hasn't changed), do "con

[2018-04-13 19:54] danpovey commented on #2355
@galv, have a look at this if you get a chance.

[2018-04-13 23:58] dogancan commented on #2355
@galv @cyclonstep: I think @danpovey  means the problem relates to `util/basic-pipebuf.h` not `util/basic-filebuf.h`. The header `util/basic-filebuf.h` is not used when building with gcc, i.e. linking against libstdc++. gcc/libstdc++ provides its own version of `basic-filebuf.h`. Looking at the stack trace, you are using libstdc++, hence the system provided `basic-filebuf.h`.

[2018-04-14 05:48] cyclonstep commented on #2355
Okay, thank you very much. I will try the suggestions of @danpovey first to run it with valgrind.
@dogancan @galv : so, based on my understanding from reading your comment, is the `basic-filebuf.h` in kaldi is the modified version of the `basic-filebuf.h` in libstdc++ ? if that's the case then, what can i do to use the one which is shipped in kaldi? do i need to dive deep into the code?

[2018-04-14 06:44] dogancan commented on #2355
@cyclonstep No, `util/basic-filebuf.h` was copied from llvm/libc++. It is used only when compiling with clang. You shouldn't use that header when compiling with g++.

[2018-04-14 20:41] danpovey commented on #2355
You shouldn't ever have to make any modifications to the source, it should
just work.  Likely your issue is a compilation problem caused by changing
the system compiler.  Installing from a clean start as I told you should
fix it; if not, do the valgrind stuff.

On Fri, Apr 13, 2018 at 11:44 PM, Dogan Can <notifications@github.com>
wrote:

[2018-04-15 17:20] saeedbinhamad opened #2360 "install hangs on "checking for ANSI C header files... yes""
Dear Kaldi people,

Im new to kaldi

Install hangs on **Windows 10 Linux Subsystem** (Ubuntu Xenial)

`
sbh@DESKTOP-0HJPMSI:~/kaldi/tools$ ./extras/check_dependencies.sh
./extras/check_dependencies.sh: all OK.
sbh@DESKTOP-0HJPMSI:~/kaldi/tools$ nproc
8
sbh@DESKTOP-0HJPMSI:~/kaldi/tools$ make -j 8
extras/check_dependencies.sh
extras/check_dependencies.sh: all OK.
tar xojf sctk-2.4.10-20151007-1312Z

[2018-04-15 23:04] danpovey commented on #2360
I think this is one of those moments that calls for the following cartoon:
http://dilbert.com/strip/1995-06-24

[2018-04-15 23:05] danpovey commented on #2360
sent too soon..
this will be hard for us to debug remotely. It's likely a Windows issue.
Someone with more linux command line experience could probably  figure out what is hanging, but I don't have time fo figure it out remotely-- try to find someone local who is more experience.

[2018-04-15 23:05] #2360 closed

[2018-04-17 00:57] AlexWu1108 commented on #515
Me too ! i don't what it means!

[2018-04-17 02:04] danpovey commented on #515
to source a file foo.sh in UNIX (assuming it's in the current diretory)
means to do something like
. ./foo.sh
in BASH, although in other shells like C shell the syntax would be more
like "source ./foo.sh".
All the path.sh files currently do source env.sh, so you shouldn't have to
take any action.

On Mon, Apr 16, 2018 at 6:57 PM, AlexWu1108 <notifications@github.com>
wrote:

[2018-04-17 02:05] mjc14 opened #2363 "fstminimizeencoded error"
we train  a lm, it only has  ngram 1 ,such as
\data\
ngram 1=1223
ngram 2=0
ngram 3=0

then we use these comands
fstisstochastic tmp/G.fst
fsttablecompose tmp/L.fst tmp/G.fst  > tmp/LG.co.fst
fstdeterminizestar --use-log=true   tmp/LG.co.fst  tmp/LG.det.fst
fstminimizeencoded   tmp/LG.det.fst  tmp/LG.min.fst
fstarcsort --sort_type=ilabel   tmp/LG.min.fst   tmp/LG.fst

log:
fstisstochastic tmp/G.fs

[2018-04-17 02:34] danpovey commented on #2363
That is not an error.  The first listed state of an FST is its start state and it does not have be state 0 (although it usually is).  See openfst.org for more info.

[2018-04-17 02:34] #2363 closed

[2018-04-17 08:46] tratotasia opened #2364 "the difference of ac_cost in method ProcessEmitting between LatticeFasterDecoder and FasterDecoder"
in the process of FasterDecoder::ProcessEmitting , we caculate the ac_cost for Token when we find a not zero ilabel like this:
if (arc.ilabel != 0) {  // propagate..
          BaseFloat ac_cost =  - decodable->LogLikelihood(frame, arc.ilabel);
          double new_weight = arc.weight.Value() + tok->cost_ + ac_cost;
it's easy to understand that how the new_weight is calculated.

But when in the pro

[2018-04-17 17:26] danpovey commented on #2364
It's about reducing round-off error in floating point operations.

[2018-04-17 17:26] #2364 closed

[2018-04-18 08:02] af258963 opened #2365 "IAM：run train_lm.sh get error of wellington.txt.txt"
the error :    data/local/local_lm/data/text/wellington.txt.txt: No such file or directory

then I find  line 85 of  train_lm.sh  may fix as :
cat ${dir}/data/text/{iam,lob,brown,wellington}.txt | tr '[:space:]' '[\n*]' | grep -v "^\s*$" | sort | uniq -c | sort -bnr > ${dir}/data/word_count
  head -n $vocab_size ${dir}/data/word_count | awk '{print $2}' > ${dir}/data/wordlist

[2018-04-18 08:32] verydemo opened #2366 "Did anyone compile it completely?"
Did anyone compile it completely?

I tried, a lot of errors.

[2018-04-18 09:34] af258963 commented on #2365
when I fixed the .txt.txt  then,it get the error:
validate_text_dir.py: Input file data/local/local_lm/data/text/wellington.txt doesn't look right.

[2018-04-18 10:11] hhadian commented on #2365
That error is because the Wellington corpus is not publicly available and
the scripts can't download it. Hopefully we'll prepare a fix today (to make
that corpus optional).
-Hossein

On Wed, Apr 18, 2018 at 2:04 PM, keith <notifications@github.com> wrote:

[2018-04-18 12:06] af258963 commented on #2365
@hhadian thks，I got it.

[2018-04-18 13:42] jtrmal commented on #2366
yes, thousands of people. Read the readme first. Read the howto here: http://kaldi-asr.org/doc/install.html
Read carefully this http://www.catb.org/esr/faqs/smart-questions.html
Sign up to kaldi-help list (this place is not good for asking questions)
Resolve your issues.

[2018-04-18 13:42] #2366 closed

[2018-04-18 17:02] maelp opened #2367 "Bug with the xconfig_to_configs"
This is not recommended to use initializers with mutable objects https://github.com/kaldi-asr/kaldi/blob/82686ee6b109a219053feb731710670e93a01c0a/egs/wsj/s5/steps/libs/nnet3/xconfig/parser.py#L146

in this case the array is kept between multiple calls, so calling the method to parse a `.xconfig` twice might result in errors such as "this layer has the same name as a previous layer"

[2018-04-18 21:00] danpovey commented on #2367
i am not a great python programmer, is there an easy fix?
can you submit one?

On Wed, Apr 18, 2018 at 11:02 AM, Mael <notifications@github.com> wrote:

[2018-04-18 21:01] maelp commented on #2367
The fix would be

[code]

[2018-04-18 21:02] maelp commented on #2367
In this case the empty array is correctly recreated each time the method is called, rather than shared between calls to the method

[2018-04-18 21:03] danpovey commented on #2367
@xiaohui-zhang please make PR, I'm at ICASSP.

[2018-04-18 21:05] xiaohui-zhang commented on #2367
sure

[2018-04-18 21:11] maelp commented on #2367
With a small grep on the codebase I see that there is at least a few more times this pattern has been used

[code]

[2018-04-18 23:28] hhadian commented on #2365
@af258963, you can use the fix in #2370 if you haven't already fixed the issues.

[2018-04-19 04:05] voidxb opened #2372 "Chain model in kaldi"
Hi,I am using the Chain model in Kaldi to develop my android project,however ,it does not work now.It is heared that you updated kaldi before,was kaldi-android respository updated together?

[2018-04-19 04:09] danpovey commented on #2372
Deploying Kaldi on Android is something that only experienced developers should attempt--  not for the kind of person who would say it "doesn't work" with no further explanation.  Anyway there isn't such a thing as the kaldi-android repository.  There is are options in kaldi's configure script that can be used to compile for Android, and others (I think jcsilva) have provided documentation on how

[2018-04-19 04:09] #2372 closed

[2018-04-20 05:25] ericyue opened #2374 "how to fine-tune a tdnn model ?"
I have a pre-trained tdnn model (or a nnet3 model), is there a way to fine tune this pre-trained model with new speech-data ?  I cannot find any docs about this.

[2018-04-20 05:30] danpovey commented on #2374
Yes it's possible.
Assuming this is a 'chain' model, you can use something along the lines of
egs/rm/s5/local/chain/tuning/run_tdnn_wsj_rm_1c.sh
Similar things are possible with regular (non-chain) nnet3 models too, I think.
If it uses iVectors, be sure to use the same iVector extractor.

[2018-04-20 05:30] #2374 closed

[2018-04-23 05:43] dbdean opened #2379 "Python installation packages are not suggested correctly in kaldi/tools/extras/check_dependencies"
In the check dependencies script, the shell function `add_packages` requires three parameters, one for redhat, one for debian, and one for suse:

https://github.com/kaldi-asr/kaldi/blob/4fda1b04a102d3d0182fdab1444e22069b6a45a3/tools/extras/check_dependencies.sh#L12-L16

However, the python checks only provide one package name, instead of three like all the other `add_package` calls:

https://githu

[2018-04-23 09:11] eshete1972 commented on #361
Hi All
I  am working a speech recognition on my native language but at mono decoding HCLG.fst file can't be generated . Now I stop the experiment and the error is
decode.sh: no such file /home/omar/kaldi/exp/System1/mono/graph/HCLG.fst
I need help to solve the problem.

[2018-04-23 14:47] larryniven opened #2382 "options missing in nnet3-chain-combine"
Hi,

The following options for nnet3-chain-combine is missing. They are provided in steps/libs/nnet3/chain_objf/acoustic_model.py but not present in nnet3-chain-combine.

--num-iters=20
--separate-weights-per-component=False
--enforce-sum-to-one=True
--sum-to-one-penalty=0.0
--enforce-positive-weights=true

I'm using commit b4711a, but the options seem missing in the current master branch as well.

[2018-04-24 00:13] dbdean commented on #2379
Sorry about that, I've updated the issue to make it clearer what the problem is.

[2018-04-24 00:37] danpovey commented on #2379
oh, you're right.  Any chance you could make a PR for it?  If not I can find someone else or do it myself.

[2018-04-24 00:41] dbdean commented on #2379
I'd have to do some research for the package names for redhat and opensuse. I'll keep it in mind if I have some spare time, but if someone else has the information at hand and can do it, that would be great.

[2018-04-25 12:32] atiklt1972 commented on #361
 I am  a beginner for kaldi toolkit  and  I face a problem at mono phone training and decoding step. The problem  is listed below
ERROR: FstHeader::Read: Bad FST header: -
ERROR (fstpushspecial[5.4.105~1405-4fda]:ReadFstKaldi():kaldi-fst-io.cc:35) Reading FST: error reading FST header from standard input

[ Stack-Trace: ]

kaldi::MessageLogger::HandleMessage(kaldi::LogMessageEnvelope const&, char

[2018-04-25 12:37] atiklt1972 commented on #361
Hi All
I am a beginner for kaldi toolkit and I face a problem at mono phone training and decoding step. The problem is listed below
ERROR: FstHeader::Read: Bad FST header: -
ERROR (fstpushspecial[5.4.105~1405-4fda]:ReadFstKaldi():kaldi-fst-io.cc:35) Reading FST: error reading FST header from standard input

[ Stack-Trace: ]

kaldi::MessageLogger::HandleMessage(kaldi::LogMessageEnvelope const&, cha

[2018-04-26 22:51] david-ryan-snyder commented on #2266
@mmaciej2 when you have a chance, could you think about what we should do with this issue?

[2018-04-26 22:52] david-ryan-snyder opened #2388 "Create utils/data/get_reco2dur.sh"
See Kaldi-Help: https://groups.google.com/d/msg/kaldi-help/px-rPmGIK7A/eGbjC18OAgAJ

[2018-04-26 22:55] david-ryan-snyder commented on #1285
@vimalmanohar, this has the desired behavior now, doesn't it?

[2018-04-26 23:16] vimalmanohar commented on #1285
It probably does not. I'm not sure why it was done in the past. But
currently there is no use case where this is needed. So the issue can be
closed.

On Thu, Apr 26, 2018, 18:55 david-ryan-snyder <notifications@github.com>
wrote:

--
Vimal Manohar
PhD Student
Electrical & Computer Engineering
Johns Hopkins University

[2018-04-27 00:10] #1285 closed

[2018-04-27 11:39] 384365007 opened #2389 "About filterbanks of PLP"
I am sorry to bother you, but I have a question about PLP filterbanks calculation. Why can we use melbanks to replace the original filterbanks in  this paper ''perceptual linear predictive analysis of speech" by Hynek Hermansky. Is it more effective for DNN ? Perhaps there are some reasons?

[2018-04-27 17:28] danpovey commented on #2389
Mel banks and filter banks are the same thing, in most circumstances.  We usually use MFCC anyway, not PLP.  If you have questions about Hynek's paper, you can ask him directly at hynek@jhu.edu.

[2018-04-27 19:07] mmaciej2 commented on #2266
@dsmiller It seems to me that the issue here is that you are misunderstanding the usage of this script. I will clarify what this particular make_rttm.py script is for. In a sense, it is to remove "fuzzy" speaker change boundaries.

What this script is for is to produce an rttm file from a sliding-window diarization system. More specifically, the way it is "handling overlap" is to place hard speake

[2018-04-27 19:15] dsmiller commented on #2266
I ran into this problem while creating a diarization test set. I had multiple single-channel files which, each one side of a conversation (like much of LDC's data). So to create a diarization test set I mixed the audio channels back together, and used VAD on the individual channels to create reference labels (some of which overlap or are proper subsegments). So the labels needed to be dropped or a

[2018-04-27 19:54] mmaciej2 commented on #2266
I'm not entirely sure what it is you are trying to do. I have created diarization test sets by mixing individual channels in the past, and created the "ground truth" rttm file with some very basic text processing. I did not do any special processing—it was essentially just concatenating the different channel label references together and converting it into the rttm file format. Is there some kind

[2018-04-28 00:48] 384365007 commented on #2389
I am sorry that I failed to describe my question. I just want to know the reasons why we use triangle filters instead of other kinds of filters?

[2018-04-28 00:51] danpovey commented on #2389
They are traditional.  I doubt the exact shape makes much difference.  See kaldi-asr.org/forums.html for how to ask questions, but this question is more about audio processing than ASR.

[2018-05-01 01:49] galv opened #2396 "Cosmetic: Make cepstral_lifter in feature-plp.h's PlpOptions a BaseFloat"
For whatever reason, cepstral_lifter is an int32 in the PlpOptions struct. As far as I can tell, there is no need for this, as the MfccOptions makes this value of type BaseFloat, and the only time it is used is inside a function which accepts a BaseFloat, so the conversion happens anyway.

It probably doesn't really matter. But I'll probably make a PR to change it from int32 to BaseFloat at some p

[2018-05-02 05:14] somil55 opened #2400 "Running kaldi on Android"
Is it possible to use trained models on the Android platform? If yes, can anyone point me to some relevant links

[2018-05-02 05:16] danpovey commented on #2400
It's possible but difficult.  Search for android compilation instructions
by jcsilva.
Kaldi is not really optimized for low-memory operation, which matters on
phones; and the amount of computation in any ASR is significant for a phone
(battery life, etc.).  It's only something I'd recommend once you have a
server-based solution running and if you have a compelling need for
on-device.

On Wed, May

[2018-05-02 05:40] somil55 commented on #2400
I only want to run decoding phase on android. Is there anyone in the community who has benchmarked Kaldi for performance on android?

[2018-05-02 05:44] danpovey commented on #2400
Yes, i imagined you only wanted to run decoding on android.
I am not aware of any benchmarks.
This is not something that someone without prior ASR experience should
attempt.

On Wed, May 2, 2018 at 1:41 AM, Divyansh Srivastava <
notifications@github.com> wrote:

[2018-05-04 02:13] Ruarosh commented on #2156
Hi
It would be a great help if parallelization is implemented in fst(like fstdeterminizestar, fsttablecompose, etc), especially when the lm is very big and the training may take a few hours, is there a plan to implement the multithread edition?

[2018-05-04 02:32] Ruarosh commented on #2156
Thanks a lot for quick response, we have being doing as your advice and if parallelization is realized， it would be more helpful.

[2018-05-08 05:00] galv opened #2406 "VectorBase::operator() not inlined"
The call operator of VectorBase, at least with my gcc 5.4.0 on Ubuntu 16.04, does not get inlined, despite being an inline function.

This seems like a reasonable place to override the compiler. But I'm not sure of a good cross-platform way to do this. This works in gcc: `inline __attribute__((always_inline)) Real operator() (MatrixIndexT i) const`.

Based on profiling with Linux's perf tool, my w

[2018-05-08 05:11] danpovey commented on #2406
that's interesting.  will the __attribute__ thing break compilation on other compilers?

[2018-05-08 05:59] galv commented on #2406
It will definitely on Microsoft Visual Studio.

I just checked, and clang works fine as well.

Anyway, the equivalent of __attribute__((always_inline)) in Visual Studio
is __forceinline, so we could achieve the same there with these macros:

#ifdef _MSC_VER#define forceinline __forceinline#elif
defined(__GNUC__)#define forceinline __attribute__((always_inline))
inline#else#define forceinline inlin

[2018-05-09 09:41] verydemo opened #2409 "Compiled by vs2017,error: vector iterator + offset out of range(nnet3)"
error: vector iterator + offset out of range
nnet3-latgen-faster ,nnet3-am-copy,nnet3-align-compiled,nnet3-compute...

[2018-05-09 12:22] leomao opened #2410 "transition to python 3"
According to [PEP 373](https://www.python.org/dev/peps/pep-0373/), python 2 will reach its EOL in 2020.  I think It's time to migrate scripts to python3.  Is there any plan for this?

[2018-05-09 17:36] danpovey commented on #2410
Yes there is a plan.
The current status is that new scripts are written in python3 and invoked as '#!/usr/bin/env python3'.  Existing scripts, are invoked as '#!/usr/bin/env python' but we modify them such that they should be compatible with python3.  Whenever we get reports of things not working (on systems where python3 is the default) we fix them.  Since Kaldi is kind of sprawling, there will l

[2018-05-09 17:36] #2410 closed

[2018-05-09 19:01] danpovey commented on #2409
I can't fix this without more details.  Was this a runtime error?

[2018-05-10 10:48] #2409 closed

[2018-05-11 08:20] anavc94 opened #2413 "Error instaling faster-RNNLM"
Hello,

I am having some issues installing faster-RNNLM in Ubuntu 16.04. As the instrucction suggests, I run the script extras/install_faster_rnnlm.sh but the output says:

``Installing Faster RNNLM
Already up-to-date.
Folder 'eigen3' already exists. Exiting
nvcc cuda_softmax.cu -c -Xcompiler "-O3 -march=native -funroll-loops" -o cuda_softmax.o
/usr/include/string.h: In function ‘void* __mempcpy_i

[2018-05-11 20:25] danpovey commented on #2413
You probably shouldn't be installing that.
Kaldi now has inbuilt RNNLM tools that are faster to train than
faster_rnnlm and also give better results, I believe.
e.g. see egs/swbd/s5c/local/rnnlm/run_tdnn_lstm.sh.

Dan

On Fri, May 11, 2018 at 4:20 AM, anavc94 <notifications@github.com> wrote:

[2018-05-11 22:44] danpovey opened #2415 "remove 'ar' option"
@jtrmal, what do you think..
when linking I'm getting these warnings:

ar -cru kaldi-nnet3.a nnet-common.o nnet-compile.o nnet-component-itf.o nnet-simple-component.o nnet-normalize-component.o nnet-general-compone\
nt.o nnet-parse.o natural-gradient-online.o nnet-descriptor.o nnet-optimize.o nnet-computation.o nnet-computation-graph.o nnet-graph.o am-nnet-\
simple.o nnet-example.o nnet-nnet.o nne

[2018-05-11 22:45] #2413 closed

[2018-05-11 22:45] #2400 closed

[2018-05-12 21:28] #2367 closed

[2018-05-13 10:41] phoenixbai opened #2417 "exp/tri4b/graph_phone is not created after the execution of thchs-30 run.sh"
I am trying to run thchs-30, and run.sh exit at below location with log:

steps/nnet/decode.sh: missing file exp/tri4b/graph_phone/HCLG.fst
local/score.sh --min-lmwt 4 --max-lmwt 15 --cmd run.pl --mem 4G data/dae/test/0db/cafe exp/tri4b/graph_word exp/tri4b_dnn_dae/decode_word_0db/cafe
local/score.sh: scoring with word insertion penalty=0.0,0.5,1.0
steps/nnet/decode.sh --cmd run.pl --mem 4G --nj 8

[2018-05-13 14:50] kckao opened #2418 "THCHS-30 ali-to-pdf crash"
[code]

[2018-05-13 16:30] JunyuWei opened #2419 "Online2 decode error"
I met some cases that when I am talking，chain model decodes right. But when I stop, it changed the result wrong(e.g. delete some words before).I wonder how to improve this. Any advice is thankful.

[2018-05-13 17:41] danpovey commented on #2419
If that happens frequently or consistently, or with a certain type of error
pattern, it's interesting.
It might be about the language model probability of end-of-sentence--
possibly the final word in what you said had a low end-of-sentence
probability and once you finalize the utterance, that gets taken into
account.

Dan

On Sun, May 13, 2018 at 12:30 PM, JunyuWei <notifications@github.com> wrote

[2018-05-13 17:52] danpovey commented on #2418
thanks-- to fix it I'd need to know more info about how it crashes.
you can head the file $dir/log/analyze_counts_pdf.log to get the exact
command line, then do
gdb --args analyze-counts [args]
(gdb) r
.. wait for it to crash
(gdb) bt  # to get backtrace
(gdb) up # keep going up till you get to an interesting stack frame; 'down'
reverses it.
(gdb) p x  # x is an example: print any relevant-looking

[2018-05-13 18:07] danpovey commented on #2417
I suspect what happened is you edited that script (local/thchs-30_decode.sh) while it was running.  bash reads files line by line, so you have to be careful about editing them while they run.

[2018-05-13 18:07] #2417 closed

[2018-05-13 23:27] phoenixbai commented on #2417
@danpovey I am sure I didnot do that. But just in case, I will rerun to see if it is possible to reproduce it.
thank you!

[2018-05-14 10:01] kckao commented on #2418
I'm sorry. That is because OOM.
I look into the analyze_counts_pdf.log, and when it did "ali-to-pdf exp/tri4b_ali/final.mdl 'ark:gunzip -c exp/tri4b_ali/ali.*.gz |' ark:-",
there is  "ERROR:~SequentialTableReaderArchiveImpl():util/kaldi-table-inl.h:678) TableReader: error detected closing archive"
And I found there are a lot of "error detected closing archive" in other logs.
After modified n jobs

[2018-05-14 10:01] #2418 closed

[2018-05-15 02:06] JunyuWei commented on #2419
@danpovey Thank you for the respoding. Actually the error happens frequently,especially at the begining and at the end of the sentences. It should be about the  language model, because it happened since i changed lmwt to 8. I will continue keep an eye on it, Temporarily, I shut off the final decoding to get the result right.

[2018-05-15 06:08] JunyuWei commented on #2419
But  during deocding and scoring, I found the lowest wer occured when lmwt was 8.

[2018-05-15 06:09] danpovey commented on #2419
probably you have very limited data and you are mostly looking at noise.

[2018-05-15 06:09] #2419 closed

[2018-05-15 12:23] Xillef opened #2423 "error in make -j (src)"
Hi,
I'm trying to follow the install instructions but got errors while doing "make -j" in src.
Running on Ubuntu 18.04
Still quite new to Linux and ASR in general, so I might not understand "technical" language.
Sounds to me like smth in the fst files is wrong

make checkversion
make[1]: Entering directory '/home/ubuntu/git/kaldi/src'
The version of configure script matches kaldi.mk version. Good.

[2018-05-15 16:30] galv commented on #2415
`-u` will "update" the archive with only those .o files listed on the command line that are newer than those same-named .o files in the .a file. But because `-D` is on by default, the timestamp on the .o files inside the .a file are forced to 0 (beginning of unix time. 1970 or whatever?). So you will basically always update all files in the archive, making the `-u`option pointless.

I looked into

[2018-05-15 16:57] danpovey commented on #2423
You'll need to clean the OpenFst compilation from tools/ and recompile.
Likely you changed your system compiler since you installed OpenFst (or you supplied some non-default compiler to one of the scripts).

[2018-05-15 16:57] #2423 closed

[2018-05-18 02:54] liangyanfeng opened #2427 "run ivector-extractor-sum-accs crash in aishell"
ivector-extractor-sum-accs --parallel=false "ivector-extractor-acc-stats --num-threads=4 --num-samples-for-weights=3 exp/extractor_1024/0.ie 'ark,s,cs:add-deltas --delta-window=3 --delta-order=2 scp:data/train/split40/1/feats.scp ark:- | apply-cmvn-sliding --norm-vars=false --center=true --cmn-window=300 ark:- ark:- | select-voiced-frames ark:- scp,s,cs:data/train/split40/1/vad.scp ark:- |' 'ark,s

[2018-05-18 02:56] danpovey commented on #2427
You'll normally get those kinds of problems if you don't have enough memory.
you can use a machine with more memory or increase the num-jobs.
see kaldi-asr.org/forums.html for how to ask questions.  you could have found that using a simple web search.

[2018-05-18 02:56] #2427 closed

[2018-05-18 10:51] linzehua opened #2428 "Can kaldi score by PER (phoneme error rate) , instead of WER(word error rate) ?"
I am runing the 'timit' egs, by the result return its WER by default. I have not found how to get PER in document. Is there anybody know? How to setup for PER ? Thank you

[2018-05-18 10:52] linzehua commented on #2428
I am runing kaldi in ubuntu

[2018-05-18 20:53] danpovey commented on #2428
WER is  just what it prints, it's actually PER in the TIMIT case because the transcripts are at the phone level.  You probably could have found this out from a web search.
See kaldi-asr.org/forums.html for how to ask questions.

[2018-05-18 20:53] #2428 closed

[2018-05-21 19:45] Fhrozen opened #2438 "Breaks on wjs/utils/fix_data_dir.sh"
Hello There:

I am being trying to execute the the feature extraction recipe in ESPnet, but I found that every time that the code executes fix_data_dir.sh it just stopped the main routine. I found that this stops at the line 100, int he filter_recordings function, just before finishes.
I modified with the following:

[code]
adding a true before the fi. (it also works with echo "")

My question is

[2018-05-21 20:03] #2438 closed

[2018-05-23 12:21] Worldexe opened #2444 "rnnlm-sentence-probs broken in non-debug build"
There is code like this in `rnnlm-sentence-probs.cc:107`:
[code]

In non-debug build this leads to non-working code without any warnings.

[2018-05-23 19:07] danpovey commented on #2444
@hainan-xv, please fix this.

On Wed, May 23, 2018 at 8:21 AM, Worldexe <notifications@github.com> wrote:

[2018-05-23 19:13] hainan-xv commented on #2444
Hmm I didn't know the KALDI_ASSERT would be ignored in non-debug builds.

I guess I should have an if - KALDI_ERR check for this?

On Wed, May 23, 2018 at 3:07 PM, Daniel Povey <notifications@github.com>
wrote:

--
- Hainan

[2018-05-24 08:28] saquibntt commented on #2112
@songpu2015617 were you able to cross compile on 64bit arm processor?

[2018-05-24 13:51] vesis84 opened #2448 "lattice-lmrescore-kaldi-rnnlm-pruned, Error: "Possibly not all states of input lattice are co-accessible?""
Hi Hainan, Dan,
the problem with 'lattice-lmrescore-kaldi-rnnlm-pruned' is still there, even after re-building the GMM model/lattices, and when using nnet3-rnnlm:

`ASSERTION_FAILED (lattice-lmrescore-kaldi-rnnlm-pruned[5.4.107-f0333]:ComputeLatticeStateInfo():compose-lattice-pruned.cc:585) : '!arc_costs.empty() && "Possibly not all states of input lattice are co-accessible?"'`

I looked into the

[2018-05-25 05:40] Worldexe commented on #2444
I hot-patched it like this in my code:
[code]

[2018-05-25 07:31] jtrmal commented on #2444
Hainan, the ASSERT and KALDI_ASSERT macros shouldn't be used for error
checking. Typically, it is suggested to use them for testing things that
"cannot happen", i.e. typically sanity checks. It is documented that the
arguments of the macro will get removed, i.e. not called when the build is
not a debug build.
If you need to do error checks (which seems exactly this case), you should
test the retur

[2018-05-25 13:57] hhadian opened #2451 "nnet3 acoustic model score fusion"
I was thinking that it could be useful to have support for system combination at nnet output level. For e.g. we can use this feature to combine 2 chain models (e.g. TDNN-F and TDNN-LSTM) which use the same tree for combined decoding. Currently, it seems that there are no scripts/binaries for this.

One way to do this is to use the existing class [DecodableSum()](https://github.com/kaldi-asr/kaldi/

[2018-05-25 14:07] vesis84 commented on #2448
(after discussing it by email w/o github...)

Hi all,
aha, I see. I tried adding the 'fst::Connect(&clat)' to lattice rescoring tool, and it fixed the problem.

The lattices were generated with 'steps/decode_fmllr.sh', I did not modify anything.
According to the script, the last tool called was: lattice-determinize-pruned-parallel
(and I used the current HEAD from the kaldi-asr/master on github)

[2018-05-25 14:39] vesis84 commented on #2448
And the lattice, which is causing the trouble is far from empty:

[code]

And the diff is:

[code]

The `Infinity,Infinity,` weight looks suspicious, but it might be normal for the partial paths?

[2018-05-25 15:00] vesis84 commented on #2448
Aha, it seems we should add `fst::Connect(.)` into `lattice-determinize-pruned-parallel`.
In `lattice-determinize-pruned` it's already there, right after determinization and before the minimization...

Btw. is there a tool which calls just `fst::Connect(.)`, I added it as an option to `lattice-copy`,
but I am not sure if it is not already somewhere else...

K.

[2018-05-25 18:07] danpovey commented on #2448
I think we generally assume that programs will output things that are
already connected; that's why we don't have command line tools to do that.
Anyway it looks like the issue is fixed.

On Fri, May 25, 2018 at 11:00 AM, Karel Vesely <notifications@github.com>
wrote:

[2018-05-26 05:18] vesis84 commented on #2448
Yes, the rnnlm rescoring is working well for me now.

In the same time, I came across another issue: the RNNLM training crashes 'randomly' with an error message:
[code]

This can appear in 39th iteration, till that point the training works fine. It is with this GPU:
`LOG (rnnlm-train[5.4.146~5-6b94e]:FinalizeActiveGpu():cu-device.cc:247) The active GPU is [1]: GeForce GTX 1080 free:7927M, used:187

[2018-05-26 17:08] danpovey commented on #2448
That is a GPU driver bug.  I believe that particular bug is related to file locking in the ~/.nv/ directory, which relates to JIT compilation caching.  It happens when several programs start at the same time and NFS is slow.
The bug is not present in recent driver versions, but recent drivers contain even worse bugs (see #2450) so don't upgrade to fix it.
I believe you can resolve that issue by pu

[2018-05-26 17:08] #2448 closed

[2018-05-28 02:07] zhly0 opened #2457 "Denoise module"
Hi，this is not a issue，just a question，is kaldi has  a  module that denoise the input？or the denoise module was implement by the user？
Thanks!

[2018-05-28 02:11] danpovey commented on #2457
No it doesn't have such a module.
Generally speaking denoising methods (e.g. spectral subtraction) will just deteriorate ASR performance.  What works better is multi-style training-- train on the same types of noises that  you want to test on.

[2018-05-28 02:11] #2457 closed

[2018-05-28 03:27] zhly0 commented on #2457
Thanks！

[2018-05-28 11:02] Excalib88 opened #2458 "ConstFst::Read: Read failed: <unspecified>"
Hi all. I try to use kaldi for recognition with my model. But i get such error(i attach link in the pastebin under text) If you can help me decide this problem i will be grateful. If you have a ready assembly for Windows then it will be very excellent, Thank you for such Great!!!
https://pastebin.com/NtaswnAA

[2018-05-28 18:02] danpovey commented on #2458
It looks like you are on Windows.  Problems are to be expected.
To narrow it down you could see whether that file is nonempty, and try to
see if running 'fstcopy' on it (to a different file location) works or
crashes.  If it fails then it's likely the issue is in the FST code (-->
harder to fix, but maybe still possible); if it works it might be a
kaldi-specific issue that we could more easily fix

[2018-05-29 03:08] kkm000 commented on #2458
@danpovey, I'm on it, ok to close. This was supposed to be fixed, they might just have a  pre-fix code snapshot.

[2018-05-29 03:08] #2458 closed

[2018-05-29 03:09] kkm000 commented on #2458
Xref kkm000/openfst/issues/11

[2018-05-29 03:11] danpovey commented on #2458
Thanks, @kkm000!

On Mon, May 28, 2018 at 11:09 PM, Kirill Katsnelson <
notifications@github.com> wrote:

[2018-05-30 06:20] vishalprabha opened #2462 "Final answer extraction from Apiai-Decode egs"
Hi,

How to extract just the transcription answer of the Apiai-Decode model using ./recognize.sh.
This prints the output on the console, however using subprocess or >> to write the output in the file is not copying out everything.
Does anyone know how to get the transcription of the given wav file from the terminal?

[2018-05-30 17:09] danpovey commented on #2462
maybe it is going to stderr, figure out how redirect the standard error,
e.g. redirecting it with

instead of > foo

On Wed, May 30, 2018 at 2:20 AM, Vishal Prabhachandar <
notifications@github.com> wrote:

[2018-05-31 06:30] GurjotSingh179 commented on #1990
Hi.... i am trying to apply extras/openfstwin-1.3.4.patch ... since i am working on windows i am using git apply command rather than patch command... i get the following result
D:\gurjot_shared\Language2018\KALDI_SAME_VER_AS_UNIX\kaldi\tools\openfst\src\inc
lude\fst>git apply --whitespace=nowarn ..\..\..\..\extras\openfstwin-1.3.4.patch

error: patch failed: src/include/fst/compat.h:23
error: src/

[2018-05-31 08:26] #2365 closed

[2018-05-31 08:28] #2345 closed

[2018-05-31 14:45] jtrmal commented on #1990
sorry, not much to say, you are probably trying to patch a wrong version of
openfst or using an incorrect tool (I'm not sure how selective the git
apply is about the format of the patch).
But we stopped supporting (and using) openfst 1.3.4  quite a long time ago
anyway, so I don't think this deserves my or your or anyone else's effort
anyway.
y.

On Thu, May 31, 2018 at 2:31 AM GurjotSingh179 <not

[2018-06-03 07:03] vishalprabha commented on #2462
Thank you got it!

[2018-06-07 07:49] Worldexe opened #2480 "Small logger improvement: non-static helper functions"
I suggest making `static std::string KaldiGetStackTrace()` and `const char *GetProgramName()` in `base/kaldi-error.cc` non-static (and add prototypes to header), so they can be used in custom log handlers just like they are used in default handler.

[2018-06-08 01:01] thiagocrepaldi opened #2481 "Is openfst.nyu.edu offline ?"
During Kaldi 1.4.1 build on Linux on a remote docker container I got the following error:

make[3]: Leaving directory '/usr/local/kaldi-c024e8aa/tools/sctk-2.4.9/src/rttm2ctm'
(cd rttmSmooth; make install)
--2018-06-04 06:59:53--  (try: 2)  http://openfst.cs.nyu.edu/twiki/pub/FST/FstDownload/openfst-1.4.1.tar.gz
Connecting to openfst.cs.nyu.edu (openfst.cs.nyu.edu)|128.122.80.127|:80...
failed: Co

[2018-06-08 01:18] danpovey commented on #2481
That site was never very reliable, but the installation script (actually,
the Makefile) is designed to fail over to openslr.org so the warnings
should be harmless.

@jtrmal, how about changing that location from openfst.cs.nyu.edu to
openfst.org?  I know they are changing the hosting, and likely the nyu.edu
address will eventually become invalid.

On Thu, Jun 7, 2018 at 9:01 PM, Thiago Crepaldi <n

[2018-06-08 01:44] jtrmal commented on #2481
I will change it, but it should be used as a backup anyway already, so the
install shouldn't fail. I think he copied only a small part of the output
(or didn't wait long enough).
y.

On Thu, Jun 7, 2018 at 9:18 PM Daniel Povey <notifications@github.com>
wrote:

[2018-06-08 05:09] thiagocrepaldi commented on #2481
It eventually succeed, but it took almost 40 minutes to fallback to the second domain. Here is a more complete log

2018-06-08T00:38:01.2133027Z make[2]: Leaving directory '/usr/local/kaldi-c024e8aa/tools/sctk-2.4.9/doc'
2018-06-08T00:38:01.2155835Z make[1]: Leaving directory '/usr/local/kaldi-c024e8aa/tools/sctk-2.4.9'
2018-06-08T00:39:52.5751718Z [91mfailed: Connection timed out.
2018-06-08T00:

[2018-06-08 05:18] danpovey commented on #2481
You are using a super-old version of Kaldi.  The current version downloads
version 1.6.5 of OpenFst and times out much quicker.
Perhaps you expect us to go back in time and fix old commits of Kaldi?

On Fri, Jun 8, 2018 at 1:10 AM, Thiago Crepaldi <notifications@github.com>
wrote:

[2018-06-08 05:18] #2481 closed

[2018-06-08 11:21] jtrmal commented on #2481
Hm, 40 mins is definitely too much.
Y.

On Fri, Jun 8, 2018, 01:10 Thiago Crepaldi <notifications@github.com> wrote:

[2018-06-08 12:48] jtrmal commented on #2481
I agree with Dan -- plus we are using www.openfst.org instead of the old mirror already.

[2018-06-08 12:50] jtrmal commented on #2406
Guys, I propose we close this, because it's not an issue, but a well-documented (and imo reasonable, the more I think about it) behavior of the compiler(s)

[2018-06-08 12:50] #2406 closed

[2018-06-08 12:53] jtrmal commented on #2415
I didn't notice this -- will try to update the switches -- but I wonder if this will cause troubles for older ar releases, as I didn't see this message until very recently?

[2018-06-08 15:31] keanbin opened #2482 "cp: cannot stat 'data/train_960_cleaned': No such file or directory"
run local/nnet/run_fsmn_ivector.sh DFSMN_S
error: cp: cannot stat 'data/train_960_cleaned': No such file or directory

where are data/train_960_cleaned?

[2018-06-08 18:11] danpovey commented on #2482
it would have been set up if you had run the run.sh before.
but this is in a PR, it's not in kaldi master, we don't support things like this.

[2018-06-08 18:11] #2482 closed

[2018-06-08 18:57] danpovey commented on #2406
I usually prefer to deal with pointers directly when speed is likely to be
an issue, rather than calling that operator.

On Fri, Jun 8, 2018 at 8:50 AM, jtrmal <notifications@github.com> wrote:

[2018-06-09 02:57] leomao opened #2484 "CUDA 9.2 supports GCC 7"
CUDA 9.2 is now listing gcc-7.3.1 in its supported compiler.
Should add following into `src/configure`.

[code]

[2018-06-09 03:16] danpovey commented on #2484
Sure, that makes sense.

On Fri, Jun 8, 2018 at 10:58 PM, Leo Mao <notifications@github.com> wrote:

[2018-06-09 12:37] jtrmal commented on #2415
Seems to be related to this:
https://wiki.debian.org/ReproducibleBuilds/TimestampsInStaticLibraries
I propose to do as @danpovey suggests -- to remove the u option. Another possibility would be to add U option, which (at least that is my impression) would revert us to the old behavior. The library creation would be a bit faster, but I don't think this is the bottleneck in compilation with static l

[2018-06-09 15:49] jtrmal commented on #2388
@danpovey I think this can be closed

[2018-06-10 13:19] leomao commented on #2484
0f954c27228436a088417cd1d7b1557357f012ec miss `;;` at the end.

[2018-06-10 14:49] hartsantler opened #2490 "configure syntax error unexpected token"
running configure in the src directory gives this error.
configure: line 421: syntax error near unexpected token `)'

[code]

[2018-06-10 14:59] hartsantler commented on #2490
i changed line 421 of the configure script, and added `;;` then it works.

[code]

[2018-06-10 15:14] hartsantler commented on #2490
now i can run `./configure --shared` but now i get an error about OpenFst.
Its strange that it falls back to the path `/include/fst/fst.h`, because on linux that should be `/usr/include/fst/fst.h`

[code]

I installed OpenFst using `sudo dnf install openfst-devel openfst-tools` and fst.h is in /usr/include/fst where it should be.
[code]
The configure script but not be fedora compatible, because de

[2018-06-10 15:40] d2sys opened #2491 "kaldi install: src/configure file syntax error"
in this file https://github.com/kaldi-asr/kaldi/blob/master/src/configure
line 421
missing `;;` before the token `*)`

in order to reproduce:
`cd src`
`./configure --shared`

error:
`syntax error near unexpected token ')'`

[2018-06-10 15:44] #2491 closed

[2018-06-10 15:44] d2sys commented on #2491
#2490

[2018-06-10 18:53] danpovey commented on #2490
We have fixed the syntax error in "configure".  But you should follow the instructions that it gives you, and look at ../tools/INSTALL, instead of going your own way.

[2018-06-10 18:53] #2490 closed

[2018-06-11 02:54] TianBinyu opened #2492 "can not build related so"
Dear gooofy
Now we need to porting kaldi to Tizen platform, and the kaldi need use :
/usr/lib/libatlas.so.3
/usr/lib/libf77blas.so.3
/usr/lib/libcblas.so.3
/usr/lib/liblapack_atlas.so.3
after we download the atlas&lapack code, we only can generate three file, but the liblapack_atlas.so.3  is never created~
Can you help me to check this issue?
Thank you very much~

[2018-06-11 03:01] danpovey commented on #2492
It may work without liblapack_atlas-- it might be so-called "fat" atlas
where several different libararies are combined into one.
Or prehaps you didn't configure it to build the LAPACK parts.
I don't recommend to try to build ATLAS libraries yourself, the build
process is complicated.  Best to get libraries that someone else built.  Or
use CBLAS.

This
http://kaldi-asr.org/doc/matrixwrap.html
expl

[2018-06-11 10:13] v-yunbin opened #2493 "How to train DNN model with nnet2 or nnet3?"
1. I have train model with nnet1 but i do not konw how to kick off train with nnet2 or nnet3
if i want to use nnet2 or nnet3, need to configure some parameter or compiling in tools ?
2. whether i can to retrain a DNN model based on a prepared DNN model with own data?

[2018-06-11 18:11] danpovey commented on #2493
You should follow an example script that uses nnet2 or nnet3.  e.g. mini_librispeech.  And adapt that to your data.
I don't know what you mean by the 2nd question but in any case the answer is probably going to be no, simply because it might be complicated and you seem too clueless to do it.  See kaldi-asr.org/forums.html for how to ask questions.

[2018-06-11 18:11] #2493 closed

[2018-06-12 09:08] v-yunbin commented on #2493
@danpovey I think it's amazing. You're ridiculous.

[2018-06-12 15:05] teinhonglo commented on #2451
Hi
I am interested in how to implement on nnet3.
Do you have any progress in score fusion?

Tien Hong

[2018-06-13 01:40] hyuezhi commented on #886
I use convert_nnet2_to_nnet3.py script in **kaldi-master/egs/librispeech/s5** to transfrom my nnet2 models to nnet3, and the model came from **/trunk/egs/librispeech/s5/exp/nnet2_online/nnet_a/final.mdl** in _http://kaldi-asr.org/downloads/build/6/trunk/egs/librispeech/s5/exp/nnet2_online/nnet_a/_. But I got the following error:
_**ERROR** (nnet3-init[5.4]:Check():nnet-nnet.cc:737) Dimension misma

[2018-06-13 02:01] danpovey commented on #886
There is not a lot of reason to use that script-- we may have created it
for testing purposes.  If you have a nnet2 model it will generally be
easier to just use nnet2 tools with it.

Dan

On Tue, Jun 12, 2018 at 9:40 PM, hyuezhi <notifications@github.com> wrote:

[2018-06-13 02:27] hyuezhi commented on #886
Thanks for your answer!

but maybe I have the reasons to use the nnet3 model (_https://github.com/tbright17/kaldi-dnn-ali-gop_), or I got the error like this:
**ERROR** (compute-dnn-gop[5.4]:ExpectToken():io-funcs.cc:212) Expected token "<Nnet3>", got instead "<Nnet>"
__more information_: compute-dnn-gop --use-gpu=no exp_dnn/gop/tree exp_dnn/gop/final.mdl data_dnn/lang/L.fst 'ark,s,cs:apply-cmvn -

[2018-06-13 02:33] danpovey commented on #886
Maybe you can ask those people to make available the model they used the
tool with.

On Tue, Jun 12, 2018 at 10:27 PM, hyuezhi <notifications@github.com> wrote:

[2018-06-13 03:00] hyuezhi commented on #886
ok, thanks!

[2018-06-13 05:50] TianBinyu commented on #2492
@danpovey
when i try to porting atlas to Tizen platform, i found  lots of build error related with CPU and gcc setting.
I think it is hard to porting all atlas.... :(

[2018-06-13 11:54] jhennrich opened #2496 "Building nnet3 with DOUBLE_PRECISION=1 fails"
Building with DOUBLE_PRECISION=1 fails because `BaseFloat` is defined as `double`, so the following two functions have the same Signature:

[code]

Fix:
Since the second one is only a converter and only required if DP is disabled, it could be removed. Replace the function with:
[code]

[2018-06-13 14:42] jtrmal commented on #2484
resolved, closing

[2018-06-13 14:42] #2484 closed

[2018-06-13 14:45] jtrmal commented on #2415
resolved, closing

[2018-06-13 14:45] #2415 closed

[2018-06-13 18:08] danpovey commented on #2496
Thanks for reporting the issue.  I think an easier fix would be to change
the BaseFloat to float.
Would you mind making a PR?

On Wed, Jun 13, 2018 at 7:54 AM, Johannes Hennrich <notifications@github.com

[2018-06-13 18:12] danpovey commented on #2492
Sorry: instead of saying "or use CBLAS" I should have said "Or use
OpenBLAS".  OpenBLAS is easier to build than ATLAS, and people seem to
already have adapted it for that platform.

https://bugs.tizen.org/browse/TRE-1897

On Wed, Jun 13, 2018 at 1:50 AM, BinYu <notifications@github.com> wrote:

[2018-06-14 00:56] TianBinyu commented on #2492
@danpovey
thank you for your help~
i will try it~

[2018-06-14 08:14] TianBinyu commented on #2492
@danpovey
when i want to build matrix.so, it request me to choose one option:
bash-3.2# g++ -std=c++11 -I.. -I/.build.packages/BUILD/kaldi-0.1.01/tools/openfst/include  -Wall -Wno-sign-compare -Wno-unused-local-typedefs -Wno-deprecated-declarations -Winit-self -DKALDI_DOUBLEPRECISION=0 -DHAVE_EXECINFO_H=1 -DHAVE_CXXABI_H   -I/.build.packages/BUILD/kaldi-0.1.01/tools/ATLAS_headers/include   -pthrea

[2018-06-14 08:29] TianBinyu commented on #2492
@danpovey
it can choose openBLAS, thank you Danpovey~

[2018-06-14 08:41] hpkit opened #2500 "Thouble with training script (in github.com/freerussianasr/recipes)"
--- Preparing pronunciations for OOV words ...
Traceback (most recent call last):
File "/home/kaldi/kaldi/tools/sequitur-g2p/bin/g2p.py", line 4, in
import('pkg_resources').run_script('sequitur==1.0a1', 'g2p.py')
File "/usr/lib/python2.7/dist-packages/pkg_resources/init.py", line 719, in run_script
self.require(requires)[0].run_script(script_name, ns)
File "/usr/lib/python2.7/dist-packages/pkg_res

[2018-06-14 12:14] jhennrich commented on #2496
Then you would get the same problem when compiling with DP turned off.

[2018-06-14 12:28] vesis84 opened #2501 "fstpushspecial, not converging after 200 iterations,"
Hi,
I've been recently looking into the `fstpushspecial` described in section 4  in [ping-ping paper (icassp13)](http://www.danielpovey.com/files/2013_icassp_pingpong.pdf).

It appeared that the method does not converge on our "min(det(L o G))":
`WARNING (fstpushspecial[5.4.53~1-eba5]:Iterate():push-special.cc:182) push-special: finished 200 iterations without converging.  Output will be inaccurat

[2018-06-14 13:01] jtrmal commented on #2500
you are not saying which recipe nor you are showing the command line.
y.

On Thu, Jun 14, 2018 at 4:41 AM hpkit <notifications@github.com> wrote:

[2018-06-14 13:06] hpkit commented on #2500
i try voxforge_ru recipe from https://github.com/freerussianasr/recipes

[2018-06-14 13:38] jtrmal commented on #2500
I'm closing the issue here, please continue with the owners of the source repository.
Please do not reopen -- contact me directly or create an issue here: https://github.com/sequitur-g2p/sequitur-g2p

[2018-06-14 13:38] #2500 closed

[2018-06-14 18:01] danpovey commented on #2501
There will be very little negative consequences: a probably-indetectable
increase in search errors.
We could easily increase the max-iterations of that program, but it would
make it slower.
It's not like it's diverging; it just converges slowly for some inputs.
I'm not 100% sure what specific property these problematic inputs have.

Dan

On Thu, Jun 14, 2018 at 8:28 AM, Karel Vesely <notifications

[2018-06-14 18:18] danpovey commented on #2496
No, because it would exist in both float and double, and BaseFloat would
equal one of the two.

On Thu, Jun 14, 2018 at 8:14 AM, Johannes Hennrich <notifications@github.com

[2018-06-14 20:58] jtrmal opened #2502 "generating spurious zeros as words in the lexicon"
The way the awk line is
https://github.com/kaldi-asr/kaldi/blob/ca239f22dabcd1cde4b73a0dabeb148c58ccce45/egs/multi_en/s5/local/g2p/apply_g2p.sh#L32
generates lot of zeros (character 0) as oov words.txt, if the given speaker/utterance contains no oovs at all:
output from count_oov.pl
[code]
gets converted by this line into
[code]
instead of just outputting
[code]

I believe one fix would be
[code]

[2018-06-14 20:59] jtrmal commented on #2502
@xiaohui-zhang can you please confirm and fix?

[2018-06-14 22:17] xiaohui-zhang commented on #2502
Probably just:
awk '{if (NF > 3 ) {for(i=4; i<NF; i++) printf "%s",$i OFS; printf "%s",$NF; printf ORS}}'

Sure I'll commit. Thanks Yenda for pointing it out.

[2018-06-14 22:20] danpovey commented on #2502
OK, but I think you are being too fancy with the OFS and ORS.  You can just
do:
awk '{if (NF > 3 ) {for(i=4; i<NF; i++) printf "%s ",$i; print $NF;}}'
which I think will have the same effect.

On Thu, Jun 14, 2018 at 6:18 PM, Xiaohui Zhang <notifications@github.com>
wrote:

[2018-06-15 00:16] TianBinyu commented on #2492
@danpovey
After i use OpenBLAS, the issue is fixed, thank you very much~

[2018-06-15 00:17] #2492 closed

[2018-06-15 00:48] jtrmal commented on #2502
@xiaohui-zhang you will probably want to create PR?

[2018-06-15 08:42] jhennrich commented on #2496
True, that works

[2018-06-15 17:39] jtrmal commented on #2344
I don't remember precisely, but they are generated from an agglomerative clustering tree where every slice through the tree forms a question. This is not a good place to ask questions like that -- use kaldi-help for that purpose

[2018-06-15 17:39] #2344 closed

[2018-06-15 17:39] #2462 closed

[2018-06-15 17:41] jtrmal commented on #2179
I'm closing this as I think we have resolved the issues by upgrading on the paid plan.

[2018-06-15 17:41] #2179 closed

[2018-06-17 12:58] Downchuck opened #2509 "Pipe stream for FST fails via OpenFST calling istream tellg"
Gave a quick try at '/bin/gunzip -c ./HCLG.fst.gz |' -- which leads to
[code]
From OpenFST
[code]
My understanding is that the file gets loaded into memory anyway, but OpenFST is expecting istream whereas Kaldi IO is (reasonably) returning an istream popen tellg that is not overloaded to increment on read. That said, OpenFST does have an LZA compression extension. This just may have been easier fo

[2018-06-17 13:16] Downchuck commented on #2509
Going to close this bug report -- doesn't appear worth the effort to try to build this in.

[2018-06-17 13:16] #2509 closed

[2018-06-17 17:51] danpovey commented on #2509
Likely that is a ConstFst, which is optimized for loading via memory
mapping.  I guess the OpenFst people have decided not to support gzipped
files for that case because it would defeat the efficiency of memory
mapping.
I think it's an inherent limitation which likely can't be worked around by
changing Kaldi code.

On Sun, Jun 17, 2018 at 8:58 AM, Charles Pritchard <notifications@github.com

[2018-06-17 19:40] Downchuck commented on #2509
Confirmed that it was just my FST; gunzip works fine when I take out alignment via:
[code]

I don't know that alignment is necessary -- it seems to be the new default to be unaligned in the OpenFst code base.

[2018-06-18 20:16] calderma opened #2512 "e2e training"
I noticed something when using the script run_end2end_phone.sh on my own data. The message that is presented (by utils/data/perturb_speed_to_allowed_lengths.py) when trying to use a directory with a segments file is:

The data directory 'data/train' seems to use
a 'segments' file. This script does not yet support a 'segments' file. You'll need to use utils/data/extract_wav_segments_data_dir.sh to

[2018-06-18 20:18] calderma commented on #2512
Just saw this was changed in the most recent commit. Ignore this.

[2018-06-18 20:18] #2512 closed

[2018-06-20 14:44] suresh-s opened #2516 "Speaker recognition possible"
Is Speaker recognition possible with this framework?  I want to store the input voice pattern as part of enrolment process. then want to verify the input voice and find out who is currently speaking.

Is it possible?

[2018-06-20 17:04] danpovey commented on #2516
yes but this isn't the place for this type of question, and also, you need to do some background reading on speaker recognition and specifically speaker recognition with Kaldi.  If you had done even a basic web search you would have found plenty of info.

[2018-06-20 17:04] #2516 closed

[2018-06-20 18:43] songpu2015617 opened #2517 "Debug ASR"
I am new to this area. I know this question maybe asked before. But I still want to know how Kaldi debug ASR failures from the output? How can you figure out it is the AM failure, lexicon failure or LM failure? Thanks for any input.

[2018-06-20 18:47] danpovey commented on #2517
You can't.  It's not even clear to me that it would be meaningful to classify failures in that way (except possibly in cases where the  reference transcription had words not in the lexicon).
Anyway see kaldi-asr.org/forums.html for how to ask questions.

[2018-06-20 18:47] #2517 closed

[2018-06-21 09:18] TianBinyu opened #2518 "make_vad failed"
@danpovey

[mfcc.zip](https://github.com/kaldi-asr/kaldi/files/2122914/mfcc.zip)

Dear danpovey, we finished to porting kaldi to tizen platform.But when it runs, we met one issue:

sid/compute_vad_decision.sh --nj 1 --cmd run.pl data/sre16_eval_enroll exp/make_vad /home/abuild/rpmbuild/BUILD/Speaker-Identification/Speaker-Identification-Server/xv/mfcc
run.pl: job failed, log is in exp/make_vad/vad

[2018-06-21 14:11] jtrmal commented on #2502
@xiaohui-zhang , you fixed it only in your repo, can you please create a PR?

[2018-06-21 14:11] jtrmal commented on #2496
resolved, closing

[2018-06-21 14:11] #2496 closed

[2018-06-21 15:04] xiaohui-zhang commented on #2502
oh I've fixed it and Dan has merged it:
https://github.com/xiaohui-zhang/kaldi/commit/86acc448d3969d9afdbb2e3550bae748e4b62a2b Sorry I thought you know that...

[2018-06-21 15:10] jtrmal commented on #2502
ok, good -- no, I didn't know that, that links leads only to your repository

[2018-06-21 15:10] #2502 closed

[2018-06-21 15:11] jtrmal commented on #2206
@xiaohui-zhang I guess this was merged also?

[2018-06-21 15:16] xiaohui-zhang commented on #2206
yep

[2018-06-21 15:16] #2206 closed

[2018-06-21 15:27] jtrmal commented on #1869
I'm closing this because we moved to the commercial travis and I hope we won't see this bug -- if yes, then I will reopen.

[2018-06-21 15:27] #1869 closed

[2018-06-25 18:06] Xinyi7 opened #2519 "problem with make test for cuda"
[code]

[2018-06-25 18:09] danpovey commented on #2519
Looks like your GPU is too old.

[2018-06-25 18:09] #2519 closed

[2018-06-27 10:08] bluemonk482 opened #2523 "Is there any speaker diarization documentation and already trained model?"
Hi there, thanks for Kaldi :)

I want to perform speaker diarization on a set of audio recordings. I believe Kaldi recently added the speaker diarization feature. I have managed to find [this link](https://github.com/kaldi-asr/kaldi/tree/master/egs/callhome_diarization), however, I have not been able to figure out how to use it since there is very little documentation. Also, may I ask is there any

[2018-06-29 04:34] Xinyi7 opened #2524 "question about enrollment data utterance number per speaker"
Hi,

I have a question about enrollment data. As I increased the utterance number per speaker for the enrollment data for sre16 recipe from 1 to 4, i did not notice significant increase in the performance of  the model. I am wondering if that is normal or not.

Thanks in advance for your help.
Xinyi

[2018-06-29 22:47] #687 closed

[2018-06-30 02:07] bamba518 opened #2526 "Minibatch size, number of iterations, epoch"
I have a 1080 card with 12 mb of ram, and get memory issues with most of the dnn set ups
 --trainer.num-chunk-per-minibatch=128, 64 seem to be too big?
If I change this to a lower number like 16, 8 then would i need to adjust  epoch number and number of iterations accordingly to train to the same amount?

[2018-06-30 02:09] danpovey commented on #2526
Probably because you are trying to share the GPU between multiple jobs.
You should set exclusive mode (nvidia-smi -c 3) and use the GPU for one job
at a time.  You can change --use-gpu=wait to --use-gpu=yes to
chain/train.py or whatever training script it is.

On Fri, Jun 29, 2018 at 10:07 PM, Don <notifications@github.com> wrote:

[2018-06-30 02:09] danpovey commented on #2526
and see kaldi-asr.org/forums.html for how to ask questions.

[2018-06-30 02:09] #2526 closed

[2018-07-02 19:34] #2524 closed

[2018-07-03 10:49] xiaoming0217 opened #2530 "Out-of-bound Posterior element with index 3341, higher than number of columns 3328"
Dear sir,
    There comes a problem when i was training dnn model in thchs30,which describes like this:job failed, log is in exp/tri4b_dnn/log/train_nnet.log. Then i checked the error log,which reads:” ERROR (nnet-train-frmshuff[5.4]:PosteriorToMatrix():posterior.cc:484) Out-of-bound Posterior element with index 3341, higher than number of columns 3328”.Could you help me slove the problem?
 Thank

[2018-07-03 22:17] danpovey commented on #2530
I suspect there may be some kind of mismatch here, e.g. the alignments not matching the tree or something like that.  @vesis84 knows more about nnet1 issues.  He may respond if he is available.  But i'm closing the issue as I very much doubt it's a bug (that code has been around for a long time).

[2018-07-03 22:17] #2530 closed

[2018-07-04 08:37] bamba518 opened #2532 "aishell2 run.sh"
when I run aishell2 like i run any other script ./run.sh everything works fine until
# GMM
if [ $stage -le 2 ]; then
  local/run_gmm.sh --nj $nj --stage $gmm_stage
fi
it just prints to screen
local/prepare_all.sh succeeded
+ nj=20
+ stage=1
+ . ./cmd.sh
++ export train_cmd=run.pl
++ train_cmd=run.pl
++ export decode_cmd=run.pl
++ decode_cmd=run.pl
++ export mkgraph_cmd=run.pl
++ mkgraph_cmd=run.pl

[2018-07-04 09:12] bamba518 commented on #2532
if I comment this out, then it works
set -euxo pipefail
to
#set -euxo pipefail

[2018-07-04 12:57] dophist commented on #2532
@underdogliu  I couldn't reproduce any error on my Mac, could you please look into this?

[2018-07-05 06:42] naxingyu commented on #2532
According to our investigation, a majority of Chinese Kaldi users do not
have GridEngine in hand.
That's why we choose run.pl as default, other than following the common egs
style.
I think a solution would be to warn the user that run.pl will consume a lot
of training time.

On Thu, Jul 5, 2018 at 3:26 AM Daniel Povey <notifications@github.com>
wrote:

[2018-07-05 06:48] danpovey commented on #2532
Please just do as I asked.

On Thu, Jul 5, 2018 at 2:42 AM, Xingyu Na <notifications@github.com> wrote:

[2018-07-05 06:51] GaofengCheng commented on #2532
SGE can be setup even though only one server is available.
And even though we have one server at hand, we will first setup a one-server SGE and run kaldi....

[2018-07-05 14:27] Xinyi7 opened #2533 "text-dependent speaker verification"
Hello, administrators!
I am posting this issue because I am new to the kaldi project. While I did notice that there are sre16 recipe for text independent speaker verification, I am wondering if there are existing recipes for text dependent speaker verification?
Thank you in advance for you help!

[2018-07-05 22:28] #2533 closed

[2018-07-07 10:12] GrantGon opened #2537 "when training the DFSMN used "egs/librispeech/s5$ vim local/nnet/run_fsmn_ivector.sh""
# NN-INITIALIZATION
 93 # initializing NN from prototype 'proto/DFSMN_S.proto'
 94 nnet-initialize --seed=777 proto/DFSMN_S.proto exp/tri7b_DFSMN_S/nnet.init
 95 ERROR (nnet-initialize[5.4]:Input():kaldi-io.cc:756) Error opening input stream proto/DFSMN_S.proto
 96
 97 [ Stack-Trace: ]
 98
 99 kaldi::MessageLogger::HandleMessage(kaldi::LogMessageEnvelope const&, char const*)
100 kaldi::MessageLogg

[2018-07-08 05:21] GrantGon commented on #2537
OK，thank you!

[2018-07-09 14:27] arogozhnikov opened #2539 "website is down"
kaldi-asr.org seems to be down

[2018-07-09 14:44] gorinars commented on #2539
It is likely just blocked in your region. Try accessing via TOR or VPN

[2018-07-09 14:50] arogozhnikov commented on #2539
indeed, blocked in my region. Thanks

[2018-07-09 14:50] #2539 closed

[2018-07-09 14:50] nedvedj opened #2540 "Is there any script to merge splitted data?"
Hi, I used cleanup/split_long_utterance.sh to split long wavs in my test set. From decode, I got splitted data which can not be compared with original non splitted text (split_long_utterance split only wavs). Is there any script which merge output from decode back to one utterence?

[2018-07-09 17:31] vimalmanohar commented on #2540
split_long_utterances.sh is for splitting training data using text. It should have split even text. For test data, you might want to use steps/segmentation/detect_speech_activity.sh.
Here is an example recipe on swbd: https://github.com/kaldi-asr/kaldi/blob/master/egs/swbd/s5c/local/run_asr_segmentation.sh

[2018-07-10 10:08] nedvedj commented on #2540
It generated only text.orig, orig2utt, reco2file_and_channel and segments which define how to devide wavs, but nothing happened with text :-/

Thank you for a link, I will look at it

[2018-07-10 14:58] johnjosephmorgan commented on #2388
The script utils/data/get_reco2dur.sh seems to be causing a problem. The file data/train/reco2dur is not getting written. I see a potential problem on lines 53 and 54 of utils/data/get_reco2dur.sh.

[2018-07-10 18:14] danpovey commented on #2540
That segmentation script, steps/segmentation/detect_speech_activity.sh, is intended for when you don't have transcripts.
As for cleanup/split_long_utterance.sh, I'm sure it would be possible to merge the text back to the original utterance, but it's probably not a good idea, as that script may have disacrded some portions of the file that didn't seem to match the transcript, so merging the text ba

[2018-07-10 18:14] #2540 closed

[2018-07-10 21:36] Xinyi7 opened #2543 "problem with run.pl with gpu"
Hi, I am posting this issue that when I run run.pl --gpu 1 with kaldi, no error message was reported but the gpu usage according to nvidia-smi is still 0 percentage. I posted an issue earlier about gpu config before bc the gpu was too old but I have already changed the gpu to GTX 1060. I am wondering if there is anything that I did wrong that caused this? Thank you so much for your help.

[2018-07-10 23:16] Xinyi7 commented on #2543
I am sorry i feel that I did not state the question clear enough. I ran cd to cudamatrix dir and ran make test after the installation and the test all passed. However, when I tried to extract mfcc vectors, I realized that the gpu is performing at 0% and 1%  and the script did not show up in the processes. Does mfcc extraction process not use gpu? I appreciate your time and help. :)

[2018-07-10 23:33] danpovey commented on #2543
MFCC extraction doesn't use GPU.  Only neural net training.

[2018-07-10 23:33] #2543 closed

[2018-07-11 09:43] Jackiexiao opened #2545 "Is there any script to convert ali.txt to phones?"
Is there any script to convert ali.txt to phones, ali.txt is like
[code]
 I find utils/int2sym.pl but I don't know how to use it.

[2018-07-11 14:06] Xinyi7 commented on #2543
Thank you.

[2018-07-11 17:13] Nimitz14 commented on #2545
`src/bin/ali-to-phones`

[2018-07-12 09:58] #2545 closed

[2018-07-14 07:58] dophist commented on #2532
@danpovey I think this issue has already been fixed in @underdogliu 's latest commit, time to close maybe.

[2018-07-14 18:55] #2532 closed

[2018-07-16 21:24] danpovey opened #2552 "cu-matrix need something optimized"
@kangshiyin, I wonder if you could help me optimize a particular case of AddDiagMatMat?  It's something that I'm encountering in propagation of BatchNorm for a convolutional component (where block-dim is set); it's being called indirectly via AddDiagMat2.

With reference to the function definition:
[code]
(gdb) p M
p M
$8 = (const kaldi::CuMatrixBase<float> &) @0x7fffffffbff0: {
  data_ = 0x4abb76

[2018-07-17 07:14] breeef opened #2553 "nnet3-xvector-compute error"
i tried run:nnet3-xvector-compute final.raw scp:test.scp ark:test.ark to get vectors
but something should do before run this command ,i'm not good at shell and prel,please tell me ,what
i should do ,mfcc?

[2018-07-17 12:52] kangshiyin commented on #2552
#2555 speeds up matrix of the size (1048576, 32) from 1.25 gflops to 16.44 gflops, but it still has distance to the possible peak ~55 gflops on that size. I will try it in a day or two.

[2018-07-17 17:49] danpovey commented on #2553
Your initial comment mentioned  the error:
``` Failed to read matrix from stream. : Expected "[", got "RIFFF" File position at start is 0, currently 5```
That looks like you are trying to read a wav file where a matrix of features were expected.  Until you understand Kaldi better you should be looking at the example scripts, not the underlying binaries.
E.g. in egs/sre16/v2/run.sh, search for sid/

[2018-07-17 17:49] danpovey commented on #2553
and see kaldi-asr.org/forums.html for how to ask questions.

[2018-07-17 17:49] #2553 closed

[2018-07-18 08:16] yusuf-gunaydin opened #2558 "Question about long silences in online decoding."
We had performance drop during online recognition that included silences. Adding silence-weight option fixes the records that include say up to 1000-1500 ms (not sure about the exact duration, it might be greater than this) of continuous silence. If the silence is longer than this duration, the performance drop becomes an issue again.

Questions:
  - Is that drop in performance an expected situati

[2018-07-18 09:06] yangxueruivs commented on #2537
The local/nnet/run** script is not correct, which send a incorrect .proto address to train_fast script, you need to modify yourself.

[2018-07-19 09:09] Diamondyelo opened #2559 "Question about the MFCC calculations existed in Kaldi"
1. I found that Kaldi 5.3 and Kaldi 5.1 gives different MFCC results for the same input audio file. Is there any difference in the method of MFCC calculation between these two versions?

2. In kaldi 5.1, I try two differents ways of inputing the audio file. The first one is the audio file as a whole file. The second way is cutting the whole file into frames. By calculating the mfcc values of the f

[2018-07-19 20:01] entn-at commented on #2559
This may be caused by the `--dither` option which causes random Gaussian noise to be added to the signal to avoid log of zero. It defaults to `1.0`, you can set it in your `mfcc.conf` to `0.0`.

[2018-07-20 12:45] Herlderlord opened #2561 "Voxceleb Nnet Core dumped"
I've run the voxceleb v2 recipe (x-vectors) and i encountered the following error:

``
bash: line 1: 43540 Aborted                 (core dumped) ( nnet3-shuffle-egs --srand=73 ark:exp/xvector_nnet_1a/egs/egs_temp.73.ark ark,scp:exp/xvector_nnet_1a/egs/egs.73.ark,exp/xvector_nnet_1a/egs/egs.73.scp ) 2>> exp/xvector_nnet_1a/egs/log/shuffle.73.log >> exp/xvector_nnet_1a/egs/log/shuffle.73.log
``

Thi

[2018-07-20 17:59] danpovey commented on #2561
you should show us what's in the log file.

[2018-07-23 01:04] shadowoom opened #2566 "librispeech data validation issue"
![capture](https://user-images.githubusercontent.com/7023289/43052314-0d6ef514-8e57-11e8-8495-5feda1e397e6.PNG)

I was running the librispeech s5 example and followed the steps in run.sh.
Has anyone encountered similar issue?  Can tell me how to resolve this?

[2018-07-23 02:55] danpovey commented on #2566
I can't see a reference to make_fbank.sh in any of the scripts in the librispeech s5 directory.  Are you using an up-to-date version of Kaldi (if not, how recent?) and are you using Kaldi from the official source?  Have you changed the scripts, perhaps?

[2018-07-23 03:52] shadowoom commented on #2566
Thank you for the reply.

I directly cloned from this repo, https://github.com/tramphero/kaldi. The Alibaba_MIT_Speech_DFSMN patch which was built on the Kaldi speech recognition toolkit with commit "04b1f7d6658bc035df93d53cb424edc127fab819", was applied.

The run_fsmn_ivector script in librispeech/s5/local/nnet/ folder can be found here:
https://github.com/tramphero/kaldi/blob/master/egs/librispe

[2018-07-23 04:22] danpovey commented on #2566
It may be it is from a bug that was in an older copy of Kaldi at some
point; merging with master might resolve it (but it might not).
I'm not going to provide support for that external repo.

On Sun, Jul 22, 2018 at 8:52 PM, shadowoom <notifications@github.com> wrote:

[2018-07-23 04:51] shadowoom commented on #2566
Okay, thanks, I will try to merge with master and see how.

[2018-07-23 06:34] yangxueruivs commented on #2566
I also met this problem before. I just ignore the data validation part of wav.scp and reco2dur(last one) in utils/validation_data_dir.sh and then it works correctly.

[2018-07-23 06:47] shadowoom commented on #2566
Thanks, that's really helpful.

On Mon, Jul 23, 2018 at 2:34 PM, YangXuerui <notifications@github.com>
wrote:

[2018-07-24 03:12] YihengJiang opened #2568 "has problem when use ssh.pl to run program"
First thanks for authors' work.

I write the follow two lines to  .queue/machines
172.16.46.105
172.16.46.108

Note: I run script on machine:172.16.46.105

but when I run script,it requests password for machine 172.16.46.105 ,however, this machine is my dominate machine, I have boot lots of processes,so it can not input password one by one, and it should not requests password in my understanding.

[2018-07-24 03:14] danpovey commented on #2568
I guess you are parallelizing using ssh.pl.
it's a ssh configuration issue.  Find someone local who understands such things.

[2018-07-24 03:14] #2568 closed

[2018-07-24 05:55] Diamondyelo commented on #2559
Thanks for help, the second question has been successfully resolved.

I would also like to ask if it is possible to set the parameters so that the mfcc calculation results of the latest version of kaldi and kaldi5.1 are the same. I use the default parameters ( --use-energy=false ) to calculate mfcc in these two versions, the average relative error of the obtained results reached 30%.

[2018-07-24 09:06] pinkwayne opened #2569 "rnnlm-embedding-training issue"
i was training rnnlm with word embedding and sample.lm，but failed.
logs：
![wx20180724-164936](https://user-images.githubusercontent.com/6999747/43127394-f566b63a-8f61-11e8-8711-6dd27eb55f96.png)

maybe AddMat is not suitable here, embedding_deriv and embedding_mat_ have different number of rows since embedding_deriv was computed based on sampled words, not the whole vocab.
https://github.com/kaldi

[2018-07-24 10:41] JRMeyer opened #2570 ".has_key() removed from Python3"
There's multiple scripts in the nnet3
training pipeline which include .has_key()
to search a dict for a key, but this method
breaks in python3

use `key in dict` instead of `dict.has_key(key)`

[2018-07-24 11:16] JRMeyer commented on #2570
Here are the files with has_key:

egs/wsj/s5/steps/nnet3/dot/nnet3_to_dot.py
egs/wsj/s5/steps/nnet3/xconfig_to_configs.py
egs/voxforge/gst_demo/run-live.py
egs/wsj/s5/steps/nnet2/make_multisplice_configs.py
egs/wsj/s5/steps/libs/nnet3/xconfig/parser.py
egs/wsj/s5/steps/libs/nnet3/report/log_parse.py

[2018-07-24 17:17] danpovey commented on #2570
Thanks.  Do you have time to make a PR to fix it?

On Tue, Jul 24, 2018 at 4:16 AM, Josh Meyer <notifications@github.com>
wrote:

[2018-07-24 17:19] danpovey commented on #2569
We don't always run with that backstitch setting.  It's possible that the code with batchstitch and without letter features (i.e. with word-level embedding) was never tested.  @freewym, do you have a chance to look at the code?

[2018-07-24 17:29] JRMeyer commented on #2570
I can easily make the changes, but I'm not confident I can run checks to
make sure it's all good...

Would you still like me to do a PR?

вт, 24 июл. 2018 г., 8:17 ПП Daniel Povey <notifications@github.com>:

[2018-07-24 17:42] danpovey commented on #2570
It's OK, I'll just look over the diff to check that it looks OK.   The
change is small enough that I don't think we need to test it.

On Tue, Jul 24, 2018 at 10:29 AM, Josh Meyer <notifications@github.com>
wrote:

[2018-07-24 17:54] JRMeyer commented on #2570
OK- I'll make a PR then

вт, 24 июл. 2018 г., 8:43 ПП Daniel Povey <notifications@github.com>:

[2018-07-24 18:29] #2559 closed

[2018-07-25 00:48] danpovey commented on #2569
@hainan-xv, can you look at this?  Yiming may not be checking his email regularly.

[2018-07-25 08:09] misbullah commented on #2150
Hi,

Recently, I updated Kaldi and compile with --shared flag, but got the following error.

`make[2]: Entering directory '/var/speech/kaldi-master/src/fstext'
g++ -std=c++11 -I.. -I/var/speech/kaldi-master/tools/openfst/include -Wno-sign-compare -Wall -Wno-sign-compare -Wno-unused-local-typedefs -Wno-deprecated-declarations -Winit-self -DKALDI_DOUBLEPRECISION=0 -DHAVE_EXECINFO_H=1 -DHAVE_CXXABI_H

[2018-07-25 17:18] #2570 closed

[2018-07-25 18:14] hainan-xv commented on #2569
Sure. I'll try to fix this.

I would probably have to re-write this anyway since the issue I mentioned
in the progress report is most likely due to some bug in the embedding
training code. Not backstitch per se, but if the non-backstitch version had
a bug, this probably did too.

On Tue, Jul 24, 2018 at 8:48 PM, Daniel Povey <notifications@github.com>
wrote:

--
- Hainan

[2018-07-26 08:33] frpunzalan opened #2577 "configure support for cuda on arm64"
Hi,

I was trying to compile kaldi on a 64-bit Tegra device and ran into some errors:

/usr/local/bin/ld: cannot find -lcublas
...

I looked into the generated kaldi.mk and it seems that compiler couldn't find the correct library path. The linker was pointing to /usr/local/cuda/lib instead of /user/local/cuda/lib64. Looking at the configure script, it seems that the makefiles/cuda_32bit.mk was inc

[2018-07-26 19:22] danpovey commented on #2577
Thanks.  Any chance you can make a PR for that change

[2018-07-27 01:51] frpunzalan commented on #2577
Sure. Will do once I tested it out.

[2018-07-27 04:10] frpunzalan commented on #2577
tested the configure edits on an arm64 device and it compiled. also ran make test on src/cudamatrix and checked the log to make sure that gpu was used.

I submitted a pr just now.

Cheers,
Rusty

[2018-07-27 18:31] iacoshoria commented on #2523
Any updates on this? I'm looking as well for a proper documentation/usage examples.

[2018-07-27 18:42] david-ryan-snyder commented on #2523
@bluemonk482 there is a pretrained model at http://kaldi-asr.org/models/m6.

We agree that there needs to be better documentation for this. We're discussing how best to do this.

[2018-07-30 01:38] #2566 closed

[2018-07-30 03:20] xiaoming0217 opened #2583 "Cannot allocate the requested memory"
Dear sir,
             There comes a problem when I was training nnet3  model in aisehll, which describes like this:

LOG (nnet3-train[5.4]:PrintMemoryUsage():cu-allocator.cc:127) Memory usage: 565742480 bytes currently allocated (max: 641014368); 334091864 currently in use by user (max: 493138232); 12619/135552 calls to Malloc* resulted in CUDA calls.
WARNING (nnet3-train[5.4]:MallocPitchInternal

[2018-07-30 03:34] unizhu commented on #2379
On redhat system python3 is called python32,33,3X...

[2018-07-30 04:06] danpovey commented on #2583
See if there is a warning earlier in the log about exclusive mode.  In that case you should use exclusive mode (nvidia-smi -c 3) and set `--use-gpu=yes` as the arg to chain/train.pyl

[2018-07-30 16:58] david-ryan-snyder commented on #2523
@iacoshoria the recipe is not bound to this dataset. We are talking about making a diarization recipe based on some freely available dataset (such as AMI), but that will probably not be in the main branch of Kaldi any time soon (@mmaciej2, do you have an easy to follow AMI recipe somewhere you can point to?).

I recently ran diarization on the "Speakers in the Wild" dataset. I'll show you a few li

[2018-07-30 17:21] mmaciej2 commented on #2523
@david-ryan-snyder I do not currently have an easy-to-follow AMI recipe. I was in the process of reworking it to be fairly simple and use VoxCeleb training data when I got distracted by more-pressing work.

There is *an* AMI recipe here:
https://github.com/mmaciej2/kaldi/tree/ami-diarization/egs/ami_diarizaiton/v1
I won't guarantee anything, but I think it does run end-to-end and produce very medi

[2018-07-31 08:29] ericyue opened #2585 "How to do acoustic-model pruning or quantization in chain nnet3 model?"
I have a pretrain am about 100mb.
Considering my device limitation, is there a way to make acoustic-model smaller? (for speed and memory) ,the language model has already pruned to a small size.

[2018-07-31 16:01] danpovey commented on #2585
The best way is to just train a model that's smaller from the start.

On Tue, Jul 31, 2018 at 1:29 AM, Eric Yue <notifications@github.com> wrote:

[2018-07-31 19:58] hainan-xv commented on #2569
Just created a PR https://github.com/kaldi-asr/kaldi/pull/2586. I've tested it on SWBD.

[2018-08-01 00:28] johnjosephmorgan commented on #2225
I found sed compatibility problems in the following file:
egs/heroico/s5/local/prepare_data.sh
I suggest replacing:
sed -e "s/\r//"
with
tr -d "\r"

[2018-08-01 00:30] danpovey commented on #2225
Oh-- where it fail and why?
Any chance you could make a PR?
I know you have other changes to that recipe too-- now might be a good time
to make a PR for that too.

On Tue, Jul 31, 2018 at 5:28 PM, John J Morgan <notifications@github.com>
wrote:

[2018-08-01 00:40] johnjosephmorgan commented on #2225
I am running the heroico recipe  on Mac OSX BSD Unix.
The \r is not filtered out when writing the wav.scp, utt2spk and text lists.
This causes a utf8 encoding check to fail when feature extraction is started.

I'll work on a pr.
j

[2018-08-01 02:19] xiaoming0217 commented on #2583
@danpovey
Thank you so much for your reply.I tried your method，and built a compute-exclusive mode by using nvidia-smi -c 3. However, there comes a error which described like this:

nnet3-train --use-gpu=yes --read-cache=exp/nnet3/tdnn_sp/cache.12 --print-interval=10 --momentum=0.0 --max-param-change=2.0 --backstitch-training-scale=0.0 --l2-regularize-factor=0.333333333333 --backstitch-training-int

[2018-08-01 04:14] danpovey commented on #2583
You don't seem to have read my entire reply.
Anyway you shouldn't ask this question here.  see kaldi-asr.org/forums.html for how to ask questions in general, but this question is frequently asked and there are plenty of replies about it on the list.

[2018-08-01 04:14] #2583 closed

[2018-08-01 10:59] iacoshoria commented on #2523
@david-ryan-snyder
Thank you for this very comprehensive guide in getting things to work! It was really helpful.

I started off on wrong foot right in the data preparation step, since I needed a version of the data that doesn't know anything about speech segments, to run the segmentation step.
That meant adding in both `utt2spk` and `spk2utt` just a simple mapping from recording_id to recording_id

[2018-08-01 14:35] david-ryan-snyder commented on #2523
You should just use one of those PLDA models for your recipe. Also, if you have enough in-domain training data, you'll have better results training a new PLDA model. Also, if your data is wideband microphone data, you might even have better luck using this x-vector system: http://kaldi-asr.org/models/m7. It was developed for speaker recognition, but it should work just fine for diarization as well

[2018-08-03 03:15] #2585 closed

[2018-08-03 09:47] qindazhu opened #2589 "Run "nnet-compute-test" on windows will cause error "vector iterator + offset out of range" and then crash."
Hi there,

If you build kaldi on windows according to the instructions [https://github.com/kaldi-asr/kaldi/blob/master/windows/INSTALL.md]() and run project "nnet-compute-test", then you will get error `vector iterator + offset out of range`.  The reason is as below.

Actually, there are two code snippets will cause the same error, they are both in function `IndexVectorHasher::operator ()` of `nne

[2018-08-03 11:35] olix20 commented on #2558
@yusuf-gunaydin have you considered doing vad/sad before decoding?

[2018-08-03 11:47] yusuf-gunaydin commented on #2558
Normally we are using VAD. However, when I talked with the team they said there may be some circumstances that using VAD may not be possible and in those cases long silences degrade the performance.

If it is expected for Kaldi to have low performance on long silence even with silence weighting I can try to persuade my team to use VAD everywhere.

[2018-08-03 19:16] danpovey commented on #2558
Could the issue be that your utterances are very long?  I don't recomend to
decode things longer than about 15 seconds; things like OpenFst's BestPath
won't work very well for such long utterances.

It would be interesting to know what kinds of errors you are getting.  Is
it that after the silence, you get deletions?  Just generally a lot of
errors?  What is the silence-weight you are using?  Is t

[2018-08-03 19:32] danpovey commented on #2589
Sure, make a PR.

On Fri, Aug 3, 2018 at 2:48 AM, qindazhu <notifications@github.com> wrote:

[2018-08-05 20:06] david-ryan-snyder commented on #2561
@danpovey, we can close this

[2018-08-05 20:09] #2561 closed

[2018-08-05 20:19] david-ryan-snyder commented on #2518
I don't know what tizen is, but I do have a few suggestions:

* Verify what happens to your file on a standard platform. Maybe your file is too quiet, or your energy threshold is too high.

* You can use **compare-feats** (https://github.com/kaldi-asr/kaldi/blob/master/src/featbin/compare-feats.cc) to compare features generated on the standard linux platform and tizen. They won't be identical, but

[2018-08-05 20:27] danpovey commented on #2518
Also, those binaries weren't always designed to operate on just one file.
It's possible that that file was really all silence, or quiet enough that
the dumb VAD would plausibly designate it as all silence.   In that case it
might not really be a bug.

On Sun, Aug 5, 2018 at 1:19 PM, David Snyder <notifications@github.com>
wrote:

[2018-08-05 20:27] david-ryan-snyder opened #2592 "Remove unused option in train_ubm.sh"
Making an issue for this so that I don't lost track of it again.

Dan:

of the example scripts use it, since it's never used.  This is true
for both steps/train_diag_ubm.sh and
steps/online/nnet2/train_diag_ubm.sh  (and possibly other scripts
too).

Also, we should reduce the --num-threads default from 32 to 16.

[2018-08-06 06:23] wsycysdrhpa opened #2595 "RNNLM script change from utf-8 to latin-1"
RNNLM script coding has change from utf-8 to latin-1, that means do not support chinese?

[2018-08-06 06:28] qindazhu commented on #2589
Added the pr #2594, Could you kindly help to review this?

[2018-08-06 06:29] wsycysdrhpa commented on #2595
It may encounter some problems when just run ptb.
rnnlm/get_unigram_probs.py: bad data-weights line: 'ptb   1   1.0':

[2018-08-06 06:59] yusuf-gunaydin commented on #2558
The utterances are shorter than 15 seconds. I have added an example utterance as [attachment](https://github.com/kaldi-asr/kaldi/files/2261429/4.zip). The structure is like: 0.5s silence -- 3s speech -- 2.5s silence -- 3s speech -- 2.5s silence.

The errors are deletions. For the attached file continous recognition result is "bir iki üç dört beş altı merhaba beş" while the full utterance decoding

[2018-08-06 16:58] danpovey commented on #2595
No, latin-1 means read as bytes and don't try to decode.
Please give more context (e.g. larger screen paste for that error).
@hainan-xv, please try to figure out what went wrong.

On Sun, Aug 5, 2018 at 11:29 PM, wsycysdrhpa <notifications@github.com>
wrote:

[2018-08-06 22:28] danpovey commented on #2558
Also I assume you didn't forget to set the
` --ivector-silence-weighting.silence-phones` option when you set the
`--ivector-silence-weighting.silence-weight` option?

On Mon, Aug 6, 2018 at 11:23 AM, Daniel Povey <dpovey@gmail.com> wrote:

[2018-08-07 01:40] wsycysdrhpa commented on #2595
The more INFOs just like that.

*** Downloading PTB text data ***
2018-08-07 09:39:56 URL:https://raw.githubusercontent.com/townie/PTB-dataset-from-Tomas-Mikolov-s-webpage/master/data//ptb.train.txt [5101618/5101618] -> "ptb.train.txt" [1]
2018-08-07 09:39:57 URL:https://raw.githubusercontent.com/townie/PTB-dataset-from-Tomas-Mikolov-s-webpage/master/data//ptb.valid.txt [399782/399782] -> "ptb.val

[2018-08-07 01:44] wsycysdrhpa commented on #2595
And if i change it to utf-8, it can go further, but shows Other errors after.

[2018-08-07 01:45] wsycysdrhpa commented on #2595
5.3 version is ok.

[2018-08-07 02:05] danpovey commented on #2595
I was able to replicate your problem-- not sure why this started happening only now.  The fix in #2597 seems to resolve it, can you please test?

[2018-08-07 02:24] wsycysdrhpa commented on #2595
I have tried, it seems skip the error, but the infos show as follows.

*** Downloading PTB text data ***
2018-08-07 10:22:43 URL:https://raw.githubusercontent.com/townie/PTB-dataset-from-Tomas-Mikolov-s-webpage/master/data//ptb.train.txt [5101618/5101618] -> "ptb.train.txt" [1]
2018-08-07 10:22:44 URL:https://raw.githubusercontent.com/townie/PTB-dataset-from-Tomas-Mikolov-s-webpage/master/data//pt

[2018-08-07 02:31] danpovey commented on #2595
OK, pull that branch and try again.
I suspect you are hitting a python3 compatibility issue because that
doesn't barf in python2.

On Mon, Aug 6, 2018 at 7:25 PM, wsycysdrhpa <notifications@github.com>
wrote:

[2018-08-07 02:49] wsycysdrhpa commented on #2595
Yeah! It works now, thank you!
But i still be inquisitive about kaldi prefer python2 or 3, thanks.

[2018-08-08 04:17] #2589 closed

[2018-08-08 05:36] banasu opened #2602 "Creating MFCC's"
I created MFCC's.
The (ID) (Ark file where mfcc is saved) : (offset) is in feats.scp.

My question is what exactly does the offset tell you?
For the first ID , offset = 4.
For the second , it was 38,067.
I tried counting for that many characters to see if ID1 began there. It didn't match with 4.
Need help.

[2018-08-08 05:49] danpovey commented on #2602
It's the character offset into the file.

[2018-08-08 05:49] #2602 closed

[2018-08-08 05:49] danpovey commented on #2602
..but not of the id-- of the actual object being stored, like the matrix. see kaldi-asr.org/forums.html for how to ask questions.

[2018-08-08 06:16] wangyunxiaa opened #2603 "how to transform a kaldi model to ONNX"
if i want to use kaldi-trained model in other environment like TF,I want to do a transform by ONNX，does kaldi support the conversion?and onnx is installed in python,if i want to transform a kaldimodel trained in c++,what shoud i do?do i need to install pykaldi?

[2018-08-08 09:32] DayDayStudyNightNightUp opened #2604 "Is there a data race in kernel function _trace_mat_mat_trans located in src/cudamatrix/cu-kernels.cu?"
Hello there!

Currently i am learning kaldi's source code, and may find a data race in in kernel function _trace_mat_mat_trans.

From line 1059 to line 1064:
[code]

where tid is defined in line 1034:
[code]

Let's assume we have two threads (0 0 0) and (1 0 0) and warpSize = 32. // (threadIdx.x threadIdx.y threadIdx.z)
Then the tid of (0 0 0) is 0, the tid of (1 0 0) is 1. When the loop terminate

[2018-08-08 11:18] shipleyxie opened #2605 "when install srilm i got Error :undefined reference to `libiconv_open'"

[2018-08-08 11:26] shipleyxie commented on #2605
after i download the srilm_1.7.2.tar.gz , i rename it to srilm.tgz and put it into the kaldi/tool/  directory
i also have install the necessay lib to srilm:
after that :
`sh install_srilm.sh`
and i got the following error repo
ps: i have install libiconv ,and i can see it in /usr/bin  and /usr/local/bin
Could someone give the a solution to this problem?
_______________________________
/media/ai01/

[2018-08-08 12:07] wangyunxiaa commented on #2603
Thanks for your reply~ I have read some samples about onnxmltools on"https://github.com/onnx/onnxmltools"，if i want to transform a  model in new freamwork to ONNX, maybe I need  installed the packages or tools about it,  by the way,if i will do the transform by myself,which packages shoud I install, because the trained model by kaldi is in C++ environment however onnx is installed in python?

[2018-08-08 14:46] underdogliu commented on #2603
It's just my personal guess without any proof - although it won't be officially supported in foreseeable future like what Dan said above, there is tools in the wild like 'tfkaldi' or any other in-house tools which supports nnet training using other python frameworks (actually as far as I know, thre are individual researchers train nnet in this way. For example: [this one](http://www.cstr.ed.ac.uk/

[2018-08-08 16:02] yusuf-gunaydin commented on #2558
Yes, I have set the silence phones option.

The issue seems to occur on specific model and utterance combinations. I have tried another utterance with the same model, but it is recognized correctly. And other models can recognize the utterance with silence I sent before.

We are trying to train a small model to reproduce the issue. (The one we tried before is a private company model.) However, we

[2018-08-08 16:25] mdeisher opened #2606 "egs/tedlium/s5/local/nnet/run_lstm.sh uses wrong argument"
I'm trying to retrain some old models we use for regression testing.  I found that the run_lstm.sh script for tedlium no longer works.  One issue is that --proto-opts "--clip-gradient 5.0" should probably be --proto-opts "--grad-clip 5.0" instead.  But even after that fix the script fails with error 127 and refers to the training log for more details.  Unfortunately, the training log shows nothing

[2018-08-08 16:44] danpovey commented on #2606
@vesis84 may be able to fix it.  I don't really maintain the nnet1 recipes myself.

[2018-08-08 16:49] danpovey commented on #2558
Unless this is an issue that shows up clearly in statistics, for instance
the offline decoder recognizes silence on 20% of frames and on the same
data the online decoder recognizes silence on 25% of frames, I don't think
it's something I should get into debugging because it's probably not a
bug.  It's expected that there are slight differences between the two
decoders, due to small differences in

[2018-08-08 16:56] danpovey commented on #2603
@wangyunxiaa, you won't be able to do this.

[2018-08-08 16:56] #2603 closed

[2018-08-08 17:00] yusuf-gunaydin commented on #2558
OK. I will close this issue now. If we can find a consistent case I will reopen it.

[2018-08-08 17:00] #2558 closed

[2018-08-08 17:15] danpovey commented on #2604
@kangshiyin, can you please check this?

[2018-08-08 17:38] kangshiyin commented on #2604
hi @DayDayStudyNightNightUp

You are correct that `ssum[0] += ssum[0 + 1]` and `ssum[1] += ssum[1 + 1]` are executed at the same time.  But since we are now in a warp, all the 32 threads (tid=0..31) are synchronized. So reading data from **_`ssum[1]`_** and `ssum[2]` always happens before writing data to `ssum[0]` and **_`ssum[1]`_** for thread tid=0 and tid=1.

You could refer to page 14 of the f

[2018-08-08 18:43] #2604 closed

[2018-08-09 03:38] liufei1656 opened #2608 "real-time factor is too high"
This is my log:
[code]
How to reduce my RTF(real-time factor:2.62039)? Thx a lot.

[2018-08-09 04:16] danpovey commented on #2608
You haven't given any information about what type of model you were using so there's nothing I can say.  See kaldi-asr.org/forums.html for how to ask questions.

[2018-08-09 07:58] shipleyxie commented on #2605
Fixed!
 remove lifile in /usr/local/bin   and /usr/local/include  will do the job.
it will let the script to find the correspoing link in /usr/bin and /usr/include.
and the install_srilm.sh script will successfully install this

[2018-08-09 07:59] #2605 closed

[2018-08-10 08:30] DayDayStudyNightNightUp opened #2612 "Possible data race issue in kernel function _copy_low_upp, _copy_upp_low, _add_diag_vec_mat"
Hi All,

I have found a false positive case by submitting issue to kaldi project here:
https://github.com/kaldi-asr/kaldi/issues/2604

The cpp code will compiled from "ssum[tid] += ssum[tid + shift];" to:
[code]

Seems the two threads are in the same warp, so when GPU dispatch statement to each thread in same warp, they execute same statement and will wait for other thread in the same warp to cont

[2018-08-10 10:59] misbullah commented on #2595
I also get this error last time: rnnlm/get_unigram_probs.py: bad data-weights line: 'ptb 1 1.0':

I change spaces with tab and it works.

Just for sharing.

[2018-08-11 10:37] kangshiyin commented on #2612
For a meaningful matrix, the condition `stride > 0` always holds.  For a meaningful row-major matrix, the condition `stride>=cols` always holds.  Your test cases just won't happen in Kaldi.

If you are interested in CUDA programming, I would suggest you copy the related code in Kaldi to stackoverflow.com and ask questions there.  More CUDA professionals are there available for these questions.
htt

[2018-08-11 11:08] #2612 closed

[2018-08-11 11:09] DayDayStudyNightNightUp commented on #2612
@kangshiyin Thanks for the help :)

[2018-08-12 03:44] #2608 closed

[2018-08-12 09:00] gangyahaidao opened #2614 "A feature request：How can I judge user intentions ？"
Hello，
I have a need for speech recognition now, and I have read many documents of this project, but I am still not sure whether this project can meet my need：

Now I have hundreds of thousands of wav audio files, which are only one to five seconds and divided into two categories, one is positive answer, the other is negative answer, but I do not have the text information corresponding to each wav

[2018-08-12 17:39] danpovey commented on #2614
It might be easier to use a more generic machine learning toolkit, since Kaldi is more oriented to tasks where there are some kind of sequences involved.  E.g. you could extract features for fixed-length chunks of those files and train a CNN (i.e. treat them as images, num-filter-banks by num-frames, to be classified).  Then for test utterances you could just average over all chunks.

If you don't

[2018-08-12 17:39] #2614 closed

[2018-08-13 01:48] gangyahaidao commented on #2614
Thank you very much for your reply, I understand the HTK speech recognition toolbox, may be able to meet my needs, but the final recognition accuracy need to be further test, anyway, I will try these two ways, one is direct to the audio file parsing recognize intention, another is the use of audio and text in-depth study

[2018-08-13 02:00] danpovey commented on #2614
I wasn't talking about using HTK, I was talking about things like TensorFlow.  I was talking about the HTK Book only for background information so you know speech-related terminology.

[2018-08-13 02:15] gangyahaidao commented on #2614
Got it
I have a training plan to mark ten thousand data, using the mature training tools, such as Kaldi or DeepSpeech, theoretically, make corresponding processing to the audio data, can use neural network training voice and data as training images, either way need to try, after all this demand, so far I have not found a may follow the example

[2018-08-13 02:38] gangyahaidao commented on #2614
Hi, @danpovey
You are a master. I don't know whether my demand is feasible in theory, that is, I use deep learning to deal with audio features without accurate audio annotation of text, and then I use this model to judge the user's speech intention. Is that possible

[2018-08-13 02:40] danpovey commented on #2614
It's certainly possible but right now you don't seem to have much experience.  You won't be able to do it unless you get familiar with the tools.  I don't have time to answer generic questions like this.

[2018-08-13 02:44] gangyahaidao commented on #2614
I will keep leaning and try it, Thank you for your advice

[2018-08-13 03:45] z771511189 opened #2616 "How to reduce the time-cost of extracting XVector"
I write a shell script based on egs/sre16/v2/run.sh to implement VoicePrintRecognition function on Android platform.
I find that when execute nnet3-xvector-compute process, it costs about 2 seconds on Android platform.
How to reduce the cost time?

[2018-08-13 03:55] z771511189 commented on #2616
Does there have multi-thread option in nnet3-xvector-compute like "gmm-global-init-from-feats --num-threads=$num_threads"?

[2018-08-13 04:53] gorinars commented on #2616
JFYI. You can check nnet3-xvector-compute-parallel implementation from

https://github.com/kaldi-asr/kaldi/pull/2303/files

I did not update the branch for a while, so you may want to merge it with more recent fork.

In our case, the main computational bottleneck was slow compilation solved by loading pre-computed cache. But multi-treading helps as well.

Still, as Dan noted, the model you are try

[2018-08-13 06:59] TianBinyu commented on #2518
Dear david-ryan-snyder &  danpovey
thank you for your reply~
I got it is the openBLAS issue, now when we use new openBLAS, issue is fixed.
So i will close this issue.
Thank you

[2018-08-13 06:59] #2518 closed

[2018-08-13 19:19] btiplitz opened #2617 "openblas configure option fails for rpm based package"
The configure for openblas is expecting the libaries/includes to be located in <>/lib ,...  In CenOS, the rpm installs the libraries into /usr/lib64 and the includes into /usr/include/openblas.  Ubunto 14,16 appear to install the libraries into /usr/lib/openblas-base with the include files also installed in /usr/include/openblas

[2018-08-13 20:41] btiplitz commented on #2617
I created a pull request.  I can't test this on my desktop, so I'm hoping for no syntax errors.  I am working on getting dependencies, etc so I could test this locally.

[2018-08-14 02:03] shipleyxie opened #2619 "How to deal with this : run egs TIMIT : mkgraph.sh: expected data/lang_test_bg/G.fst to exist"
============================================================================
         MFCC Feature Extration & CMVN for Training and Test set
============================================================================
steps/make_mfcc.sh --cmd run.pl --max-jobs-run 10 --nj 10 data/train exp/make_mfcc/train mfcc
steps/make_mfcc.sh: moving data/train/feats.scp to data/train/.backup
utils/validate_da

[2018-08-14 05:04] danpovey commented on #2619
see kaldi-asr.org/forums.html for now to ask questions.
Likely something went wrong earlier on, you didn't show early enough output.  Usually it will be quite obvious from the stdout, if you look at it carefully.

[2018-08-14 05:04] #2619 closed

[2018-08-14 05:23] longfenghou opened #2620 "How to establish one-2-one relationship between transition-id and PDF-id?"
Hello Author of Kaldi, i would like to ask a question about How to establish one-2-one relationship between transition-id and PDF-id?
In the ContextDependency class,
We may use Compute (const std::vector< int32 > &phoneseq, int32 pdf_class, int32 *pdf_id) const
to outputs the pdf_id for certain phoneseq,
However, based on this pdf_id, how to find out the corresponding Transition-id?
I found that o

[2018-08-14 05:26] danpovey commented on #2620
It can't be done.

[2018-08-14 05:26] #2620 closed

[2018-08-15 07:41] saber5433 opened #2624 "I have a problem when training the tdnn."ERROR (nnet3-chain-train[5.4]:SelectGpuId():cu-device.cc:160) Failed to create CUDA context, no more unused GPUs?""
![image](https://user-images.githubusercontent.com/15922669/44136904-1730b428-a0a1-11e8-896c-8f45ade09c5d.png)
LOG (nnet3-chain-train[5.4]:SelectGpuId():cu-device.cc:159) num-gpus=2. Device 0: all CUDA-capable devices are busy or unavailable.  Device 1: all CUDA-capable devices are busy or unavailable.
ERROR (nnet3-chain-train[5.4]:SelectGpuId():cu-device.cc:160) Failed to create CUDA context, no

[2018-08-15 07:54] saber5433 commented on #2624
@danpovey

[2018-08-15 08:58] hhadian commented on #2624
You can pass the option `--use-gpu=wait` to `steps/nnet3/chain/train.py` (in your chain training script).
See [here](https://groups.google.com/forum/#!msg/kaldi-help/oaOqkS0Cd_g/2la-ntKdBgAJ;context-place=forum/kaldi-help).

[2018-08-15 09:45] saber5433 commented on #2624
It works! Thanks!@danpovey

[2018-08-17 13:48] VertikaJain opened #2628 "CRASH in nnet3 -> nnet_computation"
Hi, I faced a crash while using the NnetComputation() method of nnet3 folder of kaldi. (related to compiler)
Please resolve the crash and update the code.

Thanks.

![screenshot 27](https://user-images.githubusercontent.com/40227841/44269390-003fcf80-a252-11e8-8487-2e119b64d305.png)

[2018-08-17 18:06] danpovey commented on #2628
That screenshot doesn't seem to have any information about a crash-- none
that's obvious to me, anyway.

On Fri, Aug 17, 2018 at 6:48 AM, VertikaJain <notifications@github.com>
wrote:

[2018-08-18 10:28] Jamesswiz opened #2630 "NNET3: 1D CNN"
Hello,
Is there any stable kaldi nnet3 recipe just with 1D CNNs with maxpooling?

[2018-08-18 17:25] danpovey commented on #2630
Yes, look for any recipe with a name like 'run_tdnn.sh'.  TDNNs and 1d CNNs
are the same thing.

On Sat, Aug 18, 2018 at 3:28 AM Jamesswiz <notifications@github.com> wrote:

[2018-08-18 17:26] danpovey commented on #2630
Oh, I see you edited it to say 'with maxpooling'.  In that case, no.

[2018-08-18 17:26] #2630 closed

[2018-08-18 20:16] danpovey commented on #2628
Possibly your program is multi-threaded and you were using that object without locking.

[2018-08-18 20:16] #2628 closed

[2018-08-19 07:44] iezhanqingran opened #2632 "error when training NN"
when I trained the TDNN, there occoured the following error:
![image](https://user-images.githubusercontent.com/17061626/44306677-5897de00-a3c6-11e8-9943-de60b2cb9cb2.png)
but when I used another GPU server to train the same network, it didnot occour any error
So how to solve it?
thank u.

[2018-08-19 18:07] danpovey commented on #2632
You didn't show enough of the output to make clear. but my guess would be a disk was full.

[2018-08-19 18:07] #2632 closed

[2018-08-20 14:21] Worldexe opened #2633 "compose-lattice-pruned.cc broken in release builds with optimizations"
In `src/lat/compose-lattice-pruned.cc:520`. there is code:
[code]
I am not sure if this infinity check conforms cpp standard, but it is broken at least on `g++ (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609` if kaldi is being compiled with `-Ofast` flag (`-O3` and less works OK).

I propose rewriting it like this:
[code]

Edit: okay, `-Ofast` implies `-ffast-math`, which changes, in particular, Na

[2018-08-20 18:10] danpovey commented on #2633
I had a look into this.
From this stack-overflow conversation:

https://stackoverflow.com/questions/22931147/stdisinf-does-not-work-with-ffast-math-how-to-check-for-infinity

it looks like even std::isinf does not work if you use -Ofast or -ffast-math, as it does not guarantee correct implementation of IEEE floating point.

So the upshot it: don't compile with that option.

[2018-08-20 18:10] #2633 closed

[2018-08-20 19:11] #1765 closed

[2018-08-23 06:48] iezhanqingran opened #2636 "ERROR when training tdnn"
when I trained the tdnn in the last iter of the last epoch, it occour an error, the log is in the attachment
how to solve it?
thanks
ERROR (nnet3-train[5.4]:CopyToVec():cu-vector.cc:899) cudaError_t 4 : "unspecified launch failure" returned from 'cudaMemcpy(dst->Data(), this->data_, sizeof(Real) * dim_, cudaMemcpyDeviceToHost)'

[ Stack-Trace: ]

kaldi::MessageLogger::HandleMessage(kaldi::LogMessa

[2018-08-23 16:13] francoishernandez opened #2637 "[scripts] [RNNLM] Strange behaviour related to encoding"
Hi there,
With @ldeseynes we've been having some encoding issues with recent RNNLM scripts. (Seems related to #2595 )
When writing features with `choose_features.py`, special characters such as accents etc. are not properly encoded. (See below for extract of `features.txt`.)
This does not break the pipe though. Training still runs still runs but produces very poor WERs when rescoring.

Old version

[2018-08-23 18:26] #2636 closed

[2018-08-23 18:26] danpovey commented on #2636
It's "unspecified launch failure".   That sometimes happens randomly when
GPUs crash or have bad hardware, or due to driver bugs.   I'd just rerun
from that stage.  See the --stage and --train-stage options to the
run_tdnn.sh or whatever script you were running.

On Wed, Aug 22, 2018 at 11:48 PM iezhanqingran <notifications@github.com>
wrote:

[2018-08-23 19:37] danpovey commented on #2637
Can you please try to figure out what might be going wrong?
I believe latin-1 encoding, if you always read and write using that
encoding, is supposed to preserve byte sequences.  So it's very
strange if that were not working.
e-acute seems to be bytes 303 251
and that other sequence seems to be 303 203 302 251

On Thu, Aug 23, 2018 at 9:13 AM François Hernandez
<notifications@github.com> wrote:

[2018-08-23 20:39] danpovey opened #2638 "cudaStreamPerThread"
reminder to me to set this on API calls.. apparently the compiler option only works for kernel invocations.

[2018-08-26 19:39] danpovey commented on #2637
@francoishernandez, @ldeseynes ... please look into this!  It's bothering me that it was not working.
I tried to reproduce the problem using some simple python scripts but was not able to.  Actually,   at one point I thought I was able to reproduce the problem, but then it turned out my input file was wrong... that change to the e-acute seems to be something that some types of terminals do.

[2018-08-26 19:40] #2616 closed

[2018-08-26 19:44] #2595 closed

[2018-08-26 20:08] francoishernandez commented on #2637
I'll try to have a deeper look tomorrow.

Le dim. 26 août 2018 21:39, Daniel Povey <notifications@github.com> a
écrit :

[2018-08-26 20:14] danpovey commented on #2637
Thanks.  Bear in mind that the locale and the presence/absence of a
terminal may affect the behavior of programs (I guess you know this though).
The goal is always to make everything work with LC_ALL=C and to always set
that as the locale.

On Sun, Aug 26, 2018 at 1:08 PM François Hernandez <notifications@github.com>
wrote:

[2018-08-26 21:49] Lallapallooza opened #2646 "TDDN-F"
Hello, I want to make tdnnf with stats pooling.
Nnet conf below.

[code]

And I have an error.
Inconsistent value for sum descriptor: for node 6, it can have scales 0.66 vs. inf (you have used unsupported combinations of descriptors).

[2018-08-26 22:49] danpovey commented on #2646
Did you compile with -Ofast?  Because I looked at the code and that seems to me to be the only way you could get that error.
@vimalmanohar, would you mind, next time you commit something, adding a test for this, e.g. in kaldi-error.cc?

E.g. (but test it):
bool a = std::pow(1.0e+10, 1.0e+10);  // infinity but don't let compiler know.
KALDI_ASSERT(a - a == 0 && "Did you compile with -Ofast?  That i

[2018-08-26 22:56] #2646 closed

[2018-08-27 10:33] jtrmal commented on #2637
can you please test if

    print(line.encode('latin-1'))

will fix it?

On Mon, Aug 27, 2018 at 3:54 PM François Hernandez <notifications@github.com>
wrote:

[2018-08-27 10:50] francoishernandez commented on #2637
Hmmm. Actually, when doing `export LC_ALL=C` before opening my python shell, and executing
[code]
it seems to be working, even for the "œ".

Then, writing a latin-1 file along looping over the vocab in `choose_features.py` is also working (i.e. writing it properly). But the script still outputs a broken `features.txt`.
Strange thing is:
- when running it with "utf-8" encoding, we get 11175 feature

[2018-08-27 10:56] jtrmal commented on #2637
I'm not familiar with the feature selection procedure but the fact that it
selects different number of features is intriguing. But also depends, what
the features represent -- if they are related to string length, then it
could explain things (unicode string decoded as utf-8 will be shorter than
the same decoded as latin1). Or unicode normalization? Anyway, just wildly
guessing.
y.

On Mon, Aug 27

[2018-08-27 17:36] MosheSheena opened #2648 "Using the fast_lstm language model to generate words"
Hi,
I'm wondering what tensors should I take and how should i use them so I may generate sentences?
Also - in tensorflow-rnnlm.cc I saw the method getLogProb, which is used to generate
prob(word | test-word-out) - how can I use the logic there in order to achieve my purpose?

[2018-08-27 19:00] david-ryan-snyder opened #2650 "VoxCeleb recipe needs updating"
The VoxCeleb corpus was updated to anonymize the celebrity names. This caused a mismatch between the new version of the corpus and the trials file we mirror here: http://www.openslr.org/resources/49/voxceleb1_test.txt. See http://kaldi-asr.org/forums.html?place=msg%2Fkaldi-help%2F8cB9Q7BJWxE%2F7PSw7fIlBAAJ for more details about this.

The best solution is to update the recipe to check what the sp

[2018-08-27 19:36] danpovey commented on #2637
Remember that the actual script in question re-opens stdout with the
latin-1 encoding at the very start of the script.

Dan

On Mon, Aug 27, 2018 at 3:57 AM jtrmal <notifications@github.com> wrote:

[2018-08-27 19:38] danpovey commented on #2637
Also, RE the difference in num-features: there may be whitespaces in your
input that are whitespace in UTF-8 but not in ascii.  In the ASR scripts,
the validation script checks for this and errors out as it is not allowed.
Possibly we need to upgrade the validation scripts for the RNNLM setup to
check for this.    @hainan-xv please check for this.
I assume you didn't change the script at all?  You

[2018-08-27 19:43] danpovey commented on #2637
Oh, wait... I see that there is a problem after all.  That script is
actually splitting characters inside words.  That means it is not valid at
all to use the latin-1 encoding.  @hainan-xv can you please change the
script back to use the utf-8 encoding?  I think it may be best to
explicitly set the encoding to utf-8, to avoid any possible
locale-dependent effects.

After checking in a quick fix, w

[2018-08-28 15:18] danpovey commented on #2648
@DongjiGao, @hainan-xv, please comment if you can.  Dongji, I thought perhaps you had implemented this somehow?  Or at least we had a plan for you to do so, for the reverse-direction LM stuff?

[2018-08-28 16:11] hainan-xv commented on #2648
In this case I would advise using lstm.py instead of the “fast” version. The fast version outputs unnormalized “probabilities” but it seems if we want to sample from the “distribution”, we still need to normalize it.

Also I would recommend doing this with python, not C++. In the python code, the probability distribution on all words is generated and it’s much easy to sample a word from there.

[2018-08-28 16:25] MosheSheena commented on #2648
Hi @hainan-xv and @danpovey,
First of all - thank you for the quick response and care.
@hainan-xv, I am using python to do so, and only looking at getLogProb to get a taste for how I can use tensors for this to happen..
What I thought of doing is multiplying "test_cell_in" with "softmax_w" without doing the embedding_lookup of "test_word_out" within the "embedding" (which I dont quite understand)

[2018-08-28 22:17] hainan-xv commented on #2648
On Tue, Aug 28, 2018 at 12:26 PM MosheSheena <notifications@github.com>
wrote:

Yes. Though it's probably better to call Softmax() direction to avoid
floating-point number issues.

I'm not sure what you mean by "pair probabiliteis to the ids of words". In
the TF-RNNLM directory, there will be a file called wordlist.rnn.final (or
something like that). The numbers in that file correspond to each ent

[2018-08-28 23:37] danpovey commented on #2637
@DongjiGao, can you please make a quick fix changing that one script's  encoding to utf-8?  You can add in a comment something like
[code]

[2018-08-29 00:31] #2637 closed

[2018-08-29 07:36] YihengJiang opened #2653 "question about nnet3‘s parameter setup"
Dear professor：

I  don't understand what 's mean of parameters in nnet3:
    --trainer.optimization.num-jobs-initial=3 \
    --trainer.optimization.num-jobs-final=8 \
And I want to know if nnet3 can use only 1 gpu to train? or it can use multi gpu to train?

thank you very much! hope response.

[2018-08-29 08:50] #2653 closed

[2018-08-29 13:30] MosheSheena commented on #2648
@hainan-xv, what I mean is - there is a file with id for each word, but those ids are integers, and i'm not quite sure how am I suppose to go from having probabilities to integers?
Can I assume each index in the Tensor corresponds to a words' location in the file of data?

[2018-08-29 17:32] danpovey commented on #2648
If there is such a file it would probably be named words.txt.  But I never
looked too closely at the TF-based setup.

On Wed, Aug 29, 2018 at 9:31 AM MosheSheena <notifications@github.com>
wrote:

[2018-08-30 08:45] saber5433 opened #2657 "online2-wav-nnet3-latgen-faster "Dimension mismatch: source features have dimension 280 and LDA #cols is 302""
How could I fix it？I am trying to decode the chain model of aishell2.
ERROR (online2-wav-nnet3-latgen-faster[5.4]:OnlineTransform():online-feature.cc:421) Dimension mismatch: source features have dimension 280 and LDA #cols is 302

![c640c916998d42bebb8571d566dd9df](https://user-images.githubusercontent.com/15922669/44840317-5ad62400-ac73-11e8-8666-971f243c2bbc.png)

my mfcc.conf
![822f55893e234dc

[2018-08-30 16:31] danpovey commented on #2657
Hm.  I think I know what the problem might be, but it's not easy to fix.
The way that online decoding code was designed, you are not supposed to include the pitch features in the features that you give to the i-vector extractor; it doesn't support including the pitch features there.   But it looks like the pitch features must have been given to the i-vector extractor when it was trained.  Fixing t

[2018-09-01 04:15] lpf-gavin opened #2660 "make failed"
In src, after run "make -j 8", make failed and output error "Makefile:35: recipe for target 'all' failed
make: *** [all] Error 2".What should I do?Thank you for your help.

[2018-09-01 11:48] YihengJiang opened #2661 "Throw exception when compute LDA"
Dear professor：
    My experiments are speaker recognition. I do LDA after extracted vectors, I use the way like x-vector but change the neural network. It's unfortune that I get an error as follow(excerpts from lda's log file):

# Running on cpu48
# Started at Sat Sep 1 19:37:11 CST 2018
# ivector-compute-lda --total-covariance-factor=0.0 --dim=128 "ark:ivector-subtract-global-mean ark:/home/jyh/

[2018-09-01 11:49] #2661 closed

[2018-09-01 11:50] YihengJiang opened #2662 "Throw exception when I do LDA"
Dear professor：
My experiments are speaker recognition. I do LDA after extracted vectors, I use the way like x-vector but change the neural network. It's unfortune that I get an error as follow(excerpts from lda's log file):

# Running on cpu48
# Started at Sat Sep 1 19:37:11 CST 2018
# ivector-compute-lda --total-covariance-factor=0.0 --dim=128 "ark:ivector-subtract-global-mean ark:/home/jyh/D/jy

[2018-09-01 11:51] #2662 closed

[2018-09-01 11:53] YihengJiang opened #2663 "Throw exception when I do LDA"
Dear professor：
My experiments are speaker recognition. I do LDA after extracted vectors, I use the way like x-vector but change the neural network. It's unfortune that I get an error as follow(excerpts from lda's log file):

LOG (ivector-subtract-global-mean[5.4.1851-2fa7]:main():ivector-subtract-global-mean.cc:76) Read 200000 iVectors.
LOG (ivector-subtract-global-mean[5.4.1851-2fa7]:main():ivec

[2018-09-01 13:59] christoph-conrads opened #2664 "What is the minimum FBANK signal energy?"
In [`feature-fbank.cc`, lines 85-86](https://github.com/kaldi-asr/kaldi/blob/66145ea9eaf2e5bd016198e6ac8d79a9fc6d8067/src/feat/feature-fbank.cc#L85-L86) the minimum energy is set to `std::numeric_limits<BaseFloat>::min()` whereas in [`feature-window.cpp:147-149`](https://github.com/kaldi-asr/kaldi/blob/66145ea9eaf2e5bd016198e6ac8d79a9fc6d8067/src/feat/feature-window.cc#L147-L149) `std::numeric_lim

[2018-09-01 14:35] christoph-conrads opened #2665 "Mel-frequency conversion: use `log1p`, `expm1`"
The mel-frequency conversion functions `MelBanks::MelScale()` and `MelBanks::InverseMelScale()` ([`src/feat/mel-computations.h`, lines 81-87](https://github.com/kaldi-asr/kaldi/blob/66145ea9eaf2e5bd016198e6ac8d79a9fc6d8067/src/feat/mel-computations.h#L81-L87)) contain expressions of the form `log(1+x)` and `exp(x)-1`. For small `x`, the calculated results may be off by more than one [ULP](https://

[2018-09-01 15:14] galv commented on #2664
Hi Christoph,

To answer your first question, I looked at HTK's source code. Some
decisionsin the feature extraction code weremade to be compatible with HTK.
However, reading its Wave2FBank function did not bring me to any
conclusions. (Note: HTK is a fairly convoluted codebase.)

The problem with submitting a PR for this is that we don't want to subtly
change feature pipeline's for already deploy

[2018-09-01 15:32] christoph-conrads commented on #2664
Backward compatible implies that the modification would be disabled by default. Thus, unless this user reads the latest documentation and sets this flag, the PR won't be used. Moreover, the issue can be resolved by users by setting `FbankOptions.energy_floor` to the machine epsilon so I will not fix this if backward compatibility needs to be preserved. My time is better spent somewhere else.

[2018-09-01 15:32] #2664 closed

[2018-09-01 16:51] danpovey commented on #2664
I think this would only actually make a difference in a badly-configured system.
By default dithering is on and set to a scale of 1.0, so you'd never get close to that small.  If you turn dithering off you are supposed to set --energy-floor=X in the config, which would be much larger than these small limits.  I had a look at some relevant configuration options and I'll commit a change to clarify t

[2018-09-01 16:56] danpovey commented on #2665
Hm.  Interesting observation, but I think it's OK.  It's not a part of the computation where precision matters that much.  Incidentally, we have a Log1p function wrapper which was introduced for Windows compatibility and it might be necessary to test if Windows still has this problem if we were to look for the expm1 stuff.  So might be too much of a hassle.  But thanks for noticing.

[2018-09-01 16:56] #2665 closed

[2018-09-01 17:00] danpovey commented on #2663
Cholesky decomposition would fail if the covariance of your i-vectors was
not full rank.  We could fix the code to accept this kind of input, but
this shouldn't happen if you are doing everything right.  I suspect either
your network  has a linear bottleneck just before the end, of a dimension
less than the output dimension (which doesn't make sense as an i-vector
extractor) or something went badl

[2018-09-01 23:35] YihengJiang commented on #2663
l am so glad to get your response.
The last several layers of My network are the same as x-vector. i.e. my network layer->statisticpooling(3000dim)->embedding1(512dim)->embedding2(512dim)->output fully connection layer(7303dim).And all these two embedding layers are followed by (batchnorm->relu).I guess it(last layers) as the same as x-vector as I look into kaldi script. May it right or not? Thank

[2018-09-01 23:48] danpovey commented on #2663
Maybe something went wrong in training, like some relu units always had
zero output.  In Kaldi we have mechanisms to make sure this doesn't happen.
You could add a small random noise to all the i-vectors, or add a small
amount to the diagonal of that within-class scatter matrix before the
Cholesky, if you can't fix the underlying problem.

On Sat, Sep 1, 2018 at 7:35 PM YihengJiang <notifications@

[2018-09-01 23:59] danpovey commented on #2663
Actually, @david-ryan-snyder ... I think it would be a good idea to change
the code of ivector-compute-lda to find the sqrt of the matrix via
symmetric eigenvalue decomposition in ComputeNormalizingTransform(): i.e.
use SpMatrix::Eig() instead of Cholesky, applying a floor like max-eig *
1.0e-04 on the eigenvalues, in case some eigenvalues are very small or
negative.  It won't impact any non-patho

[2018-09-02 00:06] YihengJiang commented on #2663
Thank you professor Dan.
I have added dither to lda training data by a small value(1e-11). And it get a good result. So,is kaldi also add a small noise as you say, or another mechanism?Thank you very much!

[2018-09-02 11:32] christoph-conrads opened #2670 "Frame extraction: Must the frame length be larger than the frame shift?"
Was Kaldi written with the assumption that the frame length is always larger than the frame shift?

[2018-09-02 13:05] christoph-conrads opened #2671 "Suggestion: use `ssize_t` everywhere"
The Kaldi codes uses at least seven integer types on a regular basis:
* `MatrixIndexT`,
* `SignedMatrixIndexT`,
* `UnsignedMatrixIndexT` ([`matrix/kaldi-matrix.cc:1081-1083`](https://github.com/kaldi-asr/kaldi/blob/e50bd7308164bd5b914d235984959f8a232fed66/src/matrix/kaldi-matrix.cc#L1081-L1083)),
* `std::size_t` ([`matrix/kaldi-matrix.h:70-73`](https://github.com/kaldi-asr/kaldi/blob/e50bd7308164b

[2018-09-02 13:56] christoph-conrads commented on #2671
To avoid the static assertion, you could also used an alias, e.g.:
[code]

[2018-09-02 15:33] danpovey commented on #2671
There are reasons for all of this but I don't have time to explain them right now.  It's not that I'm not aware of ssize_t.  You are maybe analyzing the code without knowing the expected size range of some of the quantities, so you can't see our logic.

[2018-09-02 15:33] #2671 closed

[2018-09-02 15:40] #2660 closed

[2018-09-02 16:09] david-ryan-snyder commented on #2663
@danpovey, sure I can do that... let me resolve a few older github issues first, that have accumulated.

[2018-09-02 16:11] christoph-conrads opened #2672 "`ExtractWaveformRemainder` with `FrameExtractionOptions::snip_edges = false`"
What is the expected behavior of [`ExtractWaveformRemainder`](https://github.com/kaldi-asr/kaldi/blob/e50bd7308164bd5b914d235984959f8a232fed66/src/feat/feature-window.cc#L222-L235) when [`FrameExtractionOptions::snip_edges`](https://github.com/kaldi-asr/kaldi/blob/e50bd7308164bd5b914d235984959f8a232fed66/src/feat/feature-window.h#L85-L89) is false?

A [comment in `NumFrames`](https://github.com/ka

[2018-09-02 16:30] danpovey commented on #2663
Thanks.  And probably a good idea to warn if we floored.

On Sun, Sep 2, 2018 at 12:09 PM David Snyder <notifications@github.com>
wrote:

[2018-09-02 16:39] danpovey commented on #2672
It looks like ExtractWaveformRemainder is no longer used anywhere.  I would
merge a PR to delete it.

On Sun, Sep 2, 2018 at 12:11 PM Christoph Conrads <notifications@github.com>
wrote:

[2018-09-02 17:11] #2672 closed

[2018-09-03 06:53] AlexPeng19 commented on #2566
@shadowoom hi, i trained the dfsmn model too and encountered the same issue, did you resolved it now by skipping the validation line? @yangxueruivs could you provide some detail for skip, such as which file, line numbers. on the other hand, did you exported the trained model? i mean how did you used it.

looking forward your response. thanks in advance.

[2018-09-03 15:44] danpovey commented on #2566
utils/fix_data_dir.sh may help.

This is likely an issue in the branch of Kaldi that you are using, which is
obviously not the master... you could comment on the repo where it's hosted
and ask them to help or to fix it.

On Mon, Sep 3, 2018 at 2:54 AM AlexPeng19 <notifications@github.com> wrote:

[2018-09-04 06:39] AlexPeng19 opened #2675 "how to validate the produced language model is correct or missing"
1, i have run training script and produced many files under exp. how could i know the model is available or missing some files.
2, if the model is ok , how could i do audio recognition by that.
3, what if i want to export the language model, how could i get it.

thanks in advance. looking forward your response.

[2018-09-04 13:03] wbgxx333 commented on #2657
@saber5433 you need change the aishell2 recipe,because the ivector must use no pitch;and nnet3 can use the pitch.you can follow the danpovey,and use the utils/data/limit_feature_dim.sh.and this is the same in aishell/s5/local/nnet3/run_tdnn.sh.

[2018-09-05 02:51] naxingyu commented on #2657
@danpovey  Sorry I just noticed this issue. I'll see what to do with the scripts.

[2018-09-05 21:19] danpovey commented on #2670
it normally would be, for sure.  would be nice if the code wouldn't crash if it were smaller though.

[2018-09-05 21:19] #2670 closed

[2018-09-05 21:19] #2552 closed

[2018-09-06 04:02] david-ryan-snyder commented on #2650
@danpovey, this can be closed

[2018-09-06 04:03] david-ryan-snyder commented on #2592
@danpovey, this can also be closed

[2018-09-06 04:03] #2592 closed

[2018-09-06 04:04] #2650 closed

[2018-09-06 04:08] david-ryan-snyder commented on #2388
@jtrmal, @danpovey, I think this issue got resolved in https://github.com/kaldi-asr/kaldi/pull/2544

[2018-09-06 07:25] stefbraun opened #2685 "nonzero return status 256"
Hello,

I am running kaldi recipes on a slurm cluster and make_fbank_pitch.sh throws an error:

FAILING COMMAND
[code]

ERROR
[code]
Interestingly, when adding a second command - echo $0 && -, the command runs through:
WORKING COMMAND
[code]
I cant find useful information on the nonzero return status 256 in this context, did anyone here experience the same issue?

[2018-09-06 10:05] wqn628 opened #2687 "the multilingual chain model-training。。。。"
hello，I  am doing the multilingual chain model training in recent days。and first i use the get_egs.sh to generate the cges.*.ark file of each language and the combine them with the steps/chain/multilingual/combine_egs.sh. Finally, i revise the local/chain/run_lstm.sh to do the multilingual chain model training. besides, due to the fact that the chain model training of each language has finished, s

[2018-09-06 13:27] stefbraun commented on #2685
seems like a problem on the cluster, kaldi was compiled for a different cpu type.

[2018-09-06 13:27] #2685 closed

[2018-09-06 15:52] danpovey commented on #2685
I don't think that's the issue.  If you do
` srun command1 | command2`
it won't run the whole pipe, it will paste the output of srun into command2.  You need to put those commands in a bash script and run it.  Or better, run it via the wrapper utils/parallel/slurm.pl, the same way things are run in standard Kaldi scripts.  But you have to escape the '|' symbol using backslash.  The wrappers run.pl

[2018-09-06 15:59] danpovey commented on #2687
@vimalmanohar and @pegahgh, is that script actually usable for multilingual training right now?  I only see it being used for semi-supervised training in the example scripts.  My recollection was that in order to truly do multilingual training (different den.fst's for different egs), one would need to use a different binary which is not checked in.

[2018-09-06 18:19] vimalmanohar commented on #2687
The script only supports having a single tree and single den.fst. There needs to be a modification to the binaries at the chain trainer level to store multiple denominator fsts in memory and use a different one each minibatch.

[2018-09-07 06:36] naxingyu commented on #2657
@danpovey While modifying the script of aishell2, I was wondering, is there a better way of prevent this kind of issue from happening? For example, in `steps/online/nnet3/prepare_online_decoding.sh`, if `add-pitch` is enabled, compare the dimensions of the input of the ivector extractor and that of the network (minus the ivector part). If equal, there should be a warning (or error) that the user m

[2018-09-07 17:01] johnjosephmorgan opened #2688 "data dir ../ causes error"
If you use the path ../ as the data directory the script download_and_untar.sh crashes. There are 2 lines that change to the $data directory. This makes the current directory jump up 2 levels when the data directory is ../.
The file is:
egs/mini_librispeech/s5/local/download_and_untar.sh

[2018-09-07 17:04] danpovey commented on #2688
@desh2608 could you look at it and maybe fix it?

[2018-09-07 18:48] desh2608 commented on #2688
Fixed in PR https://github.com/kaldi-asr/kaldi/pull/2689

[2018-09-07 18:55] #2688 closed

[2018-09-08 05:48] stefbraun commented on #2685
Thank you very much. I have failed to report the actual error that caused the problem:
```srun: error: cluster0: task 0: Illegal instruction```

The cluster uses different CPU types, and the kaldi version was compiled for a different CPU type than it was running on, hence the illegal instruction error. Somehow, `compute-fbank-feats` was working under this condition, but `compute-kaldi-pitch-feats`

[2018-09-08 16:02] naxingyu commented on #2657
OK, I'll do it after fixing this one.

On Sat, Sep 8, 2018 at 2:23 AM Daniel Povey <notifications@github.com>
wrote:

[2018-09-09 20:40] #2687 closed

[2018-09-09 20:40] #2648 closed

[2018-09-09 20:41] danpovey commented on #2638
@galv, if you mess around with CUDA stuff you might want to address this.  This flag needs to be used when we create handles, e.g. for CuBLAS, and when we call things like SGEMM.

[2018-09-10 00:34] galv commented on #2638
Are you sure about this? According to [this](https://docs.nvidia.com/cuda/cuda-runtime-api/stream-sync-behavior.html), there are three kinds of "default" streams:

- The default stream, which takes the behavior of one of the following two based on whether the macro CUDA_API_PER_THREAD_DEFAULT_STREAM is defined:
- The legacy default stream, which synchronizes with all other streams (by default).
-

[2018-09-10 00:38] danpovey commented on #2638
Justin told me that that macro doesn't work for API calls (as opposed to
kernel invocations), which kind of makes sense if you consider that the
libraries won't have been compiled with that flag.

On Sun, Sep 9, 2018 at 8:34 PM Daniel Galvez <notifications@github.com>
wrote:

[2018-09-10 00:40] danpovey commented on #2638
.. and when creating the handles, it was some kind of cudaSetStream thing,
not an optional extra argument.  I saw that in some PR that those guys had
and queried it and he told me it's necessary.

On Sun, Sep 9, 2018 at 8:38 PM Daniel Povey <dpovey@gmail.com> wrote:

[2018-09-10 00:43] galv commented on #2638
Hmm, that's a good point about those libraries coming precompiled.

Anyway, I actually already made the change and all the unit tests pass (but took a walk in the meanwhile and had doubts about whether it was really necessary), so I'll upload a PR soon.

[2018-09-11 03:01] cbtpkzm opened #2694 "Find a bug in src/nnet/nnet-lstm-projected.h"
`

    // apply the gradient clipping,
    if (clip_gradient_ > 0.0) {
      w_gifo_x_corr_.ApplyFloor(-clip_gradient_);
      w_gifo_x_corr_.ApplyCeiling(clip_gradient_);
      w_gifo_r_corr_.ApplyFloor(-clip_gradient_);
      w_gifo_r_corr_.ApplyCeiling(clip_gradient_);
      bias_corr_.ApplyFloor(-clip_gradient_);
      bias_corr_.ApplyCeiling(clip_gradient_);
      w_r_m_corr_.ApplyFloor(-clip

[2018-09-11 15:08] zhaoyang9425 opened #2695 "sph2pipe warning during installing"
I need to install kaldi. First, I `cd tools` and run `extras/check_dependencies.sh`. It shows **all OK**.
But when I run `make` then, there is some problems showing as below:

tar xzf sph2pipe_v2.5.tar.gz
cd sph2pipe_v2.5/; \
	gcc          -o sph2pipe  *.c -lm
file_headers.c:149:24: warning: format specifies type 'int' but the argument has type 'off_t' (aka 'long long') [-Wformat]

[2018-09-11 15:55] danpovey commented on #2695
Those are just warnings, they are harmless.

[2018-09-11 15:55] #2695 closed

[2018-09-11 21:59] danpovey commented on #2694
fixed, thanks.

[2018-09-11 21:59] #2694 closed

[2018-09-12 09:05] ZhangYimeng opened #2697 "I got a stun when I follow the INSTALL file in /src"
System Info:
Ubuntu 16.04
g++ 4.8.5
Dependencies check are all OK

Before excuting the commands in /src/INSTALL, I've already got /tools/INSTALL done.
But there are 2 errors after commands(I mean the commands in /src/INSTALL)
./configure --shared
  make depend -j 8
  make -j 8

These errors shown like this:
kaldi-hmm.a(hmm-utils.o): In function `fst::internal::FstImpl<fst::ReverseArc<fst::ArcTpl<f

[2018-09-12 23:08] david-ryan-snyder commented on #2663
@danpovey, please close this when you have a chance

[2018-09-12 23:14] #2663 closed

[2018-09-13 14:49] vzxxbacq opened #2700 "[egs][aishell][v1] wav name is not align with its path."
Thanks everyone's great work and I had a trouble when I run aishell/v1 project.
In `aishell/v1/local/aishell_data_prep.sh` script, the author write this code:
[code]
The `wav.flist` isn't sorted and `utt.list` is sorted, so I got a scp that wav isn't align with its path.

In wav.scp_all:
[code]
And after I remove the sort step, I got a aligned scp file.
Is it a bug or I missed something? Thanks.

[2018-09-13 15:24] galv opened #2701 "bin/post-to-smat crashes instead of showing help message when no inputs are provided"
Output of post-to-smat when we pass no arguments:

[code]

What we really expect:

[code]
I'll get around to this simple fix at some point if no one else wants to do it.

[2018-09-13 16:15] danpovey commented on #2700
@naxingyu  can you please look at this?

[2018-09-14 02:47] naxingyu commented on #2700
on it.

On Fri, Sep 14, 2018 at 12:17 AM Daniel Povey <notifications@github.com>
wrote:

[2018-09-14 04:54] galv commented on #2701
Fixed by #2703

[2018-09-14 04:54] #2701 closed

[2018-09-14 04:56] galv commented on #2638
We'll need to add this as well in other CUDA API calls, according to this message Dan left in @2692:

[2018-09-15 07:25] LeLiu opened #2709 "gmm-init-mono: double free or corruption"
gmm-init-mono crushed when i run the thchs30 scripts.

<img width="1440" alt="screen shot 2018-09-15 at 15 11 25" src="https://user-images.githubusercontent.com/4690322/45583756-26609a00-b8fa-11e8-886f-0d8f7048efa3.png">

something i do wrong or it's a bug? how can i fix it ?

log file:
[ exp/mono/log/init.log](https://github.com/kaldi-asr/kaldi/files/2385476/init.log)

[2018-09-15 15:53] danpovey commented on #2709
It's unlikely to be a bug because that code is so old.  It could be a compilation issue or a problem with your machine, maybe.  Try "make depend" and "make" in src/, with -j options, to see if it's properly compiled.   Also test whether that command fails on all your types of machine.
Also, run it in valgrind and see if it finds anything.  The command is the line after `#`, starting with gmm-init-

[2018-09-16 04:56] OmisAi commented on #1349
Remove clas's def

[2018-09-16 05:01] OmisAi opened #2713 "Check"
http://kaldi-asr.org/models/m6.

[2018-09-16 05:06] #2713 closed

[2018-09-17 02:01] LeLiu commented on #2709
When use "run.pl" to instead of "queue.pl" for excution, no error occuerd. I'm trying to find out why.

[2018-09-17 02:10] danpovey commented on #2709
Maybe some weird libc version mismatch issue, although normally it would refuse to execute at all.  but gdb or valgrind might show more, if you log into the machine where it faile.

[2018-09-17 07:42] vzxxbacq commented on #2700
issue fixed, thanks.

[2018-09-17 07:42] #2700 closed

[2018-09-17 10:58] zhiweizhong opened #2714 "Multi threading Online nnet3 decoder issue"
I have write a multi-threaded application based on the code of  online2-wav-nnet3-latgen-faster.cc, but the result for the same audio file is tiny different.

How can I fix this ?

note: I use aishell2 to train the asr model.

[2018-09-17 16:43] #2714 closed

[2018-09-17 16:43] danpovey commented on #2714
It's likely due to dithering in the feature extraction.   Anyway, it's the
intended behavior.  You should change the feature extraction options to fix
it if it bothers you (e.g. --dither=0 --energy-floor=1).

On Mon, Sep 17, 2018 at 6:58 AM zhiweizhong <notifications@github.com>
wrote:

[2018-09-18 03:40] LeLiu commented on #2709
This happens because I used
`./configure --shared --static-fst --static-math --mathlib=OPENBLAS --openblas-root=../tools/OpenBLAS/install/` to generate the `kaldi.mk`. When remove the `--shared` tag from the command (`./configure --static-fst --static-math --mathlib=OPENBLAS --openblas-root=../tools/OpenBLAS/install/`) to do recomplilation, the new none-shared version worked well.

[2018-09-18 05:12] LeLiu commented on #2709
This happens because I used
`./configure --shared --static-fst --static-math --mathlib=OPENBLAS --openblas-root=../tools/OpenBLAS/install/` to generate the "kaldi.mk". When remove the "--shared" option from the command (`./configure --static-fst --static-math --mathlib=OPENBLAS --openblas-root=../tools/OpenBLAS/install/`) to do recomplilation, the new none-shared version worked well.

I googled th

[2018-09-18 05:27] danpovey commented on #2709
I don't think the explanation can be that simple.  A static variable of a
particular name should be initialized only once in a project, otherwise it
would be a coding error... I checked your zip file, but there should be no
code like that in Kaldi.
And it doesn't explain why it would happen only on a certain machine type.

Others have used the --shared option successfully.  But it might still be
t

[2018-09-18 09:14] zhiweizhong commented on #2714
thank you for your answer. @danpovey . But the result is still tiny different when I use multi thread, and  my mfcc.conf is
[code]

When I use single thread, the result is exactly the same. I think maybe the reason is not about mfcc feature...

[2018-09-18 16:56] danpovey commented on #2714
When you use a single thread, things are computed in a fixed order.  You
should test whether if you put the utterances in a different order or use a
different random seed (you'd have to change the code), it makes a
difference.  Perhaps you are not passing those options in properly.  It
won't get it from conf/, it will get it from the copy that's in the _online
directory.

On Tue, Sep 18, 2018 at 5

[2018-09-19 06:09] z384647062 opened #2720 "How to train tone model for tone language?"
If there is any way to train tone model for tone language such as Mandarin Chinese which has five basic lexical tones? I'm looking for ways to evaluate the goodness of tonal pronunciation.

[2018-09-21 03:04] #2709 closed

[2018-09-21 08:14] studyself opened #2729 "Why we need final tokens?"
Hi All,

What is a final token?
Is it a kind of token corresponding to non-emitting state, state 3, which has final-probability one, in HmmTopology?
Sorry that, i am not familiar with WFST.
Before my diving into WFST, could you give me some top level views of designing principles of "final tokens" and  "final probs"?
Will the decoding results be different when I cut off the utterance at any frame

[2018-09-21 18:36] danpovey commented on #2729
replied on kaldi-help

[2018-09-21 18:36] #2729 closed

[2018-09-21 21:15] jianxucsm opened #2731 "ImportError: _pywrap_tensorflow_internal.so: undefined symbol: _ZN10tensorflow20UnaryDatasetOpKernel11MakeDatasetEPNS_15OpKernelContextEPPNS_11DatasetBaseE"
Hi There:

I am on ubuntu 18.04. use conda environment to run python and tensorflow.

the stuff works fine before and today during the pycharm debugging, the next run pops up the

ImportError: /home/jxu/anaconda3/envs/tf-cpu/lib/python3.6/site-packages/tensorflow/python/_pywrap_tensorflow_internal.so: undefined symbol: _ZN10tensorflow20UnaryDatasetOpKernel11MakeDatasetEPNS_15OpKernelContextEPPNS_1

[2018-09-21 21:18] danpovey commented on #2731
Did you mean to submit this somewhere else?

On Fri, Sep 21, 2018 at 5:15 PM Jian Xu <notifications@github.com> wrote:

[2018-09-21 23:41] jianxucsm commented on #2731
sorry want to submit under tensorflow

[2018-09-21 23:41] #2731 closed

[2018-09-23 05:41] zhiweizhong commented on #2714
1. I'm sure the options are passing in properly.

2. I have saw you replay in the Kaldi-help Google groups [mfcc features significantly different if run more than once ](https://groups.google.com/d/msg/kaldi-help/LOD4A7Z9hYY/WALJ0vgFAgAJ)，and I use OpenBLAS , maybe the reason is about this.

3. In this [MFCC feature extraction](https://groups.google.com/d/msg/kaldi-help/fQS3VmQ0eCA/wiGpx3hgMgAJ),

[2018-09-23 16:45] danpovey commented on #2714
This would be due to the dithering.

If you use multi-threaded OpenBLAS (i.e. multiple threads at the BLAS
library level... I think you have to use a different version of the library
and/or set something like OMP_NUM_THREADS or OPENBLAS_NUM_THREADS), then
nothing will be fully reproducible.

They are probably both correct, but both conditions have to be present.  If
the BLAS is deterministic, then

[2018-09-24 06:42] ervaibhavkumar opened #2732 "Issue in Flags in the file kaldi/egs/wsj/s5/steps/tfrnnlm/vanilla_rnnlm.py"
There are some issues with the flags specified in the file from line number 41 to line number 49 .
This issue needs to be addressed

Please assign this to me.

[2018-09-24 16:04] danpovey commented on #2732
Thanks!  I don't think I can assign without messing with membership, but
I'll leave it open until you make a PR.

On Mon, Sep 24, 2018 at 2:42 AM Vaibhav <notifications@github.com> wrote:

[2018-09-24 16:11] ervaibhavkumar commented on #2732
@danpovey PR has been made with PR number as #2733

[2018-09-24 21:09] hainan-xv commented on #2732
Hmm, why is the old code problematic? I used the "-" character throughout the tfrnnlm setup, including the recipe scripts that use those RNNLM training scripts, as in https://github.com/kaldi-asr/kaldi/blob/master/egs/ami/s5/local/tfrnnlm/run_vanilla_rnnlm.sh

[2018-09-24 22:50] calderma opened #2734 "Potential Make issue"
using g++ 4.8.4 on ubuntu 14.04.5 when I attempt to make the Tools directory it fails and spits out the message about my compiler version needing to be >= 4.8.3. This appears to be because the check in extras/check_dependencies.sh uses g++ -dumpversion on line 32 which does not output the patch number of g++ so the GCC_VER is set to 4.8 here instead of 4.8.4:
32. GCC_VER=$($CXX -dumpversion)
If i

[2018-09-24 22:53] danpovey commented on #2734
Thanks for reporting it.  But I've never heard of another instance where it doesn't print the patch number.  Wherever I've tested it, it does.  I suspect it may be a problem with the package you are using.   If we hear of this being a common problem (or if it happens on  more recent distros) we'll address it.

[2018-09-24 22:53] #2734 closed

[2018-09-25 03:31] ervaibhavkumar commented on #2732
@hainan-xv When i ran the script vanilla_rnnlm.py directly . It gave error regarding the Flags.
So I thought of making the changes. Afterwrads it was running fine with the changes that had been proposed.

[2018-09-25 10:01] yzmyyff opened #2736 "tools/check_dependencies.sh get the wrong version number"
In ubuntu 16.04, it shows
[code]
But my g++ is 4.8.5
[code]

[2018-09-25 15:59] danpovey commented on #2736
I think this is an issue on some older versions of ubuntu where `gcc -dumpversion` doesn't print the patch number.  You can just comment that part of extras/check_depencies.sh to get it to work.  It looks like the output of `g++ --version` is hard to parse as it's very different across platforms.

[2018-09-25 15:59] #2736 closed

[2018-09-29 04:17] leomao opened #2743 "Cuda 10 support"
Cuda 10 was released. The support gencode values are:
[code]

[2018-09-29 16:08] danpovey commented on #2743
Thanks.
If you want to try to get Kaldi to compile with CUDA 10, and maybe make the
changes to the Makefile and configure script to get it to work, I'd look at
your PR.  Until someone has got it to compile and run, we won't know if
additional things need to be done.
Dan

On Sat, Sep 29, 2018 at 12:17 AM Leo Mao <notifications@github.com> wrote:

[2018-10-02 03:37] luysennarak commented on #1990
Hi, I'm trying to build Kaldi and openfst1.3.4 with Visual Studio 2015.
But I've getting many compile errors.
Could you tell me how I can build it successfully?

[2018-10-03 11:32] cageyoko opened #2756 "how to convert x-vector.ark to text"
I want to use the x-vector by my backend classifier
but i don't know how to get the x-vector matrix because x-vector.ark is binary..

what script can do it? ..

thanks!

[2018-10-03 16:15] entn-at commented on #2756
For questions like this it's better to ask in the group: https://groups.google.com/forum/#!forum/kaldi-help

That said, use `bin/copy-vector`, e.g., `copy-vector --binary=false ark:xvector.ark ark,t:xvector.txt `

Here is some more general info on IO: http://kaldi-asr.org/doc/io_tut.html

[2018-10-03 16:16] #2756 closed

[2018-10-03 17:59] kukas opened #2759 "VoxCeleb1 dataset folder structure not compatible with voxceleb recipe"
I tried to run [voxceleb recipe](/kaldi-asr/kaldi/tree/master/egs/voxceleb/v2) but I encountered a problem with the [VoxCeleb1 dataset](http://www.robots.ox.ac.uk/~vgg/data/voxceleb/vox1.html). The folder structure of the dataset downloaded from the official site is not the same as the one used in the recipe.

This information is not in [README.txt](/kaldi-asr/kaldi/tree/master/egs/voxceleb/v2/REA

[2018-10-03 19:28] danpovey commented on #2759
I think they changed it, but I thought we had already fixed the scripts.  @david-ryan-snyder, any comment?

[2018-10-03 20:31] david-ryan-snyder commented on #2759
The people who distribute VoxCeleb have modified the organization and labels of the dataset a few times. We made an attempt to make it back compatible last month. If you're using the most recent version of Kaldi and it still isn't working, perhaps they've modified the dataset again.

It's going to be cumbersome to modify make_voxceleb1.pl once again to keep it working with multiple versions.

@kuk

[2018-10-03 20:32] danpovey commented on #2759
Perhaps we could ask them to try to keep it more stable?

On Wed, Oct 3, 2018 at 4:31 PM David Snyder <notifications@github.com>
wrote:

[2018-10-03 20:38] david-ryan-snyder commented on #2759
I can, once I download the current version again and verify that things have actually changed since the last time I tried to patch this.

[2018-10-03 21:37] kkm000 commented on #1990
@luysennarak, current Kaldi probably won't compile with the old version of OpenFST, and 1.3.4 is old.

We support a Windows port of practically all Kaldi-related functionality here: https://github.com/kkm000/openfst. However, it is possible that you won't be able to compile it with VS 2015 (toolset 14.0), because some changes made upstream may be indigestible by the older compiler. I just cannot t

[2018-10-04 04:13] luysennarak commented on #1990
Thanks for your helping response.
I'll try to do that.

On Thu, Oct 4, 2018 at 5:42 AM Kirill Katsnelson <notifications@github.com>
wrote:

[2018-10-04 06:53] #2743 closed

[2018-10-05 13:45] deepakbaby commented on #2606
Hi,
I also encountered the same problem. Perhaps, the error is in ```logs/iter00.initial.log``` which says
```nnet-train-lstm-streams: command not found```. Aparently, this was part of the src/nnetbin before, but in the new git version, this command seems missing.
Is there any latest lstm recipes that are tested with the latest kaldi version?
--Deepak

[2018-10-07 04:45] #2732 closed

[2018-10-07 04:47] ervaibhavkumar opened #2766 "Issue In kaldi/egs/ami/s5/local/ami_download.sh"
Hi,

I have found issue in the file fetched by command wget in the file kaldi/egs/ami/s5/local/ami_download.sh
I would like to work on it .
Can i start on this ?

Regards
Vaibhav

[2018-10-07 05:01] danpovey commented on #2766
Sure, but let us know what the issue is first.  It might just be a firewall
problem.

On Sun, Oct 7, 2018 at 12:47 AM Vaibhav <notifications@github.com> wrote:

[2018-10-08 08:17] puneetbawa commented on #2766
The URL was pointing to file which doesn't exist . I had resolved in in #2769

[2018-10-08 09:22] ZerRui opened #2770 "I got an exception 'object of type 'map' has no len()' ,and the error can be found as flowing exception"
egs/sre16/v2/steps/data
Traceback (most recent call last):
  File "steps/data/reverberate_data_dir.py", line 659, in <module>
    Main()
  File "steps/data/reverberate_data_dir.py", line 627, in Main
    rir_list = ParseRirList(args.rir_set_para_array, args.rir_smoothing_weight, args.source_sampling_rate)
  File "steps/data/reverberate_data_dir.py", line 533, in ParseRirList
    rir_list += Smooth

[2018-10-08 09:58] #2770 closed

[2018-10-08 09:58] ZerRui commented on #2770
map python2

[2018-10-08 15:37] danpovey commented on #2770
@david-ryan-snyder, would you mind making a PR to fix this?  Likely a python3 compatibility issue where something needs to be converted explicitly to list with `list(x)`.   Sorry, I think you are by default the owner of this reverberation stuff for now, even though you didn't write all of it.

[2018-10-08 15:48] david-ryan-snyder commented on #2770
Sure, NP.

[2018-10-08 17:12] ervaibhavkumar commented on #2766
@puneetbawa I think these resolves the issue 👍

[2018-10-08 17:48] david-ryan-snyder commented on #2770
@ZerRui this should work for you once https://github.com/kaldi-asr/kaldi/pull/2771 is merged.

[2018-10-08 22:26] sdrobert opened #2773 "fstrand.cc missing po.Read"
https://github.com/kaldi-asr/kaldi/blob/a7026219e17e3d29b8247c37c8e487ab3b0ea084/src/fstbin/fstrand.cc#L46

As you can see, fstrand is not actually reading the arguments.

Best,
Sean

[2018-10-08 22:29] danpovey commented on #2773
Oh, yes.  There is a statement missing, po.ReadArgs() or something like that.  @huangruizhe would you mind fixing this?

[2018-10-09 02:10] huangruizhe commented on #2773
Ok. I will look into it.

[2018-10-11 08:16] Umar17 opened #2782 "Minor issue in nnet2/train_tanh_fast.sh"
On line 171 of steps/nnet2/train_tanh_fast.sh:
`[ ! -z "$online_ivector_dir" ] && extra_opts+=(--online-ivector-dir $online_ivector_dir)`
but _$online_ivector_dir_ neither defined anywhere above nor got through arguments. Will it not be empty all the times?
Secondly, if someone wants to use train_tanh_fast with ivector training, should them hard code the path  of online_ivector_dir in the script?

[2018-10-11 08:53] yuzhoushenling opened #2783 "issue in steps/nnet3/train_raw_dnn.py"
I want to run train_raw_dnn.py, and set use-dense-targets=false, but i don't know the format of targets-scp, please help me.

[2018-10-11 11:42] Umar17 opened #2784 "Kaldi nnet2 online training with ivectors"
Hello all,

I am trying to build my own nnet2 model for online decoding through kaldi-gstreamer that requires ivectors as input feature. I have tried _train_tanh_fast.sh_ but it fails with KALDI ASSERTION on 'tot_dim == nnet.InputDim()'.
Can anyone please guide me how to build kaldi online model with ivectors (which script should I use? tanh, pnorm or whichever?)

Best Regards

[2018-10-11 16:49] danpovey commented on #2784
pnorm should be better than tanh.
However the nnet2 scripts are outdated and I don't remember much about
them.  I suggest to use the nnet3 scripts; the mini_librispeech setup is a
good example.
In general rather than trying to figure out how to use a script yourself,
it's better to search for examples of scripts that invoke it, and
copy-and-modify that.

Dan

On Thu, Oct 11, 2018 at 7:42 AM Umar17

[2018-10-11 18:03] vimalmanohar commented on #2783
I added documentation in #2785. See egs/aspire/s5/local/nnet3/run_autoencoder.sh or egs/swbd/s5c/local/segmentation/tuning/train_stats_asr_sad_1a.sh for examples.
You can ask questions in the google groups as suggested in http://kaldi-asr.org/forums.html.

[2018-10-12 06:20] yuzhoushenling commented on #2783
In run_autoencoder.sh and train_stats_asr_sad_1a.sh, the parameter use-dense-targets is true but I set it to false.
I create a label file in which the line contains utterance_id and phoneme list, such as xxx_id 12 23 12 1 12. Then I use src/featbin/copy-feats to create a scp file and ark file, and I assign this scp file for the paramter targets-scp in the train_raw_dnn.py. But after I run train_ra

[2018-10-12 10:42] tbluche opened #2786 "Check that min-active < max-active"
I think that would make sense to also check that `min_active < max_active` there : https://github.com/kaldi-asr/kaldi/blob/master/src/decoder/lattice-faster-decoder.h#L85.
Since the beam is first adapted according to `max_active` and then to `min_active`

[2018-10-12 17:42] danpovey commented on #2786
thanks, I'll commit the change next time I commit something else.

[2018-10-12 17:42] #2786 closed

[2018-10-15 04:51] ervaibhavkumar opened #2790 "Speeding up the installation"
Hi,

This is as such not an issue rather it's an enhancement.
While building up kaldi from tools/ and src/ we give number of cores to be used explicitly.
I want to modify that. Should i proceed ?

Regards
Vaibhav

[2018-10-15 05:15] #2790 closed

[2018-10-15 05:15] danpovey commented on #2790
Thanks, but I'd rather not change it as it can be antisocial to use all
cores by default on a shared machine.

On Mon, Oct 15, 2018 at 12:51 AM Vaibhav <notifications@github.com> wrote:

[2018-10-16 11:41] #2766 closed

[2018-10-16 19:03] mmaciej2 commented on #2266
@oplatek,

The output of extract_xvectors.sh should produce overlapping segments. The extract_xvectors.sh script (and more specifically the get_uniform_subsegments.py script) take in non-overlapping segmentation (i.e. from speech activity detection) and produces overlapping subsegments.

The make_rttm.py script will break if it is given a segment that is entirely contained within another segment.

[2018-10-16 19:37] david-ryan-snyder commented on #2266
@mmaciej2,

Would it be possible to add a test for this bad input in make_rttm.py? You could print out an error explaining why it's failing. I think a few people have run into this issue now.

[2018-10-17 00:00] oplatek commented on #2266
@mmaciej2 I double checked that I segments on the input does not overlap.

I do not understand what other requirements is needed. Can you pls explain in more detail?

I checked it by snippet where:
- a `name` is name of recording,
- `(xs, xe)` are start and end times of segment `x`,
- `(ys, ye)` are start and end times of segment `y`
- `dsesgs` is a dictionary of list of all segments per recording

[2018-10-17 00:08] mmaciej2 commented on #2266
@oplatek,

As far as I know, if there is no overlap in the input, it shouldn't be producing incorrect output.

Can you share some of the problematic output and the corresponding input that created it?

[2018-10-17 01:35] kobayakawa-t-ko opened #2793 "Chime4 egs"
It seems chime4 egs has the following problems.
1. The latest miniconda is not working.
2. matlab is required to generate data.

As for 1, since current chainer is not working with python3.7, I use the following fix.
Maybe this fix is for the time being. (i.e. temporal fix)

<pre>
--- a/tools/extras/install_miniconda.sh
+++ b/tools/extras/install_miniconda.sh
@@ -4,8 +4,9 @@
 # Miniconda will be i

[2018-10-18 10:20] ZerRui opened #2795 "When I trained xvectors, when running to run_xvector. sh, I encountered the following ERROR. Is that because the number of archive files is not between 150 and 200? My number of train archive files is 17?"
Error detected closing background reader (relates to ',bg' modifier)
details error log
[code]

[2018-10-18 16:20] danpovey commented on #2795
Looks to me like the file exp/xvector_nnet_1a/egs/egs.14.scp might have been empty.  e.g. maybe something went wrong when dumping egs, like it was interrupted somehow or the disk was full.

[2018-10-18 16:20] #2795 closed

[2018-10-22 19:01] #2773 closed

[2018-10-23 07:31] galv commented on #2793
What is wrong with the latest miniconda install? If it is intermittent (a bad build was pushed by the conda people), I don't think we should lock the recipe to an old version of miniconda. If the problem is that it uses python3.7, the reality is that this recipe should create a custom environment with a locked version of python. e.g.:

`conda create -n chime4env python=3.6`

Regarding the matlab t

[2018-10-23 09:04] akshatdewan commented on #2523
Hi there! I am trying to test the pre-trained models ( http://kaldi-asr.org/models/m7) on 16khz speech audio but I am getting an error when I run the `extract_xvectors.sh`, so I run the `nnet3-copy` in isolation and get the following message -
[code]
Do you have an idea as to what might be causing this error? When I run the same command on the models in http://kaldi-asr.org/models/m6, it works lik

[2018-10-23 14:20] david-ryan-snyder commented on #2523
I just downloaded the model, and nnet3-copy works using a newer version of Kaldi.

Try pulling in the latest changes from upstream, recompiling, and see if you still have this issue.

[2018-10-24 01:53] kobayakawa-t-ko commented on #2793
Yes, chainer is not working with python3.7 yet, as there is an issue:
https://github.com/chainer/chainer/issues/5109

[2018-10-24 05:29] oplatek commented on #2266
FYI: My problem was I was trying to represent multiple speakers in `utt2spk` which lead me to have `utterances` prefixed by `spkID`.
As a consequence `rttm` files were not sorted according to timestamps which is expected by `make_rttm`. Every single time the timestamps were not in order the negative duration emerged.

[2018-10-24 07:50] akshatdewan commented on #2523
Many thanks! I took the latest kaldi master branch version (8e30fddb300a87e7c79ef2c0b9c731a8a9fd23f0) and recompiled everything. It works fine now.

I know that OP has already asked this question but I wanted to add something -
I am using (https://github.com/wiseman/py-webrtcvad) followed by (https://github.com/kaldi-asr/kaldi/blob/master/egs/wsj/s5/utils/segmentation.pl) for creating speech segme

[2018-10-24 10:35] 313024351 opened #2798 "i-vector=?"
i trained i-vector using nnet/ivector's file.
but faled put it in nnet/train.sh's ivector=
as fllow
# Train
  steps/nnet/train.sh --network-type lstm --learn-rate 0.00004 \
    --cmvn-opts "--norm-means=true --norm-vars=true" \
    --ivector "scp:exp/ivectors_train/ivectors_spk-as-utt.scp" \
    --delta-opts "--delta-order=2" --feat-type plain --splice 0 \
    --scheduler-opts "--momentum 0.9 --ha

[2018-10-24 13:15] david-ryan-snyder commented on #2523
You'll need to post the actual error/warning for me to look into it more. From your description, it sounds like it's only a warning, not an error.

[2018-10-24 13:56] mmaciej2 commented on #2523
@akshatdewan,

It looks like perhaps your VAD is probably not giving good output. You should try to check its output before passing it to segmentation.pl to make sure it is reasonable in the first place. It's unlikely the very long speech segments with few silence regions is a bug in the segmentation.pl script. It probably is an issue with the VAD (e.g. bad parameters or just a data mismatch of so

[2018-10-24 16:59] danpovey commented on #2798
I don't believe we have any nnet1 example scripts for use with ivectors.  In any case, I don't respond to questions about nnet1.  You should stay closer to the example scripts.

[2018-10-24 16:59] #2798 closed

[2018-10-24 19:39] danpovey opened #2801 "aishell2 online decoding"
@underdogliu @naxingyu @dophist:

Can someone please add an online decoding example to the aishell2 setup and verify that it works?  Someone on the list is asking about this.
See here https://groups.google.com/d/msgid/kaldi-help/e5811b1c-bd5d-430f-a8a4-bbebe820c1bc%40googlegroups.com?utm_medium=email&utm_source=footer

[2018-10-24 19:49] danpovey commented on #2801
turns out he was asking about the original aishell.  Not sure if that is different.  If you could do both it would be great, but either is OK.

[2018-10-24 20:23] Mathue24 opened #2802 "Error running config on CUDA 9.1"
Hey, so I'm trying to setup Kaldi on my Ubuntu 18.04 and everything was fine untill I got to running the confing. Here's the output:
[code]
Now I get that he needs g++ that's less than 7, I've got g++-6 installed and all but when I run this it still throws the same error. For some reason he's still trying to use g++-7, Is there a way I can force him to use g++-6?

Thanks

[2018-10-24 20:33] Mathue24 commented on #2802
`
$ g++ --version`
`g++ (Ubuntu 7.3.0-27ubuntu1~18.04) 7.3.0
Copyright (C) 2017 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
`

Yep, seemes like it was set on default.
Ran it again with the argument and got that lovely SUCCESS!

[2018-10-24 20:40] #2802 closed

[2018-10-25 08:56] robi56 opened #2803 "How to extract features for a single .wav file"
At inference time, I need to extract speech features from a single .wav file. How it will be possible?
The conversion steps:
.Wav file-> compute-fbank-feats and compute-kaldi-pitch-feats-> compute-cmvn-> normalize-> features

The same task is done by the make_fbank_pitch.sh file but it works on a directory after completing data_processing steps in kalidi.