[2016-08-22 03:18] naxingyu commented on #890
In the middle of training. No update yet.

在 2016/8/20 5:35, Vijayaditya Peddinti 写道:

[2016-08-22 03:46] naxingyu commented on #890
Exps with sp on fisher_swbd are too expensive. So I removed the sp part, then applied both combine_short_segment and max_wer.
%WER 12.6 | 4459 42989 | 89.2 7.0 3.8 1.8 12.6 51.2 | exp/chain/blstm_6h/decode_eval2000_fsh_sw1_fg/score_8_0.0/eval2000_hires.ctm.filt.sys
%WER 13.8 | 4459 42989 | 87.9 8.1 4.0 1.7 13.8 51.1 | exp/chain/tdnn_7b/decode_eval2000_fsh_sw1_fg/score_8_0.0/eval2000_hires.ctm.filt

[2016-08-22 03:50] danpovey commented on #890
Perhaps you could make a PR for the change and we can try it on our grid at
some point.

On Sun, Aug 21, 2016 at 10:46 PM, Xingyu Na <notifications@github.com>
wrote:

[2016-08-22 03:53] naxingyu commented on #890
BTW, I rerun the nnet3 exps without sp. And the results seems promising.
%WER 13.7 | 4459 42989 | 87.7 8.5 3.8 1.5 13.7 51.5 | exp/nnet3/lstm/decode_eval2000_fsh_sw1_fg/score_8_0.0/eval2000_hires.ctm.filt.sys
%WER 15.9 | 4459 42989 | 86.0 9.9 4.1 1.9 15.9 52.2 | exp/nnet3/tdnn/decode_eval2000_fsh_sw1_fg/score_10_0.0/eval2000_hires.ctm.filt.sys
%WER 12.9 | 8420 76157 | 88.2 7.6 4.2 1.1 12.9 44.8 |

[2016-08-22 04:12] danpovey commented on #890
So that's the baseline for the with-combine-short-segment stuff above, I
guess.

On Sun, Aug 21, 2016 at 10:53 PM, Xingyu Na <notifications@github.com>
wrote:

[2016-08-22 04:22] naxingyu commented on #890
Yes.

在 2016/8/22 12:12, Daniel Povey 写道:

[2016-08-22 04:24] danpovey commented on #890
great-- please make a PR for this change!

On Sun, Aug 21, 2016 at 11:23 PM, Xingyu Na <notifications@github.com>
wrote:

[2016-08-22 09:24] kangshiyin commented on #987
For issue 1
I think we have to modify `CuMemoryAllocator`. My current idea is to
1) modify `CuMemoryAllocator::MallocPitch` to disable cache lookup in `RandomStrideMode` so we have the chance to change stride; and
2) modify `CuMemoryAllocator::MallocPitchInternal` to return a random pitch/stride while keeping input `row_bytes` and `num_rows` unchanged.
Any better idea?

For issue 2
You are right t

[2016-08-22 16:36] david-ryan-snyder commented on #901
@danpovey, @RobertoFont,

Training some SRE08 models for this now. I'll apply the fix and update the inline comments with the results once that's done.

[2016-08-22 19:39] danpovey commented on #987
I didn't want to modify CuMemoryAllocator because it's already quite
complicated.  What I was suggesting is that when CuDevice's MallocPitch()
function calls CuMemoryAllocator, it can randomly add something to the
bytes_per_row.  It won't matter that more memory is being returned than
requested.

I'd rather not risk bugs by making this change for existing code.

I'd say both; but different kinds o

[2016-08-22 21:45] danpovey commented on #860
Addressed in PR #995

[2016-08-22 21:45] #860 closed

[2016-08-22 21:46] danpovey commented on #858
@hainan-xv, don't forget this..

[2016-08-22 21:50] danpovey commented on #853
@vimalmanohar, please add this to your todo list..

[2016-08-22 21:50] hainan-xv commented on #858
Oh I did this already and tested it but it seemed that it didn't make any
difference.

It's a while ago. Let me make sure that I did it correctly.

On Mon, Aug 22, 2016 at 5:46 PM, Daniel Povey <notifications@github.com>
wrote:

--
- Hainan

[2016-08-22 21:52] danpovey commented on #858
It could be there was no actual error in the output, it was more that the
code was poorly (and wrongly) documented, and very unclear.
Dan

On Mon, Aug 22, 2016 at 5:51 PM, hainan-xv <notifications@github.com> wrote:

[2016-08-22 21:57] hainan-xv commented on #858
OK, I will work on a PR. Should be done tonight.

On Mon, Aug 22, 2016 at 5:52 PM, Daniel Povey <notifications@github.com>
wrote:

--
- Hainan

[2016-08-22 22:00] danpovey commented on #648
I think I'd rather leave this mistake there... fixing it would make the history of files harder to understand, and I don't think anyone is very likely to notice the typo.

[2016-08-22 22:00] #648 closed

[2016-08-22 22:05] #435 closed

[2016-08-22 22:06] #438 closed

[2016-08-22 22:08] danpovey commented on #504
@david-ryan-snyder, don't forget this..

[2016-08-22 22:08] #457 closed

[2016-08-22 22:21] #835 closed

[2016-08-22 22:22] #817 closed

[2016-08-22 22:23] #811 closed

[2016-08-22 22:23] #797 closed

[2016-08-22 22:23] #778 closed

[2016-08-22 22:24] #716 closed

[2016-08-22 22:24] #701 closed

[2016-08-22 22:26] danpovey commented on #687
@LvHang, this is another relatively straightforward issue that you could help with.
The easiest way to fix this is to simplify th

[2016-08-22 22:29] danpovey commented on #658
program was removed so issue no longer exists.

[2016-08-22 22:29] #658 closed

[2016-08-22 22:30] danpovey commented on #653
Addressed in PR #995

[2016-08-22 22:30] #653 closed

[2016-08-22 22:31] #617 closed

[2016-08-22 22:32] danpovey commented on #295
@vijayaditya, what is going on with this?
BTW, I think the iVector extractor is quite large, it would be good to avoid making too many unnecessary copies.  But I'm not ruling it out.

[2016-08-23 02:37] vijayaditya commented on #295
@danpovey I will address the overwrite issue by checking for existing extractor in the ivector training script ( in #967 ). I would prefer maintaining a copy with the nnet3 model as large scale recipes take around 10-20 days to train and simple user errors can turn out to be very costly.

[2016-08-23 04:01] LvHang commented on #687
@danpovey
get it
Hang

[2016-08-23 11:26] contributeyourvoice commented on #987
On Tue, Aug 23, 2016 at 3:39 AM, Daniel Povey <notifications@github.com> wrote:

Please see #997 for this.

I agree with you.

Another solution could be to use better variable names like `x_stride`
for input arrary `x`, instead of `src_stride`.

Do you mean (i,j) refers to i-th row and j-th column? I prefer this
way but old code use the other.
We could change the existing code very slowly, while a

[2016-08-23 12:12] kangshiyin commented on #987
Sorry, it was me. I used a wrong email account to reply.

[2016-08-23 19:23] #987 closed

[2016-08-23 21:26] vince62s opened #1001 "should there be a iter parameter in mkgraph.sh ?"
Since we have the possibility to specify an --iter in decode.sh to use some intermediary models, shouldn't there be a similar option for mkgraph.sh to build a graph with the same intermediary model ?

Also, in some instance final.mdl is not ready yet when you want to decode with such an intermediary model.

Just asking.

[2016-08-23 22:00] danpovey commented on #1001
I think it might be easiest to have 'mkgraph.sh' look for final.mdl if it
exists and is newer than the tree, and otherwise the highest-numbered model
that it can find in that directory that's newer than the tree.  That will
make things easiest.   It can print out what it's using if it doesn't use
final.mdl.
In general it won't make a difference which model is used as the
transition-model does not

[2016-08-23 22:11] vince62s commented on #1001
Under a "standard" workflow I agree, but when you go back and forth with various config in a fine tuning operation it's a little tricky.
The beauty of the --iter parameter is that you can specify whatever nale you give to some intermediary saved model of certain configurations. But at times one (well I) may forget to refresh the graph to the right config.

[2016-08-23 22:16] danpovey commented on #1001
None of the current recipes actually train the transitions in the
intermediate iteration.  So it doesn't actually matter which of the models
you choose-- as long as it corresponds to the correct tree.
Dan

On Tue, Aug 23, 2016 at 6:11 PM, vince62s <notifications@github.com> wrote:

[2016-08-23 22:21] vince62s commented on #1001
ok understood.

[2016-08-23 22:21] #1001 closed

[2016-08-24 12:34] maxhawkins commented on #894
Thanks Dan!
On Mon, Aug 22, 2016 at 07:54 Daniel Povey <notifications@github.com> wrote:

[2016-08-26 09:19] jfainberg commented on #886
I'll start working on this (unless anyone else already is).

[2016-08-26 16:17] vijayaditya commented on #886
Please go ahead, no one has taken this yet.
Btw it would be helpful if you discuss your algorithm before implementation
as some changes can be a bit involved e.g. SpliceComponent to Descriptor
conversion.

Vijay

On Aug 26, 2016 05:19, "Joachim" <notifications@github.com> wrote:

[2016-08-29 18:32] danpovey opened #1011 "Need example for nnets with pitch features"
We need an example scripts somewhere for recent nnet recipes (nnet2 and nnet3) with pitch features, that are suitable for online decoding.  E.g. in hkust or gale_mandarin.  I may have to do this myself... I'm not sure if there is an example anywhere.

[2016-08-29 21:48] vijayaditya commented on #1011
The nnet3 babel recipe uses pitch features, but I don't know if these are extracted online or offline. @pegahgh could you clarify ?

[2016-08-29 21:49] pegahgh commented on #1011
They are extracted offline!

On Mon, Aug 29, 2016 at 5:48 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-08-30 02:01] xwyf05 commented on #939
Hi, Danpovey
About the big difference between windows and kaldi in delta-pitch as follows:
1_0_0_0_0_0_0_0 [
    -0.0571072 0.6460934 -0.1681084
    -0.2354853 0.6560936 0.03269153
    -0.3175395 0.6566143 -0.0513619
    -0.2378696 0.6678715 0.05748458
    -0.2838619 0.6732082 -0.0006690409

 In the Linux:
 1_0_0_0_0_0_0_0 [
 -0.0571072 0.6460934 -0.02324463
 -0.2354853 0.6560926 0.01047801
 -0.31

[2016-08-30 02:04] danpovey commented on #939
OK.
The noise was added for a reason, it prevents exact zeros which are hard to
model with Gaussians.
The differences between Linux and Windows  are not a problem.
Dan

On Mon, Aug 29, 2016 at 10:01 PM, xwyf05 <notifications@github.com> wrote:

[2016-08-30 02:11] xwyf05 commented on #939
Thanks very much.

Best,
Jiantao

[2016-08-30 02:11] #939 closed

[2016-08-30 09:06] galv commented on #900
This was handled at some point in a comment in #770

[2016-08-30 09:06] #900 closed

[2016-08-30 09:06] galv commented on #900
commit*, not comment

[2016-08-31 14:27] JinmingZhao opened #1014 "There is a problems when run sre10 v1 run.sh"
the problem is happend when run the part:
# dep pooled: 2.16
echo "GMM-$num_components EER"
for x in ind dep; do
  for y in female male pooled; do
    #eer=`compute-eer <(python local/prepare_for_eer.py $trials exp/scores_gmm_${num_components}_${x}_${y}/plda_scores) 2> /dev/null`
    echo "${x} ${y}: $eer"
  done
done

and the error info is :
GMM-1024 EER
close failed in file object destructor:
sy

[2016-08-31 19:21] david-ryan-snyder commented on #1014
Have you modified the sre10/v1 example? Are you using the same datasets?

Could you copy the first few lines of exp/scores_gmm_${num_components}_${x}_${y}/plda_scores and $trials here?

[2016-08-31 23:16] JinmingZhao commented on #1014
First, thanks for your reply. I used the timit datasets. And the scores_gmm_1024_ind_female／plda_scores info:
dr1_faks0 dr1_faks0_sx313 21.01163
dr1_faks0 dr1_faks0_sx403 3.098445
dr1_faks0 dr1_faks0_sx43 14.22429
dr1_fcjf0 dr1_fcjf0_sx307 -12.61255
dr1_fcjf0 dr1_fcjf0_sx37 -7.53771

Thanks.

[2016-09-01 02:45] JinmingZhao commented on #1014
and the data／test／trials info is:
dr1_faks0 dr1_faks0_sx43 target
dr1_fcjf0 dr1_fcjf0_sx307 target
dr1_fcjf0 dr1_fcjf0_sx37 target
dr1_fcjf0 dr1_fcjf0_sx397 target
dr1_fdac1 dr1_fdac1_sx304 target
Because I don't have the LDC datasets， so I  forge the trials by:
make_sre_2010_test.pl: print OUT_TRIALS "$spkr ${utt}_${side} $is_target\n";

Could  you copy the  first few lines of trials for me？

[2016-09-01 14:35] david-ryan-snyder commented on #1014
Mine looks like this:
32707 tcbbl_B nontarget
32707 tkrqm_B nontarget
32707 tkwut_A nontarget
32707 tllyh_B nontarget
32707 tofhd_A nontarget
32707 trurf_A nontarget
32707 trwyy_B nontarget
32707 tsyww_A target
etc

If you look at local/prepare_for_eer.py you'll see that it's very simple. All it's does is prepare the input to the binary compute-eer. The expected input is of the form
<score1> <targ

[2016-09-02 01:49] david-ryan-snyder opened #1015 "Improve error handling in egs/sre10/v1/local/prepare_for_eer.py"
The script takes a trials list and a PLDA score file, and generates output for the binary compute-eer.

However, it currently just dies on bad input. Do more checking of arguments and inputs, and print an informative message on bad input. See other python scripts in Kaldi. Related to #1014.

[2016-09-02 02:28] JinmingZhao commented on #1014
First， thank you very much!
I think I've found the cause of the problem. First， I have generated the trials from the all data（train set and test set）， like  this <speak-id> <utt-id> <istarget>:
dr1_faks0 dr1_faks0_sa1 target
dr1_faks0 dr1_faks0_sa2 target
dr1_faks0 dr1_faks0_si1573 target
dr1_faks0 dr1_faks0_si2203 target
dr1_faks0 dr1_faks0_si943 target

just  as you can see ， the "istarget" colu

[2016-09-02 04:51] david-ryan-snyder commented on #1014
A "target" trial is where the utterance is spoken by the speaker. A "nontarget" trial is where the utterance is spoken by a different speaker. If your verification system has no errors, target trials should be _accepted_, and nontarget trials should be _rejected_ by your verification system.

What I suggest is that you look at the spk2utt file, and write a script that generates a trials file for y

[2016-09-02 07:36] JinmingZhao commented on #1014
Thanks very much for your detailed answers. Now I know how to modify my script.
Thanks again!

[2016-09-02 07:36] #1014 closed

[2016-09-02 18:43] vimalmanohar commented on #869
I can work on this.

[2016-09-04 15:54] elasolova commented on #360
yeah it seems like you are doing a ***** job maintaining the windows branch. Yeah, I guess we should ask questions to our parents, they will probably answer more constructively.

[2016-09-06 14:32] jfainberg commented on #886
Ok, this is getting there and I'll make WIP PR soon once it's a bit cleaned up.

I have one question: when initialising affine components with nnet3-init, it expects a matrix with column dim = input_dim + 1 (bias). The isolated parameter matrices from the nnet2 model are split into <LinearParameters> and <Bias>. I could either use something like `paste` to manually append the bias to the linear pa

[2016-09-06 18:09] danpovey commented on #886
Either way is OK with me.

On Tue, Sep 6, 2016 at 10:32 AM, Joachim <notifications@github.com> wrote:

[2016-09-08 02:35] YanqiangLei commented on #1011
Maybe an example script with pitch and online-cmvn process is also strongly required.

[2016-09-08 15:05] baylor0118 opened #1020 "sigmoid"
which function can replace sigmoid in LSTM or GRU?

[2016-09-08 18:53] danpovey commented on #1020
I think it's required for the intuitions of BLSMs to work, that the output
of those nodes be always between 0 and 1, and there are no other commonly
used activation functions for neural nets that have that property, I
think.  But I think the tanh nodes in BLSTMs (and maybe GRUs, if any) could
be replaced with more arbitrary functions.
Dan

On Thu, Sep 8, 2016 at 11:05 AM, baylor0118 <notifications

[2016-09-08 18:58] galv commented on #1020
You could consider, for example, clipped relu instead of tanh or sigmoid,
if you did not want an unbounded maximum output value. See section 3.4 here
<http://arxiv.org/pdf/1512.02595v1.pdf>.

On Thu, Sep 8, 2016 at 11:53 AM, Daniel Povey <notifications@github.com>
wrote:

--
Daniel Galvez

[2016-09-10 23:27] danpovey commented on #988
I am becoming more convinced that this method should be quite useful, and I'd really like someone (or people) to help with this.
@galv, is there any chance you could take on the problem of creating the dropout component for nnet3?  It will just be a simplification of the nnet2 code, for the most part.
Then maybe @freewym can do the modification of the scripts and test this out.

[2016-09-11 05:29] david-ryan-snyder commented on #901
Since the fix is in Kaldi now, you can close this, @danpovey.

@RobertoFont, FYI

[2016-09-11 05:33] #901 closed

[2016-09-12 23:44] galv opened #1024 "Investigated cudaAtomicAdd() in forward-backward implementation"
The current atomic add implementation in chain/chain-kernels.cu uses cudaAtomicExch(). I suspect using cuda's existing built-in function cudaAtomicAdd() directly may be faster.

The task, which I'm taking, involves benchmarking the speed of the forward-backward implementation with both implementations of atomic addition.

[2016-09-12 23:45] galv commented on #1024
I can't self-assign this. Whoops. Well, I'm working on it.

[2016-09-12 23:47] danpovey commented on #1024
Sorry, only project members can self-assign, and I don't like having the
bulk of contributors as project members because it's hard to know where to
draw the line, it's a "long tail" of contributors with no natural cutoff
point.  So just a few admins are official project members.

On Mon, Sep 12, 2016 at 4:45 PM, Daniel Galvez <notifications@github.com>
wrote:

[2016-09-12 23:48] galv commented on #988
It seems reasonable. I would have to think more about whether it could be implemented quickly on GPU (it probably can be, in spite of caching values in back propagation for a long time).

Overall, though, my main concern is that it strikes me that we could get easy gains by adopting other innovations in the neural network literature like batch norm, residual networks, and persistent RNNs (don't qu

[2016-09-13 01:46] danpovey commented on #988
It's already been done in nnet2, it's quite easy, no caching is needed--
the component just requires both the inputs and outputs, and can figure out
the mask from that.

the natural gradient has a similar effect to batch norm which is why I have
not put effort into implementing that.  The other things are not things
that I have heard about in a speech context.

Dan

[2016-09-13 02:55] danpovey commented on #988
I had a look into ResNets... it's where every other layer, you have a
skip connection to the layer before, with the identity matrix.  That
could very easily be incorporated into our TDNN setups, using the
'Add()' expressions in the config file.  It's some very simple
scripting.
@freewym, I don't know if you have time for this?
In the TDNN configs, we have lines like:

component-node name=Tdnn_5_re

[2016-09-13 03:05] freewym commented on #988
As far as I know, ResNets is especially beneficial to train very deep networks (more than hundreds of layers). Not sure if it would improve over the current tdnn setup. But anyway, I can pick it up.

Yiming

[2016-09-13 06:11] galv commented on #1024
@danpovey I realize now that it's painful to get a large example to create a unit test "speed test" with without either hard-coding very large transitions, forward_transitions, and backward_transitions arrays or loading them in from disk (adding binary bloat). Do you consider it necessary to add a unit test of the speed of the forward backward computation, assuming that cudaAtomicAdd() does cause

[2016-09-13 19:26] danpovey commented on #988
Regarding ResNets (and this is also of broader interest),
Vijay just pointed out to me this ArXiv paper from Microsoft Research
http://arxiv.org/pdf/1609.03528v1.pdf
where they report the best-ever results on Switchboard, at 6.3%.  A variety
of ResNet is one of their systems, although it seems to involve
convolutional concepts-- it's maybe not a standard feed-forward ResNet (but
neither would ours

[2016-09-13 20:07] pegahgh commented on #988
Hi Dan. This idea in ResNet is exactly the same as my LADNN paper in MSR. Actually we proposed and submitted this idea to ICASSP before ResNet publication, but they didn't cite our work, although it was internal MSR work and they should cite our paper.
This is the reason that MSR people decided to put their paper on archive after submitting paper to conferences and they submitted their own version

[2016-09-13 20:20] danpovey commented on #988
OK sure.  Yiming has tons of stuff to do anyway, I think.

On Tue, Sep 13, 2016 at 1:07 PM, pegahgh <notifications@github.com> wrote:

[2016-09-13 20:22] freewym commented on #988
I am already working on it. Perhaps Pegah could try on other configurations.

Yiming

On Tue, Sep 13, 2016 at 4:20 PM, Daniel Povey <notifications@github.com>
wrote:

--
Yiming Wang
Department of Computer Science
The Johns Hopkins University
3400 N. Charles St.
Baltimore, MD 21218

[2016-09-13 20:28] danpovey commented on #988
Oh OK.
Pegah, if you're interested in this area, maybe you could do that thing
about the "ephemeral connections", e.g. implement the dropout component in
nnet3.   But I want to merge the dropout component before you do the
experiments, because otherwise the project will be too big to easily review.
Dan

On Tue, Sep 13, 2016 at 1:22 PM, Yiming Wang <notifications@github.com>
wrote:

[2016-09-13 20:31] pegahgh commented on #988
Good idea! I can implement Dropout component in nnet3 setup.
@freewym Did you start using bypass connection on LSTM setup?

[2016-09-13 20:32] freewym commented on #988
Not yet. I am testing it on tdnn now.

On Tue, Sep 13, 2016 at 4:31 PM, pegahgh <notifications@github.com> wrote:

--
Yiming Wang
Department of Computer Science
The Johns Hopkins University
3400 N. Charles St.
Baltimore, MD 21218

[2016-09-13 20:33] galv commented on #988
@pegahgh Since I've given this some thought already, feel free to ping me
for code review or discussion of implementation.

On Tue, Sep 13, 2016 at 1:31 PM, pegahgh <notifications@github.com> wrote:

--
Daniel Galvez

[2016-09-13 21:10] danpovey commented on #988
Makes sense.  Pegah, if you put an early draft of the nnet3 dropout stuff
up as a pull request, it will be fastest.

On Tue, Sep 13, 2016 at 1:33 PM, Daniel Galvez <notifications@github.com>
wrote:

[2016-09-15 05:41] galv commented on #1024
Done by #1025

[2016-09-15 05:41] #1024 closed

[2016-09-15 19:35] vince62s commented on #717
I have two questions on this topic:

- what is the typical variation you observed in results (absolute) after various neural nets training ?

- do we know if the non-determinism stuff of the Cublas library impacts "after" a certain number of significant digits, or is this just impossible to measure ?

[2016-09-15 19:54] danpovey commented on #717
Maybe 0.1 to 0.2% stddev, but with BLSTMs it can be more, sometimes like
0.3% or 0.4%, IIRC.

Definitely the CUBLAS nondeterminism will be small- the question is how
much it affects the trajectory of the model in the long term.

On Thu, Sep 15, 2016 at 12:35 PM, vince62s <notifications@github.com> wrote:

[2016-09-16 00:24] vijayaditya commented on #943
As Babel work is done I will restart effort on this issue. However I am using a combination of Permute and BlockAffine components in my case, so I will do this with a low priority.

[2016-09-16 00:25] vijayaditya commented on #699
addressed in #870.

[2016-09-16 00:25] #699 closed

[2016-09-16 00:29] vijayaditya commented on #870
@tomkocse #771 has been merged. Would you be able to work on the nnet3-chain recipes and add data perturbation with reverberation as an optional stage ? This script can reside in `local/chain/`.

[2016-09-16 00:32] vijayaditya commented on #869
@vimalmanohar If you are working on this can you create a WIP PR and link it here. It would be interesting to follow the work.

[2016-09-16 00:34] vijayaditya commented on #776
Addressed in #991 .

[2016-09-16 00:34] #776 closed

[2016-09-16 00:37] vijayaditya commented on #495
Even with the most recent realignment experiments in Babel we didn't see a lot of improvement with realignment (1-2% rel. improvement when reinitializing the model after each realignment). I am not going to work on this any more and I will also remove the code corresponding to this in `steps/nnet3/train_{dnn,rnn}.py`. I also think with chain models which have built-in tolerance option this feature

[2016-09-16 00:37] #495 closed

[2016-09-16 00:39] vijayaditya commented on #890
@naxingyu did you manage to create a PR ? If yes could you link it here ? I am unable to find it.

[2016-09-16 00:40] vijayaditya commented on #661
being addressed in #1027

[2016-09-16 00:40] #661 closed

[2016-09-16 00:53] tomkocse commented on #870
OK

[2016-09-16 10:47] jaredmauch opened #1030 "build issue with text-io"
The software will not build from source due to this typecast related issue.

<pre>
libtool: compile:  g++ -DHAVE_CONFIG_H -I./../include -MT text-io.lo -MD -MP -MF .deps/text-io.Tpo -c text-io.cc  -fPIC -DPIC -o .libs/text-io.o
text-io.cc: In function 'bool fst::script::WritePotentials(const string&, const std::vector<fst::script::WeightClass>&)':
text-io.cc:87:15: error: cannot convert 'std::ostr

[2016-09-16 18:48] danpovey commented on #1030
I think this happens with an older gcc version, I recall someone else had
the same issue.  Update your gcc.

On Fri, Sep 16, 2016 at 3:47 AM, Jared Mauch <notifications@github.com>
wrote:

[2016-09-16 18:51] danpovey commented on #1030
Sorry, it's with a too-new gcc, 6.x

This issue is the same as Issue #941.

You can resolve it by changing the openfst version in tools/Makefile to
1.4.1.

On Fri, Sep 16, 2016 at 11:48 AM, Daniel Povey <dpovey@gmail.com> wrote:

[2016-09-16 18:56] jtrmal commented on #1030
I guess it could be replaced by strm.good()
y.

On Fri, Sep 16, 2016 at 6:47 AM, Jared Mauch <notifications@github.com>
wrote:

[2016-09-16 19:11] #1020 closed

[2016-09-16 19:36] danpovey opened #1031 "Modify TransitionModel for more compact chain-model graphs"
This is a rather complex and also high-impact issue which I would really appreciate being able to offload.    @francisr, would you be able to help with this?

In the chain model, we use a topology where the 1st transition of the state has a different pdf-id to the others.  Because the TransitionModel assumes a "HMM-like" model where the emissions are associated with the state, this cannot be imple

[2016-09-16 19:46] danpovey commented on #1030
Hm, that would make building Kaldi more painless as this compiler gets more common; we could extend our patch.  @jaredmauch, do you have time to test whether OpenFst builds if you change that line to
`bool ret = strm->good()`
?

[2016-09-16 19:56] danpovey commented on #1031
A second-order issue... previously in DenGraphMinimizeWrapper, I found that doing non-reversed minimization before reversed minimization produced a smaller graph (fewer states) than the other way round.  This may change when you modify the 'reverse' option to true.   You'd have to change the code inside the loop.

[2016-09-16 19:59] jtrmal commented on #1030
actually, let me check on something -- good() might not be the right
function, as there are IIRC three state bits in ios base, so it's possible
good() is not doing exactly what is equivalent to (bool) cast

y.

On Fri, Sep 16, 2016 at 3:46 PM, Daniel Povey <notifications@github.com>
wrote:

[2016-09-16 20:03] jtrmal commented on #1030
Looking at this:
http://www.cplusplus.com/reference/ios/ios/operator_bool/

I think we want
bool ret = !strm->fail()

What do you think?

On Fri, Sep 16, 2016 at 3:59 PM, Jan Trmal <jtrmal@gmail.com> wrote:

[2016-09-18 02:14] naxingyu commented on #890
I ran it w/o SP, submitted the base results in #990 but closed. I can commit the scripts but the results will not be improved.

[2016-09-18 02:19] vijayaditya commented on #890
OK, in that case I will close this issue. Also, @danpovey might recommend using the new cleanup scripts so he might be the correct person to decide if the new scripts have to be merged.

[2016-09-18 02:19] #890 closed

[2016-09-18 18:44] danpovey commented on #1031
It would probably be good to make sure that for models in which the pdf-class for the self-loop and non-self-loop arcs are the same, we write the models using the older format (`<Triples>` or whatever).  We'll need to be able to read this format regardless, for back compatiility.  This will ensure that if people have written code to parse the text format for some reason, it does not break.  It wil

[2016-09-18 18:55] danpovey commented on #1030
That sounds plausible; in any case the difference will probably only matter in weird situations.
Not sure if you have time to modify our patching setup?  I know dealing with that stuff is a hassle, I always forget how to generate the patches.

[2016-09-18 18:56] danpovey commented on #1031
@francisr, let us know if you have time to do this (e.g. this week), otherwise I'll find someone else.

[2016-09-18 20:11] jtrmal commented on #1030
yeah, ok, I will do it.
Not sure how to test it (except running the kaldi tests)
y.

On Sun, Sep 18, 2016 at 2:55 PM, Daniel Povey <notifications@github.com>
wrote:

[2016-09-19 09:36] francisr commented on #1031
This would be a good improvement, but unfortunately I'm too busy at the moment.

[2016-09-19 13:18] danpovey commented on #1031
ok.  @naxingyu, do you have time?

[2016-09-19 14:29] baylor0118 opened #1037 "GRU"
Support GRU, Kaldi?

[2016-09-19 15:23] vijayaditya commented on #1037
@freewym is working on this. See #492 . This is not the right avenue for questions like these. Please use the kali mailining lists.

[2016-09-19 15:23] #1037 closed

[2016-09-20 04:02] danpovey opened #1040 "Modifying components to be non-updatable or have zero learning rate [+ more general configs]"
A user on the list was asking about the way to set an individual component's learning rate, e.g. to zero, after training for a bit, and I can see no existing mechanism to do this.

In order to change the learning rate of a specific node of an already trained model, the existing pattern would dictate that it should be done via an option to nnet3-am-copy or nnet3-copy (probably a function that would

[2016-09-20 05:20] naxingyu commented on #1031
Yes. I'll begin tomorrow.

[2016-09-20 20:10] danpovey commented on #1040
Update: I'd like to add another command
rename-node old-name=xxx new-name=xxx

[2016-09-21 03:49] danpovey opened #1049 "Modify lmrescore.sh and maybe mkgraph.sh regarding self-loop-scale"
The default self-loop-scale in some scripts is 0.1.  However, for chain models, we always set this to 1.0 via the command line, and forgetting to do this can lead to bad results.
It would be good if these scripts could check whether the file `frame_subsampling_factor` exists in the directory concerned, and if it does exist and the self-loop-scale is not 1.0, then print a warning.
@psmit, perhaps y

[2016-09-22 04:42] #1049 closed

[2016-09-22 22:32] vijayaditya opened #1054 "nnet3-to-dot fails in descriptor parsing"
When `steps/nnet3/dot/nnet3_to_dot.py` was written nnet3 placed stringent constraints on the way in which descriptors could be ordered in the configs. But @danpovey removed these constraints and resolved any ordering issues in the C++ code.

`steps/nnet3/dot/nnet3_to_dot.py` has not yet been updated to accept the wider range of descriptor strings.

Requires : python, nnet3 knowledge

[2016-09-22 22:50] vijayaditya commented on #1054
Actually I wonder if it would be easier to just write a C++ binary for this. This way we could just use the nnet3 library to traverse computation graph and convert it to a dot graph; rather than parsing nnet3-am-info output and trying to sync this parser with the C++ changes,

[2016-09-22 22:51] danpovey commented on #1054
I'd rather not bulk up the C++ code with nonessential things like this.

On Thu, Sep 22, 2016 at 6:50 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-09-23 03:21] #858 closed

[2016-09-23 22:05] vijayaditya opened #1057 "Add support for --{left,right}-context options in nnet3-chain-copy-egs"
We would like to support `--left-context` and `--right-context` options in `nnet3-chain-copy-egs` similar to `nnet3-copy-egs`. This is a minor task, suitable for anyone trying to start contributing to nnet3 code.

Required : C++

[2016-09-24 01:21] allesover commented on #1057
Hi, Vijay, I will try this.

[2016-09-25 05:36] GaofengCheng commented on #1057
@vijayaditya Vijay When I do this work， I find the "NnetExample" uses "vector<NnetIo> io" for both the input and output, but the "NnetchainExample" uses "vector<NnetIo> io" for input and "vector<NnetChainSupervision>" for the output. This because using different the training criterion .

[2016-09-25 05:37] GaofengCheng commented on #1057
@vijayaditya Vijay When I do this work， I find the "NnetExample" uses "vector io" for both the input and output, but the "NnetchainExample" uses "vector io" for input and "vector NnetChainSupervision" for the output. This because using different the training criterion .

[2016-09-25 08:08] naxingyu commented on #1011
hkust would be a good example. I'm working on it.

[2016-09-25 18:20] vijayaditya commented on #1057
Yes.

--Vijay

On Sun, Sep 25, 2016 at 1:37 AM Gaofeng Cheng <notifications@github.com>
wrote:

[2016-09-25 21:13] danpovey opened #1059 "cleanup when training iVector extractor"
this issue probably exists in both the speaker-id and speech-reco scripts..
I think more cleanup should be done when training the iVector extractor, to remove intermediate models (1.ie, etc.), and post.*.gz.

[2016-09-26 20:07] danpovey commented on #1031
@naxingyu, have you made any progress on this?

[2016-09-27 00:43] danpovey commented on #893
This type of thing can be accomplished via the nnet3 editing mechanism I'm introducing in PR #1064.  I'd rather not leave this issue up, as I think it's not realistic that anyone is going to handle it, and I'm not sure I even agree it's the right direction -> closing it.

[2016-09-27 00:43] #893 closed

[2016-09-27 07:01] naxingyu commented on #1031
I started coding yesterday，nothing to commit yet.

发自我的 iPhone

[2016-09-29 06:27] sreelakshmikr opened #1073 "Kaldi help-"
Can't I train the system using one speaker??? I am getting the error as " Refusing to split data because number of speakers 1 is less than the number of output .scp files 20 at utils/split_scp.pl line 114, <I> line 156.
"
How can I solve this???
![screenshot from 2016-09-29 12 05 49](https://cloud.githubusercontent.com/assets/21353973/18943204/cd6b095a-863b-11e6-93fa-3928a341c591.png)

[2016-09-29 06:39] sreelakshmikr commented on #1073
Its 4 right now not 20.....

[2016-09-29 14:30] #1073 closed

[2016-09-29 14:30] jtrmal commented on #1073
This is not the right place to seek help.

[2016-09-29 22:05] danpovey opened #1074 "Extra check to L.fst and L_disambig.fst"
we should check in validate_lang.pl that L.fst and L_disambig.fst do not have cycles with only epsilons and/or disambig symbols on the inputs, similar to what utils/lang/check_g_properties.pl does.   (this will likely involve adding a script utils/lang_check_l_properties.pl).

[2016-09-30 08:39] naxingyu commented on #1031
It seems difficult to keep back compatibility in reading code of binary models, since we are adding a member and in binary mode the members are read directly without tags. Any suggestion?

[2016-09-30 08:42] naxingyu commented on #1031
Oh I figure out what to do. Sorry.

[2016-09-30 13:04] GaofengCheng commented on #1057
done...

[2016-09-30 13:23] GaofengCheng opened #1077 "Adding maxout for the Nnet3 neural component"
Is anybody doing this ? If not,  maybe I can try it.

[2016-09-30 17:44] vijayaditya commented on #984
I am reopening this issue as @tomkocse recently reported that CMVN operations in ASpIRE were taking up to 10 hrs. So we do need to address this issue.

[2016-09-30 17:49] vijayaditya commented on #1077
Yes, that would be good. There is a max-pooling component used for processing convolutional outputs, so when designing this component try to if the maxpooling component can be a child class of the maxout component.

[2016-09-30 17:50] vijayaditya commented on #1057
Being addressed in #1078

[2016-09-30 17:50] #1057 closed

[2016-09-30 19:11] danpovey commented on #1077
Just a note RE child-classes-- please don't force it if it's not 100%
natural.  I prefer code that's simple and easy to understand, even if it's
a little bit longer.

BTW, this component exists in nnet2, I think, so porting to nnet3 should
not be that hard.

On Fri, Sep 30, 2016 at 1:49 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-09-30 19:29] vijayaditya commented on #1077
OK, I will keep this in mind.

[2016-10-01 10:45] gorinars opened #1080 "cantab-TEDLIUM broken link"
Though it's not directly related to kaldi, seems like [cantab LM] (http://cantabresearch.com/cantab-TEDLIUM.tar.bz2) used in egs/tedlium/s5/local/download_data.sh is no more working.

If possible, it would be nice to have it mirrored.

[2016-10-01 12:22] drTonyRobinson commented on #1080
Ah, yes, I have to fix this (Google drive can no longer be used as a Web site) .  What's probably easiest is if openslr becomes the primary source.

Email me directly if you need this today.

Tony

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: gorinars <notifications@github.com>
Sent: Saturday, October 1, 2016 11:45:51 AM
To: kaldi-asr/kaldi
Subject: [kaldi

[2016-10-01 12:36] gorinars commented on #1080
Thank you. No rush. It's just to have the script working out-of-the box in the future

[2016-10-02 17:43] drTonyRobinson commented on #1080
I've started the process.  Note that this will mean that if you fetch
files right now you'll get a truncated version.  The md5sums are:

5882b9edc1de1fab7d6a1b44a7f115ec  cantab-TEDLIUM.tar.bz2
2c486e4212d42ef76fe5eeb3baed19a7  cantab-1bn-norm.tar.bz2

It should be done in an hour or two.

Tony

On 01/10/16 13:36, gorinars wrote:

--
Speechmatics is a trading name of Cantab Research Limited
We are

[2016-10-02 17:45] jtrmal commented on #1080
Hi Tony,
we talked yesterday with Dan and I put the LM on opeslr.org a couple of
hours ago -- please check http://www.openslr.org/27/

I will incorporate any changes you suggest.
y.

On Sun, Oct 2, 2016 at 1:43 PM, drTonyRobinson <notifications@github.com>
wrote:

[2016-10-02 23:03] danpovey commented on #988
Regarding the ephemeral connections, I just noticed that in this paper https://arxiv.org/pdf/1510.08983.pdf about highway LSTMs, they start with dropout on these connections at 0.1 and increase it to 0.8-- so it's a bit like the proposed ephemeral-connections idea (except they don't increase the dropout all to 1 and then remove the component).  Anyway, to me it confirms that there is something to

[2016-10-03 00:45] vijayaditya commented on #957
We just found that  the matrix multiplies corresponding to the final-affine components in chain models (ie. chain and xent branches) constitute almost 70% of the training time for our typical TDNN models (512x6000 final matrices). So I would like to prioritize this project.

[code]

@GaofengCheng Can you help with this ?

[2016-10-03 01:10] GaofengCheng commented on #957
OK,  I will explore it after October 4 ( I'm on vacation for the two days ). is the time ok ?

[2016-10-03 01:11] vijayaditya commented on #957
Sure, that should be fine.

[2016-10-03 02:26] danpovey opened #1089 "Efficient implementation of LSTM"
I have an idea for a more efficient implementation of LSTM in the nnet3 framework.
@kangshiyin, if you have time, you might be a good person to do the coding aspects this, since it involves CUDA.  But @vijayaditya will probably want to do the scripts, and he and others may also have comments on the idea more generally.

I am referring to the formulation of LSTMs in http://static.googleusercontent.

[2016-10-03 02:27] danpovey commented on #1089
sorry still editing

[2016-10-03 07:07] vijayaditya commented on #943
The combination of Permute and BlockAffine components is not fast enough, so I will be implementing this with a higher priority.

[2016-10-03 15:09] jtrmal commented on #1030
should be addressed now by #1038

[2016-10-03 15:09] #1030 closed

[2016-10-03 18:31] vijayaditya opened #1091 "Implementation of --extra-left-context and --extra-right-context options in online2-wav-nnet3-latgen-faster"
This is necessary for online decoding with RNN AMs.

[2016-10-03 18:49] danpovey commented on #943
Don't underestimate how hard this is-- it's really very hard.  May be easier to optimize the other components.

[2016-10-03 23:47] vijayaditya commented on #943
OK, I will explore all the other options before pursuing this.

[2016-10-04 15:01] naxingyu commented on #1031
hi Dan,
1. When modifying the binary reading code, it seems difficult to keep back compatibility, since the binary reading code work without tags.
2. In the computing triples code, which is being modified to computing tuples, the pdf info is generated based on pdf_class. However, the new Tuple construction function require pdf_class and self_loop_pdf_class. It seems that I should modify the pdf re

[2016-10-04 17:39] danpovey commented on #1031
hi Dan,

Please figure out a way to do this-- for instance, if you know that a
certain number is positive, you could use a negative number as a signal
that it wasn't the old format.  Probably the "new" format should have tags
even for the binary, if that's practical.

Yes.

It seems that I should modify the pdf related functions in

Actually I don't think so.  The ContextDependency objects maps fr

[2016-10-04 17:40] danpovey commented on #1031
Bear in mind that pdf_class and self_loop_pdf_class are the same
"type" of index, they are all pdf_classes.  self_loop_pdf_class just
means "the pdf-class that we have on the self-loop of this HMM state".
It's not a different *type* of quantity.

On Tue, Oct 4, 2016 at 1:39 PM, Daniel Povey <dpovey@gmail.com> wrote:

[2016-10-04 21:39] david-ryan-snyder commented on #376
@danpovey I think we can close this issue now.

[2016-10-04 21:40] david-ryan-snyder commented on #504
@danpovey we should be able to close this issue now

[2016-10-04 21:41] #504 closed

[2016-10-04 21:41] #376 closed

[2016-10-04 21:44] david-ryan-snyder opened #1096 "SID and LID recipes should use --num-threads N"
Several SID and LID scripts use  the"-pe smp N" format to specify the number of threads. This is not recommended now. Replace that with  "--num-threads N" instead.

Assigned to @david-ryan-snyder

[2016-10-04 21:56] david-ryan-snyder commented on #846
@danpovey you can close this issue, it got fixed in the last commit.

[2016-10-04 21:57] #846 closed

[2016-10-04 22:00] david-ryan-snyder opened #1097 "In SID recipes, provide a script-level option for simple-length-normalization"
Make this --simple-length-normalization flag into variable (true|false) in the SRE10 and SRE08 scripts. It should be true in SRE08 and false in SRE10. This emphasizes that it's a configurable variable rather than an essential part of the pipeline.

Assignee: @david-ryan-snyder

[2016-10-05 08:01] GaofengCheng commented on #957
@vijayaditya  will the newest version of kaldi show the training time by default or should I do some scripts changes?

[2016-10-05 09:17] kangshiyin commented on #1089
I'm sorry I'm kind of busy this month.  I think I need some time to get myself more familiar with the nnet3 component design before I can do this. Currently I'm also working on the normalize component.

[2016-10-05 17:29] vijayaditya commented on #957
You can get the info when you run training with --computation.debug=true.
You can summarize the training info by using the script
steps/nnet3/report/summarize*.py.

Vijay

On Oct 5, 2016 04:01, "Gaofeng Cheng" <notifications@github.com> wrote:

[2016-10-05 17:36] danpovey commented on #1089
How about if someone else does the component design and explains what the
kernel needs to implement, and you just do the CUDA kernels?
@vijayaditya, any ideas for who can do the component-level stuff?

On Wed, Oct 5, 2016 at 5:17 AM, Shiyin Kang <notifications@github.com>
wrote:

[2016-10-05 21:15] #1080 closed

[2016-10-05 22:39] vijayaditya commented on #1089
No one comes to my mind immediately. But I will keep this task in mind when
we have other requests for collaboration.

Vijay

On Oct 5, 2016 1:36 PM, "Daniel Povey" <notifications@github.com> wrote:

[2016-10-05 23:00] danpovey commented on #943
After thinking about this a bit, I think there is a reasonably practical way to do the weighted sum stuff.

It could be done as an extension of the dim-range-node, so that the dim-range-node gets a scale; and for syntactic sugar, these nodes would be automatically added.  The reason to combine the dim-range and scale operations, rather than have them as separate things, is so that you could combin

[2016-10-06 08:05] vince62s commented on #699
@vijayaditya Did someone actually run the nnet3 and/or chain on this multi-database ?

[2016-10-06 09:45] vijayaditya commented on #699
Not yet.

Vijay

On Oct 6, 2016 09:05, "vince62s" <notifications@github.com> wrote:

[2016-10-06 13:58] GaofengCheng commented on #957
@vijayaditya  I have tested the tdnn_7e_sp (chain) and the tdnn_b_sp (CE) in swbd already, but the time results is far different from yours.

-  configs: 7e(chain) is 625\*6074 for the final_affine and b(CE) is 1024\*8797 for the final affine.

- time calculate command:
 `grep DebugAfterExecute exp/chain/tdnn_7e_sp/log/train.200.5.log | steps/nnet3/report/summarize_compute_debug_timing.py > timing

[2016-10-06 18:01] danpovey commented on #957
What type of GPU are you using?

On Thu, Oct 6, 2016 at 9:58 AM, Gaofeng Cheng <notifications@github.com>
wrote:

[2016-10-06 18:40] jtrmal opened #1098 "fix the utils/fix_ctm.sh"
a) make it use the segments file
b) make it conform the the utils/ scripts standards

y.

[2016-10-06 18:42] kangshiyin commented on #1089
@danpovey sure, that would be good.

[2016-10-06 20:55] danpovey commented on #1089
Shiyin, if you want you could just make a PR for the kernel when you have
time, and then we'll find someone to do the wrapping code.  It should be
reasonably obvious from my description for the 'issue' what is required.

On Thu, Oct 6, 2016 at 2:42 PM, Shiyin Kang <notifications@github.com>
wrote:

[2016-10-07 00:48] GaofengCheng commented on #957
@danpovey Tesla K80

[2016-10-08 02:29] GaofengCheng opened #1100 "bugs in swbd/s5c/local/chain/tuning/run_blstm_6h.sh and other chain lstm scripts"
bug found in run_blstm_6h.sh, run_lstm_6i.sh....
in run_lstm_6i.sh line 118:
`  steps/nnet3/lstm/make_configs.py  \`
`.....`
`--self-repair-scale 0.00001 \`
but the steps/nnet3/lstm/make_configs.py requires:
                `self_repair_scale_nonlinearity = args.self_repair_scale_nonlinearity,`
                `self_repair_scale_clipgradient = args.self_repair_scale_clipgradient)`
leading to error

[2016-10-08 02:33] vijayaditya commented on #1100
There are a lot of discrepancies like these across different recipes, as
self-repair-scale was recently introduced. Could you please submit a commit
fixing these ?

On Fri, Oct 7, 2016 at 10:29 PM, Gaofeng Cheng <notifications@github.com>
wrote:

[2016-10-08 02:34] GaofengCheng commented on #1100
Ok

[2016-10-08 02:34] danpovey commented on #1100
I think it's safe to assume that whenever it's given as just
--self-repair-scale, what is meant is --self-repair-scale-nonlinearity

On Fri, Oct 7, 2016 at 10:34 PM, Gaofeng Cheng <notifications@github.com>
wrote:

[2016-10-08 02:37] vijayaditya commented on #1100
I think @freewym already corrected this for tdnn config generators, where
self-repair-scale would have have meant self-repair-scale-nonlinearity. The
remaining issues are for RNNs, so please add both
self-repair-scale-nonlinearity and self-repair-scale-clipgradient for these
scripts. Just use the values you find in swbd/s5c/run_blstm.sh for these
variables.

--Vijay

On Fri, Oct 7, 2016 at 10:34 P

[2016-10-08 02:38] vijayaditya commented on #957
IIRC I was checking these for tdnn_7b in swbd.

[2016-10-08 02:40] danpovey commented on #1100
OK, but probably best not to add --self-repair-scale-clipgradient for the
older experiments that are only present in tuning/, or aren't currently the
latest recommended versions of any of the types of model.  To do so would
add a certain amount of confusion.

Dan

On Fri, Oct 7, 2016 at 10:37 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-10-08 02:44] GaofengCheng commented on #957
I will test the 7b next

[2016-10-08 09:51] naxingyu commented on #1031
In my understanding, a `triple` defines a physical HMM state that will consume one frame of acoustic feature. In `Triple`, the consumption can happen either in an outward transition or a self-loop transition, which share one `pdf_id`, but weighted by transition probabilities. If extended to `Tuple`, this complex still define a state, but consumes acoustics following the principle that the self-loo

[2016-10-08 17:28] kangshiyin commented on #1089
Ok, I will start look into it when time permits.

[2016-10-08 19:05] danpovey commented on #1031
In my understanding, a triple defines a physical HMM state that will
consume one frame of acoustic feature. In Triple, the consumption can
happen either in an outward transition or a self-loop transition, which
share one pdf_id, but weighted by transition probabilities. If extended to
Tuple, this complex still define a state, but consumes acoustics following
the principle that the self-loop transi

[2016-10-09 03:23] naxingyu commented on #1031
Here, I will modify as something like
[code]
The problem is, later when creating triples/tuples, `pdf_class` and `self_loop_pdf_class` are equally treated as pdf classes, in both to_hmm_state_list and pdf_info. There is no way to create a (phone, hmm_state, pdf, self_loop_pdf) tuple like that.

[2016-10-09 03:27] danpovey commented on #1031
Some of the data structures will have to change... definitely the triples
become 4-tuples.  Possibly the to_hmm_state_list pairs will become triples,
although I'm just looking at that snipped and don't remember what it is.

On Sat, Oct 8, 2016 at 11:24 PM, Xingyu Na <notifications@github.com> wrote:

[2016-10-09 03:35] naxingyu commented on #1031
Yes, I was planning to do that two days ago but found that this loop
[code]
is based on undistinguished pdf classes. Maybe I need to rewrite this loop using `to_hmm_state_list` as iterator...

[2016-10-09 03:50] danpovey commented on #1031
You might find it better to rewrite that function ComputeTriples() from
scratch.
Of course, the name would have to change to ComputeTuples().
Basically what it is doing is finding all the 4-tuples
(phone, hmm-state, pdf_class, self_loop_pdf_class)
can occur.
GetPdfInfo gives you a map from pdf -> (phone, pdf_class).
You could rework that into a vector<vector<vector<int32> > >
that is indexed [phon

[2016-10-09 04:30] danpovey commented on #1031
OK, I think I've figured out how to do it, but it's not very trivial or
pretty.

Firstly, for speed, if it's the case that the self_loop_pdf_class is always
the same as the pdf_class then you should do something equivalent to the
old code, calling GetPdfInfo.  The code in TransitionModel will have to be
in two branches, depending if the self_loop_pdf_class was always the same
as the pdf_class.  [N

[2016-10-10 08:59] xvk58 opened #1104 "Use"
I want to use Kadi for a simple speech recognition project. Does it runs on CPU or I need to install a GPU? If GPU is a must, I have a built in 1GB GPU with my processor. Will it work?
And is there any tutorial about how to use?

[2016-10-10 11:02] vince62s commented on #1104
http://kaldi-asr.org/doc/tutorial.html

[2016-10-10 13:26] #1104 closed

[2016-10-10 22:27] jasonrayles-nbcuni opened #1106 "--zero-if-disjoint should be --drop-frames"
In egs/voxforge/s5/local/run_sgmm2.sh, I think that the `--zero-if-disjoint` option should be `--drop-frames` when calling `steps/train_mmi_sgmm2.sh`

I think this option got re-renamed in commit 27219f986e89986f1dc0873dd045b6f60686e504.

[2016-10-10 22:33] danpovey commented on #1106
Thanks!  Just resolved this issue.

[2016-10-10 22:33] #1106 closed

[2016-10-11 20:14] jasonrayles-nbcuni opened #1107 "maybe set CPPFLAGS="-stdlib=libstdc++" in tools/extras/install_sequitur.sh"
When installing sequitur on OS X, I think that
`make CPPFLAGS="-stdlib=libstdc++"` is required.

This solution was proposed at https://groups.google.com/forum/#!msg/kaldi-help/x3AJzKHe5lY/EpBJORtFAgAJ. I am not sure what the implications of explicitly setting this option is for all users, but according to http://stackoverflow.com/a/16788372, libstdc++ is the standard GNU/Linux library, anyway.

If

[2016-10-11 20:23] jtrmal commented on #1107
Thanks for reporting it, I'll have a look.
MacOS is annoying as the default libc is clang's one (libc++) as far as I understand.  I will investigate, but do not expect a quick fix -- if you have enough technical experience, can you please add that flag just to see what happens?

Also, my feeling is it should go into CXXFLAGS, but perhaps that does not matter

[2016-10-11 20:34] jasonrayles-nbcuni commented on #1107
` make CPPFLAGS="-stdlib=libstdc++" ` definitely works on OS X. I could not install sequitur without it.

[2016-10-11 21:08] danpovey opened #1108 "Add --read-disambig-syms=$lang/phones/disambig.int to compile-train-graphs"
@xiaohui-zhang, can you please do this, or have @keli78 do it?
This is a change that will allow the lang directories that use an unk-model to be used for alignment.

All align scripts, or all scripts that use compile-train-graphs, should use the option mentioned in the title.  This will allow them to work (and not crash) with the lang directories obtained with the --unk-fst option.

[2016-10-11 21:31] xiaohui-zhang commented on #1108
sure we'll take over this

On Tue, Oct 11, 2016 at 5:08 PM, Daniel Povey <notifications@github.com>
wrote:

--
Xiao-hui

[2016-10-11 22:26] danpovey opened #1109 "Training example context sizes"
Right now in recurrent setups in nnet3 was have an issue with the context at the edges of egs.
Suppose we use a large --extra-left-context and --extra-right-context, like 40.  Our practice is to do this even at the start/end of the file, to keep the egs all with the same structure, so compilation doesn't have to be repeated on each frame.
[...sorry, I accidentally created the issue too soon...]
Bu

[2016-10-11 22:31] danpovey commented on #1109
@freewym, finished that comment, check it on github.

[2016-10-11 22:42] freewym commented on #1109
OK.

[2016-10-12 14:43] jtrmal commented on #1107
would you be willing to remove your sequitur and then change the extras/install_sequitur.sh so that the line 67 would say:
[code]
My feeling is that is more correct solution anyway.

[2016-10-12 19:09] danpovey opened #1115 "BackpropTruncationComponent"
This is something that we discussed in our group meeting, that @freewym is going to work on, but I want to create this issue to provide further details, to track progress, and to keep others including @vijayaditya informed.

We continue to have problems caused by the gradient explosion in backprop when using BLSTMs.  One reason is that we don't do truncated BPTT-- it's fairly hard in the nnet3 fra

[2016-10-12 21:20] jasonrayles-nbcuni commented on #1107
Ok, I just had a chance to try this.

` make CXX=g++ CC=gcc ` did not work for me.

I get
[code]

I tried with variations of quotes and the full path to gcc on my system.

I also tried
` make CXXFLAGS="-stdlib=libstdc++" ` and got the same fatal error.

` make CPPFLAGS="-stdlib=libstdc++" ` is the only way I could get the install script to finish without errors.

[2016-10-12 21:21] danpovey commented on #1107
What is your g++ version?

On Wed, Oct 12, 2016 at 5:20 PM, jasonrayles-nbcuni <
notifications@github.com> wrote:

[2016-10-12 21:23] jasonrayles-nbcuni commented on #1107
That is a good question.
` g++ --version ` gives me:
[code]

[2016-10-12 21:27] jtrmal commented on #1107
Yes, but that's clang's "imitation" of gcc -- it's not the real
gcc compiler. And apparently has issues with supporting anything later than
tr1.
Let me think if we can deal with that.

y.

On Wed, Oct 12, 2016 at 5:23 PM, jasonrayles-nbcuni <
notifications@github.com> wrote:

[2016-10-12 21:29] jtrmal commented on #1107
Does that "g++" compile kaldi?
y.

On Wed, Oct 12, 2016 at 5:27 PM, Jan Trmal <jtrmal@gmail.com> wrote:

[2016-10-12 21:48] jasonrayles-nbcuni commented on #1107
Yes.

[2016-10-12 21:57] jtrmal commented on #1107
can you please send me the version of swig (swig -version)?

On Wed, Oct 12, 2016 at 5:48 PM, jasonrayles-nbcuni <
notifications@github.com> wrote:

[2016-10-12 22:00] jtrmal commented on #1107
And also the whole sequitur build log? I think it would be better, if you
send it directly to jtrmal _at_ gmail.com
The thing is I cannot reproduce your issues... It's actually even worse, I
can reproduce your issues but for a combination that works for you and you
report the issues for combination that work for me.
y.

On Wed, Oct 12, 2016 at 5:57 PM, Jan Trmal <jtrmal@gmail.com> wrote:

[2016-10-13 03:47] naxingyu commented on #1031
On 2016/10/9 12:30, Daniel Povey wrote:

I think the later two parameters are
std::vector<std::vector<std::pair<int32, int32> > > &pdf_class_pairs
and
std::vector<std::vector<std::vector<std::pair<int32, int32> > > > *pdf_info.
The pdf_class_pairs is a phone-indexed list of lists of
<forward_transition_pdf_class, self_loop_pdf_class> pairs, and the
pdf_info is phone-indexed first, and each element

[2016-10-13 07:57] naxingyu commented on #1031
OK. And it requires modifying the context dependency interface, right?

X.

On 2016/10/13 11:55, Daniel Povey wrote:

[2016-10-13 16:40] danpovey commented on #1031
The only interface change required is the one we discussed about the 2nd
version of GetPdfInfo().
That stuff about progressively increasing the context and querying
MultiMap() multiple times would be done inside GetPdfInfo().. not
necessarily in the function, but interface-wise, there is no need to expose
this stuff.  But as a 1st pass and so as to do better regression testing it
might be a good t

[2016-10-13 17:32] #1108 closed

[2016-10-14 15:06] sih4sing5hong5 opened #1118 "Document about converting arpa-lm into G.fst"
The doc of [online_decoding](https://github.com/kaldi-asr/kaldi/blob/35ebbbe11235a5766e009e46b127901dada897b7/src/doc/online_decoding.dox#L356-L365), [data_prep.dox](https://github.com/kaldi-asr/kaldi/blob/85a3dd5f0b71e419abf1169a26b759bfc423a543/src/doc/data_prep.dox#L820-L828) and [format_lm.sh#L42-L44](https://github.com/kaldi-asr/kaldi/blob/master/egs/wsj/s5/utils/format_lm.sh#L42-L44) are dif

[2016-10-14 15:43] ognjentodic commented on #1118
Also, "Preparing the grammar G" section in http://kaldi-asr.org/doc/graph_recipe_test.html is different (missing utils/s2eps.pl call).

[2016-10-14 15:50] jtrmal commented on #1118
Vassil's post is slightly outdated but still very useful for these kinds of
questions
http://vpanayotov.blogspot.com/2012/06/kaldi-decoding-graph-construction.html

On Fri, Oct 14, 2016 at 11:43 AM, ognjentodic <notifications@github.com>
wrote:

[2016-10-14 17:09] danpovey commented on #1118
Those parts of the documentation that you pointed out are outdated-- the arpa2fst command was rewritten so that it does some of those extra steps.
@kkm000, do you have time to submit a PR to update the documentation?  Or does anyone else on this thread have time?

[2016-10-14 21:31] danijel3 opened #1119 "copy-matrix critical error"
I have a simple example of a file that causes the matrix reading code in text mode to crash.

This is a file called test.ark:
[code]

It is parsed using this command:
`copy-matrix ark,t:test.ark ark:/dev/null`

This causes this error:
`*** Error in '/home/guest/kaldi/src/bin/copy-matrix': munmap_chunk(): invalid pointer: 0x0000000001027220 ***
`
(with backtrace and memory map below)

Ran it throug

[2016-10-14 21:39] vince62s opened #1120 "compiling in shared mode"
in the middle of the make process, this pops up:

/usr/bin/ld: kaldi-lm.a(kaldi-lmtable.o): relocation R_X86_64_32 against `.rodata' can not be used when making a shared object; recompile with -fPIC
kaldi-lm.a(kaldi-lmtable.o): error adding symbols: Bad value
collect2: error: ld returned 1 exit status
make[1]: *** [libkaldi-lm.so] Error 1
make[1]: Leaving directory `/home/moses/kaldi/src/lm'
make:

[2016-10-14 21:42] danpovey commented on #1120
This happens if you configure with --shared after previously configuring
without that option.  You would need to do make clean.

On Fri, Oct 14, 2016 at 5:39 PM, vince62s <notifications@github.com> wrote:

[2016-10-14 21:43] danpovey commented on #1119
If there are lines with different numbers of elements, the matrix reading
code should crash via KALDI_ERROR.  Can you please add a check for this and
make a pull request?
Dan

On Fri, Oct 14, 2016 at 5:31 PM, Danijel Koržinek <notifications@github.com>
wrote:

[2016-10-14 21:51] danijel3 commented on #1119
Sure, I'll give it a go, but I could use some hints to check if a similar error could exist in other parts of the code?

[2016-10-14 21:52] vince62s commented on #1120
thanks.

[2016-10-14 21:52] #1120 closed

[2016-10-14 21:58] danpovey commented on #1119
I doubt there would be a similar issue anywhere else.

On Fri, Oct 14, 2016 at 5:52 PM, Danijel Koržinek <notifications@github.com>
wrote:

[2016-10-15 00:33] sih4sing5hong5 commented on #1118
Which example is recommended?
I use the one in `online_encoding` now.
What I can do?

[2016-10-15 00:37] danpovey commented on #1118
Actually it doesn't matter I think, the tool is back compatible, but I'd
recommend the one in format_lm.sh.

On Fri, Oct 14, 2016 at 8:33 PM, 薛丞宏 <notifications@github.com> wrote:

[2016-10-15 00:46] sih4sing5hong5 commented on #1118
I will copy the `format_lm.sh` one to others later.
[code]

[2016-10-15 01:11] danpovey commented on #1118
ok thanks.

On Fri, Oct 14, 2016 at 8:46 PM, 薛丞宏 <notifications@github.com> wrote:

[2016-10-15 16:18] danijel3 commented on #1119
Turned out the error was somewhat different than anticipated. It was caused by a double delete in two cases. It's fixed now...

[2016-10-15 17:23] danpovey commented on #1119
You mean it's fixed in current Kaldi code, or you'll submit a pull request?

On Sat, Oct 15, 2016 at 12:18 PM, Danijel Koržinek <notifications@github.com

[2016-10-15 17:24] danijel3 commented on #1119
It's fixed in pull request #1121 referenced above.

[2016-10-15 21:03] #1119 closed

[2016-10-16 20:19] danpovey opened #1123 "Getting rid of need for alignments in iVector training"
@david-ryan-snyder, it continues to be a pain that we need alignments to get the LDA+MLLT transform for purposes of training speaker-id systems.
Can you see if it's possible to replace that with a PCA transform without hurting results?  Did we ever look at this?

[2016-10-16 22:03] danpovey opened #1124 "xconfig files"
@vijayaditya, please note..

I actually have a proposal that will make it easier to integrate things like the skip-layer connections in future, and will make testing and refactoring the nnet3 config generation scripts easier in future.  It's to separate the config-generation into two stages, with an intermediate pseudo-config file [I'm calling this an xconfig file].  Of course it would be fine to

[2016-10-16 22:33] david-ryan-snyder commented on #1123
This is for ASR speaker _adaptation_? I haven't gotten involved in that yet, so I don't know about PCA vs LDA, etc.

Have you tried using standard speaker ID features for the i-vector system? E.g., 20 mfccs + some deltas? Is it there a reason we don't do that?

[2016-10-16 22:35] david-ryan-snyder commented on #1123
And yes, I'm happy to look into this.

[2016-10-16 22:39] danpovey commented on #1123
Yes it's for adaptation.  We need it to take the same features as the nnet
is trained on, which is 40-dim MFCCs.  Anything apart from just getting the
transform a different way, will affect the runtime.  I believe there is a
binary est-pca which can be used to get the transform instead.

On Sun, Oct 16, 2016 at 6:35 PM, david-ryan-snyder <notifications@github.com

[2016-10-16 22:40] danpovey commented on #1123
BTW, you can start with tedlium s5_r2.

On Sun, Oct 16, 2016 at 6:39 PM, Daniel Povey <dpovey@gmail.com> wrote:

[2016-10-16 22:42] david-ryan-snyder commented on #1123
transform a different way, will affect the runtime.

Gotcha.

Will do.

[2016-10-16 22:54] danpovey commented on #1123
The easiest way to do it might be to add a script with the following usage:

steps/online/nnet2/get_pca_transform.sh <data-dir> <pca-dir>
  This script computes a PCA transform based on the data in <data-dir>, and
outputs it
  <pca-dir>/final.mat.  It puts the splicing options used into the file
<pca-dir>/splice_opts.
 Options:
        --dim  <pca-dim>             # default 40.  The dimension to
p

[2016-10-17 01:02] danpovey commented on #1124
BTW, I think it would be better to have a totally separate library and new frontend scripts for this, in steps/nnet3/config/.
That will mean there is less need to worry about back compatibility.
If the different types of layer are done as classes, it might make it easier to add new layer types in future.  But I'm not such a great python programmer, so you might have better ideas.

[2016-10-17 17:16] danpovey opened #1125 "Change how descriptors behave in nnet3"
This is something that I discussed with Vijay but that he probably doesn't have time for, and would be suitable for someone who wants to get more familiar with nnet3 at the code level.
We found that the way certain types of ForwardingDescriptor interact is a bit unintuitive.  Specifically, if you do something like
 Offset(Round(some_node, 10), 3)
you'll get the input from some_node at indexes 13,

[2016-10-17 19:42] danpovey commented on #1125
@GaofengCheng, you could do this if you have time.

[2016-10-18 00:20] GaofengCheng commented on #1125
@danpovey  I will begin this after I finish the chain dropout (b)lstm code (today will be ok)

[2016-10-18 12:40] rezasabzi opened #1127 "how to classify 2^N classes with a DNN with N outputs"
Hi,
I have a classification problem. I want to design a classifier with (N) outputs that it can classify 2^N classes, each output could be 0 or 1.
My question is how to create label file for this classifier in Kaldi?
Should I change the network configuration?
Thanks,
Reza

[2016-10-18 17:08] danpovey commented on #1127
dealing with by email, closing the issue.

[2016-10-18 17:08] #1127 closed

[2016-10-18 22:07] danpovey opened #1128 "Spatial regularization component"
Some of you will have seen the Microsoft ArXiv paper, in which they report better-than-human performance on Switchboard.
https://arxiv.org/pdf/1610.05256v1.pdf
The new aspect of their work which is easiest to directly use in our system is their idea of "spatial regularization".
This is something that happens on the output of hidden layers (e.g. affine layers or BLSTM layers).
The output of the lay

[2016-10-18 23:27] danpovey commented on #1128
Actually, @kangshiyin, if you haven't started on the other thing (the new LSTM version) yet, you could do the GPU parts of this one instead-- it would improve our systems faster.

[2016-10-19 00:04] kangshiyin commented on #1128
OK, I'm now @ISCSLP, where Microsoft announced their paper. I will be back at the week end and start working on this.

[2016-10-21 03:18] sih4sing5hong5 commented on #1118
#1129 merged

[2016-10-21 03:18] #1118 closed

[2016-10-21 06:45] GaofengCheng opened #1133 "swbd local/remove_dup_utts.sh is lost"
Line 96 in /local/nnet3/run_ivector_commen.sh still calls for local/remove_dup_utts.sh , but file doesn't exist. I wonder whether the remove dup process is still needed ?  I will commit a update later.

[2016-10-21 07:01] GaofengCheng commented on #1100
Solved.

[2016-10-21 07:01] #1100 closed

[2016-10-22 09:22] vince62s opened #1134 "cu-device / SelectGpuIdAuto"
This refers to a question raised on forum.

When using GPU in exclusive mode, it runs only one job per GPU. On recent boards, it a pity since we can use better the power by running 2 or 3 jobs on them.

When running GPU in non-exclusive mode, the selection is done on "free memory ratio".
The only problem is that if you launch 4 jobs at the same time, they have not started to actually use the memor

[2016-10-22 13:45] lifeiteng commented on #1134
Training, `one job per GPU` is faster than `multi job per GPU`, because `job switching on GPU` will cost some time, similar to `CPU context switching`.

Decoding, when num_jobs are much larger than GPU devices, my stage is ` echo "password" | sudo -S nvidia-smi -c 0`, modify `decode.sh` to balance GPU usage.
[code]

[2016-10-22 17:45] danpovey commented on #1134
The reason we don't recommend using non-exclusive mode is that it generally just degrades performance, as @lifeiteng said.  Closing the issue.

[2016-10-22 17:45] #1134 closed

[2016-10-22 19:48] danpovey commented on #1124
@vijayaditya, I'm not sure when you're coming back from India and whether you have time to work on this?  If you don't think you'll have time soon, I might start it myself.

Another idea:
to enable a compact form of the xconfig file, in the descriptor parsing, something like
input=Append(affine1@-3, affine1@0, affine1@3)
can be abbreviated to just
input=Append(-3, 0, 3)
and if there is no layer sp

[2016-10-22 20:35] danpovey commented on #1133
I responded to this by email but github did not post it.  Posting it manually.

That script was moved to utils/data/remove_dup_utts.sh.  Please make a PR to call it in the proper location.

[2016-10-23 14:35] david-ryan-snyder commented on #1123
**LDA+MLLT (Baseline)**
[code]

**PCA _WIth_ Mean and Variance Normalization**
[code]

**PCA _Without_ Mean and Variance Normalization**
[code]

[2016-10-23 14:40] david-ryan-snyder commented on #1123
So it seems that replacing the LDA+MLLT with PCA increases WER.  The degradation is largest for the rescored test set, 9.0% -> 9.4%. Should we look into this further, or does it seem like the degradation is too much?

[2016-10-24 02:37] #1133 closed

[2016-10-24 12:17] baylor369 opened #1137 "CNN on nnet1"
On Nnet1, is there results with CNN?

[2016-10-24 14:56] baylor369 opened #1138 "what happen (on the process of decoding, on the TIMIT)?"
Use of uninitialized value within %phonemap in concatenation (.) or string at local/decodetimit_norm_trans.pl line 86, <T> line 195.
Use of uninitialized value within %phonemap in concatenation (.) or string at local/decodetimit_norm_trans.pl line 86, <T> line 195.
Use of uninitialized value within %phonemap in concatenation (.) or string at local/decodetimit_norm_trans.pl line 86, <T> line 195.
U

[2016-10-24 22:32] danpovey commented on #1137
[reposting since my email response was lost:]
Look at egs/rm/s5/local/nnet/run_cnn.sh

[2016-10-24 22:32] #1137 closed

[2016-10-24 22:33] danpovey commented on #1138
[reposting since my email was lost.]
Does anyone want to look into this?
I am sticking to my policy of not getting involved in TIMIT-related issues.

[2016-10-24 22:34] danpovey commented on #1123
[reposting my response since my email was lost:]
What are the objective function values from the neural net training?  Use steps/info/chain_dir_info.pl to test.
And also, look at the objf values printed in the iVector extraction logs and see if there is a big difference.

[2016-10-25 03:54] danpovey commented on #820
This was resolved in PR #1058

[2016-10-25 03:54] #820 closed

[2016-10-25 03:55] danpovey commented on #842
Pasting an email thread that is relevant to this:

In the documentation is written:

"Notice that we allow words with empty phonetic representations." [1]

But in validate_dict_dir.pl:

"--> ERROR: lexicon.txt contains word $word with empty pronunciation" [2]

Why does the code not allow for empty pronunciations? Is there a problem with using empty pronunciations at test-time?

-
Peter

[1] http:/

[2016-10-25 03:55] #802 closed

[2016-10-25 03:56] danpovey commented on #894
@maxhawkins, although we did this, I'll leave this issue up a bit as I think it's not 100% finalized.

[2016-10-25 07:28] tuming1990 opened #1139 "Is Fisher transcripts really optional for AMI exp?"
I tried to run run_prepare_shared.sh. According to
[code]
I left definition of FISHER_TRANS commented.
But
[code]
can't be excuted, saying that
[code]

Then I defined FISHER_TRANS just as $PWD. The code just exited since in ami_train_lms.sh it needs fisher transcription to be provided.

So, how can I run the script without fisher transcription?

Thanks,
Ming

[2016-10-25 09:29] #1138 closed

[2016-10-25 12:05] alumae commented on #1139
Just remove the ` --fisher $FISHER_TRANS` switch:

    local/ami_train_lms.sh data/local/annotations/train.txt data/local/annotations/dev.txt data/local/dict/lexicon.txt data/local/lm

[2016-10-25 14:53] sih4sing5hong5 commented on #842
I will read them recently.

[2016-10-25 15:53] elfring commented on #89
Were there a few update candidates left over?
* [LatticeStringRepository::Destroy](https://github.com/kaldi-asr/kaldi/blob/85a3dd5f0b71e419abf1169a26b759bfc423a543/src/fstext/determinize-lattice-inl.h#L171 "LatticeStringRepository::Destroy function")
* [OnlineFeaturePipeline::SetTransform](https://github.com/kaldi-asr/kaldi/blob/85a3dd5f0b71e419abf1169a26b759bfc423a543/src/online2/online-feature-p

[2016-10-25 16:05] elfring opened #1140 "Improve exception safety with smart pointers"
Would you like to wrap any pointer data members with the template class "[std::unique_ptr](https://en.wikipedia.org/wiki/Smart_pointer#unique_ptr "a smart pointer")"?

Update candidates:
* [EigenvalueDecomposition](https://github.com/kaldi-asr/kaldi/blob/85a3dd5f0b71e419abf1169a26b759bfc423a543/src/matrix/jama-eig.h#L875 "EigenvalueDecomposition class")
* [OnlineSpeexDecoder::Decode](https://githu

[2016-10-25 18:14] danpovey commented on #1138
Does anyone want to look into this?
I am sticking to my policy of not getting involved in TIMIT-related issues.

On Mon, Oct 24, 2016 at 10:56 AM, baylor369 <notifications@github.com>
wrote:

[2016-10-25 18:23] danpovey commented on #1123
What are the objective function values from the neural net training?  Use
steps/info/chain_dir_info.pl to test.
And also, look at the objf values printed in the iVector extraction logs
and see if there is a big difference.

Dan

On Sun, Oct 23, 2016 at 10:40 AM, david-ryan-snyder <
notifications@github.com> wrote:

[2016-10-25 18:25] danpovey commented on #1133
.. I mean to call it in the location utils/data/remove_dup_utts.sh

On Fri, Oct 21, 2016 at 3:59 PM, Daniel Povey <dpovey@gmail.com> wrote:

[2016-10-25 18:31] jtrmal commented on #1140
std::unique_ptr is C++11 -- we still support older C++
There is no existing benefit to add this to existing (debugged) code, I
think.
y.

On Tue, Oct 25, 2016 at 12:06 PM, Markus Elfring <notifications@github.com>
wrote:

[2016-10-25 18:42] danpovey commented on #1137
Look at egs/rm/s5/local/nnet/run_cnn.sh

On Mon, Oct 24, 2016 at 8:17 AM, hchenah <notifications@github.com> wrote:

[2016-10-25 18:47] danpovey commented on #1133
That script was moved to utils/data/remove_dup_utts.sh.  Please make a PR
to have it in the proper location.

On Fri, Oct 21, 2016 at 2:45 AM, Gaofeng Cheng <notifications@github.com>
wrote:

[2016-10-25 18:52] david-ryan-snyder commented on #1123
**LDA+MLLT (Baseline)**
_Neural network training_
`num-iters=253 nj=2..12 num-params=7.0M dim=40+100->3597 combine=-0.10->-0.10 xent:train/valid[167,252,final]=(-1.35,-1.29,-1.29/-1.41,-1.38,-1.38) logprob:train/valid[167,252,final]=(-0.097,-0.085,-0.085/-0.115,-0.110,-0.109)`

_iVector extractor training_
`grep "Overall objective-function" exp/nnet3_cleaned/extractor/log/update.*
exp/nnet3_cleane

[2016-10-25 19:07] elfring commented on #1140
Do you care if the corresponding destructors will be appropriately called if [an exception like "`std::bad_alloc`"](http://en.cppreference.com/w/cpp/memory/new/bad_alloc "Description for std::bad_alloc") would be thrown during object construction?

[2016-10-25 20:27] danpovey commented on #1140
[posting again because github may still be losing my emails],
Not really, because std::bad_alloc would be fatal to all existing Kaldi programs.

[2016-10-25 21:55] danpovey commented on #1140
Not really, because std::bad_alloc would be fatal to all existing Kaldi
programs.

On Tue, Oct 25, 2016 at 3:07 PM, Markus Elfring <notifications@github.com>
wrote:

[2016-10-25 21:56] danpovey commented on #1123
It's close to the boundary of where I'd say it's noise, vs. saying that
it's clearly worse.
Could you please try it on another setup?
Dan

On Tue, Oct 25, 2016 at 2:52 PM, david-ryan-snyder <notifications@github.com

[2016-10-25 22:02] david-ryan-snyder commented on #1123
Sure!

[2016-10-26 15:45] naxingyu commented on #1138
There is no such script in the timit recipe.

On 2016/10/24 22:56, baylor369 wrote:

[2016-10-26 19:48] danpovey commented on #968
Was addressed in #1022

[2016-10-26 19:48] #968 closed

[2016-10-26 19:54] aevernon opened #1143 "Don't use gawk-specific features in example scripts"
As discussed in #1130, the awk expression that removes whitespace-only lines does not work with mawk (the version of awk that ships with Debian 8):

[code]

@danpovey suggested the following instead:

[code]

The files below need to be updated:

- [x] egs/fisher_english/s5/local/fisher_prepare_dict.sh
- [x] egs/sre10/v1/local/dnn/fisher_prepare_dict.sh
- [x] egs/fisher_swbd/s5/local/fisher_swbd_pr

[2016-10-27 02:49] sih4sing5hong5 opened #1148 "Should split_data.sh need utils ?"
Like [steps/align_si.sh](https://github.com/kaldi-asr/kaldi/blob/85a3dd5f0b71e419abf1169a26b759bfc423a543/egs/wsj/s5/steps/align_si.sh#L62)
[code]
Why it isn't `utils/split_data.sh`?
[code]

I searched and found many many scripts use `split_data.sh` directly.
Are they bugs?

[2016-10-27 02:51] danpovey commented on #1148
[posting directly as there is a delay for emails to github]
utils is always added to the path so it's not exactly a bug.  But we do prefer using the full path to the script.

[2016-10-27 02:51] #1148 closed

[2016-10-27 02:52] sih4sing5hong5 commented on #1148
Ok

[2016-10-27 13:43] sih4sing5hong5 commented on #842
The path in example codes are outdated.
I will update them with `data/local/dict` and `data/lang` instead of `data`.

I am not familiar in `fat`.
So I need some time to understand actually what the commands do.

[2016-10-27 14:13] aevernon commented on #1143
Fixed by 84c4738 and 001e56e.

[2016-10-27 14:13] #1143 closed

[2016-10-27 15:37] danpovey commented on #1143
Thanks.  I've asked someone to do this.

On Wed, Oct 26, 2016 at 3:54 PM, Albert Vernon <notifications@github.com>
wrote:

[2016-10-27 15:47] danpovey commented on #1148
utils is always added to the path so it's not exactly a bug.  But we do
prefer using the full path to the script.

On Wed, Oct 26, 2016 at 10:49 PM, 薛丞宏 <notifications@github.com> wrote:

[2016-10-27 15:56] aevernon commented on #1143
It looks like there are still 12- to 24-hour delays when commenting on issues by email because your comment just showed up. I've notified GitHub.

[2016-10-27 19:31] hainan-xv commented on #1089
I can help with this if that's OK.

[2016-10-27 19:37] danpovey commented on #1089
[posting directly as I keep forgetting my emails are being delayed somehow.]
@kangshiyin -- Hainan is talking about the component-level work.  I'm still hoping you can do the GPU stuff (once you get back to China).

[2016-10-27 20:38] danpovey commented on #1143
Addressed in #1147

[2016-10-27 21:05] danpovey commented on #1089
Shiyin-- Hainan is talking about the component-level work.  I'm still
hoping you can do the GPU stuff (once you get back to China).

Dan

On Thu, Oct 27, 2016 at 3:31 PM, hainan-xv <notifications@github.com> wrote:

[2016-10-29 05:36] sih4sing5hong5 opened #1152 "duplicated make_one_biased_lm.py"
[code]
None is used in `egs/`.
Their code are the same but their comments are different.

Wrong filenames in messages of other files:
https://github.com/kaldi-asr/kaldi/search?utf8=✓&q=make_one_biased_lm&type=Code

[2016-10-29 05:39] danpovey commented on #1152
Thanks- please fix this in the same PR, #1151

[2016-10-29 05:43] sih4sing5hong5 commented on #1152
[code]
Which one should be removed? `internal` one?

[2016-10-29 05:48] danpovey commented on #1152
No, keep the one in internal/.
Obviously make sure it's called in the correct location, and make sure
there are no code differences.
I'll wait a little before merging, so you can rerun the setup and verify
that it still works.

On Sat, Oct 29, 2016 at 1:43 AM, 薛丞宏 <notifications@github.com> wrote:

[2016-10-29 05:52] sih4sing5hong5 commented on #1152
I found no scripts that uses the `make_one_biased_lm.py`.

[2016-10-29 05:56] danpovey commented on #1152
It's called from another python script

On Sat, Oct 29, 2016 at 1:52 AM, 薛丞宏 <notifications@github.com> wrote:

[2016-10-29 12:24] sih4sing5hong5 opened #1153 "Compile error: pow function is ambiguous in nnet3"
Env:
[code]

Message:
[code]

Files:
[code]

[2016-10-29 19:51] danpovey commented on #1153
Please cast the 2.0 to BaseFloat, that will resolve it.

[2016-10-29 22:07] danpovey opened #1155 "lattice-align-words-lexicon | nbest-to-ctm"
This occurs in a bunch of script including scoring scripts.
Whenever we directly pipe the output of lattice-align-words-lexicon into nbest-to-ctm, we need to put the command
  lattice-1best ark:- ark:-
between them, because even for linear lattices, lattice-align-words-lexicon can in certain cases produce non-linear outputs (due to disambiguity in the lexicon).

@sih4sing5hong5, you could do this

[2016-10-30 01:01] sih4sing5hong5 commented on #1155
Does `lattice-align-words` produce non-linear outputs as `lattice-align-words-lexicon`?

Some scripts pipe the `lattice-1best` before `lattice-align-words`.
Like https://github.com/kaldi-asr/kaldi/blob/85a3dd5f0b71e419abf1169a26b759bfc423a543/egs/swbd/s5c/local/score_sclite.sh#L60-L62
Should I modify `lattice-1best | lattice-align-words | nbest-to-ctm` to `lattice-1best | lattice-align-words | lat

[2016-10-30 01:20] danpovey commented on #1155
No, lattice-align-words doesn't do that.   Only lattice-align-words-lexicon.

On Sat, Oct 29, 2016 at 9:01 PM, 薛丞宏 <notifications@github.com> wrote:

[2016-10-30 02:30] sih4sing5hong5 commented on #1155
There are 3 `lattice-align-words-lexicon | nbest-to-ctm`.
Only 2 of them we need put.
[code]

[2016-10-30 02:34] #1153 closed

[2016-10-30 02:35] danpovey commented on #1155
OK.
Make sure you check whether this occurs in any scripts in local directories
of egs.
Dan

On Sat, Oct 29, 2016 at 10:30 PM, 薛丞宏 <notifications@github.com> wrote:

[2016-10-30 06:55] sih4sing5hong5 commented on #1155
Other scripts pipe to `lattice-to-ctm-conf` after `lattice-align-words-lexicon`.

[2016-10-30 18:26] danpovey commented on #1155
You don't have to worry about those cases because lattice-to-ctm-conf
expects nonlinear input.

On Sun, Oct 30, 2016 at 2:55 AM, 薛丞宏 <notifications@github.com> wrote:

[2016-10-31 00:08] #1155 closed

[2016-10-31 00:08] #1152 closed

[2016-10-31 00:09] #1140 closed

[2016-10-31 00:14] danpovey commented on #1139
Resolved in commit c4c08c4

[2016-10-31 00:14] #1139 closed

[2016-10-31 23:14] david-ryan-snyder commented on #1123
I also tried this on AMI and it seems to be the same or _slightly_ worse. On the eval it's worse by just 0.1% absolute.

**Original**
_Neural Network Training_
`steps/info/chain_dir_info.pl exp/ihm/chain_cleaned/tdnn_sp_bi/
exp/ihm/chain_cleaned/tdnn_sp_bi/: num-iters=89 nj=2..12 num-params=7.1M dim=40+100->3768 combine=-0.11->-0.10 xent:train/valid[58,88,final]=(-1.44,-1.32,-1.33/-1.66,-1.58,-1.5

[2016-10-31 23:31] danpovey commented on #1123
Seems basically the same there: 9 word errors better on dev, 5 worse on
eval.

Sorry, can you try on another setup?  Right now we're in a situation where
we don't have evidence that it's worse, but can't be sure that it's
(normally) the same.

On Mon, Oct 31, 2016 at 7:14 PM, david-ryan-snyder <notifications@github.com

[2016-10-31 23:41] david-ryan-snyder commented on #1123
Sure! I can run 2 more setups so we have enough info.

[2016-11-01 20:22] jtrmal opened #1163 "Update Gale Chinese recipe"
I just noticed the Kaldi recipe for Chinese Gale uses only the Phase2 data, however there is a lot of additional data -- this is a list I compiled from LDC (I might have unintentionally skip something)
[code]
i.e. around 800hrs in total. Perhaps the recipe should be updated?
y.

[2016-11-01 21:40] danpovey commented on #1163
@naxingyu, do you have any time to work on this?

[2016-11-02 02:00] naxingyu commented on #1163
Yes. But I don't have the data...

On 2016/11/2 5:40, Daniel Povey wrote:

[2016-11-04 19:50] aevernon opened #1173 "Error in `ngram': munmap_chunk(): invalid pointer"
I am trying to run the `swbd/s5c` recipe. When I get to the part where it compiles G for the trigram LM, it calls `utils/format_lm_sri.sh`, which in turn calls `change-lm-vocab`. This script calls `ngram`, which fails with the error below.

## Debug log

[code]

[2016-11-04 21:02] aevernon commented on #1173
Reinstalling SRILM 1.7.1 did not help.

I will modify my copy of `change-lm-vocab` to call `ngram` with `valgrind -v --db-attach yes` and see what it reports.

[2016-11-04 21:43] vijayaditya opened #1175 "Issues with context calculation in nnet3 models when using Round descriptors."
We right now compute the context in the python scripts just by counting the splice-indexes. However when using the Round descriptors this computation can be wrong, as the round descriptors would round down the time index values.

Rather than re-implementing the logic for context calculation in the python code the config generator script can create the final model (using the layer-wise configs) and

[2016-11-04 21:49] danpovey commented on #1175
Vijay, my proposal for the xconfig pipeline for config generation has
this... not sure if that is what you are working on.  But no harm in fixing
the old setup too.

On Fri, Nov 4, 2016 at 5:43 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-11-04 21:49] vijayaditya commented on #1175
OK.. then I will go through the xconfig PR before I work on this.

[2016-11-06 19:21] danpovey commented on #1040
Addressed in #1064

[2016-11-06 19:21] #1040 closed

[2016-11-07 11:14] vince62s commented on #1123
might sound silly but, to materialize whether this is noise or not, wouldn't it be quicker if we run a few times the same setup ?

[2016-11-07 16:45] aevernon commented on #1173
Notes for myself as I track this down.
/cc @ngoel17

* `/kaldi/egs/swbc/s5c/run.sh:55` calls `utils/format_lm_sri.sh`
* `utils/format_lm_sri.sh:94` calls `change-lm-vocab`, which is a shell script
* `/kaldi/egs/swbd/s5c/../../../tools/srilm/bin/i686-m64/../change-lm-vocab:78` calls `ngram`
* `ngram` is a C++ binary from SRILM.

[2016-11-07 20:30] danpovey commented on #1173
Incidentally, I think from the old thread
https://sourceforge.net/p/kaldi/mailman/message/33807794/
this may have been a 'heisenbug' that disappeared when put under valgrind.
But if you have success finding the reason, it would be great.
Cc'ing Andreas in case something comes to his mind.

Dan

On Mon, Nov 7, 2016 at 11:45 AM, Albert Vernon <notifications@github.com>
wrote:

[2016-11-07 20:39] aevernon commented on #1173
Yes, I am seeing that behavior: `ngram` runs to completion under Valgrind. I can reliably reproduce the crash, so I'm preparing a test case and Valgrind output for the SRILM team. Valgrind reports that the root cause is an invalid free or delete.

[2016-11-07 21:00] aevernon commented on #1173
Unzip [ngram_input.zip](https://github.com/kaldi-asr/kaldi/files/576620/ngram_input.zip) and use `ngram_input.txt` in the test case below.

## Steps to Reproduce
[code]
## Observed Behavior
[code]

## Environment

* Debian 8
* g++ 4.9.2
* SRILM 1.7.1

[2016-11-07 21:12] aevernon commented on #1173
Reported here: http://mailman.speech.sri.com/pipermail/srilm-user/2016q4/001726.html

[2016-11-07 22:31] danpovey commented on #1123
My intuition is that there are different types of noise, and you get rid of
only some of them by re-running the same setup.  So running a new setup
gives you more independent and more valuable information.

On Mon, Nov 7, 2016 at 6:14 AM, vince62s <notifications@github.com> wrote:

[2016-11-07 22:39] #1175 closed

[2016-11-07 23:10] vijayaditya commented on #944
will be addressed in #1170

[2016-11-07 23:10] #944 closed

[2016-11-08 20:00] aevernon commented on #1173
The root cause was the call to `node.~Trie()` within `removeTrie` in `dstruct/src/Trie.cc`. According to Andreas, this is due to an optimization bug in GCC 4.9+.

Until Andreas releases a new version of SRILM, one can apply the patch below:

[code]

[2016-11-08 21:31] danpovey commented on #1173
Albert, some of the Kaldi installation scripts in tools/extras/ apply
patches as part of the install process.  Do you have time to modify the
SRILM installation script to do this, test it, and create a pull request
with this change?

On Tue, Nov 8, 2016 at 3:00 PM, Albert Vernon <notifications@github.com>
wrote:

[2016-11-08 21:37] aevernon commented on #1173
Yes, it would be a one-line change to `tools/extras/install_srilm.sh`, but Andreas told me that he is preparing a new release of SRILM with the fix. Would it be better to wait a day for that?

[2016-11-08 22:12] tuming1990 commented on #1139
Thanks for making it clearer!

[2016-11-08 22:15] danpovey commented on #1173
The ideal would be a fix that would just do the right thing whichever
version of SRILM is present.
Could be done with suitable options to `patch` (or maybe it would do the
right thing by default).

On Tue, Nov 8, 2016 at 4:37 PM, Albert Vernon <notifications@github.com>
wrote:

[2016-11-08 22:23] aevernon commented on #1173
Could you elaborate on what you mean by "suitable options to `patch`"?

The SRILM tarball has a `RELEASE` file that contains the version number. I could modify `install_srilm.sh` to read the version number and apply the patch if it is <= 1.7.1.

[2016-11-08 22:25] danpovey commented on #1173
Makes sense.

On Tue, Nov 8, 2016 at 5:23 PM, Albert Vernon <notifications@github.com>
wrote:

[2016-11-09 21:39] danpovey opened #1179 "Versioning"
People often ask about Kaldi versioning, but the continuous, many-threaded nature of Kaldi development makes it hard to meaningfully use a conventional version number.  People have also commented that it's a hassle that you cannot get the version number from compiled Kaldi binaries.

This 'issue' is to sketch out a possible solution for this, and to get comments.  This won't necessarily be done ri

[2016-11-09 21:52] hajix opened #1180 "Kaldi cannot be installed (for now) if you have OpenFst"
Hi

I run `extras/check_dependencies.sh` and it tells me:

extras/check_dependencies.sh: python 2.7 is not the default python. You should either make it
extras/check_dependencies.sh: default or create an bash alias for kaldi scripts to run correctly
*** extras/check_dependencies.sh: Kaldi cannot be installed (for now) if you have OpenFst
***   installed in system space (version mismatches, etc.)
*

[2016-11-09 21:57] danpovey commented on #1180
Maybe start by reading the message carefully.  Closing the issue.

[2016-11-09 21:57] #1180 closed

[2016-11-09 22:02] aevernon commented on #1180
You need to install Python 2.7 and ensure that it is being invoked when you run the `python` command.

Reply to this comment with the output of `cat /etc/os-release`.

[2016-11-09 22:19] sikoried commented on #1179
It would be great to have the git commit hashes built into the (debug) log
output.  I'm not sure if (automated) versioning makes a lot of sense, but
maybe irregular manual tags to the (i++)th version would make sense, if
chosen somewhat thoughtful (e.g.: code&recipes for certain feature(s)
added&tested, recipe for a language added&tested).

Korbinian.

On Wed, Nov 9, 2016 at 10:39 PM, Daniel Povey

[2016-11-09 22:23] danpovey commented on #1179
The issue with including just the git hashes is that if someone has made
any local change whatsoever, the git hash becomes meaningless.  So the
version number gives us at least some indication what Kaldi version it was
modified from.

On Wed, Nov 9, 2016 at 5:19 PM, Korbinian <notifications@github.com> wrote:

[2016-11-09 22:31] aevernon commented on #1180
Try this command to install Python 2.7:

[code]

The second message says you need to uninstall OpenFst. You will probably have to perform that task manually.

[2016-11-09 22:38] hajix commented on #1180
I already have python2.7, and it is pre-installed on ubuntu and is the default version. It seems that uninstalling OpenFst will solve the issue, but I don't know how to unistall it manually. I issued  `make && sudo make install` in the openFst folder.

`sudo make unistall` should work...

[2016-11-09 22:45] aevernon commented on #1180
That is correct: you don't need to `make install` OpenFst. You just compile it with `make`, and Kaldi will automatically link OpenFst when you compile Kaldi.

 `sudo make uninstall` seems reasonable.

[2016-11-09 22:57] hajix commented on #1180
ooops. The problem is that I removed openfst-1.4.3 folder, where I issued `sudo make install` command, and I don't know where to issue `sudo make uninstall` to remove openFst!!

[2016-11-09 23:09] danpovey commented on #1180
Probably remove the files in /usr/bin/fst* or something like that.
Please do not respond any more on github, it is for Kaldi development, not
for newbie installation questions.
The forums described at kaldi-asr.org/forums.html can be used for newbie
questions, but in your case your questions are extremely basic and only
tangentially Kaldi-related, so it would be better to find someone local who
ca

[2016-11-09 23:12] hajix commented on #1180
The issue was solved by downloading openFst that I was making manually, and issue make clean in the openfst-1.3.4 folder.
thank for all answers

[2016-11-09 23:19] #1173 closed

[2016-11-10 07:24] yifan commented on #1179
It is a good idea. Although you would oppose a meaningful version, I do think it is valuable for users. One way to get it is to use tags so developers don't have to care, but end users will use release tags to track should they update their settings to latest or continue using what they have installed. At least the version should be able to tell the difference between bugfix and other changes (alt

[2016-11-10 11:14] francisr commented on #1179
If you include the git hash, you can also check if the file has been modified and write this information next to the hash.

[2016-11-10 14:16] ngoel17 commented on #1179
These days, with multi threaded compile, Kaldi can compile within five
minutes. However five minutes can be a lot for someone in debugging mode.
So how about if we make a configuration setting --no-versions=true so that
someone is in the debugging mode and doesn't want to compile kaldi, but
wants to make a number of git commits, they can disable the versions
feature in configure, and then .version

[2016-11-10 14:39] vesis84 commented on #1179
Hi, this is interesting. IMHO the versioning should be as simple as possible, while being sufficiently good for the most typical use cases. The most likely scenario can be as follows: a user has 2 binaries ('old' one and 'current' one), he sees that these produce different outputs and wants to compare the code...

To support this, there could be a server hook for master branch in main repo, whenev

[2016-11-10 14:44] jtrmal commented on #1179
What would be the rationale of using static libs nowadays?
An easy solution might include creating a separate lib, say kaldi-version,
which would be then linked separately to binaries/executables only. That
might speed up the compilation. Also, depending on the reasons for using
the static libraries, the kaldi-version could be always linked dynamically
(i.e. even for static setup).

==Just a coupl

[2016-11-10 20:33] vijayaditya commented on #847
@vimalmanohar Would be able to address this in  #1066  ?

[2016-11-10 20:34] vijayaditya commented on #520
@vimalmanohar Another thing that needs to be addressed in case you have time. ( #1066 )

[2016-11-10 21:32] danpovey commented on #847
Just a note: the cost here is mainly a cost of I/O, plus the disk-space cost of having to keep the models on disk.  nnet3-combine does not estimate interpolation weights for each and every model if there are many models; it arranges them in blocks and has a weight per block.
Therefore the maximum number of models we give to nnet3-combine can be fairly large, like 100.  I'd recommend to keep every

[2016-11-12 12:13] alumae opened #1184 "Nnet3 online decoder endpointing doesn't use frame subsampling rate"
I believe the endpointing code, originally developed for nnet2, doesn't take into account the frame subsampling rate used in chain models. Thus, when using chain models, the silence needs to be 3x as long as it should to be identified as an endpoint.

[2016-11-12 16:11] ognjentodic commented on #1184
Yes, same for the timings (e.g. word start times); they all need to be adjusted by frame subsampling factor. I "solved" this at the higher level (outside Kaldi); didn't see an easy way to access this config param as is.

[2016-11-12 19:20] danpovey commented on #1184
Tanel, do you have time to work on a fix for the endpointing issue?  It
does seem closer to a bug than a mis-feature, because those times are
expressed in seconds, not in frames.

Ognjen: regarding things like word start times, I'm not quite sure what
tools you are referring to, but things like lattice-to-ctm-conf take a
--frame-shift parameter that should be set to 0.03 for chain systems.

On Sat

[2016-11-13 08:35] alumae commented on #1184
Yes, I can work on this.

Ognjen probably refers to kaldi-gstreamer-server that can output timing  information. I'll fix this too.

[2016-11-13 12:29] RookieSupery2 opened #1185 "prior in lfmmi"
when we train lf-mmi using chain, it seems no procedure for adding prior into the nnet3 model in scripts;
but it's common to use the prior in nnet1 training scripts. so we are curious about:
1) should we use option "adjust-prior" to add specific prior for lf-mmi trained model?
2) to make comparison more fair, should we delete the prior in nnet1 for lstm-hmm model?

[2016-11-13 17:45] ognjentodic commented on #1184
I was actually referring to methods that return timing information via number of frames (for example, CompactLatticeToWordAlignment); but, those "issues" are not of the same nature as the endpointing thresholds issue since the latter are specified in seconds (vs frames), so my comment is really a false alarm for this issue.

Perhaps just an explanation/note in various places in a method descriptio

[2016-11-13 19:20] danpovey commented on #1185
No.  The LF-MMI/chain setup is designed in such a way that it doesn't need
a prior term.

No.

[2016-11-13 19:37] vince62s commented on #1184
I happen to use quite often the get_ctm.sh script and a modified version with  lattice-to-ctm-conf.
@alumae I also use a modified version of kaldi-offline-transcriber which calls get_ctm.sh (just a reminder)

I didn't know about this --frame-shift parameter, so I still have default 0.01 with my chain models, but why don't I get garbage then ? what is the exact impact in lattice-to-ctm-conf for ins

[2016-11-13 19:41] danpovey commented on #1184
The only impact is that the times in the ctm would be wrong.  This might
affect some NIST scoring scripts, for instance.

On Sun, Nov 13, 2016 at 2:37 PM, vince62s <notifications@github.com> wrote:

[2016-11-14 12:01] RookieSupery2 commented on #1185
But now, I can't find the way why it doesn't  need a prior term in LF-MMI/chain setup.

[2016-11-14 18:31] jtrmal opened #1189 "arpa2fst crash (does not strip whitespaces)"
[code]
the crash is caused by expecting '\2-grams:' and getting '\2-grams: '
I tested it and it works after removing that whitespace.
Will look into it

[2016-11-14 19:11] vijayaditya opened #1190 "Chain,nnet3 : --chunk-{left,right}-context not honored when reusing egs"
When using `--egs.dir` option the current chain recipe does not ensure that the {left,right}-context being used for training is same as the one used specified in `--egs.chunk-{left,right}-context`. This is because `nnet3-chain-copy-egs` did not have `--{left,right}-context` options when the script was written. However @GaofengCheng recently added support for this in 93f2f65 . So this option has to

[2016-11-14 19:59] vijayaditya commented on #1190
The context options were also not being passed on to the ComputeCvProbabilities methods even in the normal frame level training scripts.

@vimalmanohar Check if there are similar issues in the sMBR training scripts.

[2016-11-14 20:13] vijayaditya commented on #1190
Same issue with the get_post.combined.* jobs which are used for computing the average posterior.

BTW I want to add that these bugs would not be a issue unless you were training RNN AMs and using egs from a different experiment which has egs with different contexts.

[2016-11-14 20:14] vijayaditya commented on #1190
I am pushing a PR correcting this in a few minutes.

[2016-11-14 20:52] vince62s commented on #1190
do you recall this ?
https://groups.google.com/forum/#!searchin/kaldi-help/egs%7Csort:relevance/kaldi-help/udYrYTEDycU/JuodilwSAAAJ

I am not sure to get exactly what the issue would be.

[2016-11-14 21:19] vimalmanohar opened #1193 "Support left-context and right-context in nnet3-discrimnative-copy-egs"
support --left-context and --right-context options in nnet3-discriminative-copy-egs similar to nnet3-chain-copy-egs #1190

[2016-11-14 21:19] danpovey commented on #1185
The model was built not to need it.  Check my publications page and read the paper.
Anyway github is not for these kinds of discussions.  See kaldi-asr.org/forums.html.

[2016-11-14 21:19] #1185 closed

[2016-11-14 21:34] vijayaditya commented on #1190
The nnet3 compiler decides the unfolding width of RNNs based on the left and right context available. So providing more context than specified means that your RNN history vector is not exactly what you wanted it to be. This can lead to context mismatch errors between training and decoding; and finally affect the performance.

In our experimentation we found that the RNN performance is usually sens

[2016-11-14 21:34] vijayaditya commented on #1190
Addressed in #1194

[2016-11-14 21:34] #1190 closed

[2016-11-17 08:04] #1184 closed

[2016-11-18 05:10] #1189 closed

[2016-11-18 16:14] naxingyu commented on #1011
@vijayaditya <https://github.com/vijayaditya> Which script are you
talking about? Is it committed or in CLSP cluster?

X.

在 2016/8/30 5:48, Vijayaditya Peddinti 写道:

[2016-11-18 16:28] vijayaditya commented on #1011
This is in the Babel branch @jtrmal or @pegahgh would know more about this
script.

--Vijay

On Fri, Nov 18, 2016 at 11:14 AM, Xingyu Na <notifications@github.com>
wrote:

[2016-11-18 16:41] jtrmal commented on #1011
we do use pitch in babel recipes, but everything is offline.
I'd suggest going for HKUST first
I have a fresh system trained here:
/export/b18/jtrmal/LORELEI/systems/hkust-2
which can be used as a baseline + there are some improvements in the
scoring pipeline.
y.

On Fri, Nov 18, 2016 at 11:28 AM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-11-19 00:49] danpovey opened #1199 "BLSTM per-element scales learning rates"
Looking over some BLSTM training logs, I see that the per-element scales w_fc, w_ic and w_oc seem to be learning extremely slowly, never changing much from their initial values.  It looks to me like a learning rate ten times as large for those components might be worth a try.  This can be accomplished using 'learning-rate-factor=10.0' in the component configs for those components (of type NaturalG

[2016-11-19 01:49] danpovey commented on #1199
I notice in https://wiki.inf.ed.ac.uk/twiki/pub/CSTR/ListenTerm1201415/sak2.pdf that the Google guys are initializing all the BLSTM parameters to the range [-0.02, 0.02] with a uniform distribution, whereas in our case it's initialized with param-mean=0.0 param-stddev=1.0, which is a much bigger variance.  I assume Vijay must have done some kind of experimentation with this, but it might be worth

[2016-11-19 03:17] vijayaditya commented on #1199
Yiming or I haven't done any tuning of initialization parameters for
BLSTMs. So an exploration might be beneficial.

Vijay

On Nov 18, 2016 20:49, "Daniel Povey" <notifications@github.com> wrote:

[2016-11-19 15:25] naxingyu commented on #1011
Thank you Yenda. I do plan to work on hkust, but I want to checkout the
way you use pitch in babel.

X.

在 2016/11/19 0:41, jtrmal 写道:

[2016-11-19 15:32] jtrmal commented on #1011
I think the only magic we do is to run steps/make_plp_pitch.sh in place of
steps/make_plp.sh :)
Also, unless I'm mistaken, we don't use pitch in nnets in babel.
There is an trained turkish system including the outputs
in /export/a15/jtrmal/babel/105-turkish-flp
if you want to have a look.
y.

On Sat, Nov 19, 2016 at 10:25 AM, Xingyu Na <notifications@github.com>
wrote:

[2016-11-19 15:33] naxingyu commented on #1163
Just for record... The corresponding transcriptions are
[code]

[2016-11-19 17:22] jtrmal commented on #1163
BTW, I'm working on gale mandarin, I'll make PR hopefully next week.
The recipe is more on the messy side :(
y.

On Sat, Nov 19, 2016 at 10:33 AM, Xingyu Na <notifications@github.com>
wrote:

[2016-11-19 19:45] danpovey commented on #1011
OK, but the thing I had asked Xingyu to do involves using pitch in the
neural nets.  The trick is, you don't train the iVector extractor with the
features that include pitch, but you train the neural net on the slightly
longer features including pitch.  I'm sure there were example scripts for
this at some point, not sure where they are now.  But there is a new
mechanism now for extracting the MFCC

[2016-11-19 20:52] jtrmal commented on #1011
yes, that's what I was trying to explain (that the babel scripts won't be of much use).
I think we were asking @pegahgh  for some experiments in that direction when she was preparing the paper, not sure if she got to it and if yes, if she still has the scripts.

[2016-11-19 21:33] danpovey opened #1200 "max-change-per-minibatch, remove old code"
In nnet3 we should remove the max-change-per-minibatch configs and the associated code, as that mechanism is no longer used.  [while of course preserving compatibility with previously written models.]  If anyone can help with this, it would be nice.

[2016-11-19 22:37] danpovey commented on #1199
I did an experiment on AMI [combined it with testing the new chain transition-model code].
This is with sdm mic, a chain model, and an LSTM script that isn't checked in... results are slightly worse (0.5 or 1% worse) than the corresponding TDNN model (the LSTM model may have been a bit small).

There are 3 systems, "a", "b" and "c", where:
 "a" is with the original components.py:
` ng_per_element_

[2016-11-21 03:24] naxingyu commented on #1011
I see what you mean. Thanks.

X.

On 2016/11/20 3:45, Daniel Povey wrote:

[2016-11-21 04:25] naxingyu commented on #1163
OK. Then I stop on my side.

X.

On 2016/11/20 1:22, jtrmal wrote:

[2016-11-21 05:01] danpovey commented on #1163
Xingyu, I think it's likely that what you're working on and the changes
Yenda will make are different enough that you can just go ahead... but up
to you.

On Sun, Nov 20, 2016 at 11:25 PM, Xingyu Na <notifications@github.com>
wrote:

[2016-11-21 05:07] naxingyu commented on #1163
I'm working on using the full set of Gale Mandarin in that recipe, as
what is intended to be done in this issue. @jtrmal does it overlap with
(or included in) what you are doing?

X.

On 2016/11/21 13:01, Daniel Povey wrote:

[2016-11-21 19:12] vijayaditya opened #1203 "Shifting of chain egs happens before copy-egs so there can be insufficient context errors"
In ac1f932 , shifting of chain-egs happens before copy-egs call. The python training script has to be modified to request egs with contexts which account for this.

[2016-11-21 19:14] jtrmal commented on #1163
I'll try to publish whatever might be useful today's evening/tmrw mornign.
My changes weren't related to the nnet3 -- mostly to the data directories
building...
I have also noticed, that the original way how the dev set was generated
was incorrect, as it was a sample of 300 utterances from the training data.
The utterances itself weren't used, but the speakers, the audio channel and
so on were use

[2016-11-21 19:17] vijayaditya commented on #1124
Addressed in #1197

[2016-11-21 19:17] #1124 closed

[2016-11-21 19:24] danpovey commented on #1203
Can you explain what the issue is in more detail?
You understand why I changed it, right?

[2016-11-21 19:30] vijayaditya commented on #1203
Sorry one of my setups broke and I thought this was the issue. However the setup was previously working as the copy preceded the shift, while it shouldn't have actually worked due to insufficient context.

[2016-11-21 19:30] #1203 closed

[2016-11-21 21:52] vijayaditya commented on #957
@GaofengCheng With the recent xconfig style of network specification these experiments can be checked easily, as they just require changing one line in a local/chain/run_tdnn_*.sh script.

Could you right now add a run_tdnn_7i.sh script, in swbd recipe, which incorporates the details of your best setup into tdnn_7h. You can check-in the results later.

Please specify the speed gains in the script.

[2016-11-22 03:09] GaofengCheng commented on #957
@vijayaditya ok, I will pr a new run_tdnn_7i.sh script today and later update the results.

[2016-11-22 16:04] jtrmal commented on #1163
see #1207

[2016-11-22 17:09] qbolec commented on #717
Context: in my company, we run regression tests for our models and software, which basically test for bit-by-bit equality of output with expected output, and found out that users runinng tests on the same machine, same compilation of Kaldi, get different lat.1.gz files (after unziping and converting to text).

I've narrowed down the problem to
`steps/decode_fmllr.sh` >  `gmm-est-fmllr-gpost` > `sr

[2016-11-22 19:30] danpovey commented on #717
If your code was wrong the automatic tests ('make test') would have failed
big time.
We generally don't expect bit-for-bit equality (e.g. we run on
heterogeneous hardware) so we don't keep track of this.  Certainly if you
use multi-threaded ATLAS it would be nondeterministic.  If single
threaded... not sure.  But again, we don't check for this.

Dan

On Tue, Nov 22, 2016 at 12:10 PM, qbolec <notif

[2016-11-23 01:52] vijayaditya commented on #957
being addressed in #1210

[2016-11-23 01:52] #957 closed

[2016-11-23 20:43] danpovey commented on #1199
@GaofengCheng, it would be great if you could find time to look into this.

[2016-11-24 00:23] GaofengCheng commented on #1199
@danpovey Ok, I will take this , and could you share your chain blstm configs with me on AMI ...My chain baseline scripts on AMI is worse than yours....

[2016-11-24 00:27] danpovey commented on #1199
I pushed the script to my personal Kaldi repo on github, under the branch
name 'ami_chain_lstm'.

On Wed, Nov 23, 2016 at 7:23 PM, Gaofeng Cheng <notifications@github.com>
wrote:

[2016-11-24 00:28] danpovey commented on #1199
... but I think there's less value in tuning this on AMI since I already
tried it.
If something will be better than our current setup, I think one of the
configurations I tried will probably be better.

On Wed, Nov 23, 2016 at 7:27 PM, Daniel Povey <dpovey@gmail.com> wrote:

[2016-11-24 00:33] GaofengCheng commented on #1199
Dropout...may help, on my AMI experiments, dropout gives 1.0% absolute reduction on WER on my baseline scripts.... try and see....

[2016-11-24 00:35] danpovey commented on #1199
Is this dropout you're talking about something you already created a PR
for?  If not, could you please create one to show what it is you're
recommending?

On Wed, Nov 23, 2016 at 7:33 PM, Gaofeng Cheng <notifications@github.com>
wrote:

[2016-11-24 00:36] GaofengCheng commented on #1199
I will PR later...I have to do some adjusts using xconfigs

[2016-11-24 14:54] alexnanchen opened #1214 "Cuda compilation problem"
Hello,

When compiling Kaldi, the following error happens on target "nnet3bin":
-------------------------------------------------------------
chain-kernels.cu(25): error: no instance of overloaded function "atomicAdd" matches the argument list
            argument types are: (BaseFloat *, BaseFloat)
          detected during:
            instantiation of "void atomic_add(Real *, Real) [with Real=B

[2016-11-24 17:42] danpovey commented on #1214
Are you compiling with double precision (-DKALDI_DOUBLE_PRECISION=1 in
kaldi.mk)?  If so, that would only be supported by a much newer CUDA
toolkit.
Dan

On Thu, Nov 24, 2016 at 9:54 AM, alexnanchen <notifications@github.com>
wrote:

[2016-11-24 20:23] alexnanchen commented on #1214
KALDI_DOUBLEPRECISION is set to 0.

#$ gcc -D__CUDA_ARCH__=500 -E -x c++ -DCUDA_DOUBLE_MATH_FUNCTIONS  -D__CUDACC__ -D__NVCC__  -fPIC -I"/usr/lib/nvidia-cuda-toolkit/include" -I"../" -I/usr/lib/nvidia-cuda-toolkit/include   -D"HAVE_CUDA" -D"KALDI_DOUBLEPRECISION=0" -include "cuda_runtime.h" -m64 -g -gdwarf-2 -o "/tmp/tmpxft_00006f11_00000000-18_chain-kernels.compute_50.cpp1.ii" "chain-kernels.cu"

[2016-11-24 20:26] danpovey commented on #1214
You will be able to resolve this problem by uninstalling the
nvidia-cuda-toolkit from aptitude, and instead installing a newer version
from NVidia's download page-- search on Google.
Meanwhile, I'll try to look into exactly at what toolkit version atomicAdd
was added, and update the configure script (NVidia's web page is not very
helpful about when things were added).

On Thu, Nov 24, 2016 at 3:23

[2016-11-24 20:56] danpovey commented on #1214
@kangshiyin, since you are our de facto CUDA expert, can I ask you to look into this?
The issue is as follows:

  - Firstly, try to figure out from what version of the CUDA toolkit the function atomicAdd has been supported, and in the src/configure script, if nvcc is detected, check the version and fail if the version is less than that with an error like the following:
  "Kaldi no longer supports

[2016-11-24 21:43] kangshiyin commented on #1214
I just checked the CUDA 5.5 programming guide. AtomicAdd on floating point numbers is a Compute-Capability-dependent feature, rather than CUDA-version-dependent. AtomicAdd on `float` since CC2.x, and atomicAdd on `double` is supported since CC6.0.

I guess @alexnanchen is using CC1.x device. That's why he is using old CUDA 6.0, as newer CUDA does not support CC1.x device anymore.

I will try `KALD

[2016-11-24 21:48] danpovey commented on #1214
But the compilation process doesn't actually check what the hardware is, it
just requests compilation for a bunch of CUDA_ARCH values that depend only
on the toolkit version (see the "configure" script).  So I don't think he
would have got a compile-time error due to the hardware version (unless he
manually changed the Makefile).

On Thu, Nov 24, 2016 at 4:43 PM, Shiyin Kang <notifications@github.

[2016-11-24 22:52] alexnanchen commented on #1214
No manual changes where done. Just a git clone and make.

[2016-11-24 23:01] danpovey commented on #1214
I think I see the reason.  The 'configure' script adds pre-2.0 compute
capabilities to the list of things to compile, if CUDA_ARCH is 6.0 or
earlier.
I'll remove that.

On Thu, Nov 24, 2016 at 5:52 PM, alexnanchen <notifications@github.com>
wrote:

[2016-11-25 03:15] danpovey opened #1215 "tuning/ directories"
I'm opening this as an issue, but it's more of an FYI.
I'd like everyone who is adding nnet3 or chain scripts for datasets, to adopt the same convention as is used in the swbd/s5c recipe, where in local/nnet3/ and local/chain/ there are 'tuning/' subdirectories, and for each of the general types of model (e.g. TDNN, LSTM), there is a soft link like run_tdnn.sh that links to a specific script in tu

[2016-11-25 04:46] kangshiyin commented on #1214
I see what you mean. I think removing support for CC1.3 devices is a good choice.

[2016-11-25 09:59] alexnanchen commented on #1214
Removing pre-2.0 support in configure file solve the compilation problem.

Many thanks for this quick answer and great toolkit!!

[2016-11-25 20:11] alexnanchen opened #1216 "Decoding graph compilation issue"
Hello,

I am having some trouble doing LG composition with a lexicon of 150'000 words and a LM of around 80MB: it is blocked in the "determinization" operation (I waited more than two hours).

It seems to be related to the following commit: a8de21fd76f2736d91aab30763a12646cb7c378b

When reverting the "arpa-lm-compiler*" files to the "previous" commit and rebuilding the G.fst, the decoding graph ca

[2016-11-25 20:21] danpovey commented on #1216
Run the "broken" determinization, wait for a while (e.g. a minute or two,
or the same amount of time the old one took to complete), and then do
kill -SIGUSR1 [process id of determinization]

(only works on Linux right now, not mac), and this will print out some info
that IIRC is of the form:

word-symbol1 (phone-symbol1a phone-symbol1b) word-symbol2 (...)

.... and you can correlate those with the

[2016-11-25 22:30] alexnanchen commented on #1216
Most of the "word-symbol" do no seem to be associated with "phone-symbol"

153 ( ) 81 ( ) 153 ( ) 73 ( ) 153 ( ) 101 ( ) 189 ( 63729 ) 121 ( ) 181 ( ) 81 ( ) 117 ( ) 13 ( ) 152 ( ) 115 ( 138274 ) 41 ( ) 152 ( ) 47 ( ) 205 ( ) 181 ( ) 73 ( 131878 ) 145 ( ) 193 ( ) 13 ( ) 152 ( ) 55 ( 111816 ) 65 ( ) 193 ( ) 185 ( ) 13 ( ) 153 ( ) 121 ( ) 181 ( ) 25 ( ) 97 ( ) 13 ( ) 152 ( ) 115 ( ) 21 ( ) 189 ( ) 5

[2016-11-25 22:39] danpovey commented on #1216
Sorry I got it the wrong way round, the ones in parentheses are the word
symbols.
But you may not have waited long enough before sending the signal; if it is
blowing up, normally you would see repeats of the same word in that list.
It would also be helpful if you figure out the words corresponding to any
common repeated word in that list, and list their pronunciations in
lexicon.txt.

Dan

On Fri,

[2016-11-26 00:11] david-ryan-snyder commented on #1123
@danpovey I also reran current Tedlium recipe. This is the cleaned version without @vince62s's LM changes. Left column results are LDA and right column are PCA.

WER 10.6 vs 10.5 dev
WER 10.0 vs 10.0 dev rescore
WER 9.7 vs 9.9 test
WER 9.3 vs 9.5  test rescore

Average LDA results are 9.90%, PCA is 9.98%

[2016-11-26 00:25] danpovey commented on #1123
Interesting.  So this increases the likelihood that in general it's as good
as LDA+MLLT, but the results on other setups were negative enough that I
think it still makes sense to do one more test before we change all the
recipes over... sorry.  One possibility is to wait till @naxingyu has got
an nnet3 setup on gale_mandarin (which he's doing on our cluster), and then
do it on that setup.

Dan

On

[2016-11-26 00:45] david-ryan-snyder commented on #1123
Sure. I can also run it on @naxingyu recipe.

Can you suggest another recipe to try this on, besides Tedlium and AMI (which we did already)?

[2016-11-26 00:48] danpovey commented on #1123
You could try WSJ.

On Fri, Nov 25, 2016 at 7:45 PM, david-ryan-snyder <notifications@github.com

[2016-11-26 00:54] david-ryan-snyder commented on #1123
OK sounds good.

[2016-11-26 09:43] alexnanchen commented on #1216
Ok, make sense.

input phoneme 1, input phoneme 2, ... (output word).

This time I waited 50 minutes. It does not seem to blow up:

( 52073 ) 55 ( ) 193 ( ) 77 ( ) 193 ( ) 185 ( ) 97 ( ) 65 ( ) 189 ( ) 121 ( ) 189 ( ) 145 ( ) 33 ( ) 17 ( ) 13 ( 118103 ) 152 ( ) 179 ( ) 21 ( ) 17 ( ) 193 ( ) 185 ( ) 177 ( ) 161 ( ) 177 ( ) 205 ( ) 145 ( ) 33 ( ) 185 ( ) 193 ( ) 33 ( ) 57 ( ) 13 ( ) 184 ( 102561 ) 1

[2016-11-26 13:49] alexnanchen commented on #1216
Hello,

Because it did not seem to "blow up" I tried to let it run longer and LG did complete.

Looking at the memory consumption, it turns out that to compile the LG.fst the computer need about 9.6GB of RAM.

With the previous version of the files, the "determination" process quickly uses 9.6GB and finishes. It takes around 5 minutes.

With the latest version of the files,  the "determination"  p

[2016-11-26 19:49] danpovey commented on #1216
It's great that you noticed this.
I'm trying to figure out the most likely reason.  Is this a system that has
'silprobs'?  I.e. your source lexicon dir contained lexiconp_silprob.txt?

Dan

On Sat, Nov 26, 2016 at 8:49 AM, Alexandre Nanchen <notifications@github.com

[2016-11-26 20:32] alexnanchen commented on #1216
Don't think so.

The data/dict-test directory has:

lexiconp.txt
lexicon.txt
nonsilence_phones.txt
optional_silence.txt --> sil
silence_phones.txt --> sil and spn

[2016-11-26 20:40] danpovey commented on #1216
Hm.  I need to look into this.  Is there any chance you could send me by
email (dpovey@gmail.com), an archive containing the files and commands
necessary to reproduce this?  Preferably starting from the ARPA and the
lexicon directory.  This is just for debugging purposes-- I'll delete them
after.
What I think is happening is some subtle thing deep inside the
determinization algorithm, and I'm not

[2016-11-26 20:44] danpovey commented on #1216
Actually, wait a little while... I'll try to reproduce it locally first,
and will let you know if I need your specific setup.

On Sat, Nov 26, 2016 at 3:40 PM, Daniel Povey <dpovey@gmail.com> wrote:

[2016-11-26 20:57] alexnanchen commented on #1216
Good idea!

Let me know if you have some trouble.

In that case I can generate for you some fake LM and dictionary (German) that you can download.

The L.fst is generated with
  utils/prepare_lang.sh $testDict '<unk>' $dataTempLangTest $testLang

Alex.

[2016-11-26 21:07] alexnanchen commented on #1216
Forgot,  the lexicon contains 150K words and the language model is a 3-gram pruned to reach 200MB.
(mitlm for estimation and irstlm for pruning).

Alex.

[2016-11-26 21:23] danpovey commented on #1216
I was not able to reproduce the problem.  I suspect there may be something
weird about the ARPA LM that those toolkits are producing.
You'll have to send me some kind of archive.

On Sat, Nov 26, 2016 at 3:57 PM, Alexandre Nanchen <notifications@github.com

[2016-11-26 21:27] danpovey commented on #1216
Just realized I did something wrong trying to reproduce it... I may still
be able to reproduce it locally.

On Sat, Nov 26, 2016 at 4:23 PM, Daniel Povey <dpovey@gmail.com> wrote:

[2016-11-26 21:44] danpovey commented on #1216
OK, I have figured out the problem.
You are using an "older-style" script for formatting the LM.  Instead of
that long-ish pipe of commands, you should be using something like this
(from local/format_lm.sh):

[code]

However, the script was still supposed to work with the old commands.  I
think I'll check in a change to arpa2fst so that it doesn't do that new
optimization to remove the redundant s

[2016-11-26 21:52] alexnanchen commented on #1216
Cool!

I am going to try that.

You may want to modify the documentation:
http://www.danielpovey.com/kaldi-docs/graph_recipe_test.html#graph_grammar

Alex.

[2016-11-26 21:57] danpovey commented on #1216
That is not the 'official' location of the Kaldi documentation, you should
look at kaldi-asr.org/doc/.  I just removed that location.  The
documentation in the right location is up to date.

On Sat, Nov 26, 2016 at 4:52 PM, Alexandre Nanchen <notifications@github.com

[2016-11-26 22:06] alexnanchen commented on #1216
Ah, shouldn't rely on Google blindly.

Is this command line right?

    cat $LM | \
       grep -v '<s> <s>' | \
       grep -v '<s> </s>' | \
       grep -v '</s> </s>' | \
       arpa2fst --disambig-symbol=#0 --read-symbol-table=words.txt - | fstprint | \
       utils/remove_oovs.pl oovs.txt | \
       utils/s2eps.pl | fstcompile --isymbols=words.txt \
         --osymbols=words.txt  --keep_isymb

[2016-11-26 22:08] danpovey commented on #1216
No, it's literally just the lines I showed you, you remove everything
else.  We put all that into arpa2fst.

On Sat, Nov 26, 2016 at 5:06 PM, Alexandre Nanchen <notifications@github.com

[2016-11-26 22:35] #1214 closed

[2016-11-26 23:02] alexnanchen commented on #1216
Ok, all working with latest version of the files!

Just for information, stochasticity values are now
- G.fst: 1.27706 -0.515762
- LG.fst: -0.0153648 -0.0161196

Many thanks!

Have a nice week-end!

Alex.

[2016-11-29 09:15] cxy19941228 opened #1226 "the errors when running the eg——yesno"
**Creating data/local/dict/lexiconp.txt from data/local/dict/lexicon.txt
utils/prepare_lang.sh: line 493: fstaddselfloops: command not found
ERROR: FstHeader::Read: Bad FST header: standard input
Preparing language models for test
local/prepare_lm.sh: line 13: arpa2fst: command not found
local/prepare_lm.sh: line 15: fstisstochastic: command not found
ERROR: ReadFst: Can't open file: data/lang_tes

[2016-11-29 16:16] jtrmal commented on #1226
Closing. You clearly didn't bother read docs nor even tried to understand what's going on.

[2016-11-29 16:16] #1226 closed

[2016-11-29 19:41] danpovey commented on #1226
BTW, the issue here is likely that you didn't install Kaldi.  see /INSTALL

On Tue, Nov 29, 2016 at 11:16 AM, jtrmal <notifications@github.com> wrote:

[2016-11-29 23:09] vimalmanohar opened #1227 "More informative errors in python scripts and an Exceptions library."
The python scripts in kaldi currently have an exception called KaldiCommandException when a kaldi command fails and a generic Exception is raised for all other types of errors. We can have more informative errors by defining separate Exception types for different cases and store them in steps/libs/exceptions.py.

Exception that will be useful for current python scripts are:
1. InputError - When a

[2016-11-29 23:13] danpovey commented on #1227
I'm a bit skeptical about the use of this...
generally speaking, the exception will have a message that says what it's
about, and generally speaking, the program will just die when there is an
exception.  Unless we need to take a different type of action as a result
of a particular kind of exception, I see no reason to create separate
exception types.  To my mind, it just makes the code harder to

[2016-11-30 11:42] cxy19941228 opened #1232 "questions about chime3 in egs"
recently,I have being learning about speech speration.so I am concentrating on chime4,but the download package in chime4 after unziped is titled as chime3,and the data is not fully downloaded for there is some data needed a password.In the first,I thought maybe i can run the baseline with some data lost.But there is some error which I am still not fully sure is arised by the lose of data.is there

[2016-11-30 21:05] danpovey commented on #1232
The chime4 setup is supposed to use chime3 data, only the terms of the
competition were different.
Shinji Watanabe (cc'd) knows more about this setup.
I don't know which data  you could not download... I'm not super familiar
with that setup.

On Wed, Nov 30, 2016 at 6:42 AM, cxy19941228 <notifications@github.com>
wrote:

[2016-11-30 21:18] danpovey opened #1234 "The upgrade to C++11"
This is an issue for discussion.
Should we allow the use of C++11 features in Kaldi?  It seems like C++11 is old enough now that complier support should be universal.
The most obvious benefit is that we could use C++11 threads, which are easier to use than pthreads, and would make it easier to support Visual Studio (assuming their support for C++11 works OK).
I'm not saying we'd necessarily go all

[2016-11-30 21:35] jtrmal opened #1235 "Support for openfst 1.5.x"
It would be good if we could include support for the openfst-1.5.x
I had reports it does not work right away, but due time constraints this wasn't pursued further.
Can be related to #1234  also.
We should at least evaluate how hard it would be to include the support and what are the major hurdles in that.

[2016-11-30 22:06] danpovey commented on #1235
@GaofengCheng, maybe you could look into this?

[2016-11-30 23:02] merlspeech commented on #1232
First, CHiME-3 and CHiME-4 use the same data (but limit the use of data for each task), and we titled chime3 even for CHiME-4 data. So, the data you downloaded is correct.

Second, we actually use LDC WSJ0 data to have more training data, which you need a password. If your institute has the LDC WSJ0 license, you can obtain the password. Please send email to chimechallenge@gmail.com, then we can re

[2016-11-30 23:18] dogancan commented on #1235
Hi @danpovey. I think I can help with this. Let me investigate what changes are needed to support openfst 1.5.

[2016-11-30 23:19] jtrmal commented on #1235
Cool,  thanks a lot!
Y.

On Nov 30, 2016 6:18 PM, "Dogan Can" <notifications@github.com> wrote:

[2016-11-30 23:20] danpovey commented on #1235
Thanks.  @GaofengCheng, don't bother with this.. .I know you have other stuff you're doing.

[2016-12-01 00:21] danpovey opened #1237 "Tune setups with new fast-lstm layer"
@GaofengCheng, it would be great if you could help with this.

This would be changes on top of the fast_lstm branch-- I hope to merge the fast_lstm branch very soon to master.
The issue is this:
  Vijay has recently been doing some experiments with combining TDNN and LSTM that were quite successful.  He has those on Switchboard.  I have been testing the fast_lstm stuff on tedlium s5_r2, with the c

[2016-12-01 01:36] GaofengCheng commented on #1237
@danpovey OK, I will help this. I don't have the tedlium data...., the first issue I can do no help......I will merge kaldi/master and kaldi/lstm-fast locally,  help the second issue....

[2016-12-01 01:37] danpovey commented on #1237
the tedlium data is free to download.

On Wed, Nov 30, 2016 at 8:36 PM, Gaofeng Cheng <notifications@github.com>
wrote:

[2016-12-01 01:39] GaofengCheng commented on #1237
@danpovey hm...got it

[2016-12-01 07:38] vdp commented on #1234
FWIW, I think it should be safe to migrate to C++11. For example Google's, TensorFlow which is obviously an important piece of their strategy of waging the Cloud Wars, and supports a bunch of platforms including (since recently) Windows. Unsurprisingly their code is very well written style-wise, IMHO, and could be used as a guide for Kaldi's potential C++11 transition. I don't know why you don't l

[2016-12-02 03:26] jrziviani opened #1239 "OpenFST 1.4.1 causes the build to fail"
Hello!

After changing the Makefile to use open fst 1.4.1
[code]
I have this error:
[code]
Neither www.openslr.org/resources/2/openfst-1.4.1.tar.gz nor openfst.cs.nyu.edu seems to have that package. I was able to get it from http://pkgs.fedoraproject.org/repo/pkgs/openfst/openfst-1.4.1.tar.gz/ca8f1730b9b9b281e515611fa9ae23c0/

Thanks

[2016-12-02 03:29] jtrmal commented on #1239
I'll upload the 1.4.1 package there (on openslr.org). I think something has happened to the primary mirror -- I had problems two days ago with accessing openfst.org (which works now, but who knows what's really going on).
y.

[2016-12-02 03:33] jtrmal commented on #1239
OK, it's uploaded and seems to work. Closing the issue.
Thanks for letting us know!

[2016-12-02 03:33] #1239 closed

[2016-12-02 12:58] GaofengCheng commented on #1237
![image](https://cloud.githubusercontent.com/assets/7532101/20834796/0c470962-b8d2-11e6-80d5-cd3abdc6b597.png)
@danpovey

[2016-12-02 16:51] vijayaditya commented on #1237
A good way to check the behavior of the two models is to check their
log-probability plots. Could you please provide them for the two tdnn-lstm
models ?

Another thing : as Dan would like a faster model I would recommend reducing
tdnn output-dims rather than the number of tdnn layers. We usually do
single CPU decoding and this would give us similar speed improvements.

Vijay

On Dec 2, 2016 04:58,

[2016-12-02 19:39] danpovey commented on #1237
That's great.  Can you please make a PR for this right away?
Dan

On Fri, Dec 2, 2016 at 11:51 AM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-12-03 01:14] GaofengCheng commented on #1237
![default](https://cloud.githubusercontent.com/assets/7532101/20855478/5a8d7398-b938-11e6-811d-d362edb9add6.JPG)
@vijayaditya

[2016-12-03 02:24] dogancan commented on #1234
I am on the same boat with @vdp. Even if we don't transition all of existing Kaldi codebase, a compiler with C++11 support is a perfectly reasonable requirement IMHO. We are currently going through hoops to support a number of OpenFst versions. If we require C++11, not only can we remove the support for old OpenFst versions, but also make things significantly easier for people who want to maintain

[2016-12-04 03:54] xykcode opened #1244 "About Query by Humming"
How to query by humming with deep-learning?
Is there some  sample?

[2016-12-04 05:03] danpovey commented on #1244
No there isn't.

[2016-12-04 05:03] #1244 closed

[2016-12-04 05:42] vdp commented on #1237
BTW Dan, you say:

Does this mean that the TDNN layers are slower than the LSTM ones? I was under impression that the recursive models are inherently slower, because we can't batch activations together, so we can't take full advantage of the optimizations for the BLAS GEMM operations..

(And BTW congrats to @vijayaditya for the new job. It's a great place to do speech recognition work I'd imagine.

[2016-12-04 05:44] danpovey commented on #1237
No, TDNN layers are fast.. but there are so many of them.

Hopefully Vijay will not be *completely* gone... Michiel told me that it's
OK to contribute to open source as long as it doesn't take an unreasonable
amount of time.

On Sun, Dec 4, 2016 at 12:42 AM, Vassil Panayotov <notifications@github.com>
wrote:

[2016-12-04 06:40] vdp commented on #1237
Ah I see, thanks!
And great to hear that Vijay may remain active on the Kaldi front.

[2016-12-04 19:01] danpovey commented on #1234
@dogancan, it looks like there is support for allowing Kaldi to require C++11.  So I think we'll go ahead with this.  It would be great if you could help, as I know you're much more familiar with C++11 than I am.

The basic goal is to modify all the code that uses threads, to use C++11-style threads and not pthreads; to remove most of what exists in the thread/ directory; and if anything needs to

[2016-12-04 19:43] danpovey opened #1246 "Dropout efficiency improvement"
As a small efficiency improvement, we should make it so the dropout component just copies its input (and the same in backprop) if the dropout-proportion is zero.

[2016-12-04 20:09] dogancan commented on #1234
@danpovey, I have a few questions regarding the extent of changes we are planning to make. Should we keep the discussion related to this upgrade in this issue thread or should I open a new WIP pull request to keep track of the discussion and comments as well as code changes?

[2016-12-04 20:15] danpovey commented on #1234
This issue is fine for further discussion, until the PR exists.

On Sun, Dec 4, 2016 at 3:09 PM, Dogan Can <notifications@github.com> wrote:

[2016-12-04 20:28] danpovey opened #1247 "Dropout schedule in nnet3 training scripts"
Recently, @GaofengCheng has been doing some interesting experiments with dropout and BLSTMs, and getting nice improvements.  He was using a dropout schedule in which you start with zero dropout, ramp up to 0.2, and then go back to zero at the very end.

I have been thinking about the best and most flexible way to support general dropout schedules in the training scripts.  @vimalmanohar, since you

[2016-12-04 20:37] dogancan commented on #1234
One thing that this upgrade will allow us is to drop support for old OpenFst releases going forward and remove a whole bunch of ifdef statements. Is there a good reason for supporting old OpenFst releases after this upgrade? With the current Kaldi installation mechanism, I don't see a particular reason to download and install an old OpenFst release.

[2016-12-04 20:43] danpovey commented on #1234
Yes that's true.  It would be possible to combine this with your other
patch, then we can test them together and have only one increment in the
configure version.

On Sun, Dec 4, 2016 at 3:38 PM, Dogan Can <notifications@github.com> wrote:

[2016-12-04 20:48] dogancan commented on #1234
I was thinking we would do the other patch first, make a Kaldi point release, mark that as the last release with support for old compilers and then remove support for old OpenFst releases along with the C++11 upgrade.

[2016-12-04 20:58] danpovey commented on #1234
That's possible too, but both patches will require extensive testing, and
the OpenFst upgrade is of the same nature as the C++11 upgrade in that it
doesn't really add functionality but is for future compatibility; so we
would save quite a lot of work by combining the two.

We don't really have the concept of Kaldi version number.  There is a
separate discussion about that but not really resolved.

[2016-12-04 21:10] dogancan commented on #1234
Ok, I guess we can branch off the current master and call that the legacy support branch or something and let people continue to use that branch with old compilers. That way it would be possible for people to open pull requests against that branch for maintenance. The openfst upgrade patch can be merged to that branch if need be.

Regarding versioning, this C++11 upgrade can be a good point to do

[2016-12-04 21:16] danpovey commented on #1234
As I said, we currently do not have a concept of version number.

In the past we tried supporting multiple versions (e.g. stable/trunk) but
it turned out to be way too much work.  It's just too much of a demand on
my time-- some things are doubled.  So we won't be doing this.  Kaldi will
be upgraded and if people don't want to upgrade, we can just let them the
know the git hash that they should ch

[2016-12-04 21:30] dogancan commented on #1234
Sorry for the confusion. I didn't mean to suggest we keep supporting multiple versions. Only that there would be a largely unsupported legacy branch for people to keep using with old compilers. I suppose that can get out of hand if people expect that branch will be supported. I haven't had to deal with this before, so I'll just shut up now :)

I understand that Kaldi does not have the concept of a

[2016-12-04 21:35] danpovey commented on #1234
We could certainly make a note of the old git hash by creating a branch.

And I'll definitely consider introducing a version number.  The only really
practical approach, though (considering that our time is limited) is to
make the versions effectively be tags, i.e. no updates.  There is a
discussion of this at Issue #1179.

On Sun, Dec 4, 2016 at 4:30 PM, Dogan Can <notifications@github.com> wrote

[2016-12-04 23:13] danpovey commented on #1227
Closing this issue, you can re-open if you have more comments.

[2016-12-04 23:13] #1227 closed

[2016-12-04 23:14] #1232 closed

[2016-12-04 23:14] #1216 closed

[2016-12-05 02:15] GaofengCheng commented on #1247
@danpovey @vimalmanohar  I think adding this function into the existing dropout is interesting :
                    supporting schedule `[0, 0.2, 0] `and` [0, 1.0, 0] ` during one training.
We could control the monotony of specific dropout components.

[2016-12-07 01:46] GaofengCheng commented on #1247
@danpovey could you give me some guidance on how to set a random matrix by row in kaldi? .... I saw a cumatrix function `ApplyHeaviside`,  you could tell the function name you will use for realizing this funcion, and I can do it myslf.

[2016-12-07 01:52] danpovey commented on #1247
I assume what you want is a matrix where each row is randomly all zeros or
all ones.

I would first set a random vector with dimension == the NumCols() of the
matrix to random zeroes and ones using a combination of SetRandUniform(),
Add() and ApplyHeaviside().
You can create a matrix with 1 row if the relevant functions are not
available in class CuVector)... and then use CopyColsFromVec() to copy

[2016-12-07 15:08] vince62s opened #1254 "could --frame-subsampling-factor be an option of nnet3/decode.sh ? (chain)"
Just asking.
Might prevent from mistakes when not thinking of generating the corresponding textfile.

[2016-12-07 19:34] danpovey commented on #1254
Hm... I think I'd rather not do that because it could lead to confusion as
to what the correct mechanism of specifying it was.  I view it as a
property of the system rather than as a decoding option [of course you can
hack it if you want.]

On Wed, Dec 7, 2016 at 7:08 AM, vince62s <notifications@github.com> wrote:

[2016-12-07 20:28] vince62s commented on #1254
I see your point, but when we build the tree, we have to specify the option and it triggers the creation of the text file, it does not embed the config in the tree, so we can easily forget. Anyway, was just a question. no big deal.

[2016-12-07 20:28] #1254 closed

[2016-12-08 09:58] naxingyu opened #1257 "max-change invalid"
max-change is now invalid in nnet3 code, but steps/nnet3/components.py is still generating natural gradientaffinecomponent using max-change.

[2016-12-08 19:19] danpovey commented on #1257
Can you be more specific?  max-change is valid; are you sure you compiled your code after updating?  Or maybe you have something wrong on your path?  It's max-change-per-minibatch which is deprecated, but I believe the config is still accepted.

[2016-12-08 19:30] vijayaditya commented on #1257
Also if xconfig style arch definitions are going to be the norm, a
deprecation warning has to be added to steps/nnet3/components.py and the
config generators which use these component library.

--Vijay

On Thu, Dec 8, 2016 at 11:19 AM, Daniel Povey <notifications@github.com>
wrote:

[2016-12-08 21:01] danpovey opened #1258 "Change utils/mkgraph.sh so that it ignores the --mono,--left-biphone and --quinphone options."
.. and remove the use of those options from checked-in example scripts.
Currently the script checks that the options match the given model.  We should just be getting the options from the model.

@pegahgh, can you show @LvHang how to do this, including the use of 'find' to find such instances and possibly 'sed -i' to replace them?

[2016-12-08 21:04] pegahgh commented on #1258
Sure Dan.

[2016-12-08 23:14] LvHang commented on #1258
Thanks.
I will learn from Pegah and help to deal with it.

[2016-12-09 01:29] naxingyu commented on #1257
I know that max-change is valid in updatablecomponent itf. However, there is a `Bad initializer` error on the `max-change` item when I have a config like this
[code]

[2016-12-09 01:45] danpovey commented on #1257
Can you paste the error?  It's still far from clear what the issue is.

On Thu, Dec 8, 2016 at 5:29 PM, Xingyu Na <notifications@github.com> wrote:

[2016-12-09 01:52] naxingyu commented on #1257
I have changed the script so now it works... I'll catch it if it came up again. closing.

[2016-12-09 01:52] #1257 closed

[2016-12-09 01:56] danpovey commented on #1257
You should not remove the max-change from the script.  It is required for
best performance, and it has not be deprecated.
I still think the most likely scenario is that your code has not been
compiled recently.  But if there *is* a problem in the script, it would be
nice to see the exact error message.

On Thu, Dec 8, 2016 at 5:52 PM, Xingyu Na <notifications@github.com> wrote:

[2016-12-09 02:45] naxingyu commented on #1257
I'll check after finishing the GALE update.

[2016-12-13 01:25] #1163 closed

[2016-12-13 03:55] naxingyu commented on #1011
There are make_mfcc_pitch{,_online}.sh scripts. I see the difference is that there is no post processing of pitch in the online script. So should I use the online script to extract feats?

[2016-12-13 04:00] danpovey commented on #1011
Yes, use the online script... the postprocessing is done in the same binary
as the pitch is generated in.
Dan

On Mon, Dec 12, 2016 at 7:55 PM, Xingyu Na <notifications@github.com> wrote:

[2016-12-15 08:51] jtrmal opened #1265 "extras/check_dependencies does not suggest proper python packages"
On debian/ubuntu, the recommended package is python2.7, the correct package should be "python"
This was reported by Alexander Gorodetski

[2016-12-15 20:16] danpovey opened #1267 "Create temporary files atomically in utils/mkgraph.sh"
To stop the situation where half-written file causes errors later on in case a graph build was interrupted, I would like the program utils/mkgraph.sh to be changed so that instead of:

`
some-command > $lang/tmp/foo.fst
`
it does something like the following:
`
trap "rm -f $lang/tmp/foo.fst.$$" EXIT HUP INT PIPE TERM
some-command > $lang/tmp/foo.fst.$$
mv $lang/tmp/foo.fst.$$ $lang/tmp/foo.fst
`
(

[2016-12-15 20:48] vijayaditya opened #1268 "Reg. local/score_sclite.sh in egs/gale_mandarin"
I was just taking a look at the gale_mandarin setup and was confused to see

[code]
in the local/score_sclite.sh where `-l english` was specified. I was wondering if this script is ever called from local/score.sh ie., is there an stm file in the data directories being decoded ?

I guess it might have been unintentionally copied, so better delete it to avoid confusion.

[2016-12-15 20:49] LvHang commented on #1267
Hi Dan,
Get it. I'll deal with it.
Hang

[2016-12-15 20:56] vijayaditya commented on #1268
Same issue even in egs/hkust.

[2016-12-16 01:28] naxingyu opened #1270 "a Mandarin chain recipe"
This is a reminder for myself. There is no chain recipe for the Mandarin examples. I'll start with hkust, see if the performance matches the English results in the lf-mmi paper.

[2016-12-16 01:40] naxingyu commented on #1268
So, there is not stm in gale_mandarin or hkust. score_sclite.sh is deprecated.

[2016-12-16 01:54] vijayaditya commented on #1268
@naxingyu In that case I would recommend cleaning up the score.sh script and deleting score_sclite.sh scripts.

[2016-12-16 02:43] naxingyu commented on #1268
ok.

[2016-12-17 19:44] hajix opened #1271 "phone sequence to words"
Hi

Is there any recipe to build a decoder to convert phone sequence to words? I already have my own dictionary, phone set and ARPA formatted trigram language model, and I want to build a decoder according to AN4 example. I renamed and lay my files down in a similar format of AN4 files. I also manipulate `run.sh` to only execute `lang prep` section. Every thing goes on until I get the following er

[2016-12-17 21:24] danpovey commented on #1271
In speech recognition, there is no stage where we convert a phone sequence
to words.  It's all jointly decoded.  It's not clear to me what you are
trying to do, and what your real underlying task is.

The output of the determinization command resulted in an empty FST.
Possibly your G.fst was empty or your lexicon didn't cover all of the words
in it.

Dan

On Sat, Dec 17, 2016 at 11:44 AM, hajix <n

[2016-12-17 23:47] danpovey opened #1273 "Fix tutorial"
@akreal, do you have time to update the Wit Zelinski tutorial with a fix?

Please see the thread here
https://groups.google.com/forum/#!topic/kaldi-help/-WMWyO0W6Ek
and if you have time also have a look at the link and see if there were any other fixes that they made, that we could use.

[2016-12-17 23:52] akreal commented on #1273
I'll have a look next week.

[2016-12-17 23:53] danpovey commented on #1273
Thanks!

On Sat, Dec 17, 2016 at 3:52 PM, Pavel Denisov <notifications@github.com>
wrote:

[2016-12-18 00:26] danpovey opened #1274 "Learning a scale on each component"
@freewym, it would be great if you could help with this, as you are most familiar with the code that needs to be changed.  If @vijayaditya has time to help review your code, it would be great.

This is an issue to track something I want to implement based on conversations at the SLT conference.  (I heard about this from Frank Seide; it's something they implemented in CNTK based on an idea of Jasha

[2016-12-18 00:30] freewym commented on #1274
Sure, will look into this.
On Sat, Dec 17, 2016 at 7:26 PM Daniel Povey <notifications@github.com>
wrote:

Sent from my iPhone

[2016-12-18 00:40] pegahgh commented on #1274
Dan, the idea and results described in our paper:
https://pdfs.semanticscholar.org/d058/6a86f6526a37d3c94b8b0a23139d27b4a731.pdf

[2016-12-18 00:52] danpovey commented on #1274
Oh-- interesting.
Looks like you were looking at it from the point of view of automatically
adjusting learning rates, while I was trying to factor that aspect of it
out, and was imagining it would scale the params down like our shrinkage.
Let's have Yiming implement it as I said, and see if it helps (and whether
the adjustment factors are in practice less than, or more than, one).
Dan

On Sat, Dec

[2016-12-18 09:39] hajix commented on #1271
Thanks for your answer

My original problem is that I already make a phone recognizer and I need to build full ASR system base on this model. The output of my phone recognizer model is a 40 dim vector which is probability of each phone (39 phone and silent). If I was wrong about using a decoder for solving this problem please note about it.

Decoding problem could be formulated as a search problem

[2016-12-18 19:12] danpovey commented on #1271
If you want to build a speech recognizer from scratch, which it seems is
what you are doing, it would probably be easier to write your own code.  In
any case you should understand more.  Search for hbka.pdf online to learn
the basics of FST-based decoding.

In any case, I don't think I want to spend my time helping you in this
direction because there is a huge amount of work involved and ultimatel

[2016-12-18 22:18] #1271 closed

[2016-12-20 13:31] GaofengCheng commented on #1274
@pegahgh in tensorflow, the learning rate could be halved and then retrained if the valid loss increase(not decrease after a step or we could name it 'epoch' training), is this similar to CNTK's  `autoAdjustLR`

[2016-12-20 17:21] pegahgh commented on #1274
@Geofeng auto-adjust in CNTK increases or decreases learning rate with
different rates(rho1, and rho2 not necessarily 0.5) if validation objective
change is less than or more than some thresholds.

On Tue, Dec 20, 2016 at 8:31 AM, Gaofeng Cheng <notifications@github.com>
wrote:

[2016-12-20 19:32] vijayaditya commented on #1274
@danpovey Sure will do. I will try to get this done today.

[2016-12-22 12:48] mosherayman opened #1284 "GPU for the non nnet2 parts of the recipe"
I have been looking at the various online/nnet2 scripts

The online/nnet2 scripts all check for GPUs:

if $use_gpu; then
  if ! cuda-compiled; then
    cat <<EOF && exit 1
This script is intended to be used with GPUs but you have not compiled Kaldi with CUDA
If you want to use GPUs (and have them), go to src/, and configure and make on a machine
where "nvcc" is installed.  Otherwise, call this scr

[2016-12-22 17:34] ognjentodic commented on #1284
GPUs are used for nnet training (nnet2 and nnet3 codebase) and relevant scripts will check if there is GPU support.

run.sh is a high-level script, defining your experiment/recipe. If you are doing nnet training, it will benefit from (require) GPU since you will be calling nnet related scripts.

[2016-12-22 20:07] danpovey commented on #1284
... and any scripts other than nnet training will not benefit from a GPU.
Those other steps are relatively fast and there is not much benefit in
coding them for GPU.
Dan

On Thu, Dec 22, 2016 at 9:34 AM, ognjentodic <notifications@github.com>
wrote:

[2016-12-22 21:10] vimalmanohar opened #1285 "Save model after each epoch as epoch1.mdl etc."
The old bash scripts create soft links like epoch1.mdl, epoch2.mdl and so on at the end of each epoch. The new python scripts need to be modified to do this.

[2016-12-22 21:11] vimalmanohar commented on #1285
I can add this when the train scripts are modified for some other change.

[2016-12-22 21:47] danpovey commented on #1179
A specific proposal regarding versioning:

 - What I am leaning towards is having a conventional version number (like 10.1.2), but the last element of the version number would be automatically updated via git-hooks.  For example, there would be a file like base/.version that would contain something like 10.1, which we'd manually increment when needed, and also base/.full_version that would be upda

[2016-12-22 21:58] danpovey commented on #1179
Hm, I'm wondering whether my proposal is even possible.
Are git post-commit hooks allowed to change the contents of commits, or make their own commits?  I doubt this now.
One possibility is to only update the major/minor version number and records its git hash, and to have the '+4' in my example record how far ahead of that we are; but that fails to distinguish between local and upstream changes.

[2016-12-23 01:03] GaofengCheng commented on #1247
@danpovey I added the dropout on the input of 'rp' , i.e. before LSTM projection, .... but I can try on the output of rp right now and see the effect(this may better than on the input of rp, because the dropout effect will do directly on the LSTM gates)... @vimalmanohar  as for the dropout place, you can ref `lstm.py` in https://github.com/vimalmanohar/kaldi/pull/8

[2016-12-23 01:15] danpovey commented on #1247
Oh OK, so I guess the dropout is on 'm_t', because that's where 'rp' gets
its input projection from (and I think m_t is not used anywhere else).  In
the proposed scheme, this could be accomplished by setting 'dropout=m', and
of course writing the appropriate code.

On Thu, Dec 22, 2016 at 5:03 PM, Gaofeng Cheng <notifications@github.com>
wrote:

[2016-12-23 01:19] GaofengCheng commented on #1247
@danpovey yes... input of lstm dropout is m_t

[2016-12-23 07:17] mosherayman commented on #1284
Thanks for the reply.

So to actually build the online/nnet2 recipes you need a multicore box for
the non GPU parts, and a GPU for the nnet2 parts.

SInce I am using AWS, it seems that to do this all on one box, we would
need a p2.8xlarge (32 cores and 8 GPUs) which costs a whopping $7.20/hour!

Alternatively, we could split this over 2 boxes a c4.[48]xlarge for the
non-gpu stuff ($1.20/hr) and a

[2016-12-23 07:19] danpovey commented on #1284
It depends how much data you have... if a lot (e.g. Switchboard) then
probably best to get that big box with 8 GPUs.  Yes it scales fine to 8
GPUs if you have more than a couple hundred hours of data... we sometimes
use 8 GPUs even if we have only a hundred hours, but the speedup is never
completely linear.

Splitting over multiple boxes will be a bit of a hassle as you'd have to
set up NFS.

Dan

[2016-12-23 07:41] ognjentodic commented on #1284
Another perspective, from a scrappy startup, without access to a large CPU/GPU cluster:

- typically, non-GPU steps you will run only once (aside from decoding on dev/test, etc), so you could get a large non-GPU machine to do that
- you keep all the data on EBS, so when ready to switch to nnet part you can start a GPU instance with that EBS
- depending on number of GPUs, CPU cores, etc. you will n

[2016-12-23 13:33] vince62s commented on #1237
unrelated, but is there an existing script / app to plot the log-prob like this or do I have to grab all the log files and redo it ?
thanks.

[2016-12-23 15:09] vimalmanohar commented on #1247
On Thu, Dec 22, 2016 at 7:30 PM Daniel Povey <notifications@github.com>
wrote:

Seems reasonable. @GaofengCheng can add this to his PR after he tests out
the fast LSTM component. I can help with the xconfig modifications if
needed.

--
Vimal Manohar
PhD Student
Electrical & Computer Engineering
Johns Hopkins University

[2016-12-23 17:44] akreal commented on #1273
I've created PR to fix `arpa2fst` command.

Their PDF doesn't have this fix and seems to be the same version that I used for Doxygen.

Actually I never run commands from the tutorial and this would be good thing to do to see if everything works for the recent source. I hope to have time for this next week.

[2016-12-23 21:20] danpovey commented on #1237
See
steps/nnet3/report/generate_plots.py

On Fri, Dec 23, 2016 at 5:33 AM, vince62s <notifications@github.com> wrote:

[2016-12-24 09:27] vdp commented on #1179
Leaving the technicalities aside for a moment, as far as I can tell from the comments so far, the potential uses for the versioning fall into three main categories:

* **diagnostics**: provides a means to determine the version of the sources, that was used to compile a given binary, for debugging purposes

* **features-info**: enables users to look up if a given feature is supported in the version

[2016-12-24 18:15] vince62s commented on #1179
I very much agree with @vdp .
Working with another opensource project on github, I find it quite interesting to use the "release" concept given by github.
here is an example: https://github.com/ModernMT/MMT/releases
where you can easily all the commits in master since the last "release".

[2016-12-25 00:24] danpovey commented on #1179
My concern about using the 'releases' on github is, it seems to be geared
towards having people download things as zipfiles.  If they have a source
tree that's not based on git, it would make it harder for people to receive
updates in cases where they report a problem and it gets fixed.  But I
suppose it could be done as a form of documentation, and we can tell people
that downloading the zipfile

[2016-12-25 00:54] nshmyrev commented on #1284
An economic choice is a GPU server on OVH ($195/month for two GeForce GTX 970). Much faster than Amazon because it is a real hardware.

[2016-12-25 08:17] vince62s commented on #1179
If my understanding is correct this is somehow what they do for tensorflow.
Keep a "branch" for each stable release, and track changes / patches / release candidates through "releases". This is also a good place to keep the documentation for changes log.

[2016-12-25 10:17] vdp commented on #1179
I personally use Git in a quite pedestrian way most of the time, so I'm not familiar with much of the deeper wizardry, but given it's a DVCS, where each individual repo stands on its own, I would be surprise if it doesn't provide a way to get the information we need. A quick search suggests that the command we are looking for might be "rev-list". For example to obtain the list of changes since the

[2016-12-25 20:18] gfkubala commented on #1179
You may want to take a look at this facility for versioning.

https://github.com/smessmer/gitversion

It appears to cover all the important bases.

On Sat, Dec 24, 2016 at 7:24 PM, Daniel Povey <notifications@github.com>
wrote:

[2016-12-26 03:57] danpovey commented on #1179
I'm thinking of adding strings containing version numbers into the commit messages (these could be added when squashing-and-merging), e.g.
"[10.5.13] Fix minor bug in kaldi-table-inl.h"
Or as a shorthand for when we can't be bothered to figure out what the current version number is,
"[+1] Fix minor bug in kaldi-table-inl.h"

and we could also have a file containing a fairly recent version number [

[2016-12-26 10:03] vdp commented on #1284
@nshmyrev: This sounds interesting, if one needs a lot(or OK, moderate by today's standards) GPU processing power for a limited period of time.. Have you benchmarked how much faster is this than say g2.2xlarge for training Kaldi models? I assume that you are saying they are faster than the g2 instances, because I'd expect the newer p2 ones will be significantly faster? (they also seem to be oversu

[2016-12-26 22:55] danpovey commented on #1179
OK, some more specifics.  @dogancan, I know you have been doing a lot lately, but do you have time to help with this?  It would be nice to get this done before we check in your C++11 changes.  This is a fairly limited and specific change to add version numbers, and doesn't include things like branches, tags and documentation.

To make the upgrade to using version numbers manageable, we need to add

[2016-12-27 07:53] vdp commented on #1179
This is hardly the most pressing issue, but IMO a version with major/minor numbers based on date, e.g. 2017.04 or 17.04(as in Ubuntu) are more expressive, than just using an index, whose meaning is not immediately clear. We could even "compress" it a little more, considering the first public Kaldi release was in 2011. If we imagine version 1.0 was released in that year, the major version for 2017

[2016-12-27 08:06] danpovey commented on #1179
Regarding version numbers based on date-- I don't like this idea as it
removes our freedom to increment them when we want to.

I agree that putting the git hash of the commit corresponding to the
version in the .version file is a good idea, it can have that as a second
field after the version number; this will make the scripts's job easier in
figuring out how clean/dirty the repo is (e.g. whether

[2016-12-27 09:28] danpovey commented on #1179
I just realized that you can't get the hash of a commit before committing
it, so adding the hash of the *current* commit is not workable, but adding
the hash of its parent is workable.  We could just use the hash of either
parent in case of merges, the script would be able to handle that.  [The
only point is to verify whether the commit history at that point was
changed via rebasing or other magic

[2016-12-27 15:29] MertBuyuktuncay opened #1289 "Trouble with TaskSequencer"
Hi,
Due to a leak report in nnet3 modules I was checking out things in kaldi and I've seen a data race which leads to both some memory leak and probably incorrect initialization.

Let me try to explain...

TaskSequencer is used inside the method IvectorExtractor::ComputeDerivedVars().
TaskSequencer::Run() is called in a tight loop several times each time with a new parameter object. (in my case it

[2016-12-27 21:05] danpovey commented on #1289
We do plan to rewrite that code based on boost threads in the near future.
However, I am quite doubtful that there is really a leak there.
Notice that thread_list_ is a singly linked list and its destructor will
call delete on its tail.
What tool initially reported a leak, and can you show what it said?

[2016-12-27 22:24] dogancan commented on #1179
I have a few questions/comments.

1. Why do we need a base/.version file? Can't we just use git tags to mark versions and use [git-describe](https://git-scm.com/docs/git-describe) to retrieve the latest tag reachable from HEAD? It seems git-describe already does something similar to what we are trying to achieve with suffixes although there is no distinction between remote (clean?) commits and loc

[2016-12-27 22:52] danpovey commented on #1179
I'm open to using tags like that.  But I don't want to have a script that's
part of the build process *require* the repo to have been checked out using
git-- people might have downloaded a zip file, or be using another type of
repo, and I want it to be possible in principle to still build.  So it
should do something reasonable in that case; a .version file might be
necessary anyway as a backup.  A

[2016-12-27 23:49] dogancan commented on #1179
Hmm. I haven’t thought of the non-git based setups. Having a base/.version as
a backup makes sense. I suppose in those setup we simply print whatever is
inside base/.version.

Yes, cloning by default includes all tags.

I wasn’t suggesting adding a tag on each commit. I agree with your proposal
of only marking major.minor number and figuring out patch number locally.

I’ll get started with what gi

[2016-12-28 00:03] pegahgh commented on #1274
Dear Dan
Just as an update, @LvHang is helping to prepare fvector setup. He had a
good progress and we are preparing f-vector setup using both raw-waveform
and MFCC based inputs.

On Tue, Dec 27, 2016 at 6:32 PM, Daniel Povey <notifications@github.com>
wrote:

[2016-12-28 00:14] danpovey commented on #1274
OK well make sure you keep him busy; if he has free time, I *will* use it.

[2016-12-28 00:18] pegahgh commented on #1274
Sure,
I will ask him to prepare a progress report for you.

On Tue, Dec 27, 2016 at 7:14 PM, Daniel Povey <notifications@github.com>
wrote:

[2016-12-28 01:47] danpovey commented on #1274
@freewym, another option is to have @pegahgh help this-- it relates to some stuff she was working on anyway.  But if it's too hard to divide the work, it's OK.

[2016-12-28 01:52] LvHang commented on #1274
@danpovey
Hi dan,
YiMing has already told me about the testing task. I will help him to deal with it. I think it's also a good opportunity to learn about Kaldi, see the code.
Pegah worried about I'm too hard with the best of intentions. I'm very grateful to her. I can achieve the balance among all my works. More time can make up for everything.
Thank you for all of you. Very appreciate!
Best wishe

[2016-12-28 06:42] MertBuyuktuncay commented on #1289
Hi Daniel,
The following image contains the corresponding info.
This is taken with the performance profiler that comes with visual studio 2015. It shows the difference between two snapshots on the memory of our process. The process belongs to a test application that is written just for this issue. The process is 64 bit.
In between these two snapshots nnet3 models are being loaded and released and

[2016-12-28 06:52] danpovey commented on #1289
Oh-- you're using Windows.
Microsoft products are... *special*.
There's no conceivable memory that could be leaked inside AddMat2Sp because
it doesn't even call new and all the things it uses are thoroughly debugged.
With 100% probability it's an error in the Microsoft tool you are using to
debug.

On Tue, Dec 27, 2016 at 10:42 PM, MertBuyuktuncay <notifications@github.com>
wrote:

[2016-12-28 06:57] danpovey commented on #1289
... or alternatively it's possible that some lower level things we use are
thread safe on Linux but not thread safe on Microsoft.
If you figure out what is going wrong and how things should be changed, I'd
be happy to listen.  But so far you haven't identified any bug.  I don't
have time to get too deeply into Windows issues; in my experience the
answer is usually that Microsoft's compilers are ba

[2016-12-28 07:03] danpovey commented on #1289
Actually, have a look into the documentation of your BLAS library and see
whether you have to build or invoke it with special options if you want it
to be thread safe.

On Tue, Dec 27, 2016 at 10:57 PM, Daniel Povey <dpovey@gmail.com> wrote:

[2016-12-28 07:14] MertBuyuktuncay commented on #1289
Hi Dan,
What I have kind of observed was that TaskSequencer does not seem to delete the tail but only the list itself in the end. It is quite possible that I am misinterpreting things so I will write a small test for TaskSequencer and check if it really behaves as desired.

[2016-12-28 07:24] danpovey commented on #1289
Those bits of memory are not even supposed to be deleted by that code, to
my knowledge.  Very little memory is deleted by that call you are focusing
on.

I think most likely it's a non-thread-safe-BLAS issue.

On Tue, Dec 27, 2016 at 11:14 PM, MertBuyuktuncay <notifications@github.com>
wrote:

[2016-12-28 08:18] MertBuyuktuncay commented on #1289
I've written a quick test on TaskSequencer.(Added testCode.txt here). It seems TaskSequencer is clear from leaks.
[testCode.txt](https://github.com/kaldi-asr/kaldi/files/675231/testCode.txt)

We are using intel mkl. Their documentation says it is threadsafe. I am not sure what exactly to test in mkl.

[2016-12-28 08:34] vdp commented on #1179
I think, that this debugging script, proposed by Dogan(maybe something like misc/bugreport.sh?) would be nice to have in any case, for determining if the user has made changes to the scripts, after the binaries were compiled. In many cases this will result in exceptions in the binaries, due to incorrect input, but not always.

IMO having a non-Git distribution option would be a mistake, because it

[2016-12-28 08:56] MertBuyuktuncay commented on #1289
In order to understand if this was a wrong leak report I tried running the test program longer than usual, Added an infinite loop st. it loads and releases the model infinitely many times.

After several tens of times my windows machine warned me about low resources, at this time my RAM was about half full so this most certainly did not occurred due to lack of memory, probably windows does not cop

[2016-12-28 16:22] jtrmal commented on #1179
I'd be in favor of by-default automatic versioning, i.e. each month a new
tag would be created -- 2016.12.0, 2017.01.0 and so on. In cases when the
version has to be bumped up manually, we can bump the sub-minor version,
i.e. create something 2017.01.1,, 2017.01.2 and so on.
The final version might be something like 2017.01.01~5 (#shorthash) where 5
is number of commits from 2017.01.01..HEAD and #

[2016-12-28 18:29] danpovey commented on #1289
sorry, I meant c++11 threads, not boost threads.  we plan to use
std::thread.  We could definitely use a thread pool.  We'd be happy to use
your help.  But first we want to do the upgrade to c++11, that may be a few
more weeks.

On Wed, Dec 28, 2016 at 12:56 AM, MertBuyuktuncay <notifications@github.com>
wrote:

[2016-12-28 20:51] danpovey commented on #1289
Closing this issue--@MertBuyuktuncay, there is discussion about the threading in issue #1234.

[2016-12-28 20:51] #1289 closed

[2016-12-28 21:01] danpovey commented on #1179
@jtrmal, sorry, by now I'm set on having a semantic-versioning style of versioning.
Versioning by date like that will make things weird in case we want to apply bug-fixes to older branches.
Imagine that at some point in the future we decide we want to rebuild core parts of Kaldi from the ground up but maintain fixes to the older version of Kaldi for people that have built stuff around it.  Having

[2016-12-28 21:18] danpovey commented on #1179
OK guys.
I think I've come up with a form of versioning where it will be trivial to figure out the version number.
The major/minor version number is stored in
`src/.version`; for example, `5.1`.
The patch number is simply the number of commits since the last time src/.version was revised, which we can figure out with git commands `git log -1 src/.version` to get the commit, and `git rev-list [that

[2016-12-28 22:32] vince62s opened #1292 "Sticky posts for the kaldi help mailing list"
Dan,
I am not sure whether you contemplated this before, but you are very very patient and sometimes not :)
when answering the kaldi help questions.

I am pretty sure that a sort of FAQ as "sticky posts" may help a lot to avoid newbies questions. Or even a sticky post pointing to the documentation may be good.

If you prefer the current way, fine just close this.
cheers.

[2016-12-28 23:53] danpovey commented on #1292
I'm afraid I don't have much time to create any extensive content right
now.  There is an issue to add documentation for "decoding with just one
file" which is a common question.

What I was considering is putting a warning that people should make sure
that they have fully read and understood the response to the best of their
ability before posting follow-up questions.  Very often I reply of the f

[2016-12-29 00:21] danpovey commented on #1292
have added a warning a forums.html... closing the issue as it's too generic.

[2016-12-29 00:21] #1292 closed

[2016-12-29 05:55] jtrmal commented on #1179
Ok for me.  Y.

On Dec 28, 2016 10:18 PM, "Daniel Povey" <notifications@github.com> wrote:

[2016-12-29 07:59] vdp commented on #1179
OK with me too, FWIW. Using Git tags instead of ".version" would have been more idiomatic probably, but the proposed implementation is simple and on the face of it looks like it could work, so..

The distinction b/w "official" and local commits would be probably important for the maintainers, because obviously it matters whether the user has version 5.0.7 or version 5.0.2 with 5 custom commits on

[2016-12-29 08:17] vdp commented on #1179
Actually the above method seems to be slowish and could be problematic when you have to check a lot of commits(e.g. when you are working with the 'master' for which .version hasn't been updated for a few months). Instead, you can try:

        git cherry ${official_remote}

[2016-12-29 22:10] danpovey commented on #1179
OK, so from now I'd like to start treating the issue as decided, that we'll

[2016-12-29 22:24] danpovey commented on #1179
OK, for now I want to treat the issue as decided, that we'll have a src/.version file, and we'll use commands like
`git log -1 src/.version` to get the commit, and `git rev-list [that commit]..HEAD | wc -l` to figure out the patch number.
We will later create tags too, but tags are a little more problematic in cases when, for instance, there are multiple remotes or people cloned just a specific re

[2016-12-29 22:44] dogancan commented on #1179
Yes, I will start soon and when I do I will also open a WIP pull request for comments.

[2016-12-30 01:57] naxingyu commented on #1268
This issue is addressed.

[2016-12-30 01:58] vijayaditya commented on #1268
Thanks.

Vijay

On Dec 29, 2016 5:57 PM, "Xingyu Na" <notifications@github.com> wrote:

[2016-12-30 07:28] jtrmal commented on #1268
Closing.  Y.

[2016-12-30 07:29] #1268 closed

[2016-12-30 07:30] jtrmal commented on #1273
I think this was fixed,  so closing.

[2016-12-30 07:30] #1273 closed

[2016-12-30 07:37] jtrmal commented on #1265
Resolved by #1293

[2016-12-30 07:37] #1265 closed

[2016-12-30 13:38] akreal commented on #1273
I went through the tutorial and everything seems to work fine except of a couple of minor things. There is #1296 to fix them.

[2016-12-31 02:34] danpovey commented on #1237
Closing this issue as it's done.

[2016-12-31 02:34] #1237 closed

[2017-01-01 22:07] danpovey commented on #1125
@GaofengCheng, don't bother with this.  I'm doing it myself as part of some more extensive changes to the nnet3 setup (faster compilation and support for multiple chunk sizes and different context length at utterance boundaries).  We don't need this separate issue any more so I'm closing it.
@vijayaditya, your [non-public] experiments are the only ones this is likely to affect.

[2017-01-01 22:07] #1125 closed

[2017-01-01 22:20] vijayaditya commented on #1125
OK I have resorted to using noopcomponents to avoid these issues, so this
is not a high priority requirement for me too.

On Jan 1, 2017 2:07 PM, "Daniel Povey" <notifications@github.com> wrote:

[2017-01-01 23:00] danpovey commented on #1179
@dogancan, do you have any progress on this?  I know it's New Year's Day, but there are a few major changes that I don't want to check in before we've got the versioning squared away (your C++11 PR, and some fairly large changes to the nnet3 setup that I'm working on).

[2017-01-01 23:41] dogancan commented on #1179
I started working on it. I don’t think it will take long before I open a pull request with a bare bones implementation.

[2017-01-02 20:10] stanleyguan opened #1299 "`ali_dir` defined in `run_blstm_6h.sh` (fisher_swbd) not available"
I'm in the process of replicating the BLSTM model in `fisher_swbd`. I have completed `run.sh` and `local/nnet3/run_ivector_common.sh`. Upon running `local/chain/run_blstm_6h.sh`, I find that the alignment directory defined [here](https://github.com/kaldi-asr/kaldi/blob/master/egs/fisher_swbd/s5/local/chain/run_blstm_6h.sh#L41) isn't generated by any other scripts. Am I missing something?

[2017-01-02 20:49] danpovey commented on #1299
That would be generated by the top-level run.sh

On Mon, Jan 2, 2017 at 12:10 PM, Z. Stanley Guan <notifications@github.com>
wrote:

[2017-01-02 20:54] stanleyguan commented on #1299
I see tri_5a_ali but not tri_5a_ali_nodup in the top level run.sh

[2017-01-02 20:57] danpovey commented on #1299
Hm, yes, I see.
The easy fix is to just to remove the _nodup; it seems that we just named the alignment directory differently in the top-level run.sh
@naxingyu, you created these scripts; can you please look into this and fix it appropriately?

[2017-01-02 23:35] danpovey opened #1301 "ZeroComponentStats() not overridden by LstmNonlinearityComponent"
This is a bug that seems to be affecting the LstmNonlinearityComponent; it causes stats to be remembered from previous iterations, which will affect the self-repair code in a hard-to-predict way; but circumstantial evidence from some experiments of @freewym (which caused us to notice this bug), suggest that this bug may be negatively impacting results.

@freewym will fix this and test the fix.

[2017-01-03 00:19] stanleyguan commented on #1299
I did try to use `tri5a_ali` instead of `tri5a_ali_nodup` as `ali_dir` (duplicating the former and naming that the latter). But for the [tree-building step](https://github.com/kaldi-asr/kaldi/blob/master/egs/fisher_swbd/s5/local/chain/run_blstm_6h.sh#L76) I got the following error. My kaldi is at commit ba58e8e55ed1777969e670980dbbc17c0eef530c.

Is `tri5a_ali` the right directory to use, or do I a

[2017-01-03 01:00] galv commented on #1299
I didn't make these scripts, but I do see that your data directory is
"data/train_nodup_sp" while the alignment directory is
"exp/tri5a_ali_nodup". Based on the error message, I'm pretty sure your
suspicion is correct: you need to either make alignments for the speed
perturbed data (i.e., make tri5a_ali_nodup_sp) with the model in tri5a, or
you need to use "data/train_nodup" (instead of "data/trai

[2017-01-03 02:05] danpovey commented on #1299
An easier fix might be to link tri5a_ali_nodup to tri5a_ali, which does
exist.
Xingyu will fix this in the proper way when he has a chance.

On Mon, Jan 2, 2017 at 5:00 PM, Daniel Galvez <notifications@github.com>
wrote:

[2017-01-03 02:37] naxingyu commented on #1299
On it.

x.

[2017-01-03 03:18] naxingyu commented on #1299
@danpovey I'll remove '_nodup' from the experiments directories, and fix some dir naming problems that I didn't notice. I believe there won't be a compatibility issue.

[2017-01-03 03:21] stanleyguan commented on #1299
Is the fix simply removing `_nodup`? I got the error above when using `tri5a_ali`.

[2017-01-03 03:24] danpovey commented on #1299
I think you must have done something else that was wrong when removing
_nodup, because your command seems to be mixing things that have the _sp
suffix (which uses speed-perturbed data), with things that don't; and that
isn't right.

On Mon, Jan 2, 2017 at 7:21 PM, Z. Stanley Guan <notifications@github.com>
wrote:

[2017-01-03 03:29] stanleyguan commented on #1299
The current script _is_ using speed-perturbed data and `tri5a_ali` isn't generated with that.

[2017-01-03 03:33] danpovey commented on #1299
Oh yes, you're right.
Xingyu will figure out what went wrong and fix it.

On Mon, Jan 2, 2017 at 7:29 PM, Z. Stanley Guan <notifications@github.com>
wrote:

[2017-01-03 04:05] naxingyu commented on #1299
@stanleyguan hope #1303 resolves your problem.

[2017-01-03 04:29] stanleyguan commented on #1299
So it looks like we do need to generate alignments [here](https://github.com/kaldi-asr/kaldi/blob/master/egs/fisher_swbd/s5/local/chain/run_blstm_6h.sh#L50)?

[2017-01-03 04:44] danpovey commented on #1299
Yes I think that's possible.
Xingyu, I suspect that in the script you copied this from, those alignments
were not needed because the tree was being built on the original
non-perturbed data (i.e. not the _sp data).  But this script seem to be
building the tree on the full perturbed data, which would require those
alignments to be dumped.

On Mon, Jan 2, 2017 at 8:29 PM, Z. Stanley Guan <notificatio

[2017-01-03 04:54] naxingyu commented on #1299
Yes, I made a mistake in the previous PR. I’ve committed a new one to fix it. Now I remember everything :)

[2017-01-03 08:47] #1270 closed

[2017-01-03 16:06] stanleyguan commented on #1299
I think it's now resolved.

[2017-01-03 16:37] stanleyguan opened #1307 "Missing files in fisher_swbd"
I have encountered a few missing files running `fisher_swbd/s5/local/run_ivector_common.sh`:

`conf/mfcc_hires.conf`
`conf/online_cmvn.conf`
`local/remove_dup_utts.sh`

What I did was copying them over from other examples.

[2017-01-03 21:28] danpovey commented on #1299
Thanks!  Closing.

[2017-01-03 21:28] #1299 closed

[2017-01-03 22:21] danpovey commented on #1307
Thanks a lot for reporting it.  @naxingu, can you please fix it?

On Tue, Jan 3, 2017 at 8:37 AM, Z. Stanley Guan <notifications@github.com>
wrote:

[2017-01-04 00:59] danpovey opened #1312 "call ZeroComponentStats() on delta_nnet_ at start of training."
.... affects NnetTrainer, and possibly the same for chain and discriminative code.
I think we should be calling this after SetZero(), because SetZero() only zeroes the updatable components.  This will only make a difference if people used the command-line option option --zero-component-stats=false, which is never used in any training script, so it's highly non-urgent.

I'm just leaving this up as

[2017-01-04 01:15] naxingyu commented on #1307
Sorry about that. I’ll fix ASAP.

[2017-01-04 01:49] naxingyu commented on #1307
@danpovey , should we make remove_dup_utts a utils script instead of local?

X.

[2017-01-04 01:51] danpovey commented on #1307
It already exists, use

utils/data/remove_dup_utts.sh

On Tue, Jan 3, 2017 at 5:49 PM, Xingyu Na <notifications@github.com> wrote:

[2017-01-04 02:04] danpovey commented on #1312
Actually, I think it would be better to solve this problem a different way, by modifying SetZero() to call Scale(0.0) on components that are not UpdatableComponents.
I noticed that if you call
  `ScaleNnet(x, &nnet)`, where x is nonzero, it calls Scale() on each component with value x; but if x is zero, it calls ZeroNnet(), which only calls SetZero() on updatable components.  [the if-statement was

[2017-01-04 02:06] #1307 closed

[2017-01-04 02:57] naxingyu commented on #1031
Is this considered done?

[2017-01-04 02:58] naxingyu commented on #1011
Is there anything that should be done to resolve this issue?

[2017-01-04 02:58] danpovey commented on #1031
Yes-- thanks.  Closing.

[2017-01-04 02:58] #1031 closed

[2017-01-04 03:00] danpovey commented on #1011
Seems to be done-- closing.

[2017-01-04 03:00] #1011 closed

[2017-01-04 03:49] danpovey opened #1315 "Remove sinusoid detection code; remove old SGMM code"
I don't think the sinusoid-detection code is being used anywhere so I think it makes sense to remove it.
Also I don't believe the "old" sgmm code (as opposed to sgmm2, which is slightly better) has any reason to still be in the repository.  I'd like to remove that too.
I'm putting this up as an issue in case there are any objections.

[2017-01-05 21:46] vijayaditya opened #1316 "Minor bug in steps/libs/nnet3/train/common.py"
I think the attribute to access there is strerror not strerr.

At [line 202]( https://github.com/kaldi-asr/kaldi/blob/master/egs/wsj/s5/steps/libs/nnet3/train/common.py#L202)

                 "malformed files: {1}".format(egs_dir, e.strerr))

[2017-01-05 21:52] vimalmanohar commented on #1316
I think the error messages in the python scripts in general need to be modified. We can use the `logger.error` method to print more useful information. This can be addressed when signal handler are added to the script.

[2017-01-05 22:01] danpovey commented on #1316
OK, but that was raising an exception... converting all the code that
raises exceptions into error messages would be a big change requiring
debugging, and it's not clear to me how beneficial it would be.  I'd rather
at any rate make that a separate issue from the changes to how the
background processes are handled and how child processes are terminated-
combining them makes the review harder IMO.

[2017-01-05 22:35] vimalmanohar commented on #1316
On Thu, Jan 5, 2017 at 5:01 PM Daniel Povey <notifications@github.com>
wrote:

There are some try..except statements where the error is caught (like
IOError in this case), but a generic Exception is raised. This can
potentially lose information about where the original error occured. So it
can be replaced with
logger.error statement followed by raising the original error.

Sure.

--
Vimal Manohar

[2017-01-05 22:40] danpovey commented on #1316
We need to be careful about printing long stack traces for common errors.
If it's an error that might happen in the normal course of things (like a
failed job), then IMO just the output of queue.pl saying where the log file
is, is all that's needed.  Swamping it with stack traces is, I think, very
unhelpful; it just masks the useful information.
Of course, stack traces are OK for errors that reall

[2017-01-06 13:10] vdp commented on #1316
BTW [steps/nnet3/report/generate_plots.py:138](https://github.com/kaldi-asr/kaldi/blob/master/egs/wsj/s5/steps/nnet3/report/generate_plots.py#L138) has the same issue. Admittedly I noticed this a couple of days ago, but didn't open a PR, because it's a relatively benign and isolated problem(it was resolved after installing the texlive-publishers package in Ubuntu).

[2017-01-06 15:28] stanleyguan opened #1319 "Randomize over GPUs in process exclusive mode"
I'm training a BLSTM using `wsj/s5/steps/nnet3/chain/train.py` on [AWS P2 instances](https://aws.amazon.com/ec2/instance-types/p2/). I set my GPUs in process exclusive mode. I found that although earlier iterations only use a subset of GPUs, the _same subset_ are used at every iteration (e.g. it's always GPUs 0-3). After several hours the GPUs start throttling (or, stop [overclocking automatically

[2017-01-06 18:59] danpovey commented on #1316
I'll commit a fix to both bugs along with my other nnet3 changes if they're
not fixed before then.

On Fri, Jan 6, 2017 at 5:10 AM, Vassil Panayotov <notifications@github.com>
wrote:

[2017-01-06 19:08] danpovey commented on #1319
Don't switch off process exclusive mode-- it will then sometimes share GPUs
and crash.
You could try modifying the python script to set CUDA_VISIBLE_DEVICES to
different random subsets of the GPUs on different iterations.
But I'm not sure how much this would help the heat issue.  Seems like a
hardware design flaw.
Dan

On Fri, Jan 6, 2017 at 7:28 AM, Z. Stanley Guan <notifications@github.com>
wrot

[2017-01-06 19:56] danpovey commented on #1315
@LvHang, can you please work on this?  Start with removing the sgmm and sgmmbin directories, detect-sinusoids.cc and sinusoid-detection.{h,cc}.  You'll have to update the Makefiles.
Check that things still compile, and that they still compile even after doing 'make clean'
Search in the scripts for things that call any of the sgmm binaries, and remove them also.  They'll have sgmm in the name but n

[2017-01-06 20:01] #1316 closed

[2017-01-06 20:02] LvHang commented on #1315
Ok，get it. I'll deal with it.

[2017-01-08 03:43] stanleyguan commented on #1319
I think it's not necessarily a hardware flaw, since it can be desired to have GPUs overclock automatically when they're still cold. It's also very common for hardware to throttle themselves after running at full capacity for a long time -- I think it's kind of unavoidable.

I made the change you suggested and now after one day of continuous running I'm seeing minimal deterioration (it's using 6/16

[2017-01-08 03:46] danpovey commented on #1319
Cool.
No, don't make a PR... this is very specific to the hardware setup that
you're using, and usually we're running via something like GridEngine,
and/or sharing the machine with other jobs, and this code would interfere
with that.

On Sat, Jan 7, 2017 at 7:43 PM, Z. Stanley Guan <notifications@github.com>
wrote:

[2017-01-08 03:46] #1319 closed

[2017-01-08 04:01] stanleyguan commented on #1319
No problem. Thanks.

[2017-01-09 07:33] GaofengCheng opened #1326 "make depend failed"
I pull the latest kaldi master branch, `./configure --shared`(success) and then `make depend`, it failed, log as:
base dir is existing.
[code]
A `make depend` test is conducted on my previous kaldi repo, it's ok.
sys info:
[code]

[2017-01-09 07:44] #1326 closed

[2017-01-09 20:28] danpovey commented on #1179
@dogancan, I'm getting this on my mac:
`./get_version.sh: line 50: syntax error in conditional expression: unexpected token `('`
Code is:
`elif [[ $version != +([0-9]).+([0-9]) ]]; then`
`bash --version
GNU bash, version 3.2.57(1)-release (x86_64-apple-darwin15)
Copyright (C) 2007 Free Software Foundation, Inc.`

[2017-01-09 22:19] dogancan commented on #1179
Ah, my bad. Just opened #1327 to address this.

[2017-01-09 22:49] danpovey commented on #1234
Dogan, how about you edit the travis script so that it prints out the date at the start and after making in tools/; and then in src/, it first prints the date, then does 'make', then prints the date again, then does 'make test'?  This will let us know which part is slow.

[2017-01-10 01:13] dogancan commented on #1234
Initial timing results are below. Builds and tests are done with 3 concurrent jobs. Travis script builds only openfst in tools. Total time includes the startup costs.

task  | master | c++11
----- | ------- | ------
tools | 3:18     | 7:33
src    | 13:32   | 27:33
test   | 7:15     | 13:21
total  | 25:16  | 49:32

C++11 build takes twice as long. Whether it succeeds or fails depends on how busy Tr

[2017-01-10 02:35] dogancan commented on #1234
I made some exploratory experiments building openfst with 3 concurrent jobs. Results are below.

platform                                         | master | c++11
---------------------------------|------- |-------
ubuntu 16.04 + g++-4.9               | 2:09    | 4:33
ubuntu 16.04 + g++-5.4               | 1:56     | 4:14
ubuntu 16.04 + clang (llvm-3.8)  | 1:34     | 3:35
macOS 10.12 + clang 8.0

[2017-01-10 02:45] danpovey commented on #1234
I've seen somewhere online that c++11 might be slower because the standard
library headers are more huge.  This might be hard to work around.

We might need to investigates alternatives to jenkins, including paid
options.
We already pay about $1700 per month for openslr.org due to network
ingress/egress, so paying a few dollars more is a rounding error.

On Mon, Jan 9, 2017 at 6:35 PM, Dogan Can <

[2017-01-10 07:54] dogancan commented on #1234
@danpovey, @jtrmal, @kkm000:
I changed the travis script to build and test with 4 concurrent jobs on the c++11 branch which seems to help a bit (total time around 40mins). Setting clang++ as the compiler is not enough to get a build going with clang though. According to the internetz, built in clang/c++11 support provided by travis VMs is sketchy at best. Apparently, the current best solution is t

[2017-01-10 09:09] vdp commented on #1234
@dogancan BTW have you tried to set the optimization level to "-O0"? I haven't benchmarked this myself, but as far as I know in some cases it can speed-up compilation significantly. Another low-cost workaround could be to use pre-compiled OpenFST for the Travis jobs. I have absolutely no clue about Travis and how it's used with Kaldi, though..

@danpovey $1700 sounds like a lot. Using a dedicated

[2017-01-10 19:58] dogancan commented on #1234
I just tried the optimization level "-O0" but that did not help. Apparently, that was already the default. Pre-compiled OpenFst should help a bit but the savings we can get from that is small compared how long it takes to compile kaldi.

[2017-01-10 20:09] danpovey opened #1331 "compute-spectrogram-feats documentation, etc."
The binary compute-spectrogram-feats.cc is not style compliant and the documentation is not good [not clear what spectrogram features are; is it a power spectrum, a log power spectrum?]

[2017-01-11 08:52] vdp commented on #1234
Well, obviously the compilation speed is not much of a priority for the C++ folks. Let's just hope that all this bloat is compile-time-thing-only. While long compilation times are already annoying, if the runtime performance, and especially the decode-time performance, are adversely affected as well, that would be really bad..

[2017-01-11 08:55] jtrmal commented on #1234
http://stackoverflow.com/questions/34179434/is-compiling-with-c11-way-slower-than-with-c98

C++11 is known to be slow at compilation, in particular because standard
headers (like <map> or <vector> ....) are bringing lots of material (and
probably more in C++11 than in C++03).

For example, the following e.cc file (just two *standard* includes!):

#include <vector>#include <map>

When compiling wit

[2017-01-11 11:50] cdxie opened #1332 "nnet3 decoding"
In the nnet3 structure，when we finished the LSTM training，whether the LSTM decoding can be done parallel on GPU??
in the steps/nnet3/decode.sh, "parallel_opts" option is ignored, and no "use GPU" selection

[2017-01-11 18:18] mpenagar commented on #1315
Timit recipe (and I think that many other) use init-ubm command in sgmmbin:

$ cat exp/ubm4/log/cluster.log
# init-ubm --intermediate-num-gauss=2000 --ubm-num-gauss=400 --verbose=2 --fullcov-ubm=true exp/tri3_ali/final.mdl exp/tri3_ali/final.occs exp/ubm4/0.ubm
# Started at Wed Jan 11 18:16:33 CET 2017
#
bash: line 1: init-ubm: command not found

How should it be replaced? Thanks!

[2017-01-11 19:20] ngoel17 commented on #1315
Dan,
   I meant to visit the sinusoid detection code some point of time and
determine its usability for DTMF and ring tones. Can you please point me to
this.

Nagendra

On Tue, Jan 3, 2017 at 10:49 PM, Daniel Povey <notifications@github.com>
wrote:

[2017-01-11 19:34] LvHang commented on #1315
Hi Dan,
The code--"init-ubm" is originally in sgmmbin/ directory. I check the dependencies of it. I think it is not relate to sgmm/. At the same time, it will be called by some scripts, such as "train_ubm.sh". Maybe we can move it to another directory, such as gmmbin/. Which one is better?

Hang

[2017-01-11 19:44] LvHang commented on #1315
For sinusoid detection code, I think the code isn't be used anywhere in our standard scripts. I think this should be some personal needs.

Hang

[2017-01-11 19:50] danpovey commented on #1315
I just fixed the init-ubm.cc issue manually and pushed the change, in the
interests of time.
Nagendra, the most recent git hash where the sinusoid-detection code
existed is f646952.  You can get it from there with e.g.
git checkout  f646952 [program-name]
Check Hang's PR to get a list of relevant source files.
Dan

On Wed, Jan 11, 2017 at 11:44 AM, LvHang <notifications@github.com> wrote:

[2017-01-11 20:26] david-ryan-snyder commented on #1123
Hi @Dan,

Here are the results for WSJ, using the TDNN recipe.

LDA
eval92 %WER 6.68 [ 377 / 5643, 86 ins, 24 del, 267 sub ]
dev93 %WER 9.62 [ 792 / 8234, 147 ins, 99 del, 546 sub ]
eval92 %WER 3.97 [ 224 / 5643, 23 ins, 20 del, 181 sub ]
dev93 %WER 7.02 [ 578 / 8234, 59 ins, 86 del, 433 sub ]

PCA
eval92 %WER 6.38 [ 360 / 5643, 78 ins, 25 del, 257 sub ]
dev93 %WER 9.55 [ 786 / 8234, 161 ins, 74 d

[2017-01-11 20:34] danpovey commented on #1123
Cool, makes sense.
If it's just an option in the script, we can gradually modify the recipes
to use PCA instead of LDA, while we're making other changes.

On Wed, Jan 11, 2017 at 12:26 PM, david-ryan-snyder <
notifications@github.com> wrote:

[2017-01-11 20:35] david-ryan-snyder commented on #1123
OK, I will put it all in a PR soon so you can make that call.

[2017-01-11 20:50] danpovey commented on #1332
The internal code does support using GPUs, but it looks like the option
[--use-gpu] has not been made available at the binary level
[nnet3-latgen-faster].
It's not really recommended to use GPUs for decoding, as decoding one file
at a time doesn't make very good use of the GPU.

Dan

On Wed, Jan 11, 2017 at 3:50 AM, cdxie <notifications@github.com> wrote:

[2017-01-13 06:59] #1332 closed

[2017-01-13 16:04] tomjorquera opened #1336 "install_sacc.sh is returning an error code of 1 on success"
The install script for SAcC is returning an error code of 1 when installation is successful.

I am not sure if this on purpose, but it cause headaches when trying to automate deployment (see for example https://github.com/tomjorquera/docker-kaldi/blob/master/extra/install_kaldi_extras.sh#L16-L18 for my personal encouter with the issue).

It seems it would be more sane for the script to return a va

[2017-01-13 16:07] tomjorquera commented on #1336
So I made PR #1337 with the proposed change.

Probably my shortest PR ever ! 😄

[2017-01-13 19:29] #1336 closed

[2017-01-14 21:37] danpovey opened #1339 "cu-rand issues"
@vesis84, do you have time to help with some cu-rand issues?

Firstly, I think it would be convenient to have the RandUniform() function work for CuVector also.

Also there are some optimizations that I think would be nice and a concern about safety that I have...

If the RandUniform()/RandGaussian() functions had different implementations for CuMatrix and CuSubMatrix, it would make the code more

[2017-01-15 04:12] danpovey opened #1340 "Removing SetZero()"
@freewym will do this.

I'd like to remove the SetZero() function from the UpdatableComponent and replace it with the SetAsGradient() function that will set the is_gradient_ flag and will set learning_rate_ to 1.0.  This function can be implemented *only* at the UpdatableComponent level, child classes will not have to override it.
Then all invocations of
`  SetZero(true)`
would be replaced by
[cod

[2017-01-15 04:15] danpovey commented on #1193
Vimal, I don't see a compelling reason to do this.  Normally people will have used a certain left/right context in their base model and they'll just use the same one in the discriminative one when dumping egs.  There's no reason you'd use any other value.  So I don't see any reason to support changing it on the fly, it would just be added code.

[2017-01-15 04:17] #1284 closed

[2017-01-15 04:21] danpovey commented on #1267
done in issue #1272

[2017-01-15 04:21] #1267 closed

[2017-01-15 04:21] danpovey commented on #1258
done in PR #1260

[2017-01-15 04:21] #1258 closed

[2017-01-15 05:13] danpovey opened #1341 "schedule of xent-regularize"
@hhadian, perhaps you could help with this...
we normally set xent-regularize in chain-training to a constant (e.g. 0.1).  But it seems to me that it might help to start at a larger value.  So you could call the python script with
 ` --xent-regularize=0.2,0.1`
and it would interpolate between 0.2 at the start and 0.1 at the end.  [note: it would be a string-type variable at the python-script level

[2017-01-15 05:38] hhadian commented on #1341
Ok will do it.
What would you think about making it more generic so we could set `--xent-regularize="20%:0.2, 80%:0.1"` so that only the first 20% archives are processed with `0.2` (or `"20%:0.3, 40%:0.2, 40%:0.1"`, etc.) ?

[2017-01-15 05:39] danpovey commented on #1341
If we want to support more general schedules, we'd want to use the same
format as for the dropout schedules, which is a piecewise linear function.
The format I suggested is a simpler version of that but compatible in
syntax.  But for now just do the simple thing... Vimal would need to be
involved to properly unify that code.

Dan

On Sat, Jan 14, 2017 at 9:38 PM, Hossein Hadian <notifications@gith

[2017-01-15 05:45] hhadian commented on #1341
OK. So in your format, does "0.2,0.1" mean a smooth change from 0.2 to 0.1 (like learning rate)?

[2017-01-15 05:52] danpovey commented on #1341
Yes, but I had in mind a linear change, not geometric like learning
rate.... actually an geometric interpolation might work better.  who knows.
 you could try both once we see if it's even helpful.

On Sat, Jan 14, 2017 at 9:45 PM, Hossein Hadian <notifications@github.com>
wrote:

[2017-01-15 07:48] hhadian commented on #1341
OK.

[2017-01-15 21:38] vesis84 commented on #1339
Hi, okay, I'll take a look at it...

[2017-01-16 15:35] jfainberg commented on #577
Hi @vijayaditya ,

I was wondering whether you have this implemented in one of your branches? (I couldn't find it). I need to implement it for one of my experiments.

Cheers,
Joachim