[2017-01-16 15:43] vijayaditya commented on #577
I didn't get a chance to do it.

Vijay

On Jan 16, 2017 10:35 AM, "Joachim" <notifications@github.com> wrote:

Hi @vijayaditya <https://github.com/vijayaditya> ,

I was wondering whether you have this implemented in one of your branches?
(I couldn't find it). I need to implement it for one of my experiments.

Cheers,
Joachim

—
You are receiving this because you were mentioned.
Reply to this email

[2017-01-16 22:06] hhadian commented on #1341
What do you want me to do with the output-xent learning rate factor which is a function of xent-regularize?:
[code]

[2017-01-17 00:39] danpovey commented on #1341
Use the average of the two.

On Mon, Jan 16, 2017 at 2:06 PM, Hossein Hadian <notifications@github.com>
wrote:

[2017-01-17 07:05] ee16s054 opened #1346 "Where is the structure ''stats" in the collection of kaldi .cc files?"

[2017-01-17 07:19] #1346 closed

[2017-01-17 18:39] vijayaditya opened #1349 "nnet3 : Reduce unnecessary outputs (file or email) during training"
(Created to ensure we keep track of a low priority issue.)

Status update emails are sent after every iteration if an email id is specified during training. However status information uses output of train/validation accuracy/log-probability computation jobs which are run in the background. In many cases these might be very slow to compute, depending on the model, as these are run on the CPU. This

[2017-01-20 06:22] cxy19941228 commented on #515
oh,I have the same question,how do you solve it??
many thanks

[2017-01-22 17:57] 15mscsmirfan opened #1363 "Voxforge does not have LSTM script"
There is not script available for Voxforge to run LSTM on it. Add LSTM for Voxforge data set.

[2017-01-22 18:55] danpovey commented on #1363
We are not really keeping the Voxforge script very up-to-date.  You can see the Librispeech scripts which use similar data but more of it.  however Librispeech is not always 100% up to date either.  Closing the issue since it's not likely to happen soon, and there are other pressing things.

[2017-01-22 18:55] #1363 closed

[2017-01-22 21:53] danpovey opened #1364 "Lightweight version of steps/shift_feats.sh"
@hhadian (and please ask @vimalmanohar for help as needed),
This is something that will be helpful in making the frame-shifted discriminative training (for chain and other LFR models) more efficient.  It will allow us to write the shifted versions of the features in a 'lightweight' way without dumping any real data.

[BTW, I looked into the relative size of the lattices and the features in the dis

[2017-01-23 05:15] hhadian commented on #1364
OK, will do it.

[2017-01-23 21:52] weegreenblobbie opened #1369 "make valgrind: definatley lost, invalid read"
We've been having issues with kaldi on our grid with jobs hanging and not finishing.  I've eliminated the possible causes: out of memory, time limit, frozen node.  The only thing left are possible bugs in kaldi.  But I could be wrong.  :)

So I started running `make valgrind` to test the example programs and ran into this:

[code]

Kaldi configure command: `./configure --use-cuda=no --shared`

We'

[2017-01-23 21:59] danpovey commented on #1369
Show us what's in valgrind.out.   Valgrind often shows a lot of spurious
errors.
It's extremely unlikely that this kind of problem would be caused by bugs
in Kaldi itself, although I'd be happy to learn about any memory leaks and
fix them.  Kaldi uses threading very sparingly, most programs do not use it
at all, and any real bugs would have been found long ago.
If a job is not finishing, let me kn

[2017-01-23 22:28] weegreenblobbie commented on #1369
Thanks for the quick response.  Yes, we're using GridEngine.  I've been following the fisher switchboard recipe `kaldi/egs/fisher_swbd/s5/run.sh`, things were going very smoothly until this portion of `run.sh`:

[code]

A random job stops writing to it's log, I don't see any error messages in the logs.  My last 5 error messages:

[code]

[code]

[code]

[code]

[code]

When I run the failed jobs l

[2017-01-23 22:34] weegreenblobbie commented on #1369
Some of the errors with kaldi + atlas.

[nnet3-valgrind.out.gz](https://github.com/kaldi-asr/kaldi/files/725141/nnet3-valgrind.out.gz)

[nnet-valgrind.out.gz](https://github.com/kaldi-asr/kaldi/files/725142/nnet-valgrind.out.gz)

[2017-01-23 22:45] danpovey commented on #1369
It looks to me most likely (almost certain) that your problems are
GridEngine related, possibly you or your sysadmins have configured your
GridEngine to kill jobs if they exceed memory or time limits.  You may find
something in the system logs or the Gridengine logs on the machine.

I'll check the valgrind stuff on our machines at some point in the future,
it's unrelated.  Your problem is 100% not

[2017-01-23 22:45] #1369 closed

[2017-01-23 22:46] danpovey commented on #1369
You can check the gridengine logs like this:

root@a04:/root# tail /var/spool/gridengine/execd/a04/messages
01/23/2017 17:24:12|  main|a04|W|reaping job "4799855.14" PTF complains: Job does not exist
01/23/2017 17:33:38|  main|a04|E|removing unreferenced job 4799962.23 without job report from ptf
01/23/2017 17:34:26|  main|a04|E|removing unreferenced job 4800056.12 without job report from ptf
01/2

[2017-01-23 22:46] weegreenblobbie commented on #1369
Thanks for the pointer, I'll take a look at our grid and possible killing large memory jobs...

[2017-01-23 22:58] danpovey commented on #1369
BTW, if you do

qconf -sc | grep h_vmem

h_vmem              h_vmem      MEMORY      <=    YES         NO         0
      0

and it says YES where my line says NO, that means your grid has been
configured to strictly enforce memory requirements.  It will require a lot
of messing around to get Kaldi jobs to run in this environment without
being killed, because you need to get the memory requirement

[2017-01-23 23:09] weegreenblobbie commented on #1369
[code]

I was using --mem 4G.  I'll keep you posted.

[2017-01-23 23:12] danpovey commented on #1369
OK then check the GridEngine logs on the machine where it ran, and the
system logs (tail /var/log/messages or dmesg or journalctl -r).

Or it could be disk full or NFS problems, e.g. it couldn't write because
disk was full or nfs was stuck (dmesg would show errors if nfs had been
stuck).

do "df" to see if disk is full.

On Mon, Jan 23, 2017 at 6:09 PM, Nick <notifications@github.com> wrote:

[2017-01-23 23:24] weegreenblobbie commented on #1369
[code]

Getting our IT to help me get access to the grid logs ...

Again, thanks for the help!

[2017-01-23 23:26] danpovey opened #1370 "Change how the --frame argument is chosen in TDNN training."
This is for @LvHang (please ask @vimalmanohar and @freewym for help as needed),

I'll illustrate the issue here with reference to `train_tdnn.sh`, but the code I want
changed is the python-script version of the code, as called by train_dnn.py.

The --frame option controls which of the (e.g. 8) supervised frames in an eg is chosen to train on.
currently it's chosen as follows:
[code]
If we define o

[2017-01-23 23:37] LvHang commented on #1370
Thanks. Get it.

[2017-01-24 22:39] entn-at opened #1375 "[scripts] chain TDNN training: Python AttributeError in train.py"
Using latest Kaldi version (git sha1 hash f42b3ced09eecacdc037628ed06b05f91ef96c36).

When running the default chain TDNN model training script (local/chain/run_tdnn.sh) in swbd, the following error occurs in step 13 (within steps/nnet3/chain/train.py):

[code]

I cleared exp/chain (rm -rf exp/chain) before to make sure it's not caused by leftover files from previous runs. The script (train.py) ra

[2017-01-24 22:47] danpovey commented on #1375
I can reproduce the problem but I don't understand enough about python
imports to fix it. @vimal-manohar, @vijaditya?

On Tue, Jan 24, 2017 at 5:39 PM, Ewald Enzinger <notifications@github.com>
wrote:

[2017-01-24 22:53] vijayaditya commented on #1375
I faced a similar problem yesterday. I thought of working on it today. I
think it is basically an issue in writing the __init__.py files of the
library. We would have to import the newly added modules in this file.

I will get to this later today, unless @vimal deals with it in the mean
time.

--Vijay

On Tue, Jan 24, 2017 at 2:47 PM, Daniel Povey <notifications@github.com>
wrote:

[2017-01-24 22:55] danpovey commented on #1375
I tried changing  steps/libs/nnet3/train/__init__.py to:

import common, dropout_schedule

__all__ = ["common", "dropout_schedule"]

but this didn't help

On Tue, Jan 24, 2017 at 5:53 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2017-01-24 23:18] entn-at commented on #1375
I just got it to work. in steps/libs/nnet3/train/common.py on line 20 change

import libs.nnet3.train.dropout_schedule as dropout_schedule

to:

from libs.nnet3.train import dropout_schedule

This seems to take care of the issue, the script is now running fine preparing egs.
Thanks for the hints!

[2017-01-24 23:23] danpovey commented on #1375
I also found that deleting the line

import common
from steps/libs/nnet3/train/__init.py
fixes the immediate problem.
but I'm not sure if this would have other effects; and I'm not sure if
your approach would actually work with the real dropout code.

Dan

On Tue, Jan 24, 2017 at 6:18 PM, Ewald Enzinger
<notifications@github.com> wrote:

[2017-01-24 23:32] danpovey commented on #1375
I removed the statements

import common

__all__ = ["common"]

from the __init__.py in steps/libs/nnet3/train/, and it resolved the
problem for me.
I think that is the right fix, and I pushed the change.  I believe all
of those statements in __init__.py files in those subdirectories are
unnecessary.  But I don't know 100% so I'm not touching the others.

I think the issue was that it hadn't finish

[2017-01-24 23:56] vijayaditya commented on #1375
I think the problem might be a circular import. Package libs.nnet3.train
was importing common which was again importing the package libs.nnet3.train.

Reading
https://docs.python.org/2/tutorial/modules.html#importing-from-a-package

I see that the "import common" is not necessary in
steps/libs/nnet3/train/__init_.py.

It can just have the line

__all__ = ["dropout_schedule", "common"]

The use of

[2017-01-24 23:56] #1375 closed

[2017-01-25 14:06] andrely opened #1376 "usage of mktemp in base/get_version.sh and doc/get_version.sh does not work on OS X 10.10"
OSX mktemp seems to need the -t <pattern> flag.

[2017-01-25 18:39] danpovey commented on #1376
It's working for me on el capitan:

mac:src: mktemp

/var/folders/sx/8w93_q_s09xdz864gb_ycnbr0000gn/T/tmp.Ba2ztmnw

I think it's the -d option that's problematic on mac.

Can you be more precise about what you observed?

On Wed, Jan 25, 2017 at 9:06 AM, andrely <notifications@github.com> wrote:

[2017-01-26 12:20] andrely commented on #1376
I think this may be a 10.10 and earlier issue.

My mktemp is in /usr/bin/mktemp
mktemp -t tmp seems to produce the same result as gnu mktemp

To reproduce:

run ./configure in src
then running make depend ends in error:

$ make depend
/Applications/Xcode.app/Contents/Developer/usr/bin/make -C base/ depend
usage: mktemp [-d] [-q] [-t prefix] [-u] template ...
       mktemp [-d] [-q] [-u] -t prefix

[2017-01-26 19:00] danpovey commented on #1376
I think we would have encountered this earlier if it was what you say.
Run /usr/bin/mktemp without arguments and see what it does.
It was alway the -d option that was a problem, requires a template.
The -t option apparently has a different meaning GNU vs mac.
(
http://unix.stackexchange.com/questions/30091/fix-or-alternative-for-mktemp-in-os-x
)

On Thu, Jan 26, 2017 at 7:20 AM, andrely <notificat

[2017-01-26 19:19] danpovey commented on #1376
Actually, according to the man page on mac for 'mktemp' you are right -> maybe they silently extended it, or maybe some installer has overwritten the system one in my build.
I just pushed a fix by adding the template (mktemp /tmp/temp.XXXXXX).

[2017-01-26 19:19] #1376 closed

[2017-01-28 02:12] #1247 closed

[2017-01-28 23:55] danpovey opened #1382 "New CUDA code needed for dropout with fast LSTM"
@kangshiyin, I hope you can help with this (after the Chinese holidays finish, anyway)..
We want to implement a scheme similar to what @GaofengCheng did for regular LSTMs,
in the fast-LSTM setup that includes a NonlinearComponent.  The setup that worked
best for him had per-frame masks on the 'i' and 'f' quantities, i.e. where we had
[code]
we will now want to multiply i_t and f_t by random dropou

[2017-01-29 09:31] kangshiyin commented on #1382
Sure. I will take a look later this week.

[2017-01-30 18:19] weegreenblobbie commented on #1369
My training step completed without any crashes.  The only change I made was linking kaldi with libatlas instead of openblas.  So the problem seems to be the combination of kaldi+openblas-0.2.19.

Thanks for your help.

[2017-01-30 18:30] danpovey commented on #1369
OK, but if the Kaldi binaries had crashed you'd have seen the status
reported in the logs.  It was definitely either a GridEngine or disk-full
issue.

On Mon, Jan 30, 2017 at 1:20 PM, Nick <notifications@github.com> wrote:

[2017-01-30 18:53] weegreenblobbie commented on #1369
I'm not saying the issue I ran into is kaldi, the invalid read could be a bug in openblas 0.2.19, but I've got a working kaldi build (so far) so i'm not going to debug any deeper unless I hit another snag.

Runing valgrind on the matrix unittest exposed invalid reads, when I switched to atlas, no errors.

Reading invalid memory may cause a program to do anything, taking unpredictable paths through

[2017-01-30 19:43] danpovey commented on #1369
Invalid reads past the end of blocks of allocated memory are a known issue
with some matrix libraries, but they tend to be harmless (sometimes they
generate NaN's in that case we'd report it upstream).  They tend not to
cross page boundaries [so wouldn't cause segmentation faults].   Even if
they are not harmless, my point about the logs was that you wouldn't just
see a truncated log like what you

[2017-01-30 19:47] weegreenblobbie commented on #1369
Oh, that's new information to me :).  From above, are you referring to the exit status of 256?

[2017-01-30 20:05] danpovey commented on #1369
No, I'm not talking about the exit status of qstat, I mean in the log file
there should be a final line reporting the status, but qstat said the log
file ended like this:

fmllr[5.0.9~1448-5f15d]:main():gmm-est-fmllr.cc:143) For speaker
fe_03_04117-B, auxf-impr from fMLLR is 0.0462073, over 18604 frames.

That looks like a job that was killed in the middle.  Of course, it could
be that if you were

[2017-01-30 21:40] weegreenblobbie commented on #1369
Ahhh, I see, that makes perfect sense.  So then I should make sure our grid logs the fact that a job is killed because it hit a run-time limit or memory limit.

Thanks!

[2017-01-31 06:39] danpovey opened #1388 "Compression in nnet writing"
This is something that will help make the I/O faster for nnet3 models.
@freewym, this would be a good thing to have Zhouyang do, to get used to the setup (I'm not sure what his Github username is).
The idea is when writing the linear_params_ matrix in the NaturalGradientAffineComponent, in the Write() function, to convert to CompressedMatrix and write that.  [Note: the read function won't have to

[2017-01-31 06:52] freewym commented on #1388
Sure, I will talk to Zhouyang
On Tue, Jan 31, 2017 at 1:39 AM Daniel Povey <notifications@github.com>
wrote:

--
Sent from my iPhone

[2017-01-31 22:24] chris920820 commented on #1388
We have replace line 2737:
linear_params_.Write(os, binary);

to:

CompressedMatrix c_linear_params;
c_linear_params.CopyFromMat(linear_params_.Mat());
c_linear_params.Write(os, binary);

And run the test. The test failed

void TestNnetComponentIo(Component *c) {
  bool binary = (Rand() % 2 == 0);
  std::ostringstream os1;
  c->Write(os1, binary);
  std::istringstream is(os1.str());
  Component *c

[2017-02-01 12:42] alumae opened #1390 "get_dropout_edit_string() should be called from common_train_lib"
A recent commit makes in a number of places the following call:

`common_lib.get_dropout_edit_string(..)`

This results in an error:
[code]

Replacing the call with a reference to `common_train_lib.get_dropout_edit_string(..)` fixes the problem.

I can make a PR but I believe it's easier to fix for @vimalmanohar who committed the initial code.

[2017-02-01 14:59] migueljette commented on #1390
Thank you for posting this @alumae! You're saving me a lot of poking around! :)

[2017-02-01 17:55] danpovey commented on #1390
Fixed now.  Thanks!
We need to do what @vdp suggested, which is to create some kind of testing setup that will run the nnet training scripts (in small versions) and let us know if something breaks.  I haven't had the time to set this up.  First step is to modify one of the smaller recipes [or a data-subset of some recipe] to use the nnet scripts (even if results are poor, just for testing purposes

[2017-02-01 22:32] chris920820 commented on #1388
I did the change as instructed. Something like,
From,
linear_params_.Write(os, binary);

To,
 Matrix<BaseFloat> cpu_linear_params(linear_params_);
 CompressedMatrix compressed_linear_params;
 compressed_linear_params.CopyFromMat(cpu_linear_params);
 compressed_linear_params.Write(os, binary);

(I may do I some redundant copy/computation)

However, the compressed_matrix version written is much slow

[2017-02-01 22:37] danpovey commented on #1388
What I was asking is to implement it in the nnet3 training, and test there
if it's faster or slower.  It's about disk and network latency versus CPU
time.  Without actually running it in a real situation we won't know.
Yiming can explain more.

On Wed, Feb 1, 2017 at 5:32 PM, chris920820 <notifications@github.com>
wrote:

[2017-02-02 02:16] #1390 closed

[2017-02-02 16:21] jtrmal commented on #965
currently being addressed in #1395

[2017-02-02 16:44] chris-hawley opened #1396 "cannot find types.h"
I get 643 errors saying "Cannot open include file: 'fst/types.h': No such file or directory"

I checked my include directories and they seem to be setup correctly and follow the instructions provided in windows/install.md

[2017-02-02 16:56] jtrmal commented on #1396
the openfst include paths are not set up correctly. You can also check if that file does exist (just in case something bad happened).
Did you really change the content of the file variable.props, i.e. step 12?
I had a report from another guy two weeks ago that everything works all right.

[2017-02-02 17:17] chris-hawley commented on #1396
i did change my paths but i'm pretty sure i changed them the wrong way. Below is what i have.
`<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ImportGroup Label="PropertySheets" />
  <PropertyGroup Label="UserMacros">
    <MKLDIR>C:\Program Files (x86)\Intel\Composer XE\mkl</MKLDIR>
    <OPENBLASDIR>C:\Users\Yenda\D

[2017-02-02 17:21] jtrmal commented on #1396
you were supposed to change the paths in the "UserMacros" section.
That part defines variables that are used then all across the visual studio solution. that is the reason it does not work.

[2017-02-02 17:25] jtrmal commented on #1396
i.e. instead of
[code]
you should have
[code]
or something along those lines -- also make sure the path "C:\Users\chris\Desktop\kaldi\tools\openfst\MSVC14\x64a" is valid -- I haven't seen it yet with the 'a' suffix

[2017-02-02 17:43] chris-hawley commented on #1396
Also, i hit a build error after correcting the above. kaldi\src\base\get_version.sh wasn't ran so kaldi-base failed to build.

[2017-02-02 17:53] danpovey commented on #1396
That think with get_version.sh was an expected problem.
We should have the perl script create that file directly (dangerous to call
the shell file on Windows, probably wouldn't work).  It can just contain
the basic version number from src/.version.    E.g. it can just contain

#define KALDI_VERSION "5.0"

assuming src/.version contains 5.0.  Do you have time to do this and make a
pull request?

On

[2017-02-02 17:53] jtrmal commented on #1396
yes, that is an unresolved issue, but I don't really have time to spend on that now.
create a file "base/version.h" containing the following:
[code]

[2017-02-02 17:55] jtrmal commented on #1396
hm, maybe perl script might be the easiest option at least for now to make
it build. I'll try to get something done today.
y.

On Thu, Feb 2, 2017 at 12:53 PM, Daniel Povey <notifications@github.com>
wrote:

[2017-02-02 17:56] danpovey commented on #1396
Yenda, it's best it he does what I suggested, with KALDI_VERSION only, and
only the major.minor version.  the git thing is not needed right now.

On Thu, Feb 2, 2017 at 12:53 PM, jtrmal <notifications@github.com> wrote:

[2017-02-02 18:17] jtrmal commented on #1396
Also, I'm reopening it as it might actually take longer to address this.

[2017-02-03 22:40] jtrmal commented on #1396
@chris-hawley , did you manage to go through the whole compilation?

[2017-02-04 02:19] chris-hawley commented on #1396
i got through the whole compilation but I ran the listed step manually. If a fix needs to be tested, I can try it.

[2017-02-04 02:26] jtrmal commented on #1396
ok, great. basicaly the only things that has to be tried is to run the
script get_version.pl inside the windows/ directory (preferably in the
shell) and tell us if you see any issues -- ideally, the script should not
output anything and the file src/base/version.h should contain onlu single
line saying
[code]
or similar. You should backup your version.h before you run it just to save
time -- the c

[2017-02-04 04:34] danpovey opened #1398 "Resolve issues with background processes and threads in nnet3 python library"
For @vimalmanohar.

[2017-02-07 17:53] nizmagu opened #1403 "make_biased_lm_graphs.sh seems to be ignoring the "top-n-words" property"
I wanted to use clean_and_segment_data.sh to clean some transcriptions decoded by kaldi. It didn't work so well on the first run, so I tried to set '--graph-opts "--top-n-words 300"' in my call to the script. That didn't seem to make any difference, so I tried it with "--top-n-words 1000 --top-n-words-weight 2" and it didn't produce any different results either.

Upon executing make_biased_lm_grap

[2017-02-07 17:59] danpovey commented on #1403
clean_and_segment_data.sh is not intended to operate on computer-generated
transcriptions, *especially* not those decoded by Kaldi itself (if they
came from a totally different system, there might be a small benefit).

@vimalmanohar, could you please add a comment at the top of the script
clarifying that it's intended to operate on top of human transcriptions?

If you want to segment the output of

[2017-02-08 14:57] jtrmal commented on #1396
Closing again. We got reports it works now.

[2017-02-08 14:57] #1396 closed

[2017-02-08 23:57] dogancan opened #1405 "File name problem on OSX"
After #1356 got merged, I'm having problems with my kaldi git setup on OSX. I believe this is due to the naming of the following files and directories:
[code]
From what I know, by default OSX filesystem ignores the casing of file names, so you cannot have two files (or a file and a folder) with the same name but with different casings simultaneously in the same folder.

This is what I get on a fre

[2017-02-08 23:59] dogancan commented on #1405
Oh, if I discard the changes to the listed files again, then I go back to how it was after fresh checkout.

[2017-02-09 00:27] danpovey commented on #1405
Do you have time to rename the RESULTS files to RESULTS.txt and make a PR
for that?
Or if the RESULTS files seem out of date or redundant you could delete them.

On Wed, Feb 8, 2017 at 6:59 PM, Dogan Can <notifications@github.com> wrote:

[2017-02-09 00:27] jtrmal commented on #1405
I'll fix that.  Y.

On Feb 8, 2017 7:27 PM, "Daniel Povey" <notifications@github.com> wrote:

[2017-02-09 01:02] jtrmal commented on #1405
I'm a little confused -- in my git babel directories there are only files
RESULTS.txt
RESULT

I'm creating PR to remove the RESULT files -- they are empty anyway.
y.

On Wed, Feb 8, 2017 at 7:27 PM, Jan Trmal <jtrmal@gmail.com> wrote:

[2017-02-09 01:03] jtrmal commented on #1405
sorry, typo
the files are:
RESULTS.txt
RESULTS

On Wed, Feb 8, 2017 at 8:02 PM, Jan Trmal <jtrmal@gmail.com> wrote:

[2017-02-09 08:44] #1405 closed

[2017-02-10 09:08] 15mscsmirfan opened #1412 "ERROR: transition from state eos to eos indicates error in word_boundary.int or L.fst"
I'm getting issue while running the librispeech example.

[code]

[2017-02-10 12:18] 15mscsmirfan opened #1413 "find: `/home/kaldi/tools/sequitur-g2p/lib64': No such file or directory"
after installing the sequitur when I run the voxforge example it shows the error.
[code]
Although directory exists. I also checked that the install_sequitur.sh have the configuration as

[code]

but it after installing it creates

`kaldi/tools/sequitur-g2p/lib64`

I also have changed the **env.sh**  for sequitur-g2p to

[code]
but still getting the same issue.

I'm using CentOS 6.5.

[2017-02-10 14:56] jtrmal commented on #1413
that recipe does not even use "find" in connection with the sequitur.
are you sure the primary problem wasn't something else and you created this
problem by fixing the primary issue?
y.

On Fri, Feb 10, 2017 at 7:18 AM, 15mscsmirfan <notifications@github.com>
wrote:

[2017-02-10 19:06] danpovey commented on #1412
Hm, it looks like there is a bug, in utils/validate_lang.pl, the line:
[code]
should say:
[code]
The mystery at this point is why this bug didn't show up before.

[2017-02-10 19:12] danpovey commented on #1412
The bug would only make a difference if there was a zero  in $phoneseq, but there should never be a zero because of the 'fstrmepsilon' in the command; that might indicate a bug in fstrmepsilon that shows up on your platform.
Please modify utils/validate_lang.pl so that the statement:
[code]
reads:
[code]
and rerun the command:
[code]
so that I can see what's going on.

[2017-02-10 19:16] danpovey commented on #1412
Another possibility is that you have some strange locale such that ASCII numbers are not recognized as numbers; I'm not sure if such locales even exist, but who knows.  You could type
`locale` from the shell and show the output.  But also do the above step, modifying validate_lang.pl to print more debug output.

[2017-02-12 22:55] danpovey opened #1418 "New CUDA functions"
@kangshiyin, would you mind creating functions in class MatrixBase called ApplyFloor and ApplyCeiling that take a matrix argument, and can apply a different floor or ceiling per element?  So x.ApplyFloor(y) means: x = max(x, y) per element, and min for ApplyCeiling?

[2017-02-13 03:05] kangshiyin commented on #1418
Sure, will do this week.

[2017-02-13 08:13] 15mscsmirfan commented on #1412
here is the locale of centos 6.5

`LANG=en_US.iso885915
LC_CTYPE="en_US.iso885915"
LC_NUMERIC="en_US.iso885915"
LC_TIME="en_US.iso885915"
LC_COLLATE="en_US.iso885915"
LC_MONETARY="en_US.iso885915"
LC_MESSAGES="en_US.iso885915"
LC_PAPER="en_US.iso885915"
LC_NAME="en_US.iso885915"
LC_ADDRESS="en_US.iso885915"
LC_TELEPHONE="en_US.iso885915"
LC_MEASUREMENT="en_US.iso885915"
LC_IDENTIFICATION="en_US.is

[2017-02-13 08:26] 15mscsmirfan commented on #1412
here is the output of the command

[code]

[2017-02-13 19:45] danpovey commented on #1412
Can you run that command a bunch of times until you get an error?  It may
be nondeterministic.  To be clear: for debugging purposes I *don't* want
you to change the == to eq, but I *do* want you to modify that print
statement like I said.

On Mon, Feb 13, 2017 at 3:26 AM, 15mscsmirfan <notifications@github.com>
wrote:

[2017-02-13 20:16] 15mscsmirfan commented on #1412
Okay. The issue was with path.sh script. I had added a line path.sh to check whether path.sh script was being run on compute node.

This line was causing the issue. After removing it executed normally. I will run this command multiple times to check if error shows up.

[2017-02-13 20:23] danpovey commented on #1412
ok, closing the issue.

[2017-02-13 20:23] #1412 closed

[2017-02-14 02:29] danpovey opened #1420 "Create test setup"
@vdp, I'm wondering if you have time to help with this?
I'm thinking of creating a 'mini-librispeech setup' mainly for script-debugging/testing purposes.  Later we can create automated tests around it.  E.g. egs/mini_librispeech/s5.
I'm thinking on the order of 5 hours of training data, and using the existing test sets (maybe focusing on the 'other' data-- if the WER is high, differences will be e

[2017-02-14 08:22] vdp commented on #1420
Sorry Dan, I'd love to help, but I'm somewhat busy at the moment, and it's unlikely that I will have time for this in the coming months. BTW, I'm not sure that making a setup "used for people to familiarize themselves with the Kaldi scripts" is something I'm looking forward doing anyway :) It's good to see Kaldi becoming so popular, but I definitely don't want to be stuck as the go-to person that

[2017-02-14 08:36] galv commented on #1420
I would be happy to do this. Seems like a fun little diversion.

By the way, I'm not sure how useful regression testing would be on the
recipe-level, given the inevitable noise in . I know the difference in
error rate is really not different between runs, but if this runs for every
commit, statistically significant events could happen surprisingly often.

On Tue, Feb 14, 2017 at 3:22 AM, Vassil Pa

[2017-02-14 18:04] danpovey commented on #1420
That would be great!

I'm more concerned about detecting crashes than changes in WER, but if we
check-in some code that we suspect will change the WER of a particular
recipe, we may look at that more closely.  We probably wouldn't set thing
up to automatically block the build if there was a difference in WER.

On Tue, Feb 14, 2017 at 3:36 AM, Daniel Galvez <notifications@github.com>
wrote:

[2017-02-15 06:29] galv commented on #1420
Alright then, sounds like nothing that.

I'm guessing you want to focus on the more recent stuff, so at the very least, we should have:

- [ ] nnet3 recipes: tdnn, lstm tdnn, and chain
- [ ] traditional gmm stages for bootstrapping
- [ ] ivector generation

What else?

Would you like an online decoding recipe as well? To be honest, I've forgotten what parts of kaldi do and don't support online dec

[2017-02-15 06:57] danpovey commented on #1420
yes, all that, but for now just do the data-preparation part and go up to
the GMM stage, I want to figure out which script is the cleanest source for
the iVector+nnet3/chain stuff.

On Wed, Feb 15, 2017 at 1:29 AM, Daniel Galvez <notifications@github.com>
wrote:

[2017-02-15 08:40] vdp commented on #1420
@galv: Cool, it's great you are doing this. You are familiar with Kaldi already, so you won't need guidance, but if you think I can help with something, please let me know. I'll try to keep an eye on the PR when you open it.

[2017-02-15 13:18] vince62s commented on #1420
Dan, not that I don't like Librispeech, but I think that most recent efforts were focussed on Tedlium2.
That's where recent development were introduced, like unk_model, cleaning, ...
Why don't we use this as a starting point, and we could have like a parameter that limit the script to 5 or 10 or X hours of audio. (or if you want to limit the dowload time create smaller sets).
Just my opinion.

[2017-02-15 15:19] 15mscsmirfan opened #1425 "ERROR: VectorFst::Read: read failed: <unspecified>"
Following error occurs when I run Librispeech example.

[code]

[2017-02-15 17:04] danpovey commented on #1425
I already told you on kaldi-help, it's probably memory related as you have been using run.pl.

[2017-02-15 17:04] #1425 closed

[2017-02-15 17:06] danpovey commented on #1420
I want to keep this script fairly simple and mostly test nnet3 and chain
training; plus, Librispeech is released by us so it's easier to create a
subset and release it ourselves.
The later parts of the scripts, about nnets, won't necessarily be based on
the Librispeech scripts.  But wait for me to help with that.

On Wed, Feb 15, 2017 at 8:18 AM, vince62s <notifications@github.com> wrote:

[2017-02-16 02:10] jtrmal opened #1426 "IBAN uses GNU-only options to sort and paste"
From the e-mail from johnjosephmorgan@...
The data prep scripts in the Iban recipe use the sort and paste commands. On MacOSX, these commands apparently take different options than they do on gnu linux, so the data prep scripts fail when they reach these commands

[2017-02-16 09:15] pstanisl opened #1427 ""No fst for utterance" if --map-oov is empty in steps/nnet/align.sh"
Unable to finish `align.sh` if `oov.int` is empty.

`align.sh` runs `sym2int.pl` with argument `--map-oov` and it must be non-empty otherwise the script dies.

[code]

In case `oov.int` is empty it cause "broken-pipe" for `compile-train-graphs` in `align.sh` and warning `No fst for utterance` for every utterance in input data.

A possible solution:
Checking variable `oov` and not to use `--map-oov

[2017-02-16 20:59] danpovey commented on #1427
If oov.int was empty then the lang directory would not pass validate_lang.pl, since we require it to be nonempty.  You can just choose an arbitrary word for the OOV symbol if it's not applicable in your setup.  Closing this because I don't think changing this script is the right solution (the same issue would pop up elsewhere, most likely).

[2017-02-16 20:59] #1427 closed

[2017-02-17 06:03] galv commented on #1420
@danpovey Do you want me to base my work off master or the shortcut branch?

[2017-02-17 06:05] danpovey commented on #1420
shortcut, please.

On Fri, Feb 17, 2017 at 1:03 AM, Daniel Galvez <notifications@github.com>
wrote:

[2017-02-19 16:39] petronny opened #1430 "Unable to connect to a repository at URL 'https://svn.code.sf.net/p/irstlm/code/trunk'"
I can't access https://svn.code.sf.net anymore
I find another upsteam at https://github.com/irstlm-team/irstlm
Please change to it in `tools/extras/install_irstlm.sh`

[2017-02-19 22:37] PranayShah opened #1432 "Compilation fails with GCC 6.2.0"
I could not get both tools/ and src/ to compile with the following:
`uname -a`
`Linux asdf-VirtualBox 4.8.0-37-generic #39-Ubuntu SMP Thu Jan 26 02:27:07 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`
`gcc -v`
[code]
Error thrown is:
[code]
And similar errors at multiple places.
However compiling with version `4.9` does work.

[2017-02-19 22:53] danpovey commented on #1432
I found a reference to this error message here:

https://bugs.llvm.org//show_bug.cgi?id=30438

and the thread seems to indicate that it's a bug in that version of gcc
that has since been fixed.   Just don't use that version of gcc.

On Sun, Feb 19, 2017 at 5:37 PM, Pranay Shah <notifications@github.com>
wrote:

[2017-02-19 23:06] jtrmal commented on #1432
I reported this to openfst people as well, Kyle did some fixes which are
already in openfst 1.6.1 and was about to report it to GCC, but they alread
knew about that -- it will be fixed in gcc 6.4
Gcc 6.3 is broken as well. Use the 5.x GCC.
y.

On Sun, Feb 19, 2017 at 5:53 PM, Daniel Povey <notifications@github.com>
wrote:

[2017-02-20 03:02] #1432 closed

[2017-02-21 02:24] cdxie opened #1438 "feature transformation between different sampling rates"
The Kaldi code currently has provided a number of feature and model-space transformations, if we have two data set (sampling rates: 8K , 16K), and we do not use the down sampling method, whether we can achieve the transformation through the feature or model transformation tools provided by kaldi ??

[2017-02-21 02:48] danpovey commented on #1438
No, that won't work.

On Mon, Feb 20, 2017 at 9:25 PM, cdxie <notifications@github.com> wrote:

[2017-02-21 03:17] cdxie commented on #1438
OK, I see

[2017-02-21 03:18] #1438 closed

[2017-02-21 06:40] yzmyyff opened #1440 "A mistake in Documentation"
In "Delta feature computation" section(Feature and model-space transforms in Kaldi).

Sliding window of values should be [-2, **_-1,_** 0, 1, 2].

[2017-02-21 17:18] jtrmal commented on #1430
changed and fixed. thanks for reporting it

[2017-02-21 17:18] #1430 closed

[2017-02-21 17:18] jtrmal commented on #1413
I'm closing this as there wasn;t any follow-up and the whole issue does not seem to be really related to the stock kaldi

[2017-02-21 17:18] #1413 closed

[2017-02-21 17:23] jtrmal commented on #1426
@danpovey the issue is that on MacOSX some user do not have the gnu core utils linked as default. So they are accessible as g*, i.e. gsort, gpaste, but not as sort/paste. Might be related to having the XCode utils installed or something else -- I don't know, it works for me.  I could try to detect these cases and make an alias or write a perl scripts -- I don't have any other ideas.

[2017-02-21 19:38] danpovey commented on #1440
thanks, will fix next time I commit something else.

[2017-02-21 19:38] #1440 closed

[2017-02-22 00:39] danpovey opened #1442 "WSJ speed perturbing"
I just noticed that local/nnet3/run_ivector_common.sh in the WSJ setup does not have speed perturbing.
This may be one reason that our nnet3 setup did not work so great in WSJ, and why the chain models were not better than regular models.
I'm considering just rewriting that script and invalidating the existing scripts there.
I'm not sure whether to ask someone to help with this.

[2017-02-22 02:42] johnjosephmorgan commented on #1426
This looks like a solution for MacOSX users who have installed the gnu
coreutils with homebrew:
add  /usr/local/opt/coreutils/libexec/gnubin  to your  PATH  (before  /usr/bin

On 2/21/17, jtrmal <notifications@github.com> wrote:

[2017-02-22 02:47] galv commented on #1426
I recall having this issue when I tried to develop on mac back in my
beginning days. I think the solution is to demand that people use the GNU
utils, since testing compatibility with the mac command line tools for
every new script is not really feasible given that mac is not a serious
development environment for training large ASR models. I remember following
these directions when I had to install

[2017-02-22 02:49] danpovey commented on #1426
I see your point, but till now we've made an effort to avoid using GNU
extensions in scripts and I'd rather continue this, since many scripts
actually have been debugged on mac.
We figured out what options and usages were problematic and will fix them.

On Tue, Feb 21, 2017 at 9:47 PM, Daniel Galvez <notifications@github.com>
wrote:

[2017-02-22 15:37] north1024 commented on #1442
About speed perturbing, how much improvement  in the swbd?

[2017-02-22 15:47] north1024 commented on #1442
There is sp, the WER is 12.1%(tdnn). If there is not sp, what is WER?

Thanks.

[2017-02-22 17:50] jtrmal commented on #1426
I created the PR #1448  to address this.

[2017-02-22 18:23] danpovey commented on #1442
I don't recall exactly, but I'd expect about 0.8% to 1.0% absolute.

On Wed, Feb 22, 2017 at 10:47 AM, north1024 <notifications@github.com>
wrote:

[2017-02-22 18:23] #1442 closed

[2017-02-23 05:55] huangjun0413 opened #1450 "The result of online i-vector is better than offline i-vector in kaldi nnet3 model"
I do experiment in kaldi nnet3 and find  the result of TDNN+ offline i-vector(Sentence level) is better than the result of TDNN+ online i-vector. Is it reasonable?

[2017-02-23 05:59] danpovey commented on #1450
That is expected.

On Thu, Feb 23, 2017 at 12:55 AM, huangjun0413 <notifications@github.com>
wrote:

[2017-02-23 05:59] #1450 closed

[2017-02-23 06:14] north1024 commented on #1450
But in the SWBD, our experiments show that the performance of TDNN+ online i-vector is better than TDNN+ offline i-vector(Sentence level). What's happen about this phenomenon? Comparing TDNN+ online i-vector and TDNN+ offline i-vector(Sentence level), which is better?

[2017-02-23 06:21] danpovey commented on #1450
Firstly, by sentence level I guess you guys mean utterance level.
In general offline per-speaker iVectors should be better, then online
per-speaker, then offline per-utterance, then online-per-utterance should
be worst.
In general, the more data you have to estimate the iVector, the better it
is (assuming the data is well matched).

On Thu, Feb 23, 2017 at 1:14 AM, north1024 <notifications@github.

[2017-02-24 12:30] jtrmal commented on #1426
@johnjosephmorgan
John, the fix is now in the kaldi master.
y.

[2017-02-25 14:31] north1024 opened #1454 "fix_data_dir.sh: no utterances remained: not proceeding further."
Directory with transcriptions exists, skipping downloading
patching file data/local/dict_nosp/lexicon0.txt
Prepared input dictionary and phone-sets for Switchboard phase 1.
Switchboard-1 data preparation succeeded.
utils/fix_data_dir.sh: filtered data/train/segments from 264333 to 0 lines based on filter /tmp/kaldi.Taip/recordings.
utils/fix_data_dir.sh: filtered data/train/wav.scp from 4870 to 0

[2017-02-25 18:56] danpovey commented on #1454
maybe your /tmp directory is full.

[2017-02-25 18:56] #1454 closed

[2017-02-25 22:57] johnjosephmorgan commented on #1426
Sorry for not getting back to you on this.

I still get errors.
In local/train_lms_srilm.sh lines 209, 210 and 211 the paste command fails.
The problem was solved by inserting a "-" after the options to stand for STDIN.
J

[2017-02-26 01:43] jtrmal commented on #1426
Fixed in #1457

[2017-02-26 15:29] jtrmal commented on #1426
Closing, as #1457 was confirmed fixing this

[2017-02-26 15:29] #1426 closed

[2017-02-27 15:24] nizmagu opened #1460 "fix_data_dir.sh doesn't do anything"
After updating to the latest commit, when running `utils/fix_data_dir.sh data/train`, nothing happens.

`data/train/text` had 5229 utts and `data/train/utt2spk` had 6000 utts before running fix_data_dir.sh.
It printed nothing to stderr or stdout, and data/train remained the same after running, causing make_mfcc.sh to exit.

[2017-02-27 15:28] nizmagu commented on #1460
My data is encoded in UTF-8, and it seems to have something wrong with it, because it works fine on a similar data folder. However, I don't see any problem with it.

[2017-02-27 19:13] danpovey commented on #1460
You could change the
#!/bin/bash
at the top of fix_data_dir.sh to say
#!/bin/bash -x
so it will print lines as it goes, this may show which part is failing.

On Mon, Feb 27, 2017 at 10:28 AM, nizmagu <notifications@github.com> wrote:

[2017-02-28 12:22] yuvalkry-si opened #1463 "Openfstwin 1.6.1 does not exist"
Hello,

  The instructions for installing under windows refer to an old version of openfst-win: 1.3.4
  and to a patch for that version - which does not exist anymore.

  I tried:
   - Compiling with the newer openfstwin-1.4.1
   - Copying the patch from the fork of jtrmal and applying it.

Both ways resulted in compile errors for fst-related function definitions.

 So, I suppose the C++ code is m

[2017-02-28 12:31] jtrmal commented on #1463
I didn't have the chance to look into it carefully, but it seems there is none for now.
You can checkout the 5.0 branch of kaldi (https://github.com/kaldi-asr/kaldi/tree/5.0)
which will work with the older versions of openfstwin

I might have some time to look into the openfst on windows this weekend, more probably at the end of March.

[2017-02-28 12:34] yuvalkry-si commented on #1463
Thanks you,
    Yuval

2017-02-28 14:31 GMT+02:00 jtrmal <notifications@github.com>:

[2017-02-28 18:13] danpovey opened #1465 "GetOneBestTimes() prevent overlap"
Relates to MBR decoding outputting CTM.   See following exchange on kaldi-help:

Rémi Francis via googlegroups.com
9:01 AM (4 hours ago)

to kaldi-help
Hi,

I'm using lattice-to-ctm-conf with mbr decoding to get the ctm with confidences, but I've noticed that sometimes the timing of the words overlap a bit:
audio-000000 1 92.17 0.85 football 0.66
audio-000000 1 93.03 0.34 scouting 0.99
audio-00000

[2017-03-01 03:47] jh3141 opened #1469 "Build hangs on cygwin (64-bit version) while configuring sctk"
Left a cygwin build running for several hours, and found that it had got stuck during the configure phase for sctk.  It seems the configure process creates a "config.status" file, but then fails to terminate.

Example transcript:

$ make config
(mkdir -p bin)
(cd src; make config)
make[1]: Entering directory '/cygdrive/f/kaldi/kaldi-trunk/tools/sctk-2.4.10/src'
(cd asclite; make config)
make[2]: E

[2017-03-01 03:51] danpovey commented on #1469
I think this problem will be very hard for us to reproduce, plus it's not an issue with Kaldi per se.  sctk and sclite scoring is not needed for most setups.  So just do "make -k" in tools/ and ignore the error.  For how to ask questions, see kaldi-asr.org/forums.html.

[2017-03-01 03:51] #1469 closed

[2017-03-03 21:30] blaisexen opened #1473 "Demo from this project"
Hi,
Where can we download a demo from this project?

What this project can do?

We are using desktop windows.

I'm just new on this name "Kaldi"

[2017-03-03 22:41] danpovey commented on #1473
it's something for speech recognition professionals.  if you don't already know, it's not for you.

[2017-03-03 22:41] #1473 closed

[2017-03-04 08:22] blaisexen commented on #1473
No! I'm just asking a DEMO,

because many of the Contributors write something like this but nothing has been seen to be used by many!

a DEMO please! a Video from youtube that is surely from this contribution?

[2017-03-06 06:48] yusuf-gunaydin opened #1474 "Memory issue on Windows"
We have been using Nnet2 models for a time and had no issues. Recently we had updated our systems to use Nnet3 models and after the update our servers started to show memory leaks.

The problem is not an actual memory leak. I have checked the code with Valgrind on Linux and DrMemory & VisualLeakDetector on Windows. None of them reports any leak. The problem reveals itself only if there are multipl

[2017-03-06 10:10] Prabh95 opened #1475 "Kaldi Error while running make file in src: ‘strcasecmp’ was not declared in this scope,"
I am using Cygwin on windows 10. I have began using Kaldi through Cygwin and while running the make file in "src" using make command, I am getting 2 types of errors for strcasecmp function.

One is : ‘strcasecmp’ was not declared in this scope,
Second is: there are no arguments to ‘strcasecmp’ that depend on a template parameter

Can someone please help me resolve these 2 errors.

[2017-03-06 12:02] #1475 closed

[2017-03-06 13:38] Prabh95 opened #1476 "Unable to create binary file command(make -C bin) in Cygwin using "make" command"
I am using Cygwin on Windows 10. I as running the "make" command in cygwin for src folder in Kaldi. Before that while running make command, I had faced a few function declaration errors and I had corrected them. Now I am getting errors like these for the files I made declaration changes to:

`make -C bin
make[2]: Entering directory '/cygdrive/c/Vocollect/kaldi-master/src/bin'
g++ -std=c++11 -I.. -

[2017-03-06 14:47] danpovey commented on #1476
Please show the *original* error, before you attempted to correct anything.

On Mon, Mar 6, 2017 at 8:38 AM, Prabh95 <notifications@github.com> wrote:

[2017-03-06 15:03] danpovey commented on #1474
There is a similar discussion here
https://github.com/kaldi-asr/kaldi/issues/1289#issuecomment-269446989
(but it was another turkish guy, maybe the same team?)
My take-away at the time was that it seemed to be either an issue of the
BLAS library, or some problem deep inside Windows or its debugging tools,
because the code that was involved was not doing anything that could
possibly cause a memory

[2017-03-06 15:24] danpovey commented on #1476
Hm.  From looking at various things online, it looks like the setlinebuf
function is not available in cygwin.
Anyway it's not strictly necessary, it will work without that.
The correct fix (which we should check in) is some kind of ifdef which will
prevent that function call from happening in cygwin.  But I can't figure
out the correct way (maybe #ifdef __CYGWIN__) ?
You could test that.

On Mon,

[2017-03-07 05:25] Prabh95 commented on #1476
`make -C bin
make[2]: Entering directory '/cygdrive/c/Vocollect/kaldi-master/src/bin'
g++ -std=c++11 -I.. -I/cygdrive/c/Vocollect/kaldi-master/tools/openfst/include -Wno-sign-compare -Wall -Wno-sign-compare -Wno-unused-local-typedefs -Wno-deprecated-declarations -Winit-self -DKALDI_DOUBLEPRECISION=0 -DHAVE_CLAPACK -I../../tools/CLAPACK/ -msse -msse2 -g -O1 -DKALDI_PARANOID    -c -o align-equal.o a

[2017-03-07 05:32] Prabh95 commented on #1476
See this is the whole error that I am getting while trying to create a binary file. In short it contains all the functions like isascii,strcasecmp,posix_memalign, popen, pclose etc. to which I had to add their function definition in the required files in order to remove the earlier errors of function not declared.

[2017-03-07 05:42] danpovey commented on #1476
Those are system functions, you should never have to add declarations for
them, and definitely not definitions.
It's almost certainly a problem with the way the compiler was invoked, or a
problem with the compiler installation itself.  I'm afraid there is not
much I can do to help in the short term.  I don't have access to any
Windows machines.  Yenda might look at it, but probably it compiles fin

[2017-03-07 05:56] yusuf-gunaydin commented on #1474
Yes the same team but the problem is different. We have solved that issue by disabling multithreading on ivector extraction.

You can see the divide by zero issue by compiling the code I sent in the first post on Ubuntu 16.04 with gcc 5.4.0 (4.8 and 4.9 also give me the same issue on Ubuntu 14.04.)

I compiled the code with this command: `g++ -std=c++11 test.cpp -Ikaldi/src/ -Ikaldi/tools/openfst/

[2017-03-07 06:04] danpovey commented on #1474
try running it in valgrind-- it could be there was an earlier error, like
memory overwriting, that caused the actual error.  (valgrind --args
[program] [args])

On Mon, Mar 6, 2017 at 11:56 PM, yusuf-gunaydin <notifications@github.com>
wrote:

[2017-03-07 06:16] danpovey opened #1480 "Noexcept for hashing function objects"
I've never really used noexcept, but apparently it's important for hashing functions:

http://stackoverflow.com/questions/13580823/sigfpe-when-accessing-unordered-map

I hope someone can look into this.
Kaldi has various hashing function objects, see stl-utils.h.

[2017-03-07 06:36] yusuf-gunaydin commented on #1474
I have checked with valgrind. The output is below. Seems there is no new information.

    ==31982== Memcheck, a memory error detector
    ==31982== Copyright (C) 2002-2015, and GNU GPL'd, by Julian Seward et al.
    ==31982== Using Valgrind-3.11.0 and LibVEX; rerun with -h for copyright info
    ==31982== Command: ./a.out
    ==31982==
    Press enter to start.

    ==31982==
    ==31982== Proces

[2017-03-07 10:51] Prabh95 commented on #1476
Firstly thankyou so much for your active responses on the issue. In the message above I was talking about function declarations(Sorry, I accidently wrote function definition).

Okay I removed all the declarations which I had made. I run the commands for configure and make depend which run successfully in SRC.

But when I try to run Make, I face errors like these while compiling on cygwin

`In file

[2017-03-07 15:17] danpovey commented on #1476
Hm, it used to work, cygwin must have changed.  You could try typing "man
posix_memalign" and similarly for the other functions, and see where they
are declared; and add suitable #include statements.

On Tue, Mar 7, 2017 at 4:51 AM, Prabh95 <notifications@github.com> wrote:

[2017-03-07 15:18] danpovey commented on #1474
it was killed due to OOM, before it could reach any errors.  Rerun with
fewer threads.

On Tue, Mar 7, 2017 at 12:36 AM, yusuf-gunaydin <notifications@github.com>
wrote:

[2017-03-07 15:31] danpovey commented on #1474
Sorry, I see that it did reach the error.
It's very strange that valgrind did not report any errors there and it's
still crashing.  After how many iterations does it fail, typically?  Also
see whether the memory locations printed are consistent (unlikely), or
change each time.

On Tue, Mar 7, 2017 at 9:18 AM, Daniel Povey <dpovey@gmail.com> wrote:

[2017-03-08 04:54] Prabh95 commented on #1476
I tried including the header files accordingly, didnt help sir. Anything else that can be done? or should I use Ubuntu then?

[2017-03-08 05:02] danpovey commented on #1476
Yes, use Ubuntu.  Next week we may have time to check that Kaldi is
compiling on cygwin.

On Tue, Mar 7, 2017 at 10:54 PM, Prabh95 <notifications@github.com> wrote:

[2017-03-08 06:02] yusuf-gunaydin commented on #1474
The crash occurs in single thread, too. Actually the exception is thrown when the program first accesses the `int32 ComputationGraph::GetCindexId(const Cindex &cindex, bool input, bool *is_new)` function. The throwing values are:
    j: 0
    k: 0
    new_index: 0
    cindex: (0 (3 0 0))

The strange thing is if I run the code below on a separate program, it does not throw:

    typedef unordered_

[2017-03-08 06:08] danpovey commented on #1474
Hm.  What I suspect is that the cindex_to_cindex_id_ object has not been
properly initialized, either because the constructor was not called or
because the stack or heap variable was overwritten by a bad memory access.
[But if it were a bad memory access, normally valgrind would show it up...
if you initialize as many variables as possible via 'new', on the heap, it
might be helpful, because it co

[2017-03-08 06:26] danpovey opened #1481 "fix how KALDI_DOUBLEPRECISION is interrogated"
we test
#if (KALDI_DOUBLEPRECISION != 0)
and it would probably be better to do
#if defined(KALDI_DOUBLEPRECISION) && KALDI_DOUBLEPRECISION == 1

[assuming the preprocessor lets you do that for things that may not be defined].

the Makefile always defines it to 0 or 1, but people may mistakenly omit it, and we want it to default to 0.

in the longer term we should be looking towards doing this stuf

[2017-03-08 06:26] danpovey commented on #1474
For the Ubuntu problem, I noticed that you are spelling out the command you
compiled with...
If you didn't compile using the standard Makefile, there is a possibility
that you didn't supply exactly the same flags, and this could change the
size of objects.  I notice you're not specifying the value of
KALDI_DOUBLEPRECISION.  I just had a look at how the header interrogates
this value, and it does:

[2017-03-08 06:31] danpovey commented on #1481
Actually, this may not need action after all, it turns out
http://stackoverflow.com/questions/5085392/what-is-the-value-of-an-undefined-constant-used-in-if
that undefined value default to 0.

[2017-03-08 06:34] danpovey commented on #1474
hm, turns out that if undefined it would default to float, so unless you
had configured for double precision this shouldn't be the problem.  but it
could *possibly* be some other flag.

On Wed, Mar 8, 2017 at 12:26 AM, Daniel Povey <dpovey@gmail.com> wrote:

[2017-03-08 07:32] yusuf-gunaydin commented on #1474
I don't think it is a flag issue. Kaldi is compiled with default makefile and the same compilation process on CentOS 6.6 does not give the error. It occurs on Ubuntu and Cygwin. Do all the Linux distributions use the same standard library? It might be that Ubuntu's `unordered_map` implementation has a bug. [Here](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=61143) is a similar bug that was solved

[2017-03-08 07:33] yusuf-gunaydin commented on #1474
I tried the code without lambda and newed all the objects but, the valgrind output is still the same.

[2017-03-08 13:04] YichiHuang opened #1482 "Tridiagonalizing matrix that is too large or has NaNs"
Hi,
I run the egs/sre10/v2
I run the sid/init_full_ubm_from_dnn.sh, error occured in the exp/full_ubm/log/init.log.
`ASSERTION FAILED (fgmm-global-init-from-accs:HouseBackward():qr.cc:124)" 'KALDI_ISFINITE(sigma)'"Tridiagonalizing matrix that is too large or has NaNs"
[Stack-Trace: ]
fgmm-global-init-from-accs() [0x5309c]
......`

[2017-03-08 16:31] danpovey commented on #1474
Hm.  Try with the latest Kaldi code; and try without using a separate
thread, that might narrow it down.

On Wed, Mar 8, 2017 at 1:34 AM, yusuf-gunaydin <notifications@github.com>
wrote:

[2017-03-08 16:48] danpovey commented on #1482
Hm, I don't think we've seen that before.  Most likely some NaN's somehow
got into your posteriors or features.  What I would do is add some checks
in the accumulation code (fgmm-global-acc-stats or whatever it's called),
to compute the sum of the input matrices and check it's not NaN (you can
check that x == x).  That at least will show where they are appearing.
E.g. maybe you are using GPUs with

[2017-03-08 16:53] danpovey commented on #1474
BTW, the fact that your program is called a.out implies that your *test
code* was not compiled with the standard makefile.  Your test code should
use exactly the same flags and gcc command line as Kaldi (e.g. add it to
BINFILES in a binary directory).

On Wed, Mar 8, 2017 at 10:31 AM, Daniel Povey <dpovey@gmail.com> wrote:

[2017-03-08 18:20] jtrmal commented on #1481
I think we were already discussing this (or perhaps it's only I was looking into this) some time ago but I remember the same conclusion -- it is ok to leave it as it is.
y.

[2017-03-09 10:15] vbearn opened #1484 "Huge memory consumption and slow decoding on Windows (online2-gmm)"
Hi,

We have been using Kaldi on linux for sometime now. Due to some project needs we need to have the decoding modules on Windows.

I have successfully compiled Kaldi with MKL support and I am trying to use online2-wav-gmm-latgen-faster sample with one of our previously trained models (based on Persian "Farsdat" )

Loading the HCLG in Kaldi currently consumes around 17GB of RAM on Linux Ubuntu 14

[2017-03-09 13:53] yuvalkry-si opened #1485 "transcripts-to-fsts does not handle missing cost specifier"
Hello,

  I am trying to run the KWS processing from wsj/s5/run.sh .

  The script local/kws_data_prep.sh contains this call to transcripts-to-fsts:

    # Compile keywords into FSTs
    transcripts-to-fsts ark:$kwsdatadir/keywords.int ark:$kwsdatadir/keywords.fsts

  whic results in an error message:

  ERROR (transcripts-to-fsts[5.1]:CheckImpl():util/kaldi-table-inl.h:2608) Trying to use empty R

[2017-03-09 14:00] jtrmal commented on #1485
IIRC,  I fixed this a couple of days back.  Do you have uptodate kaldi?
Y.

On Mar 9, 2017 7:53 AM, "Yuval Karon" <notifications@github.com> wrote:

[2017-03-09 14:08] yuvalkry-si commented on #1485
Oh, I see, you added the check "costs_reader.IsOpen()" and I haven't look there.
Sorry.

[2017-03-09 14:15] #1485 closed

[2017-03-09 17:36] #1482 closed

[2017-03-09 17:36] #1481 closed

[2017-03-09 17:38] danpovey opened #1486 "Try using ConstFst to reduce memory consumption in decoding"
Can someone (e.g. @LvHang) please look into whether reading Fsts as ConstFst instead of VectorFst for decoding leads to a substantial improvement in memory consumption?  ConstFst stores the vectors and arcs as one array so should be better for memory.  You can change any of the *-latgen-faster programs.

This may require writing a new version of ReadFstKaldi, e.g. add ReadConstFstKaldi.

[2017-03-09 17:41] danpovey commented on #1484
I assume you mean a 130M graph.
I've created a separate issue to look into whether we can read graphs as ConstFst instead of VectorFst, to reduce memory consumption in graph loading.  That should help with this problem.
I really can't help you about debugging methods because I'm not familiar with debugging procedures on Windows, only on linux.  It could be that Windows' implementation of stl vecto

[2017-03-09 17:41] #1484 closed

[2017-03-09 18:19] LvHang commented on #1486
ok, thanks, let me deal with it.

[2017-03-10 10:21] dogancan opened #1487 "CUDA context creation problem in nnet3 training with "--use-gpu=wait" option"
I am not sure if this is a Kaldi issue but I thought someone might have an idea.

First some context. I am trying to tune a few TDNN chain models on a workstation with 2 Maxwell Titan X 12GB cards. The data sets I am working with are fairly small (Babel full language packs with 40-80 hours audio). Initially I set the number of initial and final training jobs to 2 and trained the models with script

[2017-03-10 12:05] yusuf-gunaydin commented on #1474
Thanks for the tip. Adding the code to the makefile solves the issue. I will try to compile with Cygwin and the error should be gone there, too. This way I can check if the leak is caused by Windows OS or the Microsoft's STL.

[2017-03-10 23:49] dogancan commented on #1487
I looked into this issue a bit more and it seems the problem is not limited to `--use-gpu=wait` case. If there are no available GPUs when a training process is started, it fails to acquire the GPU after waiting it to be available. I replicated the problem with `--use-gpu=yes` by first launching 2 training processes and starting a third process while the other 2 were about to complete. Below is the

[2017-03-11 04:01] lifeiteng commented on #1487
Maybe there is a problem when multi-processes request the same GPU which under "exclusive process" mode.

When `--num-jobs-final=8` > the number of GPUs, my solution is:
add `--gpu-id=0|1|2|3...` (add SelectGpuId(int32 gpu_id)  method in cu-device.h ) config let `nnet-*-train` know which GPU to use, control this in training script (e.g --num-jobs-final=8, 4 GPUs, parallel job 1-4, then job 5-8, ne

[2017-03-11 04:27] danpovey commented on #1487
Dogan, I did verify that the problem exists.
I also suspect it is a CUDA 8.0 issue.
This is actually not the first time this has happened.  A few versions ago,
we had to rewrite the code that handles getting the device because the
behavior of those functions changed.  IIRC neither the behavior before nor
after the change was documented.  So I guess they've changed things under
the hood again.

On

[2017-03-11 04:32] danpovey commented on #1487
BTW, one possible solution that it would be nice if you could try is here:

    cudaSetDevice(device);

    cudaError_t e = cudaDeviceSynchronize(); // << CUDA context gets
created here.

instead of checking the error status of cudaDeviceSyncronize(), check it
from cudaSetDevice() instead, and only if that succeeds, just call
cudaDeviceSynchronize() as a kind of double-check, and crash if it fails

[2017-03-11 04:37] dogancan commented on #1487
I can look into this tomorrow but I don't think cudaSetDevice() works as a way of checking if the current process acquired the context.

[2017-03-11 07:30] danpovey opened #1489 "Fix compile problem in OpenFst"
@jtrmal or @dogancan  I wonder if either of you has time to set up a patch for OpenFst 1.6.1 to fix this error:

./../include/fst/shortest-path.h: In function 'void fst::internal::SingleShortestPathBacktrace(const fst::Fst<Arc>&, fst::MutableFst<Arc>*, const std::vector<std::pair<typename Arc::StateId, long unsigned int> >&, typename Arc::StateId)':
./../include/fst/shortest-path.h:77:8: error: in

[2017-03-11 07:40] danpovey commented on #1489
Actually the easiest fix is to replace 'auto' on that line with: 'typename Arc::StateId'.

[2017-03-11 14:04] jtrmal commented on #1489
All right, I will do it.
y.

On Sat, Mar 11, 2017 at 2:40 AM, Daniel Povey <notifications@github.com>
wrote:

[2017-03-12 04:20] dogancan commented on #1487
TL;DR It seems like there is a bug (or limitation) in the CUDA Runtime API -- not sure if it also affects the CUDA Driver API. I don't think there is anything we can do until CUDA fixes it.

There is a little bit of useful information available in the description of computeMode in the description of [cudaGetDeviceProperties](http://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__DEVICE.html#g

[2017-03-12 04:50] danpovey commented on #1487
OK, thanks for looking into it.

On Sat, Mar 11, 2017 at 11:20 PM, Dogan Can <notifications@github.com>
wrote:

[2017-03-12 16:48] jtrmal commented on #1489
being addresed in #1490

[2017-03-12 19:21] vince62s commented on #1487
I am interested by both understanding  '--use-gpu=wait ' is this supposed to avoid setting up a grid set-up by queuing some job batches waiting availability ? and also by the fact that gradient averaging seems to give better results. If this is really the case, couldn't we schedule the jobs differently by batches even when we have only one or two GPUs on the same computer (ie run mode vs grid mode

[2017-03-12 19:55] danpovey commented on #1487
I haven't really been using that functionality; Karel wrote it and I don't
know what he was originally using it for.  In principle you could use it
that way but until we can figure out what the problem is with the CUDA
toolkit version 8, it may not be wise to rely on it working.

Dan

On Sun, Mar 12, 2017 at 3:21 PM, vince62s <notifications@github.com> wrote:

[2017-03-12 20:12] dogancan commented on #1487
Yes, the use case for the `--use-gpu=wait` option is to queue jobs that will wait for availability. The problem is not limited to the `--use-gpu=wait` option though. Even with the `--use-gpu=yes` option, Kaldi programs that fail to create a CUDA context in their first attempts will wait for 20 seconds to try one more time. Independent of whether any GPUs are available at the time or not, that seco

[2017-03-12 20:16] danpovey commented on #1487
More jobs is not always better; it tends to lead to slower optimization
which can help if overtraining is an issue and you have a lot of epochs,
but that's basically a tuning issue.

It would be great if someone could figure out a way to resolve the problem
of selecting a free GPU.

On Sun, Mar 12, 2017 at 4:12 PM, Dogan Can <notifications@github.com> wrote:

[2017-03-12 20:45] jtrmal commented on #1487
I didn't manage to follow the whole thread, so apologies if I'm off-topic,
but:

problem of selecting a free GPU.

unless there is documented driver-api, perhaps at least nvidia-smi could be
used?

$ nvidia-smi --query-gpu=timestamp,gpu_serial,gpu_uuid,index --format=csv
timestamp, serial, uuid, index
2017/03/12 16:42:42.695, 0324815000345,
GPU-5c3afc2f-4257-841a-8e7d-f0bc70352ad3, 0
2017/03/12 16

[2017-03-12 20:47] danpovey commented on #1487
This approach would not work for GTX GPUs because in that case NVidia
doesn't tell you about the processes.

On Sun, Mar 12, 2017 at 4:45 PM, jtrmal <notifications@github.com> wrote:

[2017-03-12 21:04] vince62s commented on #1487
what about based on just querying the free memory of the device ? (this supposes we know the card type and amount of memory needed for a job, or just a yes/no assumption)

[2017-03-12 21:05] jtrmal commented on #1487
I think that's exactly how is it done now.
y.

On Sun, Mar 12, 2017 at 5:04 PM, vince62s <notifications@github.com> wrote:

[2017-03-12 21:09] danpovey commented on #1487
The memory is only relevant in non-exclusive mode.   The problem here is
all about the behavior in exclusive-mode.  Memory doesn't tell you all that
you need because someone could have grabbed a GPU but not be using memory.

I think it might be possible to do it with cudaChooseDevice-- just don't
give it any properties (we'll assume that all visible devices are
suitable).  Presumably it is smart e

[2017-03-12 21:14] danpovey commented on #1487
BTW, someone here
https://devtalk.nvidia.com/default/topic/415723/choosing-cuda-device-programmatically/
is saying that when using compute exclusive mode, you should just not call
cudaSetDevice-- presumably it will automatically pick a free device when
you call cudaDeviceSynchronize().
Interestingly, this is how the code *originally* worked.  However, after a
certain version of the CUDA toolkit, t

[2017-03-13 01:01] dogancan commented on #1487
It seems like this problem is not related to cudaSetDevice or cudaDeviceSynchronize or any other CUDA API call in particular. I also looked into using the CUDA Driver API but that does not work either. I am starting to think this is not a bug but a feature :) Are we sure this mechanism worked before with exclusive compute mode?

[2017-03-13 01:13] danpovey commented on #1487
Yes I'm sure it worked before.
If it's a feature then it's a new feature.  As I say, it's not the first
time they have messed with this stuff without releasing any documentation
about what was changed or why.
The ability to 'wait' for a GPU (and the fact that it retry after 20
seconds if you didn't ask it to wait) are not things that any of the
checked-in Kaldi scripts rely on, although the wait-f

[2017-03-13 01:38] dogancan commented on #1487
Ok. I have narrowed down the problem to second process trying to create a CUDA context before the first process destroys its CUDA context. If a process tries to create a CUDA context on a device in exclusive process mode and fails because another process currently owns a context on that device, it is doomed. There is no recourse. Process lifetimes are not relevant. Say if the first process destroy

[2017-03-13 01:45] dogancan commented on #1487
I forgot to mention that calling cudaSetDevice or any other cuda function that doesn't attempt to create a context from the second process before the first process destroys its context is OK. Only those functions that attempt to create a context, such as cudaDeviceSynchronize and cudaFree, need to happen after the first process destroys its context.

[2017-03-13 02:16] danpovey commented on #1487
But I assume there is no way to find out whether the GPU is blocked except
for calling cudaDeficeSynchronize and the like?

It occurred to me that possibly NVidia is deliberately making this
difficult for us because if we were able to do this, it would be possible
to easily figure out whether GPUs are being used even on low-end GPUs like
GTX; and this would enable easier workarounds for at least s

[2017-03-13 02:18] dogancan commented on #1487
Yes, unfortunately that seems to be the case.

[2017-03-13 10:00] vesis84 commented on #1487
Hi Dan,
it is not true that I have created the the '--use-gpu=wait' function.

It was created by your students, as can be seen in the log:

7b8e847d4f (Vimal Manohar     2015-01-14 08:28:11 +0000 133)   if
(use_gpu != "wait") {
6548565445 (Dan Povey         2015-07-16 05:00:44 +0000 134)     if
(!got_context) {
7b8e847d4f (Vimal Manohar     2015-01-14 08:28:11 +0000 135)       // So
far no we don'

[2017-03-13 18:28] danpovey commented on #1487
Oh, OK.  I wasn't complaining about the option- I see that it can be useful
sometimes- I just misremembered why it was created and by whom.

On Mon, Mar 13, 2017 at 6:01 AM, Karel Vesely <notifications@github.com>
wrote:

[2017-03-14 04:12] Prabh95 commented on #1476
Okay I was using Kaldi in linux environment. I ran the recipe for yesno(which contains 8000hz .wav files) and then I modified it by adding a sample .wav file recorded at 16,000hz to the Yesno dataset. The file wasn't read obviously but it didnt show any error for the 16,000hz file. And it read the files until that 16khz file was to be read and the rest of the files after that weren't trained or te

[2017-03-14 04:17] danpovey commented on #1476
I'm sure something would be present in the logs.  But you'll have to figure
out yourself where they are.

On Tue, Mar 14, 2017 at 12:12 AM, Prabh95 <notifications@github.com> wrote:

[2017-03-14 15:29] mupark opened #1493 "How can I fix this error? sre08"
I am trying to run egs/sre08.
Now, 3days after executing sre08 example, I got an error like:
-----
LOG (ivector-extractor-acc-stats[5.0.61~1-37b53]:ComputeDerivedVars():ivector-extractor.cc:183) Computing derived variables for iVector extractor
LOG (ivector-extractor-acc-stats[5.0.61~1-37b53]:ComputeDerivedVars():ivector-extractor.cc:183) Computing derived variables for iVector extractor
ERROR (iv

[2017-03-14 17:11] danpovey commented on #1493
Please see kaldi-asr.org/forums.html for how to ask questions.
Probably you ran out of memory; you may need to reduce the number of jobs.
Obviously don't rerun from the start, rerun from where it failed.

[2017-03-14 17:11] #1493 closed

[2017-03-14 17:29] misuqian opened #1494 "How can i make a DLL for online-wav-gmm-decode-faster"
I have train my own model  and want to decode wav in my software written in C# or C++,i find DLL  will make it.so can anybody help me to make a DLL? thank you

[2017-03-14 17:38] danpovey commented on #1494
We can't help you with that, if you don't already know how to do this type
of thing you won't be able to do it.

On Tue, Mar 14, 2017 at 1:30 PM, pengqian <notifications@github.com> wrote:

[2017-03-14 18:44] #1494 closed

[2017-03-14 18:44] #1489 closed

[2017-03-14 20:16] vince62s commented on #1487
on my end I am very excited by this option ... so if used in non-exclusive mode, is it working as expected based the free-mem availability ? I had the impression that current implementation was just picking the GPU with the most available free memory. But if there was a waiting condition based on eg. 90% of free memory, wouldn't that work (just in non exclusive mode) ?

[2017-03-14 20:40] danpovey commented on #1487
No it wouldn't work, because what if two jobs start at the same time?

On Tue, Mar 14, 2017 at 4:16 PM, vince62s <notifications@github.com> wrote:

[2017-03-15 05:31] mupark commented on #1493
I read  kaldi-asr.org/forums.html, and thank you for your answer.
Have a good day~

On Wed, Mar 15, 2017 at 2:11 AM, Daniel Povey <notifications@github.com>
wrote:

--

*************************************************************************************************

부산대학교 SW중심대학 SW교육센터

산학협력중점교수 박민욱

전화 : 051-510-3920  / 팩스 : 051-518-3763 / 휴대폰 : 010-3474-3028 / 이메일 :
mupark@pusan.ac.kr

주소: (462

[2017-03-15 05:31] mupark commented on #1493
Thank you very much.

[2017-03-15 08:24] hchen1024 opened #1495 "nnet1 -> nnet2"
I want to concatenate two networks, the one is DNN from nnet1, the another one is tdnn from nnet2, firstly I convert DNN (nnet1) to DNN (nnet2) by using src/nnet2bin/nnet1-to-raw-nnet, then the two networks (dnn_nnet2, tdnn_nnet2) are concatenated by using src/nnet2bin/raw-nnet-concat. About this process, are there some problems?

Thanks.

[2017-03-15 10:01] vesis84 commented on #1495
Hi, this sounds as a doable approach. K.

[2017-03-15 10:24] vesis84 commented on #1487
Hi,
I just went through the thread. Okay, I see the that '--use-gpu=wait' can be helpful,
we should ask NVidia guys, how to correctly implement the scenario:
- there's process exclusive mode,
- the GPU is taken by another process,
- how should our process query if the GPU is still occupied or already had been freed,
K.

[2017-03-15 12:45] vesis84 commented on #1487
Here is some info from Jeremy:

[2017-03-15 17:44] danpovey commented on #1487
That's useful.  Do you have time to file a bug as he says, or maybe you can
ask one of the students that you supervise to help?  If not I can try to
find someone.

On Wed, Mar 15, 2017 at 8:45 AM, Karel Vesely <notifications@github.com>
wrote:

[2017-03-15 17:54] dogancan commented on #1487
I have a minimal example that we can use. I can also do the bug report.

Sent from my iPhone

[2017-03-15 17:55] danpovey commented on #1487
That's great-- thanks!  I'll include you in the conversation with the
nvidia guys, Karel cc'd me.

On Wed, Mar 15, 2017 at 1:54 PM, Dogan Can <notifications@github.com> wrote:

[2017-03-16 20:13] danpovey opened #1496 "Modify alignment programs to be able to output per-frame acoustic costs"
People keep asking for the ability to output the per-frame acoustic costs.
I don't think this is really useful for anything, but we might as well add it.

This would involve adding an option like
[code]
to programs like gmm-align-compiled.
[note: that program's usage message needs to be cleaned up to adhere to current
conventions.]

I think the best way to implement this would be to add a function

[2017-03-17 18:15] danpovey commented on #1496
Vassil is busy; @naxingyu, do you have time?  Or any volunteer?

[2017-03-18 01:08] naxingyu commented on #1496
ok

[2017-03-18 03:00] hchen1024 opened #1500 "without MVN"
In nnet2 or nnet3, the demo does not use the global mean and variance to normalize input feature. Dose it lead to bad results by using MVN?

Thanks.

[2017-03-18 03:07] danpovey commented on #1500
No it doesn't lead to bad results; we do it that way so that the resulting
systems can be more easily used in real-time applications-- because mean
and variance normalization are tricky to do in real-time without incurring
extra latency, at least at the beginning of the file.

On Fri, Mar 17, 2017 at 11:00 PM, hchen1024 <notifications@github.com>
wrote:

[2017-03-18 05:36] hchen1024 commented on #1500
During the process of testing, the MVN is added by using the global mean and variance of training set. Dose it lead to extra latency?

[2017-03-18 05:44] danpovey commented on #1500
no but it defeats the purpose of MVN and would degrade results due to mismatch with training condition.  Anyway this page is not for questions like this, see kaldi-asr.org/forums.htlm

[2017-03-23 09:19] mscreenie opened #1512 "How to use Acoustic Models from Google Android"
Is it possible to use the acoustic models from Google Android, I read you can download the models for offline ASR on Android devices. I've done it and it works well offline.

How to use these models in Kaldi?

[2017-03-23 16:06] ognjentodic commented on #1512
you can't use these models in Kaldi

[2017-03-23 17:03] mscreenie commented on #1512
Thanks. Aside from possible legal issues could you explain why? Are they in an encrypted form or does someone need to write a parser for it to be used?

The models are likely to be some of the best given the accuracy I've observed in different languages.

[2017-03-23 17:13] danpovey commented on #1512
They are proprietary and not designed to be readable by other tools.
see kaldi-asr.org/forums.html for how to ask questions like this.

[2017-03-23 17:13] #1512 closed

[2017-03-23 21:24] mscreenie commented on #1512
Very interesting. Thank you for your response.

[2017-03-24 00:16] danpovey commented on #1480
@dogancan, do you have time to look at this?

[2017-03-24 00:27] dogancan commented on #1480
Not at the moment but I can look into it when I have the chance. That might take a while though. From a cursory glance, the idea is to annotate any function that cannot throw with noexcept, right?

[2017-03-24 00:28] danpovey commented on #1480
not any function, but specifically the () operators of the hashing-function
objects.
apparently there is a performance issue if you don't do that.
Either that, or I thought you might have some insight into whether that was
necessary or not.

On Thu, Mar 23, 2017 at 8:27 PM, Dogan Can <notifications@github.com> wrote:

[2017-03-24 01:30] dogancan commented on #1480
Oh yeah that's what I meant to ask. There is some further info in the [GCC manual](https://gcc.gnu.org/onlinedocs/libstdc++/manual/unordered_associative.html) and this [blog post](http://bannalia.blogspot.com/2013/10/implementation-of-c-unordered.html).

TLDR; C++ standard requires erase and swap operations to be non-throwing. libc++ and libstdc++ implementations of unordered (multi)map/set need a

[2017-03-24 01:33] danpovey commented on #1480
OK, we should probably add nothrow then.
There may be hashing functions declared in various places but they should
all contain the string 'Hasher'.

Is there anyone who has time to create a PR for this?  It should be fairly
mechanical.

On Thu, Mar 23, 2017 at 9:30 PM, Dogan Can <notifications@github.com> wrote:

[2017-03-24 02:53] danpovey commented on #1480
@tomkocse, do you have time for this?

[2017-03-24 06:10] jtrmal commented on #1480
If Tom does not have time,  I can look into it.
Y.

On Mar 24, 2017 03:53, "Daniel Povey" <notifications@github.com> wrote:

[2017-03-24 06:14] tomkocse commented on #1480
I can start to do this on Monday.

[2017-03-27 05:51] naxingyu commented on #1496
@danpovey sorry for the delay, was occupied. I couldn't find LatticeToLinear() in the current code base. Where is it?

[2017-03-27 17:04] danpovey commented on #1496
Oh, I think I meant GetLinearSymbolSequence

On Mon, Mar 27, 2017 at 1:51 AM, Xingyu Na <notifications@github.com> wrote:

[2017-03-29 07:45] yuvalkry-si opened #1518 "specifying the frame length for ctm creation"
Hello,

  The tools nbest-to-ctm and lattice-to-ctm-conf do not accept the --frame-length parameter
  although at least for nbest-to-ctm this option is mentioned in the usage message.

  In addition, when the frame length is shorted than 10ms (e.g. for very fast speech)
  the precision of the ctm files should be 3 decimal points, well, this I can easily change
  on my own...

       Yuval

[2017-03-29 08:15] jtrmal commented on #1518
nbest-to-ctm has the following options:
[code]
as far as I understand, those are what you are looking for.
I'll change the help message.

[2017-03-29 08:29] yuvalkry-si commented on #1518
Ok, I see, so the frame length is actually not relevant for CTM conversion.

  Thanks,
      Yuval

[2017-03-29 08:33] jtrmal commented on #1518
I think the optiion was renamed in the past (I don't recall the reason), so it's frame-shift now.
y.

[2017-03-29 15:58] danpovey opened #1520 "train.tra"
Quite a few programs have 'train.tra' in the usage messages.
This file no longer exists and the usage messages need to be changed.
Typically it will be to something like (when writing):
`'|ark:int2sym.pl -f 2- words.txt > text'`
or (when reading)
` 'ark:sym2int.pl -f 2- words.txt text|'`
This may require messing around with line breaks a little to keep line lengths
reasonable.

See below for a lis

[2017-03-29 17:30] hhadian commented on #1520
Will do it

[2017-03-31 14:23] yuluz opened #1524 "Cuda "invalid device function" running Karel's recipe onTIMIT"
Hello, I got
_KALDI_ASSERT: at cmvn-to-nnet:main:cmvn-to-nnet.cc:66, failed: cmvn_stats.NumRows() == 2_
while pretraining the DBN, in the cmvn_glob_fwd.log, it says:
_ERROR (nnet-forward:Set():cu-vector.cc:957) cudaError_t 8 : "invalid device function" returned from 'cudaGetLastError()'_
It might be GPU setting problem, but I did modify the makefile with "CUDA_ARCH=-gencode arch=compute_61,code=sm

[2017-03-31 16:10] danpovey commented on #1524
closing here as we're seponding on the list.

[2017-03-31 16:10] #1524 closed

[2017-04-02 00:29] danpovey opened #1525 "Inverse DCT transform layer"
@vimalmanohar, this relates to some code that you had in a previous PR, which I didn't merge, so I think this would be easiest for you to do.  This is not super time-critical-- it is going to be needed for testing convnets for ASR tasks, but it will be a few days before I've finished the code required for that.
What I'd like to be able to do is to write something in a config like:
`idct-layer name

[2017-04-02 15:45] #1518 closed

[2017-04-02 15:45] #1495 closed

[2017-04-02 15:46] danpovey commented on #1480
resolved in #1519

[2017-04-02 15:46] #1480 closed

[2017-04-02 15:47] #1474 closed

[2017-04-02 15:48] #1418 closed

[2017-04-02 15:49] #1403 closed

[2017-04-02 15:49] #1382 closed

[2017-04-02 15:50] danpovey commented on #1364
resolved in #1477

[2017-04-02 15:50] #1364 closed

[2017-04-03 05:45] rakib-BUET opened #1527 "Installation problem"
I am new in linux and  trying to install kaldi on Linux mint 18 following Josh Meyer's Website

http://jrmeyer.github.io/kaldi/2016/01/26/Installing-Kaldi.html

My issue is when i run ./configure --shared

smlabc1@smlabc1-All-Series ~/kaldi/src $ ./configure --shared

OUTPUT

Configuring ...
Checking compiler g++ ...
Checking OpenFst library in  ...
***configure failed: Could not find file /includ

[2017-04-03 15:43] vesis84 commented on #1524
https://groups.google.com/forum/#!topic/kaldi-help/uhiTCWn8YWU

[2017-04-03 18:34] danpovey commented on #1527
Closing this issue, you need to read the error messages.

[2017-04-03 18:34] #1527 closed

[2017-04-03 18:35] danpovey commented on #1496
@naxingyu, any progress?

[2017-04-03 18:56] danpovey opened #1528 "Make online silence weighting in nnet3 respect frame-subsampling factor"
I'm talking offline to @ngoel17, @david-ryan-snyder and @vimalmanohar about this, but just putting this issue up so it doesn't get lost track of.

[2017-04-04 05:10] rakib-BUET commented on #1527
Dear Dan,

where i would find the error messages ?

i have attached the screen shot for better understanding.

![screenshot from 2017-04-04 11-07-33](https://cloud.githubusercontent.com/assets/26864022/24642151/06d1d150-1927-11e7-99b1-a4ecdbe15d3d.png)

[2017-04-04 05:22] danpovey commented on #1527
I think it's best if you don't try to work with Kaldi if you can't figure
that out yourself.
It gets harder from here, not easier.

On Mon, Apr 3, 2017 at 10:10 PM, rakib-BUET <notifications@github.com>
wrote:

[2017-04-04 21:28] JoshLondon commented on #1487
I'm having this same problem, tried fiddling with the code as well to no avail and then came across this useful thread. My problem is I can't use my 3 x 980ti GPUs, it only uses 1 (In Default) and then in Exclusive mode on training 8 jobs, the 4th stops the training with a problem it can't find a GPU. I normally just make sure the num-jobs == num-gpucards to get around this problem. But for the td

[2017-04-04 21:31] danpovey commented on #1487
Regarding the number of GPUs, the nnet3 tools do use more than one GPU, but
that is configurable, as --num-jobs-initial and --num-jobs-final normally.
It will affect the training a bit if you change them, but not a vast amount.
Your choice is either to reduce --num-jobs-final to the number of physical
GPUs, or to install GridEngine.

Unfortunately NVidia's latest drivers (8.0) have broken the --wa

[2017-04-05 01:28] naxingyu commented on #1496
I'll commit this weekend.

[2017-04-07 04:27] danpovey opened #1533 "xconfig for gated linear layer"
This paper https://arxiv.org/abs/1612.08083
shows very nice results for language modeling with what they call gated convolution.  It would be very easy to implement their method in Kaldi, as a kind of variant of TDNNs.  (Since they are doing convolution in time, only, it's effectively the same thing as TDNNs).

@kangshiyin, I don't know if you have time to look into this?

Their basic idea can be

[2017-04-07 08:53] kangshiyin commented on #1533
Sorry I probably will be busy in the following week.  Maybe @GaofengCheng will be able to help on the xconfig layer? And I can work on the CUDA version of `a * sigmoid(b)` later.

[2017-04-07 17:45] kaarthi28 opened #1534 "how to bulid a speech to text user interface using kaldi either using spacy/ Keras/tensorflow?"
We're trying to build Automatic Speech Recognition using Kaldi and then for building models for NLP/NLU we're trying to use either Spacy/Keras/Tensorflow. Is there any way to integrate Kaldi with these tools?

[2017-04-07 17:45] kaarthi28 opened #1535 "How to train kaldi using LibriSpeech dataset?"
After following all the steps we were able to download LibriSpeech dataset and trained it.But the model got stuck at 3Gram. Is there any error I may have made while training? Let me know the training procedure for training dataset in "egs" folder.

[2017-04-07 17:54] danpovey commented on #1533
[update: we'll probably need a NormalizeLayer after this.  But we might want to experiment with alternatives based on batch-norm.  So make it so the name is sigmoidgated-renorm-layer, and later we'll extend the code, like for BasicLayer, so it can be e.g. sigmoidgated-batchnorm-layer.

[2017-04-07 18:03] danpovey commented on #1535
too little details provided (need screen paste), maybe you don't have enough memory.
but you should be asking on kaldi-help.

[2017-04-07 18:03] #1535 closed

[2017-04-07 18:04] danpovey commented on #1534
It won't be easy, you should get familiar with Kaldi itself before even
thinking about that.
see kaldi-asr.org/forums.html for how to ask questions.

On Fri, Apr 7, 2017 at 10:45 AM, kaarthi28 <notifications@github.com> wrote:

[2017-04-07 18:04] #1534 closed

[2017-04-08 00:33] danpovey commented on #1533
I think @GaofengCheng is quite busy too.  This is not urgent; we'll wait for someone to pick it up.

[2017-04-08 01:03] GaofengCheng commented on #1533
@danpovey take it

[2017-04-08 04:54] luvwinnie opened #1536 "Installation instructions for native Windows with Visual Studio"
I'm following the windows/INSTALL instruction to install the kaldi on windows, but there are some instruction not  up to date.

5.Use patch (or you can use git patch) to patch the OpenFST(win).

The lastest master branch doesn't have the extras/openfstwin-1.3.4.patch file.
I would appreciate for updating the Installation Instruction for native Windows with Visual Studio!

[2017-04-08 07:03] jtrmal commented on #1536
yes, good point. At this time you have to use the 5.0 branch of kaldi when you need windows. THat is mostly because of the openfst 1.6. I have making these things working again on my todo list, but might take longer. I'll modify the readme to reflect that.
y.

[2017-04-12 23:28] kkm000 commented on #1179
Sorry, I am late to the party, as usual. FWIW, the standard way to ID releases under Git is `git describe`. The "long" format is `<tag>-<num_commits>-g<sha1>`, for example `x104-0-g736578a` means 0 commits from (=exactly at) tag `x104`, commit hash `736578a`. The "short" format, where only the `<tag>` is used if `num_commits` is 0. For the above, short descriptive format would be just `x104`.

Thi

[2017-04-12 23:29] kkm000 commented on #1315
Close this?

[2017-04-12 23:33] danpovey commented on #1179
Hm, it might be possible to move to that convention, at least I wouldn't
object (although it's not the highest on my priority list right now).

It would require that the major/minor versions like 5.0, 5.1 and so on be
identified with tags, which I suppose wouldn't be a problem-- although we
currently have branches corresponding to each version, named "5.0", "5.1"
and so on, so we'd have to choose

[2017-04-12 23:33] #1315 closed

[2017-04-12 23:36] kkm000 commented on #1179
Just technically you can have both tag and branch by the same name, but would not.

A prefix `v`, like `v5.0` to a tag?

[2017-04-12 23:36] dogancan commented on #1179
I think we already discussed using git tags earlier in this thread and eventually settled to using this base/.version file so that versioning would do something reasonable even when kaldi installation is not a git repo.

[2017-04-12 23:54] kkm000 commented on #1179
@dogancan: Right, I missed that. I do not undestand one thing though. The patch number by counting commits is unavailable from the `.version` file alone, w/o a Git repository, and `base/version.h` will have to be pre-built anyway for such a distro. So why the `.version` file is needed at all, except naming a specific commit with its content. Looks like a homebrewn Git tag--am I missing other funct

[2017-04-12 23:54] danpovey commented on #1179
oh I forgot that.

On Wed, Apr 12, 2017 at 4:36 PM, Dogan Can <notifications@github.com> wrote:

[2017-04-13 00:21] dogancan commented on #1179
@kkm000 If kaldi installation is a git repo, `src/.version` is not needed. The scheme we have now is indeed a homebrewn git tag implementation. I think the reasoning was DRY: since we need `src/.version` for non-git installations, let's not introduce another base version tagging scheme via `git tag` which may lead to inconsistent version numbers if the maintainer forgets to increment both sources

[2017-04-13 00:47] kkm000 commented on #1179
@dogancan I see. I should go through and absorb this discussion more carefully. You already mentioned git-describe, and I mainly chimed in because I was under an impression it was not mentioned.

[2017-04-13 14:51] GaofengCheng commented on #1533
@danpovey
I'm running gated-tdnn and batch-norm now on AMI IHM, from log-prob, both techs are useful (results will be updated later ). I also try adding the gated-tdnn to about 25 layers, but the training will turn very bad. Also `compute_prob_train` and `compute_prob_valid` will corrupt with:
[code]
Any hyper-parameter need to be tuned if I want to train a very deep nnet under Nnet3?

@vijayadity

[2017-04-13 16:31] GaofengCheng commented on #1533
@danpovey @kangshiyin @vijayaditya
results on AMI about sigmoidgated-tdnn and batchnorm
[code]
it seems sigmoid-gated over-fit, @danpovey  but the model capacity is stronger than traditional TDNN, I plan to try sigmoidgated-tdnn+lstm+dropout and see results, any idea?

[2017-04-13 16:33] vijayaditya commented on #1533
Could you send across the output of generate_plots.py for these three
experiments.

Vijay

On Apr 13, 2017 9:31 AM, "Gaofeng Cheng" <notifications@github.com> wrote:

[2017-04-13 16:35] GaofengCheng commented on #1533
more results:
[code]

[2017-04-13 17:40] danpovey commented on #1533
Interesting.
Remember that batch-norm is applicable to TDNNs with ReLUs as well as to the sigmoid-gated units.  @tomkocse has already done some experiments about this and it does seem to be performing a bit better than regular TDNNs with NormalizeLayer ("renorm").
It could be that the sigmoid-gated units just aren't that helpful for this type of task, but it's nice that you seem to be getting good

[2017-04-14 04:07] GaofengCheng commented on #1533
@danpovey
using less epoch (2 instead of 4), gated+batch show improvement.
I'm now reducing the gated-tdnn dim to match tdnn parameter number, also using batch norm in tdnn
to figure out whether the parameter or batchnorm or gated gives the improvement.
[code]

[2017-04-14 13:32] david-ryan-snyder commented on #165
Resolved in #1543.

[2017-04-14 13:32] #165 closed

[2017-04-14 13:35] david-ryan-snyder commented on #1059
@danpovey, I think this can be closed now. The ASR ivector part was done in #1514 and the rest was in #1543.

[2017-04-14 13:36] david-ryan-snyder commented on #1096
Resolved as of #1543.

[2017-04-14 13:36] #1096 closed

[2017-04-14 13:36] david-ryan-snyder commented on #1097
Resolved as of #1543.

[2017-04-14 13:36] #1097 closed

[2017-04-14 15:31] maelp opened #1544 "Build error because of ConvertStringToReal"
Might be linked to <https://github.com/kaldi-asr/kaldi/commit/31a528b0c3148e4419a49f22658bf3360c87dce0>, a fresh build on osX does

[code]

And building on Linux gives

[code]

The previous commit <https://github.com/kaldi-asr/kaldi/commit/b2d5d3683d416643bf141b9d501e36a6901a7265> builds correctly

[2017-04-14 17:53] danpovey commented on #1544
I just added an explicit template instantiation of that.

[2017-04-14 17:53] #1544 closed

[2017-04-14 19:05] #1059 closed

[2017-04-15 19:16] #1525 closed

[2017-04-15 19:17] #1460 closed

[2017-04-15 22:51] danpovey opened #1549 "CIFAR data preparation"
@hhadian, I was hoping that you could help with this since I believe you have a CIFAR setup.

This is a request for you to do the data preparation for CIFAR-10 and CIFAR-100, e.g. as egs/cifar/v1 (we can have one directory for both).  I'm not calling it s5 since this isn't a speech setup, for non-speech setups we're starting with v1.

Let's have a directories data/cifar10_train and data/cifar10_te

[2017-04-16 01:36] hhadian commented on #1549
OK, sure I will do it.

[2017-04-16 06:13] selcouthlyBlue opened #1550 "Handwriting Recognition"
I intend to use Kaldi for the handwriting recognition app I'm making for Android. So far, here's what I have:

1. I used the RETURNN framework (https://github.com/rwth-i6/returnn) to train and validate an MDLSTM Architecture that's implemented (more info in this paper https://www-i6.informatik.rwth-aachen.de/publications/download/1014/VoigtlaenderPaulDoetschPatrickNeyHermann--HwritingRecognitionwi

[2017-04-16 21:54] danpovey commented on #1550
If they say their model can be used with Kaldi as a recognizer, then I'd
say that the first order of business is for you to figure out how to do
that.  E.g. see if they provide scripts to do it.

You say the mobile app is already written.  I'd say you are jumping the gun
a little bit if you haven't even figured out how to do the handwriting
recognition.

Incidentally, handwriting recognition is so

[2017-04-16 22:40] selcouthlyBlue commented on #1550
Thank you for replying to my query.

I have yet to get my answer on whether they provide scripts to do it. Although, if it's possible for me to create my own scripts for that then I can probably do it.

What do you mean by "figuing out how to do handwriting recognition"?

[2017-04-16 23:19] danpovey commented on #1550
What I mean is, it seems to me that you haven't figured out how to get the
underlying technology to work, so it's too soon to start writing an app.

On Sun, Apr 16, 2017 at 3:40 PM, Jerome <notifications@github.com> wrote:

[2017-04-16 23:20] danpovey commented on #1550
closing this issue as it's a question not really an issue.

[2017-04-16 23:20] #1550 closed

[2017-04-17 02:37] holysjl opened #1551 "Problem about example librispeech"
I face a problem when I execute ./run.sh of the example librispeech.

holysjl@ubuntu:~/kaldi-trunk/egs/librispeech/s5$ ./run.sh
utils/validate_data_dir.sh: Successfully validated data-directory data/dev_clean
local/data_prep.sh: successfully prepared data in data/dev_clean
utils/validate_data_dir.sh: Successfully validated data-directory data/test_clean
local/data_prep.sh: successfully prepared da

[2017-04-17 02:42] danpovey commented on #1551
My first guess is that your disk is full.  See kaldi-asr.org/forums.html for how to ask questions.

[2017-04-17 02:42] #1551 closed

[2017-04-17 02:50] danpovey commented on #1551
Actually it looks like a perl script somewhere in prepare_dict.sh died, but
I'm not sure why.  You could add the option '-x' to the first line of
local/prepare_dict.sh and rerun from that command.

On Sun, Apr 16, 2017 at 7:37 PM, holysjl <notifications@github.com> wrote:

[2017-04-17 06:52] selcouthlyBlue commented on #1550
It turns out, Kaldi will be used to decode the log posteriors produced from running the framework.

[2017-04-17 12:20] gray0302 opened #1553 "about kws"
sorry, i recently encounter a question, when i use the steps/make_index.sh, i received the error that
ERROR (kws-index-union[5.1]:Determinize():fstext/determinize-star-inl.h:210) Determinization aborted since passed 1000 states

[ Stack-Trace: ]
[code]
no matter what I set the parameter max_states to 100000,10000 or 1000, this error always happens, but I still receive the result. I would like to k

[2017-04-17 17:05] danpovey commented on #1550
OK, but you need to learn about Kaldi.  We are not going to do the leg-work
of figuring out how to integrate Kaldi with their handwriting system; we
can answer focused questions (not here; see kaldi-asr.org/forums.html) but
we won't solve open-ended problems like this for you.

On Sun, Apr 16, 2017 at 11:52 PM, Jerome <notifications@github.com> wrote:

[2017-04-17 20:47] hhadian commented on #1549
I'm a bit confused. Do you want me to create a script e.g. data_prep.sh (similar to ASR recipes) that creates these files (i.e. labels.txt, images.scp, classes.txt) for CIFAR or do you want me to actually create these files in the data directory?

[2017-04-17 20:55] danpovey commented on #1549
Create the script that downloads the CIFAR data and creates those files.
I'll upload, in a minute, a validation script that I've been working on.

On Mon, Apr 17, 2017 at 1:47 PM, Hossein Hadian <notifications@github.com>
wrote:

[2017-04-17 21:03] hhadian commented on #1549
OK, that's what I thought.

[2017-04-17 21:22] danpovey commented on #1549
Also, can you share what the configuration you are using in Keras for CIFAR
image augmentation is?  They seem to have a class ImageDataGenerator that
takes a bunch of options.  I am wondering about the best way to do image
augmentation in Kaldi.  Keras seems like a very big dependency to take on
if we just need the image augmentation, since it would require installing
Tensorflow or Theano.  I'm wo

[2017-04-17 22:10] hhadian commented on #1549
Yes, ImageDataGenerator in Keras offers quite a lot of options. In the recipe I am using only 3 options are enabled: vertical/horizontal shift (by 10%) and horizontal flipping. I have not tried the rest of them, but since the current relative improvement due to data augmentation (~44%) is similar to a reported CIFAR paper, I guess the other options won't help much probably [at least for CIFAR-10].

[2017-04-17 22:20] selcouthlyBlue commented on #1550
My apologies for asking such questions. I'll be learning more about Kaldi and start from there.

[2017-04-19 04:03] vijayaditya opened #1556 "missing get_word_map.pl"
`get_word_map.pl` script which is being used in several recipes is missing. I tried searching for it in the old commits using the command `git log --all -- **/<filename>` but I am unable to find it.

https://github.com/kaldi-asr/kaldi/search?p=1&q=get_word_map.pl

[2017-04-19 05:22] entn-at commented on #1556
I believe it's contained in `kaldi_lm` in the `tools/` folder.

[2017-04-19 05:23] vijayaditya commented on #1556
Thanks !

[2017-04-19 05:23] #1556 closed

[2017-04-19 19:20] yujunlhz commented on #886
Dear Kaldi developers:

I'd like to know whether there is any update for this thread?

thanks

[2017-04-19 19:23] danpovey commented on #886
I am not aware of any update but it would be nice of Joachim comes through
with this.
Actually this is not a priority for me at all because as time goes on,
fewer people will be using nnet2 models.

On Wed, Apr 19, 2017 at 12:20 PM, yujunlhz <notifications@github.com> wrote:

[2017-04-19 19:28] jfainberg commented on #886
Sorry, other things took priority and I forgot to come back to this. I have done some work on it; I believe it was nearly ready. I'll have a look at it the coming weekend and make a PR.

[2017-04-20 21:25] #1553 closed

[2017-04-20 21:29] danpovey opened #1561 "Remove min-seg-len options"
This is to draw it to the attention of anyone who might be reworking recipes.
The use of combine_short_segments.sh in run_ivector_common.sh, as in:

[code]
is no longer necessary (since we upgraded the chain-training scripts to allow multiple chunk lengths).  The idea is that you use something like
`frames_per_chunk=140,100,160`
in the training script, and if the database has a lot of short segmen

[2017-04-20 21:35] danpovey commented on #1561
Also, @david-ryan-snyder, my hope with the PCA thing was to simplify the scripts, but looking at the run_ivector_common.sh in AMI, it isn't simpler than before, it's more complicated (e.g. it selects segments of hires training data that were also in the original data, which isn't necessary since we no longer need the alignments).  You can just compute the PCA on the same subset of data that you're

[2017-04-21 01:06] david-ryan-snyder commented on #1561
@danpovey, got it. I'll make the change.

[2017-04-21 02:23] gray0302 opened #1563 "how to generate ecf file"
I want to evaluate the kws, I have generated the kwlist and rttm file, but I don't know how to generate the ecf file, is there some scripts to generate it in the kaldi?

[2017-04-21 02:27] jtrmal commented on #1563
Not really, but the ecf file structure is trivial.
Closing this, as this is not the right place where ask these kinds of questions --see http://kaldi-asr.org/forums.html

[2017-04-21 02:27] #1563 closed

[2017-04-22 04:51] kkm000 commented on #1520
NB these 2 messages misname the program name:
[code]

[2017-04-22 05:19] danpovey commented on #1520
That's not actually a mistake as far as I can see: that example command is
a pipe.

On Sat, Apr 22, 2017 at 12:51 AM, Kirill Katsnelson <
notifications@github.com> wrote:

[2017-04-22 06:12] danpovey opened #1567 "New wav-reading code fails"
I was running the mini-librispeech testing setup in the kaldi-5.2 branch and it fails due to wav-reading issues.  @kkm000, could you please look into it?  It looks like there are cases when the writing code doesn't know how big the file will be so it writes a huge number (actually not quite INT_MAX), and the reading code dies with an assertion failure (incidentally, we should never die with an ass

[2017-04-22 06:42] danpovey commented on #1567
... incidentally, this code would also have attempted to allocate a huge chunk of data.  It should be probably read in reasonably size [block-size] chunks, like the old code did it.

[2017-04-22 15:30] jtrmal opened #1568 "phonetisaurus scripts"
The sequitur G2P is slow to train and not well maintained.
Until recently, Phonetisaurus was trickier to install (different openfst), but now when we switched to stock openfst, it should be relatively easy to streamline it.
@adolfvonkleist has agreed to create phonetisaurus scripts compatible with the sequitur scripts together. this is to gently remind him and keep track of the issue.

[2017-04-22 16:03] danpovey commented on #1567
@novitoll, since you said you wanted to help, if you want you could try to come up with a candidate fix for this issue.
I mentioned here https://github.com/kaldi-asr/kaldi/pull/1546
that I have reverted the PR that refactored the wav-reading code for now, so you'd have to start from that point.  Note, this is on the kaldi_52 branch.

[2017-04-22 23:29] danpovey opened #1569 "CNN experiments"
@GaofengCheng, I was hoping  you could help with this (this is in the kaldi_52 branch).
In wsj/s5/local/chain/tuning/run_cnn_tdnn_1a.sh I have an example of using CNNs, but it's not working great.
Something that I think is worth trying is as follows:

  - Start from our best setup, say a TDNN+LSTM setup with dropout and batch-norm.
  - Try changing the feature type (first do this without using CNN

[2017-04-23 01:07] GaofengCheng commented on #1569
I will help do, the results and tuning scripts will be made into PR under kaldi_52

[2017-04-23 22:33] danpovey commented on #1569
@GaofengCheng, I just realized that I made a really stupid mistake when I implemented the xconfig layers for convolution.  I forgot to include any nonlinearity!  There is no ReLU.
I'll be modifying the xconfig code and the associated example.  It should be done before you get to the CNN stage of these experiments.

[2017-04-24 00:33] GaofengCheng commented on #1569
@danpovey I have not yet begun the CNN exps. After your modification, I'll take this and help check

[2017-04-24 01:46] danpovey commented on #1569
OK, I have fixed the CNN layer, adding ReLU's.  I'm running the
(now-modified) WSJ example and it does lead to better objective functions.

On Sun, Apr 23, 2017 at 8:33 PM, Gaofeng Cheng <notifications@github.com>
wrote:

[2017-04-24 01:47] GaofengCheng commented on #1569
@danpovey get it, I'll begin CNN today

[2017-04-24 05:25] danpovey opened #1570 "Add 'test mode' to dropout component"
@freewym, I hope you can help with this; it's something I want for CNNs.  This is about the kaldi_52 branch.

The batch-norm component has the concept of 'test mode', whereby we set a flag that changes its behavior.  I would like you to do the same for the dropout component and dropout-mask component.

That is, there will be a function
[code]
in base-class RandomComponent, just like for BatchNormC

[2017-04-24 05:28] freewym commented on #1570
Sure, will work on this.

On Mon, Apr 24, 2017 at 1:25 AM Daniel Povey <notifications@github.com>
wrote:

--
Sent from my iPhone

[2017-04-24 05:37] danpovey commented on #1569
BTW, something to keep an eye on is, whether the 'test-mode' batch-norm is behaving the same as the training-mode in terms of log-prob.  (we use test mode in the compute_prob logs and in the combination and in actual testing).
In the current egs/wsj/s5/local/chain/tuning/run_cnn_tdnn_1a.sh, after training a while, the training and valid log-probs become not that good, and when I tried nnet3-chain-

[2017-04-24 17:22] jtrmal opened #1572 "bug in WSJ run.sh and compute-wer-bootci"
as reported by e-mail:

The bug is in stage 2 (tri1) and in the LM re-scoring step. The second line in the multiline command lmrescore.sh should be:

data/lang_nosp_test_{tgpr,tg} data/test_${data}

as opposed to:

data/lang_nosp_test_{tgpr,tg} data/test_dev93

FYI, this bug causes a segmentation fault at compute-wer-bootci step for eval92, because the test_filt.txt is from the dev93 set.

[2017-04-25 00:07] danpovey commented on #1569
I figured out the problem with the batch-norm.
It's that during a single iteration the model was moving too far, so that the batch-norm stats accumulated over the entire iteration became non-representative.
Part of the issue was that there was a bug in the reading and writing code, whereby the learning-rate and max-change was not  being read or written (and also in the xconfig I had forgotten to s

[2017-04-25 02:24] danpovey commented on #1570
@freewym, on second thoughts I think we should have separate control of whether to set test mode on the dropout components versus the batch-norm components.
So please have two functions, not just SetTestMode(bool, Nnet*) but SetBatchnormTestMode(bool, Nnet*) and SetDropoutTestMode(bool, Nnet); and instead of one command-line option --test-mode, have two options --batchnorm-test-mode and --dropout-

[2017-04-25 02:40] GaofengCheng commented on #1569
@danpovey
How should I change cepstral-lifter if I use 64dim feature
`idct-layer name=idct input=input dim=40 cepstral-lifter=22 affine-transform-file=$dir/configs/idct.mat`

[2017-04-25 02:42] danpovey commented on #1569
leave it the same

On Mon, Apr 24, 2017 at 10:40 PM, Gaofeng Cheng <notifications@github.com>
wrote:

[2017-04-25 03:33] GaofengCheng commented on #1569
@danpovey I did not find ` learning-rate-factor` related to
`And remove the learning-rate-factor=2.0 on the ivector branch, I realized it's inappropriate, and that branch is training too fast` in final.config when running cnn_tdnn_lstm or cnn_tdnn, just `learning-rate-factor=5.0 ` on the xent_output

[2017-04-25 03:37] danpovey commented on #1569
It's OK, I may already have done that.

On Mon, Apr 24, 2017 at 11:33 PM, Gaofeng Cheng <notifications@github.com>
wrote:

[2017-04-25 04:37] danpovey opened #1574 "Image augmentation"
@hhadian, I have got the basic recipes working in the CIFAR setup (although we need to get dropout working).
Can you please add image augmentation to this?

The way I'd like you to do this is to add a string option --image-augmentation-opts to the program train_raw_dnn.py, which will be passed into train_one_iteration.  If this flag is supplied, it will insert into the pipe after nnet3-shuffle-egs

[2017-04-25 05:01] danpovey commented on #1569
You may notice that in in egs/wsj/s5/local/chain/tuning/run_cnn_tdnn_1b.sh, in the first convolutional layer I added:
`learning-rate-factor=0.3 33 max-change=0.25`
to make it train slower, because I noticed the first convolutional layer was training too fast.  You might want to do that, or at least look out for how fast it's training (grep for Relative in progress.*.log to see).

[2017-04-25 05:04] kkm000 commented on #1567
I'll look into this (too).

[2017-04-25 05:07] kkm000 commented on #1567
How exactly is the file written--so maybe I'll guess what's wrong with it without running the full recipe. Can you maybe attach an unreadable file? You can drag-and-drop it right into the ticket.

[2017-04-25 05:15] danpovey commented on #1567
It was something like

flac -c -d -s
/export/a05/dgalvez//LibriSpeech/train-clean-5/8629/261139/8629-261139-0076.flac
| sox -t wav - -t wav - speed 1.1 |

but not necessarily that exact file.

It would take a while- and disrupt some other work-- for me to duplicate
the problem, but I believe the info I gave you in the 'issue' contains the
important information, which is those sizes, which were clo

[2017-04-25 05:16] kkm000 commented on #1567
Sure, do not spend time on that please, I'll try to repro from this snippet.

[2017-04-25 05:25] kkm000 commented on #1567
Looks like flax is producing an *interesting* format for me (WAVEFORMATEXTENSIBLE). Just to be sure, could you do `flac --version; sox --version` on that system?

[2017-04-25 11:21] GaofengCheng commented on #1569
yes, I'm running a comparison exp under AMI IHM to figure out whether this will help.

[2017-04-25 12:27] GaofengCheng commented on #1569
@danpovey  training setting  `   --trainer.deriv-truncate-margin 8 \` will cause the cnn_tdnn_lstm to fail (I change directly from egs/ami/s5b/tuning/run_tdnn_lstm_1i.sh). I remove this option, will this affect the results a lot?

[2017-04-25 15:03] hhadian commented on #1574
Ok, will do.

[2017-04-25 16:57] danpovey commented on #1567
My internet connection died last night before I could respond.  The versions are:
[code]
Unfortunately wav is a format that doesn't seem to have neatly defined edges of what's acceptable versus not.  I'm happy just to support the things we find in the wild.  But definitely the code should never malloc huge amounts, and should never die with assertions from inside the reader except for reporting bu

[2017-04-25 18:24] jtrmal commented on #1572
resolved by #1576

[2017-04-25 18:24] #1572 closed

[2017-04-25 18:31] danpovey commented on #1569
That would be a bug in the code.  I need to look into that.  Can you please
show me the error message, and if you think it would help, get me a stack
trace?

On Tue, Apr 25, 2017 at 8:27 AM, Gaofeng Cheng <notifications@github.com>
wrote:

[2017-04-25 23:26] hhadian commented on #1574
Just to make sure, you mean the train_raw_dnn.py which is in `steps/nnet3`? Can that be used for general machine learning tasks (like this CIFAR task)?

[2017-04-25 23:33] danpovey commented on #1574
Yes, the example script I put in cifar/v1 already uses that.

On Tue, Apr 25, 2017 at 7:26 PM, Hossein Hadian <notifications@github.com>
wrote:

[2017-04-25 23:39] hhadian commented on #1574
Interesting! I imagined quite a bit of changes would be needed.
So, most options in this script follow a category format (category separated by a dot), do you want me to use `--image.augmentation-opts` instead?

[2017-04-26 00:19] danpovey commented on #1574
OK, that seems reasonable.

On Tue, Apr 25, 2017 at 7:39 PM, Hossein Hadian <notifications@github.com>
wrote:

[2017-04-26 00:53] GaofengCheng commented on #1569
@danpovey
[code]

[2017-04-26 01:03] kkm000 commented on #1567
Thanks. It appears that sox is at fault, and, judging by the warning it generated, this is by design. When piping output, sox sets incorrect data size when used with the speed effect.
[code]
`7ffff024` after `RIFF` and `7ffff000` after `data`. Makes no sense. If saving to file, the lengths are correct
[code]

So what is the way to do it better? When should we ignore incorrect length, and when shou

[2017-04-26 01:08] danpovey commented on #1567
The fix that I'd like is the way the code used to before this change, which
is, in all cases including when the size is large, to attempt to read the
data in chunks of reasonable size (not super-huge), and to keep attempting
to read up until the size that the chunk header declares.    So there is no
arbitrary cutoff of "this size is too huge".
I don't want to switch from .wav, it would cause too m

[2017-04-26 01:13] danpovey commented on #1569
OK, I have just pushed a code change that should resolve that-- please see
if it's better.

On Tue, Apr 25, 2017 at 8:53 PM, Gaofeng Cheng <notifications@github.com>
wrote:

[2017-04-26 01:28] kkm000 commented on #1567
As described this will not work in our case--the declared size is almost 2G, and the reader will die having discovered the file is too short. On the other hand, if we do not stop when a file is too short (i. e. read until the declared size OR file end is reached), we are ignoring a possibly broken (incomplete) file. What do you think is better? Currently (before @Minhua722/my change),
[code]
(code

[2017-04-26 01:31] danpovey commented on #1567
Yes, it makes sense to suppress the warning after a certain length.

On Tue, Apr 25, 2017 at 9:28 PM, Kirill Katsnelson <notifications@github.com

[2017-04-26 01:32] danpovey commented on #1567
But please don't attempt to read the whole thing in one chunk,as it
requires malloc-ing a huge amount of memory.

On Tue, Apr 25, 2017 at 9:31 PM, Daniel Povey <dpovey@gmail.com> wrote:

[2017-04-26 01:35] kkm000 commented on #1567
Sure, absolutely!

I'll send in a fix tomorrow. Is this not yet the only/main blocker for 5.2?

[2017-04-26 01:36] danpovey commented on #1567
Actually it's not a blocker at all.  Just a nice-to-fix.

On Tue, Apr 25, 2017 at 9:35 PM, Kirill Katsnelson <notifications@github.com

[2017-04-26 07:37] GaofengCheng commented on #1569
@danpovey it seems conv layer learn much faster than tdnn and lstm, about 5* faster, using the `learning-rate-factor=0.333 max-change=0.25` can halve the learning speed, but still too high.  And from several cnn experiments, cnn+batchnorm+(lstm)+tdnn overfit severely , from iter58 to 88, it becomes worse, using small change can relieve, but it still overfit , maybe I can try less epoch and dropout

[2017-04-26 07:45] GaofengCheng commented on #1569
there is a mistake in previous comments, delete

[2017-04-26 16:21] Conan-Kudo opened #1582 "Please use a coherent buildsystem"
The way Kaldi is currently structured makes it very hard to build and package for Linux distributions. I understand you guys don't want to make releases, and that's fine, but would you please consider migrating to a coherent buildsystem that supports system wide installs as well as allowing people to build and install in random places (to be embedded with applications, for instance)?

A couple of

[2017-04-26 16:57] danpovey commented on #1582
The Kaldi project itself is not the kind of thing you'd ever want to include wholesale into a LInux distribution, as it's a research tool that needs to be constantly updated to be useful.

It's possible that you might want to take *parts* of it, that were dependencies for an application of some kind, and include them.  Like a "kaldi runtime".  That is something we'd like to do at some point.

Anyw

[2017-04-26 19:46] danpovey commented on #1569
What was the mistake?
I notice that your 'final' probs were much worse than the other probs,
indicating that something went wrong in the combination stage.
BTW, re-running the compute_prob_(train or valid).sh with --test-mode=false
will indicate if the problem is unsuitable batch-norm stats.    If the
batch-norm stats are unsuitable, it will affect decoding.

Dan

On Wed, Apr 26, 2017 at 3:45 AM,

[2017-04-26 20:13] danpovey commented on #1496
Xingyu, are you still working on this?

On Tue, Apr 4, 2017 at 9:28 PM, Xingyu Na <notifications@github.com> wrote:

[2017-04-26 21:12] danpovey opened #1584 "Orthogonal matrix initialization"
This is a feature that I'd like to be added which might improve results across the board.
Please do this in the kaldi_52 branch.  @keli78, I'd like you to do this (get help from someone) to improve your C++/nnet3 familiarity.

See this blog post http://hjweide.github.io/orthogonal-initialization-in-convolutional-layers for some background.  This is applicable to affine and convolutional layers.

F

[2017-04-26 22:29] danpovey opened #1586 "Image augmentation-- rewrite/extension"
@YiwenShaoStephen, you could look at this if you want.

I think the way I started off the program nnet3-egs-augment-image.cc was not very ideal, I think we should rewrite it so that it's easier to extend it to things like shear and zoom, to be based on a co-ordinate transformation matrix.

In https://github.com/fchollet/keras/blob/master/keras/preprocessing/image.py, look for the function random_t

[2017-04-26 22:43] danpovey commented on #1586
Actually, I now realize that there are some gaps in my knowledge of how image augmentation transforms are represented.  E.g. do they left-multiply the co-ordinates into the transformed image, giving you the co-ordinates into the original image?  @hhadian , maybe it's better if you *start* this work, since you said you took an image processing course; and we can have @YiwenShaoStephen add any missi

[2017-04-26 22:48] danpovey commented on #1586
Also, @hhadian, when designing it, please bear in mind that this is intended to be used in handwriting and OCR-- this may affect some of the design choices.  For example, it might not make sense to treat the image as square when creating the random shear angle, because that would mean that you'd get very tiny 'real' shears when shearing long horizontal segments of text.

So please make choices tha

[2017-04-26 22:58] kkm000 commented on #1567
Dan, there is a complication with `featbin/wav-to-duration.cc` that uses `WaveInfoHolder` that passes an argument to wav reader to bypass reading, but not allocating the channels-by-samples storage matrix. In this mode we trust the header and allocate the channel matrix, only for the purpose of returning  its size. This will fail with the stream like one from sox. Do you have an idea how to handle

[2017-04-26 23:04] danpovey commented on #1567
I believe that in the scripts before calling wav-to-duration we grep for
sox to make sure that stuff like this isn't happening.  Just do something
that you think is reasonable, but bear in mind that we try to avoid this
ever really being called.

On Wed, Apr 26, 2017 at 6:58 PM, Kirill Katsnelson <notifications@github.com

[2017-04-26 23:11] danpovey commented on #1586
From looking at what that script calls, and at the documentation here:
https://docs.scipy.org/doc/scipy-0.19.0/reference/generated/scipy.ndimage.affine_transform.html#scipy.ndimage.affine_transform

it looks like these matrix transformations are from the *new* to the *old* co-ordinates, so no inversion is necessary in applying them.  There is also something in the code there about centering, i.e.

[2017-04-26 23:22] kkm000 commented on #1567
I do not think it ever should be called on speed-perturbed stream. I am finding calls only from data prep scripts, mostly perturb_data_dir_speed.sh, and these are certainly pre sox' speed effect. Looks like returning the actual declared duration value should be ok, provided memory allocation is avoided.

[2017-04-27 00:45] hhadian commented on #1586
OK will do

[2017-04-27 01:53] GaofengCheng commented on #1569
@danpovey OK, after several CNN experiments, I think there may be problems in batchnorm and combination.
I do experiments:
`batchcnn+batchtdnn VS batchcnn(smallmax-change)+batchtdnn VS cnn+batchtdnn VS cnn(smallmax-change)+batchtdnn`
also
`batchcnn+batchtdnn+lstm VS batchcnn(smallmax-change)+batchtdnn+lstm VS cnn+batchtdnn+lstm VS cnn(smallmax-change)+batchtdnn+lstm`
take cnn+tdnn+lstm for example

[2017-04-27 01:56] danpovey commented on #1569
It's more complicated than just doing test-mode=false, there needs to be a
command that refreshes the stats on the final.mdl before decoding.

Like one final iteration of training, but with zero learning rate, done
after combination.  That would do it.  I'll try to make a PR.

On Wed, Apr 26, 2017 at 9:53 PM, Gaofeng Cheng <notifications@github.com>
wrote:

[2017-04-27 02:00] GaofengCheng commented on #1569
After your PR, will  `test-mode=false` still be needed?

[2017-04-27 02:02] danpovey commented on #1569
test-mode=false will mostly just affect the diagnostics, I'm not sure
whether I'll recommend to pass in that option; anyway we can change the
default at the C++ level if needed.

On Wed, Apr 26, 2017 at 10:00 PM, Gaofeng Cheng <notifications@github.com>
wrote:

[2017-04-27 02:05] GaofengCheng commented on #1569
@danpovey I cannot understand , why model without batchnorm in cnn will perform such bad compared with their counterparts with batch in cnn, the accuracy for training iter looks good, though vibrating a lot(batchnorm in cnn make the training more stable). According to our guess, batchnorm stats lead to decoding problem. removing it in cnn should relieve this problem

[2017-04-27 02:11] danpovey commented on #1569
I don't really understand what you are asking.

On Wed, Apr 26, 2017 at 10:05 PM, Gaofeng Cheng <notifications@github.com>
wrote:

[2017-04-27 02:19] naxingyu commented on #1496
Yes…
I have the basic code. But before I got to test, I was involved in a emergent project, till yesterday.
I think I can finish this before next Monday...

[2017-04-27 02:30] danpovey commented on #1569
Gaofeng, within half an hour I will submit a PR.  But I'm only doing the
change for the nnet3, non-chain side, I will want you to replicate my
changes in the 'chain' binaries before testing it.  You can make a PR with
your changes.

On Wed, Apr 26, 2017 at 10:11 PM, Daniel Povey <dpovey@gmail.com> wrote:

[2017-04-27 02:32] danpovey commented on #1569
So what I do in my PR is, in the nnet3-combine code we use test-mode=false
to get the combination weights; and when we have them, we get the batchnorm
stats again, on the combination data.
I believe all the lines of code that I am changing have 'chain' versions
that need to be changed also.

On Wed, Apr 26, 2017 at 10:30 PM, Daniel Povey <dpovey@gmail.com> wrote:

[2017-04-27 02:53] GaofengCheng commented on #1569
@danpovey my doubt is why I just remove batch in cnn, the WER will change so much.....

[2017-04-27 02:54] danpovey commented on #1569
So maybe what you're saying that if you just remove batch-norm from CNN,
the WER gets bad.
I think CNNs tend to get very unstable without batchnorm, maybe you'd need
much smaller learning rates.

On Wed, Apr 26, 2017 at 10:53 PM, Gaofeng Cheng <notifications@github.com>
wrote:

[2017-04-27 03:48] kkm000 commented on #1567
Just a note, mostly to self: sox uses [`MS_UNSPEC = 0x7ffff000`](https://github.com/chirlu/sox/blob/4927023d0978615c74e8a511ce981cf4c29031f1/src/wav.c#L33) for unspecified length: [read](https://github.com/chirlu/sox/blob/4927023d0978615c74e8a511ce981cf4c29031f1/src/wav.c#L808), [write](https://github.com/chirlu/sox/blob/4927023d0978615c74e8a511ce981cf4c29031f1/src/wav.c#L1346):
[code]
Wav format

[2017-04-27 19:06] jtrmal opened #1588 "IRSTLM under GCC 6.x"
reported by Anand Joseph <joseph.anand.public@gmail.com>:

Hi all this is for those trying to compile IRSTLM on systems where GCC 6.x is the default compiler and are facing the following error message.
/usr/local/include/c++/6.2.0/cstdlib:75:25: fatal error: stdlib.h: No such file or directory
 #include_next <stdlib.h>
                         ^
compilation terminated.

The solutions is to edit th

[2017-04-28 07:53] vdp opened #1591 "GetLinearSymbolSequences() implementation needs to be fixed"
I believe the implementation of that function is somewhat broken. We have two options here:

* fix it, and the corresponding unit test, that is currently not general enough
* remove it altogether- unless my grep-fu is failing me, it's not actually used anywhere. I think it could be potentially useful, but for now it's just a dead code
* (a third option could be me just misunderstanding how this fu

[2017-04-28 10:09] vdp commented on #1591
Just realized that I haven't actually said what I think is wrong with the code. I see three problems: a) a typo isymbols/osymbols, b) not taking into account that the start node will in general have branching factor greater than 1, c) fail to advance through the branches, so instead of returning N hypotheses it just returns N copies of the first hypothesis.
A quick-and-dirty fix that worked for me

[2017-04-28 10:17] naxingyu commented on #1496
One problem remaining, is there a std::vector to kale::Vector convertor?

[2017-04-28 11:10] YiwenShaoStephen commented on #1586
How is it going now? I've done some reading on this topic and I think I can do more help. To make the algorithms more elegant as the keras does, I think it would be better to first make a intermediate matrix (like the 3d array in numpy) to store the value in the kaldi matrix, and then multiply transformation matrices on it.  It will be easier to do further work like debugging or documentation. Is

[2017-04-28 11:25] psmit opened #1592 "Failures when python is python3"
At this moment kaldi assumes that python is actually python2. Most distro's have this indeed configured this way, but I have at least 2 cases that this doesn't hold

1) Arch linux
2) When using a module system and both python2 and python3 versions are loaded, sometimes this causes python to be linked to python2.

I think the best solution would be to write explicitly `#!/usr/bin/env python2` inste

[2017-04-28 11:31] psmit opened #1593 "Is the "dash" warning still current?"
In the check dependencies script there is a warning if `/bin/sh` is actually `dash`. The proposed solution is often not possible on university-installed machines, as wise system administrators do not give normal users `sudo` powers.

The explanation in the script is:

    # Debian systems generally link /bin/sh to dash, which doesn't work
    # with some scripts as it doesn't expand x.{1,2}.y to x

[2017-04-28 11:46] jtrmal commented on #1593
The issue is not in incorrect shebang. The issue lies with the function popen() that is used for the pipe r/w-specifiers -- see man popen:

[code]

[2017-04-28 11:52] jtrmal commented on #1592
I think that could work.
https://www.python.org/dev/peps/pep-0394/

I'm not sure, however, if all distributions and other OS (Mac?) do support python2 link.  Also, according to the PEP, it's actually Arch that is causing the incompatibility, so I don't think we should spend too much of our time trying to deal with that.

[2017-04-28 12:12] dresen commented on #1592
I'm in the middle of installing Kaldi on a 2015 macbook pro and the solution with bash alias'ing python to python2.7 doesn't work - extras/check_dependencies.sh still reports version 3.*

[2017-04-28 14:49] jtrmal commented on #1592
@dresen -- I think that's because bash by default does not expand aliases when in non-interactive mode. I think
shopt -s expand_aliases
might help

[2017-04-28 14:58] jtrmal commented on #1592
btw, when I'm thinking about it -- expanding the aliases could have a lot of negative results. Perhaps it would be better to define a shell function
[code]
or something like that -- I don't have time to test it out now.

[2017-04-28 16:58] danpovey commented on #1592
python2 is not defined on my mac.
I believe the Python community has accepted that python3 is essentially a
separate language for compatibility purposes, and that python2 will always
be invoked as "python", and python3 as "python3".

In my opinion Arch linux has painted itself into a corner by this choice,
because it's not compatible with the rest of the world.

Dan

On Fri, Apr 28, 2017 at 10:58

[2017-04-28 17:18] danpovey commented on #1593
I removed the warning- looks like we fixed scripts to not require that feature.

[2017-04-28 17:18] #1593 closed

[2017-04-28 17:19] danpovey commented on #1586
Hossein, I don't know how busy you are, should Stephen go ahead and start,
or are you going to do it soon (e.g. today)?

On Fri, Apr 28, 2017 at 7:10 AM, YiwenShaoStephen <notifications@github.com>
wrote:

[2017-04-28 17:21] danpovey commented on #1496
One way to do the conversion is:

std::vector<BaseFloat> nonempty_vector(..)
SubVector<BaseFloat> vec(&(nonempty_vector[0]),
                nonempty_vector.size());
so it points  at the memory of 'nonempty_vector'.

On Fri, Apr 28, 2017 at 6:17 AM, Xingyu Na <notifications@github.com> wrote:

[2017-04-28 17:31] danpovey commented on #1591
Just remove it, it doesn't seem to be used anywhere.  I think I prefer a PR
to kaldi_52.

On Fri, Apr 28, 2017 at 6:09 AM, Vassil Panayotov <notifications@github.com>
wrote:

[2017-04-28 19:12] hhadian commented on #1586
I'll do it today.

[2017-04-30 11:16] vdp commented on #1591
The function was removed in PR #1594

[2017-04-30 11:16] #1591 closed

[2017-05-01 04:34] psmit commented on #1592
I disagree Dan. In the linked PEP is written that this choice will be revisited every couple years. Also, this PEP came only after Arch changed it's default python. There was no python community opinion before they did that; the community saw the effects and created this PEP as a reaction.

Anyway, the advise of this PEP is to use python2 in the shebang. Could you maybe look why your mac does not

[2017-05-01 04:51] danpovey commented on #1592
Hm.

The PEP does seem to say that python2 is the preferred way to invoke
python.  However, since my mac doesn't have python2 installed, and I think
probably a bunch of people have the same issue (regardless of the exact
reason), so I'm inclined to wait a bit before changing all the python's to
python2.

Dan

On Mon, May 1, 2017 at 12:34 AM, Peter Smit <notifications@github.com>
wrote:

[2017-05-02 10:16] psmit commented on #1592
Fair point about the mac. On the other hand, in our group we still have a problem if some loads python modules in the 'wrong' order or e.g. enables a python3 virtual environment (for their own scripts).

Would it be a suggestion to reverse the warning; giving people the command how to create a python2 symlink if it doesn't exist? Or add a symlink automatically in the tools path somewhere if 'pytho

[2017-05-02 17:25] danpovey commented on #1592
Hm, that is a reasonable idea.  But it's @jtrmal who understands best how
the env.sh works, so it's a question of when he has time.

(However, I'd say that it probably a bad idea for your group to purposely
set things up so you need to invoke python3 as just 'python', as the pep3
standard definitely doesn't recommend that).

On Tue, May 2, 2017 at 6:16 AM, Peter Smit <notifications@github.com> wro

[2017-05-02 18:39] jtrmal commented on #1592
What could work is create a correct symlink somewhere in, say, tools and
setting PATH so that this symlink will be preferred.
That might be more reliable than aliases or functions. I just worry if we
want to add another layer of indirection. Perhaps you could write a PR in
that direction and test it on your setup?

On the users -- I agree with Dan, mostly -- if the user or users purposely
maps/ali

[2017-05-02 18:49] jtrmal commented on #1592
BTW, I'm ok with changing the shebang to python2 if that helps in making
things more robust but so far it looks like opening another can of issues
without actually solving anything -- instead of archlinux, the problems
will (probably) start popping out somewhere else.
y.

On Tue, May 2, 2017 at 2:39 PM, Jan Trmal <jtrmal@gmail.com> wrote:

[2017-05-02 18:52] danpovey commented on #1592
I'd be OK to wait until we hear more reports of problems, maybe few people
use arch linux anyway.
Peter Smit seemed to be saying that people in his group were *purposely*
mapping python to python3, it wasn't even an arch linux issue.
The fact that they were doing this intentionally makes me rather less
sympathetic to their situation than I was before.

On Tue, May 2, 2017 at 2:49 PM, jtrmal <notif

[2017-05-02 21:53] pegahgh commented on #1584
@keli78 I wonder how much does it help in faster convergence for convolution layer?
Did you check the relative parameter difference for convolution layer?

[2017-05-03 03:27] psmit commented on #1592
We do not purposely map python to python3, but that symlink is created by different installations. For example when anaconda3 is installed, or when a python3 virtual environment is activated.

In our group it is like this:
The cluster has a version of python2 installed through rpm's, but the admins advise to use a different python, one that they have installed and which can be put on the path usin

[2017-05-03 03:30] danpovey commented on #1592
The plan sounds OK to me.

On Tue, May 2, 2017 at 11:27 PM, Peter Smit <notifications@github.com>
wrote:

[2017-05-09 05:46] pzelasko commented on #720
@danpovey Were you successful? Could you provide a link to your toolkit?

[2017-05-09 05:59] danpovey commented on #720
It exists but the benefits over conventional toolkits are not so great that
I would shout about it, and it's not as flexible as, say, SRILM.  It's the
pocolm repository on my github page (danpovey).

https://github.com/danpovey/pocolm

On Tue, May 9, 2017 at 1:47 AM, Piotr Żelasko <notifications@github.com>
wrote:

[2017-05-11 13:36] jtrmal opened #1618 "add warning to babel scripts about missing icu4c"
I think there is already a script in local/ that checks dependencies, so this should be added as an dependency.
Reported by Noor Fathima

[2017-05-18 14:51] nizmagu opened #1629 "segment_long_utterances.sh failing on decode_segmentation"
I was trying to use segment_long_utterances.sh on 6 5-hour-long files.
Upon reaching stage 4, I get the following message:
[code]
When inspecting the log files, decode_segmentation gave this error:
[code]

I tried to use validate_data_dir.sh and it says the files are in sorted order.
I believed it may have something to do with locale so I used `export LANG=` and `export LC_ALL=C` and checked with

[2017-05-18 17:03] danpovey commented on #1629
This looks like an error in the script, not a user error; Vimal will fix it today hopefully.

[2017-05-18 17:59] vimalmanohar commented on #1629
@nizmagu Can you check if this solves the problem?

[2017-05-19 05:29] psmit commented on #1592
Just a small note, I have been sick in the past 2 weeks and now I'm first swamped with some other work stuff. I'll hope to get to making the PR in one to two weeks from now.

[2017-05-19 07:06] sinha135 opened #1634 "Failed to load shared library"
Error Loading shared library

#online2-wav-nnet3-latgen-faster: error while loading shared libraries: libfst.so.7: cannot open shared #object file: No such file or directory
 Accounting: time=0 threads=1
Ended (code 127) at Fri May 19 11:12:46 IST 2017, elapsed time 0 seconds

No idea where to get this libsft from

[2017-05-19 07:47] z7059652 opened #1635 "windows-complie"
according to install.md, the 5 step is patch the OpenFST(win). But I can't find the openfstwin-1.3.4.patch which is located in $(tools)/extras.
thanks. I am looking forward to your reply

[2017-05-19 13:32] jtrmal commented on #1635
it's been discussed. you have to use the 5.0 branch. The 5.1 branch uses openfst 1.6.2 for which I wasn't able to make it compile under windows, yet, partially because I'm busy and partially I don;t have easy access to a windows machine.
y.

[2017-05-19 13:32] #1635 closed

[2017-05-19 16:54] danpovey commented on #1634
You get this error  when you compile Kaldi in one place and then move the directory tree around, because the location of the library path is encoded in the binary.
Fixes are: move it back, patch it with a soft link, or add the location to your LD_LIBRARY_PATH.  Best to find someone local with more Linux experience to help you, I'm busy.

[2017-05-19 16:54] #1634 closed

[2017-05-22 11:18] nizmagu commented on #1629
This solves the decode problem, however a new problem came up.

The script crashed at stage 9 with the following error:
`run.pl: 6 / 6 failed, log is in exp/segment_train_long/lats/log/retrieve_similar_docs.*.log`

Here is a sample log file:

[code]

I tried to change `--source-text2tfidf-file` to `--source-text-id2tfidf` and this was the result:
[code]

`args.source_tfidf` seemed to only be refer

[2017-05-22 15:53] lordadamson opened #1638 "OfflineFeatureTpl<F>::Compute does not match any in class 'kaldi::OfflineFeatureTpl<F>"
Hello there.

One of my projects uses `kaldi-feat`. Kaldi itself successfully compiles producing shared libs. But when I try to build against it including `#include "feat/feature-mfcc.h"` I get this error.

[code]

This is the same exact this but compiling with CLang:
[code]

Is my code faulty somehow or is it something to fix in kaldi?
Thank you in advance and thank you for this beautiful softwar

[2017-05-22 16:41] vimalmanohar commented on #1629
I'll create a pull request soon.

On Mon, May 22, 2017, 07:18 nizmagu <notifications@github.com> wrote:

--
Vimal Manohar
PhD Student
Electrical & Computer Engineering
Johns Hopkins University

[2017-05-22 16:53] lordadamson commented on #1638
Okay I appologise I have accidentally modified the kaldi source code.
I'll close the issue now

[2017-05-22 16:53] #1638 closed

[2017-05-23 08:30] psmit opened #1640 "Get a topsorted latice?"
I'm creating some rescoring scripts of my own and it would be very convenient if I can make lattices topologically sorted. It does not seem this is possible with the normal fst tools as I would need to define a custom weight to read the special lattice weights.

Is there any way to easily TopSort a lattice? If not, would you accept a patch that either introduces `lattice-topsort` or a flag to `lat

[2017-05-23 18:37] vimalmanohar commented on #1629
I fixed some issues in #1639

[2017-05-23 19:59] jtrmal commented on #1640
IMO lattice-topsort is a better option than adding flag.
y.

On Tue, May 23, 2017 at 4:30 AM, Peter Smit <notifications@github.com>
wrote:

[2017-05-24 09:38] vdp commented on #1640
@psmit: BTW, why not use OpenFst's weight registration mechanism? If I'm not mistaken OpenFst's command line tools are build on top of their "script" infrastructure, so you should be able to use them with (compact) lattice weights. See [this comment](https://sourceforge.net/p/kaldi/mailman/message/32968915/) by Paul Dixon. He has a blog post about this too.

[2017-05-24 09:56] psmit commented on #1640
Thanks for the tip @vdp ! I'll certainly look to that as well to see if it would suit my purposes

[2017-05-25 11:52] nizmagu commented on #1629
That fixed the issue, thanks a lot!

[2017-05-25 13:38] lordadamson opened #1642 "extras/check_dependencies.sh some people have yum on ubuntu and that makes the script fail"
The machine I was working on had yum on it even though it was an ubuntu machine. So the check_dependencies.sh script failed.
Maybe find a better way to detect OS in the script?

[2017-05-25 17:48] danpovey commented on #1642
I just pushed a change (on master) to the script so that if apt-get is present it doesn't look for yum.   Should work now.   If not re-open the issue.

[2017-05-25 17:48] #1642 closed

[2017-05-25 21:23] lordadamson commented on #1642
thank you, I'll test and let you know the results.

[2017-05-26 11:45] maelp opened #1643 "reporting.interval is incorrectly defined as int"
This should be `float` https://github.com/kaldi-asr/kaldi/blob/7af2128d68c92b20a5095b4adadf07e5bb2156a0/egs/wsj/s5/steps/libs/nnet3/train/common.py#L912

[2017-05-26 17:25] osadj opened #1644 "Bug in train_raw_dnn.py"
At the end of NN training using train_raw_dnn.py, I got an error that seems to be a bug. You can reproduce this by adding the following line in the main routine of train_raw_dnn.py:

print("{dir}/accuracy.{output_name}.report".format(dir=args.dir))

which generates the error:

Traceback (most recent call last):
  File "steps/nnet3/train_raw_dnn.py", line 447, in <module>
    main()
  File "steps/n

[2017-05-26 17:32] danpovey commented on #1644
It would be great if you can make a pull request to fix this.  Otherwise
@vimalmanohar will do it, but he's very busy.

On Fri, May 26, 2017 at 1:26 PM, osadj <notifications@github.com> wrote:

[2017-05-26 17:40] osadj commented on #1644
Sure. Will do.

[2017-05-26 17:41] danpovey commented on #1644
Also please fix the separately reported bug that reporting.interval should
be float but is int, in libs/nnet3/train/common.py

On Fri, May 26, 2017 at 1:40 PM, osadj <notifications@github.com> wrote:

[2017-05-26 17:49] osadj commented on #1644
In that case, I have also resolved some issues with generate_plots. Should I also include those?

[2017-05-26 17:51] danpovey commented on #1644
sure.

On Fri, May 26, 2017 at 1:49 PM, osadj <notifications@github.com> wrote:

[2017-05-31 13:54] psmit opened #1660 "Default dropout has changed?"
I noticed that a xconfig-based tdnn_blstm recipe (like the one in swdb but for other data) suddenly had a very bad performance in kaldi52 compared to the master branch a month ago. I'm using the same egs and scripts and finally I found differences in the generated `configs/xconfigs.expanded.1` and `configs/xconfigs.expanded.2` . All relu-renorm-layers have gotten default values `dropout-proportion

[2017-05-31 18:22] danpovey commented on #1660
That wouldn't be the reason.  dropout-proportion only has an effect if the
layer is something like relu-dropout-layer.  And dropout-schedule only has
an effect if there are dropout layers present.
Look for other reasons, e.g. see when the training likelihoods start to
differ.

Dan

On Wed, May 31, 2017 at 9:54 AM, Peter Smit <notifications@github.com>
wrote:

[2017-05-31 18:36] danpovey commented on #1660
Also you can share the output of steps/info/chain_dir_info.pl for both
dirs, I might see something.

On Wed, May 31, 2017 at 2:22 PM, Daniel Povey <dpovey@gmail.com> wrote:

[2017-06-01 02:55] psmit commented on #1660
exp/chain/model/gr_tdnn_blstm_9_a: num-iters=2150 nj=4..4 num-params=48.3M dim=40+100->3426 xent:train/valid[1431,2149]=(-0.655,-0.595/-0.716,-0.718) logprob:train/valid[1431,2149]=(-0.046,-0.037/-0.064,-0.066)
    exp/chain/model/gr_tdnn_blstm_9_g: num-iters=1200 nj=4..4 num-params=48.3M dim=40+100->3426 xent:train/valid[798,1199]=(-0.745,-0.680/-0.785,-0.749) logprob:train/valid[798,1199]=(-0.06

[2017-06-01 03:03] danpovey commented on #1660
Wait-- by "very bad performance"  you refer to a 0.2% absolute difference?
That's well within the normal variability that you expect on a rerun; it's
no change at all.  Certainly not the kind of difference that the words
"very bad" imply.

On Wed, May 31, 2017 at 10:55 PM, Peter Smit <notifications@github.com>
wrote:

[2017-06-01 03:07] psmit commented on #1660
Nope, I now made a mistake and blindly gave you the results from two runs with the original code... I'll take a cup of coffee now and give you the correct numbers

[2017-06-01 03:20] psmit commented on #1660
So to explain. I run _a with the old code. After that I switched to kaldi_52 to try things like proportional-shrink and other small parameter changes (1 change per experiment) and none of the results were getting better. After that I got suspicious and ran the _a code again, once with the old code and once with new code. The new code I stopped already after 400 iterations as it was clearly going w

[2017-06-01 03:55] danpovey commented on #1660
It's not clear from that output what the issue is.  The training log-prob
is better than before, which would normally be a good thing.  You don't
show valid log-probs, so I don't know if it's overtraining.
Maybe check that you can reproduce the old results with the old code, and
check that all the options in the training log files look about the same.
 (A few deprecated options have been removed t

[2017-06-01 04:04] psmit commented on #1660
Here are the validation log-probs:

Iteration 200:

    exp/chain/model/gr_tdnn_blstm_9_a/log/compute_prob_valid.200.log:LOG (nnet3-chain-compute-prob[5.1]:PrintTotalStats():nnet-chain-diagnostics.cc:170) Overall log-probability for 'output-xent' is -0.962797 per frame, over 18375 frames.
    exp/chain/model/gr_tdnn_blstm_9_a/log/compute_prob_valid.200.log:LOG (nnet3-chain-compute-prob[5.1]:PrintT

[2017-06-01 04:07] danpovey commented on #1660
If you still have the models, try rerunning the job that computes the
log-prob with the new vs old code and the new vs. old models to see that
the log-prob computation is not changed.

On Thu, Jun 1, 2017 at 12:04 AM, Peter Smit <notifications@github.com>
wrote:

[2017-06-01 04:32] psmit commented on #1660
First observation, the old code does not run on the new model. nnet3-am-copy fails with:

    ERROR (nnet3-am-copy[5.1]:ExpectToken():io-funcs.cc:201) Expected token "<MaxChangePerSample>", got instead "<IsGradient>".

Old code is commit a7e6183 from May 16th, new code is commit a57eab6 from May 30th.

Old code:

    gr_tdnn_blstm_9_a:LOG (nnet3-chain-compute-prob[5.1]:PrintTotalStats():nnet-chain

[2017-06-01 04:42] danpovey commented on #1660
OK; I assume those are not the same iteration.

On Thu, Jun 1, 2017 at 12:33 AM, Peter Smit <notifications@github.com>
wrote:

[2017-06-01 04:45] psmit commented on #1660
Actually they are all train logprobs from training iteration 200. I now see that the result for the newer model is different then from in the log-file. I'll investigate that and get back to you

[2017-06-01 04:52] psmit commented on #1660
In the logs there is a difference in command used for logprob calculation:

    ==> exp/chain/model/gr_tdnn_blstm_9_a/log/compute_prob_train.200.log <==
    # nnet3-chain-compute-prob --l2-regularize=5e-05 --leaky-hmm-coefficient=0.1 --xent-regularize=0.025 "nnet3-am-copy --raw=true exp/chain/model/gr_tdnn_blstm_9_a/200.mdl - |" exp/chain/model/gr_tdnn_blstm_9_a/den.fst "ark,bg:nnet3-chain-copy-eg

[2017-06-01 04:55] danpovey commented on #1660
Those options are no longer passed in because in all currently checked-in
setups there is no need for it, since the egs are generated with the
desired amount of context.  I wanted to get rid of unnecessary complexity.

If you dumped the egs with more context, and then wanted for some reason to
use egs with less context, then the new code would cause a mismatch.

But it doesn't really make sense to

[2017-06-01 04:55] psmit commented on #1660
I think we are onto something, the same is true for the training commands:

    head -n1 exp/chain/model/gr_tdnn_blstm_9_{a,h}/log/train.200.1.log
    ==> exp/chain/model/gr_tdnn_blstm_9_a/log/train.200.1.log <==
    # nnet3-chain-train --verbose=1 --apply-deriv-weights=False --l2-regularize=5e-05 --leaky-hmm-coefficient=0.1 --read-cache=exp/chain/model/gr_tdnn_blstm_9_a/cache.200 --write-cache=ex

[2017-06-01 05:01] psmit commented on #1660
In this recipe it seems that extra-left-context and extra-right-context are only used during decoding. Is that then incorrect? https://github.com/kaldi-asr/kaldi/blob/master/egs/swbd/s5c/local/chain/tuning/run_tdnn_blstm_1b.sh

[2017-06-01 05:04] psmit commented on #1660
I anyway will dive into my scripts to see how I generate the egs and what the context is. Is there any command available (or standard log location) to see the context that was used for generating the egs?

[2017-06-01 05:08] danpovey commented on #1660
Yes, they should have been to train.py as well, I forget the option names.  I suspect that when @GaofengCheng ran this, he was using egs dumped from elsewhere.  The invocation of train.py should use the same options.
In addition, there should no longer be separate variables chunk_left_context and extra_left_context (and the same for right), in both 1a and 1b there should just be the variables extr

[2017-06-01 05:15] danpovey commented on #1660
for the egs context you'll see it in egs-dir/log/get_egs.*.log.

[2017-06-01 05:24] psmit commented on #1660
Thanks. I'll look to this and try to update my scripts. Thanks for all the help!

[2017-06-01 05:27] psmit commented on #1660
One thing still, I don't find any other tdnn_blstm scripts I can use as example. What would be the best tdnn_lstm script to look to as example to implement the newest style of doing things?

[2017-06-01 05:29] danpovey commented on #1660
Actually, wait, those scripts that Gaofeng added are  not wrong, they are
just a little out of date.  They do have the chunk-left-context option,
it's set to 40 (same for right context).  That is reasonable--  although
for more recent commits I prefer to have just a single variable
extra_left_context, you could set it to 40 for instance, and use it for
both purposes.
But it looks to me like you mi

[2017-06-01 05:46] psmit commented on #1660
I see now. I think earlier those options did not have any effect anymore after egs generation and they got left out from my model training recipe. I fixed that now and I am rerunning stuff.

[2017-06-01 06:03] danpovey commented on #1660
Well actually they don't have any effect in kaldi_52, they used to
previously.
So it's clear why things are different now, but it's not clear why you are
getting a degradation in test results with kaldi_52, because if anything,
since you do use extra context in test time, we'd expect passing in those
context options in the old code would have hurt results.
Anyway if you have an all-modern script,

[2017-06-01 08:05] GaofengCheng commented on #1660
@danpovey
maybe the usage of left_context (for training) and extra_left_context (for decoding) (also same for right) is reasonable, using more context during decoding (50 vs 40) should not affect the WER

[2017-06-01 08:32] GaofengCheng commented on #1660
@psmit recommend TDNN-LSTM rather than TDNN-BLSTM for performance and speed

[2017-06-01 17:13] danpovey commented on #1660
@GaofengCheng, it's not harmful, but it's wasteful; and since kaldi 5.1
it's not helpful to WER (the decay-time makes it unnecessary to use extra
context).  I don't like to have out-of-date scripts be the default.

Can you please prepare a "c" version of that TDNN+BLSTM script, and look
at: egs/wsj/s5/local/chain/run_tdnn_lstm.sh for reference?  Points to note:

- frames_per_chunk is a comma-separ

[2017-06-02 01:12] GaofengCheng commented on #1660
@danpovey OK I'll update a new scripts together with the results， will some delay be tolerable？

[2017-06-02 01:13] danpovey commented on #1660
no problem.

On Thu, Jun 1, 2017 at 9:12 PM, Gaofeng Cheng <notifications@github.com>
wrote:

[2017-06-04 08:15] vijayaditya opened #1666 "get_command_stdout in common lib will not raise exception unless the last command in the pipe fails"
Unless the last command fails the exit code will be 0, this can lead to missing important error information and uninformative errors later.
e.g. in [xconfig_to_configs.py]( https://github.com/kaldi-asr/kaldi/blob/master/egs/wsj/s5/steps/nnet3/xconfig_to_configs.py#L231) though the `nnet3-info` fails there is no exception as `head -n 4` will return with exit code 0.

[2017-06-04 08:33] vijayaditya commented on #1666
Is using `set -o pipefail` a possible solution  ?

[2017-06-04 17:46] danpovey commented on #1666
It's hard to fix this generically.
set -o pipefail doesn't work in dash, and we try to support systems where
/bin/sh is dash.
maybe best to fix it in the particular case.

On Sun, Jun 4, 2017 at 4:33 AM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2017-06-04 17:47] vijayaditya commented on #1666
OK.

[2017-06-04 17:47] #1666 closed

[2017-06-06 06:18] wuqiangch opened #1667 "two problems about Build it on windows2013 and openblas"
Hi everyone:
1、Build started: Project: fsts-difference, Configuration: Release x64 ------
193>  fsts-difference.cc
193>c1xx : fatal error C1083: Cannot open source file: '..\..\..\src\fstbin\fsts-difference.cc': No such file or directory
2、Build started: Project: fsts-to-transcripts, Configuration: Release x64 ------
195>  fsts-scale.cc
195>c1xx : fatal error C1083: Cannot open source file: '..\..

[2017-06-06 06:28] danpovey commented on #1667
I'm afraid the Windows build is not working at the moment.  Those files
were removed but maybe they are still present in the solution file.
Hopefully Yenda will fix it at some point but it's not a super high
priority.

On Tue, Jun 6, 2017 at 2:18 AM, wuqiangch <notifications@github.com> wrote:

[2017-06-06 07:33] wuqiangch commented on #1667
@danpovey Thanks very much!   I am study the egs/sre10/v1 and v2. I want to use my trained model to create a demo project. Likely,the input of the demo is a wav file and  the output of the demo is the feature of the wav file. Where can i find the reference material? Can you help me? Thanks!!

[2017-06-06 15:07] yujunlhz opened #1668 "–self-loop-scale 1.0 in chain training and decoding"
Dear Kaldi developers:
I notice the following statement in chain document:
"By default when we compile the graph, we use a 'self-loop-scale' of 0.1. This affects how the transition probabilities on self-loops are treated (it generally works better). However, for the 'chain' models, because of how they were trained, we need to use exactly the same transition-probability scaling we trained with, whi

[2017-06-06 16:16] jtrmal commented on #1667
you could use the branch 5.0, but lot of things was improved in the newer
versions. For your purposes, it should be fine, though.
y.

On Tue, Jun 6, 2017 at 3:33 AM, wuqiangch <notifications@github.com> wrote:

[2017-06-06 17:34] danpovey commented on #1668
It's hardcoded in the training, it takes place at the C++ level.
Dan

On Tue, Jun 6, 2017 at 11:07 AM, yujunlhz <notifications@github.com> wrote:

[2017-06-07 16:37] maddin200 opened #1670 "unreachable code"
src\nnet3\nnet-analyze.cc line 945
unreachable code:
if (command_index + 1 != num_commands)

[2017-06-07 20:18] danpovey commented on #1670
Thanks-- fixed.

[2017-06-07 20:18] #1670 closed

[2017-06-08 18:44] akshayc11 opened #1672 "Installation of sequitur and mmseg fails (Prerequisites for GALE Mandarin)"
I am not sure if this is system dependent, but here is my setup:
I have a custom pythonpath where I have installed virtualenv, from which I have created a separate virtual environment.

When I try to run
[code]

I noticed that the installation script expects the setup.py to install the libraries at <sequitur_dir>/lib
However, the system installs it in <sequitur_dir>/lib64
A similar problem arose i

[2017-06-08 19:04] jtrmal commented on #1672
this is definitely system dependent. The patch itself is not
valid for other systems.
what system do you use?
y.

On Thu, Jun 8, 2017 at 2:44 PM, Akshay Chandrashekaran <
notifications@github.com> wrote:

[2017-06-08 19:39] danpovey commented on #1672
The sequitur installation commands in install_sequitur.py explicitly select
the current directory as the installation target:

cd sequitur-g2p
make CXX=g++ CC=gcc
python setup.py install --prefix `pwd`

cd ../

So I don't understand why it would install in lib64.
Dan

On Thu, Jun 8, 2017 at 3:04 PM, jtrmal <notifications@github.com> wrote:

[2017-06-09 08:48] akshayc11 commented on #1672
When you specify the prefix, I believe the setup.py creates a lib (in my case lib64) folder, into which it installs the python-specific site-packages. I believe the issue may be arising due to something akin to this: https://github.com/Linuxbrew/legacy-linuxbrew/issues/443

This is being run on a centOS (which is an RHEL fork)

One of the comments in the above issue was:
[code]

I guess I am one o

[2017-06-09 09:58] YichiHuang opened #1675 "Question about egs/callhome_diarization"
Hi,
I have a question about the script `egs/callhome_diarization/v1/local/make_callhome_test.sh`.
What's the meaning of `segments, seg2utt,utt2num`? Can you give me a format or example of the content in these files?
Thanks.

[2017-06-09 17:28] danpovey commented on #1672
Hm.  If some OSs still do this, I think it might be worthwhile fixing it in
some way.  @jtrmal, any chance you could make an 'issue'?  Unless you
disagree.

On Fri, Jun 9, 2017 at 4:48 AM, Akshay Chandrashekaran <
notifications@github.com> wrote:

[2017-06-09 17:38] david-ryan-snyder commented on #1675
@YichiHuang,

This recipe is _not_ part of the main branch of Kaldi master. You might've found some partial work in one of my personal branches. Which branch were you looking at?

[2017-06-09 19:15] #1668 closed

[2017-06-09 19:15] #1667 closed

[2017-06-09 19:16] #1644 closed

[2017-06-09 19:16] #1660 closed

[2017-06-09 19:17] #1570 closed

[2017-06-09 19:17] danpovey commented on #1643
resolved.

[2017-06-09 19:17] #1643 closed

[2017-06-09 19:17] #1640 closed

[2017-06-09 19:18] danpovey commented on #1584
Closing-- didn't work.

[2017-06-09 19:18] #1584 closed

[2017-06-09 19:19] danpovey commented on #1528
Resolved in #1559

[2017-06-09 19:19] #1528 closed

[2017-06-09 19:19] danpovey commented on #1533
IIRC we didn't get any benefit from gated linear layer and probably won't merge any changes.  Closing this issue.

[2017-06-09 19:19] #1533 closed

[2017-06-09 21:01] #1567 closed

[2017-06-09 21:02] danpovey commented on #1586
this is already done.

[2017-06-09 21:02] #1586 closed

[2017-06-09 21:02] #1574 closed

[2017-06-09 21:16] danpovey commented on #1398
Resolved  as part of kaldi 5.2.

[2017-06-09 21:16] #1398 closed

[2017-06-09 21:17] #1420 closed

[2017-06-09 21:17] danpovey commented on #1486
resolved with #1661

[2017-06-09 21:17] #1486 closed

[2017-06-09 21:18] danpovey commented on #1476
closing as wontfix, cygwin not being a high-priority platform.

[2017-06-09 21:18] #1476 closed

[2017-06-10 07:24] jtrmal commented on #1672
I will. I think it should be fairly easy to fix -- will look into it.
y.

On Fri, Jun 9, 2017 at 1:28 PM, Daniel Povey <notifications@github.com>
wrote:

[2017-06-10 09:53] jtrmal commented on #1672
I created a fix for that. it would be great if @akshayc11  could test for lib64 case -- I tested for debian and seems to work for lib/ case.
y.

[2017-06-10 10:37] Miail opened #1678 "Fix name"
https://github.com/kaldi-asr/kaldi/blob/85a3dd5f0b71e419abf1169a26b759bfc423a543/src/bin/analyze-counts.cc#L46

`ali-to-phone` doesn't exist, but` ali-to-phones` does.

[2017-06-10 17:51] danpovey commented on #1678
Do you know git/github well enough to create a pull request to fix this?

[2017-06-10 17:59] danpovey commented on #1678
forget it, i'll fix it myself with something else.

[2017-06-10 17:59] #1678 closed

[2017-06-11 00:38] akshayc11 commented on #1672
@jtrmal I tested the PR, and have added some comments there... Once those are addressed, I think the issue is fixed.

[2017-06-11 21:17] #1496 closed

[2017-06-12 09:18] YichiHuang commented on #1675
@david-ryan-snyder

Yes, I find this recipe in your personal branch.  The repository is `david-ryan-snyder/kaldi` with branch `kaldi-diarization-v3`.

[2017-06-12 14:41] david-ryan-snyder commented on #1675
That script you pointed to isn't used anywhere in that recipe (look in the run.sh). It's a leftover from some previous work.

Keep in mind that what you found is _work in progress_ in a personal branch that isn't intended for public use. If any of this recipe makes its way into the Kaldi master branch it may look significantly different from what you found and you can certainly expect better docum

[2017-06-12 17:27] #1675 closed

[2017-06-13 17:51] #1672 closed

[2017-06-13 21:43] danpovey opened #1683 "RNNLM plan"
I have been thinking the last few weeks about the best way to proceed with Kaldi support for RNNLMs, and I have come up with the outlines of a plan.

I'm putting this up here as an issue just for the information of whoever might be interested, but the main people I hope to help with this are @hainan-xv, @keli78, @wantee, and if he has time, @kangshiyin for GPU stuff.

Generally speaking it will lo

[2017-06-14 02:35] danpovey commented on #1683
[oh, and something else: it will also support data weighting so we can up-weight the more in-domain data.]

[2017-06-14 04:41] 9crk opened #1684 "fresh hand for kaldi,——how to make a speaker classifier?"
Hello,administrators! It's really awesome you guys make this toolkit.

I'm a new hand of kaldi, and I was attempt making a text-dependent speaker classifier( not verification) which can tell apart 10+ people.

I'v learned about the MFCC&GMM&FFT&cluster stuff, and tried to make one by myself, but it works bad.

and I heard that i-vector could do this job.
although I knew about the speech recognitio

[2017-06-14 14:28] david-ryan-snyder commented on #1684
@9crk, I think the easiest thing to do is to use one of the speaker verification recipes as a starting point. E.g., look at egs/sre10/v1 and try to follow what the run.sh is doing. Training the classification system should be identical to that recipe. The main thing you have to change is how the PLDA model is used. You can extract an ivector for each test cut, and use PLDA scoring to compare it wi

[2017-06-14 20:49] vince62s commented on #1487
With these new gpu like gtx1080ti there is really a nice gain in running 2 or more jobs on the same gpu.
So when you 2 or more gpu in the same machine, it would be nice to be able to several jobs on several gpu.... just trying :)

[2017-06-14 21:00] dogancan commented on #1487
I recently got a notification from nvidia that this bug was fixed. I have no idea when the fix will hit the public CUDA release though.

Sent from my iPhone

[2017-06-14 21:04] danpovey commented on #1487
Hm.  That would require some way of figuring out which GPUs already have
jobs running and assigning jobs in such a way that (say) no GPU has more
than 2 jobs.  You'd have to run GPUs in non-exclusive mode and control it
at the queueing level by setting CUDA_VISIBLE_DEVICES to the appropriate
value.

An alternative, though, would be to have Kaldi figure it out when
non-exclusive mode is detected, b

[2017-06-14 21:10] entn-at commented on #1487
@vince62s I think that's possible as is right now, as long as you make sure that GPU memory isn't a problem. I ran several jobs per GPU (in normal model, "nvidia-smi -c 0" IIRC) by simply increasing the number of slots per machine in the SGE GPU queue. Those jobs were for DNN posterior computation in the SRE10 recipe, so things might be different for other purposes. (CUDA Version 8.0.61, driver ve

[2017-06-14 21:12] danpovey commented on #1487
The issue I want to be addressed is where there are more than one GPU per
node-- to ensure that the allocation of jobs to GPUs is balanced.
Currently such balancing may be inconsistent
However, if the GPUs are identical (have the same amount of memory) and you
don't attempt to run more than 2 jobs per GPU, it will currently already be
balanced.  Since this is the common case, it may not even be ne

[2017-06-14 22:10] kkm000 opened #1687 "Non-windows filenames in egs/babel/s5d/results/"
In the directory in egs/babel/s5d/results/ there are 30 or so text files with the `:` in the name that cause error when checking out on Windows:
[code]
Unlike Linux, Windows file name cannot contain a `:`. Is it ok to rename these? Are the filenames parsed by anything? And if the rename is possible, then the program that generates the names must also be updated.

[2017-06-14 22:30] danpovey commented on #1687
Fine to rename.  BABEL is over so we won't be adding more, most likely.

On Wed, Jun 14, 2017 at 6:10 PM, Kirill Katsnelson <notifications@github.com

[2017-06-15 04:52] jtrmal commented on #1687
I have renamed these files in my local repo a couple of weeks back but
didn't create pr, yet. Feel free to rename if you don't want to wait. The
naming is not important at all.
Y.

On Jun 15, 2017 12:10 AM, "Kirill Katsnelson" <notifications@github.com>
wrote:

[2017-06-15 09:30] hchen1024 opened #1689 "global mean and variance normalization"
In nnet3, there is not global mean and variance normalization (MVN) for input feature. But there is MVN in nnet1. Why don't you add MVN in nnet3?

All the best.

[2017-06-15 18:07] danpovey commented on #1689
We removed it so the systems could work in real-time (since MVN is not a real-time compatible thing).  We use i-vectors instead and they can be extracted in real-time without latency.

[2017-06-15 18:07] #1689 closed

[2017-06-16 07:23] vince62s commented on #1487
you are right.
however I looked a bit and I think there are some ways to retrieve infos.
On kaldi side, I think the only part linked to this is src/cudamatrix/cu-device.cc
On Cuda side, in fact we need to use NVML.
nvidia-smi actually uses NVML.

For instance, we can work with http://docs.nvidia.com/deploy/nvml-api/group__nvmlDeviceQueries.html
and more specifically: nvmlDeviceGetComputeRunningPro

[2017-06-16 08:30] vesis84 commented on #1487
Perhaps, the ultimate solution would be to use a combination 'process-exclusive' allocation of GPUs together with 'multit-hreading' ? :) Like this, the process gets the whole GPU, and the threads running parallel tasks... This is also beneficial for cache hit-ratio, as all the concurrent tasks are within single GPU :D What do you think? :)

[2017-06-16 08:34] vesis84 commented on #1487
I used to have a multi-threaded scheme implemented in TNet :) There was a 'Platform' class, which contained the FIFO's with features and targets and several copies of NNets with shared weights...

The package with the abandoned TNet project is available on this site :
http://speech.fit.vutbr.cz/software/neural-network-trainer-tnet
(I could post it to my git account, if it appears to be helpful...)

[2017-06-16 08:42] vesis84 commented on #1487
But, but, but, ...,  before thinking of trying that practically...

@vince62s : Could you please verify that you use the latest version of kaldi ?
And also that the verbosity level of NN training tools is set to 0 ?

We have recently changed the code to have less calls to `cuda_device_synchronize()`, which accelerated the BLSTM training considerably (>2x) ... It could be the case, that depending o

[2017-06-16 10:26] vince62s commented on #1487
Yes, I have the very last code, but okay, I will benchmark exactly the gain when I get some gpus available.

[2017-06-16 11:39] vesis84 commented on #1487
In the past (2010) the total run-time of 2 concurrent GPU jobs was longer than running them one after another... I am very curious about the 'new' run-times :P

[2017-06-16 18:33] #1687 closed

[2017-06-18 06:52] #1684 closed

[2017-06-18 19:14] danpovey opened #1695 "CUSPARSE library linking etc."
@kangshiyin, there is  something I need to be done in the 'rnnlm' branch.
We'll need the cuSPARSE library.  It will include some changes to the headers and the Makefiles.
Also, there seems to be something called a "library handle" that needs to be initialized, once, at the start of the program, and then supplied to any calls to the cuSPARSE library.  This will require some changes to the CuDevice

[2017-06-18 19:26] danpovey commented on #1695
@kangshiyin, correction to the above...

I just remembered that one of the important operations we support is: trace(dense * sparse).
We'll need to implement in CUDA an operation to gather the relevant elements of a dense matrix (as given by a sparse-matrix structure) into a vector, so we can do a dot-product.  I believe that's how the trace operation is currently done.  cuSPARSE has a "gthr" (gat

[2017-06-19 03:44] kangshiyin commented on #1695
OK, I will start looking into it.

[2017-06-20 18:33] david-ryan-snyder opened #1703 "Remove extract-rows"
* Remove extract-rows. The binary extract-feature-segments should now be used instead.

* In some LRE recipes (e.g., egs/lre/v1/) extract-rows is currently used. We will also need to replace its invocations with suitable calls to extract-feature-segments (with --snip-edges=false, and any other options needed), and replace references to extract-rows with references to extract-feature-segments.

Ass

[2017-06-21 04:44] danpovey opened #1705 "Remove unused feature types in nnet3 scripts"
In nnet3 scripts, sometimes we have "feature_type" which can be raw, or lda, and if lda, then "transform_dir" option is accepted.
I believe this is never used.
I'd like to have these options (and any use of them) removed to keep the scripts simple.
@LvHang, can you please look at this?
Search for "raw".

[2017-06-21 05:51] LvHang commented on #1705
ok，i will do that

Daniel Povey <notifications@github.com>于2017年6月21日 周三00:44写道：

[2017-06-21 16:46] kangshiyin commented on #1695
It seems there will be a lot of work, as the storage scheme changes.

I have a few questions.

1. What is the typical sparse pattern and size the sparse matrix? For example if the sparse matrix always have fixed number of non-zero elements per row, we may be able to use some storage format other than CSR to speed up the computation;
2. three pointers in a single memory region - will there be any a

[2017-06-21 17:37] vince62s commented on #1487
Karel, 7 years later ....
njobs	 1	   2         3
iterations	 18	  9	       6
duration	09:17 05:34  04:42

2 comments:
-this was done on a GTX 1080 (not the Ti)
-the increase of 2 vs 1 job is much higher than before the May 13 commit (IIRC in december the gain was about 20%=

Dan,
I still have an issue. The machine on which we did that has 2 GTX.
Whatever we did (in these runs) all jobs went on th

[2017-06-21 17:55] dogancan commented on #1487
Hi Vincent

The problem with "memory load" balancing is that the training script launches all jobs one after the other without any delay. Since it takes a few seconds for the job to start consuming memory on the selected GPU, all jobs end up going to the GPU with minimum memory use at the time jobs a re launched. To work around this, you can add a sleep call at the end of the loop launching these

[2017-06-21 18:04] danpovey commented on #1695
There won't be a fixed number of non-zero elements per row.

My understanding is that with newer architectures, these alignment issues
are less important.  I wanted to avoid having to do 3 copies from main
memory to GPU memory.

I don't think tr(d*s) is implemented in CUSPARSE.  The way I was planning
to do it is to gather the elements of the matrix corresponding to the
sparse structure, in a sing

[2017-06-22 03:50] LvHang commented on #1705
Hi Dan,
I think the "lda" feature has become a component of nnet3. Its format looks like
`fixed-affine-layer name=lda input=Append(-1,0,1,ReplaceIndex(ivector, t, 0)) affine-transform-file=$dir/configs/lda.mat`
So the shell scripts are out-of-date. We needn't judge the "feature_type" is raw or lda.
So you want me delete the "lda" branch and the unnecessary option "transform_dir", right?
Hang

[2017-06-22 04:03] danpovey commented on #1705
Yes, delete the "lda" branch.  You can also remove the feature-type option
that defaults to raw, but be sure to check whether any scripts try to set
it.

On Wed, Jun 21, 2017 at 11:50 PM, LvHang <notifications@github.com> wrote:

[2017-06-22 04:04] LvHang commented on #1705
Ok, get it. I will deal with it and test.

[2017-06-22 12:27] vesis84 commented on #1487
@vince62s Thank you for the 'hard data', this is indeed a big step forward ;) I am thinking where to try the multi-threaded processing with 1 GPU first. Perhaps in sMBR training? (seems like a good fit, and it seems this will be a good opprtunity to start using cuda_streams) :) K.

[2017-06-22 14:59] vince62s commented on #1487
I see where you are coming from, but honestly the use case would be very limited. If you want to fire 12 jobs at the same time you will need 2 or more GPUs anyway, so the way the architecture is today seems fine to me. But intellectually speaking, yes I agree, would be nice.

[2017-06-22 18:20] danpovey commented on #1487
I had assumed that he was talking about training jobs... turns out he is
talking about the i-vector extraction based on DNNs, in
egs/sre10/v2/sid/extract_ivectors_dnn.sh.  This is a very atypical case
because that command is part of a pipe where other nontrivial stuff is
going on.  It could be that it's not even limited by GPU.

So let's not jump to any conclusions based on his findings.  It could

[2017-06-22 22:24] danpovey opened #1707 "RNNLM data-preparation scripts"
@wantee, I hope this catches you at a good time.
I have been figuring out some of the details of how the RNNLM setup will work, and I have in this 'issue' some notes about how I want to the frontend (data preparation) to work.  It would be great if you could help with this-- I know from our work on pocolm that you are able to do it.

[code]
As you develop these scripts, you will probably need some

[2017-06-22 23:57] vesis84 commented on #1487
I was thinking of re-implementing 'nnet1' sMBR so it is multi-threaded, and the model averaging would be done asynchronously inside the single training binary using one GPU. If it decreases the training time 2x by using 3 threads, this speed-up would be already very interesting, while the complexity of the code would not be terrific ;) K.

[2017-06-23 00:14] danpovey commented on #1487
Something that I was considering using for the RNNLM stuff I'm working on
is "multi-stream" processing with GPUs, where different threads have
different streams so their calls to kernels don't have to be serialized.

To make this work automatically (without having to explicity pass around
the streams), apparently you have to pass in the option  --default-stream
per-thread to nvcc (see:
https://dev

[2017-06-23 06:59] wantee commented on #1707
OK. But I will be offline during this weekend(can access emails by phone but without a computer). I could start it next Monday, if you can wait.

[2017-06-23 10:21] fa93hws opened #1710 "Is speaker diarization available not ?"
Hi
I need to distinguish between speaker A and B in the audio and I did large amount of search but finding https://sourceforge.net/p/kaldi/discussion/1355348/thread/74e97aca/?limit=25 saying that kaldi didn't support it 3 years ago.

I am wondering is such a function available now?
If there is ,could any one give me some page or hint or anything that I can get start with?

Thanks

[2017-06-23 11:01] vesis84 commented on #1487
Yea, this seems as a good fit ;) (there's usually not too much training data)

Also, I am thinking of the possible 'catches', one of them is that some of the GPU operations involve an implicit `cuda_device_synchronize()` like the I/O operations for host-to-GPU memory transfers... (while the I/O can be called as a 'stream' specific operation, so it does not block the other threads)

[2017-06-23 11:07] vesis84 commented on #1487
I seems like all we need to do is to create a multi-threaded app, and make sure we replace the cudaDeviceSynchronize() by cudaStreamSynchronized(), since CUDA 7.0 the threads implicitly define the streams :) It's actually a cool idea to have it like that ;)

[2017-06-23 13:45] vince62s commented on #1710
read this.
https://groups.google.com/forum/#!searchin/kaldi-help/diarization%7Csort:date/kaldi-help/ROtSHHe3Z_I/BCDJXHbTAQAJ

[2017-06-23 15:25] fa93hws commented on #1710
Thanks @vince62s
But based on the thread, I can tell the developers used to be interested on it but later they change their mind.
Do I have a correct understanding ?

[2017-06-23 15:25] fa93hws commented on #1710
Thanks @vince62s
But based on the thread, I can tell the developers used to be interested in it but later they changed their mind.
Do I have a correct understanding ?

[2017-06-23 17:33] danpovey commented on #1710
No, we are still working on segmentation and speaker diarization, but the
diarization won't be ready for probably about 3 months.

On Fri, Jun 23, 2017 at 11:25 AM, Junchao Wang <notifications@github.com>
wrote:

[2017-06-23 17:47] danpovey commented on #1487
Karel, I'm pretty sure after reading some stuff about that, that any memory
transfers that involve an implicit synchronize, only synchronize within the
current stream.  Of course, if that's the "legacy default" stream it would
synchronize all streams, but if we compile with the --default-stream
per-thread option, it would just be the current thread's default stream.

 I've seen things saying clear

[2017-06-23 19:23] danpovey commented on #1707
Monday is fine.  There are a lot of other pieces to put in place, so the
timeline is not very tight.

On Fri, Jun 23, 2017 at 2:59 AM, Wang Jian <notifications@github.com> wrote:

[2017-06-24 09:51] fa93hws commented on #1710
@danpovey
Hi many thanks for your answer.

[2017-06-24 09:51] #1710 closed

[2017-06-26 13:04] jtrmal commented on #1618
resolved in #1697 , closing

[2017-06-26 13:04] #1618 closed

[2017-06-26 13:08] jtrmal commented on #1588
this seems already reported to IRSTLM upstream including the fix (https://github.com/irstlm-team/irstlm/pull/7) but unfortunately, the project seems dead...

[2017-06-26 14:10] jtrmal commented on #1568
@danpovey I wrote some scripts myself. I think it could be quite straightforward to include (as an extras/ ) the build script as well. There is a quite significant interaction with kaldi build system -- it needs the openfst to be compiled with more options (more extensions). I didn't explore yet if all those extensions are necessary. Are you ok with building the kaldi openfst with more extensions?

[2017-06-26 14:19] AdolfVonKleist commented on #1568
Hi, We don't necessarily need all of the extensions. In fact for the
current build it should be ok with the kaldi defaults - maybe with some
really slight tweaking.  The .far stuff is used for dumping alignment
lattices, but I don't think this has ever really been used, and can
probably be omitted.   I think we can get away with the extras - and
apologies for the delay here on my end.  If you can

[2017-06-26 18:37] jtrmal commented on #1568
Hi Joe, sure, we can wait until Fr. BTW, I created two new PRs in github
phonetisauris repo, so if you could please review it?
Thanks,
y.

On Mon, Jun 26, 2017 at 4:20 PM, Josef Novak <notifications@github.com>
wrote:

[2017-06-26 18:56] jtrmal commented on #1588
resolved through #1713

[2017-06-26 18:56] #1588 closed

[2017-06-27 07:51] jtrmal commented on #1107
I'm still not able to reproduce this -- I'm adding a second attempt to compile things in case the previous make fails

[2017-06-27 08:14] jtrmal commented on #1107
@jasonrayles-nbcuni I know it's been a long time but do you have time to test the #1716 if it addresses your issues?

[2017-06-27 14:50] jasonrayles-nbcuni commented on #1107
I do not have access to an OS X machine at the moment, but I can test this in a couple of weeks. Sorry about that, and thank you for following up.

Jason

Sent from my iPad

On Jun 27, 2017, at 4:15 AM, jtrmal <notifications@github.com<mailto:notifications@github.com>> wrote:

@jasonrayles-nbcuni<https://github.com/jasonrayles-nbcuni> I know it's been a long time but do you have time to test the #

[2017-06-27 18:18] akshayc11 opened #1718 "Speex installation error(non-critical)"
On executing install_speex.sh as it stands right now, during the make install stage, we get the following.
[code]

I believe this is due to the fact that the prefix is set to the base directory.

The patch below solves the issue:

[speex.patch.txt](https://github.com/kaldi-asr/kaldi/files/1106370/speex.patch.txt)

[2017-06-27 18:24] danpovey commented on #1718
Thanks a lot.  Any chance you could submit that as a github pull request?

On Tue, Jun 27, 2017 at 2:18 PM, Akshay Chandrashekaran <
notifications@github.com> wrote:

[2017-06-27 20:08] #1718 closed

[2017-06-27 21:36] kkm000 opened #1720 "Finer control of GPU use"
Continuing here from https://groups.google.com/d/topic/kaldi-help/PjS9ItjisZc/discussion. Basically, scripts like steps/nnet3/train_rnn.py which involve computing posteriors and updating priors use the same run_opts as the training steps. I do not know how beneficial GPU would be in general for this step, but on a single GPU machine it just does not work--perhaps due to the CUDA 8 bug (see #1487)?

[2017-06-28 00:04] kkm000 commented on #1720
The PR linked above implements option 4.

[2017-06-28 00:36] #1720 closed

[2017-06-28 04:15] guotong1988 commented on #735
`make depend` and `make` works

[2017-06-29 14:00] vesis84 commented on #1487
Yes, I agree with everything. I think we can switch to '–default-stream per-thread' and  'cudaStreamSynchronize()' already now, when we are using the 'default' thread. Functionally, this will do nothing, and we'll get the performance boost, once we start using multi-threading... :) I am thinking of who might look into it, I'll be a bit busy these days... (ASRU paper, vacation, thesis, work for Soa

[2017-07-02 16:22] AdolfVonKleist commented on #1568
OK I've created a pull request for this here:
- https://github.com/kaldi-asr/kaldi/pull/1734

Ok I've tried to tidy things up a bit in my g2p repository, and tied this to a ```kaldi``` tag there, with the idea at least that that should keep it stable against the ```install_phonetisaurus.sh``` script I've added.  I tried to follow/borrow/copy as much as possible from the ```install_sequitur.sh``` s

[2017-07-04 09:23] Coastchb opened #1735 "Get the state alignment from the lattice."
Hi,
I have decode the utterance and get the corresponding lattice. How can I get the state alignment of the decoding results?
Thanks.

[2017-07-04 17:13] danpovey commented on #1735
You could turn the lattices into alignments using (lattice-1best then
lattice-to-linear), or lattice-best-path.  That will give you
transition-ids, you can turn them into pdf-ids (which correspond to
clustered states) with ali-to-pdf, or to phones with ali-to-phones.
Be careful to get the --lm-scale option to lattice-1best or
lattice-best-path right, it should match the LM scale that was used for

[2017-07-04 20:00] vince62s commented on #1487
@dogancan I just saw a patch release from nvidia for 8.0.61

[2017-07-05 02:03] Coastchb commented on #1735
Thank you, Povey.

[2017-07-05 04:54] BigVan opened #1737 "LDA transforms differ between tri3b/decode_dev/final.mat and nnet5a_clean_100_gpu/final.mat"
Hi guys, I am looking for help :(
     I tried to use nnet2 GPU training script 'run_5a_clean_100.sh' after I finished training 100h dataset use LDA+MLLT (no SAT)
     However, it showed an error about final.mat:
[code]
and here is my part of my run.sh: ($cpus=64)
[code]
and part of decode.sh:  ($cpus=64)
[code]

[2017-07-05 05:25] danpovey commented on #1737
That is a check that the LDA transform you used to get the fMLLR transforms
for first pass decoding is the same as what the nnet system was trained
with.
That could happened if you used the wrong model, or retrained the tri3b
model after training the neural net.
Anyway I don't want to spend a lot of time supporting old, deprecated
scripts, you should be using an nnet3-based setup.

On Wed, Jul 5,

[2017-07-05 21:53] kkm000 commented on #1487
@vince62s, @dogancan: But I do not think it does the trick :(

Apparently, the fix is not yet released.

[2017-07-06 11:25] BigVan commented on #1737
I have checked my script again...found I exactly use incorrect model in neural net.....= =

[2017-07-06 11:25] #1737 closed

[2017-07-06 17:11] tanzita opened #1744 "Installation Problem in src"
Hi,
I am trying to install Kaldi from scratch. While running `make depend -j 16` from 'src' directory I am getting the following error:

`In file included from ../cudamatrix/cu-vector.h:30:0,
                 from ../cudamatrix/cu-matrix-lib.h:25,
                 from ../nnet2/nnet-component.h:31,
                 from ../nnet2/nnet-nnet.h:27,
                 from raw-nnet-info.cc:23:
../cudamat

[2017-07-06 18:20] danpovey commented on #1744
What was the output of "configure" when you ran it, and what do you get
when you grep for CUDA in "kaldi.mk"?
Also what is the output of
nvcc --version
and $CUDATKDIR/bin/nvcc --version
where $CUDATKDIR is the variable from kaldi.mk ?

On Thu, Jul 6, 2017 at 1:11 PM, tanzita <notifications@github.com> wrote:

[2017-07-06 19:05] kkm000 opened #1745 "Missing fstext/remap-leaves-inl.h"
The file `remap-leaves-inl.h` [included from `remap-leaves.h`](https://github.com/kaldi-asr/kaldi/blob/master/src/fstext/remap-leaves.h#L87) is nowhere to be found, not even in the [initial commit](https://github.com/kaldi-asr/kaldi/tree/10e9002c8800dbde67592b2232cc06e37620564e/src/fstext). The header seems to relate to factoring the F transducer from the original HBKA. Delete fstext/remap-leaves.

[2017-07-06 19:26] kkm000 commented on #1234
Closing as completed in #1342.

[2017-07-06 19:26] #1234 closed

[2017-07-06 19:27] kkm000 commented on #1235
Past 1.5 as of #1342, done.

[2017-07-06 19:27] #1235 closed

[2017-07-06 19:29] kkm000 commented on #1463
[OpenFST 1.6 that compiles on Windows](https://github.com/kkm000/openfst/tree/win/1.6) with MS compiler, [changes](https://github.com/kkm000/openfst/compare/orig/1.6...win/1.6).

[2017-07-06 19:29] #1463 closed

[2017-07-06 19:36] #88 closed

[2017-07-06 20:10] danpovey commented on #1745
yes, that file should be deleted-- done.  Thanks!

[2017-07-06 20:10] #1745 closed

[2017-07-07 06:32] tanzita commented on #1744
Hi Dan,
Thnx for your quick reply.
Output of `./configure` is given bellow:

`...

Configuring ...
Checking compiler g++ ...
Checking OpenFst library in /mount/arbeitsdaten/studenten1/tanzita/kaldi-trunk/tools/openfst ...
Doing OS specific configurations ...
On Linux: Checking for linear algebra header files ...
Using ATLAS as the linear algebra library.
Atlas found in /usr/lib64/atlas
Using CUDA

[2017-07-07 10:31] tanzita commented on #1744
Hi Dan,
I manually included the path to my cuda folder :
`export CPLUS_INCLUDE_PATH=/usr/include/cuda:$CPLUS_INCLUDE_PATH`
After that `make depend` command did not show any error like before. (log file attached)

But after running `make` command I am facing following error:

`# --error 0x4 --
Makefile:33: recipe for target 'cu-kernels.o' failed
make[2]: *** [cu-kernels.o] Error 4
make[2]: Leaving

[2017-07-07 14:50] jinserk opened #1746 "How to segment a long conversation?"
Hi,
I'm trying to decode the talkbank's callhome corpus, which contains 30-minute telephone conversations. The result is awesome using aspire chain pre-trained model and online2 decoder, using --online=true and --do-endpointing=false. Thanks for the great model!
But the output is mixture of sentences from two speakers, so I want to separate the result per speaker and per sentence, and to list them

[2017-07-07 18:01] danpovey commented on #1744
OK-- usually the headers would be located in the place where the CUDA
library is installed, but it seems to be installed in /usr so we'd expect
them to be probably in /usr/include/ somewhere.  Search on your system for
a file named cublas_v2.h; and let us know how the CUDA toolkit was
installed, if you know; and what OS you have.

On Fri, Jul 7, 2017 at 2:32 AM, tanzita <notifications@github.com>

[2017-07-07 18:25] tanzita commented on #1744
Hi Dan,
Thank you for your reply.

`cublas_v2.h` file is under `/usr/include/cuda` path.

I am using Fedora :

`>> lsb_release -a
LSB Version:    :core-4.1-amd64:core-4.1-noarch:cxx-4.1-amd64:cxx-4.1-noarch:desktop-4.1-amd64:desktop-4.1-noarch:languages-4.1-amd64:languages-4.1-noarch:printing-4.1-amd64:printing-4.1-noarch
Distributor ID: Fedora
Description:    Fedora release 25 (Twenty Five)
Relea

[2017-07-07 18:37] danpovey commented on #1744
The real error was earlier on:
[code]

I don't know what the problem is: possibly there is something messed up in
either your CUDA installation or in the system compiler.  Or it could be a
version incompatibility between the two.  I don't think I have time to help
further.  You could try uninstalling CUDA and reinstalling from scratch in
/usr/local/, if you have permission.

We'd be happy to recei

[2017-07-07 18:42] entn-at commented on #1744
The include paths suggest that you may be using a newer version of gcc (6.3.1). As far as I know, the latest CUDA toolkit version (8) only supports gcc 5, so that might have something to do with it.

[2017-07-07 19:06] galv commented on #1744
I agree with Ewald. Whenever I've faced issues like this, it has been due
to version incompabilities.

You can consult this table for more info:
http://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#axzz4mAqyjcPz

Fedora 25 is not officially supported, but I wouldn't be surprised if you
can get it to work if you install the older version of gcc Fedora 23
requires to work with CUDA.

[2017-07-07 21:49] jinserk commented on #1746
Thank you so much for your kind answers, @danpovey! As you said, I'm trying to learn from the resources and Kaldi codes as much as I can.
I found that the ilabels output GetLinearSymbolSequence() contains lots of silence phones, so I can try to make such sentence segmentation. I also found there is segmentation.pl in utils directory, so looking into the script. However, once I cannot still underst

[2017-07-08 20:10] danpovey commented on #1744
@dogancan, if you get a chance in future it would be nice if we could have some kind of mechanism to check compiler compatibility.  If possible I'd like to do this without touching the 'configure' script since it's already very complicated-- for example, some kind of script that could be invoked as a target from the Makefile.  It doesn't have to be perfect-- just checking common problems would be

[2017-07-08 20:14] danpovey opened #1748 "Make the combine stage optional"
Sometimes it seems like the model-combination is more trouble than it's worth.
I'd like a mechanism to disable it.  This applies to all the training scripts
`steps/nnet3/train_{,raw_}{rnn,dnn}.py steps/nnet3/chain/train.py`.
It could be put with the other combination-related options, e.g. as
`--trainer.optimization.do-final-combination`, defaulting to true.
If the option is set to false, for now j

[2017-07-08 20:15] LvHang commented on #1748
OK，i will do that

Daniel Povey <notifications@github.com>于2017年7月8日 周六16:14写道：

[2017-07-08 20:48] dogancan commented on #1744
I added a rudimentary [check_compiler](https://github.com/kaldi-asr/kaldi/blob/master/src/configure#L150) function to the configure script during the C++11 upgrade. We can extend and move that function to another script if you like but I like having this check during configuration. I cannot quite remember why now but I was convinced back then that having this check early in the configure call was

[2017-07-08 20:52] danpovey commented on #1744
Oh OK.  I'm fine with extending that check where it is, to include checks
for NVCC compatibility with the compiler.  Do you have time to do this at
some point?

On Sat, Jul 8, 2017 at 4:48 PM, Dogan Can <notifications@github.com> wrote:

[2017-07-08 20:56] dogancan commented on #1744
Yeah I can add those checks if someone tells me what the exact failure conditions are.

[2017-07-08 21:01] danpovey commented on #1744
For now:
  if NVCC = 7.x, fail if gcc > 4.9
  if NVCC = 8.x, fail if gcc > 5.3
if other problematic combinations come up, we'll deal with them as needed.

On Sat, Jul 8, 2017 at 4:56 PM, Dogan Can <notifications@github.com> wrote:

[2017-07-08 21:12] danpovey commented on #1744
BTW, from looking at the docs here:
http://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#axzz4mHD3GnQh
it looks like officially, NVCC only supports a very specific gcc compiler
version for each OS distribution.  In many cases the only officially
supported version is 4.8.2, which is fatal for Kaldi because that version
has a bug in the std::nth_element implementation that causes cor

[2017-07-08 21:15] dogancan commented on #1744
Yeah, I think gcc> 4.9 for nvcc 7.x, gcc > 5.3 for nvcc 8.x might be a bit too stringent. I think we should only exclude those combinations that we know for a fact is incompatible like gcc > 6 for nvcc 8.x.

[2017-07-08 21:17] danpovey commented on #1744
fine with me.  although I guess you mean >= 6.

On Sat, Jul 8, 2017 at 5:15 PM, Dogan Can <notifications@github.com> wrote:

[2017-07-09 08:15] tanzita commented on #1744
Hi everyone,

Thank you so much for your help.

As you all have correctly pointed it out, this issue is due to version incompatibilities as CUDA supports gcc up-to 5.3.1.
But unfortunately I don't have admin access to switch gcc to lower version.

So, I used `./configure --shared --use-cuda=no`  for my kaldi installation for now.

Thanks a lot again for your help.

Tanzi

[2017-07-09 08:48] dogancan commented on #1744
CUDA 8.0 works with gcc 5.4 if you have that one installed.

[2017-07-10 01:17] danpovey commented on #1705
addressed in #1711

[2017-07-10 01:17] #1705 closed

[2017-07-10 01:18] danpovey commented on #1746
see kaldi-asr.org/forums.html for how to ask questions.  But if your questions are unclear like this one, they may not get answered.

[2017-07-10 01:18] #1746 closed

[2017-07-10 01:18] danpovey commented on #1746
... actually if you want word level segmentation, get_ctm.sh may be relevant.

[2017-07-10 01:19] #1744 closed

[2017-07-10 01:19] #1735 closed

[2017-07-10 01:19] #1707 closed

[2017-07-10 18:04] danpovey opened #1754 "Downsampling in feature extraction"
@pegahgh, can you please do this in the next few days?

I would like to make it possible to do downsampling automatically in feature extraction.

Please add to FrameExtractionOptions, a boolean option allow_downsample
(default: false), with documentation:
[code]

And modify OfflineFeatureTpl as follows:

First,  an unrelated change.  Remove the 'deprecated_wave_remainder' argument to
the Compute f

[2017-07-10 19:01] pegahgh commented on #1754
sure, will do that tonight!

On Mon, Jul 10, 2017 at 2:04 PM, Daniel Povey <notifications@github.com>
wrote:

[2017-07-11 13:41] eric-verbit-ai opened #1756 "unbound variable error on cleanup/segment_long_utterances.sh"
Line 227 references text variable, which doesn't exist if utt2text isn't provided

[2017-07-12 05:41] danpovey commented on #1756
addressed in #1758

[2017-07-12 05:41] #1756 closed

[2017-07-14 17:06] akshayc11 opened #1765 "Removal of comments from STM files while using utils/subset_data_dir.sh"
I noticed that when using utils/subset_data_dir.sh, the script chooses not to copy over the comments from the original stm file to the new stm file. However, when I used score_sclite.sh with a subsetted custom dataset (I can't release more detail right now), I got some errors in the scoring:
```Error: Label id ‘o’ lookup failed for utt (....)```
On adding the comments in the original STM back to t

[2017-07-15 00:54] danpovey commented on #1765
That sounds reasonable.

On Fri, Jul 14, 2017 at 1:06 PM, Akshay Chandrashekaran <
notifications@github.com> wrote:

[2017-07-15 02:40] akshayc11 commented on #1765
Also, another thing I noted was that when you specify the speaker list, for the stm files, if a given audio file has more than one speakers, the stm subset created is derived from all the utterances with the same recording ID, irrespective of whether or not the speaker was selected to be in the subset, and would cause erroneous word error rates to be reported.

I will create a merge request which

[2017-07-16 19:49] danpovey commented on #1695
@kangshiyin, do you have any time to work more on this?
I'm starting to get the point, with the RNNLM stuff, where I'm going to start needing to know what the extra sparse-matrix functions look like.
Now, I believe I previously worked out what they would look like, and I think that my description in this 'issue' is mostly sufficient to determine what those functions look like, but it would be very

[2017-07-16 20:01] danpovey commented on #1695
@kangshiyin, actually I have another idea.  I can work out what extra functions are needed, and add declarations for those functions that when called will just crash.  Then it will be obvious to you what functionality is needed.  That will enable me to continue my work without interruption, and it will give you some clarity about what needs to be supported.

[2017-07-17 02:45] kangshiyin commented on #1695
Sounds good. I will send what I have done later today for your reference. I
will then focus on implementing the declarations.

2017年7月17日 上午4:01，"Daniel Povey" <notifications@github.com>写道：

@kangshiyin <https://github.com/kangshiyin>, actually I have another idea.
I can work out what extra functions are needed, and add declarations for
those functions that when called will just crash. Then it wil

[2017-08-01 07:00] wuqiangch opened #1786 "the same data ,two reults of mfcc.Compute() are different?"
I use the same data to call the mfcc.Compute() twice, but the two results are different?

[2017-08-01 09:04] #1786 closed

[2017-08-02 08:37] Potomac opened #1787 "tedlium/s5_r2/local/nnet3/tuning/run_lstm_1a.sh needs to be updated in order to use xconfig_to_configs.py"
Hello,

I notice that the default lstm script in tedlium/s5_r2/local/nnet3/tuning/run_lstm_1a.sh has not been updated to the new config method,

if we run this script with the last git version of kaldi then we will have this error message :

You have num_hidden_layers=3 (real meaning: your config files
                        are intended to do discriminative pretraining).  Since Kaldi 5.2,