[2016-04-04 10:17] mmmaat commented on #643
I get the same results with arpa2fst, this is working. But the original problem I fixed in my PR is **a bug introduced by change-lm-vocab** from SRILM. It introduces an empty 3-gram and is unrelated to the missing empty line. So the bug appears when using arpa2fst **after** change-lm-vocab, as in the wsj/utils/format_lm_sri.sh.

Here a minimal script that reproduces the bug from [G.arpa.gz](https:

[2016-04-04 10:21] mmmaat commented on #643
In the previous exemple script, I didn't do the following step (while present in wsj/utils/format_lm_sri.sh) as this doesn't impact the bug.

[code]

[2016-04-04 17:37] vijayaditya opened #653 "Remove the pooling options from TDNN recipes"
The pooling stage in the TDNNs is no longer used. Removing this option would simplify the scripts considerably.

[2016-04-04 18:17] danpovey commented on #643
I my experience OpenGRM is best open tool right now, plus it is openfst
friendly.
http://www.openfst.org/twiki/bin/view/GRM/NGramLibrary

You can do pruning with.

[2016-04-04 18:33] danpovey commented on #643
OK, but we still want to support the IRSTLM setup.

@mmmat, it would be better if you attach $dir/out_lm and also show us what
the error message is that arpa2fst produces.  That way we won't have to
install IRSTLM in order to reproduce the problem.  "Minimal reproduction".

Dan

On Mon, Apr 4, 2016 at 2:17 PM, Ilya Platonov <realill@gmail.com> wrote:

[2016-04-04 18:51] mmmaat commented on #643
Here is [out_lm](https://github.com/kaldi-asr/kaldi/files/203111/out_lm.txt). The error message is
[code]

[2016-04-04 18:55] danpovey commented on #643
OK.  I have a vague memory that a long time ago we had a discussion about
what to do with zero n-gram counts, and I said, just print a warning and
ignore them, it's fine, and someone (kirill or guoguo, maybe) wanted to add
code to do something about hem.  I suspect that some code was added to do
something about them, and that code causing a problem, and I think the
right thing to do would be to ta

[2016-04-04 18:59] danpovey commented on #643
OK, I just pushed a fix for this- I had to remove a statement in the
arpa-file-parser.cc.

On Mon, Apr 4, 2016 at 2:55 PM, Daniel Povey <dpovey@gmail.com> wrote:

[2016-04-04 19:03] mmmaat commented on #643
Great, thank you!

[2016-04-04 19:33] kkm000 commented on #643
@mmmaat, thanks for the sample.

@danpovey -- I do not see you fix, where?

[2016-04-04 20:02] kkm000 commented on #648
I can run a single command to fix, but I think I should do a mass fix after interspeech and when the chain branch is merged. Provided that needs fixin'. A google search reveals hundreds of files (not related to Kaldi) with the same exact license with the typo..

[2016-04-04 20:05] danpovey commented on #648
Makes sense.

On Mon, Apr 4, 2016 at 4:02 PM, Kirill Katsnelson <notifications@github.com>
wrote:

[2016-04-04 20:05] danpovey commented on #643
commit d03abac, I pushed directly
Dan

On Mon, Apr 4, 2016 at 3:33 PM, Kirill Katsnelson <notifications@github.com>
wrote:

[2016-04-04 20:16] kkm000 commented on #643
Weird. Still cant find.
[code]

[2016-04-04 20:18] danpovey commented on #643
Sorry!  Forgot to push.  Just did so.

On Mon, Apr 4, 2016 at 4:16 PM, Kirill Katsnelson <notifications@github.com>
wrote:

[2016-04-04 20:32] kkm000 commented on #643
Thanks!

[2016-04-04 21:46] mmmaat commented on #643
After testing, I confirm all is good for me!

[2016-04-04 22:09] danpovey commented on #643
OK closing, thanks.

[2016-04-04 22:09] #643 closed

[2016-04-04 22:48] vijayaditya commented on #552
@vimalmanohar  We should refocus on this effort.

@tomkocse This effort is very similar to your current effort on adding simulated reverberation to data. It would be very helpful if you are able to make your script generic enough to satisfy requirements of a general data perturbation recipe.

<pre><code>
output_dir=<output-dir>
steps/data/prepare_rirs_noises.sh \
--simulated-rir-option-string " &l

[2016-04-04 22:51] danpovey commented on #552
It certainly looks reasonable to me.

On Mon, Apr 4, 2016 at 6:48 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-04-05 02:58] #640 closed

[2016-04-05 03:17] vijayaditya commented on #552
In interest of having better clarity, I am detailing the specific changes compared to reverberate_data_dir.sh, which already exists.

- The fundamental component of this script is the binary <code>wav-reverberate</code> which needs to support new functionality.
    - It will now support an additional mode <code>convolve(speech, rir_speech) + \sum_i convolve(point_source_noise_i, rir_noise_i) + iso

[2016-04-05 03:22] danpovey commented on #552
Thanks..

The Kaldi argument-parsing is of the key=value type, repeated versions of
the same argument will have no effect.  I wonder if it would be possible to
accomplish the same thing by chaining together the same command, or maybe a
different command?  Actually I don't really understand this command and
what it's supposed to do; and I think it would be easier to have a
relatively simple command

[2016-04-05 03:36] vijayaditya commented on #552
OK. In that case we can have a command like the one below to accomplish the same thing as above

<pre><code>
wav-reverberate  --multi-channel-output=false \
                            --point-source-noise-rir=rir_1.wav --point-source-noise=noise_1.wav --snr-db=10\
                            --isotropic-noise=noise3.wav --snr-db=20 \
                            --speech-rir speech-rir.wav speech.

[2016-04-05 03:42] danpovey commented on #552
OK.  You still have two --snr-db options in the 1st file.
I think it might be easier to just use another copy of wav-reverberate to
reverberate noise_1.wav with rir_1.wav (maybe with options to set the
length equal to the sum of the lengths?), and then just add it into the
waveform, again using wav-reverberate or some other differently-named
tool.  Then it will be clearer what is going on, and eas

[2016-04-05 03:43] danpovey commented on #552
... and since so many copies of programs will be selecting individual
 channels from wav files, I think it would make sense to have a script copy
the individual channels to disk so that we don't incur a bunch of wasted
I/O.  That way, when specifying RIRs and noises, there would be no need to
specify the channel.

On Mon, Apr 4, 2016 at 11:42 PM, Daniel Povey <dpovey@gmail.com> wrote:

[2016-04-05 03:46] vijayaditya commented on #552
oops my bad.. yes we can one wav-reverberate command for each noise source. OK, we can store rir-channels separately in the preprocessing stage.

[2016-04-05 03:54] vijayaditya commented on #552
a new wav.scp would be created by the reverberate_data_dir.py script with the <code>wav-reverberate</code> commands. However I am worried that we would be wasting a lot computation to convolve rirs with the entire speech file (or noise files extended to the length of speech file) just to extract a 2 second segment from this convolved output when using compute-mfcc-feats. To avoid this wastage I pr

[2016-04-05 04:15] danpovey commented on #552
Maybe you can configure it so that you consume a reasonable proportion of
the file in compute-mfcc-feats, not just a small segment.  Presumably you'd
sort the segments in such a way that it would read a few times from the
same input pipe.
Dan

On Mon, Apr 4, 2016 at 11:54 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-04-05 19:17] danpovey opened #658 "Make modify-learning-rates in nnet3 work with unused layers"
involves special treatment of zero change.

[2016-04-05 21:36] vijayaditya opened #661 "multi-lang training scripts for nnet3"
We need a new training script, similar to steps/nnet3/chain/train.py for training with data from multiple languages. The changes required are as follows:

1. Generate chain egs for multiple languages (See [line of code](https://github.com/kaldi-asr/kaldi/blob/master/egs/wsj/s5/steps/nnet3/chain/train.py#L556))
2. Write new archive index computation logic (See [line of code](https://github.com/kald

[2016-04-06 01:34] tomkocse commented on #552
@vijayaditya , there is no room-id specified in the rir list format:
<rir_id> [<rir-type (simulated, real)>] < location(support Kaldi IO strings) >
is <rir_id> means room-id ?

[2016-04-06 01:47] vijayaditya commented on #552
The work on data prep scripts has not yet been done. So assume what you
need for the reverberate_data_dir.py to work and script. Also let us know
on this list what you are assuming so that we can comment on it.

Vijay
On Apr 5, 2016 21:34, "tomkocse" <notifications@github.com> wrote:

[2016-04-06 03:45] tomkocse commented on #552
@vijayaditya , To be more accurate, when point source is specified, except sampling an rir from the same room, it should have the same receiver position, right ?

[2016-04-06 03:52] vijayaditya commented on #552
Yes. We will assume that the microphone position is the same for both the
noise source and the speech source.

--Vijay

On Tue, Apr 5, 2016 at 11:45 PM, tomkocse <notifications@github.com> wrote:

[2016-04-06 03:55] kkm000 opened #665 "Complete arpa2fst invocations conversion"
...started is #634.

[2016-04-07 18:34] freewym opened #671 "get_utt2dur.sh does not seems to work properly for speed-perturbed data"
Hi,

I want to obtain the total duration for a subset. So I tried to use utils/data/get_utt2dur.sh to get the duration of each utterance. It works fine on non-speed-perturbed data. But as to speed-perturb data, the duration for speed-perturbed utterances seem not correct.

E.g., In /home/ywang/kaldi-chain2/egs/librispeech/s5/data/train_960_sp/utt2dur, all utterances prefixed with sp0.9- or sp1.1-

[2016-04-07 18:40] danpovey commented on #671
Please sort this out with Vijay.  It's possible that the script that
perturbed the data did not correctly modify the utt2dur, and you're using a
cached version of the utt2dur file.  Getting it from the wav.scp should
work fine- it will go through the speed-perturbing before it's read.
Dan

On Thu, Apr 7, 2016 at 11:34 AM, Yiming Wang <notifications@github.com>
wrote:

[2016-04-07 18:50] realill opened #672 "local/score.sh: invalid option --iter"
I get this, running nnet3 decoding with --iter param

steps/nnet3/decode.sh --acwt 1.0 --post-decode-acwt 10.0 --cmd queue.pl --iter 200 --nj 16 exp/chain/tdnn_2o_4/graph/ data/test_hires/ exp/chain/tdnn_2o_4/decode-200/
steps/nnet3/decode.sh: feature type is raw
score best paths
local/score.sh: invalid option --iter

Should be easy to fix.

[2016-04-07 18:53] danpovey commented on #672
The scoring scripts are in local/, so they have to be fixed locally.

On Thu, Apr 7, 2016 at 11:50 AM, Ilya Platonova <notifications@github.com>
wrote:

[2016-04-07 18:55] realill commented on #672
Yeah, wsj version does not have this problem. Closing.

[2016-04-07 18:55] #672 closed

[2016-04-07 20:05] vijayaditya commented on #671
The issue occurs to issue in wav-to-duration.cc. The wav_data.Duration() returns the wrong duration as wav_data_ has the wrong num_cols_.
There seems to be an issue with reading file-length from streaming wav-data.
<code>sox WARN wav: Length in output .wav header will be wrong since can't seek to fix it</code>

[2016-04-07 20:10] danpovey commented on #671
Oh.  I think it's probably a bug in sox where, when it runs the
speed-modification command, it outputs the original (un-speed-perturbed)
length.  Sometimes it feels like sox's authors aren't even trying to make
it correct.
We could work around it by ensuring that the script that does the speed
perturbing create the utt2dur files itself- even if they were not present
in the source directory.
Dan

O

[2016-04-07 20:14] vijayaditya commented on #671
OK, this will be a modification in speed-perturbation code then.  @tomkocse / @freewym would you have time to fix this.

To do:
If there is no segments file in the data directory, before perturbing the data generate an utt2dur file. Create the utt2dur file for perturbed data by modifying the non-perturbed data's utt2dur file.

[2016-04-07 20:14] danpovey commented on #671
To avoid problems in the future, it might also be a good idea to add an
option to wav-to-duration like --read-entire-file, which would force it to
use the regular WaveHolder instead of the WaveHeaderHolder (name may be
wrong), and that should ensure that the sizes are correct.  Then the
get_utt2dur.sh can grep in the wav.scp for the relevant sox command, and if
it's present, add the --read-entire-

[2016-04-07 21:17] vimalmanohar commented on #552
@tomkocse
Please add an additional field to the noise info list. The RIR info list does not require any change.
`<noise_id> <noise-type (isotropic, point source)> <background|foreground> [<rir-file>] < location(support Kaldi IO strings) >`

@vijayaditya
If you think we could write this information in a better way, let us know.
I am thinking we could write all this as name=value pairs.
`<noise_id>

[2016-04-07 21:33] vijayaditya commented on #552
@tomkocse use python's argparse module as you did for parsing the CNN parameters.

RIR list format
`--rir-id <string,compulsary>  --room-id <string,compulsary>  --receiver-position-id <string,optional> --source-position-id <string,optional> --rt-60 < <float,optional> --drr <float, optional> < location(support Kaldi IO strings) >`
@tomkocse  add any other metadata you want. Not all meta-data is man

[2016-04-08 14:56] francisr opened #676 "utils/mkgraph.sh, read context from the tree?"
In utils/mkgraph.sh we have to specify what context we are going to use to build the graph (with --mono, --quinphone, otherwise triphone by default). If the option selected doesn't correspond to the tree it complains, so for me there is no point in asking the user to specify this when we know this information from the tree.

[2016-04-08 14:57] danpovey commented on #676
Yes, this information could be extracted from `tree-info`, and a warning
could be printed if any user-specified flags (present for back
compatibility) differ from the info from the tree.
Do you want to submit a pull request?  Or make an issue?
Dan

On Fri, Apr 8, 2016 at 7:56 AM, Rémi Francis <notifications@github.com>
wrote:

[2016-04-08 15:27] francisr commented on #676
I can make a pull request on Monday if nobody does it by then.

[2016-04-10 22:37] kkm000 opened #680 "Sorting of G.fst in babel recipes"
https://github.com/kaldi-asr/kaldi/blob/master/egs/babel/s5b/local/arpa2G_syllables.sh#L47 does not arcsort the G.fst (but the respective scripts in both babel/s5 and babel/s5c do).

https://github.com/kaldi-asr/kaldi/blob/master/egs/babel/s5b/local/arpa2G.sh#L108 olabel-sorts the G.fst (as does one in s5c).

Is this not on purpose? Is sorting irrelevant in this recipe?

[2016-04-10 23:29] danpovey commented on #680
That set of scripts was written a while ago.
I think the arc-sorting may just be an efficiency issue.  Certainly there's
never a reason not to sort them; and sorting them is always recommended.
Dan

On Sun, Apr 10, 2016 at 3:37 PM, Kirill Katsnelson <notifications@github.com

[2016-04-11 01:07] kkm000 commented on #680
I remember _something_ complained, I think it might have been `fst::Compose()`, but maybe it was  our language directory validation script. New scripts certainly require both L and G be sorted on the composing side.

[2016-04-11 01:09] danpovey commented on #680
Yes, I think you are right, they do, and they didn't always.

On Sun, Apr 10, 2016 at 6:08 PM, Kirill Katsnelson <notifications@github.com

[2016-04-11 01:13] kkm000 commented on #680
I remember now, that was `TableCompose()`. First [a warning](https://github.com/kaldi-asr/kaldi/blob/master/src/fstbin/fsttablecompose.cc#L128 and then [an assertion failure](https://github.com/kaldi-asr/kaldi/blob/master/src/fstext/table-matcher.h#L78)

[2016-04-11 17:55] jtrmal commented on #680
I remember running some benchmark and IIRC I was talking with Dan about removing it, because during L*G composition, the G is getting ilabel sorted before running compose?
But I might not remember it correctly. Might be just an overlooking on my side -- I don't remember if I was actually planning to commit it and if the change was because of the benchmark. The speed difference was just minor.
y.

[2016-04-11 21:09] nshmyrev commented on #671
I've just had a problem today with a data folder without wav, get_utt2dur just breaks on it. It might be perfectly possible to train on such data. I'm not sure how wav duration is relevant to nnet training at all, maybe you can just count features.

[2016-04-11 21:32] danpovey commented on #671
Yiming, can you please also modify the script so that if wav.scp is not
present, it will back off to obtaining it from the feats.scp via
feat-to-len-- there can be a frame_shift=0.01 option added to the
get_utt2dur.sh script, which will determine the interpretation of the frame
shift in seconds, only to be used if the wav.scp is not present and we are
getting the durations from the features.

In f

[2016-04-11 21:35] freewym commented on #671
OK.

[2016-04-11 22:08] david-ryan-snyder commented on #661
Has anyone done item 4 yet? If so, I can do it.

[2016-04-11 23:07] danpovey opened #687 "lattice-copy bugs"
I saw the message
LOG (lattice-copy:CopySubsetLattices():lattice-copy.cc:104) The utterance 20000907_0930_1030_rfi_fm_dga-0093333-0093857 is larger than the last key in the include list. Not reading further.
from the command:
gunzip -c decode_nosp_dev_tgpr/lat.2.gz| lattice-copy --include=foo ark:- ark:-
This is not right in general, as unless the ",s" option is included in the rspecifier, we cann

[2016-04-12 00:40] vijayaditya commented on #661
@david-ryan-snyder not yet, please go ahead.

[2016-04-12 02:09] #671 closed

[2016-04-12 04:26] cometome opened #689 "CMVN in KALDI"
In my experiment, i am using cmvn feature for speech recognition. All the recipe had implemented the cmvn in an sequential steps. There is no problem of following the method.

But, in my experiment, when i am implementing cmvn on static features externally using kaldi scripts and then providing it for recognition, it creating problem. I have also re-calculated the cmvn stats on compensated feature

[2016-04-12 09:32] tomkocse commented on #552
@vijayaditya I still don't clearly understand the mechanism of picking the noises to corrupt a particular wav.
To my understanding the mechanism before is like:
for each wav in wav.scp
    randomly pick a rir entry from rir_list
    randomly pick a noise entry from noise_list
    generate the wav-reverberate command

My question is how can i decide when to look for multiple noises to corrupt a wav

[2016-04-12 11:23] thomaspreece opened #690 "bn_music_speech Example"
I'm having trouble with the bn_music_speech example code. I've obtained the musan dataset and the LDC98S71, LDC98T28 (1997 English Broadcast News) datasets as instructed on the example README (and in the code) but the LDC datasets are refusing to process correctly using the make_bn.sh script.
Comparing what the make_annotations_bn.py is looking for and the transcripts I have seems to show that the

[2016-04-12 14:55] MatteoBotta opened #691 "PortAudio failed to open the default stream in online-demo"
Hello,
I have a problem with online-demo example.
If I execute the script run.sh in simulated mode Kaldi works correctly, but if I execute run.sh in live mode the system shows this error:
"PortAudio failed to open the default stream"

I installed portaudio with the script "install_portaudio.sh" in Kaldi suite.

if I work with gstreaming it transcribes in real time without error.

What am I doing w

[2016-04-12 17:16] danpovey commented on #691
Likely it's a PortAudio installation problem.  I am not continuing to
support that code as it's distraction from the core speech recognition
aspects of Kaldi.  From now, online decoding (in online2*) is being
supplied as a C++ library without network-transport or audio-capture
elements.

Dan

On Tue, Apr 12, 2016 at 7:55 AM, MatteoBotta <notifications@github.com>
wrote:

[2016-04-12 17:54] danpovey commented on #690
Hm.
On our grid the data looks like what you say:

 /export/corpora/LDC/LDC98T28/hub4e97_trans_980217/transcrp/ew970708.sgml

...<turn speaker=Gary_Blonston spkrtype=male startTime=112.755
endTime=122.769>

<time sec=112.755>

 I think it'll be fascinating. {lipsmack} {breath} %um

<time sec=115.984>

 ^D'Amato is at once a vulnerable candidate and

Please be more specific about how it's "refusing

[2016-04-12 18:00] danpovey commented on #689
I don't really understand your question.  Anyway this is not the right place to ask- see kaldi-asr.org/forums.html.
You need to be much more specific.

Dan

[2016-04-12 18:00] #689 closed

[2016-04-12 18:25] vimalmanohar commented on #552
You could do something like this:
For each wav in wav.scp:

1. With probability p1, choose to pick an RIR randomly.
 1. If you chose to pick an RIR, add the corresponding isotropic noise if it exists
2. With probability p2, choose to pick an RIR randomly from the same room or any RIR randomly if you did not pick an RIR in step 1.
    1. Randomly pick any point source background noise and convolve

[2016-04-12 18:25] david-ryan-snyder commented on #690
Thomas,

This is 100% my fault. The README contains the wrong LDC number. It should really be LDC97S66 and LDC97T22, which corresponds to the 1996 Broadcast News. I'm fixing the incorrect comments in the examples now. I'm sorry that you had to acquire the wrong corpus to detect this mistake.

[2016-04-12 18:27] danpovey commented on #552
BTW, I assume at some point you have to pick the time of the point source
background noise (i.e. not have them all start at the start of the file, if
the length may be less than the audio file)...  or are they all longer, or
do you repeat them?

On Tue, Apr 12, 2016 at 11:25 AM, Vimal Manohar <notifications@github.com>
wrote:

[2016-04-12 18:28] danpovey commented on #690
If you did actually pay for the wrong corpus, the LDC people are pretty
flexible on pricing and they may be willing to deduct the cost of any
mistakenly acquired corpus.
Dan

On Tue, Apr 12, 2016 at 11:25 AM, david-ryan-snyder <
notifications@github.com> wrote:

[2016-04-12 18:36] vimalmanohar commented on #552
I think the background noises are stationary noises and they are long. So they can be cut out randomly if longer or repeated if its shorter than the speech file. The foreground noises are non-stationary and typically short. So we need to pick the start time of each foreground noise to be added to the file.

[2016-04-12 18:36] vijayaditya commented on #552
We were previously repeating the noise files to match the speech recording
length. But starting them arbitrarily would be better.

On Tue, Apr 12, 2016 at 2:27 PM, Daniel Povey <notifications@github.com>
wrote:

[2016-04-12 18:48] vimalmanohar commented on #552
The distinction of foreground vs background can be removed if the noise are added at random times.
For each wav in wav.scp:

1. With probability p1, choose to pick an RIR randomly.
 1. If you chose to pick an RIR, add the corresponding isotropic noise if it exists
2. With probability p2, choose to pick an RIR randomly from the same room or any RIR randomly if you did not pick an RIR in step 1.

[2016-04-12 18:49] david-ryan-snyder commented on #690
I believe the correct speech corpus is LDC97S44, but it will be better to wait a bit until I can be completely certain. I'll update here ASAP.

[2016-04-12 18:59] vijayaditya commented on #552
If you actually have clearly marked background noises it would be better to
make use of this metadata. So choosing to replicate background noises makes
sense to me. But we would have to be careful to ensure that the durations
of the speech and noise files are comparable to avoid cases where the noise
gets repeated a lot which is not helpful for ensuring variety in training
data.

So the logic of s

[2016-04-12 19:49] vimalmanohar commented on #552
I assumed the noises that were part of the RIR databases were all stationary background noise and David hand-picked some stationary background noises. So these are mostly accurate. However there may be background noise which are incorrectly marked as foreground. But since the foreground noises are not repeated, this would not be too much of an issue.

Adding at intervals is fine. But overlapping n

[2016-04-12 20:49] #691 closed

[2016-04-12 22:29] david-ryan-snyder commented on #690
I can confirm that LDC97S44 and LDC97T22 are the correct datasets.

[2016-04-12 23:14] vijayaditya commented on #552
Could you write the command line format for wav-reverberate.cc so that Tom
(if he wants to implement it) can use it as a specification.

(Remember to have just one point-source noise per command.)

On Tue, Apr 12, 2016 at 3:49 PM, Vimal Manohar <notifications@github.com>
wrote:

[2016-04-13 03:10] tomkocse commented on #552
@vimalmanohar what is "the same room" referring to? I don't see anywhere before step 2 has defined the room.

[2016-04-13 03:12] vijayaditya commented on #552
This would be specified in the RIR list. Each RIR would be associated with
a room, speaker position and microphone position.

On Tue, Apr 12, 2016 at 11:10 PM, tomkocse <notifications@github.com> wrote:

[2016-04-13 03:28] tomkocse commented on #552
But if no RIR was picked in step 1, there will be no room to be referred to in step 2.

[2016-04-13 03:29] vijayaditya commented on #552
Yes, in that case you have to just maintain the same room and microphone
position for all the noise sources being added in step 2.

On Tue, Apr 12, 2016 at 11:28 PM, tomkocse <notifications@github.com> wrote:

[2016-04-13 04:00] vimalmanohar commented on #552
The command line format for wav-reverberate would be
`wav-reverberate --rir-file=<rir-wav> --isotropic-noise=<isotropic-noise-wav> --isotropic-snr=<isotropic-snr-db> --point-source-noise-rir=<point-source-rir-wav> --point-source-noise=<point-source-noise-wav> --point-source-snr=<point-source-snr-db> --start-time=<s> --end-time=<e> --original-input=<original-input> <input> <output>`

This does
`out

[2016-04-13 21:19] #665 closed

[2016-04-13 21:19] #680 closed

[2016-04-13 22:30] kkm000 commented on #680
@jtrmal: G is not sorted in `wsj/s5/utils/mkgraph.sh` before fsttablecompose, and it would bomb out if the machines were not sorted (unlike fstcompose that does not strictly require ordering, IIRC). There are many fsttablecompose calls in local scripts though, I do not know about these. It makes the most sense to sort it once when saving, since this is the only arc order requirement ever imposed o

[2016-04-13 23:54] snidada1 commented on #661
I am interested in this task. I will work on it.

[2016-04-14 05:04] vijayaditya opened #699 "Multi-database English LVCSR recipe"
We would like to design a recipe which combines
1. fisher+swbd (2100 hours)
2. tedlium (120 hr or 200 hr)
3. librispeech (1000 hr)
4. AMI (100 hr * 8 distant microphone + 100 hr close talk microphone = 900 hr)
5. WSJ (80 hr)
tasks for the acoustic model (AM) and language mode (LM) training.

This is an **advanced task** which requires experience with data preparation stage, lexicon creation and LM

[2016-04-14 06:19] tomkocse commented on #552
@vimalmanohar can you write the command line when multiple point-sources are used?
And what is the difference between original-input and input ?

[2016-04-14 06:22] tomkocse commented on #552
How to source the length of the speech wav to avoid --start-time and --end-time being out of the range ?

[2016-04-14 11:32] vijayaditya commented on #552
See how duration of computed in wav-tu-dur binary.

Vijay
On Apr 14, 2016 02:22, "tomkocse" <notifications@github.com> wrote:

[2016-04-14 13:28] jtrmal commented on #680
I agree with you. It's better when it's sorted.
y.

On Wed, Apr 13, 2016 at 6:30 PM, Kirill Katsnelson <notifications@github.com

[2016-04-14 15:43] vimalmanohar commented on #552
`wav-reverberate --rir-file=<rir-wav> --isotropic-noise=<isotropic-noise-wav> --isotropic-snr=<isotropic-snr-db> --point-source-noise-rir=<point-source1-rir-wav> --point-source-noise=<point-source1-noise-wav> --point-source-snr=<point-source1-snr-db> --start-time=<s1> --end-time=<e1> <input> - |
wav-reverberate --point-source-noise-rir=<point-source2-rir-wav> --point-source-noise=<point-source2-no

[2016-04-14 16:53] danpovey commented on #552
Do you really need end times as well as start times for the point source
noises?  Also I don't think the --rir-file option should end in -file.
Might it be easier to supply multiple point source noises to the same
program somehow, e.g. via a comma separated list or some other mechanism?
Is there a reason why the RIRs and original wavs for all the noises need to
be supplied separately, instead of h

[2016-04-14 16:58] danpovey commented on #552
Also - why does this program care about the difference between point source
and isotropic noise?  Is it because one is repeated and one is not?   I see
that the point source noise gets reverberated, but if you did it in a
separate program then that difference would vanish.  I'd prefer the command
line arguments to be named in as generic as possible a way, reflecting what
the program actually does

[2016-04-14 17:45] vimalmanohar commented on #552
Ok in that case, we could have a generic program:
`wav-reverberate --impulse-response=<h> --additive-signals=<a> --snrs=<snr-db> --start-times=<s> --end-times=<e> <input> <output>` for doing
`output = convolve(h, input) + C1 * a1 + C2 * a2 + ...`, where `C1,C2..` are chosen such that signals are added at appropriate SNR and `a1, a2...` are restricted to be within corresponding start times `s1, s2.

[2016-04-14 18:25] danpovey commented on #552
Sounds reasonable.  BTW, I'm trying to, for new programs, use
comma-separated lists instead of colon-separated ones, as it's a more
standard method of separating list elements.
Dan

On Thu, Apr 14, 2016 at 10:45 AM, Vimal Manohar <notifications@github.com>
wrote:

[2016-04-14 19:18] vijayaditya commented on #552
If we are going to separate the reverberation of noise sources into a separate command I would recommend adding a --duration argument in place of the --end-time. The default start-time will be 0 and default duration will be length of the signal being added. This is recommended as it might be beneficial to reverberate the noise after extending it to the required duration. So the modified command wo

[2016-04-14 21:22] sikoried commented on #699
@guoguo12 and I will look into this in the next weeks :-)

[2016-04-14 21:43] vijayaditya opened #701 "Relevance of model combination stage in chain recipe"
Remi Francis recently found that the model combination stage is either bit beneficial or even hurtful to the  performance of the AMs trained with chain objfn. We would like to examine this more closely and eliminate this stage from the recipe if necessary.

@pegahgh You had similar observations even with the cross entropy objfn, could you take this up ?

[2016-04-14 21:51] pegahgh commented on #701
Yes! I got small performance degradation(0.2% abs) on WSJ using model combination. I can investigate it in more details for chain model.

[2016-04-14 22:59] vijayaditya commented on #578
I am swamped and this is not critical, so just ignoring this issue.

[2016-04-14 22:59] #578 closed

[2016-04-15 02:28] tomkocse commented on #552
for the generic command:
wav-reverberate --duration <t> --impulse-response=<point-source1-rir-wav> <point-source1-noise-wav> -
let the length of noise-wav be l
if t < l , it will trim the first t secs of the signal after reverberated.
if t > l , it will repeat the noise to make sure the output wav's duration is t secs.
Am i right in the mechanism ?

[2016-04-15 02:37] vijayaditya commented on #552
Yes
On Apr 14, 2016 10:28 PM, "tomkocse" <notifications@github.com> wrote:

[2016-04-15 06:23] kkm000 commented on #690
Fixed in eb5b32cf78648392caa339eb266cbd6ae3b41d02

[2016-04-15 06:23] #690 closed

[2016-04-15 06:26] kkm000 commented on #676
Fixed in  ef48b26, #683.

[2016-04-15 06:26] #676 closed

[2016-04-15 06:55] kkm000 commented on #383
I assume that was all to the fix? Closing, let me know if incorrect.

[2016-04-15 06:55] #383 closed

[2016-04-15 07:01] kkm000 commented on #440
Is this complete? Can the issue be closed?

[2016-04-15 07:19] tomkocse commented on #552
As now i need to know the length of the recording (reco2dur) instead of utterance(utt2dur), should i add an option  to utils/data/get_utt2dur.sh so that i can force it to compute the duration from wav.scp even if 'segments' exists ?

[2016-04-15 07:34] vijayaditya commented on #552
Not necessary. You could directly use the output of wav-to-duration. You
can add  a python wrapper for this in reverberate.py.

On Fri, Apr 15, 2016 at 3:19 AM, tomkocse <notifications@github.com> wrote:

[2016-04-15 13:06] david-ryan-snyder commented on #383
Yes, this should be closed. Thanks!

[2016-04-15 16:28] galv commented on #440
Yep, handled by #451.

[2016-04-15 21:22] vijayaditya commented on #295
@pegahgh As you are facing similar issues could you please this forward.

[2016-04-15 21:49] kkm000 commented on #440
Thanks!

[2016-04-15 21:49] #440 closed

[2016-04-19 18:17] vijayaditya commented on #701
@pegahgh any progress? Could you please keep writing intermediate updates here.

[2016-04-19 20:51] vijayaditya opened #716 "Enhancements to wav-reverberate command"
We are updating the wav-reverberate command to support a new data reverberation script (See PR #706 ). For this script we need to update the C++ binary to have the following command line format. (This issue is based on requirements in #552)

<pre><code>
wav-reverberate --inpulse-response=&ltrir-wav&gt \
--additive-signals='&ltisotropic-noise-wav&gt, "wav-reverberate --duration &ltt&gt --impulse-re

[2016-04-19 20:53] vijayaditya commented on #553
@xiaohui-zhang  any updates ?

[2016-04-19 21:11] danpovey commented on #716
I think the following is better / easier to deal with internally:

--additive-signals='<isotropic-noise-wav>,wav-reverberate --duration
<t> --impulse-response=<point-source1-rir-wav>
<point-source1-noise-wav> - |,wav-reverberate --duration  <t2>
--impulse-response=<point-source2-rir-wav> <point-source2-noise-wav> -
|'

On Tue, Apr 19, 2016 at 1:51 PM, Vijayaditya Peddinti <
notifications@github.co

[2016-04-19 21:25] vijayaditya opened #717 "Issues in reproducibility of results in Kaldi"
There are several reasons for noise in results across different runs. It would be good if we are able to control the randomness in the experiment with a single random seed. In case this is not possible we should at least list the possible reasons for noise in the results.

[This is part of a wishlist from a recent discussion with a corporate partner]

[2016-04-19 21:42] vijayaditya opened #718 "Instructions for designing new recipes"
In cases where new a recipe is being written, it would be convenient to have guidelines :
1. To figure out the priority list of hyper-parameters to tune: It is preferable to have a list of hyper-parameters and if possible suggested values for various data sizes at various stages in the recipe.
2. For new databases without segments file it would be preferable to have a boot strap model (available o

[2016-04-19 21:48] danpovey commented on #718
I agree that we should single out commonly-tuned hyperparameters.  One
possibility is to add variables for them (and just them) in the run*.sh
scripts.
For long unsegmented data with a bootstrapping problem, it might be easier
to release the segments file than the entire model (less issues with
version compatibility, etc.).
I don't think there can ever be hard limits RE data sizes.  And trying to

[2016-04-19 21:50] danpovey commented on #717
As far as I'm aware, if you run with the same number of jobs things and on
the same hardware and OS version, things should always be deterministic
until you get to neural net training.
C++ rand() is deterministic by default; perl is not, but we set the random
seed in the programs that use random numbers, to make it consistent.

Dan

On Tue, Apr 19, 2016 at 2:25 PM, Vijayaditya Peddinti <
notificat

[2016-04-19 21:54] danpovey commented on #718
RE: "If possible it would be good to have scripts used for preparing the
Librispeech recipe".
I don't think Vassil plans to release them as open source.  However, I have
a general plan to have someone work on this problem in the next few months
and create something that we can use in this type of scenario.  Probably
we'd do some kind of phone-level alignment based on a phone recognition to
get an

[2016-04-19 21:55] sikoried commented on #717
There's two things that come to mind:
- Dithering on feature extraction; depends on number of jobs, and which machines/CPUs it gets allocated to, and other factors such as IO load etc. which can result in different sequences of calling `rand()`. While an explicit `--seed=0` would help to some extent, you'll still depend on number of jobs.
- Feature compression; I still haven't fully understood how

[2016-04-19 22:00] danpovey commented on #717
We could start adding --dither=0.0 --energy-floor=1.0 in the feature
extraction configs, that would remove dithering from the equation.
The random initial alignments may also make a difference.  align-equal also
calls rand().
Neural net training will never be deterministic due to nondeterminism in
CUBLAS.
Dan

On Tue, Apr 19, 2016 at 2:55 PM, Korbinian <notifications@github.com> wrote:

[2016-04-19 22:05] vijayaditya opened #719 "Tool to generate word-level soft counts from lattices"
Sanjeev has a new requirement :
He would like a tool which processes lattices to figure out the soft counts for different words. The output of this tool would be used for generating things like word clouds by higher level scripts.

[2016-04-19 22:08] danpovey commented on #719
Lattice-arc-post will do this.
We even have a way to get soft n-gram counts.  You have to do
lattice-expand-ngram, and then... then I forget the next stage.  David, did
we check this in?  Just curious.
Dan

On Tue, Apr 19, 2016 at 3:05 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-04-19 22:08] galv commented on #717
For anyone unaware, the nondeterminism in various CUDA libraries is due to an interactions between atomics and floating point. Floating point is not associative, and the order in which processors will grab locks is not deterministic; this causes floating point operations to happen in different orders.

Memory can also have errors (bits flipping), but turning on error correcting codes can mitigate

[2016-04-19 22:14] sikoried commented on #717
I see this whole issue with two hats:
As a researcher, I'd love a `--strict` flag on compilation/binaries/scripts that ensures me that the results will be 100% reproducible (to the extent that @galv asserts).
As an engineer building real world systems, I don't really care about half a percent of improvement/degradation on an eval set, since the real world is so variable anyways.

I don't think tha

[2016-04-19 22:21] jtrmal opened #720 "Addition of words to decoder graphs"
sorted by difficulty...
1) howto on how to add words new words into lexicon (what to change, what graph recompile...)
2) more extensive support on tweaking LM
3) dynamic addition of words (or faster) similar to:
  Allauzen, Cyril, and Michael Riley. "Rapid Vocabulary Addition to Context-Dependent Decoder Graphs." Sixteenth Annual Conference of the International Speech Communication Association. 20

[2016-04-19 22:34] sikoried commented on #720
Re. 1: I have a fairly general script/workflow to replace the lexicon of an existing recognizer, with an optional g2p (using phonetisaurus trained on cmudict) for missing words, and I'd be happy to share.

Re. 3:  I've done that some time back for a "regular" (lexical tree based) decoder, and it's quite a pain because of the re-normalization of the weights. I know that commercial vendors (well, or

[2016-04-19 22:47] danpovey commented on #720
It would be interesting to at least see it, if you could create a PR.  It
may need to have something in the documentation about it, too.

| 2) more extensive support on tweaking LM

Right now I'm working on a language modeling toolkit (that generates
ARPAs), that should provide improved results over SRILM etc., for LM
interpolation and pruning.  This is not going to be part of Kaldi itself,
as the

[2016-04-19 23:16] #469 closed

[2016-04-20 02:14] david-ryan-snyder commented on #719
It looks like we never checked in the second binary.

I can probably dig it up, and send a pull request for it.

[2016-04-20 02:45] danpovey commented on #719
Not urgent at all.  I'm not even sure if I want to check it in right, now,
but we shouldn't lose track of it completely.

On Tue, Apr 19, 2016 at 7:14 PM, david-ryan-snyder <notifications@github.com

[2016-04-20 03:02] david-ryan-snyder commented on #719
No problem.

If this is needed at some point, the relevant code can still be found on SVN. The binary at https://svn.code.sf.net/p/kaldi/code/sandbox/language_id/src/latbin/lattice-to-ngram-counts.cc and the function ComputeSoftNgramCounts at https://svn.code.sf.net/p/kaldi/code/sandbox/language_id/src/lat/lattice-functions.cc.

[2016-04-20 09:47] francisr commented on #720
I can't find a link to "Rapid Vocabulary Addition to Context-Dependent Decoder Graphs.", does anyone have it?

[2016-04-20 09:51] jtrmal commented on #720
It's isca/Interspeech paper,  so it should be available through the isca
archive (they switched to open access last year,  I believe).  Google does
not index it for some reason.
Y.
On Apr 20, 2016 5:47 AM, "Rémi Francis" <notifications@github.com> wrote:

[2016-04-20 09:55] francisr commented on #720
Here is the direct link for the lazy: http://www.isca-speech.org/archive/interspeech_2015/papers/i15_2112.pdf

[2016-04-20 19:14] pegahgh commented on #701
We recently use two new constraints, positive weights and sum-to-one, in combining chain model. I am worried that sum-to-one constraint will hurt optimization problem. I looked at the weight in model combination and they decay exponentially w.r.t model number and objective function doesn't improve after  2 or 3 iterations.
I will give some update as soon as I get some results.

[2016-04-20 19:18] danpovey commented on #701
Any constraint will hurt the optimization viewed purely as an optimization
problem, but there are reasons for those things... it's basically to have a
more conservative model combination that has less capacity for doing harm.
The sum-to-one constraint is useful because it avoids changing the
magnitudes of parameters, which would cause problems if one were to retrain
the model afterwards.
If the op

[2016-04-20 21:53] vijayaditya opened #723 "Review of python scripts to ensure reproducibility of results across runs"
We have never ensured that the same default random seed has been used in all python scripts (even inline scripts) which use random number generators. A review of the scripts has to be done. It would be good if people can review the scripts when they modify them for other requirements and specify the file they have reviewed here. This issue will be closed when I feel all scripts have been fixed and

[2016-04-20 22:14] vijayaditya opened #724 "Conversion of recipes written for evaluations to build production systems"
Usually recipes built for winning evaluations have large number of parameters to ensure we have the best system. However people using models from these recipes to build production systems do not care about the 1-2% WER gains and would rather have a fast system. So if possible it would be good to add notes in the RESULTS file specifying the performance loss when parameters have been reduced. I don'

[2016-04-20 22:16] xiaohui-zhang commented on #553
done! please review #725

[2016-04-20 22:44] #553 closed

[2016-04-20 23:04] sikoried commented on #724
I think this makes sense for a few recipes, but not for the challenges and recipes originating from large-scale projects:  Keep in mind though that the data sets for most evaluations are released under a non-commercial research-only license, explicitly prohibiting commercial use. While LDC often releases parts of the datasets months/years later and thus, depending on membership type, allow for com

[2016-04-21 01:00] vijayaditya commented on #724
The actual decision of whether models can be used would be outside the purview of this issue. I think it would be good to always record performance of smaller sized models, when such information is available.

It might be good to add a note in the recipes about the expected usage, but I don't know who would have the necessary info to do that.

[2016-04-21 01:09] jtrmal commented on #724
Perhaps the most straightforward way would be  to start providing decoding
time for each entry (or at least to some) in the results file.  Would not
include training time,  though.
Y.
On Apr 20, 2016 9:01 PM, "Vijayaditya Peddinti" <notifications@github.com>
wrote:

[2016-04-21 01:13] vijayaditya commented on #724
I am asking developers submitting PRs to add training time in the RESULTS
file in the newer PRs. I will start asking them to add the realtime factor
from the decode logs too.

On Wed, Apr 20, 2016 at 9:09 PM, jtrmal <notifications@github.com> wrote:

[2016-04-21 01:16] jtrmal commented on #724
Btw,  there is elementary infrastructure for this in kaldi already (I have
added it for babel).  Grepping for #Accounting line in the logs will give
you elapsed time in seconds for that given subtasks.
Y.
On Apr 20, 2016 9:13 PM, "Vijayaditya Peddinti" <notifications@github.com>
wrote:

I am asking developers submitting PRs to add training time in the RESULTS
file in the newer PRs. I will start as

[2016-04-23 00:31] InSertCod3 opened #728 "The standard file /../../../src/h.sh is not present -> Exit!"
[code]

What is the problem?

[2016-04-23 00:32] danpovey commented on #728
We moved the path.sh but forgot to update that place.  I'll fix it right
awayl

On Fri, Apr 22, 2016 at 7:31 PM, InSertCod3 <notifications@github.com>
wrote:

[2016-04-23 00:35] danpovey commented on #728
Done.

On Fri, Apr 22, 2016 at 7:32 PM, Daniel Povey <dpovey@gmail.com> wrote:

[2016-04-23 02:56] InSertCod3 commented on #728
thank you problem fixed

[2016-04-23 03:08] #728 closed

[2016-04-24 05:26] danpovey opened #729 "update to validate_dict_dir.pl to check for ^M"
We need to update validate_dict_dir.pl so that it detects when any user-supplied input files contain ^M characters, and fails if they do.  (make it user's responsibility to remove them).
Dan

[2016-04-28 11:55] sparber opened #735 "build error"
I was trying to build kaldi from latest master but it seems to be broken.

I'm getting undefined reference errors when trying to compile src/online2/online-nnet3-decoding.cc:

I think online-nnet3-decoding.cc shouldn't be located in the online2 folder. I removed `online-nnet3-decoding.o` from online2/Makefile and also `online2-wav-nnet3-latgen-faster` and `../nnet3/kaldi-nnet3.a` from online2bin/M

[2016-04-28 15:31] danpovey commented on #735
I guess you were using a mac-- I was able to reproduce this problem on my
mac but not on linux.
While messing around with it the problem mysteriously disappeared at some
point and I can't replicate it any more.  I checked in some extremely minor
changes to Makefiles and some whitespace changes to code, but I checked and
reverting these did not seem to make the problem reappear.  So I think it
was

[2016-04-28 15:58] sparber commented on #735
Thanks for your answer. I will undo my changes and retry.
It was on ubuntu actually...

[2016-04-28 18:04] giuliopaci opened #736 "Does --exclude-silphones in egs/wsj/s5/steps/nnet/train_mpe.sh work as expected?"
A colleague of mine gave to me an old recipe (~1.5 years) and I tried to run it.

At some point the recipe called ```egs/wsj/s5/steps/nnet/train_mpe.sh``` with the option ```--use-silphones true```. This command was failing reporting an invalid option.

So I had a look at the ```egs/wsj/s5/steps/nnet/train_mpe.sh``` log, trying to figure out what happened and I found this commit 3f89fab71ad3fe3441

[2016-04-28 18:27] danpovey commented on #736
cc'ing Karel since this is an nnet1 question.

On Thu, Apr 28, 2016 at 2:04 PM, Giulio Paci <notifications@github.com>
wrote:

[2016-04-29 08:41] giuliopaci commented on #736
By looking at his emails, my colleague found a message from Karel where he said that he

so it seems the current behaviour is the correct one.

I am closing the issue.

[2016-04-29 08:41] #736 closed

[2016-05-01 16:23] sdrobert opened #739 "ReadBasicFileType will confound EOF with unsigned char length"
Hi there,

In `io-funcs-inl.h`, `WriteBasicFileType()` writes a length byte, but uses its sign to determine the signedness of the value. However, `ReadBasicFileType()` will error if it reads in -1, which could either mean an EOF (as per c++ ref) or an unsigned char.

Best,
Sean

[2016-05-01 17:15] danpovey commented on #739
I expect that istream::get() returns either -1 for EOF, or an unsigned char cast to an int otherwise.  The C++ docs don't state this, but no other way would make sense.  So the Kaldi code would not be vulnerable to this problem.

[2016-05-01 17:15] #739 closed

[2016-05-01 17:24] sdrobert commented on #739
Sorry, I don't quite understand. If the length byte is assumed to be unsigned, wouldn't that mean that the negative lengths, corresponding to unsigned integers (unsigned char, uint16, uint32, uint64 being -1, -2, -4, -8 resp) be interpreted as their unsigned two's complement? I apologise if I'm misunderstanding.

[2016-05-01 17:27] danpovey commented on #739
you misread the code.

[2016-05-01 17:28] danpovey commented on #739
it's cast to char after checking for -1.

[2016-05-01 17:47] sdrobert commented on #739
Oh, I think I understand. The extra zeros are cropped when cast and the char basically overflows back to its correct value.

Thanks very much. That's a very strange aspect of streams I was unaware of.

[2016-05-02 04:54] #735 closed

[2016-05-02 04:57] danpovey opened #740 "Get rid of HAVE_POSIX_MEMALIGN and HAVE_MEMALIGN"
I want the code in kaldi-utils.h regarding memory alignment to be cleaned up.
The setups we support can be divided into two, in terms of memory alignment
(1) windows -> use aligned_malloc
(2) unix systems [Linux and Darwin] -> use posix_memalign

So we don't need the compilation flags HAVE_POSIX_MEMALIGN or HAVE_MEMALIGN any more (they were already legacy code, from proto-Kaldi).  These flags shou

[2016-05-03 13:26] vesis84 commented on #736
Yes, '--use-silphones' was renamed to '--exclude-silphones', because it was more self-explanatory. It causes the exclusion of silence-frames from contributing to the approximate accuracies in the sMBR Forward-Backward algorithm (silence frames become always correct)...

[2016-05-03 17:16] danpovey opened #747 "--iter option to score script"
Avoid giving the --iter option to the score scripts when it would have the default value ('final').
due to the following email on help list from vince62:
--
Hi,

At one point of time the run_nnet2_ms.sh script calls the steps/nnet2/decode.sh script

the latter, at stage 2 calls local/score.sh with option --iter $iter

in Tedlium (have not checked others) score.sh is linked to score_sclite.sh which

[2016-05-03 20:09] vijayaditya opened #751 "Unfolded RNN implementation in nnet3"
We would like to get an unfolded RNN ([1]) recipe implementation in nnet3. The effort involves
1. Writing a config generator similar to steps/nnet3/tdnn/make_configs.py
2. Writing a recipe similar to swbd/s5c/local/chain/run_tdnn_6z.sh

Requirements : Knowledge of python, bash
Learning: Author will gain experience in using nnet3 toolkit and writing a DNN recipe in Kaldi

[1] [Saon, George, et al.

[2016-05-03 20:19] jtrmal commented on #747
I see this already resolved in steps/nnet2/decode.sh in the latest master -- is there more scripts to be fixed or can this be closed?

[2016-05-03 20:21] #747 closed

[2016-05-04 02:37] #621 closed

[2016-05-04 05:33] danpovey opened #753 "utils/lang/check_g_properties.pl not right"
These lines don't look right:
close(O);  # tell 'fstcompile | fstinfo' pipeline that its input is done.
while (<I>) {
  if (m/cyclic\s+/) {
    print "$0: validating $lang: error: G.fst has cycles containing only disambig symbols and epsilons.  Would cause determinization failure\n";
    exit(1);
  }
}

O seems to be the output and I the input of the open2 command, so it never gets into the while

[2016-05-05 09:44] pranavj opened #761 "WSJ script, change in path to transform-dir, [minor issue]"
It seems to me that if one follows WSJ script,
  the location of transform-dirs in `egs/wsj/s5/local/run_mmi_tri4b.sh`
should be `exp/tri4b/decode_tgpr_dev93` instead of `exp/tri3b/decode_tgpr_dev93`

Similarly all other transform-dirs in this script should come from `tri4b` instead of `tri3b`, otherwise it gives an error that "expected */trans.1 file"

[2016-05-05 17:20] danpovey commented on #761
I just pushed a fix for this.

On Thu, May 5, 2016 at 5:44 AM, pranavj <notifications@github.com> wrote:

[2016-05-05 23:58] pranavj commented on #761
thanks. Line 35 needs to be changed too

[2016-05-06 00:27] danpovey commented on #761
ok fixed

On Thu, May 5, 2016 at 7:58 PM, pranavj <notifications@github.com> wrote:

[2016-05-06 00:28] #761 closed

[2016-05-06 03:50] pranavj commented on #729
Does it need to give multiple warnings "File contains CRLF endings at line $_" or just one?

[2016-05-06 03:56] danpovey commented on #729
Probably just one as it would tend to be repeated many times.  Make sure it
triggers it to (eventually) exit with error status.  But not super critical.

On Thu, May 5, 2016 at 11:50 PM, pranavj <notifications@github.com> wrote:

[2016-05-06 03:58] galv commented on #751
You can prod me about this around May 20th if no one else wants to pick this up by then.

[2016-05-06 16:25] dxyzab opened #765 "librispeech multisplice results"
From librispeech results

[code]

[2016-05-06 18:50] danpovey commented on #765
@freewym, do you have these numbers?  Perhaps you could update the RESULTS
file with them?
Dan

On Fri, May 6, 2016 at 12:25 PM, dxyzab <notifications@github.com> wrote:

[2016-05-06 19:22] danpovey commented on #729
resolved by #764

[2016-05-06 19:22] #729 closed

[2016-05-06 19:39] freewym commented on #765
I don't have these results since I didn't run local/online/run_nnet2_ms.sh. But I can run it.
Yiming

[2016-05-07 19:35] vijayaditya commented on #716
FYI @tomkocse has picked this issue.

[2016-05-07 19:44] vijayaditya opened #766 "Left biphone chain models"
In  the current chain recipes we use a tri-phone LM. We would like to test out left-biphone LM in its place. @keli78 has tested these LMs in RM recipe and found them helpful. We would like to test it out for larger setups e.g. swbd.

@naxingyu Are you interested in taking this up ?

For more info see [this mail thread](https://groups.google.com/forum/#!msg/kaldi-developers/aJNsm7guScQ/TGoHvnRNBwAJ

[2016-05-08 19:18] vijayaditya opened #768 "TED-LIUM release 2 recipe"
User vince62s has updated the TED-LIUM recipe to use the TED-LIUM 2 release of data, which almost doubles the data. Obviously we want to add these changes to the recipe. However we would like to preserve the old recipe as it was a widely used benchmark. This gives us a nice opportunity to write a new TED-LIUM recipe called egs/tedlium/s5_r2 which uses new release 2 data.

This work involves going

[2016-05-09 01:06] naxingyu commented on #766
Sure, I'll take it.

在 2016/5/8 3:45, Vijayaditya Peddinti 写道:

[2016-05-09 02:34] naxingyu commented on #766
@keli78 Did you tested it on tdnns or blstms? How did you tune the variables, such as context, lm-states, tree-states, etc.? And would you ming point me to the location of your scripts in the clsp network so that I can check? Thanks.

[2016-05-09 02:38] danpovey commented on #766
It was TDNNs, and nothing was changed except possibly the number of
tree-states slightly reduced.

On Sun, May 8, 2016 at 10:34 PM, Xingyu Na <notifications@github.com> wrote:

[2016-05-09 02:41] keli78 commented on #766
The location is here: /export/a16/keli1/kaldi-chain/egs/rm/s5_left-biphone

[2016-05-09 02:42] danpovey commented on #766
I think Xingyu doesn't have an account on the cluster, show him if there
were configuration changes.

On Sun, May 8, 2016 at 10:41 PM, Ke Li <notifications@github.com> wrote:

[2016-05-09 03:00] keli78 commented on #766
Ok. The number of tree leaves is 900 instead of 1800. The relu-dim I used is 400. The ivector-dim is 50 considering rm is relatively small. I didn't change other parameters much.

[2016-05-09 03:04] naxingyu commented on #766
Thanks!

在 2016/5/9 11:00, Ke Li 写道:

[2016-05-09 03:05] naxingyu commented on #766
Maybe I can access it using clspfriends account?

在 2016/5/9 10:42, Daniel Povey 写道:

[2016-05-09 04:50] vijayaditya commented on #699
@guoguo12 @sikoried Could you please provide timely updates on this progress ? This would help us schedule the other projects which rely on this recipe.

[2016-05-09 05:51] sikoried commented on #699
We've started working on it, but Allen has finals the upcoming week.  Is end of summer still ok, or should we expedite a bit?

[2016-05-09 06:23] vijayaditya commented on #699
Nothing urgent. Our previous plan to get the recipe in shape by mid-August is still good for our plans. I just wanted to ensure that you had everything needed from our end.

[2016-05-09 06:30] guoguo12 commented on #699
Yep, we're all set. We'll provide updates here as the project proceeds.

My working branch is [guoguo12:multi-recipe](https://github.com/guoguo12/kaldi/tree/multi-recipe/egs/multi_en/s5). There's not much to see there right now. If you'd like, I can make a "WIP" pull request.

[2016-05-09 06:38] vijayaditya commented on #699
@guoguo12 Thanks. A WIP PR is always desirable.

[2016-05-09 07:42] vijayaditya commented on #661
@snidada1 It would be very convenient if you keep updating this issue with the progress reports rather than just sending @jtrmal and me the mails.

[2016-05-10 08:50] pranavj commented on #768
Where are his scripts? Didnt see them in egs/tedlium

[2016-05-10 08:57] vijayaditya commented on #768
@pranavj The updated recipe has not pushed yet. They reside in vince's repo at
https://github.com/vince62s/kaldi/tree/tedlium-r2/egs/tedlium

[2016-05-10 22:47] qhuang11 opened #773 "./configure --share issue"
Trying to compiling using shared configuration:
[code]
it shows
[code]

Thanks!

[2016-05-10 23:06] danpovey commented on #773
Probably you tried to change the configuration options after already having
built Kaldi, and didn't do "make clean" in between.
Dan

On Tue, May 10, 2016 at 6:47 PM, qhuang11 <notifications@github.com> wrote:

[2016-05-11 01:58] qhuang11 commented on #773
yeah, you are right. It works now:) Thank you @danpovey !

[2016-05-11 01:58] #773 closed

[2016-05-11 04:14] vijayaditya commented on #766
@naxingyu found that left-biphone models were as good as the triphone models on SWBD task. He will work on this further and create a recipe for swbd. This discussion can be followed in kaldi-developers mailing list ([here](https://groups.google.com/d/topic/kaldi-developers/NNx2xVoYctU/discussion))

[2016-05-11 04:18] vijayaditya commented on #701
@pegahgh Any progress ?

[2016-05-11 04:25] vijayaditya commented on #765
@freewym Any progress ?

[2016-05-11 04:27] freewym commented on #765
The experiment is still running.

On Wednesday, May 11, 2016, Vijayaditya Peddinti <notifications@github.com>
wrote:

--
Sent from my iPhone

[2016-05-11 04:34] vijayaditya commented on #724
#766 is relevant to this discussion (This link is being provided for future reference).

[2016-05-11 15:58] pegahgh commented on #701
Model combination on SWBD gives 0.1 to 0.3 % WER improvement on SWBD using
chain model.

System               6v(last iteretaion)        6v(model combination)

WER on train_dev(tg)      14.78     14.68

WER on train_dev(fg)      13.58     13.49

WER on eval2000(tg)        17.5      17.2

WER on eval2000(fg)        15.9      15.7

WER on rt03(tg)        17.0      16.9

WER on rt03(fg)        14.8

[2016-05-13 01:19] vijayaditya commented on #768
For the sake of clarity I am writing down the changes required in detail

1. Create a new directory tedlium/s5_r2 with a new recipe which uses tedlium release 2 data.

2. Make the necessary changes for modifying data prep scripts (
 Check the changes made by vince62s [here](https://github.com/vince62s/kaldi/tree/tedlium-r2/egs/tedlium/s5_r2) for adding the release-2 data to Ted-LIUM recipe.

3. Re

[2016-05-13 01:24] vijayaditya opened #776 "Left-biphone recipe for Librispeech"
This issue is related to #766. @naxingyu has developed a left biphone chain recipe for swbd (see #774 ). We need to test out this model even in Librispeech setting.

[2016-05-13 13:32] francisr commented on #701
Do you have results with BLSTMs?

[2016-05-13 13:34] francisr commented on #753
This has been fixed in #756.

[2016-05-13 17:43] #753 closed

[2016-05-13 21:41] danpovey opened #778 "Modify how the --per-utt option works in split_data.sh"
There is a conceptual problem in how the --per-utt option is used when we split data.
It's that the split data goes to the same place regardless of whether we split it per utterance or per speaker, and there is caching, so if someone has used --per-utt in the past and then tries to use the per-speaker splitting, they'll get the wrong thing (and this can cause crashes in some scripts that assume th

[2016-05-13 23:13] francisr commented on #778
I have a slightly similar issue: when I train on a lot of data, I use a quite large number of splits for some steps (multiple thousands) to ensure that each job is not too long (less than an hour).
However it can take more than a day to split the data with --utt2spk, so I was thinking that I could split the data per utt before hand. With the proposed chan

[2016-05-13 23:43] danpovey commented on #778
Try changing
$changed = 1
to
$changed = 0
and see if it makes the splitting faster in your case.

[2016-05-14 01:15] danpovey commented on #778
I had look through the script, and I think I found why it's slow.  I made a data-structure change and committed it-- see if it makes it fast now.  If it doesn't make a difference, try the '$changed = 0' change.

[2016-05-15 15:51] jogrimst commented on #515
I can reproduce this (Debian 3.16.7-ckt25-2):

After installing (making) Kaldi, we're running the script for Wall Street Journal English:

cd egs/wsj/s5/
./run.sh

[code]

kaldi/tools/extras/install_irstlm.sh
[code]

But there is no env.sh file in the fools folder. Any suggestions?

@BorjaArtamendi

[2016-05-15 17:34] danpovey commented on #515
You can ignore the message, but we'll address it.

On Sun, May 15, 2016 at 11:51 AM, Jo Grimstad <notifications@github.com>
wrote:

[2016-05-15 18:36] #740 closed

[2016-05-16 03:14] vijayaditya opened #784 "Modify volume perturbation code"
Please use utils/data/perturb_data_dir_volume.sh to perform volume perturbation in place of inline scripts. Could people taking care of individual recipes do this change in your local run_ivector_common.sh script. This is not a high priority change so if you want you can bundle it in your next PR.

I hope the following developers will take care of this change in the respective recipes
@freewym - l

[2016-05-16 03:40] vijayaditya commented on #768
Nnet3 scripts necessary for this issue have been added to chain branch. See #783.

[2016-05-16 10:53] AntreasAntoniou opened #785 "Copy-int-vector ark to ark,scp fails"
Dear Kaldi Authors,

I have run into an issue that seems to be giving me quite a lot of trouble so I thought I might ask you. I run the following:

`copy-vector ark,t:test_ark.ark ark,scp:kaldi.ivectors.ark,kaldi.ivectors.scp`

and I get:

ERROR (copy-vector:main():copy-vector.cc:67) Cannot mix archives with regular files (copying vectors)

ERROR (copy-vector:main():copy-vector.cc:67) Cannot mix a

[2016-05-16 12:35] francisr commented on #778
It seems that my intuition was wrong, split_scp.pl was fine, it's filter_scps.pl that takes a lot of time.
It goes over the whole input file for each split, even with when I use a hundred splits it takes more than 30 minutes a single scp file.

[2016-05-16 21:10] danpovey commented on #785
It looks to me like your problem is due to a bug which was fixed in 2013!!

[2016-05-16 21:10] #785 closed

[2016-05-16 21:47] danpovey commented on #778
OK, the speed issue is fixed now.
(the original issue still remains).

[2016-05-17 13:39] vince62s commented on #720
RE 2) @danpovey : is your current work on LM toolkit supposed to replace or be built on top of the kaldi_lm tools ? looking forward to seeing these .... cheers.

[2016-05-17 22:05] danpovey commented on #720
It replaces the kaldi_lm tools.  Actually work is progressing rapidly, I
hope to release it within a month.  I am getting nice perplexity
improvements, for example on the Switchboard+Fisher setup, with a
Switchboard subset as dev data, the improvement SRILM->pocolm is about
81->79 with 3-gram, and 85->74 with 4-gram.  I am hoping that this will
lead to nice WER improvements.

[The SRILM baseline i

[2016-05-18 23:56] #765 closed

[2016-05-20 09:20] jmloveyj opened #795 "undefined reference to `FLAGS_v' when make src"
make operation in /src failed: (ubuntu 14.04)
./fstext/kaldi-fstext.a(kaldi-fst-io.o): In function `fst::SymbolTable::SymbolTable(fst::SymbolTableImpl*)':
/media/psf/Home/Downloads/kaldi-trunk/tools/openfst/include/fst/symbol-table.h:409: undefined reference to `vtable for fst::SymbolTable'
../fstext/kaldi-fstext.a(kaldi-fst-io.o): In function `fst::FstImpl<fst::ArcTpl<fst::TropicalWeightTpl<float

[2016-05-20 18:18] danpovey opened #797 "Make combine_data.sh able to combine data with and without segments files."
... probably by adding segments with "0 -1" as timings.

[2016-05-20 18:33] danpovey commented on #795
Is it possible that you have installed OpenFst in system space?  In that
case there could be some kind of version clash.

Do dpkg -l | grep openfst

Best to uninstall any system OpenFst, then redo 'make depend' and possibly
'make clean'.

Dan

On Fri, May 20, 2016 at 5:20 AM, JimmyJin <notifications@github.com> wrote:

[2016-05-20 23:52] guoguo12 commented on #699
@vijayaditya: When using existing data prep scripts, e.g. `egs/fisher_swbd/s5/local/swbd1_data_prep.sh`, should we 1) symlink the script from our recipe or 2) make a copy of the script in our recipe's directory?

@danpovey: Would like your input on this as well.

[2016-05-21 00:00] danpovey commented on #699
Regarding copying data-prep scripts vs. linking them... not sure.  Maybe
copy them-- linking things within local isn't really the normal pattern.

Dan

On Fri, May 20, 2016 at 7:52 PM, Allen Guo <notifications@github.com> wrote:

[2016-05-21 00:06] guoguo12 commented on #699
Okay, thanks. The downside is that the copies may need to be manually synced if the originals are changed. That said, @sikoried thought of another solution (Option #3): Allow the user to specify (by commit hash) what version of each script to use, then automatically pull those versions from GitHub using sparse checkout.

[2016-05-21 00:08] danpovey commented on #699
I think that's too complicated.
Bear in mind that if the upstream scripts get changed, they may be changed
in ways that are incompatible with the recipe you develop.  So it may be
safer to force the manual syncing.
Dan

On Fri, May 20, 2016 at 8:06 PM, Allen Guo <notifications@github.com> wrote:

[2016-05-21 00:15] guoguo12 commented on #699
Okay, we'll stick with copying. Thanks!

[2016-05-21 04:03] hjchen2 opened #798 "what the LogProbs label means in HMM topology"
I tried to train a monophone GMM using train_mono.sh. In the model I found a label named LogProbs.
Who can tell me the meaning of LogProbs in HMM topology? Any reply will be welcome, thx

[2016-05-21 04:27] vijayaditya commented on #699
It is always be good just to mention in the comment at the top of the
script where it was copied from (along with the commit id) and what was
changed compared to the previous script.

We are trying to do this in the new nnet3 scripts in local/. It would be
good to follow this for data prep scripts too.

Vijay
On May 21, 2016 05:45, "Allen Guo" <notifications@github.com> wrote:

[2016-05-21 08:35] kangshiyin opened #799 "Propose to use CUB C++ header library for CUDA kernels."
CUB is a open source project developed by Nvidia. It provides high performnace, portable (across Nvidia GPUs with different compute capabilities) code to simplify the kernel code writing.

https://nvlabs.github.io/cub/

It is a C++ header-only library using New BSD license.

My question is can we include it in Kaldi? If yes, is a suggested place where we can put it?

Thx.

[2016-05-21 14:24] jtrmal commented on #799
I'm closing it, because the question/suggestion does not even make real sense -- there is no benefit including something without doing the real work -- i.e. rewriting the kernels and testing if the performance would get better (and why).  You are free to experiment with it -- please let us know if you find any speedup/improvement.

[2016-05-21 14:24] #799 closed

[2016-05-21 18:34] danpovey commented on #798
see kaldi-asr.org/forums.html.  But easier to grep in the code.

[2016-05-21 18:34] #798 closed

[2016-05-21 18:34] #795 closed

[2016-05-21 18:36] danpovey opened #801 "[documentation] Page about posteriors on alignments."
Make page to point people to when they ask how to get posteriors on alignments.
This question really annoys me because it betrays a lack of basic understanding of ASR, but it gets asked so many times on the lists that we need a place in the docs to point people to.

[2016-05-21 18:37] danpovey opened #802 "[documentation] Wit Zelinsky tutorial- add to docs"
We should put the Wit Zelinsky tutorial in the docs somehow.

[2016-05-21 19:20] danpovey commented on #720
I'm following up on this thread since I now realize those perplexity gains
I quoted before were not accurate since I got the SRILM baseline wrong.*
It turns out the perplexity improvements are actually about 2.0 absolute
improvement on trigram and 2.5 with 4-gram, around a perplexity of 80.
I am hoping to get more dramatic improvements in LM pruning, though (since
previously, with kaldi_lm, the pr

[2016-05-22 14:25] hjchen2 commented on #798
thanks very deeply. I have understood this method to define the transition probably. This is different from HTK in which transition probably is defined with HMM topology. Thanks again.

[2016-05-22 16:39] jfainberg commented on #797
Happy to do this unless somebody else is already working on it. Assuming utterance and recording IDs are the same for data directories that didn't have segments, so "uttid uttid 0 -1"? (So "awk '{ print $1" "$1" 0 -1" }' $f/utt2spk")

[2016-05-22 17:22] danpovey commented on #797
Yes they are the same.
Dan

On Sun, May 22, 2016 at 12:39 PM, Joachim <notifications@github.com> wrote:

[2016-05-23 19:36] danpovey commented on #797
I haven't looked at your PR yet, but I just realized that there is something else that needs to be done in order for these combined data dirs to later be usable by get_utt2dur.sh.  I don't want the -1's in the segments file because it will be hard to handle in get_utt2dur.sh, plus it could be potentially confusing for many scripts to have to deal with this. Instead, you should work out the duratio

[2016-05-23 20:27] jfainberg commented on #797
That makes sense, thanks! I'll make my PR a WIP and have a go at using get_utt2dur.sh over the next few days.

[2016-05-24 15:07] vince62s commented on #768
@vijayaditya Just for clarification. the WER we see for nnet3 seem higher (ie not as good as) the best nnet2 system if I am not mistaken. is your plan to stick to nnet3 = SOA ?

[2016-05-24 20:27] danpovey opened #811 "left-biphone chain model alignments"
It just occurred to me that when training the left-biphone chain model, it would be interesting to do a pass of SAT training with a left-biphone model, including alignment passes.  This may improve the alignments in the sense of making them more compatible with a left-biphone model, and that may improve the tree.

[2016-05-25 03:15] naxingyu commented on #811
taken

[2016-05-26 01:31] guoguo12 commented on #699
Status update: Finished copying and integrating the data prep scripts for the various corpora. The data directories should be ready to be combined now. I've also normalized the transcripts, and I've created a lexicon by combining the lexicons from fisher_swbd and tedlium. Next, I'll look into generating missing pronunciations in librispeech using Sequitur G2P and making those part of the lexicon a

[2016-05-26 01:40] danpovey commented on #699
I think it might be a better idea to use CMUDict as the upstream lexicon
for the combined data, maybe using the Switchboard (MSU) and Cantab
lexicons, suitably mapped, for some unseen words.  Of course you can try
both ways.

Recently we tried a combined setup with Librispeech and Switchboard, and
found the pronunciations obtained by g2p after training on the Switchboard
lexicon were worse than th

[2016-05-26 02:23] guoguo12 commented on #699
So basically, 1) train a G2P model using CMUDict (after stress removal), 2) synthesize pronunciations for all words across all databases that are not in CMUDict, and 3) combine into a single lexicon?

[2016-05-26 02:26] danpovey commented on #699
Something like that, but it might possibly be better to use the prons in
the cantab dictionary and in the MSU dictionary before you go to g2p, so
only use g2p as a last resort.  Before you do that, though, you'd need to
work out how to map MSU pronunciations to a CMUDict-like format.

On Wed, May 25, 2016 at 10:23 PM, Allen Guo <notifications@github.com>
wrote:

[2016-05-26 02:34] guoguo12 commented on #699
Okay, I'll give it a shot. Thanks for the feedback!

[2016-05-26 07:11] drTonyRobinson commented on #699
On 26/05/16 02:40, Daniel Povey wrote:

Just for clarity, this is correct.

Our main objective was to add a decent LM to TEDLIUM.   That needed
pronunciations to run and IIRC at the time Kaldi wasn't using g2p.

Tony
--
Speechmatics is a trading name of Cantab Research Limited
We are hiring: www.speechmatics.com/careers
<https://www.speechmatics.com/careers>
Dr A J Robinson, Founder, Cantab Resear

[2016-05-27 03:11] vijayaditya commented on #768
I have just seen differences in performance I consider minor between these
two toolkits.

The optimization algorithm was slightly modified in nnet3, as the new
toolkit does gradient clipping based on change of parameters in the entire
model rather than per individual layer, which might be one of the reasons
for this difference in the results.

Nnet3 has implementations for RNNs and it is convenien

[2016-05-27 11:04] vince62s commented on #768
Just to be sure what we are comparing. nnet2 best score 10.9% after 4 epochs, versus nnet3 12.1% after 4 epochs, all based on relaese 1. Am I correct ?
I fully understand the nnet3 direction, but just to be sure where performance stands before moving myself. thanks.

[2016-05-27 11:38] jtrmal commented on #768
Perhaps we see the influence of the improved/modified regularization?
Y.
On May 27, 2016 1:04 PM, "vince62s" <notifications@github.com> wrote:

[2016-05-27 18:06] danpovey commented on #802
More specifics on this: an updated version of Wit's tutorial is here
 https://groups.google.com/forum/#!msg/kaldi-help/tzyCwt7zgMQ/wvCLpVVpBgAJ
It is in Markdown.  The first thing we should try is whether we can just include it with a markdown filename extension, e.g.  src/doc/kaldi_for_dummies.md, and change MARKDOWN_SUPPORT = NO to YES in src/Doxyfile.  Something would have to be added to mainpa

[2016-05-27 18:29] danpovey commented on #768
It looks like the reason for the difference is that the nnet3 cross-entropy
TDNN recipe is quite a bit behind the corresponding nnet2 TDNN recipe.  The
configuration is quite different and the nnet3 one seems to have some
problems.

For a start, in the nnet3 recipe in egs/tedlium/s5/local/nnet3/run_tdnn.sh,
results are given for 2 epochs and 4 epochs; the 4-epoch run has better
results but the scr

[2016-05-27 21:26] galv commented on #768
I can do begin an experiment within an hour using Dan's suggested configs. I haven't deleted my TEDLIUM setup.

I wrote the original nnet3 recipe. I was thinking only of chain-vs-nnet3 results at the time, so I did not realize the nnet3 model was worse than the nnet2 model at the time. The splice indices you see for nnet3 look like a hold-over from the chain model.

[2016-05-27 21:29] danpovey commented on #768
cool.

On Fri, May 27, 2016 at 5:26 PM, Daniel Galvez <notifications@github.com>
wrote:

[2016-05-27 21:39] galv commented on #768
Running now. Bear in mind it will be - I think - ~2 days. Here are the relevant configs:

[code]

[2016-05-28 13:14] allesover opened #816 "something wrong when i build the kaldi"
my machine information：Linux gs01 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt25-1 (2016-03-06) x86_64 GNU/Linux . And my gpu is Tesla K80 (16 cores), cuda-7.5, nvidia-driver 364.19.

After I compiled the kaldi and run the training, there shows the error information:
     "run_multisplice.sh: line 12: cuda-compiled: command not found
This script is intended to be used with GPUs but you have not compile

[2016-05-28 18:13] danpovey commented on #816
There is no 'run_multisplice.sh' in the current version of Kaldi (see
kaldi-asr.org/doc/install.html).
Dan

On Sat, May 28, 2016 at 9:14 AM, allesover <notifications@github.com> wrote:

[2016-05-28 19:25] vijayaditya opened #817 "TED-LIUM nnet3 TDNN model tune up"
The nnet3 models are a bit worse than the best nnet2 models. @danpovey  pointed out that there are difference in the TDNN architectures used in nnet2 and nnet3, and in some other hyper parameters. @galv has offered to tune the nnet3 models.

Relevant discussion is available in Issue https://github.com/kaldi-asr/kaldi/issues/768. This issue has been created to track the progress of the nnet3 model

[2016-05-29 01:55] allesover commented on #816
sorry,the "run_multisplice.sh" is the script that i modified for tdnn
training.

Also,there exists memory leakage when i train the tdnn using the cuda6.5
and nvidia-driver 361.28.

And i wonder what version of cuda and nvidia-driver you use for kaldi:)

在 2016/5/29 2:13, Daniel Povey 写道:

[2016-05-29 01:58] danpovey commented on #816
training.

It may be a path issue.  Perhaps you forgot to do
. ./path.sh

Also,there exists memory leakage when i train the tdnn using the cuda6.5

We use 7.[something] here.  I think some versions of the 7.[something]
drivers have the bug too (probably depends on the hardware- we never had
the problem here).  But recent ones may be fixed.

Dan

[2016-05-29 19:40] #816 closed

[2016-05-29 19:55] danpovey opened #819 "Bug in DivRowsVec"
@kangshiyin : @hhadian just noticed a problem in the code for DivRowsVec.  It looks like I may have changed the code that invokes it without noticing that the kernel had special requirements.

In https://github.com/kaldi-asr/kaldi/blob/master/src/cudamatrix/cu-kernels.cu#L474, there is an array of dimension 16 (it looks like the kernel assumes it's called on a 16x16 array), but we call it with arb

[2016-05-29 19:56] danpovey commented on #819
... and please make sure it's adequately tested.

[2016-05-29 20:59] danpovey opened #820 "Change the way arpa2fst works with backoff states"
[@kkm000  please note]

There is something that I'd like changed in the code inside arpa2fst, that will reduce the number of states in the FST, at least for pruned language models.
Basically: if the backoff-cost for an LM state is zero, and there are no arcs leaving from it, there should be no need to create that state.  Arcs that would otherwise go *to* that state can go to the highest-order back

[2016-05-29 22:08] kangshiyin commented on #819
The shared memory seems not required.  I can make a PR on this later.

[2016-05-30 17:13] #819 closed

[2016-05-31 12:02] vince62s commented on #768
@galv any update on you run ? thanks.

[2016-05-31 14:14] galv commented on #768
I've been a little pressed for time the past two days with travelling and then moving out a space. Sorry for the period of silence.

Here are my results form the latest run. I want to interpret these but I need to run now:

[code]

[2016-05-31 20:24] vince62s commented on #699
Hi,
For the users who do not have 1) either the computing resource or 2) access to some of the corpus, I would suggest to open the choice to pick or not some sources in a preliminary step, unless this is not at the goal of this project.

[2016-06-01 00:44] guoguo12 commented on #699
@vince62s: Yep, @sikoried and I are taking that into consideration. Our current plan is to make the training steps as generic as possible. Our proposed data directory structure is:
[code]
Each `train_s*` directory will be configurable in terms of what corpora to include, what ratios of those corpora to use, and perhaps even what model parameters to use. We will provide an example build script that

[2016-06-01 07:15] vijayaditya commented on #699
Writing the data prep scripts to handle multiple corpora is good, but keep
in mind that things like
model size (number of layers, size of layers, number of leaves,...), number
of epochs of training and many other hyper-parameters are usually adjusted
based on data size. So it would be bit tough to make these configurable
while keeping the scripts simple to read. The scripts we keep in local are
pr

[2016-06-01 08:01] jtrmal commented on #699
Guys, I don't think tuning it for every possible combination is a good use
of our and Allen&Korbinian's time.
I'd say let's just make the scripts reasonably general and set-up the
infrastructure for the original corpora as outlined by Vijay. I don't
actually think it will be easy to make it work for all of them right away.
We can then distribute the models through openslr if there will be enough
i

[2016-06-01 08:56] vijayaditya commented on #661
We once again need help with this issue, please let us know if you are interested.

[2016-06-01 13:59] sikoried commented on #699
Yeah we didn't intend to optimize parameters for more than one combination,
but rather architect the scripts so that it's fairly easy for someone else
to make modifications. Maybe to give a negative example: right now in other
recipes it's fairly distributed and hard coded which partitions and params
(states, Gaussians, jobs, and the partitions themselves) are used for the
bootstrap. If you want t

[2016-06-01 14:06] jtrmal commented on #699
Yeah,  Ok,  but do not over-engineer it.
Y
On Jun 1, 2016 4:00 PM, "Korbinian" <notifications@github.com> wrote:

[2016-06-01 17:54] danpovey commented on #699
Agreed RE not over-engineering it.  Scripts with millions of options don't
generally make it easier to modify things, they make it harder.
Dan

On Wed, Jun 1, 2016 at 10:06 AM, jtrmal <notifications@github.com> wrote:

[2016-06-01 18:05] sikoried commented on #699
Sure guys, no worries ;-)  It's all way simpler than you may have pictured now!

[2016-06-02 01:19] allesover opened #824 "K80 is even slower than K20"
Hi Povey,
        I run the same training on the K20 and K80, the CUDA version and nvidia driver version are the same. But I found that the K80 is even slower than the K20 .each iteration for K20 is about 2mins using 5 K20 gpu cards and 5 jobs,but the same iteration for K80 is still 2mins using 15 K80 gpu cards and 15 jobs.
       I also did the experiment on one K80 card, the time for one iterati

[2016-06-02 01:24] danpovey commented on #824
When you increase the number of jobs the iteration isn't supposed to go
faster.  Instead there would be fewer iterations.
So you're saying the time is unchanged at 2 minutes.  That means the K80 is
not faster than the K20.  I'm not sure if it is even supposed to be faster;
but if it is, it could be you're limited by I/O speed

[2016-06-02 02:29] allesover commented on #824
Hi Povey, when I using the gridengine on the cluster of gpu server ,do I need to time-synchronize the servers of the clusters? When I typing "date" on different machines, the time showing is slightly different, will it affect the training?

[2016-06-02 02:29] danpovey commented on #824
It won't matter.

On Wed, Jun 1, 2016 at 10:29 PM, allesover <notifications@github.com> wrote:

[2016-06-02 02:30] allesover commented on #824
thx...

[2016-06-02 02:30] #824 closed

[2016-06-02 07:40] jmloveyj opened #825 "steps/nnet2/get_egs2.sh failure(macbook, cpu)"
ERROR (nnet-get-egs:~SequentialTableReaderArchiveImpl():util/kaldi-table-inl.h:690) TableReader: error detected closing archive "utils/filter_scp.pl exp/nnet2_online/nnet_ms_a/egs/train_subset_uttlist data/train_si284_hires/feats.scp | apply-cmvn --norm-means=false --norm-vars=false --utt2spk=ark:data/train_si284_hires/utt2spk scp:data/train_si284_hires/cmvn.scp scp:- ark:- | paste-feats --length-

[2016-06-02 07:51] #825 closed

[2016-06-02 07:56] drTonyRobinson commented on #824
Kaldi/gridEngine uses NFS and it used to be the case that having
different clocks confused NFS.   I've no idea if this is still the case,
enabling nntpd is straightforward nowadays and is the safe option.
Sorry to sound like a worrier if there is no issue.

Tony

On 02/06/16 03:30, Daniel Povey wrote:

--
Speechmatics is a trading name of Cantab Research Limited
We are hiring: www.speechmatics.com

[2016-06-02 12:04] vince62s commented on #699
@guoguo12 not trying to be a pain :) , but looking forward so asking another question RE: lexicon and LM. I saw Dan's comment on mapping various lexicons [as a matter of fact even Librispeech and Tedlium which I think are both derived from CMUdict do not have the same phonemes eg AY / AY1 AY2] some on them being UPPERcase other lowercase (same for LMs), is there one specfic choice on all of this ?

[2016-06-02 18:52] danpovey commented on #699
I think uppercase vs lowercase doesn't matter, just choose either.
In AY vs AY1 AY2, that's a choice of whether you retain the numeric stress
markers in CMUDict.   You may want to experiment with both options-- except
that if the recipe will require the MSU dictionary to help cover the
Switchboard data, then you may have to omit stress because the MSU
dictcionary doesn't have it.
What I am more co

[2016-06-03 03:07] guoguo12 commented on #699
I've been using lowercase phones without stress markers. I didn't use the MSU dictionary. It seems that fewer than 2% of the words (not unique words, but actual words) used in the Switchboard transcripts are absent from CMUdict. Many of these are partial words with hyphens, like "th-" or "tha-".

[2016-06-03 04:06] allesover opened #827 "how to select specific GE queue to run kaldi？"
Hi Povey , now I have to run the kaldi on the same SGE but using different SGE.q. I have declared two different queues: all.q and eval.q . Now I have to run the kaldi on the eval.q but not the all.q.

Can I realise my aim by modifiing the " export train_cmd="queue.pl -l arch=*64 --mem 2G" " to
" export train_cmd="queue.pl -q eval.q -l arch=*64 --mem 2G" " in the cmd.sh ?

Thx

[2016-06-03 04:15] danpovey commented on #827
That would work, however the recommended way to do it is to create the file
conf/queue.conf and edit the command.

Do this:
cat >conf/queue.conf <<EOF
command qsub -v PATH -cwd -S /bin/bash -j y -l arch=*64*
option mem=* -l mem_free=$0,ram_free=$0
option mem=0          # Do not add anything to qsub_opts
option num_threads=* -pe smp $0
option num_threads=1  # Do not add anything to qsub_opts
option

[2016-06-03 04:18] allesover commented on #827
ok, thx for detailed guidance.

[2016-06-03 04:22] #827 closed

[2016-06-04 05:11] wonkyuml opened #830 "./configure --shared compile error"
I tried to compile with shared library.

./configure --shared
make depend
make

got error like below:

g++ -shared -o libkaldi-nnet.so -Wl,--no-undefined -Wl,--as-needed  -Wl,-soname=libkaldi-nnet.so,--whole-archive kaldi-nnet.a -Wl,--no-whole-archive  -rdynamic -Wl,-rpath=/local/kaldi/tools/openfst/lib  -Wl,-rpath=/local/kaldi/src/lib -L.  -L../cudamatrix/   -L../matrix/   -L../util/   -L../threa

[2016-06-04 05:17] danpovey commented on #830
You need to make clean first.

On Sat, Jun 4, 2016 at 1:11 AM, wonkyuml <notifications@github.com> wrote:

[2016-06-04 05:18] wonkyuml commented on #830
Actually it was clean install.

[2016-06-04 05:30] danpovey commented on #830
Looks like it was a missing dependency in nnet/Makefile, I'll push a fix
right now.

On Sat, Jun 4, 2016 at 1:18 AM, wonkyuml <notifications@github.com> wrote:

[2016-06-04 05:31] wonkyuml commented on #830
Thanks @danpovey

[2016-06-04 05:58] wonkyuml commented on #830
It works now.

[2016-06-04 05:58] #830 closed

[2016-06-06 06:07] galv commented on #817
After trying Dan's suggestion in #768 and not finding a large improvement, I decided to make an nnet3 moel that is the same as the nnet2 model in `local/online/run_nnet2_ms_perturbed.sh` to the best of my ability: same pnorm dimensions, as well as same number of initial and final jobs, learning rate, epochs and so on.

Also, I have not been working on this as much as I would like to. @vince62s, do

[2016-06-06 07:38] hjchen2 opened #831 "my doubt about the result of force-align"
I tried to understand the details of building decision trees in kaldi recently. When debugging the acc-tree-stat, I find a problem with the alignment. For example, a alignment may be {3, 1, 1, ...}. As my thought, frame 1 is aligned to transition 3  which  is mapping the transition from state 0 to state 2 of the phone sil , and frame 2 is aligned to transition 1 which is mapping the transition fro

[2016-06-06 07:39] vince62s commented on #817
I saw your results and they are not as good as nnet2 from the RESULTS file.
The thing is that I am working on release2 of Tedlium so, it take more time and not comparable.
However I was able to improve a bit further on nnet2 with 2 adjustments : lexicon (in fact there is a slight misfit. I noticed prepare_data.sh was refering to TEDLIUM.150K.dic which is the TEDLIUM lexicon, versus prepare_lm.sh w

[2016-06-06 10:46] francisr commented on #831
The graph may have been built with self loop reordering, this has the effect of moving the self loops of the an HMM state to next state in the topology.

[2016-06-06 18:58] danpovey commented on #768
@galv, what is the file location for these results?  And how do they compare with your previous results?

[2016-06-06 19:00] danpovey commented on #817
I'd be surprised if there were many words in TEDLIUM.150K.dic which were
not in cantab-TEDLIUM.dct.

On Mon, Jun 6, 2016 at 3:39 AM, vince62s <notifications@github.com> wrote:

[2016-06-07 00:48] hjchen2 commented on #831
@francisr Move to next state? I think I need to learn more about how reordering works on the graph. Thanks for your answer.

[2016-06-07 01:42] danpovey commented on #831
See http://kaldi-asr.org/doc/hmm.html#hmm_reorder

On Mon, Jun 6, 2016 at 8:48 PM, hjchen2 <notifications@github.com> wrote:

[2016-06-07 01:42] #831 closed

[2016-06-07 03:51] galv commented on #817
@vince62s regarding the dictionary, I looked at the script which uses it (join_suffix.py), and all it is doing is transforming tokenizations like "it 's" to "it's". I doubt it causes much difference. Did you test this change independently of the language model change and still get good results?

But anyway, it is good to know you are not idle because of me.

[2016-06-07 04:09] galv commented on #817
No improvement at all from using a pnorm nnet3 model with the same parameters as the nnet2 model. I'm sure there are other differences between nnet2 and nnet3 like mixing up that are a hassle to deal with anyway.

nnet3 experiment:
[code]
nnet2 baseline (note this also uses pnorm)
[code]

I try to not look at the test set but for some reason the nnet2 baseline does not list its dev set results. An

[2016-06-07 04:43] galv commented on #817
My working directory is `/export/ws15-ffs-data/dgalvez/kaldi-git/egs/tedlium/s5`

All the new experiments I will be running will match the glob `exp/nnet3/tdnn_new_splice*` from that directory.

[2016-06-07 04:46] danpovey commented on #817
I already found your directory.

It looks like in all of these results, both GMM and DNN, we are getting
quite a lot of `<unk>` decoded.  I think that could be messing up the
results.
Probably this only started happening after we fixed that problem with the
pronunciation of `<unk>` in the cantab LM.  I'm not sure if you re-ran the
nnet2 training after that was fixed?

One way to fix this is the --

[2016-06-07 04:49] galv commented on #817
I never did run the nnet2 training after we fixed the <unk> problem with the cantab LM.

Your suggestion certainly seems reasonable. I believe that cross entropy neural net models should not depend on graph creation (so that I can use the same cross entropy trained model with different graphs). Is this correct? It will speed up my investigations.

[2016-06-07 04:50] danpovey commented on #817
Yes it doesn't depend on graph creation.
Actually I'm starting to doubt whether unk is the problem... it mostly
seems to be inserted between words, and it's removed in scoring.  But worth
trying anyway.  And maybe running the nnet2 baseline will show us something.
Dan

On Tue, Jun 7, 2016 at 12:49 AM, Daniel Galvez <notifications@github.com>
wrote:

[2016-06-07 05:24] danpovey commented on #817
I notice that the default scoring script in that directory scores from LMWT
= 10 to 20, and that may not be optimal for the nnet3 models-- it's getting
the best WER at 10_0.0.  You could change the range to be 8 to 17 in the
local/score_sclite.sh, which should be enough for all model types.
Probably will make little diffrence though.

Dan

On Tue, Jun 7, 2016 at 12:50 AM, Daniel Povey <dpovey@gmai

[2016-06-07 07:18] vince62s commented on #817
RE Dict. @galv yes the impact of TEDLIUM.150k.dic is negligeable on the scripts. BUT there is about 38K words difference between the two dicts. Both are 150k words but not the same words. So in the doubts I merged the 2 dicts leading to about 200k words (with duplicated prons).
Impact on test set was minimal from 10.5% to 10.4% for the best run. I did not store it but impact on dev set was a bit m

[2016-06-07 19:00] danpovey commented on #817
@vince62s, did you run the nnet2 baseline?  And did you get the same
numbers from the RESULTS file, or similar?
Do
grep Overall exp/whatever/log/compute_prob_*.final.log
I want to see the diagnostics.
Dan

On Tue, Jun 7, 2016 at 3:18 AM, vince62s <notifications@github.com> wrote:

[2016-06-07 20:22] vince62s commented on #817
# nnet-compute-prob exp/nnet2_online/nnet_ms_sp/final.mdl ark:exp/nnet2_online/nnet_ms_sp/egs/train_diagnostic.egs
# Started at Thu Jun  2 00:09:07 CEST 2016
#
nnet-compute-prob exp/nnet2_online/nnet_ms_sp/final.mdl ark:exp/nnet2_online/nnet_ms_sp/egs/train_diagnostic.egs
LOG (nnet-compute-prob:main():nnet-compute-prob.cc:91) Saw 4000 examples, average probability is -0.933567 and accuracy is 0.72

[2016-06-07 20:35] danpovey commented on #817
Hm.
It looks like his objective functions are quite a bit better than our nnet3
ones.
I think we may be using too few parameters.  But it could also be that it's
helpful that the p-norm setup has relatively few parameters in the final
layer, which might be helpful in this setup for some reason.
@galv, perhaps you could run an nnet3 setup in which you try  to replicate
the old nnet2 setup as exactl

[2016-06-08 05:18] galv commented on #817
@danpovey, I actually already ran an experiment trying to replicate the old nnet2 setup. I can't reference github messages as far as I know, ubt it's the one with the tables in it above. I did not get results competitive with it, which is why I reran the nnet2 recipe. The nnet2 recipe failed, though, because the disk ran out of space. Working on it.

[2016-06-08 05:20] galv commented on #817
this experiment trying to replicate the nnet2 recipe in nnet3 corresponds to `/export/ws15-ffs-data/dgalvez/kaldi-git/egs/tedlium/s5/exp/nnet3/tdnn_new_splice__b/`

[2016-06-08 05:27] danpovey commented on #817
It looks like what you actually ran is a 350-dimensional ReLU.
In the nnet3 python script, it's not enough to specify the p-norm input and
output dims, you also have to specify the nonlinearity type.
@vijayaditya, I think this may not be the best design.
Dan

On Wed, Jun 8, 2016 at 1:20 AM, Daniel Galvez <notifications@github.com>
wrote:

[2016-06-08 05:29] danpovey commented on #817
And something else that differs is as follows: the nnet2 config is

"layer0/-2:-1:0:1:2 layer1/-1:2 layer3/-3:3 layer4/-7:2"

and notice that there is no splicing for layer 2, so you'd have to insert a
"0" in the nnet3 splicing indexes after -1,2.

What you have is:

"-2,-1,0,1,2 -1,2 -3,3 -7,2 0"

On Wed, Jun 8, 2016 at 1:26 AM, Daniel Povey <dpovey@gmail.com> wrote:

[2016-06-08 05:34] danpovey opened #832 "nnet3 config-generation script"
Change the tdnn config-generation script so that if you specify pnorm input or output dim, it forces p-norm nonlinearity, or at least dies with an error if you're using relu.

[2016-06-08 06:01] vijayaditya commented on #832
Taking this.

--Vijay

On Wed, Jun 8, 2016 at 11:04 AM, Daniel Povey <notifications@github.com>
wrote:

[2016-06-08 16:21] vijayaditya commented on #817
see #833

[2016-06-09 20:09] vince62s commented on #817
so should someone re-run the nnet3 recipe ?

[2016-06-09 20:10] danpovey commented on #817
Probably @galv will rerun something soon now that that issue is fixed.

On Thu, Jun 9, 2016 at 4:09 PM, vince62s <notifications@github.com> wrote:

[2016-06-09 20:10] danpovey commented on #817
.. BTW, it doesn't affect the checked-in recipe because it uses ReLUs not
p-norm.

On Thu, Jun 9, 2016 at 4:10 PM, Daniel Povey <dpovey@gmail.com> wrote:

[2016-06-09 23:48] galv commented on #817
I'll get to it in a few more hours.

On Thu, Jun 9, 2016 at 1:10 PM, Daniel Povey <notifications@github.com>
wrote:

--
Daniel Galvez

[2016-06-10 03:17] danpovey opened #835 "TEDLIUM silence padding of segments"
I just had a look at the alignments in the TEDLIUM setup, and I noticed that there seems to be no silence at the beginning and end of most segments.  I think this is a bad thing, and it might be the reason why the chain model is not working well there.
I am going to write a script to analyze the alignments that can be called at the end of the GMM training passes.
What should be done is just to pad

[2016-06-10 04:25] galv commented on #817
Here are the full results for nnet2's baseline model. I'll create a pull request with RESULTS updated to include this at some point, as I don't think we ever ran the nnet2 models after the language model changed.

[code]

The biggest thing to note here is that test set results are better than the dev set results. Hopefully this is because the test set is easier than the dev set. I can look through

[2016-06-10 05:15] galv commented on #817
I am using this as my splice indices for the nnet3 setup:

`--splice-indexes "-2,-1,0,1,2 -1,2 0 -3,3 -7,2 0"`

as opposed to this in nnet2: `layer0/-2:-1:0:1:2 layer1/-1:2 layer3/-3:3 layer4/-7:2`

There is a 0 at the end for nnet3. I believe there was a reason for this, and I'm guessing the nnet2 model implicitly has this as well, but I want to make sure this final 0 is fine.

[2016-06-10 05:16] danpovey commented on #817
Yes that looks right.
In nnet2 you explicitly state the number of layers, and layers with no
splicing default to "0"

On Fri, Jun 10, 2016 at 1:15 AM, Daniel Galvez <notifications@github.com>
wrote:

[2016-06-10 09:24] vince62s opened #837 "kaldi/egs/wsj/s5/steps/cleanup/make_segmentation_graph.sh & make_utterance_graph.sh"
In these 2 scripts, the section below does not work (at least for me on Ubuntu)
what's in bold needs to be removed.

if [ $ngram_order -gt 1 ]; then
  **ngram_count=`which ngram-count`;**
  **if [ -z $ngram_count ]; then**
    if uname -a | grep 64 >/dev/null; then # some kind of 64 bit...
      sdir=`pwd`/../../../tools/srilm/bin/i686-m64
    else
      sdir=`pwd`/../../../tools/srilm/bin/i686

[2016-06-10 09:35] jtrmal commented on #837
Removing it does not really make any sense, if you understand what it's supposed to do.
When you say "does not work", what that does mean?

[2016-06-10 12:08] vince62s commented on #837
I know what this is supposed to do but the line ngram_count=`which ngram-count`;
terminates and exit the script.
might be caused by the set -e at the beginning of the script which make the which exit with non zero status.

[2016-06-10 12:12] jtrmal commented on #837
Yes, that would be the cause for the termination.
changing the line to

ngram_count=`which ngram-count` || true

should fix that -- can you please test? It would be great if you could
create PR (if it works).
Thanks!
y.

On Fri, Jun 10, 2016 at 2:08 PM, vince62s <notifications@github.com> wrote:

[2016-06-10 13:04] vince62s commented on #837
fixed

[2016-06-12 03:06] galv commented on #835
I'm not sure if I can do it. Does #777 handle adding silence padding as you describe?

My problem is that if it involves a lot of coding, I may not be able to do this in a timely fashion right now. There are a lot of decisions, and which one is optimal is not clear here. For example, would the padded silence at the beginning and ending be 0.1 seconds of simply "0" as the magnitude in the wave time

[2016-06-12 03:09] danpovey commented on #835
All I meant was adding/subtracting a little from the end/begin times in the
segments in the segments file.  It's a fairly small change to the data
preparation script.

On Sat, Jun 11, 2016 at 11:06 PM, Daniel Galvez <notifications@github.com>
wrote:

[2016-06-12 04:01] galv commented on #835
That is simple enough, sounds fine.

[2016-06-12 04:01] galv commented on #835
That is to say, I will work on it.

[2016-06-12 18:37] danpovey commented on #835
BTW, it may be necessary to do the same for the test set.
I know it seems a bit odd to mess with the test-set segmentation, but if
they have provided a segmentation with no silence padding, it may not be
totally suitable for normal processing.

Incidentally, the just-now-added scripts
`steps/diagnostic/analyze_alignments.sh` and
`steps/diagnostic/analyze_lats.sh` will be helpful for looking at the

[2016-06-13 18:08] danpovey opened #842 "[documentation] Update docs about decoding-graph creation"
The docs
http://kaldi-asr.org/doc/graph_recipe_test.html#graph_lexicon
seem to be out of date, as pointed out by Remi Francis.   E.g. it says "Notice that we allow words with empty phonetic representations."; and the filenames seem to correspond to an older recipe.

[2016-06-14 01:24] naxingyu commented on #811
I tried this but didn't help. WER on eval2000 went from 15.9% to 16.1%.
Here is how I tried.

1. Do SAT training using a modified train_sat.sh which takes external
tree, a.k.a. a biphone tree. The number of gaussians is 140000. This is
a smaller number compared with 200000 in the triphone SAT training,
because the number of pdfs are 6080 and 8829 respectively.

2. Do align_fmllr and align_fmllr_la

[2016-06-14 01:29] danpovey commented on #811
OK, thanks.

On Mon, Jun 13, 2016 at 9:24 PM, Xingyu Na <notifications@github.com> wrote:

[2016-06-14 17:31] bajibabu opened #846 "Error in "egs/sre10/v2/run.sh""
Hi,

I thinks in run.sh file at line 191 instead of "ivectors_sre_test_sup_gmm" it should be "ivectors_sre_sup_gmm"?

"# Create a gender independent PLDA model and do scoring with the sup-GMM system.
local/plda_scoring.sh data/sre data/sre10_train data/sre10_test \
  **exp/ivectors_sre_test_sup_gmm** exp/ivectors_sre10_train_sup_gmm \
   exp/ivectors_sre10_test_sup_gmm $trials local/scores_sup_gmm

[2016-06-14 17:42] vijayaditya opened #847 "Add subsampling option in model combination phase of nnet3 training"
In the model combination phase of nnet3 training the idea is to use models from the last epoch. With the use of larger amounts of training data this can turn out to be very significant. The solution here is to subsample the models, as suggested by Dan in the comments. However this subsampling code has to been implemented. This issue has been created to track this implementation.

( @ngoel17 )

[co

[2016-06-14 19:21] vijayaditya commented on #701
@pegahgh Are you investigating the BLSTMs + model combination, if not could you let me know if you plan to do this in the near future ? If not I will close this issue and create a new one to track BLSTMs + model_combination + chain.

[2016-06-14 20:07] vince62s commented on #837
actually I got another issue with make_utterance_graph.sh
log gives me this:
steps/cleanup/make_utterance_graph.sh --cleanup true --tscale 1.0 --loopscale 0.1 --ngram-order 2 --srilm-options -wbdiscount exp/tri3_mmi_b0.1/graph_source_split/split1/1/text data/lang exp/tri3_mmi_b0.1 exp/tri3_mmi_b0.1/graph_source_split/split1/1
steps/cleanup/make_utterance_graph.sh: processing utterance utt1.
awk: p

[2016-06-14 20:17] jtrmal commented on #837
The error suggests the line has more than 38k words. I'm not sure if it's even reasonable to have such long utterances?
Anyways, it seems from the google search that gawk might not have this limitation -- so perhaps install it and make a symlink to awk (if the package manager won't do it for you).
Not sure if it will work, though.
Another option would be rewrite it and read the text from a file in

[2016-06-14 20:19] danpovey commented on #837
It looks to me like make_utterance_graph.sh is relying on 'echo'-ing, on a
single line, the entire vocabulary, and reading this in awk on a single
line.
None of these utilities were designed to read or write so much data on a
single line.  I think the script should be redesigned.  If you can do this,
it would be great.
Dan

On Tue, Jun 14, 2016 at 4:17 PM, jtrmal <notifications@github.com> wrote:

[2016-06-14 22:27] david-ryan-snyder commented on #846
Yes, it looks that way. Can you fix that locally until we push a fix? Also, please let me know if you see anything else that doesn't look right.

[2016-06-15 01:25] naxingyu commented on #811
I increased #gauss to 180000. The result of re-SAT is slightly improved, but still not better than the previous biphone system.
on eval2000:
%WER 15.9 | 4459 42989 | 85.9 9.6 4.5 1.8 15.9 51.9 |  biphone_fg
%WER 17.4 | 4459 42989 | 84.7 10.4 4.9 2.1 17.4 54.3 |  biphone_tg
%WER 15.9 | 4459 42989 | 86.0 9.4 4.6 1.9 15.9 52.4 |  sat_fg
%WER 17.2 | 4459 42989 | 84.7 10.3 5.0 1.9 17.2 54.8 |  sat_tg

[2016-06-15 01:31] naxingyu commented on #811
And the results are on tdnn. I can still try blstm.

[2016-06-15 01:34] danpovey commented on #811
I wouldn't bother with BLSTM, results have more random variation than with
TDNN, so when you're changing other things, I think it's always best to run
the TDNN experiment.
Dan

On Tue, Jun 14, 2016 at 9:31 PM, Xingyu Na <notifications@github.com> wrote:

[2016-06-15 07:42] vince62s commented on #837
OK; gawk seems to work. But yes these few lines could be re-written since ngram-count can directly handle the vocab file and the oov mapping. so this awk thing is not needed here.
but I also read in this post https://github.com/kaldi-asr/kaldi/pull/777 that srilm should not be used in these processes, so maybe we'll wait until all of this data cleanup be rewritten properly. (hoping the order >=2 w

[2016-06-15 10:14] francisr commented on #811
Could the results be not as good as expected because biphones GMMs don't produce an alignment as good as the triphone ones?

[2016-06-15 11:02] vince62s commented on #837
I spoke too fast, yenda was right about the subsequent issues. still testing.

[2016-06-15 17:58] vince62s commented on #837
so putting the awk issue apart, the ngram-count command has some sort of c++ limit I guess.
a 1 line text with 256542 characters / 44969 words is fine
a 1 line text with 283251 characters / 51418 words is not.
Limit is in between.

[2016-06-15 18:04] danpovey commented on #837
Having a dependency on SRILM is not great anyway.
Vimal has been experimenting with various ways to make these graphs.
He has a WIP pull request #777 about this.  In there, there is a script
make_biased_lm_graph.sh which does the job-- probably better than our
current SRILM-based script, as he did a bunch of experiments.

I don't know if the interface is the same or not.
My plan was to check that

[2016-06-15 20:03] nshmyrev opened #849 "Unexpected character } encountered while error"
With latest update and nnet training the following error is dumped in the logs

[code]

[2016-06-15 20:05] nshmyrev commented on #849
The symbol } with code 125 is indeed present in cache file.

[2016-06-15 20:05] danpovey commented on #849
I think this has been happening for some time.
I previously asked @xiaohui-zhang to look into it, as Yiming had the same
problem.
For now I wouldn't worry about it- it doesn't affect training.

Dan

On Wed, Jun 15, 2016 at 4:03 PM, Nickolay V. Shmyrev <
notifications@github.com> wrote:

[2016-06-19 14:21] vince62s commented on #837
checked in a fix until WIP #777 is finished.
Cheers.

[2016-06-19 14:22] vince62s commented on #817
hey @galv did you end up with better results for Nnet3 ?

[2016-06-19 19:26] danpovey opened #852 "Extend steps/make_index.sh to work with non-word-position-dependent phones."
By having a branch that uses lattice-align-words-lexicon.
Issue was pointed out in email to kaldi-help by Masoud Abasian.

[2016-06-19 23:59] galv commented on #817
I did not. Here are the nnet3 baseline results:

(local/nnet3/run_tdnn.sh)
[code]

While a p-norm network in nnet3 with as much as possible the same as the nnet2 setup gets these results:

[code]

while the pnorm network from nnet2 had these results:

[code]

This is a bit of a mouthful. I'm summarizing the data now and will follow up in a moment.

[2016-06-20 00:02] danpovey commented on #817
Daniel-- aren't those nnet3 p-norm results results with the buggy
make_configs.py where it was actually using ReLU and not p-norm, and a very
tiny network?  Remember Vijay fixed the script?

Dan

On Sun, Jun 19, 2016 at 7:59 PM, Daniel Galvez <notifications@github.com>
wrote:

[2016-06-20 00:27] galv commented on #817
I remember that Vijay fixed the script.

I looked into it. Even though the time stamps on my experimental
directories are after Vijay's fix, they are using relu components. This is
rather embarrassing. At the least, this was an experiment I wanted to do:
Using the same splices as nnet2, while using relu, but I may want to do it
with a higher dimension than 350. git reflog shows that I never switch

[2016-06-20 00:58] galv commented on #817
Overall, here are the results:

|   | nnet2 p-norm baseline | nnet3, original baseline | nnet3 relu-dim 350, nnet2 splices | nnet3 relu-dim 425, nnet2 splices | nnet3, just like p-norm baseline (for real) |
| ------------- | ------------- | ------------- | ------------- | ------------- | ------------- |
| Dev  | 14.4%  | 14.6% | 16.4% | TODO | TODO |
| Dev, rescored  | 13.0% | 13.2% | 14.9% | TODO

[2016-06-20 04:06] danpovey opened #853 "In nnet3 discriminative egs dumping, respect max-files-open ulimit."
may involve slight reorganization.

[2016-06-20 18:44] vijayaditya opened #854 "BLSTM layer in steps/nnet3/components.py"
It would be convenient to have an AddBlstmLayer() function similar to AddLstmLayer().
BLSTMs are right not supported in steps/nnet3/lstm/make_configs.py, which supports a linear LSTM+FullyConnectedLayer network. However for users who desire to add this node to more complicated graphs a function to add BLSTM layers would be very useful.

@freewym  This would just require a minor modification of cod

[2016-06-20 18:47] freewym commented on #854
OK. Will do it later.

[2016-06-20 21:52] #849 closed

[2016-06-21 03:25] galv commented on #817
Updating the previous table:

|   | nnet2 p-norm baseline | nnet3, original baseline | nnet3 relu-dim 350, nnet2 splices | nnet3 relu-dim 425, nnet2 splices | nnet3, just like p-norm baseline (for real) |
| ------------- | ------------- | ------------- | ------------- | ------------- | ------------- |
| Dev  | 14.4%  | 14.6% | 16.4% | 15.8% | 14.4% |
| Dev, rescored  | 13.0% | 13.2% | 14.9% | 14.5

[2016-06-21 03:26] galv commented on #835
@vimalmanohar Can you confirm whether or not your data clean up scripts do something similar to this silence padding? I want to know whether I should prioritize this to finish in time for our camera ready paper.

[2016-06-21 04:06] danpovey commented on #835
They won't do this- the data cleanup scripts produce a sub-segmentation of
an existing segmenation, so they won't add silence that wasn't there
already.
BTW, it would be good if you could run an alignment of the training data,
and maybe a decode, and share some of the stats that those scripts I
recently added, in steps/diagnostic/, will produce.  Or run those scripts
directly to get the stats from

[2016-06-21 20:48] #837 closed

[2016-06-22 10:03] #854 closed

[2016-06-22 17:15] danpovey opened #858 "Fixes needed to steps/make_lexicon_fst_silprob.pl"
The "usage" line does not match the actual usage that the code expects.
The "usage" message needs an example of usage.

is_sil function is never used.  Where does this script disallow optional silence after/before actual silence?  [or perhaps it automatically happens because actual silence will never be preceded/followed by real silence?.. in which case are there transitions with very high cost th

[2016-06-23 02:37] EnochLiou opened #859 "misleading-indentation of src/fstext/determinize-star-inl.h"
# Brief:
The for-loop at src/fstext/determinize-star-inl.h:58~59, containing two operation without having a pair of brace to convey the second assigning operation, which makes the "factor" variable unchanged during the whole loop.

# Compiler warning message:

[code]
## respective source code
[code]

# Question
If the `factor` is fixed to 103333, then it can be initialized at line 57.
The current

[2016-06-23 18:13] danpovey opened #860 "[urgent and also very easy] Remove --pool-type from chain recipes and any other recipes where it's found."
Below is just an example of where we have the outdated --pool-type strings in some chain recipes (issue pointed out by Mike Newman).  These options have been removed from the scripts to where they are passed, and anyway have default values, so they should be removed.
[code]

[2016-06-23 19:06] hainan-xv commented on #858
Sure, I will fix this.

BTW, I just got back to the U.S.

On Wed, Jun 22, 2016 at 1:15 PM, Daniel Povey <notifications@github.com>
wrote:

--
- Hainan

[2016-06-23 19:25] danpovey commented on #859
Thanks for finding this-- I'll fix it.  This might improve graph
compilation speed.  Yes, the wraparound is intended.

On Wed, Jun 22, 2016 at 7:37 PM, EnochLiou <notifications@github.com> wrote:

[2016-06-23 19:43] danpovey opened #861 "[enhancement] Extend queue.pl to trap signals"
it would be nice to modify queue.pl to trap the signals KILL and TERM, and kill the job that has been submitted before exiting.

[2016-06-23 19:50] #859 closed

[2016-06-24 03:02] vijayaditya commented on #860
I will do this after Interspeech deadline today.

[2016-06-26 18:58] danpovey commented on #817
What do you think about adding a p-norm example script to the tedlium setup?
Dan

On Mon, Jun 20, 2016 at 8:25 PM, Daniel Galvez <notifications@github.com>
wrote:

[2016-06-27 05:12] cookiengineer opened #866 "[Discussion] Kaldi Product Perspective"
Hey guys,

First I have to say that kaldi is by far the most awesome open source speech recognition software out there. It uses modern approaches, is very accurate and incomparable in terms of developer documentation. The documentation from the developer-side rocks hard.

I really like the project and I think this project could have huge impact if gone into the right way. I wanted to share my thou

[2016-06-27 06:49] sikoried commented on #866
Hi there, I'm sure Dan will comment on this in a few minutes, but here are a few quick thoughts:

Re. 1: It's primarily a research toolkit. In particular, any integration towards front-end (like audio integration) would make it less portable. There's both established (large) companies using it, as well as a bunch of startups.
Re. 2: Most research sites have access to LDC's corpora. Companies often

[2016-06-27 07:32] vince62s commented on #817
I am a bit confused by all of this. If p-norm was the best setup for Nnet2, (and I recall reading one paper where pnorm showed better results than ReLu) why was ReLu chosen for the Nnet3 implementation ? do we have the same behavior for WSJ or swbd ?

[2016-06-27 13:19] vijayaditya commented on #817
@galv could you compare the number of parameters in the ReLU and p-norm models ?

[2016-06-27 13:23] vijayaditya commented on #817
@vince62s  IIRC @pegahgh conducted the SWBD experiments where she found ReLU to be better than p-norm. Based on these observations I conducted experiments on AMI and found similar trend.
@pegahgh do you have these results around ?

[2016-06-27 13:56] galv commented on #817
@vince62s there was a paper which came out of CLSP after the p-norm paper
which simply says as an aside that they found relu easier to train than
p-norm. So no particularly good reason.

On Mon, Jun 27, 2016 at 9:23 AM, Vijayaditya Peddinti <
notifications@github.com> wrote:

--
Daniel Galvez

[2016-06-27 14:28] vijayaditya opened #867 "Checkout CMUdict using version number in local/fisher_prepare_dict.sh"
`local/fisher_prepare_dict.sh`  used in fisher_english, fisher_swbd and aspire recipes is not using svn checkout with a version number. This can affect reproducibility. (See issue #717). We faced this issue previously in ASpIRE recipe.

[code]

[2016-06-27 15:38] jtrmal commented on #866
you are right in your observation that kaldi does not cover what a common
computer user needs. You, however, are mistaken in the assumption kaldi
aims to cater their needs. The target audience are speech research teams
and ASR developers.
2) voxforge is not affiliated with kaldi in any way. There is a site
http://openslr.org where we mirror some of the important freely available
resources and we c

[2016-06-27 18:54] vijayaditya opened #869 "Tool for segmenting long audio files with erroneous transcripts"
We need a script for segmenting long audio files with possibly erroneous transcripts. This would be useful for creating recipes like `librispeech` with other openly available databases.
(This was a feature request from ASR researchers working in other languages.)

This tool was discussed in a different issue ( #718). I am creating this issue to keep track of this project. I am reproducing @danpove

[2016-06-27 18:59] danpovey commented on #869
In the next few weeks I'll be working on Vimal's data-cleanup stuff, and
I'll keep this scenario in mind.
Dan

On Mon, Jun 27, 2016 at 11:54 AM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-06-27 18:59] #766 closed

[2016-06-27 19:41] sikoried commented on #869
For rough transcription, I had good results training a 3-gram LM just on
the transcript and decoding (not aligning) that with a rather narrow beam.

On Mon, Jun 27, 2016 at 11:59 AM Daniel Povey <notifications@github.com>
wrote:

[2016-06-27 20:02] vince62s commented on #869
After the fix https://github.com/kaldi-asr/kaldi/pull/851 (for bi-grams use) I must say that the run_segmentation.sh script works very well if done after 2 passes.
Pass 1: take a basic existing gmm model to extract a few data to build a new tri3 model
Pass 2: reextract the data, gives me a very good ratio.

[2016-06-27 21:07] #832 closed

[2016-06-27 23:38] vijayaditya opened #870 "Multi-condition multi-database English LVCSR recipe"
This is an extension to the Multi-database English LVCSR recipe being tracked in #699  .

Previously we found that the [ASpIRE models](https://github.com/kaldi-asr/kaldi/tree/master/egs/aspire/s5) performed better than [fisher_english models](https://github.com/kaldi-asr/kaldi/tree/master/egs/fisher_english) when used off-the-shelf on new test sets. This is due to the data augmentation being used

[2016-06-28 01:18] naxingyu commented on #867
I'll check it out.

在 2016/6/27 22:28, Vijayaditya Peddinti 写道:

[2016-06-28 13:25] #867 closed

[2016-06-28 18:35] danpovey commented on #866
You have to understand that Kaldi is not an ASR system, it is a system for building ASR systems.
Closing this issues-- these kinds of discussions should go on the forums, see kaldi-asr.org/forums.html

[2016-06-28 18:35] #866 closed

[2016-06-28 22:19] danpovey commented on #719
Closing issue as lattice-arc-post exists now.

[2016-06-28 22:19] #719 closed

[2016-06-30 03:25] tomkocse commented on #870
I have started working on this issue.

[2016-06-30 05:39] tomkocse commented on #870
@vijayaditya  I am going to work on @guoguo12 's  branch  #771 and put my stuff in local/multicondition
Should i commit to his branch once i create the PR ?

For the RIRs, I can let the user to choose if they want real RIRs or simulated RIRs.
For the noise, @vimalmanohar could you please refer to me the noise dataset you are using ?

[2016-06-30 07:23] guoguo12 commented on #870
@tomkocse: Let me know if you need any help getting the multi_en stuff set up!

[2016-06-30 13:23] vijayaditya commented on #870
@tomkocse cloning @guoguo12 's branch is dangerous as he will be rebasing his branch to ensure that his commits are not interleaved with other commits. This will enable him to do a squash merge when he wants to merge his branch.

I would recommend the following. Please continue working on other aspects of this issue as long as you can. Once @guoguo12 's branch is relatively stable we will merge hi

[2016-06-30 13:37] vijayaditya commented on #870
@tomkocse Also remember that we decided to just download all the simulated RIRs rather than preparing them in the recipe, so you need not write any scripts for the RIR preparation.

[2016-06-30 13:57] tomkocse commented on #870
I am supposed to place the reverberation stuff  in a new directory local/multicondition so i think the possibility of crashing with @guoguo12 's existing files will be low.
I have completed #716 (reverberate_data_dir.py) and #552 (wav-reverberate.cc) based on all the suggestions raised in the issue. (Actually i have been using them in my own task). I need some user feedback, e.g. if @vijayaditya o

[2016-06-30 14:35] vijayaditya commented on #870
@tomkocse Sorry for the delay w.r.t. the RIR and noise lists. Could you please create these lists to have a combination of all the different Kaldi non-table and table IO types
e.g. a wav file, a command to create a wav file, an index into an ark file, etc.

[2016-07-03 01:29] danpovey commented on #778
@vijayaditya, this issue keeps coming up.. it would be nice to have this fixed at some point.

[2016-07-03 02:40] vijayaditya commented on #778
OK, I will keep track of this. I will try to assign this to someone or get
this done myself in 10 days.

--Vijay

On Sat, Jul 2, 2016 at 9:29 PM, Daniel Povey <notifications@github.com>
wrote:

[2016-07-04 08:42] cadretedata opened #882 "compiling error"
Hi I have this error since I updated code from git (origin/master) and recompiled. I also tried to download complete but same error:

paste-post.cc:91: error: no matching function for call to 'kaldi::RandomAccessTableReader<kaldi::PosteriorHolder>::RandomAccessTableReader(kaldi::RandomAccessTableReader<kaldi::PosteriorHolder>)'
/usr/lib/gcc/x86_64-redhat-linux/4.1.2/../../../../include/c++/4.1.2/b

[2016-07-04 08:46] tomkocse commented on #870
@vijayaditya The rir and noise are wave files, so yes, different IO types like the location of the wave file or a pipeline to create the wave file should be supported, but i don't understand why " an index into an ark file" is needed.
So could you please clarify whether you want me to create the RIR and noise lists or you are going to pass me one ?

[2016-07-04 18:46] vijayaditya commented on #870
@tomkocse I thought support for ark files would be desirable as we might have a lot of very short noise files which can be better stored in ark format. However this is not immediately necessary as the current noise database we have access to (NOISEX) has comparatively small number of noise files.

Could you please generate the files your self, I am a bit swamped and @vimalmanohar might be busy too

[2016-07-04 18:59] danpovey commented on #882
It was an issue where we had the 'explicit' keyword in a self-constructor
in Table code where we shouldn't.  I just fixed it.  Probably this hit you
because you have an unusual or very fresh compiler.
Dan

On Mon, Jul 4, 2016 at 1:42 AM, cadretedata <notifications@github.com>
wrote:

[2016-07-05 11:45] cadretedata commented on #882
Thank you!

The compiler was too old. I was using the default in a cluster (4.1).
After fixing that error I had this one:
nnet1-to-raw-nnet.cc:55: error: no matching function for call to 'kaldi::nnet2::AffineComponent::AffineComponent(kaldi::nnet2::AffineComponent)'

But after compiling with the 4.4 version everything was fine.

Thanks, best regards,
   Antonio

[2016-07-05 23:02] galv commented on #817
It is too soon to judge whether to get the p-norm model in yet. Last thing I want to try is a relu model with about the same number of parameters (12,678,952) as the p-norm model (12,232,880). That is running right now.

[2016-07-05 23:02] galv commented on #817
I updated the table above with the number of parameters in each of my experiments.

[2016-07-06 16:49] galv opened #883 "make scripts python 3-compatible by using //"
Right now, `steps/nnet3/train_dnn.py` does `cur_minibatch_size = minibatch_size / 2`. This causes a bug when python 3 is used where cur_minibatch_size becomes a floating point value, not an integer. An integer parsing command (I think in C++ code) is later called, and the (e.g.) 128.0 fails to be parsed as the integer 128, causing the program to crash.

The solution is to use `//` instead of '/',

[2016-07-06 17:45] danpovey commented on #883
One of the reasons I started using
 from __future__ import print_function
is so that we can eventually support python3 from the same scripts.
This is more of a long-term goal, it's not the case that we'd advertise
that having /usr/bin/env python pointing to python3 is  'currently
supported'.

It would be good if you make a PR for the fix.

Dan

On Wed, Jul 6, 2016 at 9:49 AM, Daniel Galvez <notifi

[2016-07-06 23:50] galv commented on #817
If you look at the last two columns of the above table (I updated it again), you can see that a relu nnet3 model does just as well as nnet3 p-norm model when they have approximately the same parameters.

I'm not sure if we really want to merge it these new training scripts. The new models beat the existing nnet3 baseline by a few tenths of a percent at the cost of double the the number of paramete

[2016-07-07 01:07] #883 closed

[2016-07-07 01:37] vijayaditya commented on #817
It would be preferable not to have huge models, I would recommend not
merging these scripts. You could add a comment in the PR describing your
reasoning in detail for the sake of future reference.

--Vijay

On Wed, Jul 6, 2016 at 7:50 PM, Daniel Galvez <notifications@github.com>
wrote:

[2016-07-07 10:24] vince62s commented on #817
@galv Can you please confirm that all these results (nnet2 and nnet3) are for 6 hidden layers, 4 epochs training ?
Also what you call "baseline nnet3 original" in the second column is for ReLU dim 500, right ?

[2016-07-07 17:26] vijayaditya opened #886 "nnet2 to nnet3 model converter"
There have been multiple requests for a tool to convert nnet2 models into nnet3 models.
There is no such tool currently available. However it would be simple to write and does not even need accessing the C++ parts of the nnet2 or nnet3 code.

The procedure is
1. Convert nnet2 model to text format using nnet-am-copy
2. Isolate the parameter matrices corresponding to components (e.g. `NaturalGradien

[2016-07-07 20:46] galv commented on #817
6 hidden layers: yes. Absolutely positive that every experiment used 6 hidden layers.

4 epochs: I have checked the scripts that I still have, and they all use 4 epochs. Unfortunately, I made a mistake and have forgotten the scripts of the "nnet3 relu-dim 350, nnet2 splices" and the "nnet3 relu-dim 425, nnet2 splices", so I don't know how many epochs they were trained for, but they have few parame

[2016-07-07 22:23] galv commented on #835
@danpovey I see you self-assigned this. Are you working on this now? I was about to get back to this. Of course, I don't mind being relieved of it ;D

[2016-07-07 22:36] danpovey commented on #835
Yes.
I did it already-- but I'll check it in together with some other stuff I'm
working on regarding Vimal's data cleanup.
I'm working in /home/dpovey/kaldi-trunk/egs/tedlium/s5.
Padding the training segments was helpful-- it was about 0.3% to 1%
depending on the test set and the model (only tested with the GMM models).
Dan

On Thu, Jul 7, 2016 at 3:23 PM, Daniel Galvez <notifications@github.com>

[2016-07-09 20:32] vijayaditya opened #889 "ASpIRE data augmentation issue : Bug in wav-reverberate command"
Using the latest data-augmentation scripts which use the `wav-reverberate` command I am unable to replicate the results in the ASpIRE recipe. When I use the old data-augmentation scripts from around May 2015, which use the older `local/multi_condition/corrupt.py` script, I seem to be getting better train/validation probabilities.

This issue has been raised to keep track of the progress of this in

[2016-07-10 09:03] vijayaditya commented on #889
I can confirm that the new data-augmentation recipe is not working. After 100/1000 iterations of training using TDNNs there is 25% rel. difference in WERs. I will now investigate what is the exact issue in the new augmentation recipe.

old data-augmentation
[code]

new data-augmentation
[code]

[2016-07-10 09:52] vijayaditya opened #890 "Add steps/cleanup/combine_short_segments.py stage in chain recipes involving fisher data"
I saw that 30% of the utterances in fisher data were discarded as they were less than the required length.  We have to use steps/cleanup/combine_short_segments.py stage in the chain recipe. For example see stage 12 of ami/s5/local/chain/run_chain_common.sh. It might be better to make this a common stage in all chain recipes, as it might not hurt the performance even in recipes where a lot of data

[2016-07-10 18:21] danpovey commented on #889
If the difference is that bad, I would have thought that the difference
would be clear from listening to it.
Are you sure it's that, though?  Could it be something went wrong in the
training?  Are the final objf values OK looking?
Dan

On Sun, Jul 10, 2016 at 2:03 AM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-07-10 18:25] vijayaditya opened #891 "Reg. random seed control for nnet3 experiments"
@freewym You recently wrote some code to change the random seed in nnet3 scripts (for model initialization and egs shuffling) for PR #803. Could you please submit a PR to have this as a feature in `steps/nnet3/train_rnn.py`, `steps/nnet3/train_dnn.py` and `steps/nnet3/chain/train.py`.

[2016-07-10 18:30] freewym commented on #891
ok

On Sunday, July 10, 2016, Vijayaditya Peddinti <notifications@github.com>
wrote:

--
Sent from my iPhone

[2016-07-10 18:31] vijayaditya commented on #889
The objfns look significantly better with the old augmentation recipe (see plot below and the attached pdf with more plots). I have used the same scripts for both these experiments. Only the feature directory `data/train_rvb_hires` is different.

I will perform a manual verification of the reverberated speech.

![image](https://cloud.githubusercontent.com/assets/3895456/16715335/961904f0-46aa-11e6

[2016-07-10 19:27] vijayaditya commented on #889
Confirmed bug in `wav-reverberate` command. It is not shifting the reverberated waveform to ensure that it is aligned with the input. This can be done by finding the position of the peak of the impulse response in the RIR file and shifting the reverberated waveform by this amount. This shifting is necessary to make the alignments from the clean speech waveforms useful. In some RIR files the peak c

[2016-07-10 19:29] vijayaditya commented on #889
@tomkocse Could you please add a new feature to the `wav-reverberate` command. If option `--shift-output` is true, find the peak of the impulse response and shift the output by the required amount.

[2016-07-10 19:34] vijayaditya commented on #889
@xiaohui-zhang, @jtrmal  This might affect you too please verify if you are using `wav-reverberate` in your data augmentation recipe.

[2016-07-10 19:46] danpovey commented on #889
BTW, I think it would make sense, after shifting, to allow the impulse
response you're convolving with to have nonzero values for negative t.
This would probably more closely approximate "real" impulse responses,
which won't always start with their maximum value at the most negative time.

On Sun, Jul 10, 2016 at 12:34 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-07-10 19:54] vijayaditya commented on #889
The recommendation is to shift the reverberated output rather than the impulse response as almost all the impulse responses I had seen had non-zero values for a few tens of milliseconds before the peak.

[2016-07-11 01:25] tomkocse commented on #889
Ok
On 2016年7月11日 上午3:29, "Vijayaditya Peddinti" <notifications@github.com>
wrote:

[2016-07-11 02:45] tomkocse commented on #889
@vijayaditya In our discussion in #716 , the usage of wav-reverberate is going to be changed. Do you want me to to commit the whole new wav-reverberate or just fix the bug now?

BTW, may i know whether you have explicitly done the shift in your older setup (local/multi_condition/corrupt.py)?

[2016-07-11 04:11] vijayaditya commented on #889
@tomkocse As the new `wav-reverberate` binary is near completion you could combine this bug-fix with that PR.

I did an explicit shift see this [line](https://github.com/kaldi-asr/kaldi/blob/master/egs/aspire/s5/local/multi_condition/corrupt.py#L116)

[2016-07-11 13:45] vince62s commented on #817
I ran local/nnet3/run_tdnn.sh on Tedlium release 2, with the equivalent of your second column.
My numbers are [ 13.5% 12.3% 12.2% 11.0%]

I have not run the discriminative yet.
For the discriminative, I have an issue with the number of epochs.
For Nnet2, when we say num_epochs=4 it actually starts at 0 spits out 5 results, and there is still a slight improvement at epoch4 over epoch3.
For Nnet3, n

[2016-07-11 14:41] vijayaditya opened #893 "nnet3 model manipulation tools"
After looking at some recent discussions in the mailing list and at the CLSP workshop, where people are using `nnet3` models, it seems that complex model manipulation is a frequently needed functionality. It would be convenient to have easy **script level** access for some complex manipulations, as this is intended for novice users. I do not know if it is good design to duplicate C++ functionality

[2016-07-11 23:12] galv commented on #817
I'm personally not too concerned about the nnet2 vs nnet3 differences there: the models do use different nonlinearities and splicing. And the increase in WER at the end is likely due to overfitting, since the nnet3 model is smaller and has less modeling power.

Also, if you want to run the experiment for the rightmost column, just let me know.

[2016-07-12 05:33] maxhawkins opened #894 "Packaging of models for upload to kaldi-asr.org"
I'm using the nnet2 online decoding recipe [outlined in the docs](http://www.danielpovey.com/kaldi-docs/online_decoding.html) along with prebuilt models from kaldi-asr.

The second step in the documentation (involving sed) is a little cumbersome for my use case. Instead, I'd like to be able to change the location of the models (and quickly swap them out) without updating all the config files to re

[2016-07-12 16:41] vince62s commented on #817
@danpovey  sorry to bother but when I read this in run_nnet2_ms.sh:
steps/nnet2/train_multisplice_accel2.sh --stage $train_stage \
    --num-epochs 8 --num-jobs-initial 3 --num-jobs-final 3 \
    --num-hidden-layers 6 --splice-indexes "layer0/-2:-1:0:1:2 layer1/-1:2 layer3/-3:3 layer4/-7:2"

which is what you outline above, and this corresponds to the [paper ](http://www.danielpovey.com/files/2015

[2016-07-12 18:27] danpovey commented on #817
I think what you are referring to is the diagram in the paper, which was
just an example.    yes, --num-hidden-layers 6 is relevant.  Because layers
2 and 5 have no splicing specified, it means there is no splicing at those
layers, so they are like a feedforward DNN.

In nnet3 scripts, this is done differently: you specify the splicing
indexes (with zeros for feedforward layers), and the number of

[2016-07-12 19:00] vince62s commented on #817
Thanks, yes I was refering to the graph in the paper because it's exactly these splices on 4 layers, and the results section mention 4 layers.
Nevermind.
Just curious, how were these splices set found ? same for the other set in the nnet3 baseline script. Just empirically ? after many tries ?

[2016-07-12 19:20] danpovey commented on #817
Empirically, basically.  E.g. we noticed that it's generally better to have
them more widely spaced at the output side.  [this is a bit like
downsampling in CNNs.]   We tried various configurations but nothing
systematic.
Dan

On Tue, Jul 12, 2016 at 12:00 PM, vince62s <notifications@github.com> wrote:

[2016-07-12 19:36] danpovey commented on #894
I'm a little concerned about the implications for back-compatibility from
this change.
To my knowledge (and I might be wrong), we don't always write pathnames as
absolute pathnames in config files, so they'd be relative to the
experimental directory (e.g. s5).
If your change were merged, it would have the effect that programs these
config files would now be looking for the wrong path.

Dan

On Mon

[2016-07-12 20:53] danpovey opened #895 "TEDLIUM transcript quality"
I couldn't figure out exactly who to send this to as a lot of people interact with the TEDLIUM data set, so I'm just putting it as an issue on github.

I'm working on some scripts to resegment data, and while working with TEDLIUM I'm finding a lot of errors in the lexicon and transcripts.

The two issues seem to be interlinked because the data annotation process for TEDLIUM seems to have been part

[2016-07-13 04:22] maxhawkins commented on #894
Yes, I think the librispeech config uses paths relative to the experimental directory so this change would break compatibility with that model.

Maybe we could fall back to the old behavior if the file is not found?

[2016-07-13 04:24] danpovey commented on #894
That's not really possible in general because the config file just gives
you a string, it may be passed around arbitrarily until it's actually
used.  And there is no flag that says 'this is a filename'.

On Tue, Jul 12, 2016 at 9:22 PM, Max Hawkins <notifications@github.com>
wrote:

[2016-07-13 07:53] vince62s commented on #895
In Tedlium release 1, these words [NOISE] [COUGH] [SMACK] ... were mapped in the lexicon to special phones. In Tedlium release 2, these tags were cleaned beforehand in the STM files.
However neither in release1 or 2 you should see these tags in the test/dev sets.

the "strip out" of 't and 're is minimal (just a few occurences vs the total number of xxx're xxx't words)

Having said that, you are c

[2016-07-13 20:40] danpovey commented on #895
I am working on a refactoring of Vimal's cleanup-and-segmentation recipe
that will remove the most problematic data from TEDLIUM.  And Samuel
(@xiaohui-zhang) is making good progress on his lexicon-learning stuff
where he learns the lexicon from the acoustics as well as g2p.  That should
handle things like abbreviations very well-- but he should investigate
whether it's helpful to first remove the

[2016-07-14 15:20] #891 closed

[2016-07-14 15:48] vijayaditya commented on #889
Using the data augmentation scripts I was able to reproduce the nnet2 results, using new nnet3 models.

[code]

[2016-07-14 16:40] tomkocse commented on #889
@vijayaditya are you already using the wav-reverberate.cc in #706 ?

[2016-07-14 17:08] vijayaditya commented on #889
@tomkocse no these are results using corrupt.py

[2016-07-15 14:32] vince62s commented on #817
what is the exact formula to calculate the number of parameters in both scenario p-norm and ReLu ?

I ran nnet3/run_tdnn.sh
6 hidden layers relu dim 500
splices -1,0,1 -1,0,1,2 -3,0,3 -3,0,3 -3,0,3 -6,-3,0 (I think coming from the chain config)
==> nnet3-am-info gives me 6138543 parameters

6 hidden layers relu dim 500
splices -2,-1,0,1,2 -1,2 0 -3,3 -7,2 0 (coming from the nnet2 recipe, supposedl

[2016-07-15 18:59] vijayaditya commented on #889
Corrected in #706 .

[2016-07-15 18:59] #889 closed

[2016-07-15 19:00] vijayaditya commented on #751
being addressed in #848

[2016-07-15 19:00] #751 closed

[2016-07-15 19:03] vijayaditya commented on #552
Being addressed in #706

[2016-07-15 19:03] #552 closed

[2016-07-15 20:14] danpovey commented on #817
The splicing configuration affects it too, in each hidden layer the input
dimension is num-splicing-indexes times dim of previous layer, and the
output dim is whatever the user specified as e.g. relu-dim.
Dan

On Fri, Jul 15, 2016 at 7:32 AM, vince62s <notifications@github.com> wrote:

[2016-07-15 23:19] danpovey commented on #895
We need to decide what to do with disconnected suffixes like 's, 've and 'nt in TEDLIUM.
These occur even in the test set (about 10-15 occurrences each in dev and test) so if this is fixed it would very slightly affect the evaluation metric too.

I'd vote for fixing them by attaching them to the previous word.  This will be more consistent with general transcription conventions.  [currently in TED

[2016-07-16 07:28] vince62s commented on #895
I think this is the role of the script join_suffix.py in the prepare_data.sh step.
However as said before, in the script from the repo, it calls join_suffix.py with the wrong dictionary.
it takes the Tedlium dictionary db/TEDLIUM_release2/TEDLIUM.152k.dic instead of the Cantab one which should be db/cantab-TEDLIUM/cantab-TEDLIUM.dct
But I would vote to correct the cantab-TEDLIUM one to add the ted

[2016-07-16 08:02] drTonyRobinson commented on #895
On 16/07/16 08:28, vince62s wrote:

I did just think about whether the right thing to do was to take control
of the whole dictionary creation process.   Whilst it is long term
cleaner, I agree with you that what is best is to add the missing
entries into cantab-TEDLIUM.dct - it's just far less work.

Tony

--
Speechmatics is a trading name of Cantab Research Limited
We are hiring: www.speechmatics

[2016-07-16 08:28] vince62s commented on #895
Tony,
While you're here. If you refer to the original paper from Lium, the way they created their LM was to use this XenC tool and basically use the training data as a base and add extra data sources to build a bigger LM, based on some entropy maximization.
I just did a run by adding the training data to your cantab-LM (based on some new interpolation stuff) and the impact on WER is quite signific

[2016-07-16 08:51] drTonyRobinson commented on #895
Hi Vincent,

That's interesting, thanks.

I've just downloaded and checked cantab-TEDLIUM.tar.bz2 - the README says:

- cantab-TEDLIUM.txt contains 155,290,779 tokens entropy filtered from
   http://cantabResearch.com/cantab-1bn-norm.tar.bz2, which in turn was
generated from
https://code.google.com/p/1-billion-word-language-modeling-benchmark/

So we did do entropy filtering.   Maybe you get a dec

[2016-07-16 08:57] vince62s commented on #895
When you say "entropy filtered": was it against the training data of the tedlium corpus ? ie the training data is also in the LM ?

[2016-07-16 09:40] drTonyRobinson commented on #895
We didn't include the acoustic training data in the corpus, just entropy
filtered the billion word benchmark against it.

Including the data for very task specific thing, like TEDLIUM, does seem
reasonable.

The entropy filtered data is called cantab-TEDLIUM.txt (as per previous
message), you can simply add all the training data to this and rebuild
the language models.

Tony

On 16/07/16 09:57, vi

[2016-07-16 17:37] vince62s commented on #895
One other thing I would like to raise about this suffix thing.
You both saw the "French liaisons" question / issue on the kaldi-help forum.
If we say doubling entries for words like "nous" "N OU + "N OU ZZ" is NOT a good solution, then I think there is a similar issue with the possesive "'s" in English.
As a matter of fact, each entry is doubled in the lexicon.
eg "martha's vineyard" will trigger

[2016-07-16 18:32] danpovey commented on #895
I don't think handling it at the lexicon-WFST level is a very easy
solution, it will be subject to bugs and all kinds of difficulties.

Having 's be a separate word is not great either; the pronunciation can be
either "s" or "z", and not all words can be pluralized.

And bear in mind that doing it with separate words would require the LM to
be built in the same way.  This isn't traditionally the w

[2016-07-16 18:39] vince62s commented on #895
that's why I think the same way for liaisons in French. There so many different cases (mandatory liaisons, optional liaisons, wrong liaisons ...) that it much easier to add entries in the lexicon, and it works.

[2016-07-17 17:01] drTonyRobinson commented on #895
On 16/07/16 19:32, Daniel Povey wrote:

My opinion (not that it counts for much) is that TEDLIUM is overly
complex ('90's style ASR), and that simpler is good.

Indeed, if I had time I'd write scripts that were IWSLT compliant and
downloaded the training and test set directly from ted.com (splitting
maybe a separate download).   There we'd have numbers that were directly
comparable with the (admir

[2016-07-18 01:56] danpovey commented on #895
@vince62s, do you have time to come up with a fix of some kind for this
issue with the 's and 're etc.?

Also,

@drTonyRobinson, if you can provide guidance to a couple of students on how
to prepare the TED-talk recipe directly, I may be able to find suitable
people, and we can gradually work it over a few months.

On Sun, Jul 17, 2016 at 10:01 AM, drTonyRobinson <notifications@github.com>
wrote:

[2016-07-18 04:35] galv opened #900 "Find a way to set CUDA_VISIBLE_DEVICES="" in the environment for submitted jobs."
This is necessary to solve issues we've been facing at CLSP in integrating CUDNN into kaldi. See #770.

I suspect queue.pl can be modified to satisfy this requirement; I'll close this once it's done for the sake of the cudnn branch, not when it's merged into master (if it is ever is).

[2016-07-18 04:36] galv commented on #900
I can't self-assign this, but I am doing this myself.

[2016-07-18 06:15] vince62s commented on #895
As said before there is nothing to do if Cantab changes the dictionary file embedded in this archive http://cantabresearch.com/cantab-TEDLIUM.tar.bz2
the only thing to be done is to add the entries from http://www.openslr.org/resources/7/TEDLIUM_release1.tar.gz

However doing this will change results and if so, I would strongly suggest to switch to TEDLIUM_release2. The STM files are cleaner, ther

[2016-07-18 06:37] danpovey commented on #895
Hm, OK.  Maybe the right way to make this fix is along with the switchover
to tedlium-release2.  Let's call this s5_release2.   @vince62s, since
you're working with tedlium, perhaps you could start a draft of this recipe
as a WIP pull request if you have time?  Then you can include any work with
language modeling, in with that.  We can host language models on openslr if
we think they're slow to bu

[2016-07-18 08:36] RobertoFont opened #901 "Error on speaker recognition examples"
Hello,

I think I've found an error on sre scripts. When performing cosine scoring, for example

[code]
speaker-level ivectors (spk_ivector.scp) are lenght-normalized, but utterance-level ivectors (ivector.scp) are not. This way, dot products are not actually cosine distance scores.

Test ivectors should be piped into ivector-normalize-length or ivector.scp replaced by spk_ivector.scp if each utte

[2016-07-18 16:38] vijayaditya opened #902 "fisher_swbd recipe does not check for frame_subsampling_factor during scoring"
@naxingyu in the scoring script which uses sclite `frame_subsampling_factor` is not being checked. This leads to discrepancies in the WERs obtained. Please see the scoring script in egs/swbd/s5c/ for guidance.

[2016-07-18 18:31] vince62s commented on #895
Dan , best thing would be to update SLR19 with the following:
merged dictionary (1 file 5.5 MB)
new LMs (2 files : LM3 pruned + LM4 unpruned)
I would also add the Cantab files for reference.
New recipe would be then only one download.
The target tar is a big file, do you have a LAN access to this server ?

[2016-07-18 18:59] danpovey commented on #895
Hm... SLR19 is the official tedlium2 release 2.  I don't like to combine
the official release from LIUM with our work- it should be a separate
number.
We have fast enough access to that server, though not LAN. [It's served
from google cloud right now.]

Let's do this later, though, once we are ready to put the tedlium2 release2
as a Kaldi recipe in master.  You can get the scripts ready in your re

[2016-07-18 21:29] vince62s commented on #895
@drTonyRobinson I just tested what you said ...
On a basic set up Nnet2 - 4 layers - pnorm 3500/350 - 9.8M parameters
I am getting this on the official iwslt 2014 testset:
%WER 12.0 | 1369 21388 | 89.6 8.2 2.2 1.7 12.0 64.1 | 0.015 | exp/nnet2_online/nnet_ms_sp/decode_tst2014_vn/score_11_0.0/ctm.filt.filt.sys
**%WER 9.5** | 1369 21388 | 91.8 6.1 2.1 1.3 9.5 51.9 | -0.154 | exp/nnet2_online/nnet_ms

[2016-07-18 21:42] danpovey opened #904 "Silence disambiguation symbol not being added"
I just noticed in prepare_lang.sh line 378 that it says:
[code]
so it is not passing in the silence disambiguation symbol `'#'$ndisambig`.
This could lead to determinization failures in setups that have a word pronounced as silence.
It should probably read:
[code]
Someone needs to test this change in some setup and see if there is any effect on graph size.
It should be safe to fix but it's worth t

[2016-07-18 22:24] danpovey commented on #904
... I've asked Hang Lv to do this.

[2016-07-19 09:50] drTonyRobinson commented on #895
So this is great, you are getting better than all but one of the eight
IWSLT2014 participants. That's a pretty impressive system, even more so
because it has no LDC or other non-free data sources.

On other matters, my "ideal" system was only one if I had a lot of
time.   I agree with the consensus here which seems to be to move to
TEDLIUM2 and tidy things up - that's a very practical way forward.

[2016-07-19 15:00] vince62s commented on #895
using the GLM file provided by IWSLT, even better:
%WER 11.3 | 1369 21781 | 89.9 7.2 2.8 1.3 11.3 61.7 | 0.067 | exp/nnet2_online/nnet_ms_sp/decode_tst2014_vn/score_10_1.0/ctm.filt.filt.sys
%WER 8.8 | 1369 21780 | 92.4 5.4 2.2 1.2 8.8 48.9 | -0.011 | exp/nnet2_online/nnet_ms_sp/decode_tst2014_vn.rescore/score_11_1.0/ctm.filt.filt.sys

[2016-07-19 15:44] vince62s commented on #768
OK, I just created a PR since this issue was still pending.
I am currently running various results with Nnet2 and Nnet3.
I will do Chain later on if I get the time.

[2016-07-20 04:06] naxingyu commented on #902
Got it.

[2016-07-21 21:22] vijayaditya opened #910 "swbd: tdnn+chain+smbr script has wrong name"
@vimalmanohar
`swbd/s5c/local/chain/run_tdnn_6z_discriminative.sh` should be renamed as `local/chain/run_tdnn_7b_discriminative.sh`, as it performs sMBR training on the top of tdnn_7b models.

[2016-07-22 01:06] danpovey commented on #778
OK, resolved by commit 5efac249696233c56a6c18e48fabbb06d219460e

[2016-07-22 03:23] baylor0118 opened #911 "Bi-LSTM with three layers"
Hi,

For Bi-LSTM, with adding the projection layers, when the number of layer reach
to three layers, the training will get terrible. what might account for this strange
phenomenon?

All the best.

[2016-07-22 03:45] danpovey commented on #911
The BLSTMs are subject to gradient explosions which can sometimes cause
training to fail.  If it's this that's the problem, you can grep for
'clipped-proportion' in the progress logs for later iterations and you
should see values much greater than zero (e.g. approaching 1).
We recently added a mechanism to try to control this, search for
self_repair_scale_clipgradient in steps/nnet3/lstm/make_conf

[2016-07-22 11:39] baylor0118 commented on #911
It's nnet3. But I use nnet1.

[2016-07-22 16:21] vladbataev opened #912 "rnnlm"
Hello. I saw rnnlm and faster-rnnlm toolkits which could be used for building language models. But these toolkits only produce neural network weights. How can I use them for creating my own language model?

[2016-07-22 21:55] danpovey commented on #912
RNNLM toolkit produce RNNLM language models, which can be interpreted by
those toolkits to produce probabilities.  If you want an ARPA-format
models, you shouldn't use those toolkits.

Dan

On Fri, Jul 22, 2016 at 9:21 AM, vladbataev <notifications@github.com>
wrote:

[2016-07-22 22:01] danpovey commented on #911
Oh.  The nnet1 BLSTMs actually don't work that well even when they are
training stably, as far as I know.
Dan

On Fri, Jul 22, 2016 at 4:39 AM, baylor0118 <notifications@github.com>
wrote:

[2016-07-24 12:05] vince62s opened #914 "Tedlium chain config question"
When running the chain config script for Tedlium, I saw that run_tdnn.sh and  	run_ivector_common.sh are not in sync since the former call the latter with --speed-perturb true which is not defined the repo version.
Also Dan fixed this one ali_dir=tri3_ali_sp.

Now my question is: is the repo version of the Chain script the last version related to the paper, and subsequently is it the best config a

[2016-07-24 18:19] galv commented on #914
Sounds like the --speed-perturb thing would cause a crash. Let me check it out.

Regarding ali_dir=tri3_ali_sp, Vijay actually advised me to to use non-speed-perturbed alignments for tree building. I can't rembmer if $ali_dir was used anywhere else.

The repo version was the last version as of the first submission. We got about 1% absolute WER decrease for the camera ready submission with some dat

[2016-07-24 18:50] vince62s commented on #914
okay, thanks. Just out of curiosity what was the swbd baseline script you took to start with ? 'cause now there are so many.

[2016-07-24 23:30] vladbataev commented on #912
So, kaldi provides a conversion of these probabilities into a grammar wfst, doesn't it?

[2016-07-24 23:33] danpovey commented on #912
No, and it's not possible even in principle
Dan

On Sun, Jul 24, 2016 at 4:30 PM, Vlad Bataev <notifications@github.com>
wrote:

[2016-07-25 01:19] galv commented on #914
Initially, it was based on swbd/s5c/local/chain/run_tdnn_2y.sh. However, this used the "jesus" nonlinearity, which we later abandoned. Since, then it organically developed, partially with hints from Vijay and Dan. Are you wondering anything in particular?

[2016-07-25 08:05] naxingyu commented on #890
Why are alis re-generated when only the alignments in lattice form are used [here](https://github.com/kaldi-asr/kaldi/blob/master/egs/ami/s5/local/chain/run_chain_common.sh#L114)?

[2016-07-25 10:13] vladbataev commented on #912
Then, I understand how rnnlm and n - gram approaches can be combined together or only rnnlm can be used: give n-gram sequence to the neural network and it will produce the probabilities of the next word. After that, it can be used in wsft, but it's constraint of rnnlm, because it doesn't use all history of the previous context. Is it possible to use rnnlm directly?

[2016-07-25 11:44] vince62s commented on #914
Nothing particular, just making sure it was the best known parameters. Actually it has 7 layers right now with the current splices indexes. (run_tdnn_2y.sh has only 5).
Btw, with the same relu dim (500) and same splicing indexes ("-1,0,1 -1,0,1,2 -3,0,3 -3,0,3 -3,0,3 -6,-3,0 0"), the chain model ends up with more parameters than the nnet3 equivalent. Might be due to the output dim (?).

Anyway on

[2016-07-25 14:40] jtrmal commented on #912
It's probably not possible for any real-size lattice.  The current
rescoring expands the lattice to get unique 8gram(?, not sure completely of
the degree) histories. I think Dan or Guoguo tried higher degree, but it
didn't lead to any significant difference. You could, in theory, modify the
source code of the rnnlm rescoring to give you higher n-gram contexts. I
think it might be even quite easy,

[2016-07-25 14:41] #912 closed

[2016-07-25 14:54] vladbataev commented on #912
Thanks a lot for your help.

[2016-07-25 15:39] vijayaditya commented on #890
They are being regenerated to provide the graphs for find_bad_utts.sh
script below
<https://github.com/kaldi-asr/kaldi/blob/master/egs/ami/s5/local/chain/run_chain_common.sh#L134>
.

--Vijay

On Mon, Jul 25, 2016 at 4:05 AM, Xingyu Na <notifications@github.com> wrote:

[2016-07-25 16:26] vijayaditya commented on #861
Another enhancement would be to provide an option for early exit i.e., if one of the  jobs in the array fails the script should kill all the jobs and exit rather than wait till the end and report the percentage of failure.   If this feature is not activated the script should be printing details of the jobs being aborted/exiting with non-zero status as soon as the failure occurs.

This is essential

[2016-07-25 16:27] vijayaditya commented on #911
@vesis84 / @mallidi  Could either of you respond to this query ?

[2016-07-25 19:37] danpovey commented on #890
I think it's actually the fMLLR transforms that find_bad_utts.sh needs.
When we check in Vimal's data-cleanup stuff (which I'm working on right
now, refactoring etc.), the pipeline will change a bit.  We'll do cleanup
with resegmentation, and provide a new data directory.  I'm working on the
interaction with the chain scripts right now.

On Mon, Jul 25, 2016 at 8:39 AM, Vijayaditya Peddinti <
noti

[2016-07-25 20:03] danpovey opened #917 "SDM data prep in AMI may be wrong"
It looks like in sdm_ami_data_prep.sh, it's supposed to create an utt2spk that uses the session (meeting) to adapt on:
[code]
It's not clear what the intention of this regexp was... the segments file looks like this
[code]
and the speaker labels end up looking like `AMI_EN2001a_SDM_`
I'm sure the intention was not to have the speaker name end in an underscore.  That regexp is really nasty too- I c

[2016-07-25 20:47] danpovey commented on #914
Cool.  Hopefully the chain models will be even better once we get the
transcript clean-up finished.  Tedlium [at least release 1] has extremely
noisy transcripts which will tend to affect the chain model a lot.
Dan

On Mon, Jul 25, 2016 at 4:44 AM, vince62s <notifications@github.com> wrote:

[2016-07-25 20:58] vijayaditya commented on #917
(+ @pswietojanski  as he most probably wrote the data prep scripts.)

[2016-07-25 21:07] vijayaditya opened #919 "Remove redundant copies of nnet3 scripts"
Right now there are several redundant copies of scripts in steps/nnet3 directory. e.g.,
1. There are shell and python versions of RNN and DNN training scripts.
2. There different config generators for the TDNNs

We initially decided to keep all these scripts to ensure that scripts in local/\* do not fail and planned to gradually update the local/\* scripts.  This issue has been created to track th

[2016-07-25 22:00] danpovey commented on #917
BTW, I'm pretty sure what would be better than assigning the entire meeting to one speaker, is to assign roughly one-minute chunks of meetings to different speakers.
Of course the same would have to be done in test time.

[2016-07-25 22:03] vijayaditya opened #920 "Back-compatibility issue with 6d2fd23"
This is less of an issue and more of a notice to people who are trying to use trained (B)LSTM models. Commit 6d2fd23dff92458cbf3e18a0b3e3dc729123330e breaks back-compatibility of ClipGradientComponent.

[2016-07-25 22:06] danpovey commented on #920
Wait - this doesn't mean it can't now read old models, does it?  We never
do that.

On Mon, Jul 25, 2016 at 3:03 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-07-25 22:08] vijayaditya commented on #920
Old models cannot be read with the current code.

[code]

[2016-07-25 22:10] danpovey commented on #920
OK, I commented separately on the PR saying how to fix it.  There always
needs to be back-compatibility code for reading models.

On Mon, Jul 25, 2016 at 3:08 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-07-26 06:11] danpovey commented on #917
I think I'll address this along with a rewrite and simplification of the AMI scripts.  I'm testing it now.
Not sure whether to replace the current setup or make s5b.. probably s5b.

[2016-07-26 06:29] #920 closed

[2016-07-26 08:12] pswietojanski commented on #917
Hi Dan and Vijay, thanks for adding me to this discussion. That was exactly the motivation of this particular regex -- map all utterances within the given meeting to a single label (which happen to be the whole meeting). We thought that assuming known speaker labels (or even the number of different speakers) is rather unrealistic. Of course, there are many options starting from fully unsupervised

[2016-07-26 15:33] vijayaditya opened #923 "Incorrect utt2uniq creation in utils/perturb_data_dir.sh script and aspire/s5/local/multi_condition/reverberate_data_dir.sh"
The two scripts mentioned above do not check for an `utt2uniq` file in the `$src_dir` and they assume that each utterance in the `$src_dir` maps to same utterance. These scripts have to be modified to honor the `$src_dir/utt2uniq` file, if present.

https://github.com/kaldi-asr/kaldi/blob/master/egs/wsj/s5/utils/perturb_data_dir_speed.sh#L50

[2016-07-26 18:30] #923 closed

[2016-07-27 03:17] aisch opened #925 "support building for linux arm natively"
this has come up here https://github.com/kaldi-asr/kaldi/pull/726 and https://github.com/kaldi-asr/kaldi/issues/500. eventually it would be nice to cross compile but i just needed ability to build on arm (so rm e.g. `-msse`, etc).

[2016-07-27 14:55] vijayaditya commented on #890
@naxingyu any updates ?

[2016-07-27 21:04] #925 closed

[2016-07-27 23:02] aisch commented on #500
@vsilent this should have been fixed by #926 in case you want to try again.

[2016-07-28 02:15] naxingyu commented on #890
In the middle of running the decoding part with --max-wer option.

在 2016/7/27 22:55, Vijayaditya Peddinti 写道:

[2016-07-28 03:25] akreal commented on #802
Hi! I tried to generate the HTML with `MARKDOWN_SUPPORT = YES` and noticed that multiplication sign (`*`) in some equations gets interpreted as italics mark.

[2016-07-28 04:59] danpovey commented on #802
That must be why we disabled it.  I can't find a way to enable it only for
some files.  It might be necessary to format the tutorial as regular
doxygen.

On Wed, Jul 27, 2016 at 8:25 PM, Pavel Denisov <notifications@github.com>
wrote:

[2016-07-29 03:13] xwyf05 opened #930 "windows debug the exe problem: "missing the pthreadVC2.dll""
Hi,

I searched the problem for a long time, and tried some solutions by google, but failed to fix it. Could someone please give me the guidence?
Below were the description related to the problem...
Problem generated:
1.  I compiled the Kaldi under the guidance of ~/windows/INSTALL.md, and successed to build the compute-kaldi-pitch-feats.
2.  When I tried to debug the command (compute-kaldi-pitch-

[2016-07-29 03:16] jtrmal commented on #930
the DLL pthreadVC2.dll is not available on your path. So either modify the
PATH shell variable or copy the DLL to the same directory as the executable
is.
y.

On Thu, Jul 28, 2016 at 11:13 PM, xwyf05 <notifications@github.com> wrote:

[2016-07-29 03:52] xwyf05 commented on #930
Thanks for your kindly answer, I have tried the second method, but it did not work....
1.  I copied the dll to my executable directory, it did not work and popping  the problem again
2.  Could you please guide me how to modify the path shell variable? Did the pthreadVC2.dll says the
~\kaldi\tools\pthreads\Pre-built.2\dll\x64/pthreadVC2.dll?  if it is, I changed the path according the INSTALL.md, a

[2016-07-29 04:01] xwyf05 commented on #930
Oh sorry,

[2016-07-29 04:17] jtrmal commented on #930
I don't understand -- is the pthreadgc2.dll or pthreadvc2.dll? You have to
copy the right dll.
Also, AFAIK, the binary in VS is typically run from a different working
directory than the location of the dll.
Anyway, your issues are really connected to the fact that windows either
does not see the dll or for some reason decided it does not like the dll
(either because of the manifest file or some ot

[2016-07-29 06:33] xwyf05 commented on #930
Hi, Jtrmal

I am sorry for my spell mistake , it is the phreadVC2.dll, I used the cmd.exe to run the compute-kaldi-pitch-feats, and I add one by one the missing dll, it works...

Thank you for your warmhearted reply...

Best,
JT.W

[2016-07-29 06:33] #930 closed

[2016-07-31 21:03] vijayaditya opened #936 "Nnet3 : Reactive training monitor"
(This feature is related to #538  and some of the code from #577 can be reused for this feature.)

**Motivation:**
(B)LSTMs are part of state-of-art recipes in several LVCSR tasks in Kaldi. However (B)LSTM training is prone to several instabilities and has to be monitored carefully. This has been a major hurdle in wide adoption of (B)LSTM recipes by users of `nnet3` with limited familiarity with t

[2016-08-01 21:19] vince62s commented on #768
@vijayaditya I think you can close this issue.

[2016-08-02 02:32] vijayaditya commented on #768
Addressed in #905

[2016-08-02 02:32] #768 closed

[2016-08-02 05:10] Wolfgange3311999 opened #938 "Build error: undefined reference to `FLAGS_fst_field_separator[abi:cxx11]'"
I ran `check_dependencies.sh` (nothing missing), ran make `tools/` successfully, configured with `./configure --openblas-root=../tools/OpenBLAS/install` after successfully compiling OpenBLAS, as suggested by configure since the package isn't available for my system, and then I ran `make` in `src/`. Even after cleaning with `make clean` I run into the following error:
[code]

Note that I am running

[2016-08-02 05:27] jtrmal commented on #938
https://gcc.gnu.org/onlinedocs/libstdc++/manual/using_dual_abi.html

If you get linker errors about undefined references to symbols that involve
types in the std::__cxx11 namespace or the tag [abi:cxx11] then it probably
indicates that you are trying to link together object files that were
compiled with different values for the _GLIBCXX_USE_CXX11_ABI macro. This
commonly happens when linking to a

[2016-08-02 05:42] danpovey commented on #938
Is it possible that OpenFst was installed as some kind of system package?
If so, it could cause version mismatches, and anyway would likely cause
crashes later on.  You might have to remove that package for things to work
right.
Dan

On Mon, Aug 1, 2016 at 10:27 PM, jtrmal <notifications@github.com> wrote:

[2016-08-02 09:55] xwyf05 opened #939 "Pitch tracking"
Hi,
I am learning the pitch extraction algorithm and have read the literature:
"a pitch extraction algorithm tuned for automatic speech recognition".
I am confused with several questions:

1. Did the wave must be resampled, how the pitch affected the recognition if it not be resampled?
I tracked the realization of computed-and-process-kaldi-pitch-feats, and did not found the setting that can cross

[2016-08-02 15:27] rain-1 opened #941 "compile error building tools, about casting to bool"
Hello, running 'make' inside tools/ I found compile errors like this:

[code]

just thought I should report it.

[2016-08-02 17:18] vijayaditya commented on #939
(+Pegah as she wrote the pitch processing code)

On Tue, Aug 2, 2016 at 5:55 AM, xwyf05 <notifications@github.com> wrote:

[2016-08-02 19:59] danpovey commented on #939
We downsample (to  --resample-frequency=4k by default) both for efficiency
in computing autocorrelations, and because it slightly improves the
results.  I advise not to change that.

The internal code does support that.  E.g. online2-wav-dump-features uses
that.  [actually it operates from the whole wav file, but the workflow is
the same as if you were were getting the data bit by bit and outputti

[2016-08-02 20:16] danpovey commented on #941
You need to report your compiler version when reporting compilation errors.
Do
g++ --version

This is an OpenFst issue, but we should find a way to work around it.

On Tue, Aug 2, 2016 at 8:27 AM, rain-1 <notifications@github.com> wrote:

[2016-08-03 04:07] vijayaditya opened #943 "Weighted sum descriptor"
During some discussions in the past year we decided to implement weighted sum descriptor
i.e.,
`Sum(alpha, SumDescriptor1, beta, SumDescriptor2)`. The current sum descriptor just supports
`Sum(SumDescriptor1, SumDescriptor2)`.

This descriptor would be useful to implement operations like delta filtering inside the network.

Required : Familiarity with `src/nnet3/*`

[2016-08-03 04:17] vijayaditya opened #944 "Support for "." in nnet3 node names"
We would like to support "." in the nnet3 names. This would be used by `steps/nnet3/components.py` to identify subgraphs (e.g. `Lstm1.input_gate`). This information about subgraphs would be exploited by other tools like `steps/nnet3/dot/nnet3_to_dot.py` to better display the networks in dot graphs.

Requirements : C++
This involves modification of one name parsing function, IIRC.

[2016-08-03 04:24] danpovey commented on #944
This probably involves modifications of DescriptorTokenize() and
IsValidName().
I can't think of a reason why this would break anything.

On Tue, Aug 2, 2016 at 9:17 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-08-03 04:57] Wolfgange3311999 commented on #938
@danpovey No, OpenFst isn't installed nor available for my system beyond compiling it myself. Only yesterday I compiled OpenFst 1.4.1 and installed with `sudo make install`. I made sure the generated Makefile had `C++0x` as a `CXXFLAG`.

@jtrmal Well, I compiled OpenFst recently with the same compiler I'm using now which is `5.3.0`. Could there be another library that would relate to `FLAGS_fst_fi

[2016-08-03 05:28] danpovey commented on #938
Does kaldi.mk have the flag

-std=c++0x

in CXXFLAGS?

The configure should add this if it detects that you have installed OpenFst
1.4.1 in tools/.

However, if you have manually installed OpenFst1.4.1 at the system level,
and there is a different version in tools/, obviously it could cause a
mismatch.

On Tue, Aug 2, 2016 at 9:57 PM, Matthew D. Scholefield <
notifications@github.com> wrote:

[2016-08-03 05:32] danpovey commented on #938
Closing this issue as the problem is that you have installed OpenFst in system space which is conflicting with Kaldi.

[2016-08-03 06:07] danpovey commented on #938
BTW, I just modified the extras/check_dependencies.sh script to check more robustly whether OpenFst has been installed in system space.

[2016-08-03 06:26] allesover commented on #944
I think  a spelling check in the python level is enough ,avoiding the
C++ level modification

在 2016/8/3 12:17, Vijayaditya Peddinti 写道:

[2016-08-03 06:32] xwyf05 commented on #939
Hi, Dan
Thanks for all your kindly reply.

1. About the item1, if we want to get the mfcc( or plp) + pitch features, did the mfcc feature obtained like pitch?
(I means after resampled the origin audio data then do the mfcc extractation? )

2. About the item3, I learned the three-dim results that printed out  to arkfile means:
 **pov-feature, pitch-feature, and delta-pitch-feature**
The difference

[2016-08-03 16:37] vince62s opened #947 "bug in get_ctm.sh"
I think there is a bug in the recent change below
for instance if nj=1 then the second line in bold will become lats=.../lat.{1}.gz
instead of lat.1.gz

[code]

[2016-08-03 17:37] vijayaditya commented on #944
@allesover Please note this is a feature request, not a bug report.

[2016-08-03 18:55] danpovey commented on #947
Hm.  This problem will exist whenever we use the 'seq -s,' mechanism
for this type of purpose, which is in quite a few places.
We avoid expanding with asterisk because (a) it messes up the order of
the lattices if there are more than 9, and (b) it's dangerous if you
rerun with a smaller number of jobs.
We were considering getting rid of the 'seq -s,' mechanism anyway,
because it's incompatible wit

[2016-08-03 20:44] danpovey commented on #939
Please ask on kaldi-help in future (see kaldi-asr.org/forums.html).

No.

arkfile means:

If the delta-pitch-feature was different but the pitch feature was
*exactly* the same, then that would be odd.  But since the delta-pitch is
made from differences  between pitch features, it could probably be
explained simply by tiny differences in the pitch feature, which is no
unexpected.

[2016-08-05 11:20] vince62s commented on #914
I would like to try the left-biphone config with Tedlium. If my understanding is ok it is just a matter of changing the following line
utils/mkgraph.sh **--left-biphone**
or do I need to do more ?
thanks

[2016-08-05 20:48] danpovey commented on #914
You need to do more.
See `diff ../../swbd/s5c/local/chain/run_tdnn_7{b,d}.sh`

The key changes are, firstly if you use a shared tree-dir you should change
it, but also add the option
[code]
to `steps/nnet3/chain/build_tree.sh`.

On Fri, Aug 5, 2016 at 4:20 AM, vince62s <notifications@github.com> wrote:

[2016-08-07 13:47] vince62s commented on #914
ok left-biphone results very close to "regular" chain.

%WER 12.5 | 507 17792 | 89.6 7.2 3.2 2.2 12.5 84.8 | -0.077 | exp/chain/tdnn/decode_dev/score_9_0.0/ctm.filt.filt.sys
%WER 11.6 | 507 17792 | 90.5 6.6 2.9 2.1 11.6 82.1 | -0.214 | exp/chain/tdnn/decode_dev_rescore/score_8_0.0/ctm.filt.filt.sys
%WER 11.4 | 1155 27512 | 90.3 7.0 2.7 1.7 11.4 77.9 | -0.067 | exp/chain/tdnn/decode_test/score_8_0.

[2016-08-07 20:06] danpovey commented on #914
OK- it's hard to interpret these without seeing the baseline; but anyway,
please commit the change.
BTW, when I tried the left-biphone models on the AMI s5b recipe, there was
a clear improvement-- something like 0.4% absolute on average across all
the conditions.
Dan

On Sun, Aug 7, 2016 at 6:47 AM, vince62s <notifications@github.com> wrote:

[2016-08-07 20:51] vince62s commented on #914
it was 5 comments above last one, same thread.
Not committing since there is no script for nnet3 or chain right now.
But just letting you know for when you commit your script, baseline coud become left-biphone then.

[2016-08-07 21:23] danpovey commented on #914
OK thanks.
I'm starting from the AMI s5b scripts when creating the TEDLIUM nnet3 and chain scripts.  The AMI s5b scripts currently use left-biphone, which was quite a bit better on that setup.
Of course if the results are worse than the existing scripts we'll have to do some more investigation.

[2016-08-08 20:17] danpovey commented on #947
@LvHang, you could prepare a pull request to deal with this issue.  Search in the scripts for 'seq -s,' and for 'dash'.

[2016-08-08 21:04] vince62s commented on #947
sorry travelling this week, if not done I'll do this next week.

[2016-08-09 15:32] maxhawkins commented on #894
I should give some more context about why I'm interested in this.

I'm coming from the perspective of a user of the online decoding/transcription part of Kaldi rather than a speech researcher. I have an application using Kaldi running as a statically compiled binary outside of the source tree to avoid installing all of Kaldi on every server.

I'd like to try out other people's models on my code, b

[2016-08-09 15:42] maxhawkins commented on #894
I think this change will be possible, though I don't fully understand your comment about the config being passed around arbitrarily. Please tell me more.

What I was planning to do was define a new `RegisterPath` function that can be used whenever a file is required in code. The absolute path resolution would take place at the same point in the code as conversion from string to integer happens in

[2016-08-09 16:09] sikoried commented on #894
To a certain extent, you can use relative filenames already;  they'd  have to be relative to the path you're executing in.  Depending on your OS, you can use symlinks to fudge "real" relative paths.

(In our case for example, we're dockerizing services anyways, so the current path is easy to set.)

[2016-08-09 20:17] danpovey commented on #894
The models at kaldi-asr.org are not being updated right now and I know
they're not very easy to use or very well supported.

I don't think I want to put effort into making the downloadable models
easier to use right now.  It's a question of whether Kaldi is an upstream
or a downstream project.  Right now we're having a lot of impact by being
an upstream source of speech recognition, dealing only w

[2016-08-09 21:43] vince62s commented on #914
@danpovey @vijayaditya , I noticed that the splicing indexes copied over from the AMI s5b recipes are different from what was usually taken. it has 2 final layers 0 0. Is there any improvements using this splicing versus previous ones ?

[2016-08-09 21:49] vijayaditya commented on #914
IIRC TDNN in AMI recipe has more layers as I wanted to create a comparison
with a recipe involving a different neural network toolkit. I think it was
also giving me better results at that time.

--Vijay

On Tue, Aug 9, 2016 at 5:43 PM, vince62s <notifications@github.com> wrote:

[2016-08-09 22:19] danpovey commented on #914
I just copied it over.  @vince62s-- I haven't really done any tuning on
this recipe at all, I've just guessed at all the parameter settings.  If
you have time to do any tuning it would be great.
I'm about to check in some changes to the nnet3 and chain TDNN setups for
tedlium s5_r2, which will include the results.

Dan

On Tue, Aug 9, 2016 at 2:49 PM, Vijayaditya Peddinti <
notifications@github.co

[2016-08-10 00:47] maxhawkins commented on #894
Thanks Dan, this helps a lot.

I think the relative paths could easily be made backward compatible by first checking whether the file exists and then falling back on the old behavior. However, your point about scope creep is a good one. I think this change might not be worth the added complexity.

However, I'd like to push back on your point about general models not being useful. For people doing

[2016-08-10 02:07] vijayaditya opened #957 "Exploring low-rank matrix factorization (or linear bottleneck) in final affine layers of a neural network"
With the introduction of significantly large LVCSR tasks like fisher+swbd, ASpIRE and multi_en in Kaldi we have been able to train large models (~27 million parameters). Even with the inclusion of chain recipes, where the model is evaluated at 30 Hz frame rate, it is still desirable to reduce the size of model to gain further speed-ups.

Low-rank matrix factorization of final layers (see [1]) is a

[2016-08-10 10:02] xwyf05 commented on #939
Thanks very much.

JT.W

[2016-08-10 18:57] Invisibility opened #958 "GridEngine flush_time in http://kaldi-asr.org/doc/queue.html"
Hi folks,

I followed the instruction in the kaldi documentation at http://kaldi-asr.org/doc/queue.html and changed the flush_time (part of the attribute of the reporting_params key in qconf -mconf), but I noticed that it doesn't help much with the turnaround time for submitting jobs.

I looked up online and found that flush_time controls the reporting flush interval.

What I found improve the tur

[2016-08-10 19:04] danpovey commented on #958
Thanks-- I'm updating the documentation (compiling now).

On Wed, Aug 10, 2016 at 11:57 AM, Ian <notifications@github.com> wrote:

[2016-08-10 19:20] Invisibility opened #959 "GPU queue g.q is not documented at http://kaldi-asr.org/doc/queue.html"
Hi folks,

I followed the documentation at http://kaldi-asr.org/doc/queue.html to set up grid engine and ran the librispeech recipe with GPU enabled. The execution failed at the point when a job with gpu=1 is queued by steps/nnet2/train_pnorm_fast.sh. This happened because the g.q queue wasn't created. I resolved this issue by creating the g.q, in addition to the all.q.

Then I noticed that non-GP

[2016-08-10 19:38] danpovey commented on #959
Hm.  In our cluster we have it set up like this:

cat /var/lib/gridengine/default/common/sge_request

-q all.q

[needs to be done on all submit hosts]

so the default queue is all.q.  That makes the '-q all.q' option
unnecessary on that line [it was causing problems on clusters that were set
up in different ways.]

I don't know that there is a very natural place to put this in the docs,
because we

[2016-08-10 19:57] Invisibility commented on #959
Thanks for the answers, Dan. They make sense. I will try to update the docs and create a pull request.

[2016-08-12 14:11] vince62s commented on #914
I am running the new baseline now to see if I match the results first.
BTW, I had to comment a line in run_tdnn.sh
# touch $dir/egs/.nodelete # keep egs around when that run dies.
otherwise it hangs because before first run this dir does not exist.

when done I will try various set ups

[2016-08-12 20:03] danpovey commented on #914
thanks, fixing that bug.

On Fri, Aug 12, 2016 at 7:11 AM, vince62s <notifications@github.com> wrote:

[2016-08-12 22:05] vince62s commented on #914
hmm weird, results chain no cleanup are different from yours:
%WER 10.6 | 507 17783 | 90.8 6.5 2.7 1.5 10.6 80.1 | -0.007 | exp/chain/tdnn_sp_bi/decode_dev/score_8_0.0/ctm.filt.filt.sys
%WER 10.1 | 507 17783 | 91.0 5.5 3.5 1.1 10.1 80.3 | 0.096 | exp/chain/tdnn_sp_bi/decode_dev_rescore/score_10_0.0/ctm.filt.filt.sys
%WER 10.5 | 1155 27500 | 90.8 6.2 3.1 1.3 10.5 76.5 | 0.048 | exp/chain/tdnn_sp_bi

[2016-08-12 22:07] danpovey commented on #914
It looks like, for, you, the LM rescoring makes much less difference.
Did you regenerate your language models based on the latest scripts?
Because I pruned the model smaller than yours, so the graphs wouldn't be as
large.
Dan

On Fri, Aug 12, 2016 at 3:05 PM, vince62s <notifications@github.com> wrote:

[2016-08-13 02:09] vince62s commented on #914
Yes I rebuilt everything

[2016-08-13 02:26] vince62s commented on #914
Actually i have to check the lexicon i took...

[2016-08-13 08:24] vince62s commented on #914
I think you misread, my rescoring is -0.5% and -0.6% when yours is -0.4% and -0.3%.
I checked my vocab which is different from yours.
You take the Cantab-tedlium.dct which is 150000 words (which is from the original recipe script) and I take the merger of this one and the tedlium-release 2 one, which leads to 191010 words.
It does explain the little improvement on the dev set but does not explain

[2016-08-13 08:57] vince62s commented on #914
I think also that method is different. I guess you trained on cleaned data and decoded first cleaned data and then just decoded non cleaned data on pre trained (on cleaned) since I read this:
local/chain/run_tdnn.sh --train-set train --gmm tri3 --nnet3-affix "" --stage 20
stage 20 is just decoding.

my run was on non cleaned data all the way through, including training.

[2016-08-13 19:36] danpovey commented on #914
Firstly, ignore the --stage, that shouldn't have been there.  I didn't do
anything weird or complicated-- I would never do that without making it
clear in the README.  Anyway the cleanup only happens on training data, not
test, so what you're saying isn't feasible.

The runs aren't exactly replicable anyway, but if your LMs and lexicons are
not the same it's even less expected that it would be exa

[2016-08-13 20:31] vince62s commented on #914
ok but I want to replicate your results first then.
Can I just rebuild the LM + L + G and then make the graph without retraining everything ?

[2016-08-13 20:34] danpovey commented on #914
That should take you most of the way there-- however, you should verify
that the phones.txt does not change (it shouldn't, just check).
But you decode with the lexicon that has pronprobs, so you'd need to rerun
the things in stage 5 of the run.sh that get the pronprobs.

The training of the models wouldn't be *exactly* the same, but it should be
about the same.

Dan

On Sat, Aug 13, 2016 at 1:31 P

[2016-08-14 17:11] vince62s commented on #914
very different results so re-running from scratch, I want a clean start.

[2016-08-15 19:06] vijayaditya opened #965 "Storing ivector extractor ID in ivector directories and nnet3 model directories"
Mismatch between iVector extractors used for training and decoding is a frequent user error. We should probably assign a unique ID to each iVector extractor and store this information in all related directories which use the output of this extractor e.g. iVector directories and nnet3 model directories. When the decode scripts, or similar scripts, are used with an nnet3 model and an iVector directo

[2016-08-15 19:11] danpovey commented on #965
Good idea.
The extractor IDs can be assigned by the training script, as a file
'extractor_id'.. a space-free form of the date and time it was written
would be suitable.
Dan

On Mon, Aug 15, 2016 at 12:06 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-08-15 19:13] vijayaditya commented on #965
OK

[2016-08-15 19:24] vijayaditya opened #966 "ASpIRE reproducibility issue"
Even after correcting the bug  #889  @tomkocse has issues reproducing the results in the ASpIRE recipe. However the WER difference is just 2% abs (it was 11% abs with #889 ). Using the `data/impulses_noises` directory prepared by the old recipe and the latest data reverberation scripts he is able to reproduce the results. Thus the reproducibility issue has been isolated to the new `aspire/s5/local

[2016-08-16 00:10] danpovey opened #968 "Storing phones.txt"
Something along these lines off issue #965 that I'd like to be done, is to copy phones.txt to any model-training directory [and from there to any place we copy the models to].
There would also be a script with the following usage info:
[code]
... and any scripts that take a lang directory and a model or alignment directory, and require the two to be compatible, would perform this check, in a way t

[2016-08-16 10:31] ajira86 commented on #941
Hello,

I updated my Debian today and tried to compile from fresh sources with the exact same issue.
Here is my compiler version if it could help you.

[code]

[2016-08-16 13:17] vince62s commented on #914
my results, from scratch (no cleanup):
for dev set , -0.1 diff with yours before rescoring.
for test set +0.3 diff with yours before rescoring.
does this make sense ? I thought it would be the same.
the only difference is that I run on a single machine with start and final job numbers=2 at nnet training level.
%WER 10.9 | 507 17783 | 90.4 6.0 3.5 1.3 10.9 81.3 | 0.048 | exp/chain/tdnn_sp_bi/decode

[2016-08-16 18:32] freewym opened #970 "Reg. the functions AddNnet() and ScaleNnet() in nnet3/nnet-utils.h"
I have doubts regarding the function AddNnet() and ScaleNnet() in nnet3/nnet-utils.h:

For each component in an nnet, these two functions scale both the parameters in updatable components and stats in non-updatable components.  In most cases, scaling the stats in non-updatable components would not affect the results; but it would in the case where, for example, ClipGradient's self-repair is activa

[2016-08-16 19:19] danpovey commented on #914
If the num-jobs-nnet are different, we don't expect the WERs to be the same.
[even if they are the same, things aren't 100% reproducible anyway, this is
unavoidable due to the way GPUs work].  So it's OK.

Dan

On Tue, Aug 16, 2016 at 6:17 AM, vince62s <notifications@github.com> wrote:

[2016-08-16 19:40] danpovey commented on #941
I assume you are using some bleeding-edge testing version of debian.
You can't really expect things to work when using such new compilers.  You
could try modifying OPENFST_VERSION to 1.4.1 in the Makefile in tools/, I'd
be interested to see if that works.  But we won't put much effort into
supporting this until it makes its way into the stable distributions.

On Tue, Aug 16, 2016 at 3:31 AM, Samue

[2016-08-16 21:35] danpovey commented on #970
The reason why the stats are scaled too, is that it gives
possibly-more-sensible behavior when doing things like model-averaging.
E.g. suppose someone were to run training with --zero-component-stats=false
given to nnet3-train.  If the stats were not scaled while doing the model
averaging, then on each iteration the stats would get multiplied by the
number of jobs, and would eventually exceed the

[2016-08-17 08:28] ajira86 commented on #941
@danpovey I wrote this answer to give you more data on the issue (if it could help).
I'm usually using Ubuntu 14.04 with Kaldi but just making some tests with my personal Debian Stretch.

As you say, using openfst in version 1.4.1 will fix the problem and compilation will succeed to end.
Here is the information I found in Makefile while editing:

[code]

[2016-08-17 09:01] lomizandtyd opened #974 "[BUG] cu-matrix.cc AddMatMatElements KALDI ASSERT"
Need to check col number and row number in [cu-matrix.cc: 1258 : AddMatMatElements](https://github.com/kaldi-asr/kaldi/blob/master/src/cudamatrix/cu-matrix.cc) ...

-------------------------------
Other information about the bug..

I create a new component in src/nnet like [`nnet-lstm-projected.h`](https://github.com/kaldi-asr/kaldi/blob/master/src/nnet/nnet-lstm-projected.h)
But I wrote a wrong b

[2016-08-17 18:49] danpovey commented on #974
@freewym, could you please add an assert for this?  [use SameDim()].

[2016-08-17 18:49] danpovey commented on #974
Actually, @freewym, forget that, I know you're busy with other stuff...  @kangshiyin, can you please do this?

[2016-08-17 19:06] danpovey commented on #941
OK, closing the issue for now.
When gcc 6.x use becomes more prevalent we may change the default OpenFst to 1.4.1.
We've been hanging back on the use of C++11, and OpenFst 1.4.1 requires C++11 which is why it's not the default right now.

[2016-08-17 19:06] #941 closed

[2016-08-17 19:19] danpovey commented on #974
Thanks.
BTW, @freewym has been working with GRUs too, and IIRC, also projected GRUs.
As far as I know he has not got quite the same results as BLSTMs yet, but it's quite close, and slightly faster.  You can talk to him at freewym@gmail.com.

[2016-08-17 19:19] #974 closed

[2016-08-17 19:56] akira-miasato commented on #661
I've conducted some experiments with multiple languages using chain recipes, and I'd like to point a change I had to conduct in the binaries:

[nnet-chain-training](https://github.com/kaldi-asr/kaldi/blob/master/src/nnet3/nnet-chain-training.cc#L31): The denominator graph constructor uses the 'output' layer dimension as default. The quickest way to deal with it was defining default arguments throu

[2016-08-17 20:14] danpovey opened #977 "Improving nnet generalization to feature offsets"
I have thought of an efficient way to enhance the generalization of our models to additive feature offsets by adding randomly chosen shifts to the training features.  @vijayaditya, perhaps you can work with someone on this.  Or @pegahgh, if you want to do this and can do it soon, you can do it, as I know you have been interested in similar things in the past.

This is something that we could do wh

[2016-08-17 20:20] vijayaditya commented on #661
If you are computing cost function using a particular output through out the training iteration then you could just the rename the output of interest as "output". You can do this by adding a binary which does the renaming when the model is passed to the chain trainer.

You might get better performance if you switch between languages more frequently e.g. at minibatch level. @pegah might be able to

[2016-08-17 20:26] danpovey commented on #661
I think Pegah [her handle is @pegahgh] has been working on multi-language
nnet3 training, but not chain training so far, as far as I know.

I believe the approach we decided on is to mix the languages together in
the archives of egs on disk, but to have the nnet3-merge-egs program batch
them up in such a way that it spits out batches containing only one
language at a time.  That means there are on

[2016-08-17 20:31] danpovey commented on #661
Oh, I see now the specific line of code you were asking about:
[code]
Probably to implement the multi-language chain training in the same way as
I mentioned above for nnet3 training, we'd need to have multiple of these
NnetChainTrainer objects, one per language, and pass the output name in
somehow.  Perhaps the NnetChainTrainer objects could be located in a map
indexed by output name, and only act

[2016-08-18 19:19] vijayaditya opened #979 "utt2comb file in data directories to keep track of utterance combinations"
In the latest chain recipes with mininum segment length constraint the utterances are combined after feature extraction stage. We could maintain an utt2comb file in these data directories, which maps each new utterance to the original utterance ids, so when we perform these operations on other data directories we can **ensure** that the same utterance combinations are done.

[2016-08-19 00:30] danpovey commented on #979
I think I made sure the process is basically deterministic.  In any case if
there are small differences, they will just lead to a small subset of
utterances having different id's and/or lengths, and and when any
operations are done across data dirs, this will just lead to a very small
number of utterances not being included in teh computation.  I don't want
to add the utt2comb file because it just

[2016-08-19 14:56] #947 closed

[2016-08-19 21:11] vijayaditya commented on #979
OK, got it.

[2016-08-19 21:11] #979 closed

[2016-08-19 21:34] vijayaditya commented on #919
Some of the old nnet3 shell scripts have been deprecated in PR #967 .

[2016-08-19 21:34] vijayaditya commented on #965
Being addressed in #967

[2016-08-19 21:35] vijayaditya commented on #890
@naxingyu Any updates ?

[2016-08-19 21:38] vijayaditya commented on #776
@freewym Could you please add the latest cleanup code and left-biphone models to the librispeech recipe. You can see tedlium/s5_r2/run.sh for guidance in using cleanup stage.

[2016-08-19 21:59] freewym commented on #776
OK

[2016-08-20 05:04] #784 closed

[2016-08-20 20:39] vijayaditya opened #984 "Update single job scripts like utils/data/get_utt2dur.sh, steps/compute_cmvn_stats.sh to use multiple jobs"
In the large data recipes in Kaldi many single job scripts in steps/* and utils/*, which were very fast for normal sized LVCSR tasks, consume several hours.
e.g. on fisher_swbd/aspire the `utils/data/get_utt2dur.sh` script runs for a few hours.

We need to update these scripts to add parallelization support.

Required skill: shell scripting

[2016-08-20 20:54] danpovey commented on #984
Regarding get_utt2dur.sh being slow: is this after speed perturbation?
This is because it has to read the whole file, because sox doesn't give you
correct headers.  However, the data-perturbation scripts in utils/data/
have been fixed so that they compute the utt2dur before speed perturbation;
and then the speed perturbation scripts compute it from the old one, so
that you'd never have to compute

[2016-08-20 21:05] danpovey commented on #984
... however, since compute-cmvn-stats has to uncompress the features, which
isn't instantaneous, I think it would be reasonable to have it support
multiple processes.  [only necessary for the "normal" code path with
compute-cmvn-stats, for now.]   In the normal case a num-jobs like 2 or 4
would I think be the largest reasonable value; we should warn if larger
values than, say, 4 are used.

Regardi

[2016-08-20 21:18] vijayaditya commented on #984
Sorry I should have done some investigation in the logs before creating this feature request. In almost all LVCSR tasks that we currently support the training data directory has a segments file, so generating utt2dur should be trivial and we do not need parallelization.

I observed that `steps/data/reverberate_data_dir.py` was taking several hours to generate durations and  I had assumed it was us

[2016-08-21 19:08] danpovey opened #987 "Better testing of divergent strides"
@kangshiyin, I think it would be useful, for the purpose of testing code, if you could implement a mechanism in CuDevice where with some probability, when a matrix is allocated with `MallocPitch()`, it will have unexpected stride.  [e.g. if the mode is set to true, then with probability 0.5, add 128 to the requested `row_bytes`]  Best not to modify the CuAllocator code, as it's complicated; do it

[2016-08-21 19:34] #970 closed

[2016-08-21 19:34] danpovey commented on #968
@LvHang, you could look at this.

[2016-08-21 19:36] #958 closed

[2016-08-21 20:27] danpovey commented on #943
Vijay, I just want to point out that this weighted-sum stuff is actually quite hard to implement, due to the way the internals of the compilation process work.  Implementing it in the obvious way would require adding a weight to the Cindex, and this change would spread its tentacles over the entire codebase, make the compilation harder to debug, and slow the compilation process down.

The most fea

[2016-08-21 20:49] #938 closed

[2016-08-21 20:51] #917 closed

[2016-08-21 20:51] #914 closed

[2016-08-21 21:50] #911 closed

[2016-08-21 21:52] danpovey commented on #904
Addressed in PR #934

[2016-08-21 21:52] #904 closed

[2016-08-21 21:52] #902 closed

[2016-08-21 21:52] danpovey commented on #901
@david-ryan-snyder, did this slip by you?

[2016-08-21 21:56] vijayaditya commented on #943
Thanks for the detailed comments. I will start the implementation, as
suggested, this week.

--Vijay

On Sun, Aug 21, 2016 at 4:27 PM, Daniel Povey <notifications@github.com>
wrote:

[2016-08-21 23:28] danpovey opened #988 "Dropout for ephemeral connections"
I have an idea that I'd like help to implement in nnet3.  I'm not sure who to ask to work on this.

It's related to dropout, but it's not normal dropout.  In normal dropout we'd normally have a schedule where we start off with dropout (e.g. dropout probability of 0.5) and gradually make it more like a regular non-stochastic node (dropout probability of 0.0).    In this idea we start off with not m

[2016-08-21 23:51] danpovey commented on #895
Closing this issue... it was more of a discussion anyway.

[2016-08-21 23:51] #895 closed

[2016-08-21 23:54] danpovey commented on #894
Changing the title of this issue to "Packaging of models for upload to kaldi-asr.org".  I haven't forgotten about this and I will get to it soon..

[2016-08-22 00:36] danpovey commented on #890
This should now be done with utils/data/combine_short_segments.sh, not with the script in local/.

[2016-08-22 00:39] #882 closed

[2016-08-22 02:54] danpovey commented on #869
I do actually want to refactor the long-data-segmentation script to have a nicer interface and to use the newer utilities as used by steps/cleanup/clean_and_segment_data.sh, e.g. to use steps/cleanup/make_biased_lm_graphs.sh.

@xiaohui-zhang, I am hoping that you might have time to do this, as you're working with these types of things right now... if not, I may ask Vimal - or Vimal may want to do