[2015-07-23 22:10] nicolamontecchio opened #22 "can't build on mac os x"
The output of running `make` in the `src` directory follows below. This particular attempt was configured  with `./configure --use-cuda=no --openblas-root=/usr/local/opt/openblas`, but different configurations behave the same way (always fail to build `kaldi-lat.a`). `tools/` builds fine.

[code]

[2015-07-23 22:19] jtrmal commented on #22
Is it a fresh clone? Or just an update?
If update,  do make clean and make depend again
Kws-funxtions have moved to a new lib a while ago.
Contact me directly if still not working
Y.
On Jul 23, 2015 6:11 PM, "Nicola Montecchio" <notifications@github.com>
wrote:

[2015-07-23 22:24] nicolamontecchio commented on #22
fresh clone; did `make depend` and `make` but that's the error

[2015-07-23 22:28] jtrmal commented on #22
I'm afk,  will look into it in 2 hrs
Y.
On Jul 23, 2015 6:24 PM, "Nicola Montecchio" <notifications@github.com>
wrote:

[2015-07-23 22:59] jtrmal commented on #22
Ok, can you please change line 29 in lat/Makefile to

test -f $(LIBNAME).a && $(AR) -d $(LIBNAME).a kws-functions.o

and test again,  I don;t have access to MacOS, so I cannot test it. But
this should resolve the problem.
Be careful about the whitespaces in the Makefile

y.

On Thu, Jul 23, 2015 at 6:28 PM, Jan Trmal <jtrmal@gmail.com> wrote:

[2015-07-23 23:04] nicolamontecchio commented on #22
didn't work :(
(also made a make clean and depend to be sure)

[code]

[2015-07-23 23:10] jtrmal commented on #22
Ok, I still don understand, but let's just ignore the error -- please
prepend '-' to the former command, i.e. it will look like:

-$(AR) -d $(LIBNAME).a kws-functions.o

that will ignore the return code (we don't need it anyway).
y.

On Thu, Jul 23, 2015 at 7:04 PM, Nicola Montecchio <notifications@github.com

[2015-07-24 18:20] jtrmal commented on #22
OK, I just removed the kaldi-lat custom rule. It does not matter now. Can you please test?

[2015-07-24 18:56] danpovey commented on #22
I wonder if the right way to do it is to just change
    $(AR) -d $(LIBNAME).a kws-functions.o
to
    -$(AR) -d $(LIBNAME).a kws-functions.o
so it will never generate an error.

Dan

On Fri, Jul 24, 2015 at 11:20 AM, jtrmal <notifications@github.com> wrote:

[2015-07-24 18:56] danpovey commented on #22
... or whatever.  no problem.

On Fri, Jul 24, 2015 at 11:55 AM, Daniel Povey <dpovey@gmail.com> wrote:

[2015-07-24 19:49] nicolamontecchio commented on #22
i tested this on my home computer (mac - same setup in terms of os/xcode versions) and it worked

thanks for your help

[2015-07-24 19:50] #22 closed

[2015-07-31 01:47] danpovey opened #37 "po->opts"
In parts of the code where type OptionsItf is used, for historical reasons the variable name is typically "po" (for ParseOptions).  I think this is confusing and should be changed.  If someone could find time to do this, that would be helpful.  Do it by script if you want.

[2015-07-31 01:53] naxingyu commented on #37
Like "op" for OptionParser, as in Python?

[2015-07-31 03:29] danpovey commented on #37
Previously it was "po" as abbrev for the ParseOptions class.  But now an
abstract interface OptionsItf is used, so the variable name "opts" would be
more suitable.
Dan

On Thu, Jul 30, 2015 at 6:53 PM, Xingyu Na <notifications@github.com> wrote:

[2015-07-31 09:09] vdp commented on #37
In addition to the dumb PR above(I thought "oh, super easy, let's test how PRs work"), I've tried to use the refactoring capabilities of QtCreator, but changing "op->Register(" to "opts->Register(", breaks the indentation for the help message on the next line, and to be honest editing all these files manually, or writing a script doesn't appeal that much to me at the moment...

[2015-07-31 18:26] danpovey commented on #37
I would be OK with a patch that breaks the indentation; we can fix that
gradually as we visit each file.
Dan

On Fri, Jul 31, 2015 at 2:09 AM, Vassil Panayotov <notifications@github.com>
wrote:

[2015-07-31 19:08] danpovey opened #39 "Functionality needed for sparse-matrix in nnet3"
@chenguoguo   - doing this via issue request rather than email so we can track it better.
Could you add a couple of sparse-matrix things, please?  I need these for the nnet3 outer training code- they should be done for both CUDA and CPU based versions.
First, methods
Real SparseMatrix::Sum() const;
and
Real SparseVector::Sum() const;
[we won't likely be using the SparseVector::Sum() in the CUDA ve

[2015-07-31 19:22] danpovey commented on #39
BTW, I recommend that in both cases you use a temporary CuVector whose size is the number of MatrixElements in the CuSparseMatrix.
The Sum() method of CuVector handles a bunch of logic, and it would be a hassle to have to replicate this.

[2015-07-31 19:43] chenguoguo commented on #39
Got this one. I'm flying back to Baltimore tonight, will arrive tomorrow
noon. I may have to work on this after my arrival. I also have couple of
nnet3 things on my list that I haven't finished, I'll also finish those
asap.

Guoguo
--

On Fri, Jul 31, 2015 at 12:22 PM, Daniel Povey <notifications@github.com>
wrote:

[2015-08-01 05:43] danpovey commented on #39
BTW, I have finished the nnet training code (nnet3bin/nnet-train) but its compilation fails with a linking errors right now due to these things not being implemented.

[2015-08-01 06:35] chenguoguo commented on #39
OK thanks for the note.. Boarding in a few of minutes, I'll fix those
tomorrow.

Guoguo

On Fri, Jul 31, 2015 at 10:43 PM, Daniel Povey <notifications@github.com>
wrote:

[2015-08-02 19:26] #39 closed

[2015-08-02 19:26] #37 closed

[2015-08-05 19:52] danpovey opened #55 "nnet3- small task"
This task is for anyone who can do it and has free time.
If you check out the nnet3 branch of the code and build it, you'll notice that there is a test failure in nnet3-optimize-test:

LOG (UnitTestNnetOptimize():nnet-optimize-test.cc:111) Output sum (not optimized) is -33558.6
LOG (UnitTestNnetOptimize():nnet-optimize-test.cc:113) Output sum (optimized) is -34012.6
ERROR (UnitTestNnetOptimize():n

[2015-08-05 20:36] danpovey opened #56 "nnet3- optimization method to add"
I am creating an issue to keep track of something that needs to be done fairly long-term in nnet3.
Note: documentation for the nnet3 code exists at
  http://www.danielpovey.com/kaldi-docs/
(this is like what's at kaldi-asr.org/doc/, but corresponds to the nnet3 branch).
What's below is an email.  I was originally hoping Karel would agree to do this, but he is too busy.
The task is quite complicate

[2015-08-06 00:06] kkm000 commented on #55
Taken.

[2015-08-06 00:07] danpovey commented on #55
thanks..

On Wed, Aug 5, 2015 at 5:06 PM, Kirill Katsnelson <notifications@github.com>
wrote:

[2015-08-06 00:57] kkm000 commented on #55
[code]
PR in a sec.

[2015-08-06 01:17] #55 closed

[2015-08-07 00:09] danpovey opened #62 "nnet3- add binary nnet3-show-progress"
This is for anyone who has the time.
Look at how nnet3-average differs from nnet-am-average to see how you should modify nnet-show-progress to make nnet3-show-progress.  It may be necessary to add functions to nnet-utils.h.
The program should read the "raw" nnet format.

[2015-08-07 21:26] danpovey opened #64 "Upgrading to new CUDA API (v2)"
[creating a separate issue for this.  I expect this issue will be up for a while].

The new CUDA "v2" API has been supported since v4.0 of the CUDA toolkit (i.e. for quite a while; we are now on 7), and probably makes sense to upgrade the Kaldi project to use the new CUDA API.  The old API is deprecated by NVidia, and does not support certain useful functionality such as batched matrix-multiply.

[2015-08-07 21:29] jtrmal commented on #64
ok, created. y.

On Fri, Aug 7, 2015 at 5:26 PM, Daniel Povey <notifications@github.com>
wrote:

[2015-08-07 21:30] danpovey commented on #64
@vesis84, can we assign this issue to you for the time being?  Does not
have to be done super quickly e.g. in the next week or two, but it would be
nice to know that you are on it.
Dan

On Fri, Aug 7, 2015 at 2:29 PM, jtrmal <notifications@github.com> wrote:

[2015-08-08 19:15] vesis84 commented on #64
Hi, I think what you refer to is the support  of
A) 'concurrent streams', like described here : http://on-demand.gputechconf.com/gtc-express/2011/presentations/StreamsAndConcurrencyWebinar.pdf
(parallel execution of several kernels witing  single GPU)

Or do you mean 'B)' support for multiple GPUs, where each has its own cuda 'cuda context' which is attributed to a separate CPU thread? (Note that

[2015-08-08 19:22] danpovey commented on #64
I wasn't sure what I meant.
If you are saying that support for multiple concurrent streams and/or
multiple GPUs is not that important, then it would be fine to leave the
interfaces basically as they are (i.e. CuDevice()).  I'm not in great need
of multi-GPU support, because the current parallelization in nnet2/nnet3
works fine for me.

However, there is still the issue of upgrading to the CUDA v2

[2015-08-09 03:59] vdp commented on #64
I'm moderately ignorant about the CUDA ecosystem, and failed to find anything about this CUDA v2...
Dan, perhaps you mean cuBLAS API v2?

[2015-08-09 04:02] danpovey commented on #64
Yes, that's what I mean.
Dan

On Sat, Aug 8, 2015 at 8:59 PM, Vassil Panayotov <notifications@github.com>
wrote:

[2015-08-09 21:41] vesis84 commented on #64
Hi, I got confused, I was not sure what was mean by 'CUDA v2 API'. Now I understand that the task is to look into the extended cuBLAS API 2.0 and integrate some new cool features into cudamatrix. Okay, I undestand that this can be helpful. I'll look into the docs, what's in and how different is it from what we have (http://docs.nvidia.com/cuda/cublas/#axzz3iM9bNhe0).

[2015-08-09 21:43] danpovey commented on #64
Sure.
It's not actually even necessary to go ahead an integrate any the new
features into the cudamatrix library just yet; once we have switched over
to the new API we can do them one by one as needed.
Dan

On Sun, Aug 9, 2015 at 2:41 PM, Karel Vesely <notifications@github.com>
wrote:

[2015-08-10 09:07] Saurabhbhati opened #67 "Building kaldi with CUDA 7.0"
Makefile in src/cudamatrix/ doesn't check for CUDA 7.0. It shows an error while building as the compute capabilities of CUDA 7.0 and previous versions are different.
I changed the makefile to check for CUDA 7.0. I got no errors while building. Is it the right way to add CUDA 7.0? Could you please add support for CUDA 7.0?

[2015-08-10 12:01] jtrmal commented on #67
I can assure you I have no problems building kaldi with cuda 7.0.
The problems you mention might be something specific to your setup.  You
will,  however,  have to be more careful in describing what you did,  what
was the error  and so on.  Otherwise we cannot help you.
On Aug 10, 2015 5:07 AM, "arduinolover" <notifications@github.com> wrote:

[2015-08-10 17:35] danpovey commented on #67
You are possibly using a very outdated version of Kaldi.  Note that Kaldi
is now located on github (however, the latest Sourceforge version should
not have behaved like this either).
Dan

On Mon, Aug 10, 2015 at 5:01 AM, jtrmal <notifications@github.com> wrote:

[2015-08-10 17:41] vesis84 commented on #64
Hi, I after reading the intro of the "CUBLAS_Library.pdf", here is the digest of the crucial parts:

Cite:
In general, new applications should not use the legacy cuBLAS API, and existing existing applications should convert to using the new API if it requires sophisticated and optimal stream parallelism or if it calls cuBLAS routines concurrently from multiple threads.

* It looks we are good, unl

[2015-08-10 17:47] danpovey commented on #64
I wasn't planning to call simultaneous gemm() via streams.  A couple of
points on this:
  - Firstly, if you want to call simultaneous gemm()s, it's not clear to me
that separate streams are necessary.  Couldn't you just call one, not do
syncthreads, and call call the other one, then do synchtreads()?  I would
have thought separate streams are only necessary if you want to call cuBLAS
from separate

[2015-08-10 17:49] vesis84 commented on #64
So very shortly, the task looks like this:
* switch the API header file to "cublas_v2.h"
* add 'cublas handle' variable into CuDevice, add handle argument to the cublas,
* in a function doing 'tensor' multiplication (for-loop of gemm() calls), try to use streams:
  * functions cudaStreamCreate(); cublasSetStream(); do_gemm(); do_synchronize(); cudaStreamDestroy()
  * measure the acceleration in a

[2015-08-10 17:55] danpovey commented on #64
Agreed with the first two:

   - switch the API header file to "cublas_v2.h"
   - add 'cublas handle' variable into CuDevice, add handle argument to the
   cublas,

For the last one, regarding tensor  multiplication, I'm not convinced that
it's necessary.  For the case we care about the matrices are all the same
size, and the batched-GEMM function call is sufficient.  But creating a
wrapper for th

[2015-08-10 18:01] vesis84 commented on #64
I will have time for this in september, for now I should focus on presentation, then I'll be travelling around US. It would be better to find someone to do it.

[2015-08-10 18:14] vesis84 commented on #64
cite:
  - Firstly, if you want to call simultaneous gemm()s, it's not clear to me
that separate streams are necessary.  Couldn't you just call one, not do
syncthreads, and call call the other one, then do synchtreads()?  I would
have thought separate streams are only necessary if you want to call cuBLAS
from separate threads.

Karel:
* what you propose is mapped into a sequential call of gemms whi

[2015-08-10 18:18] vesis84 commented on #64
In the doc is written that "gemm() with streams" is faster than cublasgemmBatched() for larger matrices.

[2015-08-10 18:25] vesis84 commented on #64
There are also interesting "extension" functions like:
* 2.7.1. cublas<t>geam() : matrix addition with support of transpose
  * C = alpha*op(A) + beta*op(B)
* 2.7.2. cublas<t>dgmm() : multiplication with diagonal matrix
  * C = diag(X)*A; C = A*diag(X)

[2015-08-10 18:54] danpovey commented on #64
Interesting.  Currently we are using our own kernels for this; when we
switch over the API we could use this one.
Dan

[2015-08-11 06:31] Saurabhbhati commented on #67
Thank you for the reply. I'll try with the latest version.

This makefile doesn't check for CUDA 7.0 and line 51 will make sure that compute_13, sm_13 and compute_10, sm_10 are being appended to CUDA_ARCH. According to CUDA 7.0 documentation ARCH option in CUDA 7.0 doesn't accept compute_13,sm_13 or compute_10,sm_10. I was getting an error because of this so I modified Makefile a bit.

https://git

[2015-08-11 10:05] Waxo opened #68 "onlinebin no longer compiled ?"
Hi,

I know that online's methods are outdated and online2 replace it.
I just wanted to know if onlinebin is no longer compilated volontary (or not).

Thanks

[2015-08-11 11:59] vdp commented on #68
You should be able to compile the 'old' online code by executing 'make ext' in src/.
Also, I would suggest to use the [help mailing list](http://www.kaldi-asr.org/forums.html), instead of abusing the GH issues, that are meant for reporting problems.

[2015-08-11 13:56] #68 closed

[2015-08-11 18:37] danpovey commented on #67
For toolkit 6.0 or newer, that Makefile adds compute_50:

  #For toolkit 6.0 or newer, add the compute capability 5.0

  CUDA_VER_GT_6_0 := $(shell [ $(CUDA_VERSION) -ge 60 ] && echo true)
  ifeq ($(CUDA_VER_GT_6_0), true)
    CUDA_ARCH += -gencode arch=compute_50,code=sm_50
  endif

If you follow up, please specify what flags were generated by the Makefile,
which Kaldi version you are using, and

[2015-08-11 18:45] danpovey commented on #64
OK, so the current status on this issue is we are waiting for someone to
find time to upgrade current code to the new API, involving storing the
"stream handle" in the CuDevice object.  I'm going to wait a few weeks and
see if anyone volunteers or if Karel finds time, as this isn't super urgent.
Dan

On Mon, Aug 10, 2015 at 11:54 AM, Daniel Povey <dpovey@gmail.com> wrote:

[2015-08-11 20:14] danpovey opened #69 "nnet3- update CachingOptimizingCompiler to store a configurable number of computations."
Would require adding a hashing object for class ComputationRequest, so we can do fast lookup in a hash.
Idea is to cache the n most recently accessed Computations.  Probably a reasonable default is to cache around 20 computations.

[2015-08-11 22:03] danijel3 opened #70 "latice-oracle.cc with --write-lattice segfaults on long inputs"
The method GetOracleLattice crashes with a segfault most likely because of a stack overflow due to a too deep recursion. Obvious solution is to re-implement it iteratively.

Just putting it out there if anyone else gets a mysterious segfault in this program...

[2015-08-11 23:07] danpovey commented on #70
I'll wait a while and see if we get a submitted patch for this, before looking at it myself.

[2015-08-12 20:28] danpovey commented on #64
I just realized that there is a potential use for streams.  What if people want to do multi-threaded decoding and use a GPU for nnet evaluation (using a shared model)?  I think that likely wouldn't work correctly without streams.

[2015-08-13 00:40] #67 closed

[2015-08-14 11:43] posophe opened #73 "Release tarballs on github"
Hi !

I'm working on speech recognition on openSUSE. I need to package Kaldi at first. Do you plan providing release tarballs in github ? It makes maintainer's life so much easier :).

By advance, thanks for your answer.

[2015-08-14 13:37] akreal commented on #73
You can get tarball for any commit via GitHub API (https://developer.github.com/v3/repos/contents/#get-archive-link), for example:

https://api.github.com/repos/kaldi-asr/kaldi/tarball/9c257c5a44a474b791788413f1d3633aa17cea8b

BTW, I did some Kaldi packaging for Gentoo, feel free to borrow if find anything useful:
https://github.com/gentoo-science/sci/tree/master/sci-misc/kaldi
I started to create

[2015-08-14 13:40] posophe commented on #73
You're right, of course, but version control is very helpful in a distribution.

[2015-08-14 18:20] danpovey commented on #73
We're not planning on releasing tarballs in the near future because it's
not convenient for the way most people work with Kaldi.  Kaldi is a
research and development environment with many parts that's constantly
being updated; it's not a utility that you would likely want at a fixed
version.  I am a little unsure what you mean by "working on speech
recognition on openSUSE"- whether you are working

[2015-08-15 11:27] posophe commented on #73
In the end, I hope introducing Sirius in openSUSE Factory, and make openSUSE the first distribution including this kind of solution :) (I have some issues with sphinx actually). Anyway, thanks for your answer. If you agree, it would be great keeping this topic opened for eventually further questions.

Regards.
Benjamin

[2015-08-15 18:22] danpovey commented on #73
I think you may underestimate the amount of work it would take to create a
personal-assistant program that was ready for deployment.  In any case,
only the run-time parts of Kaldi would be needed.  This is a project for a
team including experienced members, not just one person.
Dan

On Sat, Aug 15, 2015 at 4:27 AM, posophe <notifications@github.com> wrote:

[2015-08-15 19:02] posophe commented on #73
I don't underestimate the amount of work. The hardest part will be providing a high quality skill of integration of Sirius into the distribution. And I can't just provide parts of Kaldi I need because other maintainers/developers could require the other parts of Kaldi. I don't develop anything, I just package it. You do the hard part of the work, I do the easiest I believe.

[2015-08-18 09:01] kkm000 opened #78 "Test failures and Travis CI"
When a test fails under CI, all I get is a failure message like (see [this Travis run](https://travis-ci.org/workflow-demo-org/kaldi/builds/76063707))

[code]

Travis does not easily support uploading logs. After the build/test script completes, the worker VM and all files are irreversibly gone. So we need a way to print an error log of a failed build to the same console, which is captured. I am t

[2015-08-18 14:48] jtrmal commented on #78
it makes sense to me -- and it should be easily doable in the Makefile
(instead of redirecting the output to /dev/null, we can redirect it to the
given file).

y.

On Tue, Aug 18, 2015 at 5:01 AM, Kirill Katsnelson <notifications@github.com

[2015-08-18 15:35] jtrmal commented on #73
As far as I know, no-one actively tried to compile it with openfst 1.5 -- you can be first who actually tries :) Not sure if the patches prepared for 1.3.4  would still apply cleanly (or if they are still necessary).
Is there some killer feature?
y.

[2015-08-18 18:41] kkm000 commented on #78
Ok, I'll do (1) and (2) always, so that log files of failed runs stay around. (3) will be done in a separate Travis `after_failure` event script.

[2015-08-19 19:05] danpovey commented on #73
Closing this issue; wontfix.  More suitable for help forums anyway.

[2015-08-19 19:05] #73 closed

[2015-08-19 21:13] danpovey opened #80 "Remove perturbed training code and scripts from nnet2 setup"
This is a feature that didn't turn out to be that useful and which shouldn't be kept.
Marking this as a TODO (anyone can do this).

[2015-08-19 21:19] jtrmal commented on #80
I take it -- it was me who initiated this TODO anyways.
y.

On Wed, Aug 19, 2015 at 5:13 PM, Daniel Povey <notifications@github.com>
wrote:

[2015-08-22 01:02] kkm000 commented on #78
Done in #79  (except printing a backtrace from core dump does not work thanks to travis-ci/travis-ci#3754).

[2015-08-22 01:02] #78 closed

[2015-08-22 04:06] naxingyu commented on #78
Does Travis CI run full builds all the time?

在 2015/8/18 17:01, Kirill Katsnelson 写道:

[2015-08-22 06:20] kkm000 commented on #78
@naxingyu:

Yes, when you open a PR against the main Kaldi repo's master branch, and then every time you update the PR. Another run is done on every push to the repo, including the merge of a PR. So we are all covered. :)

A run takes ~40 minutes to complete. I thought of speeding it up by caching OpenFST build, but it's a minor share (maybe 5 minutes or less), so I decided not to increase the com

[2015-08-22 19:54] jhludwig opened #86 "nnet3 build fails with ./configure --shared"
i am trying to build with the --shared setting per the instructions in src/gst-plugin/README.  on both my machines, the build fails in the nnet3 component:
[code]

[2015-08-22 20:03] danpovey commented on #86
@jtrmal, could you please look at this?  It could be a Makefile issue.
Those duplicate symbols all seem to be duplicated in the same file, as if
the archive had the same file twice.
Dan

On Sat, Aug 22, 2015 at 12:54 PM, John Ludwig <notifications@github.com>
wrote:

[2015-08-22 21:03] jtrmal commented on #86
Looking at it. Will commit a fix in a couple of minutes.
y.

On Sat, Aug 22, 2015 at 4:03 PM, Daniel Povey <notifications@github.com>
wrote:

[2015-08-22 21:20] jtrmal commented on #86
Fixed. PR#87 seems to resolve it.

[2015-08-23 01:27] jhludwig commented on #86
you guys are awesome, working perfectly now, thanks much!

[2015-08-23 01:27] #86 closed

[2015-08-23 14:59] posophe commented on #73
I know you've closed the issue. I just want you to know that upstream code of openfst has changed and your patch can't be applied.

[2015-08-23 17:33] danpovey commented on #73
OK thanks.  At some point when we upgrade, we'll look into that.

On Sun, Aug 23, 2015 at 7:59 AM, posophe <notifications@github.com> wrote:

[2015-08-24 17:42] kkm000 opened #88 "Wave{Reader,Writer} changes"
For tracking required changes (Discussed in #76)
- [ ] WaveWriter should not crash on out of range data, rather print a warning and continue (rather urgent)
- [ ] ~~Read and write 8 and 32 bit formats correctly.~~ drop support for 8 and 32 bits (see discussion). Scale all internal data to 2‐15×[-1,1] floats.
- [ ] Explain why this range in Docs

[2015-08-24 18:05] elfring opened #89 "Remove unnecessary null pointer checks"
[Extra null pointer checks are not needed in functions](https://isocpp.org/wiki/faq/freestore-mgmt#delete-handles-null "Do I need to check for NULL before delete p?") like the following.
* [DeleteTestFst](https://github.com/kaldi-asr/kaldi/blob/b347cf82d304ad7f36499a073455662a589baf50/src/fstext/deterministic-fst-test.cc#L111 "DeleteTestFst function")
* [Fbank](https://github.com/kaldi-asr/kaldi/b

[2015-08-24 18:08] danpovey commented on #89
Agreed.  I'll leave it as an open issue for now, since a lot of people would be able to submit a fix for this.

[2015-08-24 18:16] danpovey commented on #88
Agreed.

My understanding of the discussion was that we would simply discontinue
support for 8-bit and 32-bit.  But if you are able to get it working
correctly in those cases, I don't object.

Yes- just do it above the class definition in a /** ... */ comment, and
above class member-function declarations in /// comments.  It's not just
about the range-- general documentation of those classes is la

[2015-08-24 19:20] kkm000 commented on #88
Re 8 and 32: you found one example in the wild of a Kaldi user asking abut a 8 bit file, so I thought you wanted to fix it. But I am all for dropping it; 8 and 32 bit files are in the "grey area" where one would play with sox first to make sure the format is chewable. And then at this point, why not use sox anyway.

So, drop?

[2015-08-24 19:23] danpovey commented on #88
We later determined that the 8-bit code was definitely broken, so likely
no-one was ever using it successfully.   And also that 32-bit PCM files are
very rare.  So my vote is to drop it.
Dan

On Mon, Aug 24, 2015 at 12:20 PM, Kirill Katsnelson <
notifications@github.com> wrote:

[2015-08-24 19:24] kkm000 commented on #88
@dpovey: ok to rename `wave-reader` => `wave-io`?

[2015-08-24 19:26] danpovey commented on #88
Yes, but there is something we need to do with the Makefile when we make
these types of changes, some kind of "ar d" command.  @jtrmal would know.
Dan

On Mon, Aug 24, 2015 at 12:24 PM, Kirill Katsnelson <
notifications@github.com> wrote:

[2015-08-24 19:58] jtrmal commented on #88
Yes, the makefile in the src/feat dir might need a custom make rule  adding
the "ar -d wave-reader.o"
This is to prevent duplication of the objects.
BTW: this is just to reduce the people that the "kaldi won't build" after
updating -- but make clean && make depend would solve this as well
y.

On Mon, Aug 24, 2015 at 3:26 PM, Daniel Povey <notifications@github.com>
wrote:

[2015-08-24 20:02] elfring opened #90 "Issues relating to RNNLM"
Would you like to add more error handling for return values from functions like the following?
- [fopen](http://pubs.opengroup.org/onlinepubs/9699919799/functions/fopen.html "Open a stream.") ⇒ [TrainModelThread](https://github.com/kaldi-asr/kaldi/blob/1a59ece8f53e904d10cfce1758222a258e9a148e/tools/rnnlm-hs-0.1b/rnnlm.c#L410)
- [fscanf](http://pubs.opengroup.org/onlinepubs/9699919799/functions/fsc

[2015-08-24 20:19] danpovey commented on #90
Ilya Edrenkin (cc'd) is responsible for this RNNLM training code; it is not
part of Kaldi proper.
But I don't see any reason why not to do it; if you submit a patch I would
likely approve it.

Dan

On Mon, Aug 24, 2015 at 1:02 PM, Markus Elfring <notifications@github.com>
wrote:

[2015-08-24 20:29] ilya-edrenkin commented on #90
Hi,

I think it is a good idea.

Furthermore, @akhti has completely rewritten the rnnlm code and published it at https://github.com/yandex/faster-rnnlm
It is (almost) identical to rnnlm-hs-0.1b in terms of modeling capability, but also it:
1) is nearly 3 times faster;
2) supports NCE in addition to HS output;
3) greatly improved on style.
Probably we should replace the rnnlm in kaldi with this one

[2015-08-24 20:31] jtrmal commented on #90
Ilya, how different are the command switches?
y.

On Mon, Aug 24, 2015 at 4:29 PM, Ilya Edrenkin <notifications@github.com>
wrote:

[2015-08-24 20:32] ilya-edrenkin commented on #90
AFAIK Anton tried to make them 100% compatible (although there are some new switches, for example those that are used for NCE).

[2015-08-24 20:34] danpovey commented on #90
If someone had the time to make the changes and test the associated
scripts, and submit a pull request, that would be great.  Ilya?
Dan

On Mon, Aug 24, 2015 at 1:32 PM, Ilya Edrenkin <notifications@github.com>
wrote:

[2015-08-24 20:36] jtrmal commented on #90
Ok, in that case, the first step would be to add
extras/install_faster-rnnlm.sh script (ideally downloading the sources
directly from github). This way we could compare the behavior/compatibility.
y.

On Mon, Aug 24, 2015 at 4:32 PM, Ilya Edrenkin <notifications@github.com>
wrote:

[2015-08-24 20:39] jtrmal commented on #90
BTW, I cannot offer too much of my time -- I can review the script and help
with the issues you guys could run into, but not much else.
y.

On Mon, Aug 24, 2015 at 4:36 PM, Jan Trmal <jtrmal@gmail.com> wrote:

[2015-08-24 20:43] ilya-edrenkin commented on #90
Yes, sure, clearly we have to do it ourselves. I've asked @akhti to have a look here. I believe that he tested his models on kaldi librispeech recipes, so probably there is some existing code just to be merged in here.

[2015-08-24 21:15] kkm000 commented on #88
@jtrmal: so you think it would **not** be ok just skip adding the `ar d` command? The immediate question then is how long should be maintained.

[2015-08-24 21:18] danpovey commented on #88
Probably it should be maintained a few months.  the command should be after
a "-", IIRC, so that Make ignores the return status.  We do want that
command there, because it regularly causes installation problems when this
happens.
Dan

On Mon, Aug 24, 2015 at 2:15 PM, Kirill Katsnelson <notifications@github.com

[2015-08-26 01:08] danpovey opened #94 "CUDA interface change and new function"
@naxingyu, it would be great if you could help with this because you have been working on similar code recently.  This is something I need for my work on CTC (which I am working on currently in my personal fork of Kaldi).  I'll add you to the paper if you can help with this.

The following code currently exists in cu-matrix.h:

    // This function, adds a list of MatrixElements (scaled by alpha)

[2015-08-26 01:14] naxingyu commented on #94
Sure. Your instructions are quite straightforward. I'll take it.

X.

On 08/26/2015 09:08 AM, Daniel Povey wrote:

[2015-08-26 01:33] naxingyu commented on #78
Is it possible to skip the build if only 'egs' is updated?

X.

On 08/22/2015 02:20 PM, Kirill Katsnelson wrote:

[2015-08-26 01:42] danpovey commented on #78
In that case we can just ignore the check.

On Tue, Aug 25, 2015 at 6:33 PM, Xingyu Na <notifications@github.com> wrote:

[2015-08-26 03:56] kkm000 commented on #78
@naxingyu: but this is a good idea anyways. I'll see what can be done.

[2015-08-26 06:04] naxingyu commented on #94
Should I update all the calls to the new interface?

[2015-08-26 18:35] danpovey commented on #94
Yes.

On Tue, Aug 25, 2015 at 11:04 PM, Xingyu Na <notifications@github.com>
wrote:

[2015-08-27 15:41] fedorajzf opened #97 "why rnnlm tool doesn't have parameter for syn0 --> hidden"

[2015-08-27 17:13] danpovey commented on #97
Ilya edrenkin wrote the RNNLM tool.  I don't understand what the question
means.
Ilya, if you could get a github account it would be helpful.
Dan

On Thu, Aug 27, 2015 at 8:41 AM, fedorajzf <notifications@github.com> wrote:

[2015-08-27 17:19] danpovey opened #98 "Speaker-id TODO"
Something Najim requested-- to print out in the iVector extractor training, how much of the variance of the features is being modeled by the iVectors versus the variance of the Gaussians.  Probably for me, or possibly @david-ryan-snyder

[2015-08-27 19:59] ilya-edrenkin commented on #97
Here I am.
However I also don't get the question, frankly. syn0 matrix is used for word embeddings, they are just learned. What do you mean by a parameter in this context?

[2015-08-29 18:40] danpovey commented on #64
@freewym will be working on this.

[2015-08-29 20:27] danpovey opened #104 "[easy] Create nnet3-copy command"
to copy raw nnet3 nnets and possibly change binary status.   modify this from nnet3-am-copy and remove a bunch of code.

[2015-08-30 00:17] #94 closed

[2015-08-30 00:20] danpovey commented on #88
I believe this issue has been addressed.

[2015-08-30 00:20] danpovey commented on #97
This is more of a discussion than a real issue; closing the issue.

[2015-08-30 00:20] #97 closed

[2015-08-30 07:49] kkm000 commented on #88
Well, not entirely. I did not remove the 8 and 32 bit support yet, and still want to finish tests and docs. May I keep it open and assigned to me for a while? Not a high priority, but I do not want it slipping off my radar entirely.

[2015-08-30 08:39] naxingyu commented on #104
Taken.

[2015-08-30 16:46] danpovey commented on #88
Sure - go ahead and re-open it.

On Sun, Aug 30, 2015 at 3:49 AM, Kirill Katsnelson <notifications@github.com

[2015-08-31 01:55] naxingyu commented on #62
It requires a ComputeNnetGradient counterpart and I imagine it wouldn't be a nnet-util. I see two option. 1) Update nnet-diagnostics, add a ComputeGradient function, and 2) Add a ComputeGradient function in nnet-compute.h, and the implementation can be copied from nnet-derivative-test.cc. Which one is more of nnet3 spirit? What's your suggestion?

[2015-08-31 02:31] danpovey commented on #62
I think what you need already exists in class NnetComputeProb: see the
GetDeriv() function.
Dan

On Sun, Aug 30, 2015 at 9:55 PM, Xingyu Na <notifications@github.com> wrote:

[2015-08-31 06:25] fedorajzf commented on #97
hi, ilya
in rnnlm.c，hidden value is stored in neu1,  neu1[t] = sigmoid(synRec * neu1[t-1] + syn0)
should it be neu1[t] = sigmoid(synRec * neu1[t-1] + syn0 * U) ,  here U is another parameter for syn0 to hidden layer.

[2015-08-31 07:35] ilya-edrenkin commented on #97
It might be the case that carefully choosing this U would improve convergence; however I'd expect from the training procedure to learn the optimal scale for syn0 without making it a parameter.

[2015-08-31 08:44] fedorajzf commented on #97
if not use U,  hidden layer dimension must equal embedding dimension, maybe this is a problem

[2015-08-31 19:03] #104 closed

[2015-08-31 19:06] danpovey commented on #70
@chenguoguo, will you have time to look at this at some point?  You wrote the original code.

[2015-08-31 21:28] chenguoguo commented on #70
Sorry, didn't see this issue. I'll take a look this week.

Guoguo
--

On Mon, Aug 31, 2015 at 2:06 PM, Daniel Povey <notifications@github.com>
wrote:

[2015-09-01 01:36] naxingyu opened #110 "Srilm using relative path"
In many egs scripts, srilm binary examiner is using relative path, such as:
egs/babel/s5c/local/train_lms_srilm.sh:    sdir=`pwd`/../../../tools/srilm/bin/i686-m64
egs/swbd/s5c/local/swbd1_train_lms.sh:    sdir=`pwd`/../../../tools/srilm/bin/i686-m64

In our environment, users of Kaldi are encouraged to use a share KALDI_ROOT, instead of building their own version if they don't intend to change sr

[2015-09-01 01:40] jtrmal commented on #110
You don't read the code correctly.
The line you are mentioning is just a fallback in case ngram-count is not
on the path.
Having srilm available on path is the safest solution.
y.

On Mon, Aug 31, 2015 at 9:36 PM, Xingyu Na <notifications@github.com> wrote:

[2015-09-01 01:46] danpovey commented on #110
I think his point is, if not on the path, should we be using KALDI_ROOT or
../../..?
I don't think we have a convention or a requirement that KALDI_ROOT should
be exported to shell scripts and available there.
We could consider introducing such a convention.
Meanwhile, it might be possible to modify the script to first use
KALDI_ROOT if defined, and otherwise use ../../...  E.g.

[ -z $KALDI_ROOT

[2015-09-01 01:46] naxingyu commented on #110
I understand that.
But even if 'ngram-count' is not on the path, why does it assume that it
is installed in the users own Kaldi environment?

X.

On 09/01/2015 09:40 AM, jtrmal wrote:

[2015-09-01 01:48] danpovey commented on #69
@naxingyu , you might want to try this.
Make sure you understand hashing functions, hashing objects, equality-testing objects, and unordered_map first.  Grep around for unordered_map objects in the existing code.
Dan

[2015-09-01 01:49] danpovey commented on #110
It doesn't assume it, it simply tries it as the first guess, since there is
no-where else to look.
Dan

On Mon, Aug 31, 2015 at 9:46 PM, Xingyu Na <notifications@github.com> wrote:

[2015-09-01 01:51] naxingyu commented on #110
I see... Your suggestion sounds plausible.

X.

On 09/01/2015 09:49 AM, Daniel Povey wrote:

[2015-09-01 01:52] jtrmal commented on #110
Frankly, I'd support the opposite modification -- have it on the path or
the will die (with possibly some helpful message) :)
We have now the "autoconfiguration" mechanism in the tools so I think there
is no reason for scripts to assume much else than just test for the
existence -- most of these scripts were written before the had the
autoconfig via $KALDI_ROOT/tools/env.sh but I'm not sure if it

[2015-09-01 01:54] naxingyu commented on #69
I'll see what I can do.

On 09/01/2015 09:48 AM, Daniel Povey wrote:

[2015-09-01 01:59] danpovey commented on #110
I would be OK with just dying.
Dan

On Mon, Aug 31, 2015 at 9:52 PM, jtrmal <notifications@github.com> wrote:

[2015-09-01 07:34] naxingyu commented on #69
My guess is
1) add a member to CachingOptimizingCompiler class,
     unordered_map<int32, ComputationRequest> request_cache_;
2) Reserve the size of request_cache_ to a configurable number (20 as
default).
3) Each time Compile() is called, add it to the bucket.

Is it correct? And how would you like the key defined? I see we have
StringHasher, VectorHasher, PairHasher and CindexHasher.

On 09/01/2

[2015-09-01 14:08] danpovey commented on #69
3) Each time Compile() is called, add it to the bucket.

This is not really right, it needs to be a map from something like
ComputationRequest to Computation (or possibly pointers).  Which requires a
hashing object.  And 'reserve' on the map is just an advisory thing to the
unordered_map code; it's unrelated to the core issue, which is only keeping
a number of Computations (the n most recent)... t

[2015-09-01 14:12] danpovey commented on #69
3) Each time Compile() is called, add it to the bucket.

This is not really right, it needs to be a map from something like
ComputationRequest to Computation (or possibly pointers).  Which requires a
hashing object.  And 'reserve' on the map is just an advisory thing to the
unordered_map code; it's unrelated to the core issue, which is only keeping
a number of Computations (the n most recent)... t

[2015-09-01 15:39] vdp commented on #69
By the way, if I understand Dan's requirements correctly, the search term to use in Google could be something like "LRU cache C++" ...

[2015-09-01 21:48] #62 closed

[2015-09-02 01:38] naxingyu commented on #69
Thank you to @danpovey and @vdp for the info. I try to push my limits on this one :)

[2015-09-02 07:54] naxingyu commented on #69
Came up with another plan after Googling around...
I would add three variable members and a function member to the Caching class:

// The most recently accessed ComputationRequest appears at time_stemp.end()-1,
// and the least recently accessed one appears at the time_stemp.begin(). This list
// is used to keep track of freshness.
std::list<ComputationRequest> time_stemp_;

// The key is a reques

[2015-09-02 09:45] vdp commented on #69
Hi Xingyu,

I haven't coded much in C++ recently, so I'm a bit rusty, and I don't know the nnet3 code, but I think that you are headed in the right direction. I think that you can get some idea about the implementation of the operations from simple examples like e.g. [this one] (http://www.cs.uml.edu/~jlu1/doc/codes/lruCache.html). Your code will have the advantage of using the standard unordered_

[2015-09-02 18:29] danpovey commented on #69
I'm not sure that Xingyu is the right person to create a generic version of this thing- let's focus on the specific case for now.
You have to remember that both ComputationRequest and Computation are objects of significant size, so keeping redundant copies, or moving them around, is a no-no.  You may need to work with pointers, and think carefully about memory management.
Actually I suspect that t

[2015-09-03 01:26] danpovey opened #119 "Add multiple parallel AddMatMat,"
@freewym, this is for you, although @naxingyu may have an interest in it too.

Please look over https://github.com/kaldi-asr/kaldi/pull/47 to understand the background for this (Convolutional component).  That pull request is for nnet2, but there is a similar set of code in nnet1, with a separate pull request (you can search for that).  The original reason we wanted to upgrade to the CuBLAS v2 API

[2015-09-03 17:05] naxingyu commented on #69
@vdp Thank you Vassil. Luckily we have operator== defined in the key class (ComputationRequest).
@danpovey Agree. I open a PR on this issue.

[2015-09-12 00:21] danpovey commented on #119
closing since work is done.  thanks, @freewym .

[2015-09-12 00:21] #119 closed

[2015-09-12 00:22] danpovey commented on #70
Closing this issue since @chenguoguo fixed this.

[2015-09-12 00:22] #70 closed

[2015-09-12 00:23] danpovey commented on #64
Done- closing issue.

[2015-09-12 00:23] #64 closed

[2015-09-12 00:24] danpovey commented on #69
@naxingyu did this, so closing issue.

[2015-09-12 00:24] #69 closed

[2015-09-13 18:06] danpovey opened #134 "Tune nnet3 LSTMs"
I am creating an issue for this in case we can get wider help--
 Right now the thing that needs to be done that's most urgent for me is to get LSTMs tuned and working in the nnet3 setup.   I think at this point the essential code is all written and it's a question of tuning the scripts (e.g. adding more layers).  This is the limiting factor on me getting CTC working too (I'm doing it in a private

[2015-09-14 05:43] danpovey opened #135 "Optimization target"
This is mostly just a note for myself.
Need to optimize the case where we have something like

some_component.Backprop(....., &m1)
m2 += m1
m1 = []
where the component's Backprop adds to its output,  so we could just have done
some_component.Backprop(....., &m2)

[2015-09-14 07:38] naxingyu commented on #134
I'm happy to participate.

[2015-09-14 08:09] nichongjia commented on #134
Glad to do this.

[2015-09-14 18:35] danpovey commented on #134
Cool.   Vijay is making sure that stuff is checked in.  Vijay, please see
if there is anything that Pegah did in the interim which needs to be
checked in too.  She got some improvements out of label delay, I think.
Dan

On Mon, Sep 14, 2015 at 4:09 AM, nichongjia <notifications@github.com>
wrote:

[2015-09-14 21:50] danpovey commented on #134
OK, Pegah has checked in her latest changes.
Guys, you don't have to do this on AMI if it's not convenient-- just adapt the scripts to whatever setup is convenient for you.
Right now I am debugging some code which enables us to truncate the BPTT and not apply it to the left-context frames.  That should help both with speed and avoiding gradient explosion.

[2015-09-14 22:39] danpovey commented on #134
Another note: it's possible that Pegah's change
-chunk_width=20
-chunk_left_context=20
+chunk_width=10
+chunk_left_context=10
does not correspond to what she ran, and we might have to change it back.
this relates to the durations of the chunks of data that we train on.
Dan

[2015-09-15 10:23] naxingyu commented on #134
I have a hkust and a swbd setup running, both using Pegah's ami setup.
In the hkust setup, iteration 0 works fine, but the network explodes on
iteration 1. Training log shows objf jumps from -4.34102 to -6108.87.
The swbd setup seems to be running ok.
Now I start tuning on these two setups.
Any suggestion?

On 09/15/2015 06:39 AM, Daniel Povey wrote:

[2015-09-15 14:09] vijayaditya commented on #134
Hi Xingyu this happens when there is a gradient explosion in one of the intermediate steps.
Could you check what is the clipping threshold you are using. You could try using a smaller clipping threshold

<code> nnet3-am-info \<model-name\> |grep clipping </code>

[2015-09-15 17:55] danijel3 commented on #70
Just confirming that the problem is also fixed and working on my files - since I opened the issue.

[2015-09-15 18:02] danpovey commented on #70
Thanks!

On Tue, Sep 15, 2015 at 1:55 PM, Danijel Koržinek <notifications@github.com>
wrote:

[2015-09-15 18:37] danpovey commented on #134
Also, does the objf get worse within all of the individual jobs
train.1.XX.log, or just one of them?
My instinct is that you could try decreasing the max-change values in the
config and/or the learning rates.  But as Vijay said, the gradient clipping
threshold might make a difference too.
Looking at the nnet3-info output in the progress.XX.log might help show
which parameters are exploding, if any

[2015-09-15 18:41] vijayaditya commented on #134
@naxingyu one other thing, I just pushed in some changes where the default learning rates in the steps/nnet3/lstm/train.sh have been modified. Ensure that you are using the learning rates in this range.

[2015-09-16 02:52] naxingyu commented on #134
Thanks Dan and Vijay. I checked the latest commits, recompiled the
binaries, reduced clipping threshold from 10.0 to 5.0, and ensured the
learning rates in the modified range.
1. hkust setup still explodes from very beginning. When it explodes, it
happens on all of the individual jobs. 'clipped-proportion' is above
0.9, on both cell and recurrent components.
2. swbd setup explodes later, in a simi

[2015-09-16 02:54] danpovey commented on #134
Try smaller learning-rates and/or smaller max-change.
Dan

On Tue, Sep 15, 2015 at 10:52 PM, Xingyu Na <notifications@github.com>
wrote:

[2015-09-16 02:55] naxingyu commented on #134
OK. What 'max-change'? didn't see an option for that...

On 09/16/2015 10:54 AM, Daniel Povey wrote:

[2015-09-16 02:55] danpovey commented on #134
Can you show us an example log where the objf is very bad?  I want to see
if it starts from the beginning of the job, or in the middle of the job.

On Tue, Sep 15, 2015 at 10:54 PM, Daniel Povey <dpovey@gmail.com> wrote:

[2015-09-16 02:57] vijayaditya commented on #134
@naxingyu When reducing clipping threshold monitor the clipping-proportion in progress*.log. If this is high the objective function usually does not improve.

you can add this in steps/nnet3/lstm.sh using options
ng_per_element_scale_options=
ng_affine_options=

[2015-09-16 02:58] danpovey commented on #134
Regarding 'max-change', it may not be in the script, but the
NaturalGradientAffineComponent supports the 'max-change-per-sample' option
whose default value is 0.075 (would be in the line 'component
name=xxx...'), and the NaturalGradientPerElementScaleComponent supports the
'max-change-per-minibatch' option whose default value is 0.5.

Dan

On Tue, Sep 15, 2015 at 10:55 PM, Xingyu Na <notifications

[2015-09-16 03:01] naxingyu commented on #134
Both. I show you when it happens in the first 10 minibatches.
=====================
[code]

On 09/16/2015 10:55 AM, Daniel Povey wrote:

[2015-09-16 03:02] naxingyu commented on #134
Both. I show you when it happens in the first 10 minibatches.
=====================
[code]

[2015-09-16 03:04] danpovey commented on #134
OK, but there are two possibilities here. It could have diverged already
within the first few minibatches, or it could have been that the model was
already bad.  What does the compute_prob_train.1.log look like, i.e. what
is the probability there?

Dan

On Tue, Sep 15, 2015 at 11:01 PM, Xingyu Na <notifications@github.com>
wrote:

[2015-09-16 03:04] vijayaditya commented on #134
@naxingyu
Could you submit a pull request for your hkust and swbd recipes.
You could update the pull request as you progress and it would easier for everyone to keep track of your local setup.

BTW in your current setup the problem is due to <code> --left-context=40 </code>. This was due to a bug in make_configs.py introduced in a commit from Pegah. I have removed it in the latest commit.

[2015-09-16 10:37] naxingyu commented on #134
compute_prob_train.1.log looks like this:
Overall log-likelihood for 'output' is -43.8004 per frame, over 4000 frames.
Already bad... And progress.1.log looks like this:
component name=Lstm1_c type=ClipGradientComponent, dim=1024,
norm-based-clipping=true, clipping-threshold=5, clipped-proportion=0.924855
component name=Lstm1_r type=ClipGradientComponent, dim=256,
norm-based-clipping=true, clippin

[2015-09-16 19:47] danpovey commented on #134
I followed up with this text by email but it didn't show up here- very strange.  I'll bring it up with GitHub support staff.

"OK, there must be a script bug then.  Because the way the script is supposed to work, on iteration zero (and any iteration when you just added a new layer), it should take the job with the best likelihood.  Obviously it is not doing that. Perhaps it is not able to parse th

[2015-09-16 20:01] vijayaditya commented on #134
I verified that the script is selecting the model, but in @naxingyu 's case all the models would have diverged. This is very probable as he was using <code> --left-context 40 </code> without <code> optimization.min-deriv-time </code>. This essentially means that the model was getting updated with a gradient which has been back-propagated 50-60 time steps (depending on the frames_per_eg). Hence thi

[2015-09-16 21:54] eliemichel opened #144 "NetworkNode types"
The documentation [admits](www.danielpovey.com/kaldi-docs/dnn3_code_data_types.html#dnn3_dt_nnet_node_detail) that "we have a slightly messy layout", and my question might be naive, but why not writing a different object for each type of node (that may inherit from a virtual `NetworkNode` class)?

[2015-09-16 21:57] danpovey commented on #144
The reason is that in the code, NetworkNodes are mostly accessed as you
would a struct, and we deal with vectors of them.  If there were
polymorphism involved, we could no longer deal with vectors of NetworkNodes
but we'd have to deal with vectors of pointers to them; and accessing their
data members would involve about 3 times as much code as it currently does,
as we'd have to figure out which ty

[2015-09-16 22:00] eliemichel commented on #144
Got you, it indeed looks like a good reason. =)

[2015-09-16 22:00] #144 closed

[2015-09-16 22:46] danpovey commented on #134
Vijay:
@naxingyu said in this thread, "OK I checked train.0.1.log and
train.0.2.log, job1 exploded and job2 ran fine. So issue is that 0.1.mdl is
already bad before averaging.".
But in this case it should have chosen the model from train.0.2.log.
@vpeddinti: I notice that the script contains a reference to num_jobs_nnet,
which seems to be an undefined variable.
Dan

On Wed, Sep 16, 2015 at 4:01 PM

[2015-09-17 01:59] #135 closed

[2015-09-17 02:18] naxingyu commented on #134
Thanks. Now I use Vijay's updated scripts with reduced lrates (0.0002
and 0.00002). Options are "--optimization.min-deriv-time=0" and
"--left-context=20 --right-context=7".
iter0 and iter1 works fine, with prob_train of -3.98025 and -3.45653.
The network explodes at iter2, but only on job train.2.1.
After that, 3.1.raw is copied into 3.mdl (as shown in select.2.log),
which is not right.
I tested t

[2015-09-17 02:21] danpovey commented on #134
If you can fix the script yourself, please do via a pull request.

Dan

On Wed, Sep 16, 2015 at 10:18 PM, Xingyu Na <notifications@github.com>
wrote:

[2015-09-17 02:25] danpovey commented on #134
BTW, to keep you abreast of the latest developments.

 - Vijay has been experimenting with a version of the code supporting
momentum, in a pull request that I created.  So far it doesn't seem to help
our standard setup, but when I increase the learning rate a lot it does
seem to prevent instability (but in those situations the likelihood still
degrades, just not nearly as badly).
 - Right now I'm

[2015-09-17 02:31] naxingyu commented on #134
OK. My plan is to fix this selecting issue first, then tune 'max-change'
options as you suggested.
After that, try the scaling/l2-regularizing stuff.

Best,
Xingyu

On 09/17/2015 10:25 AM, Daniel Povey wrote:

[2015-09-17 02:34] danpovey commented on #134
Thanks!
Actually I think Vijay was spending some time tuning the max-change, but
I'm not aware that he saw any improvement.  In any case, he can let us know
what the issue was.  So it might be better if you just go straight to the
scaling thing.
If you make the pull request in
https://github.com/kaldi-asr/kaldi/pull/143
which makes momentum=0.9 the default, I'm fairly confident that you will
not g

[2015-09-17 02:40] danpovey commented on #134
... I mean, if you make that pull request your starting point.

On Wed, Sep 16, 2015 at 10:34 PM, Daniel Povey <dpovey@gmail.com> wrote:

[2015-09-17 02:50] danpovey commented on #134
I just merged that pull request (but made 0.0 the default for momentum).
Likely if you add --momentum 0.8 to the command line it will stabilize the
update without affecting convergence.
Dan

On Wed, Sep 16, 2015 at 10:40 PM, Daniel Povey <dpovey@gmail.com> wrote:

[2015-09-17 02:51] naxingyu commented on #134
Got it! Thanks.

On 09/17/2015 10:50 AM, Daniel Povey wrote:

[2015-09-17 03:27] vijayaditya commented on #134
Was offline for few hours, back to implementing the nnet-am-copy with scaling.
Using lower max-change options didn't affect a great change (objf of -3.56 vs -3.54).

[2015-09-18 00:08] danpovey opened #150 "logistic-regression bug"
@david-ryan-snyder, I found a bug in the logistic-regression code.
This was after a test failure in the logistic-regression-test.  It's not repeatable because the logistic-regression-test.cc does srand(time()),  but if you put a loop inside logistic-regression-test.cc you'll get an error in free().

If I put the loop in logistic-regression-test.cc and then run
    valgrind --db-attach=yes logistic

[2015-09-18 00:11] danpovey commented on #150
BTW, please add
(add-hook 'write-file-hooks 'delete-trailing-whitespace)
to your .emacs, if you use emacs

[2015-09-18 01:05] david-ryan-snyder commented on #150
You're right, it should've been n_features. The main code that uses this is the language ID example. I plan on retesting it anyway, and I'll update its results with the fixed LR model.

[2015-09-18 01:18] david-ryan-snyder commented on #150
On closer inspection it seems that only the unit test had this bug, so everything else is unaffected, fortunately.

[2015-09-19 02:48] #150 closed

[2015-09-19 15:41] posophe opened #155 "Kaldi configure script verifies on static openfst even with --static-fst=no option"
All is in the title.

[2015-09-19 17:50] jtrmal commented on #155
I don't understand what is the question.
Y.
On Sep 19, 2015 5:41 PM, "posophe" <notifications@github.com> wrote:

[2015-09-20 09:14] posophe commented on #155
It's not a question, it's an issue. Even with the option --static-fst=no, the configure script verifies the presence of libfst.a. In fact, the script, during all the configuration process, verifies twice the existence of each dependencies.

[2015-09-20 17:50] danpovey commented on #155
He might be talking about the configuration process on Darwin (i.e., mac).
The script says
    if [ "`uname`" == "Darwin"  ]; then
      ...
      if [ ! -f $FSTROOT/lib/libfst.a ]; then
        failure "Static OpenFST library not found:  See ../tools/INSTALL"
      fi

.. which does seem wrong.  I assume we do support dynamic OpenFst on Darwin.

On Sun, Sep 20, 2015 at 5:14 AM, posophe <notificat

[2015-09-20 17:51] posophe commented on #155
You're right but the verification happens during a build on OBS i.e openSUSE tumbleweed

[2015-09-20 17:59] danpovey commented on #155
Try to figure out which lines in the configure script are getting called.
What does `uname` output on your OS?  'Linux'?
Dan

On Sun, Sep 20, 2015 at 1:51 PM, posophe <notifications@github.com> wrote:

[2015-09-20 18:00] posophe commented on #155
I know exactly which one. I have patched the configure script to be able to build kaldi.
@@ -449,10 +449,6 @@
   else
     spx_type=so
   fi
-  if [ ! -f "$SPEEXROOT/lib/libspeex.${spx_type}" ];then
-    echo "Static=[$static_speex] Speex library not found: You can still build Kaldi without Speex."
-    return
-  fi

   if [ -f $SPEEXROOT/include/speex/speex.h ]; then
     echo >> kaldi.mk
@@ -768

[2015-09-20 18:02] danpovey commented on #155
OK, thanks.  Yenda usually deals with build issues, so I'll wait for him to
get to it.
Dan

On Sun, Sep 20, 2015 at 2:00 PM, posophe <notifications@github.com> wrote:

[2015-09-20 18:19] jtrmal commented on #155
Can you please send the diff as a attachment? The inline diff got
reformatted as it looked as markup, probably. Or better yet, open pull
request at github.
Thanks, y.

On Sun, Sep 20, 2015 at 8:02 PM, Daniel Povey <notifications@github.com>
wrote:

[2015-09-20 18:22] danpovey commented on #155
BTW, the 'message text garbled?' link in gmail fixes this.

On Sun, Sep 20, 2015 at 2:19 PM, jtrmal <notifications@github.com> wrote:

[2015-09-20 18:22] posophe commented on #155
Oh yep sorry you're totally right. But I wouldn't open a pull request, as my patch does things I need but not in a good way.
http://paste.opensuse.org/71621692

[2015-09-20 18:52] jtrmal commented on #155
Thanks -- but this is definitely really weird, your system (OpenSUSE gets
identified as OSX). What is the output from "uname" on your system?
y.

On Sun, Sep 20, 2015 at 8:22 PM, posophe <notifications@github.com> wrote:

[2015-09-20 18:54] jtrmal commented on #155
Also, try to run the configure script using "bash -x" and send me the
output (feel free to contact me directly -- jtrmal@gmail.com).
y.

On Sun, Sep 20, 2015 at 8:52 PM, Jan Trmal <jtrmal@gmail.com> wrote:

[2015-09-20 18:55] posophe commented on #155
I can't clearly identify the system, as I use the OpenSUSE Build Service but it shouldn't differ that much than my own system, excepted for the kernel version :
linux-cqwx.site 3.16.7-24-desktop #1 SMP PREEMPT

[2015-09-20 18:56] jtrmal commented on #155
Can you send me the output from the command uname ?
y.

On Sun, Sep 20, 2015 at 8:55 PM, posophe <notifications@github.com> wrote:

[2015-09-20 19:07] posophe commented on #155
Linux cloud106 4.1.6-3-default #1 SMP Fri Aug 28 10:59:34 UTC 2015 (d867e86) i686 i686 i386 GNU/Linux.

[2015-09-20 22:44] jtrmal commented on #155
Thanks,
can you also send me the output from running  something like
bash -x ./configure <your-parameters> >configure.log 2>&1
Thanks
y.

On Sun, Sep 20, 2015 at 9:08 PM, posophe <notifications@github.com> wrote:

[2015-09-21 09:32] posophe commented on #155
Here is my output : http://paste.opensuse.org/88333945
Please notice two things
- Because of my patch, I have to add OPENFST_VER, OPENFST_GE_10400 and EXTRA_CXXFLAGS manually.
- The configure script looks at /usr/Makefile when --fst-root is setted up as /usr

[2015-09-21 09:36] jtrmal commented on #155
Sorry, I meant the original configure script, not that one with your
modifications. It will fail, but I will see what's going on -- I reviewed
the script yesterday and I couldn't find any reason why it should behave
how you describe. Thanks
y.

On Mon, Sep 21, 2015 at 11:32 AM, posophe <notifications@github.com> wrote:

[2015-09-21 10:02] posophe commented on #155
Ok the API of OBS is down for the moment. I'll post it as soon as possible. I would like to open a forum thread. I need more infos to ensure Kaldi runs correctly.

[2015-09-21 10:33] posophe commented on #155
Unbelievable... I can't perform a print on the configure script, whereas nothing changed.

[2015-09-21 12:15] posophe commented on #155
I need your help for a last thing. Do you know the name of all the binaries and their places where there are build ? I can easily use a hack for the libraries but not for the binaries without knowing their names.

[2015-09-21 12:18] jtrmal commented on #155
I'd love to help, but I don't understand what you are doing or what you are
asking :(
y.

On Mon, Sep 21, 2015 at 2:15 PM, posophe <notifications@github.com> wrote:

[2015-09-21 12:48] posophe commented on #155
Well, I'm packaging kaldi for openSUSE (to provide a rpm, if you prefer). I'll find a way, no worries.

[2015-09-21 13:17] posophe commented on #155
I have just a question about portaudio. I've seen kaldi depends on portaudio but doesn't build against portaudio. Why that ?

[2015-09-21 14:25] david-ryan-snyder opened #165 "SRE10 v2 Improvements"
This issue (for david-ryan-snyder) tracks some improvements to the DNN-based SRE10 example (egs/sre10/v2)
- Remove num-components option from init_full_ubm_from_dnn.sh. It should be worked out from nnet-am-info.
- Change full-gmm-init-from-stats.cc so that it uses MleFullGmmUpdate() do the estimation. This has things like variance flooring, and limits on the condition number, to make sure that the

[2015-09-21 18:51] jtrmal commented on #155
IIRC, portaudio was used for the first generation of the online decoder --
the later online decoder is not tied to it.
It gets build when you call make ext, I believe.

y.

On Mon, Sep 21, 2015 at 3:17 PM, posophe <notifications@github.com> wrote:

[2015-09-21 18:52] posophe commented on #155
Thanks you. But shouldn't it been changed according to these changes ?

[2015-09-30 14:44] eliemichel opened #191 "--realign-epochs options in nnet2 training scripts"
In help message:

[code]

But:

[code]

There is a `realign_times` variable defined, but no `realign_epochs`, and nothing in the code to handle it anyway. Did I miss something?

(By the way, does this usually pays off?)

PS: I bet that this is the help message that is wrong, not the overall code.

[2015-09-30 18:55] danpovey commented on #191
Thanks- I pushed a fix for the help message.
You could set it to a value like "0.3 0.6" or something like that.
We haven't done many experiments with realignment - I think we added support for it for some specific reason but I guess it didn't make much difference or we would have looked into it further.
However, Karel got some improvement from it, I think, in his setup.  It would be good if you co

[2015-09-30 18:55] #191 closed

[2015-09-30 22:19] vesis84 commented on #191
Yes, I was getting small improvement of WER 0.2% from re-initializing of last layer and training again from initial learning rate (the difference between GMM and DNN alingments). It was a little but quite consistent gain...

[2015-10-02 05:02] vsukhomlinov opened #198 "Unexpected tools installation behavior"
I was executing a make command from the tools directory and got that interesting output

[code]

I was on wifi and didn't have access to perforce at that time, but was a bit scared by the fact this script tried to access it.

That behavior is in fact caused by
[code]

Is there any flag that is missing in that command?

[2015-10-02 05:15] danpovey commented on #198
See which patch you are using, e.g.
alias patch
which patch
Also, see if the -c flag helps.
It's always worked for us.
Dan

On Fri, Oct 2, 2015 at 1:02 AM, Vitaly Sukhomlinov <notifications@github.com

[2015-10-02 05:26] danpovey commented on #198
According to http://linux.die.net/man/1/patch,
the flag -g 0 might help here.
We have never encountered this problem.  I don't see why it should even try
to access Perforce, since the file should exist (and anyway is not under
Perforce control).
Dan

On Fri, Oct 2, 2015 at 1:15 AM, Daniel Povey <dpovey@gmail.com> wrote:

[2015-10-02 05:27] jtrmal commented on #198
I think he's  using a patch tool  that is probably hijacked or replaced  by
perforce  scm
Y.
On Oct 2, 2015 7:26 AM, "Daniel Povey" <notifications@github.com> wrote:

[2015-10-02 05:32] vsukhomlinov commented on #198
[code]

Both -c and -g 0 flags fix my problem. That may be a very rare case, but does it make sense to add one of these to the Makefile?

[2015-10-02 05:35] danpovey commented on #198
I'm adding the -c flag; I'll check it in next time I check in something
else.
Thanks
(BTW, Yenda- if you do 'man patch', it does seem like it knows about
perforce and other old-fashioned version control systems).
Dan

On Fri, Oct 2, 2015 at 1:32 AM, Vitaly Sukhomlinov <notifications@github.com

[2015-10-05 15:07] posophe opened #205 "Program is likely to break with new gcc"
Hello everyone !

RPMLint has noticed a code breaking in const-arpa-lm.cc with -strict-alising.
 I: Program is likely to break with new gcc. Try -fno-strict-aliasing.
W: kaldi strict-aliasing-punning const-arpa-lm.cc:551, 555, 580, 913

Kaldi has been built with gcc 5. The concerned lines are 551, 555, 580 and 913

[2015-10-05 18:13] danpovey commented on #205
Thanks for letting us know!
Guoguo, can you please look at this?
Dan

On Mon, Oct 5, 2015 at 11:07 AM, posophe <notifications@github.com> wrote:

[2015-10-05 19:49] #198 closed

[2015-10-05 19:57] danpovey opened #207 "CTC tuning issue"
@vijayaditya  - you said you were going to set up CTC for Switchboard - there is something that needs to be done first.
In the version of CTC that I've implemented - I'm calling it CCTC - there is a phone language model involved.  We don't want this phone language model to have too many history-states.  The program
ctc-init-transition-model
has an option --state-count-cutoff2plus (default: 200) th

[2015-10-05 19:58] danpovey commented on #207
Mistake: default --ngram-order is 3, not 2 (which should have been obvious given that I was getting num-history-states more than num-phones).  Setting it to 4 might help.

[2015-10-05 21:36] chenguoguo commented on #205
I'm wondering what is the best way to fix this. What I have in mind is to
use union instead of reinterpret_cast, for example, define a union as
follows:

union Int32AndFloat {
  int32 i;
  float f;
};

Then we replace reinterpret_cast with this union. Any ideas? If you think
this is a good solution, I'll go ahead and apply the change.

Guoguo

On Mon, Oct 5, 2015 at 2:13 PM, Daniel Povey <notifica

[2015-10-05 23:00] danpovey commented on #205
Hm.
I think it will be easier to add  -fno-strict-aliasing to the
EXTRA_CXXFLAGS in lm/Makefile.
Dan

On Mon, Oct 5, 2015 at 5:36 PM, chenguoguo <notifications@github.com> wrote:

[2015-10-05 23:14] danpovey commented on #205
Actually, after reading this intro to the strict-aliasing rule
http://cellperformance.beyond3d.com/articles/2006/06/understanding-strict-aliasing.html
I think it would be better to make it a union, as you suggested.
Dan

On Mon, Oct 5, 2015 at 7:00 PM, Daniel Povey <dpovey@gmail.com> wrote:

[2015-10-05 23:17] chenguoguo commented on #205
Just sent a pull request... I'll use the union solution then..

Guoguo

On Mon, Oct 5, 2015 at 7:14 PM, Daniel Povey <notifications@github.com>
wrote:

[2015-10-09 17:08] dwks opened #221 "build issue for src/online"
src/online depends on jack on my Linux system because portaudio does, failing with undefined references to many jack functions. Not sure the best way to fix this although this works on Debian 8.2 (assuming libjack-dev is installed of course):
[code]

[2015-10-09 17:12] danpovey commented on #221
Let's wait till we get some other comments on this.
@jtrmal ?

[2015-10-09 17:55] jtrmal commented on #221
That will solve problems for you, but will create problems for users that
do not have compiled portaudio against jack, I believe.
The correct solution would be, perhaps, use pkg-config? I'm not sure if we
can rely on its presence, though.
y.

On Fri, Oct 9, 2015 at 7:12 PM, Daniel Povey <notifications@github.com>
wrote:

[2015-10-09 18:41] dwks opened #223 "tools/extras/check_dependencies.sh libtool issues"
One more issue: running "make" from a clean install in tools/ on Debian 8.2 fails because check_dependencies thinks I need the binary "libtool". It seems Debian now has "libtoolize" in the libtool package which generates local "libtool"s (https://github.com/zeromq/libzmq/issues/1385), and this is used by e.g. openfst's configure script. The full build works correctly if I check for "libtoolize" in

[2015-10-09 18:49] vijayaditya commented on #223
In debian-jessie  the libtool package has been split. So an additional package has to be installed to get the libtool binary. The package libtool-bin has to be added to tools/check_dependencies.sh script.
(Reference: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=761791)

I will add modify  tools/check_dependencies.sh to do a debian version dependent package check.

[2015-10-09 19:00] dwks commented on #223
Everything in tools/ builds without libtool-bin being installed, by the way. None of the configure scripts need the libtool binary directly (as the bug you linked to said, it is rare for it to be necessary). If you're already special-casing Debian I would suggest looking for libtoolize instead.

[2015-10-09 19:07] dwks commented on #221
It's strange. The pkg-config for portaudio doesn't list -ljack as a dependency even when it was built with jack support (which is the default if libjack-dev installed). So this doesn't help:
[code]
Given the way the Makefile checks for alsa, here is a symmetric method for jack:
[code]
There must be a better way however.

[2015-10-09 19:20] benob opened #224 "Building with unpatched openfst-1.5 installed in /usr"
Even if I build kaldi with static openfst, it still tries to load libfstscript from /usr when used, for instance, with gst-kaldi-nnet2-online.
(gst-plugin-scanner:11140): GStreamer-WARNING **: Failed to load plugin './libgstkaldionline2.so': /usr/lib/libfstscript.so.1: undefined symbol: _ZN3fst22ShortestPathProperties

Any idea on how to fix (apart from uninstalling openfst from /usr)?

[2015-10-09 20:58] dogancan commented on #221
Some time back I was struggling with this exact problem and the best solution I found at the time was to parse the portaudio libtool file after installation (tools/portaudio/lib/libportaudio.la) to figure out the library dependencies as well as linker flags on different platforms. The particular variables of interest are "dependency_libs" and "inherited_linker_flags".

[2015-10-09 21:32] jtrmal commented on #224
My guess would be that you compiled kaldi with static  openfst, but
the libgstkaldionline2
(gstreamer plugin) was compiled with dynamic version?
What ldd on the library will return?
y.

On Fri, Oct 9, 2015 at 9:20 PM, Benoit Favre <notifications@github.com>
wrote:

[2015-10-09 22:11] benob commented on #224
You are right, it's a gst-kaldi-nnet2-online bug -- it does not follow kaldi's choice on making openfst static. Nevertheless, changing
OPENFSTLIBS="$FSTROOT/lib/libfst.a"
to
OPENFSTLIBS="$FSTROOT/lib/libfst.a $FSTROOT/lib/libfstscript.a"
in kaldi-trunk/src/configure works as well.

[2015-10-09 22:12] jtrmal commented on #224
Tanel, do you have any view on this?
y,

On Sat, Oct 10, 2015 at 12:11 AM, Benoit Favre <notifications@github.com>
wrote:

[2015-10-09 23:26] danpovey commented on #223
Thanks.
I'm checking in a fix for the check_dependencies.sh and the Makefile.
I am checking if 'libtoolize' exists and asking for the 'libtool' package
to be installed if not.
I hate autotools.

@jtrmal: I notice when experimenting with extras/install_irstlm.sh that
'readlink -f' does not work on a mac.  Perhaps you could just use the $pwd
as-is if that command fails, via an || statement?  You mig

[2015-10-10 00:09] dwks commented on #221
Looks like a portaudio bug. The configure.in doesn't say it needs -ljack in its pkg-config for unix even though it does for windows; it just needs a LIBS="$LIBS $JACK_LIBS". I have reported it to the portaudio developers.

For kaldi, my earlier diff is probably sufficient unless we want to switch to pkg-config.

[2015-10-10 00:18] danpovey commented on #221
I'll put it as a comment in the Makefile for now.
Dan

On Fri, Oct 9, 2015 at 8:09 PM, dwks <notifications@github.com> wrote:

[2015-10-10 00:29] dwks commented on #221
I meant this diff which should be safe.
[code]

[2015-10-10 00:30] danpovey commented on #221
Ok, I'll add that, thanks.

On Fri, Oct 9, 2015 at 8:29 PM, dwks <notifications@github.com> wrote:

[2015-10-12 17:34] david-ryan-snyder commented on #98
I think this issue can be closed due to #166 .

[2015-10-12 17:37] #98 closed

[2015-10-14 02:12] dwks commented on #221
The portaudio folks don't seem to be fixing this right away. Let's just stick with what we already have. Closing the issue.

[2015-10-14 02:12] #221 closed

[2015-10-14 04:02] david-ryan-snyder commented on #165
First two bullet points are addressed with #244. Still need to handle the GPU support.

[2015-10-16 19:04] jtrmal commented on #205
is this resolved?

[2015-10-16 19:10] chenguoguo commented on #205
Yeah it has been checked in.

Guoguo

On Fri, Oct 16, 2015 at 3:04 PM, jtrmal <notifications@github.com> wrote:

[2015-10-16 19:11] jtrmal commented on #205
Closing, as it's been fixed in #211

[2015-10-16 19:11] #205 closed

[2015-10-16 19:23] jtrmal commented on #90
I will mark this as resolved, as the referencing PR was merged in.

[2015-10-16 19:23] #90 closed

[2015-10-19 03:40] vijayaditya opened #270 "nnet3: Convolution1dComponent does not initialize all class members when using file based initialization."
class members like patch_dim_ are not being initialized when using "matrix" argument in the config.

[2015-10-19 03:45] naxingyu commented on #270
I'll have a look at it.

On 10/19/2015 11:40 AM, Vijayaditya Peddinti wrote:

[2015-10-19 18:24] #270 closed

[2015-10-19 20:32] vijayaditya opened #275 "nnet3 : inconsistency in the way --ivector arguments are defined"
nnet3-compute and nnet3-get-egs define the --ivector argument differently.

nnet3-compute expects per-utterance vectors and nnet3-get-egs expects --ivectors to be feature matrices. Is there a reason for this inconsistency ?

[2015-10-19 20:50] danpovey commented on #275
Hm.  I don't think there is a very good reason for it.  Note: nnet3-compute
does accept the the --online-ivectors option which is similar to
nnet3-get-egs's --vectors-option (except nnet3-get-egs doesn't accept
anything like the --online-ivector-period option).  Possibly modifying
nnet3-get-egs to accept instead options named --online-ivectors and
--online-ivector-period would be more consistent -

[2015-10-19 21:06] vijayaditya commented on #275
OK will do this.

--Vijay

On Mon, Oct 19, 2015 at 4:50 PM, Daniel Povey <notifications@github.com>
wrote:

[2015-10-20 03:50] vijayaditya opened #276 "Documentation for AddMatMatBatched call in cu-matrix.cc"
@freewym
Documentation for the mentioned [call](https://github.com/kaldi-asr/kaldi/blob/master/src/cudamatrix/cu-matrix.cc#L1749) is necessary.

[2015-10-20 04:33] #276 closed

[2015-10-20 15:19] jtrmal commented on #223
After another glance at this, it seems this issue was resolved by Dan -- and I resolved the readlink issue later, so I'm closing it.

[2015-10-20 15:19] #223 closed

[2015-10-20 20:10] jtrmal commented on #80
Closing as resolved.

[2015-10-20 20:10] #80 closed

[2015-10-20 23:33] jtrmal commented on #89
Resolved, closing...

[2015-10-20 23:33] #89 closed

[2015-10-21 05:40] elfring commented on #89
Thanks for your small source code improvements.

[2015-10-21 06:18] naxingyu commented on #110
This issue seems not of anyone's concern but me... Closing it now.

[2015-10-21 06:18] #110 closed

[2015-10-21 15:29] jtrmal commented on #155
@posophe , I lost track of your issue/issues.
Could you please verify these issues still persist in the latest github kaldi version?
Thanks, y.

[2015-10-21 15:48] jtrmal commented on #224
@benob, as the issue seems more on the kaldi-gstreamer plugin, I propose to close this.

[2015-10-21 17:42] #155 closed

[2015-10-23 18:48] #207 closed

[2015-10-23 22:28] danpovey opened #291 "CTC- some optimizations"
@freewym, it would be good if you could help with this, with help from @vijayaditya.

Actually this relates to the 'tombstone' branch, which is in my personal repository, but I think you should be able to make a pull request to there.
If you do
cat /home/dpovey/kaldi-tombstone/egs/swbd/s5c/exp/ctc/tdnn_a/log/train.100.3.log
you will see that a fair amount of time is spent in Tensor3dCopy, see
Tens

[2015-10-23 22:32] freewym commented on #291
Will take it.

Yiming

[2015-10-24 23:09] danpovey opened #292 "'chain' code - a piece I need help with."
The 'tombstone' stuff, which is an extension of CCTC, is working quite well, but I am realizing that the model can be implemented much more simply as 'almost' a conventional hybrid system, but one that's trained discriminatively from the start without lattices-- and the training procedure is a significant simplification of the 'tombstone CCTC' training stuff I have in my personal repo.  That stuff

[2015-10-25 02:04] danpovey opened #293 "Another TODO in 'chain' branch in my personal repo"
This is another thing that's needed for the 'chain' project (this is a much-simplified version of the 'tombstone' CCTC).

in src/chain/language-model.h, two versions of a function GetAsFst() are declared.  These need to be implemented (and of course some kind of testing needs to happen).  There is documentation where they are declared.  Obviously this requires some familiarity with FST code.

[2015-10-25 02:17] danpovey opened #294 "TODO for 'chain' model: clusterable class needed for tree building"
Something that's going to be useful for the 'chain' model (to support more accurate tree-building when the trees are at the whole-phone level instead of the context-dependent state level) is to have clustering on all 3 (or however many) states of the tree simultaneously.  This will involve, firstly, in clusterable-classes.h, creating a clusterable type that could be called, say, GaussMixtureCluste

[2015-10-25 08:05] vijayaditya opened #295 "Irrecoverable ivector extractor/diag-ubm overwrites in nnet2/nnet3 ivector recipes."
In the current setup if a user re-runs the ivector part of the recipe the extractor/diag-ubm get overwritten. This makes the old models unusable as two consecutive runs are not guaranteed to result in the same extractor.

This issue has been created to track the progress of changes being made.
1.  <code>steps/online/nnet2/train_ivector_extractor.sh</code> and <code>steps/online/nnet2/train_diag_ub

[2015-10-25 15:22] naxingyu commented on #292
Yes. But I don't have exprience playing with the FST code. I'll have a
look at your branch tomorrow.

Xingyu

在 2015/10/25 7:09, Daniel Povey 写道:

[2015-10-25 17:18] danpovey commented on #292
They have a tutorial at OpenFst.org that is quite good at teaching you the
basics.

For I/O you can use the following functions:

void WriteFstKaldi(std::ostream &os, bool binary,
                   const VectorFst<Arc> &fst);

void ReadFstKaldi(std::istream &is, bool binary,
                  VectorFst<Arc> *fst);
[from fstext/kaldi-fst-io.h]

Dan

On Sun, Oct 25, 2015 at 11:22 AM, Xingyu Na <not

[2015-10-26 01:46] naxingyu commented on #295
There should be a convention for the order of adding suffices to feature, such as sp, hires, nodup(in swbd case), etc. Currently nnet2/nnet3 recipes seem to be using inconsistent order, causing inusability.

[2015-10-26 14:56] posophe commented on #224
Yes, by the way as we talked about openfst-1.5, kaldi builds correctly with openfst 1.5 with no patch.

[2015-10-26 14:58] jtrmal commented on #224
OK, thanks for letting us know -- I'll close this issue.

On Mon, Oct 26, 2015 at 10:56 AM, posophe <notifications@github.com> wrote:

[2015-10-26 14:58] #224 closed

[2015-10-26 15:03] jtrmal commented on #295
@vijayaditya I don't think I'm on the same boat with you with making a backup of the extractor.
If this is a problem, then the recipe should be modified (to prevent or warn the user). Making a backup of things is not what is usually done in kaldi (with the exception of the fix_data_dir and even there it's more or less pointless because if you run the script multiple times (before and after feature

[2015-10-26 17:26] vijayaditya commented on #295
@jtrmal the backup in the case of extractor is required as you are not guaranteed to select the same gaussians indices from the UBM. Any kind of overwrite would make all the models trained with the previous extractor completely useless. There will be a warning that there is an overwrite and the old model can be found at the specific directory. This backup is small price to pay to ensure that the o

[2015-10-26 17:27] danpovey commented on #295
I agree that this isn't a pattern we should use excessively, but I have
been bitten recently by this and it's kind of painful to lose the iVector
extractor when you just trained a huge nnet model that requires it.  How
about just storing the .ie file itself as a backup, but not the other
files?    [perhaps that's what you're doing.]
Dan

On Mon, Oct 26, 2015 at 11:03 AM, jtrmal <notifications@gith

[2015-10-26 17:28] danpovey commented on #224
Just FYI-- the patch was not to fix compilation problems but to
correct/modify run-time behavior.

On Mon, Oct 26, 2015 at 10:58 AM, jtrmal <notifications@github.com> wrote:

[2015-10-26 17:31] vijayaditya commented on #295
@danpovey OK, I will just keep the .ie file.

[2015-10-26 17:33] jtrmal commented on #295
I'm not suggesting the scripts should be interactive.  I don't think backup
will make things clearer -- especially when you will have to be able to
store backups of backups and so on.

Alternative proposition might be to keep the *.ie.gz with the trained nnets
-- similarly as we keep mdl files with the alignments.
y.

On Mon, Oct 26, 2015 at 1:26 PM, Vijayaditya Peddinti <
notifications@github.com

[2015-10-26 17:47] danpovey commented on #295
I considered backing up the .ie files in the nnet directory, but it would
be hard to implement because the directory where the .ie file is located is
not available to the nnet training scripts-- unless we also change the
iVector extraction scripts to copy the .ie file to where it dumps the
iVectors.  That would certainly be a possibility-- it would make it easier
to automatically check for mismatc

[2015-10-26 17:50] jtrmal commented on #295
Yes, storing it with the ivecs makes sense as well.
I think this would be much more robust mechanism than the backups.
y.

On Mon, Oct 26, 2015 at 1:47 PM, Daniel Povey <notifications@github.com>
wrote:

[2015-10-26 18:46] danpovey commented on #293
Closing this issue- due to a design change, it will no longer be needed.

[2015-10-26 18:46] #293 closed

[2015-10-27 09:16] benob commented on #224
Could the patch be applied upstream?

[2015-10-27 11:44] posophe commented on #224
It has to be rebased in a first place. It doesn't apply on state because of some functions changes. But I could submit it then if you wan't

[2015-10-27 16:29] jtrmal commented on #224
If you have a patch feel free to send it to me (or submit a PR adding a
patch for FST 1.5 in the tools/ directory, similarly how openfst 1.4.1 is
modified)
y.

On Tue, Oct 27, 2015 at 7:44 AM, posophe <notifications@github.com> wrote:

[2015-10-27 16:52] posophe commented on #224
I would love to but I can't. I don't know what the patch is actually doing and how to adapt it to upstream changes

[2015-10-27 17:40] jtrmal commented on #224
then perhaps we do not understand each other what was your proposition
about submitting it about?
y.

On Tue, Oct 27, 2015 at 12:52 PM, posophe <notifications@github.com> wrote:

[2015-10-27 17:42] posophe commented on #224
I meant submitting to fst upstream. Sorry, my bad.

[2015-10-28 01:39] danpovey opened #298 "CUDA sparse-matrix class"
Something needs to be coded for sparse-matrix support that's going to be quite important for the new 'chain' (post-CTC) stuff I am working on, and maybe some nearer-term things too (relating to multi-tree systems- we should be able to get a nice improvement).
We need to be able to efficiently do matrix multiplication by a sparse matrix.  The current CuSparseMatrix class does not have a data format

[2015-10-28 01:48] danpovey opened #299 "Fixed sparse affine component"
Note: to fully implement this efficiently on the GPU, we depend on issue #298.  However, a placeholder implementation using full matrices could easily be created.

In nnet3, I'd like a FixedSparseAffineComponent to be implemented.  This won't have trainable parameters, its parameters will be initialized from a file.  This is going to be useful in some multi-tree training stuff that Hainan will imp

[2015-10-28 02:08] vijayaditya commented on #299
Based on our discussion last week, I think it would be better to have a SparseAffineComponent with a fixed mode, determined by a bool. This bool would also be used to determine the output of the Properties() call of the component.

[2015-10-28 02:11] danpovey commented on #299
OK with me to implement it that way.  However the training of the sparse
affine component would likely require other matrix operations we don't have
yet, so better to just have it throw an error for now.

On Tue, Oct 27, 2015 at 10:08 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2015-10-28 17:33] danpovey opened #301 "get_egs_discriminative2.sh"
@vijayaditya  and @vimalmanohar:

Someone said on Kaldi-help:

"When I'm running this steps, some of the nnet-get-egs from stage 10 fail, because exp/nnet2_online/nnet_ms_sp_degs/priors_uttlist doesn't have any utterance from (for example in my case) data/train_sp_hires/split350/141/feats.scp.
I'm not sure how to fix this so that it doesn't randomly break when I change the data again."

I think it

[2015-10-28 18:49] danpovey commented on #298
@naxingyu, do you have time for this?  I know you've done a lot lately..

[2015-10-28 19:50] danpovey opened #302 "Multi-decision-tree support (RE ContextDependency object)"
@hainan-xv, this is mostly for you, but I'm putting it here as an issue in case others have comments or can help implement it.  My hope is that you can do the parts of this that involve the tree code, since you have some experience with it, while others (e.g. @naxingyu, or someone else if he is busy) can handle the sparse-matrix things.

The basic idea here is to support multiple-decision-tree com

[2015-10-28 20:29] danpovey opened #303 "PerElementOffsetComponent"
We need a PerElementOffsetComponent in nnet3.
This will be useful in the multi-decision-tree framework mentioned in previous issues.
It should support training, but also support a mode were you can't  do training.  @vijayaditya, do we have a standard name for the boolean variable that determines that.  E.g. is_updatable_ ?
I believe we have similar code in nnet2 that could be used for reference.
T

[2015-10-28 22:20] vijayaditya commented on #303
the boolean has not yet been added to the components, I will use the name is_updatable_ when I am adding it.

[2015-10-29 02:28] naxingyu commented on #298
I'll do this next week (this week on phone-topology).

[2015-10-29 02:31] danpovey commented on #298
OK thanks-- check in with us when you've done the phone-topology thing
though, because @hainan-xv was considering doing it.

On Wed, Oct 28, 2015 at 10:28 PM, Xingyu Na <notifications@github.com>
wrote:

[2015-10-29 21:01] danpovey commented on #301
fixed- cosing

[2015-10-30 14:25] jtrmal commented on #301
Apparently,
all_ids=$(seq -s, $nj)
in combination with the filepath can generate a line/filename too long.
Perhaps the command there should be restructured along something like

find  $alidir -name "ali.*.gz"  -printf "%f\n" | sort -t '.' -k2,2n | xargs  -I{} gunzip -c $alidir/{}  | copy-int-vector ark:- ark,t:- | utils/filter_scp.pl $dir/priors_uttlist | ali-to-pdf $alidir/final.mdl ark,t:- ark:-

[2015-10-30 18:27] danpovey opened #306 "Remove -tc switches in example scripts"
The -tc options (task-concurrency) should be replaced with the more generic --max-jobs-run option:
do
`
    grep -w tc egs/*/s5*/local/*/*.sh egs/*/s5*/local/*.sh
`

to see problematic files.
should be doable via script.

[2015-10-30 18:41] danpovey commented on #301
It's OK, I'm closing this.
The user who had the problem was likely using dash as the system shell in
/bin/sh; many scripts don't work with dash, and the solution I'm adopting
is to make scripts die if they detect the use of dash.  It isn't always
very easy to work around dash's limitations.
Dan

On Fri, Oct 30, 2015 at 10:25 AM, jtrmal <notifications@github.com> wrote:

[2015-10-30 18:43] #301 closed

[2015-10-30 18:52] danpovey commented on #306
did this myself, closing.

[2015-10-30 18:52] #306 closed

[2015-11-01 22:29] vijayaditya opened #308 "ConvolutionComponent | Convolution1dComponent: Unvectorize and Vectorize methods not implemented"
I propagated the errors from Convolution1dComponent to ConvolutionComponent. There is no implementation of Vectorize and Unvectorize methods. If no one picks this up, I will do it later this week.

[2015-11-02 02:24] vijayaditya opened #309 "Descriptor handling in steps/nnet3/components.py"
This issue has been raised to initiate discussion.

<code> steps/nnet3/components.py</code> is a library of config generators, e.g. LSTM node, Affine+Nonlinearity node.

In the current library the input and output of the Node generators are always descriptor strings. This kind of implementation makes adding arbitrary node sequences difficult.
e.g. a node which outputs a sum-descriptor cannot be di

[2015-11-02 02:29] danpovey commented on #309
One approach would be to apply operations to the descriptors even where not
allowed, and have a 'normalization' function that figures out how to turn
an invalid descriptor into a valid one.
I think it would be a mistake to try to handle all possible cases before
it's necessary.
Dan

On Sun, Nov 1, 2015 at 9:24 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2015-11-02 02:51] naxingyu commented on #309
If the 'normalization' function is to be implemented, Append(Append(a,
b), c) --> Append(a, b, c) conversion should definitely be added.

On 11/02/2015 10:29 AM, Daniel Povey wrote:

[2015-11-04 03:55] naxingyu commented on #298
I'll create a interface for CuRowSparseMatrix similar to CuSparseMatrix.
Some basics are
* return numbers
* copy and swap functions
* data accessors and randomizer
* operators
* read and write
* a constructor from a SparseMatrix

Besides those, should I implement these?
* sum
* frobenius norm

And according to your design, I will add AddMatSmat as a member function
of CuMatrixBase, is that right?

[2015-11-04 03:59] danpovey commented on #298
sure.

only if you have time-- they might be useful for some diagnostics.  but we
can always copy to CPU for this.

yes.
Dan

[2015-11-05 09:09] naxingyu commented on #298
It seems I should create a RowSparseMatrix class too? To handle the
non-cuda situation?

X.

On 11/04/2015 11:59 AM, Daniel Povey wrote:

[2015-11-05 19:12] danpovey commented on #298
Actually no, because the regular SparseMatrix class already stores its data
by row.
Dan

On Thu, Nov 5, 2015 at 4:09 AM, Xingyu Na <notifications@github.com> wrote:

[2015-11-11 11:00] Orange15 opened #321 "make error"
../util/kaldi-holder-inl.h:767:16: error: reinterpret_cast from
      'std::vector<float32>' to 'char *' is not allowed
      os.write(reinterpret_cast<char*> (tmp), sizeof(tmp));
               ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~
1 error generated.
make[1]: *** [kaldi-table.o] Error 1
make[1]: *** Waiting for unfinished jobs....
make: *** [util] Error 2

[2015-11-11 13:25] VeliBaba opened #322 "How to use?"
Hi!
Please, explain me, how to use this toolkit for training and decoding?
In what format and structure must be my training data?

[2015-11-11 14:44] jtrmal commented on #322
This is not how it works. You are supposed to read the docs (http://kaldi-asr.org/doc/), especially the Installation and Tutorial sections. I believe your questions are answered there.
Also, please refrain from using the github "Issues" to ask questions -- see http://kaldi-asr.org/forums.html to see how and where you can ask for help -- after reading the docs, please!

[2015-11-11 14:44] #322 closed

[2015-11-11 14:46] jtrmal commented on #321
You didn't provide any information about your system. What OS, what
compiler? Is it a recent version of Kaldi?
y.

On Wed, Nov 11, 2015 at 6:00 AM, Orange15 <notifications@github.com> wrote:

[2015-11-11 18:53] danpovey commented on #321
I had a look at the code there, and it does look like a bug.  This is in
some sphinx-feature-writing code that I think was never used, as we only
ever read sphinx features.  Probably his compiler is just more sensitive.
I'll fix it.
Dan

On Wed, Nov 11, 2015 at 9:46 AM, jtrmal <notifications@github.com> wrote:

[2015-11-11 18:56] danpovey commented on #321
Thanks-- fixed.  Closing.

[2015-11-11 18:56] #321 closed

[2015-11-12 02:01] Orange15 commented on #321
@danpovey, it is ok, thanks very much.

[2015-11-14 21:02] #292 closed

[2015-11-14 21:02] #291 closed

[2015-11-14 21:03] danpovey commented on #88
On this WaveReader issue, it would also be good to support streaming data, i.e. data in which the header is just max(int32) and there are multiple data chunks.

[2015-11-16 19:21] danpovey opened #332 "Documentation needed: decoding just one file"
We repeatedly get questions in the forum about how to decode just one file.
It would be good if we had a documentation page or sub-page about this, that would describe the various steps required to do this, in the context of one of the example scripts.

[2015-11-17 21:59] danpovey opened #337 "AddElements kernel rewrite"
The kernel _cuda_matrix_add_elements needs to be rewritten.  It looks like it was copied and modified from other code and it's designed in a way that doesn't really make sense.  It should use multiple blocks as well as multiple threads, and each kernel invocation should probably handle just one element.  Obviously this changes how it will be invoked.
Anyone familiar with GPU programming can do thi

[2015-11-18 01:42] naxingyu commented on #337
If it is not urgent, I would like to ask my colleague Zhichao @zhichaowang to do this. It could be a good practise for him.

[2015-11-18 01:43] danpovey commented on #337
Good idea- thanks.  Please do the first pass of code review once he submits
a pull request, in that case.

On Tue, Nov 17, 2015 at 8:42 PM, Xingyu Na <notifications@github.com> wrote:

[2015-11-18 01:45] naxingyu commented on #337
Sure.

On 11/18/2015 09:44 AM, Daniel Povey wrote:

[2015-11-18 01:46] danpovey opened #339 "Minor bug fix for component end token"
The  `<NaturalGradientAffineComponent>` ends with `<NaturalGradientAffineComponent>` instead of `</NaturalGradientAffineComponent>`.  This needs to be fixed, but the fix needs to be able to read the previously written models.

[2015-11-18 02:50] kkm000 commented on #88
@danpovey: Do such files exist in the wild? I'll do a bit of research but if you have any pointers, I'd appreciate.

[2015-11-18 02:54] danpovey commented on #88
Someone reported this on a list:

" have been trying to use ffmpeg in kaldi to work directly with any kind of
file that ffmpeg can convert to wav. So I tried to set it up in the wav.scp
file, e.g.

*SAMPLE ffmpeg -y -i SAMPLE.mp4 -ar 16000 -ac 1 -f wav - |*
*"*

This program seems to produce streaming-mode output, even if piped through
sox, and the header size gives either max(int32) or 0.  BTW, M

[2015-11-18 03:02] kkm000 commented on #88
Interesting, thanks. Never seen such a format.

[2015-11-18 19:36] danpovey opened #341 "Modification to NormalizeComponent"
I need NormalizeComponent to be extended.. it relates to the 'chain' branch that I'm working on in my own repo.
Instead of rescaling so that the output rms value is 1, I'd like this to be configurable, so that you can set
target-rms=0.25
in the config (or whatever value you want).  Obviously this would have to be tested- just extending the function GenerateRandomComponentConfig() should be enough.

[2015-11-18 19:49] pegahgh commented on #341
Sure! I will modify the component!

[2015-11-19 06:44] colingogo opened #343 "rbm pretrain error with cnn layer"
I concatenated the feature_transform and the trained cnn layers, thus a new feature transform was derived. Then when I put it on the training data to do new rbm pretraining, error occurs like: KALDI_ASSERT: at rbm-train-cd1-frmshuff:CopyCols:cu-matrix.cc:1953, failed: NumRows() == src.NumRows().
I have no idea about this error, does anybody know it ? Thanks very much.

[2015-11-19 06:49] danpovey commented on #343
Sounds like a feature dimension mismatch.

On Thu, Nov 19, 2015 at 1:44 AM, colingogo <notifications@github.com> wrote:

[2015-11-19 07:30] colingogo commented on #343
when I removed the CNN layers, job became ok.
CNN layers act like a feature projection, only dimension changes, I wonder whether the pretrain script has strict feature format or something. Do you have some advice? Thanks.

[2015-11-19 16:05] cibin91 opened #344 "Error in generating libgstkaldi.so"
hi,
-> I downloaded the code from this repository and first run the make file from the tool folder
->Then from the src folder i run the make file
->When running the online demo from the voxforge folder in the egs,i get an issue in online-gmm-decode-faster
->So from the gst-plugin folder in the src,i run the make file to generate libgstkaldi.so
->But when running kaldimarshal.h file is notfound in

[2015-11-19 18:18] danpovey commented on #344
The gst-plugin folder is not required to run online-gmm-decode-faster.
Without knowing what your issue was with online-gmm-decode-faster, I don't
know how to fix it.

Dan

On Thu, Nov 19, 2015 at 11:05 AM, cibin91 <notifications@github.com> wrote:

[2015-11-19 18:20] danpovey commented on #343
Karel might be able to comment- this relates to nnet1 so I don't know.

On Thu, Nov 19, 2015 at 2:30 AM, colingogo <notifications@github.com> wrote:

[2015-11-19 22:36] #344 closed

[2015-11-19 22:37] danpovey commented on #343
This kind of thing should go to the help forum, kaldi-asr.org/forums.html
'issues' is not for questions like this.

[2015-11-19 22:37] #343 closed

[2015-11-19 22:38] #341 closed

[2015-11-19 22:38] #299 closed

[2015-11-19 22:39] #134 closed

[2015-11-20 01:08] vesis84 commented on #343
Hi, this is strange, the dimensionality errors should cause Column mismatch, not row mismatch. I looks like some uninitialized buffer for some unknown reason. Could you please provide the stacktrace? Or ideally you could use gdb to see what is the dimensionality of the source of the target matrix?

Also be careful about the RBM, it should not have Gaussian input layer in this case but bernoulli on

[2015-11-20 04:52] cibin91 opened #347 "Help to run example online demo"
hi,
 ->  I builded kaldi in Ubuntu
 ->I have to run a speech recognition online demo,which is in
                      /egs/voxforge/online_demo
->I used ./run.sh --test-mode live ,to run demo
       But it shows the following error
              ->./run.sh: line 57: online-gmm-decode-faster: command not found
    Instruct me to run an online demo using my own voice

[2015-11-20 05:14] danpovey commented on #347
It's a path issue.  I just pushed a fix to path.sh in the voxforge setup to
add onlinebin/ to the path.
you have to do 'git pull' to get the change.

Dan

On Thu, Nov 19, 2015 at 11:52 PM, cibin91 <notifications@github.com> wrote:

[2015-11-20 06:13] cibin91 commented on #347
hi Dan,
        Thanks for the reply,
  Do i need to run the make in the onlinebin
              kaldimaster/src/onlinebin->make
  Before running path.sh in voxforge

[2015-11-20 11:10] bhigy opened #351 "Tutorials minor errors"
I've been going through the tutorials and I noticed some little issues:
- [x] Overview of the distribution - time estimation: in the list of tutorials, the time estimation is 25mn while it's 20 mn in the tutorial.
- [x] Overview of the distribution - the tools/ directory (line 2): there is no install.sh in the directory.
- [x] Overview of the distribution - the src/ directory (4th paragraph): in k

[2015-11-20 18:59] danpovey commented on #351
Thanks a lot.  I've merged that patch.  Could you please submit a patch for
the other issues- just guess as best you can, how to fix them?  It's always
hard to get help fixing the tutorial.
Dan

On Fri, Nov 20, 2015 at 6:10 AM, Bertrand HIGY <notifications@github.com>
wrote:

[2015-11-23 08:33] bhigy commented on #351
I can try.

[2015-11-24 04:42] danpovey commented on #351
closed since resolved.

[2015-11-24 04:42] #351 closed

[2015-11-24 04:42] #347 closed

[2015-11-24 04:45] danpovey opened #359 "Natural gradient initialization speedup"
@xiaohui-zhang, could you please do this?
I have some changes in this pull request https://github.com/kaldi-asr/kaldi/pull/358
that I have not yet merged, which aim to decrease the startup time of the nnet3 natural gradient code.  I want this back-ported to nnet2.  Hopefully while testing this in nnet2 you may find any issues.
You don't have to do complete runs with this- don't waste GPUs on it- b

[2015-11-24 07:31] xiaohui-zhang commented on #359
sure!

On Nov 23, 2015, at 11:45 PM, Daniel Povey <notifications@github.com> wrote:

[2015-11-24 10:53] cibin91 opened #360 "Help to install kaldi in windows"
hi,
 -> I started installing kaldi in windows with the help of INSTALL(instruction) file in kaldi/windows.
 ->I completed the step 1,2,2(a),2(b),2(c),2(d-1),Skiped the step 2(d-2),2(e)
 ->Then completed the step 3,4(a),4(b-1)
->While running step4(c) ie)runing the following command in terminal(I am using Visual studio 2013)
                     perl generate_solution.pl --vsver vs2013
In the termi

[2015-11-24 14:33] cibin91 commented on #347
d

[2015-11-24 15:20] jtrmal commented on #360
1) this isn't a place to ask question (I'm closing it and won't answer any follow up)
2) the best thing would be just to open the generated solution and try to compile and see.
y.

[2015-11-24 15:20] #360 closed

[2015-11-25 05:06] cibin91 opened #361 "Running online demo in voxforge"
hi,
-> I builded kaldi in Ubuntu
->I have to run a speech recognition online demo,which is in
/egs/voxforge/online_demo
->I used ./run.sh --test-mode live ,to run demo
But it shows the following error
->./run.sh: line 57: online-gmm-decode-faster: command not found
        I already posted this question [https://github.com/kaldi-asr/kaldi/issues/347] ,you make some changes and asked me to pull the

[2015-11-25 05:12] danpovey commented on #361
You have to do 'make ext' in src/.

On Wed, Nov 25, 2015 at 12:06 AM, cibin91 <notifications@github.com> wrote:

[2015-11-25 06:21] cibin91 commented on #361
hi Dan,
   Thanks for the reply,
    The online demo is working now,thanks for helping

Cibin

[2015-11-25 18:43] danpovey opened #362 "const-arpa-lm int32 limitation"
it would be good if the const-arpa-lm code could be updated so that the lm_states_size_ is int64.  I t hink the code was designed to support this.  The back-compatibility code will be tricky though.  We have to make sure it works.  See following email to kaldi-help.
Dan
-----

Andre Cunha <andre.lv.cunha@gmail.com>
8:28 AM (5 hours ago)

to kaldi-help Unsubscribe
Hello,

I'm having an issue while

[2015-11-25 19:50] danpovey commented on #362
closing this since I am addressing it myself

[2015-11-25 19:50] #362 closed

[2015-11-25 21:05] danpovey opened #364 "RNNLM n-best rescoring bug"
@hainan-xv  and @chenguoguo, please look into this.

---
email from kaldi-help:
Takaaki Hori <takaaki.hori@gmail.com>
4:03 PM (0 minutes ago)

to kaldi-help Unsubscribe
Hi

I have a problem about N-best rescoring with RNNLM in WSJ recipe.
I would be grateful if you could give me any comments.

Bash script utils/rnnlm_compute_scores.sh invokes a command (e.g. rnnlm-0.3e/rnnlm) to compute log probab

[2015-11-25 22:17] danpovey commented on #364
Same user reported another bug:
Hi

I have a question about steps/rnnlmrescore.sh in WSJ recipe.

I tried N-best rescoring with RNNLM after lattice rescoring with a larger N-gram, i.e.

Step 1: rescore lattices using steps/lmrescore.sh (I used "--mode 3")
Step 2: rescore N-best lists generated from the lattices of Step 1 using steps/rnnlmrescore.sh

For steps/rnnlmrescore.sh, I added option "--use

[2015-11-26 12:00] cibin91 opened #366 "Improve accuracy of online demo in voxforge"
hi,
-> I builded kaldi in Ubuntu
->I have to run a speech recognition online demo,which is in
/egs/voxforge/online_demo
->I used ./run.sh --test-mode live ,to run demo
It works,but the accuracy is too low

I am from India and i follows **indian english accent**,Most of the input(own voice) i have given produce wrong output(text)

Whether i need to change any values(sampling rate ,channel)  or I ne

[2015-11-26 12:03] cibin91 commented on #361
hi Dan,
   Its working, but the accuracy is too low
What i have to do to improve the accuracy(whether to change accent or to change any values)

Cibin

[2015-11-26 19:20] danpovey commented on #361
That setup uses very out-of-date models (based on GMMs).  There are newer models based on neural nets but I don't think I should encourage you to try-- Kaldi is really intended for speech recognition professionals, and you need to have at least a minimal understanding of the technoglogy.
Please don't ask for help on the 'issues' threads - that is not what they are intended for, and Yenda has alrea

[2015-11-26 19:20] #361 closed

[2015-11-26 19:21] #366 closed

[2015-12-01 22:31] kkm000 opened #374 "Segfault in cublasDestroy_v2 in nnet/nnet-randomizer-test"
The test crashes upon unwinding, after outputting "Tests succeeded."

I did not upgrade anything essential on the machine for a while, and certain that this test used to pass with flying colors. I did not however update the files I am working with possibly for a few months.

I can try to bisect a revision range but if @danpovey or @jtrmal or anyone had an idea of a recent change that could have ca

[2015-12-01 23:20] jtrmal commented on #374
I know there was some migration to cublas interface v2 a coupleof months
back -- perhaps this is an issue introduced back then?
y.

On Tue, Dec 1, 2015 at 5:31 PM, Kirill Katsnelson <notifications@github.com>
wrote:

[2015-12-01 23:31] jtrmal commented on #374
BTW, given the fact that the destroy function is called cublasDestroy_v2, I
can only assume there is a function cublasCreate_v2. Given the fact that
the code does not call these functions directly, they are probably aliased
in the cublas_v2.h
Could it be possible, that you have a part of the code linked with "v1" and
other with "v2" -- I could imagine mismatched Create and Destroy functions
could

[2015-12-02 01:13] kkm000 commented on #374
Good idea, let me rebuild in a very clean directory.

[2015-12-02 01:33] kkm000 commented on #374
@jtrmal: nope, same thing :(

[2015-12-02 01:36] kkm000 commented on #374
Wait, another test failed on me!
[code]

This is weird. I'll keep looking into it.

[2015-12-02 01:38] kkm000 commented on #374
Ah. This is from nnet2 though, and I am past the point of *this* failure. @jtrmal, I think you were right.

[2015-12-02 16:39] david-ryan-snyder opened #376 "speaker-id: Provide alternative ivector-plda-scoring length-normalization"
Previously, length-normalization in the PLDA TransformIvector method relied on the within-class and between-class covariance of the PLDA model. This was simplified to use the same method as ivector-normalize-length. See http://sourceforge.net/p/kaldi/code/4925 for the original change.

However, there are situations where the older version performs better (thanks to Sree Harsha Yella and Najim Deha

[2015-12-02 23:30] danpovey commented on #374
Samuel, when you back-ported those changes from nnet3 to nnet2, did you run
the tests?  There were changes that you would have had to make to the test
code to get it to run.
Dan

On Tue, Dec 1, 2015 at 8:38 PM, Kirill Katsnelson <notifications@github.com>
wrote:

[2015-12-03 05:51] xiaohui-zhang commented on #374
Hmm…. I ran the test and it passed without any problem… What changes did you refer to? I thought the nnet2 natural gradient code is almost the same as nnet3 so the test code should be the same also (except namespace,.etc)

On Dec 2, 2015, at 6:30 PM, Daniel Povey <notifications@github.com> wrote:

[2015-12-03 05:54] danpovey commented on #374
So you copied the nnet3 test code to nnet2?
I changed the test code in nnet3 when I changed the method, as the test
code is based on a simple implementation of the method, and it needs to be
exactly the same.
Dan

On Thu, Dec 3, 2015 at 12:51 AM, Xiaohui Zhang <notifications@github.com>
wrote:

[2015-12-03 05:56] xiaohui-zhang commented on #374
yep I copied that actually.

On Dec 3, 2015, at 12:54 AM, Daniel Povey <notifications@github.com> wrote:

[2015-12-03 05:59] jtrmal commented on #374
Perhaps the Exp vs exp  change interferes with the results strongly enough
to invalidate  the approxEqual assertion?
Y
On Dec 3, 2015 12:56 AM, "Xiaohui Zhang" <notifications@github.com> wrote:

[2015-12-04 04:24] vijayaditya opened #378 "local/swbd1_data_download.sh missing in fisher_swbd recipe"
Is this the same file as the one used in swbd recipe ? If not could the owner of the recipe upload the appropriate script.

[2015-12-05 02:09] david-ryan-snyder opened #381 "speaker-id: Improvements to GMM-based frame-level VAD"
- Add Viterbi smoothing to compute-vad-from-frame-likes. Specify a penalty for switching between classes.
- compute-vad-from-frame-likes and merge-vads binaries interpret certain floats as integers. Add checks to ensure that these floats have an integer equivalent.
- Currently the GMM-based VAD is only used in the example egs/bn_music_speech. This needs to be added to the SID and LID recipes where

[2015-12-05 05:57] kkm000 commented on #381
@david-ryan-snyder, if you do not mind, what are the publications behind this development? I see a reference to the MUSAN corpus, but that's all. I am very interested in voice discrimination!

[2015-12-05 15:53] david-ryan-snyder commented on #381
@kkm000, this is mostly motivated by our experiences with speaker verification. Previously, we used only a simple energy-based VAD. Of course, this doesn't do a good job of distinguishing between music and speech (and other noises) that we sometimes encountered in real-world speaker verification. We felt that a simple GMM-based VAD trained to distinguish between these types of events would do a be

[2015-12-05 15:59] david-ryan-snyder commented on #381
@kkm000, I should also point out that @vimalmanohar is working on a more robust set of VAD tools (https://github.com/vimalmanohar/kaldi/tree/snr). However, this will probably take a few months to make its way into Kaldi.

[2015-12-07 03:25] kkm000 commented on #381
@david-ryan-snyder: Thank you, very interesting!

[2015-12-07 03:46] david-ryan-snyder opened #383 "speaker-id: Bug inivector/voice-activity-detection.cc"
On the Kaldi ASR forums, lzhu.qs@gmail.com pointed out that there may be a bug in ivector/voice-activity-detection.cc line 54. `if (log_energy_data[t] > energy_threshold)`  should probably be changed to `if (log_energy_data[t2] > energy_threshold)`.

Matthew (@mmaciej2), this VAD is used in certain speaker ID and language ID scripts. Could you see how this change affects the examples in egs/sre08

[2015-12-10 00:57] danpovey commented on #378
Vijay, did you submit a fix for this in master?  Can we close this issue?

[2015-12-10 00:57] danpovey commented on #374
Closing this issue, but let us know if it keeps happening.  The remaining test failure could probably be fixed by changing a tolerance.

[2015-12-10 00:57] #374 closed

[2015-12-10 00:58] #364 closed

[2015-12-10 00:58] #359 closed

[2015-12-10 01:00] #298 closed

[2015-12-10 01:01] danpovey commented on #337
Closing as addressed in 43100d633faf66b2909b5517ef9f5f685d6b4423

[2015-12-10 01:01] #337 closed

[2015-12-10 01:03] #303 closed

[2015-12-10 01:08] vijayaditya commented on #378
Please close the issue. I found several other issues with the fisher_swbd
recipe. I will submit a fix for all of them next week.

--Vijay

On Wed, Dec 9, 2015 at 7:57 PM, Daniel Povey <notifications@github.com>
wrote:

[2015-12-10 02:39] #294 closed

[2015-12-10 06:57] vijayaditya commented on #275
Sorry I am unable to get these done. There are two other closed issues
 which haven't been resolved (see below). I will try to get them done later
this month.

https://github.com/kaldi-asr/kaldi/issues/378
https://github.com/kaldi-asr/kaldi/issues/309

--Vijay

On Thu, Dec 10, 2015 at 1:43 AM, Daniel Povey <notifications@github.com>
wrote:

[2015-12-10 06:58] danpovey commented on #309
reopening this since Vijay says there is a TODO.

[2015-12-10 06:58] danpovey commented on #378
actually, will leave as open till resolved, so we don't lose track.

[2015-12-10 07:23] danpovey commented on #339
@tomkocse, this is very small, but you can help with this.

[2015-12-11 14:00] tomkocse commented on #339
@danpovey , "but the fix needs to be able to read the previously written models." <--------- Do you mean that the code still need to tolerate those models which has already wrongly ends with <NaturalGradientAffineComponent> ?

[2015-12-11 14:48] vijayaditya commented on #339
I think thats what he means.

--Vijay

On Fri, Dec 11, 2015 at 9:00 AM, tomkocse <notifications@github.com> wrote:

[2015-12-11 21:33] danpovey opened #393 "nnet3 configuration scripts: log-softmax layer option"
I'd like an option added so that when generating the nnet3 configs, we can add something like
 --include-log-softmax=false
to the python script's args, and it won't add that final layer.
This is for use in the 'chain' models, in which that final layer is not necessary.

@tomkocse, can you please work on this and have @vijayaditya check it?

[2015-12-14 09:56] tomkocse commented on #393
OK, I am looking at it now

[2015-12-15 07:21] tomkocse commented on #393
@vijayaditya , when the final layer is not added, is the output node still needed ?

[2015-12-15 14:44] vijayaditya commented on #393
Yes the node would always have an output layer. Just set it to the final
affine component.

Vijay
On Dec 15, 2015 12:21 AM, "tomkocse" <notifications@github.com> wrote:

[2015-12-17 19:56] branden65 commented on #343
I also had the same issue.
I've carefully checked the code using gdb.

And I realized nnet-forward does not properly perform about convolutional layer.

Specifically,
in src/nnet/nnet-convolutional-component.h
line 243: if (vectorized_feature_patches_.NumRows() == 0) should be commented
otherwise "this" (pointer) information is not updated and keep having a previous row information (previous utter

[2015-12-22 22:02] #339 closed

[2015-12-22 22:03] danpovey commented on #309
I have implemented this at the C++ code level (not merged yet) and will close this issue.
In the short term I'll push to the 'chain' branch but it won't be long before that's merged to trunk.

[2015-12-22 22:03] #309 closed

[2015-12-22 22:05] danpovey commented on #393
closing since done.

[2015-12-22 22:05] #393 closed

[2015-12-22 22:13] danpovey opened #409 "RepeatedAffineComponent"
There are some experiments I want to do with learned many-to-many nonlinearities, for which I need an affine component that repeatedly acts on its input, so it's basically a block-diagonal matrix with all the blocks the same, and the bias term repeated also.  [we don't have to bother with natural-gradient on this, as the dims will be quite small.]

The configuration line will be something like:

c

[2015-12-22 22:39] danpovey commented on #409
@naxingyu , do you have time for this?  @xiaohui-zhang is busy in the next couple of weeks.

[2015-12-23 14:32] naxingyu commented on #409
I have limited time recently. May I ask @zhichaowang to co-work on this one?

[2015-12-23 20:25] danpovey commented on #409
Sure, that's great, but make sure you're satisfied with the patch before
asking me to review it.
Dan

On Wed, Dec 23, 2015 at 6:32 AM, Xingyu Na <notifications@github.com> wrote:

[2015-12-23 20:36] galv commented on #409
@naxingyu, if you are busy I could take this off your hands; I am not very busy right now. @danpovey, Vijay suggested this wouldn't be unreasonable for me to get familiar with the neet3 code base. Could I tackle this?

[2015-12-23 20:45] danpovey commented on #409
I have something else that needs to be done that I can create an issue
for-- this current TODO is very similar to code that @naxingyu wrote, so it
will be easier for him to supervise that guy, who he knows.  I'll create
the other issue right now.

On Wed, Dec 23, 2015 at 12:36 PM, Daniel Galvez <notifications@github.com>
wrote:

[2015-12-23 20:49] galv commented on #409
Sure thing.

[2015-12-23 21:08] danpovey opened #413 "SumReduceComponent"
This relates to the 'chain' branch.  This branch will be merged back to master in the next month or two most likely (but certainly will eventually).
There is a component called SumReduceComponent that interprets its input as a sequence of blocks, and sums the blocks.  I want it to have an option to output the block sums instead, so that output[0] = input[0] + input[1] + input[2] ... instead of out

[2015-12-23 21:18] danpovey commented on #413
created for @galv

[2015-12-24 01:27] galv commented on #413
Is it necessary to add this functionality to the existing class SumReduceComponent, or could a new class be created? I am sure it can be done this way, but it feels wrong that most methods will begin with a switch on the boolean argument to decide which functionality to perform. If we want more options in the future, once this code is "released" in recipes, it will make serialization more of a pai

[2015-12-24 01:57] danpovey commented on #413
That makes sense- you can do it as a separate component.

On Wed, Dec 23, 2015 at 5:27 PM, Daniel Galvez <notifications@github.com>
wrote:

[2015-12-24 18:55] colbec opened #417 "Installation on openSUSE : dependency checks : zypper"
I'm running openSUSE Leap 42.1 with Gnome.
When I run the dependency check in tools I am told to go to apt-get to fetch packages for atlas.
I think I already have atlas development libraries (~3.10.2) installed.
If I ignore the message and run make then kaldi goes to source and fetches an earlier version.
Of course this might be deliberate...
When I look at the code for dependency check I'm puzzle

[2015-12-24 21:15] danpovey commented on #417
If you are using apt-get then it looks for atlas libraries with these names:
 if ! dpkg -l | grep -E 'libatlas3gf|libatlas3-base' >/dev/null; then
Perhaps yours have different names?  What are your atlas libraries named
as?  Provide fuller details.
The 'going to source' is just for the headers- more convenient to get them
directly, as different systems put them in different places
Dan

On Thu, Dec

[2015-12-25 02:29] galv commented on #413
Another question. I want to be clear on the definition of a block. Sorry, but I cannot find much about what a block is from the code through grep. block matrices show up too often.

Is this is a correct statement about blocks? A vector of blocks is a vector of groups, where each group has the same number of elements. (This statement ignores the rows of the matrix, but my understanding is that the

[2015-12-25 02:36] danpovey commented on #413
There isn't a general concept of a block that's valid everywhere.  In
SumReduceComponent they are of equal size.  A matrix consisting of blocks
is a widely used concept in math, but in general there aren't limitations
on the block dimensions.
The reason to have something separate from SumGroupComponent was for
convenience in writing the config file, since SumGroupComponent requires
the user to sup

[2015-12-25 03:08] galv commented on #413
Okay, now, I see that Init() isn't in the public interface of the Component class, only InitFromConfig(), so I understand what you want now.

I do think a subclass of SumGroupComponent could very well be desirable if you wanted each component to have only one set of valid input arguments on a config line. i.e., only one valid "constructor" for each component. That way, you could still reuse SumGro

[2015-12-25 03:26] danpovey commented on #413
I prefer to avoid this type of inheritance where possible as it can lead to
confusion about which function is really being called.

On Thu, Dec 24, 2015 at 7:08 PM, Daniel Galvez <notifications@github.com>
wrote:

[2015-12-25 08:09] colbec commented on #417
@danpovey Thx for response.
On my system apt-get is installed as part of some compatibility packages, however `dpkg -l` returns empty, so grep won't find anything.

Loading repository data...
Reading installed packages...
S | Name            | Summary                                     | Type
--+-----------------+---------------------------------------------+-----------
  | libatlas3       | Auto

[2015-12-25 08:14] danpovey commented on #417
check_dependencies.sh is really mostly for informational purposes, to help
the user.
If you think the kind of situation where apt-get is installed by zypper is
the primary installer is common, then it would be possible to change the
checks for `which apt-get` to `which apt-get && ! which zypper`
You could submit a pull request for this after checking.
Dan

On Fri, Dec 25, 2015 at 12:09 AM, Colin B

[2015-12-25 09:39] colbec commented on #417
@danpovey Good suggestion. I modified the suggested change to enclose it in parentheses otherwise the script generates a spurious comment "/usr/bin/apt-get".

./check_dependencies.sh: all OK.

As to whether the zypper+apt-get is a common feature on openSUSE, apt-get appears in two packages in Leap: bash-completion and zypper-aptitude. The former seems to be an important collection of functions and

[2015-12-25 20:56] danpovey commented on #417
OK, thanks.
I'll commit a change for this soon.
Yes, it's not ideal that the ATLAS headers are older, but the interface is
very stable- they wouldn't change existing functions, to avoid breaking
binary compatibility; they would just add new ones.  It's way easier to get
them than to go poking around for the system headers.
Dan

On Fri, Dec 25, 2015 at 1:39 AM, Colin Beckingham <notifications@githu

[2015-12-26 21:05] danpovey commented on #409
@galv, since you did a good job on the other issue, and I haven't heard from @zhichaowang or @naxingyu in the last couple of days, if you have time today or to-morrow to work on the RepeatedAffineComponent it would be nice.  I do need this for something.  @zhichaowang or @naxingyu - if you have already started work on this, let us know.

[2015-12-26 21:06] danpovey commented on #417
Fixed- closing issue.

[2015-12-26 21:06] #417 closed

[2015-12-26 21:06] danpovey commented on #413
Done - closing issue.

[2015-12-26 21:06] #413 closed

[2015-12-27 02:46] naxingyu commented on #409
Hi Dan,
Sorry for the delay. We were discussing the functionality of this
component. If the affine transform is repeated, why not just copy the
output for several times? And we won't need the AddMatMatBatch kernel
for this. In the example, the actual input should be, say 256 x 25 and
repeated 20 times, forming a 256 x 500 repeated input, then the output
is 256 x 1000, which is actually a stack of

[2015-12-27 02:51] danpovey commented on #409
The parameters repeated like a block-diagonal matrix, so the inputs would
differ.

I think you might misunderstand something.  The input and output dims are
interpreted as blocks.  For example, suppose we have 100 blocks, and the
input-dim is 100 * 12 and the output-dim is 100 * 20.
The linear matrix of parameters would be 20 * 12, with 20 bias components.

Dan

[2015-12-27 03:03] naxingyu commented on #409
If I say "the linear parameters (and bias) repeatedly act on contiguous
blocks of the input", is that correct?
X.

在 2015/12/27 10:52, Daniel Povey 写道:

[2015-12-27 03:05] danpovey commented on #409
I suppose so.
Dan

On Sat, Dec 26, 2015 at 7:03 PM, Xingyu Na <notifications@github.com> wrote:

[2015-12-27 16:25] zhichaowang commented on #409
Sorry for the delay. Now I almost finish the RepeatedAffineComponent. There is one thing, should I rewrite the  FixedAffineComponent to RepeatedFixedAffineComponent or ignore CollapseWithNext functions now?

wangzhichao

From: Daniel Povey
Date: 2015-12-27 11:05
To: kaldi-asr/kaldi
CC: ZhichaoWang
Subject: Re: [kaldi] RepeatedAffineComponent (#409)
I suppose so.
Dan

On Sat, Dec 26, 2015 at 7:03 P

[2015-12-27 20:39] danpovey commented on #409
Ignore CollapseWithNext and basically all of those 'special' functions not
in the interface [except Init()].
Please submit a pull request even if the work is not finished- I need this
ASAP.
Dan

On Sun, Dec 27, 2015 at 8:25 AM, ZhichaoWang <notifications@github.com>
wrote:

[2015-12-29 02:00] kkm000 opened #422 "Rewrite ARPA-FST compiler"
Discussion: https://groups.google.com/d/topic/kaldi-developers/m_xloj88tsk/discussion

[2015-12-29 20:57] danpovey commented on #422
Just a note: Guoguo wrote some arpa-reading code in the code that creates the 'const-arpa' object.  That code is maybe not perfect, but it's a lot better than the old arpa2fst code.  Some of this could be re-used, and regardless, we should try to keep them in sync as much as possible.

[2016-01-06 00:37] chenguoguo opened #435 "Extend cublas_copy to support different types (e.g. float double mixtures)"
Create versions of cublas_copy with our own kernels, that work for different types (float double mixtures).

Replace cuda_copy_from_vec_df and cuda_copy_from_vec_fd used in CuVectorBase::CopyFromVec with cublas_copy.

I'm temporally assigning it to myself, but if you are interested in this feel free to take it.

[2016-01-06 22:19] danpovey opened #438 "add speed test for AddMatMatBatched"
Use a fixed number of elements in the batch, e.g. 64, and test various matrix sizes up to a 512-- just return if size is > 512.
(add something to cu-matrix-speed-test.cc).
Anyone who has time can do this, it's not too hard.
Dan

[2016-01-07 21:25] danpovey opened #440 "Conversion from RepeatedAffineComponent or NaturalGradientRepeatedAffineComponent to BlockAffineComponent"
This is to be done in the 'chain' branch.  @galv, if you have time you could do this.

Note: there is currently no NaturalGradient version of BlockAffineComponent because it would be hard to implement efficiently on GPU.
In situations where I have tried to train from the start with BlockAffineComponent in place of RepeatedAffineComponent, I haven't had great results in terms of either train or val

[2016-01-07 23:36] galv commented on #440
Alright, taken.

On Thu, Jan 7, 2016 at 4:25 PM, Daniel Povey <notifications@github.com>
wrote:

--
Daniel Galvez
danieltgalvez.com

[2016-01-08 02:22] danpovey opened #441 "Speedup in RepeatedAffineComponent"
@galv, if you have time you can do this too [in the 'chain' branch].

It looks like the function AddMatMatBatched, and the underlying sgemmBatched, is not as optimized as it could be.  This makes the RepeatedAffineComponent slower than it should be, which is affecting the speed of some of my experiments.

There is a way we can optimize this not too painfully, by turning everything into a single ma

[2016-01-08 07:33] galv commented on #441
I've seen a trick like this used in implementing LSTMs actually, for calculating each gate all at once, in a single gemm call. I also read the CUBLAS docs on the batched gemm call; I agree it's wrong for this component. I had no idea how large the dimensions would be. Sorry. Anyway:

First of all, so we're on the same page:
[code]
right? Here, **input_dim** is the input feature dimension to the co

[2016-01-08 07:36] galv commented on #441
Also, have you done #438 on a personal branch, or have you simply come to the conclusive that cublasSgemm is slow by viewing training logs?

[2016-01-08 07:39] danpovey commented on #441
i have not tested (#438).
2nd matrix is needed because there is an input and an output in the core
sgemm call.
padding is an issue because the cublas library pads a lot, I think 256
bytes.
Dan

On Thu, Jan 7, 2016 at 11:33 PM, Daniel Galvez <notifications@github.com>
wrote:

[2016-01-08 08:01] galv commented on #441
Regarding 2nd matrix: yes, of course. duh.

On Fri, Jan 8, 2016 at 2:40 AM, Daniel Povey <notifications@github.com>
wrote:

--
Daniel Galvez
danieltgalvez.com

[2016-01-09 20:53] danpovey opened #442 "matched pairs significance test (not urgent)."
It would be good to implement the matched-pairs significance test for Kaldi scoring.  This will require someone reading up about it and thinking carefully.  I think it would require comparing the alignments, because we need to identify for each error whether both systems, or just one, make that error.  Probably @jtrmal should be involved as he knows the scoring/alignment code best.
Dan

[2016-01-09 22:57] galv commented on #441
I chose to implement this by adding a new optional boolean "fast-mode" to the config line; this is so we can more easily see if this really is faster simply by changing a configuration.

Also, there's no way to simply change our view of the striding to avoid using Tensor3dCopy() because of the padding at the end of each row. I looked into Torch7. The reason why they can do this is because they nev

[2016-01-09 23:07] danpovey commented on #441
OK.  Apparently the stride used to be very important for older hardware but
is becoming less and less critical- we could investigate changing this at
some point but it would be a big change.

Anyway, I need some advice regrading a design decision.

Don't do this.  It goes against the use of 'const' in the class and would
break multi-threaded updates.  Anyway freeing and mallocing is not slow at
al

[2016-01-09 23:56] galv commented on #441
On Sat, Jan 9, 2016 at 6:07 PM, Daniel Povey <notifications@github.com>
wrote:

for the cache.

Thanks!

--
Daniel Galvez
danieltgalvez.com

[2016-01-10 09:05] jtrmal commented on #442
In the past, I used to use Wilcoxon signed rank test on per-utterance WER
sets which kinda worked but the p-values were usually quite bad (I think
there wasn't any significance to speak about unless the overall WER
difference was at least 3 %), so I slowly abandoned it.
I'm not saying it was the best way how to do the test, but it was perhaps
the most obvious way.  I don't follow how the alignment

[2016-01-10 20:24] danpovey commented on #442
You'll tend to get very bad significance values unless you take into
account the similarity between the outputs.
Larry Gillick had a paper on this a long time ago, it seems to be described
here:

http://www.icsi.berkeley.edu/ftp/pub/speech/papers/wikipapers/nist_mapsswe.html

On Sun, Jan 10, 2016 at 1:05 AM, jtrmal <notifications@github.com> wrote:

[2016-01-10 21:18] jtrmal commented on #442
Great,  thanks,  I'll  look at the papers
Y.
On Jan 10, 2016 9:24 PM, "Daniel Povey" <notifications@github.com> wrote:

[2016-01-11 18:50] vijayaditya opened #446 "2D max-pooling component"
(I am trying to get a 2D CNN recipe working in nnet3. This component is one of several things necessary to get the recipe running.)

The current [Maxpooling component](https://github.com/kaldi-asr/kaldi/blob/master/src/nnet3/nnet-simple-component.h#L1593) does pooling only across the frequency axis. Also the nomenclature of the hyper-parameters is not consistent with the new ConvolutionComponent.

[2016-01-12 00:22] kkm000 commented on #422
I think I'll do two PRs for this, to make reviewing easier: one factoring out the ARPA file parser into a separate object from const-arpa, and another with the new compiler using the parser, and tests.

[2016-01-12 00:41] danpovey commented on #422
OK, cool.

On Mon, Jan 11, 2016 at 4:22 PM, Kirill Katsnelson <notifications@github.com

[2016-01-12 04:44] kkm000 commented on #422
@danpovey: What do you think I should keep of kadli-lm and kaldi-lm-table? There is a class `LangModelFst` that does not seem completed to me. The intention was to make it read and write grammars in different formats, namely ARPA, some textual representation of WFST and something else defined in an enum but never mentioned in the code. Do you want to keep that, or just care about the code needed t

[2016-01-12 05:31] danpovey commented on #422
No, that stuff is very old and there is no plan to continue that- we have
other mechanisms now.  Just implement arpa2fst.
dan

On Mon, Jan 11, 2016 at 8:44 PM, Kirill Katsnelson <notifications@github.com

[2016-01-12 06:20] kkm000 commented on #422
Another question. It seems trivially easy at this point to extend arpa2fst to optionally take `words.txt` and thus eliminate a separate `utils/find_arpa_oovs.pl` pass (and not call remove_oovs.pl in the next pass), and also essentially do `utils/eps2disambig.pl | utils/s2eps.pl` during the FST construction. Do you think it is a good idea to add options to do just that? I mean, instead of

[code]

[2016-01-12 06:23] danpovey commented on #422
Sure, makes sense I guess- just make sure it would work for arbitrary
utf8-encoded unicode.

Dan

On Mon, Jan 11, 2016 at 10:20 PM, Kirill Katsnelson <
notifications@github.com> wrote:

[2016-01-12 06:24] kkm000 commented on #422
Good point about utf8, thanks--I'll make sure to have tests for that too.

[2016-01-12 23:16] galv commented on #440
Do you anticipate CompositeComponent being able to contain a CompositeComponent? I don't see why it'd be useful (just make **max_rows_process_** smaller in the first CompositeComponent), but nothing in the code prevents it.

If you don't expect this case, I personally don't see a need for a queue (which I presume you proposed for some kind of breadth first search while doing the conversion).

[2016-01-12 23:17] danpovey commented on #440
I don't anticipate this happening, no - in fact, the current config-file
mechanism couldn't parse it - but it's not hard to support the general
case.  not a big deal though.
Dan

On Tue, Jan 12, 2016 at 3:16 PM, Daniel Galvez <notifications@github.com>
wrote:

[2016-01-12 23:21] galv commented on #440
You need to be more specific than "no big deal". I think the general case shouldn't be supported. If someone is using nested CompositeComponents, when instead one could be used, why not consider this an error? Perhaps you understand something I don't.

[2016-01-12 23:23] galv commented on #440
When I say "you need to be more specific", I mean: could you say in particular if you want me to do things in the most general way possible?

[2016-01-12 23:24] danpovey commented on #440
I just saw no reason not to support the general case- supporting
combinations that don't make sense is a valid thing to do.  But if you want
to just assert that CompositeComponent is not supported, it's fine with me.
Dan

On Tue, Jan 12, 2016 at 3:23 PM, Daniel Galvez <notifications@github.com>
wrote:

[2016-01-12 23:26] galv commented on #440
Okay, I will probably assert nested CompositeComponents is not okay with a message explaining why. I want to minimize room for error in the "search" code to iterate over all of the components.

[2016-01-13 17:06] jtrmal opened #449 "fstcopy adds nodes?"
when working with fstcopy and an FST archive where the nodes number do not start from zero, i.e. for example:
KW303-04945
3       4       2       2       0.690246
3       4       3       3       0.696081
3       4       5       5       11.3045
3       4       0       0       20.7233
...

the fstcopy adds several nodes as to have the numbering starting from 0
KW303-04945
3       4       2       2

[2016-01-13 17:26] hainan-xv commented on #449
I think it's still equivalent to the original FST since Infinity would be the final-state cost, which is equivalent to saying 0,1,2 are not final states.

[2016-01-13 20:43] vijayaditya commented on #446
@tomkocse is implementing this, so I am closing the issue.

[2016-01-13 20:43] #446 closed

[2016-01-14 14:08] #449 closed

[2016-01-15 04:57] uzodiac opened #452 "step/nnet2/get_lda_block.sh gets stuck in an infinite loop"
I tried to run nnet_5b_gpu.sh setup but get struck in get_lda_block.sh. I believe it's in an infinite loop when writing the indexes but I'm new to kaldi so not sure what the correct fix should be.

[indexes.head.txt](https://github.com/kaldi-asr/kaldi/files/91368/indexes.head.txt)

[2016-01-15 05:15] danpovey commented on #452
Can you be more specific about what happens any why you think it's stuck in
an infinite loop?  And which specific directory the script is in?
Regardless, I think that script is pretty outdated and probably not the
best example to focus on.

Dan

On Thu, Jan 14, 2016 at 11:57 PM, Lương Hiếu Thi <notifications@github.com>
wrote:

[2016-01-15 06:14] uzodiac commented on #452
Hi Dan,
Sorry for the confusion, I mean I has tried to run the nnet2 script found in wsj recipe for my own data (base on run_5b_gpu.sh). After a couple of tries I keep get stuck in "Accumulating LDA statistics" for almost a week,  so I do a little research and found that the the current running script is get_lda_block.sh (steps/nnet2) and it keep update the "indexes" files but from line 8 the cont

[2016-01-15 06:29] danpovey commented on #452
I just pushed a fix for this.  Looks like the last commit was a
user-submitted change which seems to have been wrong.
Dan

On Fri, Jan 15, 2016 at 1:14 AM, Lương Hiếu Thi <notifications@github.com>
wrote:

[2016-01-15 06:54] uzodiac commented on #452
Thanks Dan.

[2016-01-15 06:54] #452 closed

[2016-01-15 22:20] vijayaditya opened #455 "Translating bash recipes to python"
We are trying to test the feasibility of having python recipes in kaldi without requiring major modifications to the core scripts in utils. As a test we would like to translate steps/nnet3/lstm/{train,decode}.sh.

[2016-01-15 22:28] vijayaditya opened #456 "Fisher+swbd recipe"
There are several minor issues in the fisher+swbd recipe e.g. lang directory name mismatches, missing conf files (could be copied from swbd recipe).

Requires running the entire recipe from scratch to replicate the results in the RESULTS file and fixing the issues.

[2016-01-16 10:19] vdp commented on #455
FWIW, I have ambivalent feelings about this.. IMHO, there is a certain virtue in using Bash at script level. Being such an atrociously inadequate language(most of the time it feels to me more like a pile of random hacks, rather than a product of intelligent design), Bash forces the developer to keep the things simple at the script level and to think harder how to make the binaries more self-contai

[2016-01-16 12:06] vijayaditya commented on #455
The idea is to still rely on the binaries for all the heavy lifting. The recipes are also still going to heavily rely on bash due to the parallelization it affords e.g. using pipes to connect individual processes. So think of a python script which launches a series of shell commands (each composed of many binaries connected with pipes). Further even simple things like file searches are far faster

[2016-01-16 18:37] danpovey commented on #455
We're just going to try writing one script in python for now and see how it
turns out.
The script will still be structured the same way as a bash script would,
and will be self contained.
Dan

On Sat, Jan 16, 2016 at 7:07 AM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-01-17 08:36] vdp commented on #455
I see, thanks!
It would be definitely interesting to compare the look&feel of Python- vs Bash-based recipes (or part of recipes as I understand it will be in this case). In the past some people on the mailing list have expressed their support for something like this, so I guess it's worth trying.

[2016-01-18 18:24] danpovey opened #457 "fix yesno recipe so local/prepare_data.sh works with absolute paths in args"

[2016-01-19 19:49] danpovey opened #459 "chain training: better way of normalizing forward-backward"
this is mostly for Dan so he doesn't lose track of it.
Want to add a state with no final-prob that's accessible through short chains of transitions from all states (but has as few input transitions as possible), to use as the 'special' state in normalizing the forward-backward.

[2016-01-19 19:59] #409 closed

[2016-01-25 21:43] danpovey commented on #459
closing as superseded by different idea

[2016-01-25 21:43] #459 closed

[2016-01-25 21:44] danpovey opened #469 "table of egs"
would like to take Fred Richardson's table, see
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kaldi-developers/hUM60Njtu5g/978NyJoDAQAJ
and make it part of the documentation.  need someone familiar with doxygen to make a pull request.

[2016-02-01 22:39] danpovey opened #476 "Better error status handling for tables of archives"
@xiaohui-zhang found an instance where a pipe of features read as a SequentialBaseFloatMatrixReader failed partway through due to an nfs error, leading to nonzero exit status of the program.  However, the program did not die because the error was not propagated.  It looks like we always ignore the exit-status of programs in Input [the Input::Close() function returns no value].
The TODO is:
  - Let

[2016-02-01 22:44] xiaohui-zhang commented on #476
sure

On Tue, Feb 2, 2016 at 6:39 AM, Daniel Povey <notifications@github.com>
wrote:

--
Xiao-hui

[2016-02-02 04:53] StevenLOL opened #477 "Full ubm training SRE08 VS SRE10"
In egs/SRE08:

The full UBM is first trained on 8k utterances , then trained on all male/female data.

but in SRE10 V1:

The full UBM is only trained once on 32k utterances.

1) Why not train this full UBM again on all the data?
2) Is it a good idea to train full UBM with lots of data ?

[2016-02-02 15:02] StevenLOL commented on #381
And a DNN-VAD ?

[2016-02-02 15:14] david-ryan-snyder commented on #381
@vimalmanohar is working on that. I'm not sure what the status is.

[2016-02-03 23:20] kkm000 commented on #422
Question on performance vs. complexity of code. For *some*, likely most practical LM sizes (up to and including 4-gram models with up to 2 million words) it is possible to speed up compilation by the factor of about 2, as my tests show, by packaging 3 21-bit integer symbol indices into a single 64-bit word when using symbol sequence as the index into an associative array of states.

Pros: double+

[2016-02-03 23:23] danpovey commented on #422
Is this just used in computing a hash value?  Can you show me some of the
code?

On Wed, Feb 3, 2016 at 6:20 PM, Kirill Katsnelson <notifications@github.com>
wrote:

[2016-02-03 23:39] kkm000 commented on #422
Not only for hashing, it is actually a map: symbol sequence -> state. It is needed in both compilers (the main difference is a super-compact fst representation in const-arpa model, if I understand).
In arpa2fst, the map uses [actual concatenated words](https://github.com/kaldi-asr/kaldi/blob/master/src/lm/kaldi-lmtable.cc#L46). I think it should be very slow, but it is the part I am rewriting comp

[2016-02-03 23:43] danpovey commented on #422
Hm.  I'm not sure.  I'd rather not have the code too complicated, but if
it's a significant speedup it would be OK I guess.
Dan

On Wed, Feb 3, 2016 at 6:39 PM, Kirill Katsnelson <notifications@github.com>
wrote:

[2016-02-03 23:46] kkm000 commented on #422
Ah, I think I understand your question now. The thing is the key in unordered_map. The longest vector is (grammar order)-1, so for 4-grams it is 3; this can be packed into one word leaving 21 bit per symbol.

[2016-02-03 23:46] kkm000 commented on #422
Ok, I'll  do both.

[2016-02-04 18:29] danpovey opened #484 "bug in lang/ validation script"
issue to fix bug found by Remi Francis.  I think this may be a good opportunity to add word_disambig.{text,int,csl} to the phones/ directory.
--
I create a G.fst with essentially this script:
https://github.com/kaldi-asr/kaldi/blob/master/egs/tedlium/s5/local/prepare_lm.sh

It works fine, but inside utils/validate_lang.pl, I get this error:
ERROR: G.fst contained cycles with only disambiguation sy

[2016-02-05 18:48] giuliopaci commented on #224
Hi to all, I already submitted the patch upstream. They told me they are going to review it in the next few months (the code seems easy, but the math behind it should be understood before it is accepted upstream).

Anyway, here is a refreshed version of the patch:
[1005_kaldi_patch.patch.txt](https://github.com/kaldi-asr/kaldi/files/119673/1005_kaldi_patch.patch.txt)

[2016-02-05 19:02] danpovey commented on #224
I've already been waiting for years, but reminding them can't hurt.

On Fri, Feb 5, 2016 at 1:49 PM, Giulio Paci <notifications@github.com>
wrote:

[2016-02-05 22:00] giuliopaci commented on #224
I knew that you already sent it, because they told me so, but was not aware that it was sent years ago. However I want to be optimist... And eventually remind them about this patch again in future.
I am pretty sure it will not be included in the next release. My goal would be to have it evaluated in two releases.

[2016-02-05 23:43] kkm000 commented on #422
I [had a first stab at part 2 of the fix](https://github.com/kkm000/kaldi/blob/arpa-2/src/lm/arpa-lm-compiler.cc). I am not sure if added templated code intricacy is worth the return I am getting on it. To give some numbers, the following is from compiling a 8M 3-gram model: with bin/arpafst as a baseline, then the new code without the map optimization (vector key), and lastly with the optimizatio

[2016-02-05 23:56] jtrmal commented on #422
I think it should be considered because of the memory footprint.
Havent look at the code yet.
y

On Fri, Feb 5, 2016 at 6:43 PM, Kirill Katsnelson <notifications@github.com>
wrote:

[2016-02-05 23:58] jtrmal commented on #422
Looked at the code -- saw much worse :) It's not that much more
complicated. To me, it seems ok.
y.

On Fri, Feb 5, 2016 at 6:56 PM, Jan Trmal <jtrmal@gmail.com> wrote:

[2016-02-05 23:59] danpovey commented on #422
Also if it's hidden in the .cc file then it's not too bad-- is it hidden in
the .cc file?

Some parts need more documentation, e.g what does Tails() do?
And I don't like that you define
typedef float Weight;
as this is confusable with Weight in OpenFst.
I'd rather you just use float directly.

Dan

On Fri, Feb 5, 2016 at 6:56 PM, jtrmal <notifications@github.com> wrote:

[2016-02-06 00:08] kkm000 commented on #422
Ok, let's keep it then. This is draft, so I'll add more comments and try to make more readable otherwise. So far, I treated it as more of a throwaway excercise.

Re typedef Weight, using a float is ok by me, but I would keep StateId and Symbol distinct, as they are too easy to confuse with each other if just called int32. I initially though about writing `typedef fst::StdVectorFst::Arc::Weight Wei

[2016-02-06 00:11] kkm000 commented on #422
Oh, and the .h file is totally clean, all the complexity is in the .cc: https://github.com/kkm000/kaldi/blob/arpa-2/src/lm/arpa-lm-compiler.h

[2016-02-06 00:11] danpovey commented on #422
But fst::StdVectorFst::Arc::Weight is not a float-- it's a class containing
a float.
That's why it's a bit confusing for me.

On Fri, Feb 5, 2016 at 7:08 PM, Kirill Katsnelson <notifications@github.com>
wrote:

[2016-02-06 00:15] kkm000 commented on #422
D-oh! Right. Then it is confusing, indeed!

[2016-02-10 00:34] danpovey commented on #484
I addressed this in commit a9b6513

[2016-02-10 00:34] #484 closed

[2016-02-10 01:34] #441 closed

[2016-02-11 04:06] danpovey opened #494 "fisher_callhome_spanish lexicon preparation"
I just noticed that the script local/fsp_prepare_dict.sh in the fisher-callhome-spanish setup contains the line

if [ -f "/export/a04/gkumar/corpora/gigaword-spanish/bin/gigaword-lexicon.json" ]; then

..
fi

so it's not replicable off our grid.
@noisychannel, it would be good if you could help us fix this.  We could put the file on openslr.org if necessary.

[2016-02-11 09:08] vijayaditya opened #495 "nnet3 realignment stage in training is broken"
The realignment stage in nnet3 model training does not work. steps/nnet3/relabel_egs.sh is missing.
steps/nnet3/align.sh expects raw_trans* files in transform_dir which is assigned to be ali_dir which initialized as null.

[2016-02-11 19:43] danpovey commented on #495
OK, well this is low priority since I don't think it ever gave us that much improvement.  @vimalmanohar, could you please put this on your TODO list to look at?

[2016-02-11 19:51] vimalmanohar commented on #495
Ok. I will look into this.

[2016-02-11 19:52] jtrmal commented on #495
BTW, from my experience, when you do re-alignment during training, the
frame accuracy jumps up, but there might be no WER improvement.  It
surprised me when I saw this but it makes sense when you realize what's
going on.
y.

On Thu, Feb 11, 2016 at 2:43 PM, Daniel Povey <notifications@github.com>
wrote:

[2016-02-11 21:23] vijayaditya commented on #495
Abdel Rehman's ASRU'15 paper shows good improvements with realignment.

[image: Inline image 1]

http://research.microsoft.com/pubs/259236/windowed_lstm_asru_2015.pdf

--Vijay

On Thu, Feb 11, 2016 at 11:52 AM, jtrmal <notifications@github.com> wrote:

[2016-02-11 21:32] danpovey commented on #495
Can you or @vimalmanohar please add suitable options to
steps/nnet3/align.sh so we can realign LSTMs, or add a different script if
that's what you prefer?  I want to ask @hhadian to realign with the LSTM
model for AMI to retrain his duration models.

On Thu, Feb 11, 2016 at 4:23 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-02-11 21:36] vijayaditya commented on #495
OK, I will take care of this. In the spirit of reducing redundancy I will
make changes to the current script. We previously decided to stop
supporting LDA features in nnet3, should I support SAT features ?

--Vijay

On Thu, Feb 11, 2016 at 1:32 PM, Daniel Povey <notifications@github.com>
wrote:

[2016-02-11 21:45] danpovey commented on #495
Any feature types/combinations that the training doesn't support, I suppose
it's OK to remove it from the decoding script too.

On Thu, Feb 11, 2016 at 4:36 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-02-14 19:48] vsilent opened #500 "Compile error on Raspberry Pi 2 Model B"
pi@raspberrypi:~/kaldi-trunk/src $ uname -a
Linux raspberrypi 4.1.17-v7+ #834 SMP Mon Feb 1 15:17:54 GMT 2016 armv7l GNU/Linux
RAM: 1G

Last commit:
commit 117c075076ff9c8b0589913d8cc8770901313ba9
Author: vesis84 <vesis84@gmail.com>
Date:   Thu Feb 11 17:39:46 2016 +0100

    nnet1: added the removal of frames with 0 confidence from mini-batches

./configure gives:
only relevant for neural net exp

[2016-02-14 19:52] danpovey commented on #500
I wouldn't expect to be able to compile Kaldi on such a tiny machine.  If
you wanted to do embedded work with Kaldi you'd probably compile the entire
toolkit on a bigger machine to train the models, then extract some small
subset of Kaldi just for decoding on the device.  But even that would be
problematic from a speed point of view- it would be very hard to optimize
it to be fast enough.  The mos

[2016-02-14 19:54] jtrmal commented on #500
Yes,  raspberry is an arm architecture that does not support this
instruction sets.
Simply removing the option could make things work.  I wouldn't expect most
of the  kaldi functionality will be usefull there there anyway.  It's too
limited on memory and CPU.
Y.
On Feb 14, 2016 2:48 PM, "Vasili Pascal" <notifications@github.com> wrote:

[2016-02-14 20:01] vsilent commented on #500
Ok, thanks for fast reply. I got pocketsphinx and julius working fine on RPI so I was curious about kaldi on such device. So, no ARM support yet ?

[2016-02-14 20:04] jtrmal commented on #500
We didn't try.  You might get it working. But pocketsphinx is designed to
be usable on small devices.  Kaldi is not -  that was never the purpose of
kaldi, so do not expect it will be usable for anything but toy problems.
Y.
On Feb 14, 2016 3:01 PM, "Vasili Pascal" <notifications@github.com> wrote:

[2016-02-16 04:54] Love-world opened #503 "LDA and MLLT"
Hi! In feature transform,can we only use MLLT without LDA?.Whether there is a script to complete this task? Thanks very much!

[2016-02-16 04:57] Love-world commented on #503
Could you introduce me some paper about LDA in your program? Thanks very much!

[2016-02-16 04:59] danpovey commented on #503
There is no example script to use MLLT without LDA.
I'm not sure if there is a paper about LDA in speech recognition - IBM
might have one - but it's so simple that it hardly requires one, the
general principles of LDA apply.  The classes are the pdf-ids (i.e. the
clustered states).
Dan

On Mon, Feb 15, 2016 at 11:57 PM, Love-world <notifications@github.com>
wrote:

[2016-02-16 05:06] Love-world commented on #503
Thank you !
Because of kaldi , you have become very famous in China.Many people worship you very much.

[2016-02-16 05:15] danpovey commented on #503
hm.  I suppose that can only be a good thing...

On Tue, Feb 16, 2016 at 12:06 AM, Love-world <notifications@github.com>
wrote:

[2016-02-16 08:22] Love-world commented on #503
I'm sorry to bother you again.
In my task,I need to MLLT without LDA,so I want to know what is the output of est-lda? You  say it's LDA transformation matrix.Whether I can understand it is W which  can used to transform the original feature x .Namely,y=W*x.
How to show it(.mat).How to write it?
Thank you!

[2016-02-16 08:57] naxingyu commented on #503
在 2016/2/16 16:22, Love-world 写道:

A matrix, named 0.mat in the train_lda_mllt.sh(L101) recipe.

Yes.

Use copy-matrix to show matrix.

And this issue session is not a good choice for such A2A. Turn to
kaldi-help@googlegroups.com for help.

[2016-02-16 12:58] Love-world commented on #503
OK!Thank you very much! :)  :+1:

[2016-02-16 14:32] david-ryan-snyder commented on #477
@StevenLOL This just reflects two ways of doing roughly the same thing.  In the SRE08 example, we create two separate systems for each gender, and evaluate the male and female portions separately. The SRE10 example focuses on gender-_in_dependent speaker ID. We also evaluate the male and female portions individually, but we do so by creating separate PLDA backends, and share all of the other model

[2016-02-16 14:34] jtrmal commented on #477
OK, closing (despite the fact I'm not Dan :)

[2016-02-16 14:34] #477 closed

[2016-02-16 14:36] david-ryan-snyder opened #504 "speaker-id: In SRE10 examples, use run.pl for all binaries and use "|| exit 1" for errors"
The current way of doing things is hiding informative error messages.

From Dan on the forums:

[2016-02-16 14:36] jtrmal commented on #503
@Love-world , this is not a suitable place for discussion. See http://kaldi-asr.org/forums.html
Closing this issue.

[2016-02-16 14:36] #503 closed

[2016-02-16 14:37] david-ryan-snyder commented on #477
OK, I forgot you also have that power :-).

[2016-02-16 14:38] jtrmal commented on #500
@vsilent in case you decide to pursue this, please contact us on kaldi-help or kaldi-developers (see http://kaldi-asr.org/forums.html). This isn't probably the best place where to discuss in more details

[2016-02-16 14:38] #500 closed

[2016-02-16 22:23] vijayaditya commented on #455
see #490

[2016-02-16 22:23] #455 closed

[2016-02-16 22:25] vijayaditya commented on #275
I would appreciate it if someone else can take up this issue. I might not be able to work on this till mid-April.

[2016-02-16 22:27] vijayaditya commented on #308
completed by @hhadian

[2016-02-16 22:27] #308 closed

[2016-02-16 22:30] danpovey commented on #275
nnet3-compute has an online-ivectors option which you can use to provide
online ivectors.
Probably the easiest and also most correct fix for this problem would be to
rename the ivectors option of nnet3-get-egs to online-ivectors, and change
the script accordingly.
However, to be completely compatible we'd have to also supplyi the
--online-ivector-period flag and change the scripts so that they use

[2016-02-16 22:31] vijayaditya commented on #378
@keli78 completed this.

[2016-02-16 22:31] #378 closed

[2016-02-16 22:32] vijayaditya commented on #495
I won't be working on this till mid-April. If someone else wants to take this up they are welcome.

[2016-02-16 22:32] vijayaditya commented on #456
@keli78  solved this.

[2016-02-16 22:32] #456 closed

[2016-02-16 23:10] noisychannel commented on #494
I'll fix this. Will set this up so that the file is automatically downloaded from OpenSLR and used when running the recipe.

[2016-02-16 23:12] jtrmal commented on #494
What is the file's origin -- i.e. are you allowed to distribute that file?
y.

On Tue, Feb 16, 2016 at 6:10 PM, Gaurav Kumar <notifications@github.com>
wrote:

[2016-02-16 23:13] jtrmal commented on #494
I mean I know of LDC Spanish Gigaword and I'm quite sure we cannot let any
data from that be freely available.
y.

On Tue, Feb 16, 2016 at 6:12 PM, Jan Trmal <jtrmal@gmail.com> wrote:

[2016-02-16 23:16] noisychannel opened #506 "Handle alternate pronunciations in Spanish Lexicon"
The following entries appear in the lexicon :
casete k a s e t e / / k a s e t
quedado k e D a D o / / k e D a o

Handle these alternate pronunciations for the same word.

[2016-02-16 23:20] noisychannel commented on #494
It is a list of the most common words in Spanish (64k words sorted by frequency). Even though these results were derived from the Spanish Gigaword corpus, there is no way in which the corpus can be recreated from these results. I don't see the difference between distributing something like this vs. distributing ASR results or lattices. Do you disagree?

[2016-02-16 23:22] danpovey commented on #494
It's fine- I'm sure no-one will care about this.

On Tue, Feb 16, 2016 at 6:21 PM, Gaurav Kumar <notifications@github.com>
wrote:

[2016-02-16 23:39] jtrmal commented on #494
I guess that's fine.  Perhaps name it in more self-explanatory way
Y.
On Feb 16, 2016 6:21 PM, "Gaurav Kumar" <notifications@github.com> wrote:

[2016-02-16 23:40] noisychannel commented on #494
Will do.

[2016-02-16 23:51] danpovey opened #507 "fix self-repair code"
[for dan]
I think this is just for the chain branch right now... fix the self-repair code to work better for sigmoid and tanh.

[2016-02-17 03:19] #494 closed

[2016-02-17 03:26] naxingyu commented on #378
The beginning of swbd1_data_prep.sh actually do what
swbd1_data_download.sh does. It's a duplicate.

在 2016/2/17 6:31, Vijayaditya Peddinti 写道:

[2016-02-17 03:27] danpovey commented on #378
Can you please figure out the best way to fix this, and submit a PR?

On Tue, Feb 16, 2016 at 10:26 PM, Xingyu Na <notifications@github.com>
wrote:

[2016-02-17 03:46] naxingyu commented on #378
OK. The first 60 lines of swbd1_data_prep.sh is exactly the same as
swbd1_data_download.sh.
IMO, simply removing swbd1_data_download.sh would fix this. (for both
swbd and fisher_swbd recipes)

在 2016/2/17 11:27, Daniel Povey 写道:

[2016-02-17 04:04] naxingyu commented on #378
Sorry, I was wrong. The point of swbd1_data_download is to provide
transcriptions for preparing dict and getting acronyms mapping before
swbd1_data_prep could use it. Thus the best way is to delete the
download part in swbd1_data_prep.

在 2016/2/17 11:27, Daniel Povey 写道:

[2016-02-17 04:06] danpovey commented on #378
OK.  It would be good if you can create a pull request for this.

On Tue, Feb 16, 2016 at 11:04 PM, Xingyu Na <notifications@github.com>
wrote:

[2016-02-17 04:06] danpovey commented on #378
and be sure if we have done things like edit the URLs, that the most recent
version is the one that gets run.

On Tue, Feb 16, 2016 at 11:06 PM, Daniel Povey <dpovey@gmail.com> wrote:

[2016-02-17 04:07] naxingyu commented on #378
yes i'll make sure it works.

在 2016/2/17 12:06, Daniel Povey 写道:

[2016-02-17 20:12] #506 closed

[2016-02-22 09:54] akita1987 opened #515 "How to solve the message "Please source the tools/env.sh in your path.sh to enable it"?"
After I install IRSTLM, it shows "Please source the tools/env.sh in your path.sh to enable it", but there is no env.sh file under directory /kaldi/tools/. How to solve the problem? Or is it just ok if I ignore this message? Thank you !

[2016-02-22 19:44] jtrmal commented on #515
How did you install the IRSTLM? Did it say something before this message?
Did you call it in the tools directory, like this:
$ extras/install_irstlm.sh?

y.

On Mon, Feb 22, 2016 at 4:54 AM, akita1987 <notifications@github.com> wrote:

[2016-02-22 23:42] vijayaditya opened #520 "Waiting for subprocesses in steps/nnet3/train_rnn.py"
In the current [train_rnn.py](https://github.com/kaldi-asr/kaldi/blob/master/egs/wsj/s5/steps/nnet3/train_rnn.py) script I do not wait for the background processes (compute_{train,valid}_prob.sh and progress.sh) launched during training before exiting the job.

A simple way to do this is to keep track of all the subprocess handles launched during training and wait for these to complete before the

[2016-02-29 16:02] qwertyuiop7370 opened #536 "nbest-to-lattice and linear-to-nbest incompatibility."
Hello
I have got the next problem:
nbest-to-lattice wants in 'nbest' file:
_utt_id_a-1, utt_id_a-2_
but linear-to-nbest create in 'nbest' file:
_utt_id_a_

and linear-to-nbest can not read file created by nbest-to-lattice.

[2016-02-29 20:16] danpovey commented on #536
this is not the place to ask this, see kaldi-asr.org/forums.html
an 'nbest' is actually a lattice, just with one path-- so there is no need for linear-to-nbest, since there is just one path.

[2016-02-29 20:16] #536 closed

[2016-03-01 19:37] vijayaditya opened #538 "Job monitor in nnet3 python training scripts"
I would like to add support for job monitoring in the python scripts. This monitoring functionality would do the following :
- Relaunch training jobs which fail
- Monitor the average duration of jobs and send alerts to the user if there is a lot of deviation from the expected duration.This would normally be necessary when the jobs go into Eqw status or when the jobs run at 2 or 3 times the duratio

[2016-03-01 19:44] danpovey commented on #538
I'm a little bit cautious about making the python scripts too complicated.
But I'd be interested to see what you propose in more detail.
Dan

On Tue, Mar 1, 2016 at 2:37 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-03-01 19:50] vijayaditya commented on #538
I would create a seperate steps/nnet3/monitor.py module. This would have necessary methods to compute duration stats and monitor processes.
I would modify the TrainNewModels functions in the train scripts to call the Monitor method in monitor module with the process_handles of the jobs launched (around [here](https://github.com/kaldi-asr/kaldi/blob/master/egs/wsj/s5/steps/nnet3/train_rnn.py#L379))

[2016-03-01 19:54] danpovey commented on #538
sounds reasonable.
if you print warnings they should go to the stderr or stdout as well as to
email (if set up).
Dan

On Tue, Mar 1, 2016 at 2:50 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-03-01 19:55] vijayaditya commented on #538
OK.

--Vijay

On Tue, Mar 1, 2016 at 2:54 PM, Daniel Povey <notifications@github.com>
wrote:

[2016-03-01 20:28] jtrmal commented on #538
I added the tag.

[2016-03-03 08:16] vijayaditya commented on #520
I was looking into various ways to implement this functionality. I think the best thing to do is the following.

1. Create a <code>BackgroundProcessHandler</code> class which has object variable <code>process_queue</code>.
2. The  <code>BackgroundProcessHandler</code> will be instantiated by the top level training script and will be passed to <code>nnet3_train_lib.RunKaldiCommand</code> which will

[2016-03-03 19:27] danpovey commented on #520
Seems reasonable.

On Thu, Mar 3, 2016 at 3:16 AM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-03-04 03:02] StevenLOL opened #547 "Will kaldi support plda transform?"
I saw the ivector-plda-scoring.cc mix the plda transform and scoring together, is it a good idea to have a standalone plda transformer ?

So much like the ivector-transform.cc

And can be called via

ivector-plda-transform plda_transform.mat ark:ivectors.ark ark:transformed_ivectors.ark

[2016-03-04 03:07] danpovey commented on #547
see my response on the list.
There is a function
double TransformIvector(const PldaConfig &config,
                          const VectorBase<double> &ivector,
                          VectorBase<double> *transformed_ivector) const;

but PLDA is not like LDA in that it's just a question of transforming to a
certain space and then doing a dot product or whatever.  There is also a
within-class cova

[2016-03-04 03:30] StevenLOL commented on #547
Oh, thanks.

[2016-03-04 03:30] #547 closed

[2016-03-04 21:27] vijayaditya opened #552 "A new steps/data/reverberate_data_dir.py script"
The current RIR preparation scripts in ASpIRE recipe are too convoluted. This is leading to multiple hard to trace bugs. I have to prepare a simple RIR preparation script.

Prepare an upload for openslr.org including all the RIRs that can be freely distributed. Separate uploads for RIRs which can be distributed for research and commercial use is preferable.

[2016-03-04 21:31] vijayaditya opened #553 "Make ASpIRE's combine_ali_dirs.sh script more general"
The [combine_ali_dirs.sh](https://github.com/kaldi-asr/kaldi/blob/master/egs/aspire/s5/local/multi_condition/combine_ali_dirs.sh) script in ASpIRE is failing when used for other recipes. This scripts makes some simple assumptions to have an efficient implementation, but even these seem to be violated in other recipes. @xiaohui-zhang is writing a more generic version which though expensive in terms

[2016-03-04 21:36] xiaohui-zhang commented on #553
I'm done with that:-) Do you think I should commit to babel-kaldi only?

On Fri, Mar 4, 2016 at 4:31 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

--
Xiao-hui

[2016-03-04 21:36] danpovey commented on #553
An even simpler solution would be to, after speed-perturbing the data, just
align everything again, including the un-perturbed portion.  This would
also be compatible with the new, simpler interface to the data-pertubing
that I have in utils/data/perturb_data_dir_speed_3way.sh   (this is
currently only in the chain branch).

Dan

On Fri, Mar 4, 2016 at 4:31 PM, Vijayaditya Peddinti <
notifications

[2016-03-04 22:07] vijayaditya commented on #553
This script is required for cases where realignment is not an option. e.g. reverberation+noise addition.
In many recipes the best thing is to use clean alignments even for noisy audio. So we create copies of the clean alignments for noisy data by modifying their utterance ids and combine these copies.

[2016-03-04 22:08] vijayaditya commented on #553
@xiaohui-zhang Could you test it a bit more and submit it as a script in utils/.

[2016-03-04 22:11] xiaohui-zhang commented on #553
sure.

On Mar 4, 2016, at 5:08 PM, Vijayaditya Peddinti <notifications@github.com> wrote:

[2016-03-05 06:14] dujiajiyi-xue opened #559 "how to read the source code of kaldi"
I want to to something for accleration timit with GPU,but now I found that I can not how to read the source code,I even do not know where I should read it.
    I  would appreciate it if you could give me some suggestions.

[2016-03-05 06:25] danpovey commented on #559
it's in src/ once you download Kaldi.

[2016-03-05 06:25] #559 closed

[2016-03-05 06:28] dujiajiyi-xue commented on #559
i know it's in it,but how could i read it.are there some suggesstions that i could complie it on vs2010

[2016-03-05 06:34] danpovey commented on #559
This is not the appropriate place to ask (see kaldi-asr.org/forums.html) but I strongly suggest that you do not attempt to use Kaldi, you obviously don't have the right background.

[2016-03-06 18:38] vimalmanohar commented on #553
This script seems unnecessarily complicated for what it seems to be doing. Isn't it easier to just write the clean alignment as ark,scp and then add the necessary utt-prefix to scp final and do the required splitting with split_scp.pl or filter_scp.pl and write compressed alignments if needed? I do something like that in my VAD setup.

[2016-03-06 18:40] vijayaditya commented on #553
It needs to do that for 6000hrs of data. This means that it can't open all
the alignments at the same time.

On Sun, Mar 6, 2016 at 1:39 PM, Vimal Manohar <notifications@github.com>
wrote:

[2016-03-06 18:43] vimalmanohar commented on #552
I use the RIR preparation + additive noise for VAD. It would be good to have a common approach for both purposes.

[2016-03-06 19:14] danpovey commented on #553
I think Vimal my be right here.
How about this: for each input ali-dir, copy all of the gzipped archives
temporarily to ark,scp.  Then merge-sort (sort -m) the scp files from the
individual input-dirs to a single scp file, and use utils/filter_scps.pl to
filter the scp file to appropriate chunks.  Then use copy-int-vector to
copy to individual gzipped archives.  Then remove the temporaries.

Dan

[2016-03-08 21:10] #442 closed

[2016-03-08 21:10] danpovey opened #565 "arpa2fst rewrite"
rewrite arpa2fst to use @kkm000's new code.

[2016-03-09 05:24] naxingyu commented on #565
Then I won't commit the --bos-sym and --eos-sym options...

在 2016/3/9 5:10, Daniel Povey 写道:

[2016-03-09 05:27] danpovey commented on #565
it's OK if you do, it won't hurt- I was just saying if you have more time
you could attempt the replacement.

On Wed, Mar 9, 2016 at 12:24 AM, Xingyu Na <notifications@github.com> wrote:

[2016-03-09 17:05] vijayaditya opened #569 "nnet3_train_lib.ParseModelConfigVars failing due to changes made in raw_nnet commit"
@vimalmanohar Could you ensure that your changes do not break the current recipes. You could modify the ParseModelConfigVars.

[2016-03-09 17:37] yingzha opened #571 "Error in `ngram': munmap_chunk()"
Hi all,

When I'm trying to convert n-gram model to G.fst for swbd, I'm okay with 1-gram/2-gram. However, for 3-gram/4-gram, I had such problem
*** Error in `ngram': munmap_chunk(): invalid pointer: 0x00007f78a1911e10 ***
Aborted (core dumped)
I checked through the internet, there is no much solution for this issue. Could you tell me how to deal this this problem?

[2016-03-09 17:49] vimalmanohar commented on #569
I had asked about this function. This happened because the python and bash scripts parse the same file in different ways. I suggest we should modify the python function to ensure the config file is parsed the same as the bash sourcing. i.e. ignore extra variables that are defined in the config file.

[2016-03-09 17:53] vimalmanohar commented on #569
https://github.com/vimalmanohar/kaldi/blob/raw_nnet_python/egs/wsj/s5/steps/nnet3/nnet3_train_lib.py#L249
This is my proposed change. We can change the train_tdnn.py script to work with this. It will be compatible with previously generated configs.

[2016-03-09 17:57] vijayaditya commented on #569
I remember asking you to write a new function to parse these config files. Ensure backward compatibility with whatever changes you propose.

[2016-03-09 18:47] jtrmal commented on #571
This is not the right place to ask this kind of questions -- please see
http://kaldi-asr.org/forums.html
Also, please be careful and provide as many details as possible, for example

if it's in ngram, then it relates probably more to the srilm toolkit.
Which version you have? Did you install it using the provided script?
It can be a bug in srillm or in gcc/glibc. What versions you have?
Are you us

[2016-03-09 18:47] #571 closed

[2016-03-09 18:52] danpovey commented on #571
BTW, for memory errors like this it's generally helpful to run it in
valgrind, e.g.
valgrind (program) (args).
it will show more detailed errors.
If a Kaldi program is crashing, like arpa2fst, show us the full command
line and the valgrind errors.  And make sure your Kaldi is up to date (do
`git pull` and recompile in src/).
Dan

On Wed, Mar 9, 2016 at 1:47 PM, jtrmal <notifications@github.com> wr

[2016-03-09 18:53] yingzha commented on #571
Thanks a lot!

[2016-03-10 18:16] vijayaditya opened #577 "New bob learning rate schedule implementation in python training scripts."
I am writing this down in order to track the progress of this effort over the next few months. This is a low-priority so the progress would be slow. This has some overlap with #538 .

We would like to implement the new bob learning rate schedule in the training scripts. Major change required would be ensuring that the compute_{train,valid}_prob.sh are synchronized with the training jobs. We would

[2016-03-10 19:14] danpovey commented on #577
It might be necessary to wait for even older objfn values, like iter-2 (or
make it configurable), as with modern GPUs and depending on the amount of
validation data, it could take more than twice as long to compute the
validation accuracy, as do a training iteration.
I think it might make sense to, once you decide to reduce the learning
rate, wait another iteration and check that the decision is s

[2016-03-10 19:19] vijayaditya commented on #553
@danpovey sorry I missed this comment. @xiaohui-zhang  Do you have time to implement this ? If not I will take this up in a month.

[2016-03-10 19:28] danpovey commented on #577
No, just use the new learning rate for the next iteration.

On Thu, Mar 10, 2016 at 2:23 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-03-10 19:29] danpovey commented on #577
BTW, I think left and right context are confusing terms.  Maybe talk about
'num-iterations-delay' and 'num-iterations-confirm' or something like that.

On Thu, Mar 10, 2016 at 2:28 PM, Daniel Povey <dpovey@gmail.com> wrote:

[2016-03-10 19:35] xiaohui-zhang commented on #553
Don't worry. It's on me!

On Mar 10, 2016, at 2:19 PM, Vijayaditya Peddinti <notifications@github.com> wrote:

[2016-03-11 02:13] vijayaditya opened #578 "rename --l2-regularize option in chain binaries and scripts"
It has happened a few times that people assumed <code>--l2-regularize</code> was regularization on neural network weights. This is understandable as this regularization is typically used on weights. Renaming this option to <code>--l2-regularize-outputs</code> could remove this confusion.

[2016-03-11 02:17] danpovey commented on #578
For now I'd rather just update comments and usage strings etc.-- it's one
more thing that could go wrong, and it's not clear to me that this
confusion is consequential at all, because there's no implication for how
you tune it.
Dan

On Thu, Mar 10, 2016 at 9:13 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-03-11 07:25] vimalmanohar commented on #552
I use noises only from the musan corpus and the ones in the 9 databases. After the preparation of the databases, I only need the following things:
1. A list of <impulses, noises> pairs -- the same as that currently used in the aspire recipe
2. A list of all background (stationary) noises -- I am assuming the noises from all the 9 databases are background. MUSAN has a README file which specifies wh

[2016-03-11 20:05] kkm000 commented on #565
Looks like I am working on the same thing. @naxingyu, I'll integrate your work--I have not started on the utility itself yet. Let's coordinate the efforts in any case. See #579.

[2016-03-11 20:22] danpovey commented on #565
Kirill, he just added a couple lines to arpa2fst.cc to pass in the options.
Dan

On Fri, Mar 11, 2016 at 3:05 PM, Kirill Katsnelson <notifications@github.com

[2016-03-11 20:29] danpovey commented on #578
Actually, it's OK with me to do this, as long as you update all the scripts that might be using the option.

[2016-03-11 21:12] kkm000 commented on #565
Sure, I seen it, a change very much inline with what I am doing, and thank you @naxingyu for it. I just wanted to avoid duplicating a possible bigger piece of work.

[2016-03-11 21:14] vijayaditya commented on #578
OK, I will do this after Interspeech. I don't want to mess with people's experiments with unnecessary merge conflicts now.

[2016-03-12 03:47] naxingyu commented on #565
I just made a minor change on the old binary. But I'm happy to
coordinate on anything if you need.

在 2016/3/12 5:12, Kirill Katsnelson 写道:

[2016-03-13 21:33] #515 closed

[2016-03-13 21:33] #507 closed

[2016-03-14 08:26] colingogo opened #586 "how to fuse the outputs of cnn and dnn as input feature"
I'm new in Kaldi, I want to construct a network with both CNN and DNN as feature extractors, then the outputs need to be concatenated, but I can't find any script or bin file to do this. Is there any existed scripts for help or If I have to modified the source code, may someone give me a  clue how to do it, thank you very much.

[2016-03-14 08:32] vijayaditya commented on #586
Please specify the version of nnet you are using.

--Vijay

On Mon, Mar 14, 2016 at 4:26 AM, colingogo <notifications@github.com> wrote:

[2016-03-14 09:00] colingogo commented on #586
I'm working with the nnetbin file, I need to concatenate the output from one convolution layer and the output from a 2-hidden-layer fully-connected layer, may I have your suggestions? @vijayaditya

[2016-03-14 09:03] vijayaditya commented on #586
I am not very familiar with nnet1 code. I think Karel/Harish might be of
help.

--Vijay

On Mon, Mar 14, 2016 at 5:00 AM, colingogo <notifications@github.com> wrote:

[2016-03-14 09:10] colingogo commented on #586
Does the nnet2 or nnet3 have similar functions? Would you please guide me, I will check this code. Thank you very much. @vijayaditya

[2016-03-14 09:26] vijayaditya commented on #586
@tomkocse recently committed a CNN recipe which combines CNN outputs with ivectors processed by a fully connected layer. You can take a look at [this recipe](https://github.com/kaldi-asr/kaldi/blob/5e15b8cb32a839a0ec0422d33ca47f627f7a8d2a/egs/swbd/s5c/local/nnet3/run_tdnn.sh).

I am closing this issue as things like this should be discussed in the mailing list. You can make your further enquiries

[2016-03-14 09:26] #586 closed

[2016-03-14 11:20] BalajiChinna opened #588 "How to Run the sample program .?"
Hi all, Thanks.

   I am builded Kaldi in Ubuntu machine. I searched a lot and there are lot of library and binaries are builded in the directory. I ran the sample program from "egs/voxforge/online_demo" using run.sh file. This script file has pointed two mode "Live" and "wav".Run.sh file is pointing the method "online-wav-gmm-decode-faster" from "src/onlinebin" for "wav" mode. Onlinebin folder ha

[2016-03-14 12:53] kronos-cm commented on #588
Hi,

First of all, manners like this should be discussed in the mailing list. You can make your further enquiries about this topic in the kaldi-help@googlegroups.com mailing list.

Kaldi is a toolkit so the bunch of binaries you send on the bin folders in src are the individual tools kaldi uses to build speech recognisers. I would suggest you to go through the tutorial: http://kaldi-asr.org/doc/tu

[2016-03-14 13:00] jtrmal commented on #588
As Angel mentioned, this is not the place to discuss these issues.

[2016-03-14 13:00] #588 closed

[2016-03-17 03:00] danpovey commented on #476
@xiaohui-zhang, I hope you keep track of a TODO list somewhere and that this is on it!

[2016-03-17 03:34] xiaohui-zhang commented on #476
sure! thanks for reminding..

On Wed, Mar 16, 2016 at 11:00 PM, Daniel Povey <notifications@github.com>
wrote:

--
Xiao-hui

[2016-03-17 10:05] ceefour opened #595 "error C2011: 'timespec': 'struct' type redefinition, in Visual Studio 2015"
Environment: Visual Studio Community 2015 Update 1
- on Windows 10 Pro 64-bit, Intel MKL.

[code]

e.g.

[code]

Workaround:
Adding `HAVE_STRUCT_TIMESPEC` to `kaldiwin.props` made the projects build.

Original thread: https://groups.google.com/d/msg/kaldi-help/GSOr3AWnuWM/Ri4WcElkBgAJ

[2016-03-17 10:08] ceefour opened #596 "Error building kaldi-nnet3 in Visual Studio 2015: error C2664: 'std::pair<kaldi::int32,kaldi::int32> std::make_pair<T,T>(_Ty1 &&,_Ty2 &&)': cannot convert argument 1 from 'kaldi::int32' to 'kaldi::int32 &&'"
Environment: Visual Studio Community 2015 Update 1 on Windows 10 Pro 64-bit, Intel MKL.

[code]

Potentially useful resources:

* [Breaking Changes in Visual C++ 2015](https://msdn.microsoft.com/en-us/library/bb531344.aspx)
* [c++ - Breaking change in C++11 with make_pair(_Ty1&& _Val1, const _Ty2& _Val2) - Stack Overflow](http://stackoverflow.com/questions/14623958/breaking-change-in-c11-with-make

[2016-03-17 15:25] jtrmal commented on #596
I tried to compile it and it would be quite laborous to fix the compilation issues.
It seems to me that the type-lookup changed again so anytime there is combination of both namespaces fst and kaldi, the lookup won't work (it will produce errors such as "uint32: ambiguous symbol")
I will ask @danpovey if he will see any solution but unless there is something less labor-intensive, I'm not planning

[2016-03-17 15:29] ceefour commented on #596
Can you merge #598? At least there'll be one less error to fix :D

[2016-03-17 18:52] danpovey commented on #596
@xiaohui-zhang, can you please grep everywhere in the Kaldi source for
make_pair and convert it to use the constructor?
This can't be done by a script, as you need to know the type.
The error in discriminative-training.cc was an 'and' that should have been
'&&'. I just fixed it. @vimalmanohar, take note!

There are some compilation problems that can be fixed by statements like
typedef kaldi::int32

[2016-03-17 18:59] jtrmal commented on #596
There were many more issues with what I assume was Vimal's code (for
example mistakenly used 'and' instead of '&&' -- that compiles under gcc as
the C++ standard defines 'trigraphs', however, trigraphs are removed in
C++17. And because VC++ is inconsistent and implements whatever it feels
like (sometimes their strategy feels like a random walk), they removed
trigraphs even now, so the code does no

[2016-03-17 19:05] xiaohui-zhang commented on #596
sure. will do soon.

On Thu, Mar 17, 2016 at 2:52 PM, Daniel Povey <notifications@github.com>
wrote:

--
Xiao-hui

[2016-03-17 19:08] jtrmal commented on #596
Guys, let's not fragment the effort. I have most of the other fixes ready.
Doing another round of merge is not a necessary hassle.
y.

On Thu, Mar 17, 2016 at 3:05 PM, Xiaohui Zhang <notifications@github.com>
wrote:

[2016-03-17 19:18] danpovey commented on #596
I know in the past we have had namespace lookup issues in VS that we were
not able to fix, because when templates are instantiated it makes names
available from the namespace in which the template as instantiated in.
This is totally against the C++ standard and there's really no way to
reconcile it.
Dan

On Thu, Mar 17, 2016 at 3:09 PM, jtrmal <notifications@github.com> wrote:

[2016-03-17 19:35] kkm000 commented on #596
As is any other compiler. Sigh...

[2016-03-17 19:46] jtrmal commented on #596
Note: this would be best to read in github www, not the e-mail:
I have a code (lattice-compose.cc) that starts with
[code]
then later in the code there is a statement
[code]
which generates errors like this
[code]

so far, I didn't find any other solution than avoid ``import kaldi`` and then prepend ``kaldi::`` (or use ``using identifier`` for each member of kaldi namespace used in the code)
y.

[2016-03-17 19:46] jtrmal commented on #596
@kkm000 , any ideas?

[2016-03-17 19:52] kkm000 commented on #595
I had to add `HAVE_STRUCT_TIMESPEC` to compile with VS2015 or Intel XE 2016 as well. I think this is a VS2015 change not really related to MKL. Many packages have a `config.h` but we do not IIRC and set the `HAVE_*` in kaldi.mk, and there is no similar place for VS. Do not know what would be the least ugly fix be (short of `#if !HAVE_STRUCT_TIMESPEC || (defined(_MSC_VER) && _MSC_VER < 1900)` but t

[2016-03-17 19:52] jtrmal commented on #596
I can kind of understand the problem -- calling ``using kaldi`` imports the kaldi types into the global namespace, where are already types of the same name defined by openfst (which defines the types globally instead of defining it in fst::), but as the typedef trick is not helping, I dont know how to help the compiler to resolve this. This affects even implicit template parameters and the errors

[2016-03-17 20:04] kkm000 commented on #596
That's almost certainly the same VC template expansion scoping bug Dan has mentioned.

I am not set up to compile at this very moment (need to pull latest code etc), here's a workaround idea I would try the first: `typedef fst::StdToLatticeMapper<kaldi::BaseFloat> something;` before importing the namespace.

[2016-03-17 20:06] jtrmal commented on #596
So you aim at enforcing the type deduction before importing the whole
namespace?
Anyway, thanks, I'll try something along these lines;
y.

On Thu, Mar 17, 2016 at 4:04 PM, Kirill Katsnelson <notifications@github.com

[2016-03-17 20:08] kkm000 commented on #596
Yes, that's the idea.

[2016-03-20 04:50] kkm000 opened #603 "The queue in lat/word-align-lattice.cc is actually a stack"
I cannot claim any understanding of code in lat/word-align-lattice.cc, but something stands out as strange: the vector `queue_`, a container of computations in progress, is used as a LIFO, a stack, with `push_back()` and `pop_back()`. It seems that it is either used incorrectly or misnamed. From the logic of the code how I understand it, I am afraid the former might rather be true--but then I cann

[2016-03-20 05:04] danpovey commented on #603
It's one of those situations where you can use any queue discipline (LIFO,
FIFO, etc.) and it would still be correct, but a it happens we choose LIFO.

Dan

On Sun, Mar 20, 2016 at 12:50 AM, Kirill Katsnelson <
notifications@github.com> wrote:

[2016-03-20 05:21] kkm000 commented on #603
Including even an unordered bag? I'm just trying to grok the code.

[2016-03-20 06:17] danpovey commented on #603
I got the concept from OpenFst code, but I think it stems from a
computer-science notion of queue.
E.g. see here
https://en.wikipedia.org/wiki/Queueing_theory
the section on 'Service disciplines'.
Dan

On Sun, Mar 20, 2016 at 1:21 AM, Kirill Katsnelson <notifications@github.com

[2016-03-20 21:05] kkm000 commented on #603
I think I got it, thank you Dan. This queue can actually be processed in any order, and the strategy only affects the order of graph traversal, so LIFO makes it depth-first, and FIFO breadth-first. Can be a random bogobag as well.

So I am closing this ticket. No issue here.

[2016-03-20 21:05] #603 closed

[2016-03-21 22:02] vijayaditya opened #605 "valid_uttlist creation in chain/get_egs.sh does not check for length of utterances"
The valid_uttlist when being created does not check for the length of the utterances. However the functions in nnet3-chain-get-egs binary return false if feature length is not less than frames_per_eg. This is a problem when several short utterances are sampled. The error raised is not informative as the code does not print any warning message when it reaches this branch.

<pre><code>
99        if

[2016-03-21 22:04] danpovey commented on #605
sounds reasonable.

[2016-03-22 00:28] vijayaditya commented on #605
Addresssed in #607

[2016-03-22 16:31] vijayaditya commented on #605
Solution in #607 does not work for data directories which are generated by steps/cleanup/combine_short_segments.sh, as it does not create segments file. As combine_short_segments.sh is usually done to eliminate the problem of short segments, this check is redundant.

I think feat-to-len can be used in case get_uttdur.sh fails.

[2016-03-22 17:44] vijayaditya commented on #605
I think the best way to tackle this problem is to ensure that the steps/cleanup/combine_short_segments.sh creates an utt2dur file. @tomkocse could you please take care of this. When creating the new utterances, you would have to create a corresponding utt2dur file.

[2016-03-22 18:03] danpovey commented on #605
Vijay- it does work; get_utt2dur.sh works in all cases, it backs off to the
wav files or the features if there is no segments file.
Dan

On Tue, Mar 22, 2016 at 1:44 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-03-22 18:12] vijayaditya commented on #605
Sorry I should have mentioned that steps/cleanup/combine_short_segments.sh does not even have wav.scp. Even if it does the durations would be computated at recording level and not utterance level, when there is a fall back.

[2016-03-22 18:18] danpovey commented on #605
OK, you're right; yes, create_short_segments.sh should create an utt2dur
file

On Tue, Mar 22, 2016 at 2:12 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-03-22 18:45] vijayaditya commented on #605
We have to modify the utils/data/get_utt2dur.sh to exit if utt2dur already exists, this will ensure that the outputs of combine*.sh script can be used with existing chain/get_egs.sh script.

[2016-03-22 18:56] danpovey commented on #605
Agreed- that's what the comment in the script says it does, but it doesn't
do that.

On Tue, Mar 22, 2016 at 2:45 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-03-22 21:47] vijayaditya commented on #605
see #609 .

[2016-03-22 21:47] #605 closed

[2016-03-23 02:54] jtrmal commented on #596
resolved by #600

[2016-03-23 02:54] #596 closed

[2016-03-23 02:56] jtrmal commented on #595
I forgot about this. It compiled well for me anyways -- but I could had already done the define and forgot about it. I will leave it opened until I verify or fix the issue.

[2016-03-23 04:11] #422 closed

[2016-03-23 04:11] #565 closed

[2016-03-24 20:20] vijayaditya opened #615 "Issues with combine_short_segments.sh output"
The combine_short_segments.sh script does not process the utt2uniq file.

Using fix_data_dir.sh on the top of combine_data_segments.sh eliminates all the segments.

[2016-03-24 20:29] vijayaditya commented on #615
There is another issue with the current algorithm used for combining segments. There is an initial search in forward direction and then a search in backward direction, around the segment. As the search is not global I am ending up with utterances which are 15 secs long though I just need 1.5 sec long utterances.

I am rewriting this method to do a simultaneous search in both directions and come up

[2016-03-24 20:32] danpovey commented on #615
Hm.  It seems to me like it's not that hard a problem- we don't need a
solution that's optimum in any way.  But fix it.
Dan

On Thu, Mar 24, 2016 at 4:29 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-03-24 20:45] vimalmanohar commented on #615
After the combining of short segments, utt2uniq may not be defined as different utterances might be combined for different speed perturbations. So utt2uniq will just be the utt-id on both columns?

[2016-03-24 20:47] vijayaditya commented on #615
But if we do that the cross-validation accuracies are going to be really
high, which is the current case.

On Thu, Mar 24, 2016 at 4:45 PM, Vimal Manohar <notifications@github.com>
wrote:

[2016-03-24 20:49] danpovey commented on #615
You could just have utt2uniq map to the utt2uniq of the first of the
combined  utterances - won't be exact but better than nothing.
Another approach would be to combine short segments prior to speed
perturbing (might have to use a slightly smaller cutoff in that case).
Dan

On Thu, Mar 24, 2016 at 4:48 PM, Vijayaditya Peddinti <
notifications@github.com> wrote:

[2016-03-25 01:34] kkm000 opened #617 "Small fluctuation in lattice acoustic weights between multiple decodes of same wave bits"
When I run a wave file through nnet2 online decoder multiple times, I am getting subtly different final acoustic weights, e. .g  on 3 decodes it was -1615.492, -1616.649, -1618.301. The sequence of weights is reproduced every time the program restarts, so it looks like some state is carried over between decodes. Am I doing something wrong, or is this expected, or indicative of a problem somewhere?

[2016-03-25 03:06] danpovey commented on #617
It's expected-- there is dithering prior to the FFT to avoid zero fourier
components.
Dan

On Thu, Mar 24, 2016 at 9:34 PM, Kirill Katsnelson <notifications@github.com

[2016-03-25 04:33] vijayaditya commented on #615
Addressed in #618

We cannot do speed perturbation after combine_short_segments.sh as it does not combine the actual wave segments it just combines the feats. So there would be no wave.scp or segments file in the output directory.

I addressed the problem as follows:
<pre><code>
            combined_uniqs = []
            for utt in combined_utt_list:
                combined_uniqs.append(utt2uniq

[2016-03-25 04:33] #615 closed

[2016-03-25 05:25] kkm000 commented on #617
I see. Do you think there is an easy way to check if this is *the only* source of randomness?

[2016-03-25 05:27] danpovey commented on #617
There is a dither value in the MFCC config that you could set to 0 (set
--dither 0 --energy-floor 1); or you could call srand(0) before processing
each utterance.

On Fri, Mar 25, 2016 at 1:25 AM, Kirill Katsnelson <notifications@github.com

[2016-03-25 05:29] kkm000 commented on #617
Ok, will do tomorrow to make sure this is the only affecting parameter, thanks!

[2016-03-25 17:40] danpovey opened #621 "analyze-counts"
Someone needs to do a thorough style check on analyze-counts.cc, there are problems on almost every line.
Some issues that you might not notice:
  - it does not check for negative inputs on the alignments, which if it happened would cause memory corruption.
  - there is a place where a vector is resized, where kCopyData would avoid a few lines of code.

[2016-03-25 17:40] danpovey commented on #621
... and the comments need to be in a more normal style and in proper sentences.

[2016-03-25 19:00] danpovey commented on #621
@jtrmal, newbies would be hard-pressed to do this as they don't know the style.
@tomkocse, do you have time?

[2016-03-26 02:06] tomkocse commented on #621
@danpovey , i would love to do this, but i will be on a trip from 28/3 to 1/4 . Is this urgent ?

[2016-03-26 02:21] danpovey commented on #621
Not urgent at all, it can wait.

On Fri, Mar 25, 2016 at 10:06 PM, tomkocse <notifications@github.com> wrote:

[2016-03-29 03:00] liumengzhu opened #628 "feature wrong,please help"
extract-segments scp,p:data/train/wav.scp exp/make_fbank/train/segments.1 ark:-
sh: /data/home/neu_3/LDC2005S15/audio/train/A2_0.wav: cannot execute binary file: Exec format error
copy-feats --compress=true ark:- ark,scp:/data/home/neu_3/eesen-master/asr_egs/hkust/v1/fbank/raw_fbank_train.1.ark,/data/home/neu_3/eesen-master/asr_egs/hkust/v1/fbank/raw_fbank_train.1.scp
ERROR (extract-segments:Read4

[2016-03-29 03:05] danpovey commented on #628
Looks like there is an error in your file data/train/wav.scp: it has the
pipe symbol at the end of the line and it shouldn't be there.
Dan

On Mon, Mar 28, 2016 at 11:00 PM, liumengzhu <notifications@github.com>
wrote:

[2016-03-29 11:05] #628 closed

[2016-03-30 22:54] danpovey opened #632 "librispeech SPOKEN_NOISE vs UNK"
In Librispeech, we have <SPOKEN_NOISE> in oov.txt instead of <UNK>.  It would be better to have <UNK> in oov.txt and no <SPOKEN_NOISE>, because some later script (well, the --remove-oov option to mkgraph) assume that the unk symbol in the LM has the same word-id as this.
Dan

[2016-03-31 09:48] vdp commented on #632
I can't seem to remember how exactly we are using SPOKEN_NOISE and UNK in the recipe.. Is this just a question of replacing SPOKEN_NOISE w/ UNK in lines 55 and 211 of run.sh? Also, I can't see the "remove-oov" option in the current version of utils/mkgraph.sh- perhaps this is related to the changes that were necessary for the chain paper?

[2016-03-31 10:06] vdp commented on #632
Nevermind about the "remove-oov" option- I see it's in the "chain" branch.

[2016-03-31 18:54] danpovey commented on #632
Yes I think it is as simple as that.  They have the same pronunciation so
it won't make any difference in general.  Would you mind doing a PR, to the
chain branch?
Dan

On Thu, Mar 31, 2016 at 6:06 AM, Vassil Panayotov <notifications@github.com>
wrote:

[2016-04-01 22:28] danpovey opened #640 "use-log10 option"
I notice that the use-log10 option still exists in the internals of the ARPA-related code.  This shouldn't be there- it was never really needed as ARPAs are always log-10.

[2016-04-01 23:40] kkm000 commented on #640
Ok, will do.

[2016-04-02 20:54] kkm000 opened #643 "Error parsing somewhat malformed SRILM generated ARPA file"
See #639.

[2016-04-03 12:22] mmmaat commented on #643
A failing ARPA file is [G.arpa.gz](https://github.com/kaldi-asr/kaldi/files/201311/G.arpa.gz). Here its metainfo:
[code]

I hope this will help !

[2016-04-03 17:39] danpovey commented on #643
I notice that there is no blank line between the \2-grams section and the
\end\- that might be the reason.

Dealing with ARPA-format files is very frustrating because there is no
formal definition of what a valid ARPA-format is, so we can never point to
'broken' ARPA inputs and say with certainty that they are buggy.

Dan

On Sun, Apr 3, 2016 at 8:22 AM, Mathieu Bernard <notifications@github.com>

[2016-04-03 18:16] danpovey commented on #643
Mathieu, where exactly did you get this ARPA file?  Is it in one of the
standard Kaldi scripts?  It does seem more-than-usually broken- I'm
wondering whether we should tolerate it.

Dan

On Sun, Apr 3, 2016 at 1:39 PM, Daniel Povey <dpovey@gmail.com> wrote:

[2016-04-03 20:03] mmmaat commented on #643
I'm writing [abkhazia](https://github.com/bootphon/abkhazia/), a WIP python program/library defining a speech corpus format and using kaldi to generate language models, acoustic models, force alignment and decoding on different corpora. For exemple, import the Buckeye corpus and compute a bigram word level lm on it in only 2 steps:
[code]

The ARPA file comes from a test case computing a bigram at

[2016-04-03 20:08] danpovey commented on #643
Yes, we did change arpa2fst.  But what I'm wondering is, what program
generated that ARPA file?  Because it is broken.  There needs to be a blank
line before the \end\.  I'm just not sure that we want to support that
particular kind of brokenness.

Dan

On Sun, Apr 3, 2016 at 4:03 PM, Mathieu Bernard <notifications@github.com>
wrote:

[2016-04-03 20:35] mmmaat commented on #643
The missing blank lines is introduced by build-lm.sh from IRSTLM

[2016-04-03 20:38] mmmaat commented on #643
With [text_se.txt](https://github.com/kaldi-asr/kaldi/files/201548/text_se.txt), `build-lm.sh -i text_se.txt -n 2 -o text_lm.gz -k 1 -s kneser-ney` produces
[text_lm.gz](https://github.com/kaldi-asr/kaldi/files/201549/text_lm.gz)

[2016-04-03 20:42] danpovey commented on #643
OK.  We probably do want to support this type of broken ARPA file without
error, then, because some of the recipes use IRSTLM.

(cc'ing kaldi-developers because some of this might be of interest to
others).

When we started Kaldi, we were using IRSTLM because it has a freer license
than SRILM.  However, the IRSTLM project has died, while SRILM is still
being updated with bug-fixes; and SRILM was a

[2016-04-03 21:37] kkm000 commented on #643
Let me check what's wrong here. Just by eyeballing, the file looks ok. The absense of a blank line should not (in theory) be a problem.

[2016-04-03 21:42] danpovey commented on #643
@mmmaat, can you show us how exactly arpa2fst is failing for this file?  I
notice your original PR had the details of a different failure, for a
different file.

On Sun, Apr 3, 2016 at 5:37 PM, Kirill Katsnelson <notifications@github.com>
wrote:

[2016-04-03 21:42] kkm000 commented on #643
Looks like I do not reproduce the problem using this file!

[code]

What happens when you simply do `arpa2fst G.arpa /dev/null`?

[2016-04-04 03:25] kkm000 opened #648 "MERCHANTABLITY [sic]"
6 source files have MERCHANTABILITY in their license statement, and 1237 MERCHANTABLITY. Despite the overwhelming majority, I'd rather go with the former.